Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

refactor(force_overlay): extract arrow and torque arc renderers to respect 100-line budget (#11290)
  src/shared/python/force_overlay/glyphs.py
  src/shared/python/force_overlay/renderers/meshcat_glyphs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(simscape): [FTO-20] live force/torque overlay and axial load shading in 3D viewer (#11305)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/OPENSIM_INTEGRATION.md
  docs/development/evidence/simscape_viewer_trial_001_peak_force.png
  docs/user_guide/body_part_viz/force_colors.md
  src/config/feature_parity.json
  src/engines/CROSS_ENGINE_PARITY_SPEC.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/core/models.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/ui/tabs/_viewer_3d_forces.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/ui/tabs/_viewer_3d_helpers.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/ui/tabs/viewer_3d_tab.py
  tests/unit/engines/simscape/three_d_gui/test_force_overlay.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(governance): regenerate capability atlas for simscape force viewer
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: none

chore(governance): update divergence inventory for simscape force viewer
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

feat(opensim): add animated force playback and series recorder (#11302)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/user_guide/body_part_viz/force_colors.md
  src/engines/physics_engines/opensim/python/opensim_force_recording.py
  src/shared/python/force_overlay/playback.py
  tests/unit/engines/opensim/test_opensim_force_recording.py
  tests/unit/force_overlay/test_playback.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(governance): update divergence inventory for playback.py
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

ci: run force-overlay parity per engine with zero-executed evidence guard (#11346)
  .github/workflows/cross-engine-equivalence.yml
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  tests/ci/test_ci_infrastructure.py
Due: pytest-unit

ci: isolate tool cache and trigger parity lanes on shared force_overlay changes
  .github/workflows/cross-engine-equivalence.yml
  tests/ci/test_ci_infrastructure.py
Due: pytest-unit

perf(necromatcher): reuse raster grids and record verified shape comparisons
  docs/development/necromatcher-camera-morphology-shutter-review.md
  docs/development/necromatcher-model-geometry-shape-supplement-review.json
  docs/development/necromatcher-model-geometry-shape-supplement.tex
  src/shared/python/body_part_viz/renderers/projective_renderer.py
  tests/unit/workspace/test_necromatcher_shape_grid_reuse.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(force_overlay): add Matplotlib 3D and QPainter 2D glyph renderers (#11292)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  schemas/glyph-set-examples.json
  src/shared/python/force_overlay/renderers/__init__.py
  src/shared/python/force_overlay/renderers/matplotlib_glyphs.py
  src/shared/python/force_overlay/renderers/qpainter_glyphs.py
  src/shared/python/movement_optimizer/gui/vector_overlay.py
  src/shared/python/movement_optimizer/tests/test_vector_overlay.py
  src/shared/python/pendulum_simulator/gui/golfer_pendulum_widget.py
  src/shared/python/pendulum_simulator/gui/pendulum_widget.py
  src/shared/python/plotting/renderers/force_vectors.py
  src/shared/python/plotting/renderers/vectors.py
  tests/unit/force_overlay/test_matplotlib_glyphs.py
  tests/unit/force_overlay/test_qpainter_glyphs.py
  tests/unit/force_overlay/test_renderer_shims.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(governance): update divergence inventory for renderers
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

feat(ui): [FTO-23] render serialized GlyphSet in Three.js and wire WebSocket streaming (#11308)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/evidence/web_force_overlay_evidence.png
  docs/development/feature_parity_matrix.md
  scripts/ci/capture_web_force_overlay_screenshot.py
  src/config/feature_parity.json
  ui/src/components/visualization/ForceLegend.test.tsx
  ui/src/components/visualization/ForceLegend.tsx
  ui/src/components/visualization/ForceOverlay.test.tsx
  ui/src/components/visualization/ForceOverlay.tsx
  ui/src/components/visualization/ForceOverlayPanel.test.tsx
  ui/src/components/visualization/ForceOverlayPanel.tsx
  ui/src/components/visualization/Scene3D.tsx
  ui/src/components/visualization/forceOverlayScene.ts
  ui/src/pages/Simulation.tsx
  ui/src/types/glyphs.ts
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit

feat(force_overlay): add MeshCat glyph renderer for 3D arrows and torque arcs (#11290) (#11337)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  docs/user_guide/body_part_viz/force_colors.md
  src/engines/physics_engines/drake/python/src/drake_meshcat_sink.py
  src/shared/python/force_overlay/glyphs.py
  src/shared/python/force_overlay/renderers/__init__.py
  src/shared/python/force_overlay/renderers/meshcat_glyphs.py
  tests/unit/force_overlay/test_meshcat_glyphs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(force_overlay): respect 100-line function budget in matplotlib and qpainter renderers
  src/shared/python/force_overlay/renderers/matplotlib_glyphs.py
  src/shared/python/force_overlay/renderers/qpainter_glyphs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(simscape): distinguish refined objectives and derived target availability
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/research/simscape_matching_reference/README.md
  docs/research/simscape_matching_reference/root_availability_checkpoint_20261003.json
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
Due: none

fix(renderers): resolve DRY duplication and mypy typing in 2D/3D glyph renderers
  src/shared/python/force_overlay/renderers/matplotlib_glyphs.py
  src/shared/python/force_overlay/renderers/qpainter_glyphs.py
  src/shared/python/pendulum_simulator/gui/base_pendulum_widget.py
  src/shared/python/pendulum_simulator/gui/golfer_pendulum_widget.py
  src/shared/python/pendulum_simulator/gui/pendulum_widget.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(force_overlay): decouple opencv_glyphs from optional heavy stacks
  src/shared/python/force_overlay/renderers/opencv_glyphs.py
  tests/unit/force_overlay/test_opencv_glyphs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(simscape): decouple fixed-foot tracking and compose native foot frames
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/monolith_refactor_register.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/Scapula_Matching_Previews.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_render_grounded.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_render.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_whole_body_ik.m
Due: none

test(force_overlay): add suite markers for suite-marker ratchet compliance
  tests/unit/force_overlay/test_matplotlib_glyphs.py
  tests/unit/force_overlay/test_qpainter_glyphs.py
  tests/unit/force_overlay/test_renderer_shims.py
Due: pytest-unit

feat(force_overlay): add OpenCV video glyph renderer with calibrated projection and legend (#11293) (#11342)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/OPENSIM_INTEGRATION.md
  docs/development/assets/fto_8_opencv_glyph_example.png
  docs/development/monolith_refactor_register.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  docs/user_guide/plot_style/colormap_author_guide.md
  docs/user_guide/plot_style/force_palette.md
  schemas/force-torque-frame-v1.json
  schemas/glyph-set-examples.json
  schemas/glyph-set-v1.json
  scripts/generate_opencv_glyph_example.py
  src/engines/CROSS_ENGINE_PARITY_SPEC.md
  src/engines/simscape/force_channels.py
  src/shared/python/force_overlay/palette.py
  src/shared/python/force_overlay/renderers/__init__.py
  src/shared/python/force_overlay/renderers/opencv_glyphs.py
  src/shared/python/plot_style/__init__.py
  src/shared/python/plot_style/force_palette.py
  tests/unit/force_overlay/test_contracts.py
  tests/unit/force_overlay/test_conversions.py
  tests/unit/force_overlay/test_opencv_glyphs.py
  tests/unit/plot_style/test_force_palette.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(handoff): remove leftover merge conflict markers (#11292)
  docs/development/HANDOFF.md
Due: none

fix(force_overlay): respect architecture budget and update divergence inventory (#11292)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/force_overlay/renderers/__init__.py
  src/shared/python/force_overlay/renderers/matplotlib_glyphs.py
  src/shared/python/force_overlay/renderers/qpainter_glyphs.py
  src/shared/python/pendulum_simulator/gui/base_pendulum_widget.py
  src/shared/python/pendulum_simulator/gui/golfer_pendulum_widget.py
  src/shared/python/pendulum_simulator/gui/pendulum_widget.py
  tests/unit/force_overlay/test_matplotlib_glyphs.py
  tests/unit/force_overlay/test_qpainter_glyphs.py
  tests/unit/force_overlay/test_renderer_shims.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(simscape): record complete thirteen-model preview qualification
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/Scapula_Matching_Previews.md
Due: none

fix(force_overlay): eliminate DRY duplication and fix mypy typing in glyph renderers (#11292)
  src/shared/python/force_overlay/renderers/matplotlib_glyphs.py
  src/shared/python/pendulum_simulator/gui/base_pendulum_widget.py
  src/shared/python/pendulum_simulator/gui/golfer_pendulum_widget.py
  src/shared/python/pendulum_simulator/gui/pendulum_widget.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(mujoco): add force/torque provider and fix stale cfrc paths (#11294) (#11361)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/force_torque_source.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/physics_engine.py
  src/shared/python/body_part_viz/mujoco_axial_loads.py
  src/shared/python/engine_core/mujoco_compat.py
  tests/unit/engines/mujoco/test_force_torque_source.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(pinocchio): [FTO-14] consolidate visualization mixins and add live segment shading (#11299)
  SPEC.md
  docs/development/HANDOFF.md
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/force_overlay_view.py
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/gui.py
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/pinocchio_visualization_mixin.py
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/ui/simulation_mixin.py
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/ui/visualization_mixin.py
  tests/unit/engines/pinocchio/test_pinocchio_force_overlay_view.py
  tests/unit/test_pinocchio_gui.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(simscape): qualify aligned refined comparison and native coordinate counts
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/research/simscape_matching_reference/README.md
  docs/research/simscape_matching_reference/aligned_refined_checkpoint_20261003.json
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
Due: none

fix(force_overlay): extract _rgba_to_qcolor helper and add unit suite markers (#11292)
  src/shared/python/force_overlay/renderers/qpainter_glyphs.py
  tests/unit/force_overlay/test_matplotlib_glyphs.py
  tests/unit/force_overlay/test_qpainter_glyphs.py
  tests/unit/force_overlay/test_renderer_shims.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(pinocchio): conform export evidence, gui, and simulation mixin to function size budget (#11299)
  scripts/ci/export_pinocchio_force_overlay_evidence.py
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/gui.py
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/ui/simulation_mixin.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(pinocchio): satisfy architecture budget and static typing on Pinocchio GUI (#11299)
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/force_overlay_view.py
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/gui.py
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/pinocchio_visualization_mixin.py
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/ui/simulation_mixin.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(force_overlay): add Matplotlib 3D and QPainter 2D glyph renderers (#11292) (#11348)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/force_overlay/renderers/__init__.py
  src/shared/python/force_overlay/renderers/matplotlib_glyphs.py
  src/shared/python/force_overlay/renderers/qpainter_glyphs.py
  src/shared/python/movement_optimizer/gui/vector_overlay.py
  src/shared/python/movement_optimizer/tests/test_vector_overlay.py
  src/shared/python/pendulum_simulator/gui/base_pendulum_widget.py
  src/shared/python/pendulum_simulator/gui/golfer_pendulum_widget.py
  src/shared/python/pendulum_simulator/gui/pendulum_widget.py
  src/shared/python/pendulum_simulator/native_backend.py
  src/shared/python/plotting/renderers/force_vectors.py
  src/shared/python/plotting/renderers/vectors.py
  tests/unit/force_overlay/test_matplotlib_glyphs.py
  tests/unit/force_overlay/test_qpainter_glyphs.py
  tests/unit/force_overlay/test_renderer_shims.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(simscape): document native tangent checks and rejected C2 paths
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/research/simscape_matching_reference/README.md
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
  docs/research/simscape_matching_reference/tangent_c2_checkpoint_20261003.json
Due: none

fix(mujoco): label joint reactions by joint name and give the parity pendulum a rod
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/force_torque_source.py
  tests/integration/cross_engine/test_force_overlay_parity.py
  tests/unit/engines/mujoco/test_force_torque_source.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): resolve committed merge markers and drop unrelated divergence-inventory drift
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

docs: resolve conflict markers cleanly in development log and handoff (#11305)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

docs: resolve conflict markers cleanly in development log and handoff (#11307)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

docs: resolve conflict markers cleanly in development log and handoff (#11308)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

docs: resolve conflict markers cleanly in development log and handoff (#11302)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

docs: resolve conflict markers cleanly in development log and handoff (#11299)
  docs/development/HANDOFF.md
Due: none
