Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

docs(impact): link reviewed provider integration pair
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

feat(capture): guide swing processing and preserve detached views
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/capture_setup_execution_plan.md
  docs/motion_capture/user_guide.md
  scripts/generate_mocap_user_guide.py
  src/config/feature_parity.json
  src/tools/capture_rig/capture_activity.py
  src/tools/capture_rig/capture_evidence.py
  src/tools/capture_rig/gui.py
  src/tools/capture_rig/journey.py
  src/tools/capture_rig/journey_actions.py
  src/tools/capture_rig/layout.py
  src/tools/capture_rig/multiview.py
  src/tools/capture_rig/playback.py
  src/tools/capture_rig/step_rail.py
  src/tools/capture_rig/styling.py
  src/tools/capture_rig/view_windows.py
  src/tools/capture_rig/workflow.py
  tests/tools/capture_rig/test_capture_activity.py
  tests/tools/capture_rig/test_header.py
  tests/tools/capture_rig/test_journey.py
  tests/tools/capture_rig/test_layout.py
  tests/tools/capture_rig/test_step_rail.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(mocap): add reproducible C3D reference model fitting
  .gaai/project/contexts/backlog/GH9914.reference-fitting.yaml
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/reference_fitting_epic.md
  docs/motion_capture/reference_model_fitting.md
  examples/motion_capture/reference_driver.json
  manuals/upstreamdrift/calculation-registry.json
  src/motion_capture/reference/fit_alignment.py
  src/motion_capture/reference/fit_catalog.py
  src/motion_capture/reference/fit_job.py
  src/motion_capture/reference/fit_pipeline.py
  src/motion_capture/reference/fit_preview.py
  src/motion_capture/reference/fit_seed.py
  src/motion_capture/reference/fitting.py
  src/motion_capture/reference/mjcf_models.py
  src/motion_capture/reference/urdf_models.py
  tests/motion_capture/test_reference_fit_alignment.py
  tests/motion_capture/test_reference_fit_job.py
  tests/motion_capture/test_reference_fit_pipeline.py
  tests/motion_capture/test_reference_fit_preview.py
  tests/motion_capture/test_reference_fit_render.py
  tests/motion_capture/test_reference_fit_seed.py
  tests/motion_capture/test_reference_fitting.py
  tests/motion_capture/test_reference_mjcf_models.py
  tests/motion_capture/test_reference_urdf_models.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(mocap): document fitting worker thread settings
  docs/motion_capture/reference_model_fitting.md
Due: none

docs(capture): record journey publication and validation
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

fix(mocap): type native joint direction explicitly
  src/motion_capture/reference/urdf_models.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(impact): verify merged development log and specification rows
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/impact-acoustics/PROVIDER_PIN_RESULTS.json
Due: none

refactor(capture): bound status rendering and respect panel interfaces
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/tools/capture_rig/calibration_dialog.py
  src/tools/capture_rig/gui.py
  src/tools/capture_rig/journey.py
  src/tools/capture_rig/journey_actions.py
  src/tools/capture_rig/journey_status.py
  src/tools/capture_rig/preview.py
  src/tools/capture_rig/provenance_tab.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(mocap): record Tour Average catalog qualification
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/reference_fit_qualification.json
  docs/development/reference_fitting_epic.md
Due: none

refactor(mocap): isolate native topology validation and qualify full driver
  docs/development/reference_fit_qualification.json
  docs/development/reference_fitting_epic.md
  docs/motion_capture/reference_model_fitting.md
  examples/motion_capture/reference_driver.json
  src/motion_capture/reference/mjcf_models.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(seam): record realtime ruling and reconcile theme color derivation
  AGENT_HANDOFF.md
  docs/shared_tools/seam_rulings.v1.json
  src/shared/python/theme/color_derivation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(capture_rig): resolve Law of Demeter violations in calibration and process controls
  src/tools/capture_rig/calibration_dialog.py
  src/tools/capture_rig/gui.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(architecture): regenerate capability atlas for capture journey
  docs/architecture/CAPABILITY_ATLAS.md
  ui/public/capability-atlas/capture-workflow.mmd
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: none

fix(mocap): constrain fitted dimensions to positive geometry
  docs/development/reference_fit_qualification.json
  docs/development/reference_fitting_epic.md
  src/motion_capture/reconstruct/model/fit.py
  src/motion_capture/reference/fit_pipeline.py
  tests/motion_capture/test_reference_fit_lengths.py
  tests/motion_capture/test_reference_fit_pipeline.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(capture): refresh generated workflow and capability maps
  docs/architecture/CAPABILITY_ATLAS.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  ui/public/capability-atlas/capture-workflow.mmd
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: none

feat(clubs): preserve attributed optional specifications and exchange
  AGENT_HANDOFF.md
  SPEC.md
  docs/agents/shared-infrastructure.md
  docs/architecture/CAPABILITY_ATLAS.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/motion_capture/club_catalog.md
  src/config/capability_connections.json
  src/shared/python/club_data/__init__.py
  src/shared/python/club_data/catalog.py
  src/shared/python/club_data/catalog_io.py
  src/shared/python/club_data/catalog_legacy.py
  tests/unit/test_club_catalog.py
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
  ui/public/capability-atlas/system.mmd
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(impact): advance Tools provider pin to repair revision 00d17e7f9
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/impact-acoustics/PROVIDER_PIN_RESULTS.json
Due: none

docs(mocap): record PR state and deduplicate log field guidance
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

fix(docs): preserve primary inventory blocker ordering
  manuals/upstreamdrift/calculation-registry.json
Due: none

fix(impact): qualify repaired provider and shared ownership
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/impact-acoustics/PROVIDER_PIN_RESULTS.json
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  docs/shared_tools/seam_rulings.v1.json
  src/shared/python/theme/color_derivation.py
  tests/shared_contracts/test_impact_shaft_provider.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(clubs): add offline source catalog and deterministic update review
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/motion_capture/club_catalog.md
  scripts/review_club_catalog.py
  src/config/capability_connections.json
  src/shared/python/club_data/catalog_sources.py
  src/shared/python/club_data/public_clubs.json
  tests/unit/test_club_catalog_sources.py
  ui/public/capability-atlas/graph.json
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
