Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

fix(src/api): Address TDD and DRY in src/api
  src/api/aip/dispatcher.py
  src/api/aip/methods.py
  src/api/auth/dependencies.py
  src/api/auth/security.py
  src/api/diagnostics.py
  src/api/local_server.py
  src/api/middleware/security_headers.py
  src/api/middleware/upload_limits.py
  src/api/models/requests.py
  src/api/routes/actuator_controls.py
  src/api/routes/aip.py
  src/api/routes/analysis_tools.py
  src/api/routes/auth.py
  src/api/routes/chat_ws.py
  src/api/routes/dataset.py
  src/api/routes/engines.py
  src/api/routes/force_overlays.py
  src/api/routes/model_explorer.py
  src/api/routes/models.py
  src/api/routes/physics.py
  src/api/routes/putting_green.py
  src/api/routes/simulation.py
  src/api/routes/simulation_ws.py
  src/api/routes/terrain.py
  src/api/services/launcher_service.py
  src/api/services/simulation_service.py
  src/api/utils/error_codes.py
  src/api/utils/tracing.py
  tests/unit/api/test_actuator_controls.py
  tests/unit/api/test_force_overlays.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(src/deployment): Address TDD and DbC in src/deployment
  src/deployment/digital_twin/estimator.py
  src/deployment/digital_twin/twin.py
  src/deployment/realtime/controller.py
  src/deployment/realtime/state.py
  src/deployment/safety/collision.py
  src/deployment/safety/monitor.py
  src/deployment/teleoperation/devices.py
  src/deployment/teleoperation/interface.py
  tests/unit/deployment/test_devices.py
  tests/unit/deployment/test_interface.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

style: run ruff format and fix
  src/deployment/digital_twin/estimator.py
  src/deployment/digital_twin/twin.py
  src/deployment/realtime/controller.py
  src/deployment/realtime/state.py
  src/deployment/safety/collision.py
  src/deployment/safety/monitor.py
  src/deployment/teleoperation/devices.py
  src/deployment/teleoperation/interface.py
  tests/unit/deployment/test_devices.py
  tests/unit/deployment/test_interface.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Fix malformed GitHub Actions workflow YAML (#1857)
  .github/workflows/Code-Metrics.yml
  .github/workflows/Comment-to-Issue-Converter.yml
  .github/workflows/Jules-Documentation-Auditor.yml
  .github/workflows/Jules-PR-Cleanup.yml
Due: none

fix(src/launchers): Address DbC and DRY in src/launchers
  src/launchers/assets/generate_tile_images.py
  src/launchers/assets/optimize_assets.py
  src/launchers/base.py
  src/launchers/docker_dialog.py
  src/launchers/docker_manager.py
  src/launchers/golf_launcher.py
  src/launchers/golf_suite_launcher.py
  src/launchers/help_dialogs.py
  src/launchers/launcher_diagnostics.py
  src/launchers/launcher_dialogs.py
  src/launchers/launcher_layout_manager.py
  src/launchers/launcher_model_handlers.py
  src/launchers/launcher_process_manager.py
  src/launchers/launcher_simulation.py
  src/launchers/launcher_theme.py
  src/launchers/launcher_ui_setup.py
  src/launchers/model_card.py
  src/launchers/model_registry.py
  src/launchers/motion_capture_launcher.py
  src/launchers/mujoco_unified_launcher.py
  src/launchers/settings_dialog.py
  src/launchers/shot_tracer.py
  src/launchers/startup.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

style: run ruff format and fix
  src/launchers/assets/generate_tile_images.py
  src/launchers/assets/optimize_assets.py
  src/launchers/base.py
  src/launchers/docker_dialog.py
  src/launchers/docker_manager.py
  src/launchers/golf_launcher.py
  src/launchers/golf_suite_launcher.py
  src/launchers/help_dialogs.py
  src/launchers/launcher_diagnostics.py
  src/launchers/launcher_dialogs.py
  src/launchers/launcher_layout_manager.py
  src/launchers/launcher_model_handlers.py
  src/launchers/launcher_process_manager.py
  src/launchers/launcher_simulation.py
  src/launchers/launcher_theme.py
  src/launchers/launcher_ui_setup.py
  src/launchers/model_card.py
  src/launchers/model_registry.py
  src/launchers/motion_capture_launcher.py
  src/launchers/mujoco_unified_launcher.py
  src/launchers/settings_dialog.py
  src/launchers/shot_tracer.py
  src/launchers/startup.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(src/learning): Address DbC and DRY in src/learning
  src/learning/imitation/dataset.py
  src/learning/imitation/learners.py
  src/learning/retargeting/retargeter.py
  src/learning/rl/base_env.py
  src/learning/rl/configs.py
  src/learning/rl/humanoid_envs.py
  src/learning/rl/manipulation_envs.py
  src/learning/sim2real/domain_randomization.py
  src/learning/sim2real/system_identification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(src/reinforcement_learning): Address TDD, DbC, and DRY in RL module
  src/reinforcement_learning/trajectory_funnel_benchmark.py
  tests/unit/reinforcement_learning/test_trajectory_funnel_benchmark.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(src/research): Address DbC and DRY in research module
  src/research/deformable/objects.py
  src/research/differentiable/engine.py
  src/research/mpc/controller.py
  src/research/mpc/specialized.py
  src/research/multi_robot/coordination.py
  src/research/multi_robot/system.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(src/robotics): Address DbC and DRY in robotics module
  src/robotics/contact/contact_manager.py
  src/robotics/contact/friction_cone.py
  src/robotics/contact/grasp_analysis.py
  src/robotics/control/whole_body/qp_solver.py
  src/robotics/control/whole_body/task.py
  src/robotics/control/whole_body/wbc_controller.py
  src/robotics/core/exceptions.py
  src/robotics/core/types.py
  src/robotics/locomotion/footstep_planner.py
  src/robotics/locomotion/gait_state_machine.py
  src/robotics/locomotion/zmp_computer.py
  src/robotics/planning/collision/collision_checker.py
  src/robotics/planning/collision/collision_types.py
  src/robotics/planning/collision/geometric_primitives.py
  src/robotics/planning/motion/planner_base.py
  src/robotics/planning/motion/rrt.py
  src/robotics/planning/motion/rrt_star.py
  src/robotics/sensing/force_torque_sensor.py
  src/robotics/sensing/imu_sensor.py
  src/robotics/sensing/noise_models.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(src/unreal_integration): Address DbC and DRY in unreal_integration module
  src/unreal_integration/data_frame.py
  src/unreal_integration/geometry.py
  src/unreal_integration/golf_state.py
  src/unreal_integration/mesh_loader.py
  src/unreal_integration/skeleton.py
  src/unreal_integration/skeleton_mapper.py
  src/unreal_integration/streaming.py
  src/unreal_integration/viewer_backends.py
  src/unreal_integration/visualization.py
  src/unreal_integration/vr_interaction.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Reclassify mocked engine isolation tests (#1873)
  tests/unit/isolated/test_drake_strict.py
  tests/unit/isolated/test_pinocchio_strict.py
  tests/unit/test_process_isolation_strict.py
Due: pytest-unit

Clarify core CI native engine coverage (#1875)
  .github/workflows/ci-standard.yml
Due: none

Differentiate missing and broken test engines (#1878)
  tests/fixtures/fixtures_lib.py
  tests/unit/test_fixture_engine_probe_status.py
Due: pytest-unit

Harden nightly cross-engine workflow (#1879)
  .github/workflows/nightly-cross-engine.yml
Due: none

Document integration testing strategy (#1880)
  .github/workflows/nightly-cross-engine.yml
  docs/development/testing.md
  docs/testing/integration-testing-strategy.md
  docs/testing/testing-guide.md
  docs/troubleshooting/cross_engine_deviations.md
  docs/workflows/WORKFLOW_TRACKING.md
  scripts/check_native_engine_imports.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test: Comprehensive API contract tests for all shared-component routers
  pyproject.toml
  src/learning/imitation/dataset.py
  src/learning/imitation/learners.py
  src/learning/retargeting/retargeter.py
  src/learning/rl/base_env.py
  src/learning/rl/configs.py
  src/learning/rl/humanoid_envs.py
  src/learning/rl/manipulation_envs.py
  src/learning/sim2real/domain_randomization.py
  src/learning/sim2real/system_identification.py
  src/shared/models/myosuite/examples/train_elbow_policy.py
  tests/unit/api/test_acid_gas_dewpoint_mocked.py
  tests/unit/api/test_baghouse_mocked.py
  tests/unit/api/test_financial_mocked.py
  tests/unit/api/test_flare_mocked.py
  tests/unit/api/test_flow_rate_api.py
  tests/unit/api/test_ode_solver.py
  tests/unit/api/test_pressure_drop.py
  tests/unit/api/test_rotation_converter_mocked.py
  tests/unit/api/test_scrubber_mocked.py
  tests/unit/api/test_syngas_water_mocked.py
  tests/unit/api/test_thermal_profile.py
  tests/unit/api/test_wgs_reactor_mocked.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(engines): define support tiers (#1882)
  CONTRIBUTING.md
  README.md
  docs/engines/README.md
  docs/engines/support_tiers.md
Due: none

Make Rust wheel optional in Python installs (#1883)
  pyproject.toml
  requirements-dev.txt
  scripts/config/module_size_budget_baseline.json
  src/api/aip/dispatcher.py
  src/api/diagnostics.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/apps/golf_gui/Simscape Multibody Data Plotters/Python Version/integrated_golf_gui_r0/golf_gui_tabs.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/apps/golf_gui/Simscape Multibody Data Plotters/Python Version/integrated_golf_gui_r0/golf_wiffle_main.py
  src/launchers/shot_tracer.py
  src/shared/python/calc_backend/routers/ode_solver.py
  src/shared/python/injury/injury_risk.py
  tests/test_golf_gui_tabs.py
  tests/unit/api/test_acid_gas_dewpoint_mocked.py
  tests/unit/api/test_baghouse_mocked.py
  tests/unit/api/test_financial_mocked.py
  tests/unit/api/test_flare_mocked.py
  tests/unit/api/test_flow_rate_api.py
  tests/unit/api/test_ode_solver.py
  tests/unit/api/test_pressure_drop.py
  tests/unit/api/test_rotation_converter_mocked.py
  tests/unit/api/test_scrubber_mocked.py
  tests/unit/api/test_syngas_water_mocked.py
  tests/unit/api/test_thermal_profile.py
  tests/unit/api/test_wgs_reactor_mocked.py
  tests/unit/dbc/test_dbc_impact_and_flight.py
  tests/unit/engines/mujoco/test_docker_venv.py
  tests/unit/engines/simscape/3d_gui/test_new_data_format.py
  tests/unit/test_ball_flight_physics.py
  tests/unit/test_enhanced_ball_flight.py
  tests/unit/test_shot_tracer.py
  tests/unit/test_third_party_integration_audit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: generate latest completist implementation gap audit (#1886)
  .jules/completist_data/abstract_methods.txt
  .jules/completist_data/incomplete_docs.txt
  .jules/completist_data/not_implemented.txt
  .jules/completist_data/stub_functions.txt
  .jules/completist_data/todo_markers.txt
  docs/assessments/README.md
  docs/assessments/completist/Completist_Report_2026-03-15.md
  docs/assessments/issues/Issue_2078_Incomplete_Stub_in_security_py_330.md
  docs/assessments/issues/Issue_2083_Incomplete_Stub_in_flexible_shaft_py_303.md
  docs/assessments/issues/Issue_2084_Incomplete_Stub_in_flexible_shaft_py_307.md
  docs/assessments/issues/Issue_2085_Incomplete_Stub_in_flexible_shaft_py_311.md
  docs/assessments/issues/Issue_2086_Incomplete_Stub_in_flexible_shaft_py_320.md
  docs/assessments/issues/Issue_2087_Incomplete_Stub_in_flexible_shaft_py_350.md
  docs/assessments/issues/Issue_2088_Incomplete_Stub_in_flight_models_py_162.md
  docs/assessments/issues/Issue_2089_Incomplete_Stub_in_flight_models_py_168.md
  docs/assessments/issues/Issue_2090_Incomplete_Stub_in_flight_models_py_174.md
  docs/assessments/issues/Issue_2091_Incomplete_Stub_in_flight_models_py_179.md
  docs/assessments/issues/Issue_2107_Incomplete_Stub_in_base_builder_py_190.md
  docs/assessments/issues/Issue_2108_Incomplete_Stub_in_base_builder_py_200.md
Due: none

docs: add testing improvement action plan (#1891)
  .github/workflows/ci-standard.yml
  docs/assessments/README.md
  docs/assessments/TESTING_IMPROVEMENT_ACTION_PLAN_2026-03-15.md
  scripts/setup_tools_workspace.sh
  tests/integration/test_contact_cross_engine.py
  tests/integration/test_tools_integration.py
  tests/parity/test_ball_flight_parity.py
  tests/shared_contracts/conftest.py
  tests/shared_contracts/test_tools_provider_contracts.py
  tests/unit/api/test_baghouse_mocked.py
  tests/unit/api/test_financial_mocked.py
  tests/unit/api/test_flare_mocked.py
  tests/unit/api/test_scrubber_mocked.py
  tests/unit/api/test_syngas_water_mocked.py
  tests/unit/shared_python/test_ball_flight_physics.py
  tests/unit/test_shot_tracer.py
  tests/unit/test_third_party_integration_batch2.py
  tests/unit/test_unreal_integration/test_streaming.py
Due: pytest-unit

chore: Remove AI agent Co-authored-by trailers from all workflow files
  .github/workflows/Jules-Assessment-AutoFix.yml
  .github/workflows/Jules-Auto-Repair.yml
  .github/workflows/Jules-Code-Quality-Fixer.yml
  .github/workflows/Jules-Comment-Processor.yml
  .github/workflows/Jules-Critics-Comments.yml
  .github/workflows/Jules-Issue-Resolver.yml
  .github/workflows/Jules-Laymans-Terms-Writer.yml
  .github/workflows/Jules-PR-AutoFix.yml
  .github/workflows/assessment-auto-fix.yml
  .github/workflows/auto-remediate-issues.yml
  .github/workflows/heavy-tests-opt-in.yml
  Dockerfile.heavy_test
  pyproject.toml
  run_local_heavy_tests.sh
  tests/heavy_integration/__init__.py
  tests/heavy_integration/test_upstream_contracts.py
Due: pytest-unit

fix: Correct pinocchio stub check, MediaPipe new API, wslpath Docker mount, conftest
  Dockerfile.heavy_test
  tests/heavy_integration/conftest.py
  tests/heavy_integration/test_upstream_contracts.py
Due: pytest-unit

[Epic-Testing] Initial formatter fixes for bridges (#1902)
  examples/03_injury_risk_tutorial.py
  installer/windows/build_installer.py
  installer/windows/setup.py
  pyproject.toml
  scripts/analyze_completist_data.py
  setup_golf_suite.py
  start_api_server.py
  tests/heavy_integration/conftest.py
  tests/heavy_integration/test_upstream_contracts.py
  tests/unit/engines/simscape/3d/test_c3d_viewer_ux.py
  tests/unit/shared_python/spatial_algebra/test_indexed_acceleration.py
  tests/unit/shared_python/spatial_algebra/test_reference_frames.py
  tests/unit/shared_python/spatial_algebra/test_spatial_vectors.py
  tests/unit/shared_python/spatial_algebra/test_transforms.py
  tests/unit/shared_python/test_advanced_analysis.py
  tests/unit/shared_python/test_advanced_features.py
  tests/unit/test_cli_utils.py
  tests/unit/test_plotting.py
  tests/unit/test_shared_export.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix: Add actionlint.yaml with d-sorg-fleet-4core runner label allowlist
  .github/actionlint.yaml
Due: none

test: prune legacy skipped modules and fix collection (#1907)
  pyproject.toml
  tests/unit/engines/drake/test_joints.py
  tests/unit/engines/drake/test_spatial_algebra.py
  tests/unit/engines/mujoco/test_new_models.py
  tests/unit/engines/mujoco/test_plotting_analysis.py
  tests/unit/engines/mujoco/test_statistical_analysis.py
  tests/unit/engines/pinocchio/integration/test_backend_consistency.py
  tests/unit/engines/pinocchio/motion_training/test_motion_training.py
  tests/unit/engines/pinocchio/validation/test_model_validation.py
  tests/unit/engines/simscape/2d/test_example.py
  tests/unit/engines/simscape/3d/test_c3d_reader.py
  tests/unit/engines/simscape/3d/test_constants_file.py
  tests/unit/engines/simscape/3d/test_example.py
  tests/unit/engines/simscape/3d/test_headless_gui.py
  tests/unit/engines/simscape/3d/test_integration.py
  tests/unit/engines/simscape/3d/test_logger_utils.py
  tests/unit/engines/simscape/3d/test_quality_check.py
  tests/unit/engines/simscape/3d/test_security.py
  tests/unit/engines/simscape/3d_gui/test_data_loading.py
  tests/unit/engines/simscape/3d_gui/test_improved_visualization.py
  tests/unit/engines/simscape/3d_gui/test_signal_bus_compatibility.py
  tests/unit/launchers/test_environment_dialog_ux.py
  tests/unit/shared_models/opensim/test_models.py
  tests/unit/shared_python/test_init_coverage.py
  tests/unit/shared_python/test_plotting_extended.py
  tests/unit/tools/model_generation/test_composite_joints.py
Due: pytest-unit

[Epic-Testing] Test Mode Splitting for Tools Vendoring (#1908)
  .github/workflows/ci-standard.yml
  tests/conftest.py
  tests/shared_contracts/test_tools_vendoring.py
Due: pytest-unit

fix: Add xauth to heavy test Docker image (required by xvfb-run)
  Dockerfile.heavy_test
Due: none

ci: fix actionlint warnings for heavy tests webhook. Fixes #1905 (#1910)
  .github/actionlint.yaml
  .github/workflows/heavy-tests-opt-in.yml
Due: none

[Epic-Testing] Robust Integration Suites (#1911)
  .github/workflows/ci-standard.yml
  tests/heavy_integration/test_cross_engine_integration.py
  tests/heavy_integration/test_engine_model_loading.py
  tests/heavy_integration/test_myosuite_muscles.py
  tests/heavy_integration/test_opensim_muscles.py
  tests/heavy_integration/test_opensim_myosuite_wiring.py
  tests/heavy_integration/test_phase1_drake_integration.py
  tests/heavy_integration/test_phase1_security_integration.py
  tests/heavy_integration/test_physics_consistency.py
  tests/heavy_integration/test_real_engine_loading.py
  tests/integration/test_cross_engine_validation.py
  tests/integration/test_tools_integration.py
  tests/shared_contracts/test_tools_provider_contracts.py
Due: pytest-unit

[Epic-Testing] Robust Idle Dependency Handling (#1912)
  src/shared/python/engine_core/engine_availability.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon
