Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

docs: preserve raw run38 reproduction archive
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_38/raw-run.zip
Due: none

fix(style): apply ruff format to reproduction scripts and resolve DRY duplication in constrained_sextic (#9921)
  docs/development/simscape_tour_matching/native_evidence/reproduction/constrained_sextic_transition_fit.py
  docs/development/simscape_tour_matching/native_evidence/reproduction/first_prefix_fit.py
  src/shared/python/motion_matching/constrained_sextic.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

starting_pose_matcher ships ~1,600 lines of per-engine skeleton extractors that no shipped code imports; GUI is hardwired to Simscape JSON
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  scripts/ci/lod_baseline.txt
  scripts/config/full_src_mypy_baseline.json
  scripts/config/suite_marker_baseline.json
  src/tools/starting_pose_matcher/skeleton_extractors/drake.py
  src/tools/starting_pose_matcher/skeleton_extractors/mediapipe.py
  src/tools/starting_pose_matcher/skeleton_extractors/mujoco.py
  src/tools/starting_pose_matcher/skeleton_extractors/openpose.py
  src/tools/starting_pose_matcher/skeleton_extractors/opensim.py
  src/tools/starting_pose_matcher/skeleton_extractors/pinocchio.py
  tests/tools/starting_pose_matcher/test_observed_extractors.py
  tests/tools/starting_pose_matcher/test_physics_extractors_with_stubs.py
  tests/unit/tools/starting_pose_matcher/test_drake_provider.py
  tests/unit/tools/starting_pose_matcher/test_mujoco_provider.py
  tests/unit/tools/starting_pose_matcher/test_observed_input_providers.py
  tests/unit/tools/starting_pose_matcher/test_opensim_provider.py
  tests/unit/tools/starting_pose_matcher/test_pinocchio_provider.py
  tests/unit/tools/starting_pose_matcher/test_provider_error_paths.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: add constrained forward tracking initializer and diagnose gimbal failure
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/simscape_tour_matching/native_evidence/native-feedback-failure-9967-41.json
  docs/development/simscape_tour_matching/native_evidence/native-gimbal-failure-9967-41.json
  docs/development/simscape_tour_matching/run_native_feedback_initializer.py
  src/shared/python/motion_matching/acceleration_effort.py
  tests/unit/motion_matching/test_acceleration_effort.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): un-ignore and track render_humanoid_overlay and update divergence inventory (#9921)
  .gitignore
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/engines/physics_engines/mujoco/python/motion_matching/render_humanoid_overlay.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: add native representation interchange and archive replay diagnostics
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/simscape_tour_matching/REPRESENTATION_EPIC_9921.md
  docs/development/simscape_tour_matching/REPRESENTATION_HANDOFF.md
  docs/development/simscape_tour_matching/fit_native_marker_pose_sequence.py
  docs/development/simscape_tour_matching/native_evidence/feedback_9967_43/raw-run.zip
  docs/development/simscape_tour_matching/native_evidence/feedback_9967_43/report.json
  docs/development/simscape_tour_matching/native_evidence/feedback_9967_44/raw-run.zip
  docs/development/simscape_tour_matching/native_evidence/feedback_9967_44/report.json
  docs/development/simscape_tour_matching/native_evidence/feedback_9967_45/raw-run.zip
  docs/development/simscape_tour_matching/native_evidence/feedback_9967_45/report.json
  docs/development/simscape_tour_matching/native_evidence/native-feedback-comparison-9967-44.png
  docs/development/simscape_tour_matching/native_evidence/native-feedback-series-9967-44.json
  docs/development/simscape_tour_matching/native_evidence/native-gimbal-pose-sequence-9967-42.json
  docs/development/simscape_tour_matching/native_evidence/native-gimbal-spline-audit-9967-42.json
  docs/development/simscape_tour_matching/run_native_feedback_initializer.py
  src/shared/python/motion_matching/gimbal_branch.py
  src/shared/python/pose_interchange/__init__.py
  src/shared/python/pose_interchange/frame_transport.py
  src/shared/python/pose_interchange/joint_chart.py
  src/shared/python/pose_interchange/native_joint_state.py
  tests/unit/motion_matching/test_gimbal_branch.py
  tests/unit/pose_interchange/test_frame_transport.py
  tests/unit/pose_interchange/test_joint_chart.py
  tests/unit/pose_interchange/test_native_joint_state.py
  tests/unit/pose_interchange/test_public_surface.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(style): eliminate DRY duplication in render_humanoid_overlay (#9921)
  src/engines/physics_engines/mujoco/python/motion_matching/render_humanoid_overlay.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: measure native replay divergence and launch convergence audit
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/simscape_tour_matching/audit_feedback_replay_convergence.py
  docs/development/simscape_tour_matching/native_evidence/native-replay-conditioning-9967-46.json
  docs/development/simscape_tour_matching/native_evidence/native-replay-first-departure-9967-46.json
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat: regularize native tracking efforts and audit sextic approximation
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/simscape_tour_matching/native_evidence/feedback_9967_47/raw-run.zip
  docs/development/simscape_tour_matching/native_evidence/feedback_9967_47/report.json
  docs/development/simscape_tour_matching/native_evidence/native-sextic-compression-audit-9967-47.json
  docs/development/simscape_tour_matching/run_native_feedback_initializer.py
  src/shared/python/motion_matching/acceleration_effort.py
  tests/unit/motion_matching/test_acceleration_effort.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(quarantine): retire renamed phantom bunker shot test (#8766)
  scripts/config/unit_gate_quarantine.json
Due: none

docs(handoff): update turnover with 1.15s downswing candidate and impact continuation (#9921)
  AGENT_HANDOFF.md
  SPEC.md
  candidates/candidate_downswing_115s_locked_package.json
Due: none

feat: qualify native Pinocchio spherical representation prototype
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/simscape_tour_matching/PINOCCHIO_MANIFOLD_HANDOFF.md
  docs/development/simscape_tour_matching/native_evidence/manifold_10043_09/qualification.json
  docs/development/simscape_tour_matching/native_evidence/manifold_10043_09/raw-source.zip
  docs/development/simscape_tour_matching/native_evidence/manifold_10043_09/swing-state-qualification.json
  docs/development/simscape_tour_matching/qualify_native_manifold.py
  src/engines/physics_engines/pinocchio/python/native_manifold_model.py
  src/engines/physics_engines/pinocchio/python/native_model.py
  src/shared/python/pose_interchange/__init__.py
  tests/unit/motion_matching/test_native_pinocchio_manifold.py
  tests/unit/pose_interchange/test_public_surface.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Two independent C3D ingestion stacks: the GUI-reachable upload path bypasses the motion pipeline entirely (5+ C3D readers total)
  docs/motion_pipeline/README.md
  src/api/routes/motion_capture.py
  src/shared/python/motion_pipeline/sources/c3d_adapter.py
  tests/unit/api/test_routes_motion_capture.py
  ui/src/api/generated/types.ts
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

fix(quarantine): retire renamed phantom bunker shot test (#8766) (#10042)
  scripts/config/unit_gate_quarantine.json
Due: none

feat: preserve actuator branches in adaptive manifold replay
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/simscape_tour_matching/PINOCCHIO_MANIFOLD_HANDOFF.md
  docs/development/simscape_tour_matching/compare_native_manifold_replay.py
  docs/development/simscape_tour_matching/native_evidence/convergence_9967_46/raw-run.zip
  docs/development/simscape_tour_matching/native_evidence/convergence_9967_46/report.json
  docs/development/simscape_tour_matching/native_evidence/convergence_9967_46/terminal-status.json
  docs/development/simscape_tour_matching/native_evidence/manifold_adaptive_10043_15/qualification.json
  docs/development/simscape_tour_matching/native_evidence/manifold_adaptive_10043_15/raw-source.zip
  docs/development/simscape_tour_matching/native_evidence/manifold_branch_10043_13/qualification.json
  docs/development/simscape_tour_matching/native_evidence/manifold_branch_10043_13/raw-source.zip
  docs/development/simscape_tour_matching/native_evidence/manifold_integrator_10043_12/qualification.json
  docs/development/simscape_tour_matching/native_evidence/manifold_integrator_10043_12/raw-source.zip
  docs/development/simscape_tour_matching/native_evidence/manifold_replay_9967_48/raw-run.zip
  docs/development/simscape_tour_matching/native_evidence/manifold_replay_9967_48/report.json
  docs/development/simscape_tour_matching/native_evidence/manifold_replay_9967_49/raw-run.zip
  docs/development/simscape_tour_matching/native_evidence/manifold_replay_9967_49/report.json
  docs/development/simscape_tour_matching/native_evidence/manifold_replay_9967_50/raw-run.zip
  docs/development/simscape_tour_matching/native_evidence/manifold_replay_9967_50/report.json
  src/engines/physics_engines/pinocchio/python/native_manifold_model.py
  src/shared/python/motion_matching/manifold_forward.py
  src/shared/python/pose_interchange/joint_chart.py
  src/shared/python/pose_interchange/native_joint_state.py
  tests/unit/motion_matching/test_manifold_forward.py
  tests/unit/motion_matching/test_native_pinocchio_manifold.py
  tests/unit/pose_interchange/test_joint_chart.py
  tests/unit/pose_interchange/test_native_joint_state.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: handle manifold output boundary roundoff and record convergence plan
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/simscape_tour_matching/CONVERGENCE_REVIEW_20260912.md
  docs/development/simscape_tour_matching/PINOCCHIO_MANIFOLD_HANDOFF.md
  docs/development/simscape_tour_matching/native_evidence/manifold_boundary_10043_16/qualification.json
  docs/development/simscape_tour_matching/native_evidence/manifold_boundary_10043_16/raw-source.zip
  docs/development/simscape_tour_matching/native_evidence/manifold_replay_9967_51/raw-run.zip
  docs/development/simscape_tour_matching/native_evidence/manifold_replay_9967_51/report.json
  docs/development/simscape_tour_matching/native_evidence/manifold_replay_9967_51/terminal-status.json
  src/shared/python/motion_matching/manifold_forward.py
  tests/unit/motion_matching/test_manifold_forward.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: archive completed manifold replay and remaining parity gap
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/simscape_tour_matching/CONVERGENCE_REVIEW_20260912.md
  docs/development/simscape_tour_matching/native_evidence/manifold_replay_9967_52/raw-run.zip
  docs/development/simscape_tour_matching/native_evidence/manifold_replay_9967_52/report.json
  docs/development/simscape_tour_matching/native_evidence/manifold_replay_9967_52/terminal-status.json
Due: none

docs: measure scalar convergence and manifold velocity amplification
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/simscape_tour_matching/PINOCCHIO_MANIFOLD_HANDOFF.md
  docs/development/simscape_tour_matching/audit_native_scalar_reference.py
  docs/development/simscape_tour_matching/native_evidence/manifold_replay_9967_56/raw-run.zip
  docs/development/simscape_tour_matching/native_evidence/manifold_replay_9967_56/report.json
  docs/development/simscape_tour_matching/native_evidence/manifold_replay_9967_56/terminal-status.json
  docs/development/simscape_tour_matching/native_evidence/manifold_velocity_10043_17/README.md
  docs/development/simscape_tour_matching/native_evidence/manifold_velocity_10043_17/diagnostic.json
  docs/development/simscape_tour_matching/native_evidence/manifold_velocity_10043_17/inspect_velocity.py
  docs/development/simscape_tour_matching/native_evidence/manifold_velocity_10043_17/raw-source.zip
  docs/development/simscape_tour_matching/native_evidence/scalar_reference_9967_54/raw-run.zip
  docs/development/simscape_tour_matching/native_evidence/scalar_reference_9967_54/report.json
  docs/development/simscape_tour_matching/native_evidence/scalar_reference_9967_54/terminal-status.json
  docs/development/simscape_tour_matching/native_evidence/scalar_reference_9967_55/raw-run.zip
  docs/development/simscape_tour_matching/native_evidence/scalar_reference_9967_55/report.json
  docs/development/simscape_tour_matching/native_evidence/scalar_reference_9967_55/terminal-status.json
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat: certify 1.233s continuous tour impact candidate (#9921)
  AGENT_HANDOFF.md
  SPEC.md
  candidates/candidate_impact_1233s_locked_package.json
Due: none

⚡ Bolt: Replace np.linalg.norm with np.sqrt(np.einsum) in bundle adjustment (#10014)
  .jules/bolt.md
  SPEC.md
  src/motion_capture/reconstruct/bundle.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat: integrate native manifold dynamics with local-chart DOP853
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/simscape_tour_matching/PINOCCHIO_MANIFOLD_HANDOFF.md
  docs/development/simscape_tour_matching/compare_native_manifold_replay.py
  docs/development/simscape_tour_matching/native_evidence/manifold_dop853_10043_18/qualification.json
  docs/development/simscape_tour_matching/native_evidence/manifold_dop853_10043_18/raw-source.zip
  docs/development/simscape_tour_matching/native_evidence/manifold_replay_9967_56/velocity-vs-tight-scalar.zip
  src/shared/python/motion_matching/manifold_forward.py
  tests/unit/motion_matching/test_manifold_forward.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
