Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

feat: regenerate uncertain closed-contact states
  AGENT_HANDOFF.md
  scripts/research/proximal_distal_energy/articulated_ground_atlas.py
  scripts/research/proximal_distal_energy/articulated_shaft_atlas.py
  scripts/research/proximal_distal_energy/articulated_uncertainty_study.py
  scripts/research/proximal_distal_energy/subject_scaled_closed_contact.py
  tests/research/test_articulated_uncertainty_study.py
  tests/research/test_subject_scaled_closed_contact.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat: propagate uncertain closed states into screening
  AGENT_HANDOFF.md
  scripts/research/proximal_distal_energy/articulated_uncertainty_study.py
  scripts/research/proximal_distal_energy/subject_scaled_closed_contact.py
  tests/research/test_articulated_uncertainty_study.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat: register articulated headline uncertainty corners
  AGENT_HANDOFF.md
  scripts/research/proximal_distal_energy/articulated_headline_uncertainty.py
  tests/research/test_articulated_headline_uncertainty.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat: checkpoint headline uncertainty campaign
  AGENT_HANDOFF.md
  scripts/research/proximal_distal_energy/articulated_headline_uncertainty.py
  tests/research/test_articulated_headline_uncertainty.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test: govern headline uncertainty figure
  scripts/research/proximal_distal_energy/make_articulated_headline_uncertainty_figure.py
  tests/research/test_articulated_headline_uncertainty_figure.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test: bind uncertainty checkpoint design
  scripts/research/proximal_distal_energy/articulated_headline_uncertainty.py
  tests/research/test_articulated_headline_uncertainty.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test: restore ground integration compatibility
  scripts/research/proximal_distal_energy/articulated_ground_atlas.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: refresh uncertainty campaign handoff
  AGENT_HANDOFF.md
Due: none

docs: register headline uncertainty interpretation
  docs/research/proximal_distal_energy_transfer/chapters/_ch06cab_articulated_headline_uncertainty.qmd
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.qmd
Due: none

test: retain registered gate failures
  scripts/research/proximal_distal_energy/articulated_headline_uncertainty.py
  tests/research/test_articulated_headline_uncertainty.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test: bind headline evidence sources
  scripts/research/proximal_distal_energy/articulated_headline_uncertainty.py
  tests/research/test_articulated_headline_uncertainty.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: document headline uncertainty artifact
  docs/research/proximal_distal_energy_transfer/DATA_DICTIONARY.md
Due: none

test: summarize headline uncertainty evidence
  scripts/research/proximal_distal_energy/articulated_headline_uncertainty.py
  tests/research/test_articulated_headline_uncertainty.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: checkpoint uncertainty publication handoff
  AGENT_HANDOFF.md
Due: none

docs: expose headline uncertainty commands
  docs/research/proximal_distal_energy_transfer/README.md
Due: none

⚡ Bolt: Optimize 3D vector normal calculation in STL exporter (#8798)
  .jules/bolt.md
  SPEC.md
  src/bunkershot3d/geometry/clubhead.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

test: classify uncertainty figure contract
  tests/research/test_articulated_headline_uncertainty_figure.py
Due: pytest-unit

docs: refresh uncertainty handoff revision
  AGENT_HANDOFF.md
Due: none

docs: make uncertainty handoff revision-neutral
  AGENT_HANDOFF.md
Due: none

⚡ Bolt: Optimize policy rollout features array construction (#8799)
  .jules/bolt.md
  SPEC.md
  src/bunkershot3d/geometry/clubhead.py
  src/reinforcement_learning/trajectory_funnel_benchmark.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs: retain uncertainty acceptance gap
  AGENT_HANDOFF.md
Due: none

test: govern articulated structural uncertainty
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/DATA_DICTIONARY.md
  docs/research/proximal_distal_energy_transfer/MOMENTUM_TRANSFER_QUESTION_PROGRAM.md
  docs/research/proximal_distal_energy_transfer/README.md
  docs/research/proximal_distal_energy_transfer/chapters/_ch06caa_articulated_uncertainty_screen.qmd
  docs/research/proximal_distal_energy_transfer/chapters/_ch08b_momentum_transfer_questions.qmd
  docs/research/proximal_distal_energy_transfer/data/articulated_uncertainty_study.json
  docs/research/proximal_distal_energy_transfer/data/articulated_uncertainty_study.npz
  docs/research/proximal_distal_energy_transfer/data/momentum_transfer_question_registry.json
  docs/research/proximal_distal_energy_transfer/data/momentum_transfer_readiness_audit.json
  docs/research/proximal_distal_energy_transfer/figures/fig_articulated_uncertainty_screen.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_articulated_uncertainty_screen.svg
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.qmd
  scripts/research/proximal_distal_energy/articulated_uncertainty_study.py
  scripts/research/proximal_distal_energy/make_articulated_uncertainty_figure.py
  tests/research/test_articulated_uncertainty_evidence.py
  tests/research/test_articulated_uncertainty_figure.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test: regenerate scaled headline authority
  AGENT_HANDOFF.md
  scripts/research/proximal_distal_energy/articulated_scaled_authority.py
  tests/research/test_articulated_scaled_authority.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test: make headline uncertainty recoverable
  .gitignore
  scripts/research/proximal_distal_energy/articulated_ground_atlas.py
  scripts/research/proximal_distal_energy/articulated_headline_uncertainty.py
  tests/research/test_articulated_ground_checkpoint.py
  tests/research/test_articulated_headline_uncertainty.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test: govern scaled authority evidence
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/DATA_DICTIONARY.md
  docs/research/proximal_distal_energy_transfer/README.md
  docs/research/proximal_distal_energy_transfer/data/articulated_scaled_authority_nominal.json
  docs/research/proximal_distal_energy_transfer/data/articulated_scaled_authority_nominal.npz
  scripts/research/proximal_distal_energy/articulated_scaled_authority.py
  tests/research/test_articulated_scaled_authority.py
  tests/research/test_articulated_scaled_authority_evidence.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: record uncertainty campaign takeover
  AGENT_HANDOFF.md
Due: none

🛡️ Sentinel: [MEDIUM] Add X-Launcher-CSRF-Token to CORS allow_headers (#8801)
  SPEC.md
  src/api/local_server.py
  src/api/server.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test: bind scaled authority to atlas models
  AGENT_HANDOFF.md
  scripts/research/proximal_distal_energy/articulated_atlas_authority.py
  tests/research/test_articulated_atlas_authority.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test: register structural authority corners
  AGENT_HANDOFF.md
  scripts/research/proximal_distal_energy/articulated_structural_authority_campaign.py
  tests/research/test_articulated_structural_authority_campaign.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: record completion-only evidence gates
  AGENT_HANDOFF.md
Due: none

docs: record structural authority execution
  AGENT_HANDOFF.md
Due: none

docs: expose structural authority campaign
  docs/research/proximal_distal_energy_transfer/DATA_DICTIONARY.md
  docs/research/proximal_distal_energy_transfer/README.md
Due: none

docs: record verified nominal shaft result
  AGENT_HANDOFF.md
Due: none

docs: record nominal structural authority
  AGENT_HANDOFF.md
Due: none

docs: retain low-height authority failure
  AGENT_HANDOFF.md
Due: none

docs: record high-height authority result
  AGENT_HANDOFF.md
Due: none

docs: record low-mass authority result
  AGENT_HANDOFF.md
Due: none

fix(ci): resolve npm ERESOLVE peer dependency in standalone sidekick packaging (#8802)
  .github/workflows/package-standalone-sidekick.yml
Due: none

docs: record high-mass authority result
  AGENT_HANDOFF.md
Due: none

docs: record low-joint authority result
  AGENT_HANDOFF.md
Due: none

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
