Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

feat: export native URDF tree with mandatory closure sidecar
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/native_urdf_parse_9967.json
  src/shared/python/motion_matching/native_urdf.py
  tests/unit/motion_matching/test_native_urdf_export.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(launcher): decompose model card images and skeleton to satisfy file size budget
  src/launchers/model_card.py
  src/launchers/model_card_images.py
  src/launchers/model_card_skeleton.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: qualify sidecar-bound native URDF dynamics reload
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/native_urdf_roundtrip_9967.json
  docs/development/simscape_tour_matching/native_evidence/reproduction/check_native_urdf_roundtrip.py
  src/engines/physics_engines/pinocchio/python/native_model.py
  src/engines/physics_engines/pinocchio/python/native_urdf_model.py
  tests/unit/motion_matching/test_native_urdf_binding.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: type native URDF coordinate and frame mappings
  src/shared/python/motion_matching/native_urdf.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: annotate dynamically loaded Pinocchio model boundary
  src/engines/physics_engines/pinocchio/python/native_urdf_model.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

perf(motion-matching): memoize window simulations in multiple shooting (#9921)
  src/shared/python/motion_matching/multi_shooting_fit.py
  tests/unit/motion_matching/test_multi_shooting_fit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: measure native capture baseline and review live shooting runner
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/native_c3d_baseline_9967.json
  docs/development/simscape_tour_matching/native_evidence/reproduction/benchmark_native_marker_residual.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(launcher): harden model card accessibility and grid navigation (#8901) (#10006)
  SPEC.md
  src/launchers/model_card.py
  src/launchers/model_card_images.py
  src/launchers/model_card_skeleton.py
  tests/launchers/test_model_card.py
  tests/launchers/test_model_card_accessibility.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: launch traceable bounded native sextic refinement
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/reproduction/refine_native_candidate.py
  src/shared/python/motion_matching/native_candidate.py
  tests/unit/motion_matching/test_native_candidate.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: preserve verified native refinement and next-agent steps
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/refinement_9967_01/best.json
  docs/development/simscape_tour_matching/native_evidence/refinement_9967_01/config.json
  docs/development/simscape_tour_matching/native_evidence/refinement_9967_01/evaluations.jsonl
  docs/development/simscape_tour_matching/native_evidence/refinement_9967_01/independent-replay.json
  docs/development/simscape_tour_matching/native_evidence/refinement_9967_01/returned-candidate.json
  docs/development/simscape_tour_matching/native_evidence/refinement_9967_01/returned.json
Due: none

docs: refresh OpenSim handoff with verified native progress
  docs/development/opensim_tour_matching/EPIC_10003.md
Due: none

feat: resume native refinement within original control bounds
  docs/development/simscape_tour_matching/native_evidence/reproduction/refine_native_candidate.py
  src/shared/python/motion_matching/native_candidate.py
  tests/unit/motion_matching/test_native_candidate.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: checkpoint live native refinement restart
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
Due: none

chore(devlog): consolidate shipped entries and satisfy schema budget
  docs/development/DEVELOPMENT_LOG.md
Due: none

feat: visualize native replay marker error and coverage
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/refinement_9967_01/marker-errors.png
  docs/development/simscape_tour_matching/native_evidence/refinement_9967_01/visual-replay.json
  docs/development/simscape_tour_matching/native_evidence/refinement_9967_01/visual-replay.npz
  docs/development/simscape_tour_matching/native_evidence/reproduction/benchmark_native_marker_residual.py
  docs/development/simscape_tour_matching/native_evidence/reproduction/plot_native_marker_replay.py
  src/shared/python/motion_matching/marker_replay_report.py
  tests/unit/motion_matching/test_marker_replay_report.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(devlog): consolidate shipped entries and satisfy schema budget (#10007)
  docs/development/DEVELOPMENT_LOG.md
Due: none

docs: reconcile native execution stages with current evidence
  docs/development/simscape_tour_matching/PINOCCHIO_EXECUTION_PLAN.md
Due: none

docs: preserve verified second refinement and bounded next steps
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/PINOCCHIO_EXECUTION_PLAN.md
  docs/development/simscape_tour_matching/native_evidence/refinement_9967_02/best.json
  docs/development/simscape_tour_matching/native_evidence/refinement_9967_02/config.json
  docs/development/simscape_tour_matching/native_evidence/refinement_9967_02/evaluations.jsonl
  docs/development/simscape_tour_matching/native_evidence/refinement_9967_02/independent-replay.json
  docs/development/simscape_tour_matching/native_evidence/refinement_9967_02/marker-errors.png
  docs/development/simscape_tour_matching/native_evidence/refinement_9967_02/returned-candidate.json
  docs/development/simscape_tour_matching/native_evidence/refinement_9967_02/returned.json
  docs/development/simscape_tour_matching/native_evidence/refinement_9967_02/visual-replay.npz
Due: none

feat: diagnose constrained native marker pose feasibility
  docs/development/simscape_tour_matching/native_evidence/reproduction/check_native_pose_feasibility.py
  src/shared/python/motion_matching/constrained_marker_pose.py
  tests/unit/motion_matching/test_constrained_marker_pose.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: quantify fixed marker rigidity and native pose limits
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/native-marker-rigidity-9967-01.json
  docs/development/simscape_tour_matching/native_evidence/native-pose-feasibility-9967-01.json
  docs/development/simscape_tour_matching/native_evidence/native-pose-feasibility-9967-02.json
  docs/development/simscape_tour_matching/native_evidence/native-pose-feasibility-9967-03.json
  docs/development/simscape_tour_matching/native_evidence/reproduction/check_marker_rigidity.py
  docs/development/simscape_tour_matching/native_evidence/reproduction/check_native_pose_feasibility.py
  src/shared/python/motion_matching/marker_rigidity.py
  tests/unit/motion_matching/test_marker_rigidity.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
