Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

feat(capture_rig): theme and layout-standards compliance, themed header/status (#9816)
  docs/development/feature_parity_matrix.md
  docs/motion_capture/capture_rig.md
  src/config/feature_parity.json
  src/shared/python/theme/layout_metrics.py
  src/tools/capture_rig/__main__.py
  src/tools/capture_rig/_embed_adapter.py
  src/tools/capture_rig/action_grid.py
  src/tools/capture_rig/gui.py
  src/tools/capture_rig/header.py
  src/tools/capture_rig/playback.py
  src/tools/capture_rig/preview.py
  src/tools/capture_rig/record_bar.py
  src/tools/capture_rig/styling.py
  tests/tools/capture_rig/test_header.py
  tests/tools/capture_rig/test_theme_compliance.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): change-log row for #9819
  SPEC.md
Due: none

docs(spec): change-log row for #9820
  SPEC.md
Due: none

docs(spec): drop duplicated #9820 change-log row
  SPEC.md
Due: none

fix(capture_rig): resolve parity registry and docs after catch-up merge
  docs/development/feature_parity_matrix.md
  src/config/feature_parity.json
Due: none

chore(parity): regenerate matrix after merge
  docs/development/feature_parity_matrix.md
Due: none

feat(capture_rig): composite (multipicture) video export CLI + workflow action
  docs/development/feature_parity_matrix.md
  docs/motion_capture/capture_rig.md
  docs/motion_capture/user_guide.md
  src/config/feature_parity.json
  src/motion_capture/rig/__main__.py
  src/tools/capture_rig/clips.py
  src/tools/capture_rig/commands.py
  src/tools/capture_rig/mosaic.py
  src/tools/capture_rig/workflow.py
  tests/tools/capture_rig/test_mosaic.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): change-log row for #9821
  SPEC.md
Due: none

feat(capture_rig): interactive multiview layout editor widget (#9812)
  docs/motion_capture/capture_rig.md
  src/tools/capture_rig/layout_editor.py
  src/tools/capture_rig/layout_editor_canvas.py
  tests/tools/capture_rig/test_layout_editor.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): change-log row for #9822
  SPEC.md
Due: none

fix(capture_rig): parity title keeps the layout model and editor clauses
  docs/development/feature_parity_matrix.md
  src/config/feature_parity.json
Due: none

feat(capture_rig): multiview live preview and synchronized playback (#9813, #9814)
  docs/development/feature_parity_matrix.md
  docs/motion_capture/capture_rig.md
  src/config/feature_parity.json
  src/tools/capture_rig/gui.py
  src/tools/capture_rig/layout.py
  src/tools/capture_rig/multiview.py
  src/tools/capture_rig/overlay_box.py
  src/tools/capture_rig/playback.py
  src/tools/capture_rig/preview.py
  src/tools/capture_rig/session.py
  tests/tools/capture_rig/test_multiview.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): change-log row for #9823
  SPEC.md
Due: none

docs(capture_rig): multiview evidence, handoff and a non-flaky compose budget
  AGENT_HANDOFF.md
  docs/motion_capture/capture_rig.md
  docs/motion_capture/evidence/capture_rig_multiview.md
  docs/motion_capture/evidence/capture_rig_multiview_frame.jpg
  docs/motion_capture/evidence/capture_rig_multiview_overlay_frame.jpg
  tests/tools/capture_rig/test_layout_model.py
Due: pytest-unit

docs(spec): change-log row for #9824
  SPEC.md
Due: none

fix(research): preserve reviewed manufactured claims in registration
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/claim_preservation_9825_turnover.md
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/chapters/_claim_adjudication_summary.qmd
  docs/research/proximal_distal_energy_transfer/data/articulated_manufactured_solution.json
  docs/research/proximal_distal_energy_transfer/data/claim_adjudication_summary.csv
  docs/research/proximal_distal_energy_transfer/data/claim_adjudication_summary.json
  docs/research/proximal_distal_energy_transfer/data/claim_audit_registry.json
  docs/research/proximal_distal_energy_transfer/data/claim_candidate_inventory.json
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/data/release_claim_review.json
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.pdf
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.tex
  docs/research/proximal_distal_energy_transfer/release_manifest.json
  scripts/research/proximal_distal_energy/migrate_claim_adjudication_v2.py
  scripts/research/proximal_distal_energy/register_articulated_manufactured_solution_claims.py
  tests/research/test_articulated_manufactured_hybrid_authority_red.py
  tests/research/test_articulated_manufactured_solution.py
  tests/research/test_manufactured_claim_refresh.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: link claim preservation turnover to PR 9826
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/claim_preservation_9825_turnover.md
Due: none
