Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

test(psa): load vendored psa_module via vendor path so the retained UD test lane covers the migrated Tools implementation
  tests/unit/process_calculators/test_psa_model.py
Due: pytest-unit

fix(capture): resolve the Wiffle workbook via the registry; clear LOD and stale generated files (#11161)
  docs/development/HANDOFF.md
  docs/development/monolith_refactor_register.md
  reports/matched_swing_ledger.json
  scripts/run_cross_engine_leaderboard.py
  scripts/run_cross_option_leaderboard.py
  src/shared/python/swing_comparison/metrics.py
  src/shared/python/swing_comparison/report.py
  tests/unit/motion_matching/test_run_cross_engine_leaderboard.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

style: ruff format
  tests/unit/process_calculators/test_psa_model.py
  tests/unit/tools/test_tour_matching_viewer_residuals.py
Due: pytest-unit

refactor(capture): split over-budget functions; per-capture leaderboard (#11161, #11170)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  scripts/run_cross_option_leaderboard.py
  src/motion_capture/capture_export.py
  src/shared/python/motion_matching/__main__.py
  src/shared/python/motion_matching/club_only/workbook_identity.py
  src/shared/python/motion_matching/leaderboard.py
  src/shared/python/swing_comparison/events.py
  src/shared/python/swing_comparison/metrics.py
  src/tools/starting_pose_matcher/gui_main_widget.py
  tests/unit/motion_matching/test_leaderboard.py
  tests/unit/motion_matching/test_leaderboard_cli.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(capture): run capture-O through the MuJoCo ground-support pipeline (#11166)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/shared/python/motion_matching/execution/downswing.py
  src/shared/python/motion_matching/execution/mjx_export.py
  src/shared/python/motion_matching/pipeline/__init__.py
  src/shared/python/motion_matching/pipeline/address.py
  src/shared/python/motion_matching/pipeline/cli.py
  src/shared/python/motion_matching/pipeline/constants.py
  src/shared/python/motion_matching/pipeline/dynamics.py
  src/shared/python/motion_matching/pipeline/lane.py
  src/shared/python/motion_matching/pipeline/receipt.py
  src/shared/python/motion_matching/pipeline/reference.py
  src/shared/python/motion_matching/tour_capture_contract.py
  src/tools/motion_matching/pipeline.py
  tests/integration/motion_matching/test_ground_support_capture_smoke.py
  tests/unit/motion_matching/pipeline/test_constants.py
  tests/unit/motion_matching/pipeline/test_dynamics.py
  tests/unit/motion_matching/test_rate_independence.py
  tests/unit/motion_matching/test_tour_capture_contract_owner.py
  tests/unit/motion_matching/test_weld_manifold.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(capture): playback rate from the lane; mock lanes carry a rate (#11166)
  docs/development/HANDOFF.md
  src/shared/python/motion_matching/pipeline/cli.py
  tests/unit/motion_matching/test_trajectory_optimiser_selection.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(contracts): repair PreconditionError exception-identity seam
  src/shared/python/_contracts_exceptions.py
  tests/unit/motion_matching/test_stability_matrix.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec,devlog,handoff): churn for the contracts exception-identity seam fix (#11175)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
Due: none

feat(gs3dx): range-of-motion IK by continuation; feedback-torque measurement (#11158, #11173)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/FORWARD_DYNAMICS.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/ROM.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_feedback_torque.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_human.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_joint_rom.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_contact_check.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_feedback_torque.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_joint_rom.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_rom_check.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_rom_from_ik.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_rom_reference.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_track_blocks.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_track_learn.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_track_state.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_whole_body_ik.m
Due: none

fix(leaderboard): run_leaderboard.m parses again (#11161)
  docs/development/HANDOFF.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/motion_matching/shared/scripts/run_leaderboard.m
Due: none

fix(ci): format python files to restore green ruff format check on main (#11154)
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/c3d_reader.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(leaderboard): resolve the impact inputs; keep inverse pending (#11161)
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/motion_matching/shared/default_impact_input_mat.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/motion_matching/shared/fit_swing_full_pipeline.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/motion_matching/shared/load_impact_starting_position.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/motion_matching/shared/scripts/run_leaderboard.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/motion_matching/shared/tests/test_default_impact_input_mat.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/motion_matching/shared/tests/test_run_leaderboard.m
Due: none

Fix the PreconditionError exception-identity split at the shared contracts seam (#11175)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  src/shared/python/_contracts_exceptions.py
  tests/unit/motion_matching/test_stability_matrix.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(gs3dx): match tracked joints by block path, not joint id (#11173)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_track_blocks.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_upper_body_joints.m
Due: none

fix(ci): format python files to restore green ruff format check on main (#11154) (#11180)
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/c3d_reader.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(gs3dx): record the GS3DX_Human feedback-torque baseline (#11173)
  docs/development/DEVELOPMENT_LOG.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/FORWARD_DYNAMICS.md
Due: none

fix(ui): restore high-severity npm audit gate
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  ui/package-lock.json
  ui/src/test/dependencySecurityContract.test.ts
Due: no-debugger

docs: record issue 11184 draft PR
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

docs: finalize issue 11184 publication handoff
  docs/development/HANDOFF.md
Due: none

refactor(drake): split validate_drake_candidate_replay into per-contract helpers for the 100-line function budget; fix SPEC heading title case for doc-governance check
  SPEC.md
  src/engines/physics_engines/drake/python/native_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

[codex] Restore high-severity UI npm audit gate (#11187)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  ui/package-lock.json
  ui/src/test/dependencySecurityContract.test.ts
Due: no-debugger

refactor(opensim): split validate_opensim_candidate_replay into per-contract helpers for the 100-line function budget
  src/engines/physics_engines/opensim/python/native_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(myosuite): split validate_myosuite_candidate_replay into per-contract helpers for the 100-line function budget
  src/engines/physics_engines/myosuite/python/native_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(SPEC): title-case the OpenSim dual-club heading for doc-governance (doc-governance gate failure fix from CI round 36701448203)
  SPEC.md
Due: none

docs(gs3dx): cross-engine lessons from the capture-O dynamics diagnosis (#11173, #11166)
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/FORWARD_DYNAMICS.md
Due: none

fix(drake): accept optional expected_model_sha in execution-contract helper (mypy arg-type)
  src/engines/physics_engines/drake/python/native_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(myosuite): accept optional expected_model_sha in execution-contract helper (mypy arg-type)
  src/engines/physics_engines/myosuite/python/native_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(drake): qualify native dual-club dynamics and replay — fail-closed conversion (#11094, closes #11133)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/matched_swing_program/evidence/drake/README.md
  docs/development/matched_swing_program/evidence/drake/driver_receipt.json
  docs/development/matched_swing_program/evidence/drake/iron_receipt.json
  docs/development/matched_swing_program/evidence/nightly/README.md
  docs/development/matched_swing_program/evidence/nightly/drake_receipt.json
  scripts/ci/run_native_engine_lane.py
  scripts/ci/run_native_engine_lane.sh
  src/engines/physics_engines/drake/python/native_qualification.py
  tests/scripts/test_run_native_engine_lane.py
  tests/unit/engines/drake/test_drake_dual_club_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(myosuite): resolve leftover keep-both DEVLOG conflict markers (#11136)
  docs/development/DEVELOPMENT_LOG.md
Due: none

style(opensim): ruff format native_qualification.py
  src/engines/physics_engines/opensim/python/native_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

style(myosuite): ruff format native_qualification.py
  src/engines/physics_engines/myosuite/python/native_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(handoff): leaderboard fixes verified; local regeneration blocked by #11190 (#11161)
  docs/development/HANDOFF.md
Due: none

feat(gs3dx): club-match metric tool (#11160)
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_club_match.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_club_match.m
Due: none

docs(gs3dx): turnover handoff; #11156 golf ROM band with its red acceptance test
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/FORWARD_DYNAMICS.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_lead_arm.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_golf_rom.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_whole_body_ik.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/run_matlab_locked.ps1
Due: none

docs(handoff): turnover of epic #11161 with the ordered open work
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

refactor(opensim,drake): move native lane contract helpers into src/shared/python/native_lanes/common.py (DRY duplication gate)
  src/engines/physics_engines/opensim/python/native_qualification.py
  src/shared/python/native_lanes/__init__.py
  src/shared/python/native_lanes/common.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(shared_tools): regenerate divergence inventory (+native_lanes/common.py ud-only); commit was pushed before regen — this completes it
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none
