Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

fix(#3064): ratchet coverage threshold to 15%, pyproject.toml as sole source of truth
  CLAUDE.md
  pyproject.toml
Due: none

fix(#3065): global kill switch composite action + workflow README (#3259)
  .github/actions/check-kill-switch/action.yml
  .github/workflows/Jules-Assessment-Remediator.yml
  .github/workflows/Jules-Auto-Repair.yml
  .github/workflows/README.md
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-25.md
Due: none

ci: fix quality-gate mypy install failure on self-hosted runner (#3293)
  .github/workflows/ci-standard.yml
Due: none

fix(#3060): split controls_tab.py into orchestrator + panel components (#3292)
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-25.md
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/gui/tabs/controls_tab.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#3060): split psa_gui.py into orchestrator + panel components (#3291)
  src/shared/python/physics/flexible_shaft.py
  src/shared/python/physics/shaft_integrator.py
  src/shared/python/physics/shaft_model.py
  src/shared/python/physics/shaft_params.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#3060): split grip_modelling_tab.py — extract model data and panel widgets (#3290)
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/grip_modelling_tab.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/grip_plot_panel.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/grip_xml_builder.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#3060): split model_loader_dialog.py into dialog + loader + tree widget (#3289)
  src/shared/python/model_generation/editor/text_editor.py
  src/tools/model_explorer/model_loader.py
  src/tools/model_explorer/model_loader_dialog.py
  src/tools/model_explorer/model_tree_widget.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#3060): split mujoco_viewer.py into focused rendering/input modules (#3288)
  src/tools/model_explorer/_viewer_input.py
  src/tools/model_explorer/_viewer_ui.py
  src/tools/model_explorer/mujoco_viewer.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#3060): split data_fitting.py — move GUI widgets to ui/, keep numerics (#3285)
  src/shared/python/validation_pkg/data_fitting.py
  src/shared/python/validation_pkg/fitting_pipeline.py
  src/shared/python/validation_pkg/ui/__init__.py
  src/shared/python/validation_pkg/ui/data_fitting_widget.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#3060): remove terrain_representation.py — terrain/ package covers same API (#3280)
  src/engines/physics_engines/myosuite/python/myosuite_physics_engine.py
  src/engines/physics_engines/pinocchio/python/pinocchio_physics_engine.py
  src/shared/python/engine_core/base_physics_engine.py
  src/shared/python/engine_core/capabilities.py
  src/shared/python/engine_core/interfaces.py
  src/shared/python/physics/terrain_representation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#3060): remove aerodynamics.py redundant module — package already exists (#3278)
  src/shared/python/physics/aerodynamics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#3065): remove 2 explicitly-redundant workflows (auto-remediate, assessment-auto-fix) (#3274)
  .github/workflows/ci-standard.yml
Due: none

feat: add --smoke-test flag to verify_installation.py (#3172) (#3273)
  pyproject.toml
  scripts/add_pytestmark.py
  src/engines/pendulum_models/python/double_pendulum_model/physics/double_pendulum.py
  src/engines/physics_engines/pendulum/python/pendulum_physics_engine.py
  src/shared/python/ai/adapters/anthropic_adapter.py
  src/shared/python/ai/adapters/openai_adapter.py
  src/shared/python/launcher_factory.py
  tests/unit/engines/opensim/test_muscle_conditioning.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#3175): replace silent failure paths with actionable error messages (#3272)
  examples/01_basic_simulation.py
  examples/motion_training_demo.py
  src/shared/python/gui_pkg/launcher_utils.py
  ui/src/components/ui/DiagnosticsPanel.tsx
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

fix(#3163): make stub tools honest — return not-implemented instead of fake data (#3271)
  scripts/verify_installation.py
  src/shared/python/ai/sample_tools.py
  tests/conftest.py
  tests/test_sample_tools_real.py
  tests/unit/ai/test_sample_tools.py
  tests/unit/conftest.py
  tests/unit/engines/opensim/test_muscle_conditioning.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#3202): restrict POST /models/duplicate to model asset files (#3270)
  SPEC.md
  src/api/routes/model_explorer.py
  src/reinforcement_learning/trajectory_funnel_benchmark.py
  tests/reinforcement_learning/test_trajectory_funnel_benchmark.py
  tests/unit/api/test_model_duplicate.py
  tests/unit/reinforcement_learning/test_trajectory_funnel_benchmark.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(#3060): split flexible_shaft.py into 3 focused modules (#3287)
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-25.md
Due: none

fix(#3163): replace simulation_pending stubs with honest not-implemented responses in sample_tools (#3283)
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-25.md
  src/shared/python/ai/sample_tools.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#3060): split test_calc_backend.py (1058 lines) into 4 focused test files (#3282)
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-25.md
  src/shared/python/calc_backend/tests/conftest.py
  src/shared/python/calc_backend/tests/test_app.py
  src/shared/python/calc_backend/tests/test_inline_calcs.py
  src/shared/python/calc_backend/tests/test_mocked_routes.py
  src/shared/python/calc_backend/tests/test_protocols.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#3052): add capabilities() to BasePhysicsEngine; document Pinocchio contract (#3281)
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-25.md
Due: none

fix(#3055): add failure accounting to perturbation trial loop (#3279)
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-25.md
Due: none

fix(#3047): rename GOLF_* env vars and storage paths to UPSTREAM_* (#3276)
  .env.example
  README.md
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-25.md
  src/api/auth/security.py
  src/api/database.py
  src/api/diagnostics.py
  src/api/local_server.py
  src/api/routes/presets.py
  src/api/server.py
  src/api/services/chat_service.py
  src/launchers/launcher_diagnostics.py
  src/launchers/launcher_dialogs.py
  src/launchers/launcher_process_manager.py
  src/launchers/launcher_ui_setup.py
  src/launchers/settings_dialog.py
  src/shared/python/ai/gui/assistant_panel.py
  src/shared/python/ai/gui/chat_dock_widget.py
  src/shared/python/config/environment.py
  src/shared/python/config/settings.py
  src/shared/python/engine_core/mock_engine.py
  src/shared/python/security/env_validator.py
  src/shared/python/ui/preferences_dialog.py
  src/shared/python/ui/recent_models.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#3049): repair Quick Start import paths in examples/ (#3275)
  docs/tutorials/content/01_getting_started.md
  launch_golf_suite.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(#3068): remove unused slow_numba marker and add pytestmark helper script (#3267)
  scripts/add_pytestmark.py
  scripts/verify_installation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(tests): eliminate remaining sys.modules mutations outside patch.dict (#3063) (#3265)
  .github/workflows/release.yml
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-25.md
  tests/unit/engines/opensim/test_muscle_conditioning.py
Due: pytest-unit

fix(#3166): register data_explorer backend, confirm WIP pages hidden (#3264)
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-25.md
  src/api/local_server.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#3056): deprecate non-canonical pendulum modules at import time (#3263)
  scripts/add_pytestmark.py
  tests/unit/engines/opensim/test_muscle_conditioning.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(#3071): correct stale facts in SPEC.md (#3261)
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-25.md
Due: none

fix(#3066): pin all GitHub Actions to verified commit SHAs (#3260)
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-25.md
Due: none

fix(#3067): gate publish/release on build success, add Docker publish to GHCR (#3258)
  docs/review_archive/comment_tracking.json
Due: none

Optimize R-squared computations using np.vdot (#3294)
  src/shared/python/plot_engine/trendline.py
  src/shared/python/signal_toolkit/fitting.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Optimize 3D magnitude calculation in mujoco humanoid golf (staging) (#3295)
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/biomechanics.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/sim_rendering_mixin.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Optimize 3D magnitude calculation in mujoco humanoid golf (staging) (#3296)
  docs/review_archive/comment_tracking.json
Due: none

fix(security): enforce https downloads and safe binds (#3297)
  SPEC.md
  docs/assessments/issues/ISSUE_003_B104_BIND_ALL_INTERFACES.md
  docs/assessments/issues/issue_SECURITY_NET_001.md
  issues/SECURITY_AUDIT_MEDIUM.md
  src/api/config.py
  src/shared/python/config/standard_models.py
  src/tools/model_explorer/model_library.py
  tests/unit/api/test_config.py
  tests/unit/config/test_standard_models.py
  tests/unit/test_start_api_server.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
