Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

feat(bunkershot3d): F1 2-D plane-strain MPM sand solver core and verification (ADR-0033) (#8734)
  SPEC.md
  src/bunkershot3d/solvers/__init__.py
  src/bunkershot3d/solvers/envelope.py
  src/bunkershot3d/solvers/mpm/__init__.py
  src/bunkershot3d/solvers/mpm/body.py
  src/bunkershot3d/solvers/mpm/constitutive.py
  src/bunkershot3d/solvers/mpm/envelope.py
  src/bunkershot3d/solvers/mpm/grid.py
  src/bunkershot3d/solvers/mpm/solver.py
  src/bunkershot3d/solvers/mpm/state.py
  src/bunkershot3d/solvers/mpm/verification.py
  tests/bunkershot3d/solvers/mpm/__init__.py
  tests/bunkershot3d/solvers/mpm/test_body.py
  tests/bunkershot3d/solvers/mpm/test_constitutive.py
  tests/bunkershot3d/solvers/mpm/test_grid.py
  tests/bunkershot3d/solvers/mpm/test_solver.py
  tests/bunkershot3d/solvers/mpm/test_verification.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(tests): guard sys.modules snapshot against concurrent mutation
  tests/conftest.py
Due: pytest-unit

docs(spec): record the CI Standard gate repairs (1.0.540)
  SPEC.md
Due: none

fix(launcher): pin vendored Tools to main and guard manifest entry points
  SPEC.md
  tests/unit/test_gui_launcher_manifest_targets.py
Due: pytest-unit

test(bunkershot3d): pin the 3-D shot scene before it exists
  tests/unit/tools/bunker_shot_gui/test_shot_scene.py
Due: pytest-unit

test(bunkershot3d): pin the trace panel's data before it exists
  tests/unit/tools/bunker_shot_gui/test_shot_traces.py
Due: pytest-unit

test(bunkershot3d): pin the 3-D frame and the trace panel before they exist
  tests/unit/tools/bunker_shot_gui/test_shot_scene_render.py
  tests/unit/tools/bunker_shot_gui/test_trace_panel_render.py
Due: pytest-unit

feat(bunkershot3d): draw the 3-D frame and the linked trace panel
  src/tools/bunker_shot_gui/render.py
  src/tools/bunker_shot_gui/render3d.py
  src/tools/bunker_shot_gui/render_traces.py
  src/tools/bunker_shot_gui/traces.py
  tests/unit/tools/bunker_shot_gui/test_no_fake_physics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(bunkershot3d): resolve the head, the surface and the divot in 3-D
  src/tools/bunker_shot_gui/model.py
  src/tools/bunker_shot_gui/shot3d.py
  tests/unit/tools/bunker_shot_gui/test_no_fake_physics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(bunkershot3d): recover the per-sample verdict and the scalar traces
  src/tools/bunker_shot_gui/bridge.py
  src/tools/bunker_shot_gui/model.py
  src/tools/bunker_shot_gui/shot3d.py
  src/tools/bunker_shot_gui/traces.py
  tests/unit/tools/bunker_shot_gui/test_no_fake_physics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(bunkershot3d): link the 3-D view and the traces to the one transport
  src/tools/bunker_shot_gui/gui.py
  src/tools/bunker_shot_gui/viewport_widgets.py
  src/tools/bunker_shot_gui/widgets.py
  tests/tools/bunker_shot_gui/test_linked_scrub.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): record the 3-D shot view and the linked trace panel
  SPEC.md
  docs/development/feature_parity_matrix.md
  src/config/feature_parity.json
  src/tools/bunker_shot_gui/__init__.py
  tests/unit/tools/bunker_shot_gui/conftest.py
  tests/unit/tools/bunker_shot_gui/test_shot_traces.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(bunkershot3d): keep the workbench inside its own quality gates
  src/tools/bunker_shot_gui/model.py
  src/tools/bunker_shot_gui/render3d.py
  src/tools/bunker_shot_gui/traces.py
  src/tools/bunker_shot_gui/viewport_widgets.py
  src/tools/bunker_shot_gui/widgets.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(bunkershot3d): animate the shot in 3-D and scrub the traces with it (#8706, #8708) (#8737)
  SPEC.md
  docs/development/feature_parity_matrix.md
  src/config/feature_parity.json
  src/tools/bunker_shot_gui/__init__.py
  src/tools/bunker_shot_gui/bridge.py
  src/tools/bunker_shot_gui/gui.py
  src/tools/bunker_shot_gui/model.py
  src/tools/bunker_shot_gui/render.py
  src/tools/bunker_shot_gui/render3d.py
  src/tools/bunker_shot_gui/render_traces.py
  src/tools/bunker_shot_gui/shot3d.py
  src/tools/bunker_shot_gui/traces.py
  src/tools/bunker_shot_gui/viewport_widgets.py
  src/tools/bunker_shot_gui/widgets.py
  tests/tools/bunker_shot_gui/test_linked_scrub.py
  tests/unit/tools/bunker_shot_gui/conftest.py
  tests/unit/tools/bunker_shot_gui/test_no_fake_physics.py
  tests/unit/tools/bunker_shot_gui/test_shot_scene.py
  tests/unit/tools/bunker_shot_gui/test_shot_scene_render.py
  tests/unit/tools/bunker_shot_gui/test_shot_traces.py
  tests/unit/tools/bunker_shot_gui/test_trace_panel_render.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(deps): raise pillow, cryptography and click security floors (#8738)
  SPEC.md
  environment.yml
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: none

fix(ci): make CI Standard honestly green - four real gates repaired, two tracked (#8736)
  SPEC.md
  alembic.ini
  environment.yml
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  scripts/ci/check_dry_duplication_gate.py
  scripts/config/dry_duplication_gate.json
  scripts/config/dry_duplication_quarantine.json
  scripts/config/mypy_exclusion_budget.json
  tests/conftest.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(bunkershot3d): extract and persist the F1 sand field with its tier as data (#8710)
  src/bunkershot3d/fields/__init__.py
  src/bunkershot3d/fields/capture.py
  src/bunkershot3d/fields/schema.py
  src/bunkershot3d/fields/store.py
  src/bunkershot3d/io/__init__.py
  src/bunkershot3d/io/schema.py
  src/bunkershot3d/solvers/mpm/__init__.py
  src/bunkershot3d/solvers/mpm/solver.py
  tests/bunkershot3d/fields/__init__.py
  tests/bunkershot3d/fields/test_field_capture.py
  tests/bunkershot3d/fields/test_field_schema.py
  tests/bunkershot3d/fields/test_field_store.py
  tests/bunkershot3d/test_result_schema_v2.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(spec): restore the 1.0.540 CI-gates row dropped by the branch merge
  SPEC.md
Due: none

refactor(bunkershot3d): remove the two F1 duplications the DRY gate caught
  src/bunkershot3d/solvers/mpm/grid.py
  src/bunkershot3d/solvers/mpm/verification.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(bunkershot3d): mask the stencil tail, name the tier's model, keep the body outline (#8710)
  src/bunkershot3d/fields/__init__.py
  src/bunkershot3d/fields/capture.py
  src/bunkershot3d/fields/schema.py
  src/bunkershot3d/fields/store.py
  src/bunkershot3d/io/schema.py
  src/tools/bunker_shot_gui/render.py
  tests/bunkershot3d/fields/test_field_capture.py
  tests/bunkershot3d/fields/test_field_schema.py
  tests/bunkershot3d/fields/test_field_store.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(launcher): pin vendored Tools to main and guard manifest entry points (#8738)
  SPEC.md
  tests/unit/test_gui_launcher_manifest_targets.py
Due: pytest-unit

feat(bunkershot3d): cut the impact zone open — planes, presets and the slice renderer (#8711)
  src/bunkershot3d/fields/capture.py
  src/bunkershot3d/fields/schema.py
  src/bunkershot3d/fields/store.py
  src/tools/bunker_shot_gui/render_slice.py
  src/tools/bunker_shot_gui/slices.py
  tests/bunkershot3d/fields/test_field_capture.py
  tests/bunkershot3d/fields/test_field_schema.py
  tests/bunkershot3d/fields/test_field_store.py
  tests/unit/tools/bunker_shot_gui/test_slice_render.py
  tests/unit/tools/bunker_shot_gui/test_slices.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(bunkershot3d): wire the sand cut into the workbench, and SPEC (#8710, #8711)
  SPEC.md
  src/bunkershot3d/__init__.py
  src/tools/bunker_shot_gui/gui.py
  src/tools/bunker_shot_gui/viewport_widgets.py
  tests/tools/bunker_shot_gui/test_sand_slice_view.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(parity): register the F1 sand cut and the digest a port must honour
  docs/development/feature_parity_matrix.md
  src/config/feature_parity.json
Due: none

feat(bunkershot3d): measure the F1 divot as a section, not only a depth (#8713)
  src/bunkershot3d/solvers/mpm/__init__.py
  src/bunkershot3d/solvers/mpm/solver.py
  src/bunkershot3d/solvers/mpm/state.py
  src/bunkershot3d/solvers/mpm/verification.py
  tests/bunkershot3d/solvers/mpm/test_divot_section.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(bunkershot3d): lay the cross-tier caveats out so they cannot overlap (#8713)
  src/tools/bunker_shot_gui/crosstier.py
  src/tools/bunker_shot_gui/render_crosstier.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(bunkershot3d): record the cross-tier result and the two F1 defects (#8713)
  SPEC.md
  src/tools/bunker_shot_gui/render_crosstier.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(bunkershot3d): bound F1's approach and give its grid ejecta headroom (#8713)
  src/bunkershot3d/solvers/mpm/solver.py
  tests/bunkershot3d/solvers/mpm/test_approach_distance.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(bunkershot3d): refuse a cross-tier check on a trace too short to draw
  src/tools/bunker_shot_gui/crosstier_run.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(bunkershot3d): the cross-tier view in the workbench, and honest speed lost (#8713)
  src/tools/bunker_shot_gui/bridge.py
  src/tools/bunker_shot_gui/crosstier.py
  src/tools/bunker_shot_gui/crosstier_run.py
  src/tools/bunker_shot_gui/gui.py
  src/tools/bunker_shot_gui/render_crosstier.py
  src/tools/bunker_shot_gui/viewport_widgets.py
  tests/tools/bunker_shot_gui/test_cross_tier_view.py
  tests/tools/bunker_shot_gui/test_crosstier.py
  tests/tools/bunker_shot_gui/test_render_crosstier.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(bunkershot3d): cross-tier F0/F1 comparison, headless and drawn (#8713)
  src/bunkershot3d/solvers/mpm/verification.py
  src/tools/bunker_shot_gui/agreement.py
  src/tools/bunker_shot_gui/bridge.py
  src/tools/bunker_shot_gui/crosstier.py
  src/tools/bunker_shot_gui/model.py
  src/tools/bunker_shot_gui/render_crosstier.py
  tests/tools/bunker_shot_gui/test_crosstier.py
  tests/tools/bunker_shot_gui/test_crosstier_run.py
  tests/tools/bunker_shot_gui/test_render_crosstier.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(bunkershot3d): keep the cross-tier reach one object deep (#8713)
  src/bunkershot3d/solvers/mpm/verification.py
  src/tools/bunker_shot_gui/crosstier.py
  src/tools/bunker_shot_gui/render_crosstier.py
  src/tools/bunker_shot_gui/viewport_widgets.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

refactor(bunkershot3d): keep the sand field inside the repo-wide LOD gate
  src/bunkershot3d/fields/capture.py
  src/bunkershot3d/fields/schema.py
  src/bunkershot3d/fields/store.py
  src/tools/bunker_shot_gui/render_slice.py
  src/tools/bunker_shot_gui/slices.py
  src/tools/bunker_shot_gui/viewport_widgets.py
  tests/unit/tools/bunker_shot_gui/test_slice_render.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(bunkershot3d): cross-tier comparison view, F0 against F1 (#8713) (#8741)
  SPEC.md
  src/bunkershot3d/solvers/mpm/__init__.py
  src/bunkershot3d/solvers/mpm/solver.py
  src/bunkershot3d/solvers/mpm/state.py
  src/bunkershot3d/solvers/mpm/verification.py
  src/tools/bunker_shot_gui/agreement.py
  src/tools/bunker_shot_gui/bridge.py
  src/tools/bunker_shot_gui/crosstier.py
  src/tools/bunker_shot_gui/crosstier_run.py
  src/tools/bunker_shot_gui/gui.py
  src/tools/bunker_shot_gui/model.py
  src/tools/bunker_shot_gui/render_crosstier.py
  src/tools/bunker_shot_gui/viewport_widgets.py
  tests/bunkershot3d/solvers/mpm/test_approach_distance.py
  tests/bunkershot3d/solvers/mpm/test_divot_section.py
  tests/tools/bunker_shot_gui/test_cross_tier_view.py
  tests/tools/bunker_shot_gui/test_crosstier.py
  tests/tools/bunker_shot_gui/test_crosstier_run.py
  tests/tools/bunker_shot_gui/test_render_crosstier.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

refactor(bunkershot3d): split the field schema by concern, not by size
  src/bunkershot3d/fields/__init__.py
  src/bunkershot3d/fields/capture.py
  src/bunkershot3d/fields/schema.py
  src/bunkershot3d/fields/standing.py
  src/bunkershot3d/fields/store.py
  src/bunkershot3d/fields/units.py
  src/tools/bunker_shot_gui/slices.py
  tests/bunkershot3d/fields/test_field_capture.py
  tests/bunkershot3d/fields/test_field_schema.py
  tests/bunkershot3d/fields/test_field_store.py
  tests/unit/tools/bunker_shot_gui/test_slice_render.py
  tests/unit/tools/bunker_shot_gui/test_slices.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(bunkershot3d): bring the cross-tier plumbing inside the CI budgets (#8713)
  src/bunkershot3d/solvers/mpm/verification.py
  src/tools/bunker_shot_gui/bridge.py
  src/tools/bunker_shot_gui/crosstier_run.py
  src/tools/bunker_shot_gui/gui.py
  src/tools/bunker_shot_gui/render_crosstier.py
  tests/tools/bunker_shot_gui/test_crosstier_run.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(bunkershot3d): four defects a self-review of the sand cut turned up
  src/bunkershot3d/fields/capture.py
  src/tools/bunker_shot_gui/render_slice.py
  src/tools/bunker_shot_gui/slices.py
  src/tools/bunker_shot_gui/viewport_widgets.py
  tests/bunkershot3d/fields/test_field_capture.py
  tests/unit/tools/bunker_shot_gui/test_slices.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(bunkershot3d): F1 sand field extraction, persistence and impact-zone cross-sections (#8710, #8711) (#8740)
  SPEC.md
  docs/development/feature_parity_matrix.md
  src/bunkershot3d/__init__.py
  src/bunkershot3d/fields/__init__.py
  src/bunkershot3d/fields/capture.py
  src/bunkershot3d/fields/schema.py
  src/bunkershot3d/fields/standing.py
  src/bunkershot3d/fields/store.py
  src/bunkershot3d/fields/units.py
  src/bunkershot3d/io/__init__.py
  src/bunkershot3d/io/schema.py
  src/bunkershot3d/solvers/mpm/__init__.py
  src/bunkershot3d/solvers/mpm/solver.py
  src/config/feature_parity.json
  src/tools/bunker_shot_gui/gui.py
  src/tools/bunker_shot_gui/render.py
  src/tools/bunker_shot_gui/render_slice.py
  src/tools/bunker_shot_gui/slices.py
  src/tools/bunker_shot_gui/viewport_widgets.py
  tests/bunkershot3d/fields/__init__.py
  tests/bunkershot3d/fields/test_field_capture.py
  tests/bunkershot3d/fields/test_field_schema.py
  tests/bunkershot3d/fields/test_field_store.py
  tests/bunkershot3d/test_result_schema_v2.py
  tests/tools/bunker_shot_gui/test_sand_slice_view.py
  tests/unit/tools/bunker_shot_gui/test_slice_render.py
  tests/unit/tools/bunker_shot_gui/test_slices.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon
