Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

fix: DRY drake simulation setup, mypy savez typing, divergence inventory
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/engines/physics_engines/drake/python/grip_bushing.py
  src/engines/physics_engines/drake/python/grip_contact_sim.py
  src/shared/python/grip_contact/contact_run.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(grip): contact-grip internal-force mechanism, evidence and handoff (#11986)
  AGENT_HANDOFF.md
  changes/11986-explain-the-4x-per-hand-contact-grip-for.md
  docs/development/full_body_models/GRIP_PARITY_DECISIONS.md
  docs/development/full_body_models/evidence/grip_kinetics/contact/internal_force_driver.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/internal_force_iron7.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_sx0.001_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_sx0.001_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_sx0.001_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_sx0.01_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_sx0.01_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_sx0.01_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_sx0.1_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_sx0.1_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_sx0.1_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_sy0.01_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_sy0.01_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_sy0.01_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_sz0.01_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_sz0.01_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_sz0.01_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_sx0.001_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_sx0.001_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_sx0.001_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_sx0.01_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_sx0.01_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_sx0.01_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_sx0.1_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_sx0.1_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_sx0.1_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_sy0.01_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_sy0.01_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_sy0.01_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_sz0.01_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_sz0.01_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_sz0.01_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/run_grip_internal_force_compare.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(native-viewer): explicit 120 s MeshCat page-load timeout (#11729)
  src/tools/native_viewer_export/backends/_meshcat_page.py
  tests/unit/tools/native_viewer_export/test_meshcat_page_fov.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(calibration): score heldout markers without fitting their offsets (#11902)
  SPEC.md
  changes/11899-frozen-marker-holdout.md
  docs/development/feedback_controls/F07_FROZEN_HOLDOUT_TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/13-feedback-comparison.qmd
  src/engines/physics_engines/opensim/python/tour_matching/marker_calibration.py
  src/shared/python/motion_matching/marker_calibration.py
  tests/opensim/test_frozen_marker_scoring.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(grip-contact): closed grip-cylinder mesh builder and validator (#11739)
  src/shared/python/grip_contact/grip_mesh.py
  tests/unit/grip_contact/test_grip_mesh.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(control): align replay pins and reuse fingerprint scratch
  AGENT_HANDOFF.md
  Cargo.toml
  SPEC.md
  docs/agent_context/README.md
  docs/agent_context/contracts/project-task-native-replay.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/development/feedback_controls/F09I-PROJECT-TASK-TURNOVER.md
  manuals/upstreamdrift/chapters/38-project-myosuite-task-replay.qmd
  requirements-tools.txt
  src/engines/myosuite_project_task_producer.py
  src/engines/project_task_replay_artifacts.py
  tests/unit/engines/myosuite/test_project_task_producer.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(opensim): contact grip builder (pads, closed meshes, per-pad ElasticFoundationForce) (#11739)
  src/engines/physics_engines/opensim/python/full_body_grip_contact.py
  src/engines/physics_engines/opensim/python/full_body_osim.py
  src/shared/python/grip_contact/elastic_foundation.py
  tests/unit/grip_contact/test_elastic_foundation.py
  tests/unit/motion_matching/test_full_body_osim_grip_contact_export.py
  tests/unit/motion_matching/test_full_body_osim_grip_models.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(opensim): ContactGripSimulator (per-pad ElasticFoundationForce records, calibrated foundation) (#11739)
  src/engines/physics_engines/opensim/python/full_body_grip_contact.py
  src/engines/physics_engines/opensim/python/grip_bushing_sim.py
  src/engines/physics_engines/opensim/python/grip_contact_osim_sim.py
  tests/unit/grip_contact/test_grip_mesh.py
  tests/unit/grip_contact/test_opensim_contact_grip.py
  tests/unit/motion_matching/test_full_body_osim_grip_contact_export.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(evidence): OpenSim contact-grip full-swing runner (#11739)
  docs/development/full_body_models/evidence/grip_kinetics/run_grip_contact_opensim.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

chore(agent-context): re-render views after the MeshCat timeout change (#11729)
  docs/agent_context/README.md
  docs/agent_context/index.html
Due: none

docs: qualify initial assembly requirements for MyoSuite fitting
  AGENT_HANDOFF.md
  SPEC.md
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/development/feedback_controls/F09I-PROJECT-TASK-TURNOVER.md
  manuals/upstreamdrift/chapters/38-project-myosuite-task-replay.qmd
Due: none

fix(seam): load pinned Tools mocap privately instead of extending sidekick.lab (#11994)
  changes/11994-load-the-pinned-tools-mocap-package-unde.md
  src/engines/physics_engines/mujoco/python/native_torque_replay.py
  src/shared/python/_seam_redirect.py
  tests/unit/motion_matching/test_native_torque_replay.py
  tests/unit/repo_hygiene/test_pinned_tools_package_loader.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(native-export): detect impact from ball passage, not the peak frame
  AGENT_HANDOFF.md
  changes/11720-native-export-impact-from-ball-passage.md
  src/tools/native_viewer_export/README.md
  src/tools/native_viewer_export/overlay.py
  tests/unit/tools/native_viewer_export/test_grip_tracking.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: regenerate inventory and agent-context views against the pinned Tools tree (#11729)
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

feat(myosuite): record guarded state feedback through native SDK loop
  AGENT_HANDOFF.md
  SPEC.md
  docs/agent_context/README.md
  docs/agent_context/catalog.json
  docs/agent_context/contracts/project-task-native-replay.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/development/feedback_controls/F09J-FEEDBACK-RECORDING-TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/38-project-myosuite-task-replay.qmd
  src/engines/myosuite_project_feedback.py
  src/engines/myosuite_project_task_producer.py
  tests/unit/engines/myosuite/test_project_task_feedback.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(opensim): progress callback for the contact-grip run (#11739)
  docs/development/full_body_models/evidence/grip_kinetics/run_grip_contact_opensim.py
  src/engines/physics_engines/opensim/python/grip_bushing_sim.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): mark weld-projection tests and regenerate divergence inventory
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  tests/unit/motion_matching/pipeline/test_weld_projection.py
Due: pytest-unit

feat(evidence): integrator benchmark for the OpenSim contact grip (#11739)
  docs/development/full_body_models/evidence/grip_kinetics/bench_opensim_contact_integrators.py
  src/engines/physics_engines/opensim/python/grip_bushing_sim.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(launch-monitor): web Flexible Analysis page against /v2/analyze (#11987)
  changes/11987-web-launch-monitor-analytics-page-csv-lo.md
  ui/src/App.tsx
  ui/src/api/launchMonitorAnalytics.ts
  ui/src/pages/LaunchMonitorAnalytics.test.tsx
  ui/src/pages/LaunchMonitorAnalytics.tsx
Due: no-debugger

feat(opensim): CPodes default for the contact grip (explicit Merson is infeasible) (#11739)
  docs/development/full_body_models/evidence/grip_kinetics/run_grip_contact_opensim.py
  src/engines/physics_engines/opensim/python/grip_contact_osim_sim.py
  tests/unit/grip_contact/test_opensim_contact_grip.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(opensim): release contact-grip club with the weld velocity
  src/engines/physics_engines/opensim/python/grip_contact_osim_sim.py
  tests/unit/grip_contact/test_opensim_contact_grip.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(myosuite): forecast from an owned complete-state SDK plant
  AGENT_HANDOFF.md
  SPEC.md
  docs/agent_context/README.md
  docs/agent_context/catalog.json
  docs/agent_context/contracts/project-task-native-replay.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/development/feedback_controls/F09K-OWNED-FORECAST-TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/38-project-myosuite-task-replay.qmd
  src/engines/myosuite_project_forecast.py
  tests/unit/engines/myosuite/test_project_task_forecast.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(lifting): standalone LaTeX research reference for the lift model packs (#11751)
  changes/11751-standalone-latex-research-reference-for.md
  docs/help/movement_optimizer.md
  docs/research/lift_models/README.md
  docs/research/lift_models/lift_models.tex
Due: none

fix(ci): regenerate atlas and agent-context views, re-record launcher-atlas review, suppress construction-only ET import in test
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  tests/unit/motion_matching/test_mujoco_visual_layer.py
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: pytest-unit

test(api): add REST regression tests for empty recorder results
  tests/api/test_simulation_recorder_regression.py
Due: pytest-unit

chore(opensim): restrict CLI grip models; add driver contact evidence
  docs/development/full_body_models/evidence/grip_kinetics/contact/opensim_driver_acc1e-6_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/opensim_driver_acc1e-6_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/opensim_driver_acc1e-6_summary.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/opensim_driver_acc1e-8_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/opensim_driver_acc1e-8_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/opensim_driver_acc1e-8_summary.json
  src/engines/physics_engines/opensim/python/full_body_osim.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): update module-size budget reason for full_body_forward_dynamics line count
  scripts/config/module_size_budget_baseline.json
Due: none

test(cross-engine): strict-xfail MuJoCo parity against the MuJoCo-derived baseline (#12013)
  changes/11811-golfer-mjcf-self-collision.md
  tests/cross_engine/test_four_engine_parity.py
Due: pytest-unit

docs(opensim): OpenSim contact grip results, evidence and handoff
  AGENT_HANDOFF.md
  changes/11739-opensim-contact-grip-elasticfoundationfo.md
  docs/development/full_body_models/GRIP_PARITY_DECISIONS.md
  docs/development/full_body_models/evidence/grip_kinetics/contact/integrator_bench_CPodes_1e-08_vt0.001.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/integrator_bench_RungeKuttaMerson_0.0001_vt0.001.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/opensim_iron7_acc1e-8_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/opensim_iron7_acc1e-8_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/opensim_iron7_acc1e-8_summary.json
Due: none

feat(launch-monitor): POST /v2/trend wrapping the PyQt Trends tab contract (#11987)
  changes/11987-post-v2-trend-launch-monitor-analytics-r.md
  docs/api/launch_monitor_analytics.md
  src/api/routes/launch_monitor_analytics.py
  tests/api/test_routes_launch_monitor_analytics_trend.py
  ui/src/api/generated/types.ts
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

fix(ci): mypy typing, architecture-budget exception, regenerate divergence inventory
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  scripts/config/architecture_budget.json
  src/engines/physics_engines/mujoco/python/grip_contact_sim.py
  src/shared/python/grip_contact/contact_run.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(api): add REST regression tests for empty recorder results (#12012)
  tests/api/test_simulation_recorder_regression.py
Due: pytest-unit

fix(feedback): align Tools pins to main
  Cargo.toml
  docs/development/feedback_controls/TURNOVER.md
  requirements-tools.txt
Due: none

fix(launch-monitor): type the rolling records local for mypy (#11987)
  src/api/routes/launch_monitor_analytics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(types): cast SLSQP arguments to satisfy scipy minimize overloads in bounded NMPC
  src/shared/python/motion_matching/bounded_nmpc.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(myosuite): add provisional native search and guarded promotion
  AGENT_HANDOFF.md
  SPEC.md
  docs/agent_context/README.md
  docs/agent_context/catalog.json
  docs/agent_context/contracts/project-task-native-replay.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/development/feedback_controls/F09L-NATIVE-SEARCH-TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/38-project-myosuite-task-replay.qmd
  src/engines/myosuite_project_forecast.py
  src/engines/myosuite_project_native_search.py
  tests/unit/engines/myosuite/test_project_task_native_search.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: type bounded NMPC SLSQP options and constraints
  changes/12015-type-f02-slsqp-options-and-inequality-co.md
  src/shared/python/motion_matching/bounded_nmpc.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(opensim): resolve body-owned joint frames in read_osim; refresh model hash (#11756)
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
  src/config/engine_model_inventory.json
  src/engines/physics_engines/opensim/python/msk_club_calibration.py
  src/shared/python/motion_matching/execution/spec_builder.py
  tests/unit/motion_matching/test_spec_builder_read_osim.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(design-decisions): continue the record in DESIGN_DECISIONS_2.md (#11729)
  docs/development/full_body_models/DESIGN_DECISIONS.md
  docs/development/full_body_models/DESIGN_DECISIONS_2.md
  docs/engines/myosuite.md
  docs/research/myosuite_retarget_map/README.md
  docs/research/myosuite_retarget_map/myosuite_retarget_map.tex
  src/shared/python/motion_matching/pipeline/design_decisions.py
  tests/unit/motion_matching/pipeline/test_design_decisions.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
