Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

docs(companion): reconcile protected main authority
  AGENT_HANDOFF.md
  SPEC.md
Due: none

Add SPEC.md change log entry for secure_popen migration
  SPEC.md
Due: none

🛡️ Sentinel: [HIGH] Ensure secure_popen is used in subprocess_utils (#9216)
  .jules/sentinel.md
  SPEC.md
  src/shared/python/security/subprocess_utils.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(security): format sentinel entry
  .jules/sentinel.md
Due: none

Optimize np.square(...).sum() to np.vdot in covariation meta-analysis
  .jules/bolt.md
  SPEC.md
  src/shared/python/launch_monitor/player_covariation_core.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(agents): keep companion handoff current
  AGENT_HANDOFF.md
Due: none

Optimize np.square(...).sum() to np.vdot in covariation meta-analysis (#9205)
  .jules/bolt.md
  SPEC.md
  src/shared/python/launch_monitor/player_covariation_core.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(companion): add exact publication contract
  .github/WORKFLOWS.md
  .github/workflows/release.yml
  AGENT_HANDOFF.md
  SPEC.md
  docs/adr/0043-companion-manifest-provider-authority.md
  docs/api/contracts/upstreamdrift-companion-acquisition-v1.schema.json
  docs/api/contracts/upstreamdrift-companion-compatibility-v1.json
  docs/development/ci_workflow_map.md
  docs/operations/companion-publication.md
  docs/operations/release-runbook.md
  docs/operations/workflow_inventory.md
  scripts/companion_publication.py
  tests/companion/test_companion_publication.py
  tests/fixtures/companion/current-v1.0.0.json
  tests/fixtures/companion/rejected-future-v2.0.0.json
  tests/fixtures/companion/rejected-incompatible-v1.0.0.json
  tests/scripts/test_check_workflow_inventory.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(companion): refresh publication handoff
  AGENT_HANDOFF.md
Due: none

fix(companion): invoke publication as module
  .github/workflows/release.yml
  SPEC.md
  docs/operations/companion-publication.md
  tests/companion/test_companion_publication.py
Due: pytest-unit

docs(adr): index companion publication amendment
  docs/adr/README.md
Due: none

docs(companion): record publication validation
  AGENT_HANDOFF.md
Due: none

docs(companion): refresh protected base evidence
  AGENT_HANDOFF.md
  SPEC.md
Due: none

fix(companion): satisfy publication architecture budget
  AGENT_HANDOFF.md
  SPEC.md
  scripts/companion_publication.py
  tests/companion/test_companion_publication.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test(companion): classify publication contracts
  AGENT_HANDOFF.md
  SPEC.md
  tests/companion/test_companion_publication.py
Due: pytest-unit

docs(agents): keep companion handoff current
  AGENT_HANDOFF.md
  SPEC.md
Due: none

fix: stop test runs rewriting tracked mujoco_humanoid model.xml (#9182)
  SPEC.md
  src/tools/model_explorer/model_library.py
  tests/unit/repo_hygiene/test_no_tracked_asset_rewrite.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: advance structural campaign handoff to 574
  AGENT_HANDOFF.md
Due: none

docs: advance structural campaign handoff to 594
  AGENT_HANDOFF.md
Due: none

chore: remove orphaned mujoco_humanoid model.xml and keep run output out of src/
  SPEC.md
  output/README.md
  src/shared/python/data_io/_path_utils.py
  src/shared/python/data_io/output_manager.py
  src/shared/urdf/human_models/mujoco_humanoid/model.xml
  tests/conftest.py
  tests/unit/repo_hygiene/test_no_output_in_source_tree.py
  tests/unit/repo_hygiene/test_no_tracked_asset_rewrite.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: keep simulation run output out of the source tree
  SPEC.md
  tests/unit/repo_hygiene/test_no_tracked_asset_rewrite.py
Due: pytest-unit

docs: advance structural campaign handoff to 614
  AGENT_HANDOFF.md
Due: none

fix: clear three still-live auto-filed review findings
  .jules/bolt.md
  SPEC.md
  scripts/ci/rehydrate_docker_context.py
  tests/unit/scripts/test_rehydrate_docker_context.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(security): pass suite_root at both secure_popen call sites
  SPEC.md
  src/shared/python/security/subprocess_utils.py
  tests/unit/security/test_subprocess_utils.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: advance structural campaign authority to 634
  AGENT_HANDOFF.md
Due: none

fix(security): pass suite_root on the synchronous run_command path
  SPEC.md
  src/shared/python/security/subprocess_utils.py
  tests/unit/security/test_subprocess_utils.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: advance structural campaign handoff to 654
  AGENT_HANDOFF.md
Due: none

perf(research): remove numpy.cross dispatch from spatial Jacobian assembly
  SPEC.md
  scripts/research/proximal_distal_energy/spatial_full_body.py
  tests/research/test_spatial_full_body_cross_product.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(spec): record #9231 in the §12 change-log table
  SPEC.md
Due: none

chore(research): re-register the source integrity manifest for #9231
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/release_manifest.json
Due: none

docs: advance structural campaign through 674
  AGENT_HANDOFF.md
Due: none

feat(bunkershot3d): drive a drained shear cell through F1's constitutive model
  src/bunkershot3d/calibration/f1_shear_cell.py
  src/bunkershot3d/calibration/optimizer.py
  tests/bunkershot3d/calibration/__init__.py
  tests/bunkershot3d/calibration/test_f1_shear_cell_8733.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(bunkershot3d): report F1's fitted friction angle against the borrowed one
  src/bunkershot3d/calibration/f1_continuum.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

test(bunkershot3d): pin the ejecta-admissibility relation across a sweep
  SPEC.md
  src/bunkershot3d/ball/splash.py
  src/bunkershot3d/metrics/divot.py
  tests/bunkershot3d/ball/test_launch_credibility.py
  tests/bunkershot3d/ball/test_lie_dependent_transfer.py
  tests/bunkershot3d/ball/test_splash_transfer.py
  tests/bunkershot3d/metrics/conftest.py
  tests/bunkershot3d/metrics/test_accelerated_mass_8659.py
  tests/bunkershot3d/metrics/test_divot.py
  tests/bunkershot3d/metrics/test_metamorphic.py
  tests/bunkershot3d/metrics/test_properties.py
  tests/bunkershot3d/metrics/test_shot_metrics_composition.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(bunkershot3d): report the mass the strike accelerated, not the swept prism
  src/bunkershot3d/ball/splash.py
  src/bunkershot3d/metrics/__init__.py
  src/bunkershot3d/metrics/divot.py
  src/tools/bunker_shot_gui/model.py
  src/tools/bunker_shot_gui/report.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(bunkershot3d): refuse a malformed mass interval without widening _refuse
  src/bunkershot3d/ball/splash.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(spec): renumber the #8659 entry to 1.0.653 after a concurrent merge
  SPEC.md
Due: none

docs(bunkershot3d): make the consistency statement travel with the mass
  src/bunkershot3d/ball/splash.py
  src/bunkershot3d/metrics/divot.py
  src/tools/bunker_shot_gui/model.py
  src/tools/bunker_shot_gui/report.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
