Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

chore(vendor): bump vendor/ud-tools to 95ed6b478 with K0 and K3a (#10944) (#10945)
  AGENT_HANDOFF.md
  Cargo.toml
  SPEC.md
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  pyproject.toml
  requirements-tools.txt
  src/config/impact_acceptance.json
  src/shared/python/ai/adapters/base.py
  src/shared/python/ai/gui/_panel_tools.py
  src/shared/python/ai/knowledge/__init__.py
  src/shared/python/ai/knowledge/__main__.py
  src/shared/python/ai/knowledge/chunking.py
  src/shared/python/ai/knowledge/cli.py
  src/shared/python/ai/knowledge/manifest.py
  src/shared/python/ai/knowledge/pack.py
  src/shared/python/ai/knowledge/sources.py
  src/shared/python/ai/knowledge/wizard.py
  src/shared/python/ai/rag/context_provider.py
  src/shared/python/ai/tests/test_rag_context_provider.py
  src/shared/python/ai/wizards.py
  src/shared/python/tour_baselines/reconciliation.py
  tests/unit/ai/test_knowledge_and_wizards.py
  tests/unit/tour_baselines/test_reconciliation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(simscape): scaffold GS3DX exploratory workspace with renamed clones and guards
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/.gitignore
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/README.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/gs3dx_setup.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/models/GS3DX_Baseline.slx
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/models/GS3DX_KD_Gimbal.slx
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/models/GS3DX_KD_Revolute.slx
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/models/GS3DX_KD_Universal.slx
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_safety.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_assert_no_shadowing.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_clone_baseline.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_names.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_original_manifest.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_save_model.m
Due: none

fix(motion-matching): retract fabricated Drake G1 PASS and fail closed on placeholder evidence (#10363)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/full_body_models/evidence/acceptance/verdicts_2026-09.json
  evidence/matched/driver_g1_drake/reevaluation.json
  reports/matched_swing_ledger.json
  src/engines/physics_engines/drake/python/full_body_fit.py
  src/shared/python/motion_matching/acceptance.py
  tests/opensim/test_moco_g1_ladder.py
  tests/tools/matched_swing_browser/test_matched_swing_browser_gui.py
  tests/unit/motion_matching/test_acceptance.py
  tests/unit/motion_matching/test_drake_full_body_fit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(bunkershot3d): fail-closed sand-motion capability register (#9688)
  docs/adr/0044-out-of-plane-fidelity-for-bunkershot3d.md
  docs/development/DEVELOPMENT_LOG.md
  src/bunkershot3d/solvers/__init__.py
  src/bunkershot3d/solvers/capability.py
  src/bunkershot3d/solvers/exceptions.py
  tests/bunkershot3d/solvers/test_capability_9688.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(simscape): add GS3DX regression harness and block budget
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/baselines/original_GolfSwing3D_Kinetic_0p3S.mat
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/BLOCK_BUDGET_FINDINGS.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/block_budget_GS3DX_Baseline.json
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/gs3dx_setup.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_block_budget.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_harness.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_block_budget.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_capture_original_baseline.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_compare.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_flatten_bus.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_license_limit_probe.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_names.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_simulate.m
Due: none

feat(rig): record --repeat soak mode with machine-readable summary (#9613)
  docs/development/DEVELOPMENT_LOG.md
  src/motion_capture/rig/__main__.py
  src/motion_capture/rig/soak.py
  tests/motion_capture/rig/test_record_repeat.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

Fail Closed ZTCF/ZVCF Counterfactuals and Split DTACK Control-Kept Variant (#10286)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/physics_engines/myosuite/python/_drift_control.py
  src/engines/physics_engines/pendulum/python/golf_swing_physics_engine.py
  src/engines/physics_engines/pinocchio/python/dtack/gui/main_window.py
  src/engines/physics_engines/pinocchio/python/dtack/sim/dynamics.py
  tests/engines/physics_engines/test_golf_swing_pendulum.py
  tests/engines/physics_engines/test_myosuite_engine.py
  tests/unit/engines/pinocchio/dtack/sim/test_dynamics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(ai): add failing test suite for K3b Drift Wizard (#10943)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  tests/unit/ai/test_drift_wizard.py
Due: pytest-unit

feat(ai): K3b Drift Wizard Sidekick knowledge pack (#10943)
  .github/WORKFLOWS.md
  .github/workflows/wizard-pack.yml
  .gitignore
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  knowledge/pack.yml
  knowledge/wizard.yml
  scripts/packaging/build_sidekick_binary.py
  sidekick.spec
  tests/unit/ai/test_drift_wizard.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(ci): fetch pinned tools and set pythonpath for wizard-pack (#10943)
  .github/workflows/wizard-pack.yml
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

fix(ai): break LOD chain in Wizard.available (#10943)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/shared/python/ai/knowledge/wizard.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Fit MyPy Exclusion Budget Under the 2026-10-01 Cap and Re-Attest Remaining Entries (#9411)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  pyproject.toml
  scripts/check_mypy_exclusion_budget.py
  scripts/config/mypy_exclusion_budget.json
  src/engines/protocols.py
  src/research/deformable/objects.py
  src/research/differentiable/engine.py
  src/shared/python/club_data/loader.py
  tests/unit/scripts/test_check_mypy_exclusion_budget.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

refactor(packaging): keep main within architecture line budget in build_sidekick_binary (#10943)
  scripts/packaging/build_sidekick_binary.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

Add Unit Suite Markers to New ZTCF/ZVCF Tests and SPEC Row (#10286)
  SPEC.md
  docs/development/HANDOFF.md
  tests/engines/physics_engines/test_golf_swing_pendulum.py
  tests/engines/physics_engines/test_myosuite_engine.py
  tests/unit/engines/pinocchio/dtack/sim/test_dynamics.py
Due: pytest-unit

feat(simscape): add GS3DX_Slim direct torque drive and impact regression drive
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/README.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/baselines/original_GolfSwing3D_Kinetic_impact_0p3S.mat
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/baselines/original_GolfSwing3D_Kinetic_persisted_0p3S.mat
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/SENSITIVITY_FINDINGS.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/models/GS3DX_KDS_Gimbal.slx
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/models/GS3DX_KDS_Revolute.slx
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/models/GS3DX_KDS_Universal.slx
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/models/GS3DX_Slim.slx
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_harness.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_slim.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_baseline_file.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_build_slim.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_capture_original_baseline.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_clone_baseline.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_direct_torque_drive.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_drive.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_names.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_repoint_references.m
Due: none

Add Unit Suite Markers and SPEC Row for MyPy Budget Slice (#9411)
  SPEC.md
  docs/development/HANDOFF.md
  tests/unit/scripts/test_check_mypy_exclusion_budget.py
Due: pytest-unit

Score the Club-Only Matrix Only From Complete Recorded Fit Outcomes (#10602)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/plans/club_only_matching/REPRODUCTION_GUIDE.md
  docs/plans/club_only_matching/evidence/club_matrix_qualification.json
  docs/plans/club_only_matching/evidence/club_reproduction_turnover.json
  src/shared/python/motion_matching/club_only/body_candidates.py
  src/shared/python/motion_matching/club_only/fit_outcomes.py
  src/shared/python/motion_matching/club_only/matrix_qualification.py
  src/shared/python/motion_matching/club_only/pendulum_match.py
  src/shared/python/motion_matching/club_only/reproduction.py
  tests/unit/motion_matching/test_club_matrix_qualification.py
  tests/unit/motion_matching/test_club_reproduction_turnover.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(packaging): use direct build_pack, fix glue test, and baseline wizard LOD (#10943)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  scripts/ci/lod_baseline.txt
  scripts/packaging/build_sidekick_binary.py
  src/shared/python/ai/knowledge/wizard.py
  tests/unit/ai/test_drift_wizard.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(packaging): scope knowledge pack build to SPEC_FILE.parent (#10943)
  scripts/packaging/build_sidekick_binary.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

chore(ai): K3b Drift Wizard Sidekick knowledge pack (#10943) (#10968)
  .github/WORKFLOWS.md
  .github/workflows/wizard-pack.yml
  .gitignore
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  knowledge/pack.yml
  knowledge/wizard.yml
  scripts/ci/lod_baseline.txt
  scripts/packaging/build_sidekick_binary.py
  sidekick.spec
  tests/unit/ai/test_drift_wizard.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(simscape): add GS3DX_Quat quaternion shoulders with joint rig and convergence proof
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/README.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/QUATERNION_SHOULDERS.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/SENSITIVITY_FINDINGS.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/models/GS3DX_KDS_Gimbal.slx
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/models/GS3DX_KDS_Revolute.slx
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/models/GS3DX_KDS_Spherical.slx
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/models/GS3DX_KDS_Universal.slx
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/models/GS3DX_Quat.slx
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/models/GS3DX_Slim.slx
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_quat.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_xyz_map.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_build_quat.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_build_slim.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_clone_baseline.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_copy_models.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_direct_torque_drive.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_gimbal_to_spherical.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_joint_rig.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_names.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_physical_graph.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_pinned_drive.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_redraw_nets.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_repoint_references.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_simulate.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_xyz_map.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_xyz_rate_matrix.m
Due: none

Keep Multi-Muscle Contracts and Torque Identical on the Rust Backend (#10946)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/shared/python/biomechanics/multi_muscle.py
  tests/unit/biomechanics/test_multi_muscle_rust_parity.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Chore(ci): Retire the Review-Comment-to-Issue Converter (RM#1755)
  .github/WORKFLOWS.md
  .github/workflows/Comment-to-Issue-Converter.yml
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  scripts/ci/process_review_comments.py
  tests/ci/test_ci_infrastructure.py
  tests/ci/test_process_review_comments.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

Docs(critic): Fleet Critic scheduled pass 2026-09-25
  SPEC.md
  docs/critiques/2026-09-25/summary.md
  docs/critiques/2026-09-25/weaknesses.md
  docs/critiques/README.md
  docs/development/HANDOFF.md
  docs/index.md
Due: none

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
