Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

feat(force_overlay): implement OpenCV video glyph renderer (#11293)
  SPEC.md
  docs/assets/fto_8_opencv_glyph_example.png
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  scripts/generate_opencv_glyph_example.py
  src/shared/python/force_overlay/renderers/__init__.py
  src/shared/python/force_overlay/renderers/opencv_glyphs.py
  tests/unit/force_overlay/test_opencv_glyphs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(simscape): preserve native closed-chain reference sample geometry
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/research/simscape_matching_reference/README.md
  docs/research/simscape_matching_reference/reference_filter_closure_checkpoint_20261003.json
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/README.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_upper_body_reference_binding.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_upper_body_reference.m
Due: none

Record Verified Quiet-Spine Desktop Preview Delivery
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
Due: none

test(cross-engine): [FTO-21] force/torque overlay physical parity suite (#11345)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/CROSS_ENGINE_PARITY_SPEC.md
  tests/integration/cross_engine/force_overlay_fixtures.py
  tests/integration/cross_engine/test_force_overlay_parity.py
Due: pytest-unit

feat(force_overlay): implement glyph builder, schema and FORCE_KIND_PALETTE (#11288)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/user_guide/plot_style/colormap_author_guide.md
  schemas/glyph-set-examples.json
  schemas/glyph-set-v1.json
  scripts/generate_glyph_set_examples.py
  src/shared/python/force_overlay/__init__.py
  src/shared/python/force_overlay/glyphs.py
  src/shared/python/plot_style/__init__.py
  src/shared/python/plot_style/colors.py
  tests/unit/force_overlay/test_glyph_serialization.py
  tests/unit/force_overlay/test_glyphs.py
  tests/unit/force_overlay/test_headless_import.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(governance): update divergence inventory for glyphs.py
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/plot_style/colors.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

style(docs): format OPENSIM_INTEGRATION.md with prettier
  docs/development/OPENSIM_INTEGRATION.md
Due: none

fix(simscape): annotate _Column TypeAlias and format with prettier
  docs/development/OPENSIM_INTEGRATION.md
  schemas/force-torque-frame-v1.json
  src/engines/simscape/force_channels.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(simscape): record native moving-reference constraint failures
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/research/simscape_matching_reference/README.md
  docs/research/simscape_matching_reference/reference_velocity_midpoint_checkpoint_20261003.json
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/README.md
Due: none

feat(force_overlay): implement glyph builder, schema and FORCE_KIND_PALETTE (#11288) (#11341)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  docs/user_guide/plot_style/colormap_author_guide.md
  schemas/glyph-set-examples.json
  schemas/glyph-set-v1.json
  scripts/generate_glyph_set_examples.py
  src/shared/python/force_overlay/__init__.py
  src/shared/python/force_overlay/glyphs.py
  src/shared/python/plot_style/__init__.py
  src/shared/python/plot_style/colors.py
  tests/unit/force_overlay/test_glyph_serialization.py
  tests/unit/force_overlay/test_glyphs.py
  tests/unit/force_overlay/test_headless_import.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(force_overlay): decompose build_glyphs to comply with architecture budget (#11288)
  src/shared/python/force_overlay/glyphs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(plot_style): DRY hex/RGBA helpers and register TENSION_COMPRESSION colormap (#11289)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/monolith_refactor_register.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  docs/user_guide/plot_style/colormap_author_guide.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/ui/tabs/_viewer_3d_segments.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/meshcat_adapter.py
  src/shared/python/body_part_viz/force_colors.py
  src/shared/python/body_part_viz/meshcat_force_colors.py
  src/shared/python/body_part_viz/mujoco_force_colors.py
  src/shared/python/body_part_viz/renderers/pyqtgl_renderer.py
  src/shared/python/plot_style/__init__.py
  src/shared/python/plot_style/color_utils.py
  src/shared/python/plot_style/colormaps.py
  src/shared/python/plot_style/registry.py
  src/shared/python/plotting/renderers/kinetics.py
  tests/unit/plot_style/test_color_utils.py
  tests/unit/plot_style/test_colormaps.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(force_overlay): satisfy architecture budget and doc governance for opencv renderer (#11293)
  docs/development/HANDOFF.md
  docs/development/assets/fto_8_opencv_glyph_example.png
  scripts/generate_opencv_glyph_example.py
  src/shared/python/force_overlay/glyphs.py
  src/shared/python/force_overlay/renderers/opencv_glyphs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(necromatcher): publish matched shaft trials and methods report
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/necromatcher-methods.tex
  docs/development/necromatcher-shaft-trials.md
  docs/development/necromatcher-turnover.md
Due: none

merge(main): integrate main into feat/fto-11293-opencv-glyphs (#11293)
  docs/user_guide/plot_style/colormap_author_guide.md
Due: none

docs(simscape): qualify refined previews and independent tangent-state recheck
  docs/research/simscape_matching_reference/README.md
  docs/research/simscape_matching_reference/native_tangent_state_recheck_20261003.json
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
Due: none

fix(simscape): declare force-channel type alias for isolated hooks
  AGENT_HANDOFF.md
  docs/development/HANDOFF.md
  docs/development/OPENSIM_INTEGRATION.md
  docs/development/capture-o-video/procedure.md
  schemas/force-torque-frame-v1.json
  src/engines/CROSS_ENGINE_PARITY_SPEC.md
  src/engines/simscape/force_channels.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(mujoco): [FTO-9] force/torque provider with actuator, reaction and contact wrenches (#11294)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/force_torque_source.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/physics_engine.py
  src/shared/python/body_part_viz/mujoco_axial_loads.py
  tests/unit/engines/mujoco/test_force_torque_source.py
  tests/unit/test_mujoco_physics_engine.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(simscape): distinguish dense native assembly from global branch continuity
  docs/research/simscape_matching_reference/dense_curve_branch_checkpoint_20261003.json
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
Due: none

feat(plot_style): DRY hex/RGBA helpers and register TENSION_COMPRESSION colormap (#11289) (#11338)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/monolith_refactor_register.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  docs/user_guide/plot_style/colormap_author_guide.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/ui/tabs/_viewer_3d_segments.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/meshcat_adapter.py
  src/shared/python/body_part_viz/force_colors.py
  src/shared/python/body_part_viz/meshcat_force_colors.py
  src/shared/python/body_part_viz/mujoco_force_colors.py
  src/shared/python/body_part_viz/renderers/pyqtgl_renderer.py
  src/shared/python/plot_style/__init__.py
  src/shared/python/plot_style/color_utils.py
  src/shared/python/plot_style/colormaps.py
  src/shared/python/plot_style/registry.py
  src/shared/python/plotting/renderers/kinetics.py
  tests/unit/plot_style/test_color_utils.py
  tests/unit/plot_style/test_colormaps.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(divergence): update divergence inventory for force_overlay additions (#11293)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

feat(simscape): bind source observation contracts through export and cache
  AGENT_HANDOFF.md
  docs/development/HANDOFF.md
  docs/research/simscape_matching_reference/README.md
  docs/research/simscape_matching_reference/observation_export_contract_checkpoint_20261003.json
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_observation_identity.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_match_export.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_observation_identity.m
Due: none

fix: fit native targets and seeds across scapula variants
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/monolith_refactor_register.md
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/Scapula_Matching_Previews.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_ik_joint_roles.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_ik_native_initial_pose.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_ik_target_scope.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_ik_initial_pose.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_ik_joint_roles.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_ik_target_scope.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_match_export.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_whole_body_ik.m
Due: none

chore(governance): format schema/doc files with prettier and fix TypeAlias in force_channels.py
  docs/development/OPENSIM_INTEGRATION.md
  docs/user_guide/plot_style/colormap_author_guide.md
  schemas/glyph-set-examples.json
  schemas/glyph-set-v1.json
  src/engines/CROSS_ENGINE_PARITY_SPEC.md
  src/engines/simscape/force_channels.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(opensim): set_state and set_control on OpenSim 4.x (#11344)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/physics_engines/opensim/python/opensim_physics_engine.py
  tests/integration/cross_engine/test_opensim_engine_state_control_parity.py
  tests/unit/engines/opensim/test_opensim_set_state_control.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(mujoco): add force/torque provider and fix stale cfrc paths (#11294)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.v1.json
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/force_torque_source.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/physics_engine.py
  src/shared/python/body_part_viz/mujoco_axial_loads.py
  tests/unit/engines/mujoco/test_force_torque_source.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(opensim): set_state and set_control on OpenSim 4.x (#11344) (#11352)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/physics_engines/opensim/python/opensim_physics_engine.py
  tests/integration/cross_engine/test_opensim_engine_state_control_parity.py
  tests/unit/engines/opensim/test_opensim_set_state_control.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(necromatcher): add translucent source-bound 3D shape overlays
  AGENT_HANDOFF.md
  SPEC.md
  docs/agents/shared-infrastructure.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/necromatcher-camera-morphology-shutter-review.md
  docs/development/necromatcher-turnover.md
  src/api/routes/necromatcher.py
  src/shared/python/body_part_viz/overlay_options.py
  src/shared/python/body_part_viz/renderers/__init__.py
  src/shared/python/body_part_viz/renderers/projective_renderer.py
  src/shared/python/body_part_viz/shapes/__init__.py
  src/shared/python/body_part_viz/shapes/box_shape.py
  src/shared/python/motion_matching/historical_fit/contracts.py
  src/shared/python/workspace/__init__.py
  src/shared/python/workspace/necromatcher_shape_overlay.py
  src/shared/python/workspace/necromatcher_video.py
  src/shared/python/workspace/necromatcher_video_jobs.py
  src/shared/python/workspace/necromatcher_video_worker.py
  src/tools/necromatcher/video_dialog.py
  tests/unit/api/test_necromatcher_shape_routes.py
  tests/unit/tools/test_necromatcher_video_dialog.py
  tests/unit/workspace/test_necromatcher_shape_geometry.py
  tests/unit/workspace/test_necromatcher_shape_surface.py
  tests/unit/workspace/test_necromatcher_shape_surface_seam.py
  tests/unit/workspace/test_necromatcher_video.py
  tests/unit/workspace/test_necromatcher_video_shape_jobs.py
  ui/src/api/necromatcher.test.ts
  ui/src/api/necromatcher.ts
  ui/src/components/necromatcher/VideoExportControls.test.tsx
  ui/src/components/necromatcher/VideoExportControls.tsx
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

fix(body_part_viz): compare MuJoCo geom/joint types via int for 3.14 (#11349)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/shared/python/body_part_viz/mujoco_axial_loads.py
  tests/unit/body_part_viz/test_mujoco_axial_loads.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(api): [FTO-22] stream real provider force/torque frames over REST and WebSocket (#11307)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/feature_parity_matrix.md
  src/api/models/requests.py
  src/api/models/responses.py
  src/api/routes/force_overlays.py
  src/api/routes/simulation_ws.py
  src/api/services/force_overlay_service.py
  src/config/feature_parity.json
  tests/unit/api/test_force_overlay_service.py
  tests/unit/api/test_force_overlay_stream.py
  tests/unit/api/test_routes_force_overlays.py
  ui/src/api/client.ts
  ui/src/api/generated/types.ts
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

fix(mujoco): DRY copy_mjdata_state helper and type-safe OverlayWrench 3-tuples (#11294)
  docs/shared_tools/divergence_inventory.v1.json
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/force_torque_source.py
  src/shared/python/body_part_viz/mujoco_axial_loads.py
  src/shared/python/engine_core/mujoco_compat.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(body_part_viz): compare MuJoCo geom/joint types via int for 3.14 (#11349) (#11350)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/shared/python/body_part_viz/mujoco_axial_loads.py
  tests/unit/body_part_viz/test_mujoco_axial_loads.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(necromatcher): bind shared shape rendering to export source fingerprints
  docs/development/necromatcher-camera-morphology-shutter-review.md
  src/shared/python/workspace/necromatcher_fit_jobs.py
  tests/unit/workspace/test_necromatcher_shape_execution_stamp.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(mujoco): add MjvScene glyph renderer for native viewers and offscreen renders (#11291)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/force_glyphs.py
  tests/unit/engines/mujoco/test_force_glyphs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Document native continuity tradeoffs and local video provenance
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/research/simscape_matching_reference/README.md
  docs/research/simscape_matching_reference/continuity_experiment_checkpoint_20261003.json
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
Due: none

feat(mujoco): add MjvScene glyph renderer for native viewers and offscreen renders (#11291) (#11355)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/force_glyphs.py
  tests/unit/engines/mujoco/test_force_glyphs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(force_overlay): add MeshCat glyph renderer for 3D arrows and torque arcs (#11290)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/user_guide/body_part_viz/force_colors.md
  src/engines/physics_engines/drake/python/src/drake_meshcat_sink.py
  src/shared/python/force_overlay/glyphs.py
  src/shared/python/force_overlay/renderers/__init__.py
  src/shared/python/force_overlay/renderers/meshcat_glyphs.py
  tests/unit/force_overlay/test_meshcat_glyphs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(force_overlay): resolve mypy type assignment and update divergence inventory (#11290)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/force_overlay/renderers/meshcat_glyphs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
