Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

fix(packaging): burn down 44 quarantined packaging and governance tests (#8766)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/monolith_refactor_register.md
  scripts/config/unit_gate_quarantine.json
  tests/scripts/test_check_vendor_updates.py
  tests/unit/scripts/test_check_gitignore_dotenv.py
Due: pytest-unit

docs: checkpoint analytic improvement and controlled restart
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/analytic_fit_9967_01/best.json
  docs/development/simscape_tour_matching/native_evidence/analytic_fit_9967_01/config.json
  docs/development/simscape_tour_matching/native_evidence/analytic_fit_9967_01/evaluations.jsonl
  docs/development/simscape_tour_matching/native_evidence/analytic_fit_9967_01/independent-replay.json
  docs/development/simscape_tour_matching/native_evidence/analytic_fit_9967_01/jacobians.jsonl
  docs/development/simscape_tour_matching/native_evidence/analytic_fit_9967_01/marker-errors.png
  docs/development/simscape_tour_matching/native_evidence/analytic_fit_9967_01/returned-candidate.json
  docs/development/simscape_tour_matching/native_evidence/analytic_fit_9967_01/returned.json
  docs/development/simscape_tour_matching/native_evidence/analytic_fit_9967_01/visual-replay.npz
Due: none

feat: expand sextic shaping with verified initial conditions
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/analytic_fit_9967_02/best.json
  docs/development/simscape_tour_matching/native_evidence/analytic_fit_9967_02/config.json
  docs/development/simscape_tour_matching/native_evidence/analytic_fit_9967_02/evaluations.jsonl
  docs/development/simscape_tour_matching/native_evidence/analytic_fit_9967_02/independent-replay.json
  docs/development/simscape_tour_matching/native_evidence/analytic_fit_9967_02/jacobians.jsonl
  docs/development/simscape_tour_matching/native_evidence/analytic_fit_9967_02/marker-errors.png
  docs/development/simscape_tour_matching/native_evidence/analytic_fit_9967_02/returned-candidate.json
  docs/development/simscape_tour_matching/native_evidence/analytic_fit_9967_02/returned.json
  docs/development/simscape_tour_matching/native_evidence/analytic_fit_9967_02/visual-replay.npz
  docs/development/simscape_tour_matching/native_evidence/native-trajectory-sensitivity-9967-04.json
  docs/development/simscape_tour_matching/native_evidence/reproduction/check_native_trajectory_sensitivity.py
  docs/development/simscape_tour_matching/native_evidence/reproduction/refine_native_candidate.py
  tests/unit/motion_matching/test_native_refinement_controls.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(packaging): preserve linux opengl-dependent test in quarantine (#8766)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  scripts/config/unit_gate_quarantine.json
Due: none

docs: preserve expanded fit and sequential agent handoff
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/expanded_fit_9967_01/best.json
  docs/development/simscape_tour_matching/native_evidence/expanded_fit_9967_01/config.json
  docs/development/simscape_tour_matching/native_evidence/expanded_fit_9967_01/evaluations.jsonl
  docs/development/simscape_tour_matching/native_evidence/expanded_fit_9967_01/independent-replay.json
  docs/development/simscape_tour_matching/native_evidence/expanded_fit_9967_01/jacobians.jsonl
  docs/development/simscape_tour_matching/native_evidence/expanded_fit_9967_01/marker-errors.png
  docs/development/simscape_tour_matching/native_evidence/expanded_fit_9967_01/returned-candidate.json
  docs/development/simscape_tour_matching/native_evidence/expanded_fit_9967_01/returned.json
  docs/development/simscape_tour_matching/native_evidence/expanded_fit_9967_01/visual-replay.npz
Due: none

docs: refresh OpenSim check-in and cross-engine evidence
  docs/development/opensim_tour_matching/EPIC_10003.md
  docs/development/opensim_tour_matching/HANDOFF.md
Due: none

fix(packaging): burn down 44 quarantined packaging and governance tests (#8766) (#10010)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/monolith_refactor_register.md
  scripts/config/unit_gate_quarantine.json
  tests/scripts/test_check_vendor_updates.py
  tests/unit/scripts/test_check_gitignore_dotenv.py
Due: pytest-unit

docs: audit multiple shooting seed and acceptance defects
  docs/development/simscape_tour_matching/GEMINI_MS_AUDIT_20260912.md
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/gemini-ms-audit-20260912-manifest.json
Due: none

feat: diagnose scaled native fit conditioning
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/native-expanded-conditioning-9967-01.json
  docs/development/simscape_tour_matching/native_evidence/native-expanded-conditioning-analysis-9967-01.json
  src/shared/python/motion_matching/sensitivity_diagnostics.py
  tests/motion_matching/test_sensitivity_diagnostics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(deployment): burn down 11 quarantined deployment and teleoperation tests (addresses #8766)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  scripts/config/unit_gate_quarantine.json
Due: none

docs: preserve bounded native step replay experiment
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/bounded_trial_9967_01/candidate-001.json
  docs/development/simscape_tour_matching/native_evidence/bounded_trial_9967_01/candidate-01.json
  docs/development/simscape_tour_matching/native_evidence/bounded_trial_9967_01/candidate-02.json
  docs/development/simscape_tour_matching/native_evidence/bounded_trial_9967_01/candidate-04.json
  docs/development/simscape_tour_matching/native_evidence/bounded_trial_9967_01/candidate-10.json
  docs/development/simscape_tour_matching/native_evidence/bounded_trial_9967_01/candidate-100.json
  docs/development/simscape_tour_matching/native_evidence/bounded_trial_9967_01/marker-errors.png
  docs/development/simscape_tour_matching/native_evidence/bounded_trial_9967_01/proposal.json
  docs/development/simscape_tour_matching/native_evidence/bounded_trial_9967_01/replay-001.json
  docs/development/simscape_tour_matching/native_evidence/bounded_trial_9967_01/replay-001.npz
  docs/development/simscape_tour_matching/native_evidence/bounded_trial_9967_01/replay-01.json
  docs/development/simscape_tour_matching/native_evidence/bounded_trial_9967_01/replay-01.npz
  docs/development/simscape_tour_matching/native_evidence/bounded_trial_9967_01/replay-02.json
  docs/development/simscape_tour_matching/native_evidence/bounded_trial_9967_01/replay-02.npz
  docs/development/simscape_tour_matching/native_evidence/bounded_trial_9967_01/replay-04.json
  docs/development/simscape_tour_matching/native_evidence/bounded_trial_9967_01/replay-04.npz
  docs/development/simscape_tour_matching/native_evidence/bounded_trial_9967_01/replay-10.json
  docs/development/simscape_tour_matching/native_evidence/bounded_trial_9967_01/replay-10.npz
  docs/development/simscape_tour_matching/native_evidence/bounded_trial_9967_01/replay-100.json
  docs/development/simscape_tour_matching/native_evidence/bounded_trial_9967_01/replay-100.npz
  docs/development/simscape_tour_matching/native_evidence/bounded_trial_9967_01/summary.json
Due: none

feat(motion-matching): record qualified multiple shooting 800ms candidates (#9921)
  candidates/candidate_ms_080s_package.json
  candidates/candidate_ms_080s_seeded_package.json
Due: none

feat: qualify exact-clock native shooting windows
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/native-window-audit-9967-01.json
  src/engines/physics_engines/pinocchio/python/native_replay.py
  tests/unit/motion_matching/test_native_replay_adapter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: qualify native window state sensitivities
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/native-node-tangent-audit-9967-01.json
  docs/development/simscape_tour_matching/native_evidence/native-window-sensitivity-audit-9967-01.json
  src/engines/physics_engines/pinocchio/python/native_sensitivity.py
  tests/unit/motion_matching/test_native_sensitivity.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(deployment): burn down 11 quarantined deployment and teleoperation tests (addresses #8766) (#10012)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  scripts/config/unit_gate_quarantine.json
Due: none

feat: qualify closure-preserving shooting node retraction
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/native-node-retraction-audit-9967-01.json
  src/shared/python/motion_matching/node_retraction.py
  tests/motion_matching/test_node_retraction.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: connect constrained nodes to shared shooting solver
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  src/shared/python/motion_matching/multi_shooting_fit.py
  tests/unit/motion_matching/test_multi_shooting_fit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: checkpoint qualified native multiple shooting pilot
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/ms_pilot_audit_9967_01/config.json
  docs/development/simscape_tour_matching/native_evidence/ms_pilot_audit_9967_01/derivative-audit.json
  docs/development/simscape_tour_matching/native_evidence/ms_pilot_audit_9967_01/manifest.json
  docs/development/simscape_tour_matching/native_evidence/ms_pilot_audit_9967_01/windows.jsonl
Due: none

docs: verify native shooting pilot and stage penalty trial
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_01/config.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_01/derivative-audit.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_01/independent-replay.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_01/marker-errors.png
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_01/returned-candidate.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_01/returned.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_01/visual-replay.npz
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_01/windows.jsonl
Due: none

fix: preserve missing marker coverage in full native replay
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_02/config.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_02/derivative-audit.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_02/independent-replay.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_02/returned-candidate.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_02/returned-nodes.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_02/returned.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_02/visual-replay.npz
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_02/windows.jsonl
  docs/development/simscape_tour_matching/native_evidence/native-full-extrapolation-9967-02.json
  docs/development/simscape_tour_matching/native_evidence/native-full-extrapolation-candidate-9967-01.json
  docs/development/simscape_tour_matching/native_evidence/reproduction/benchmark_native_marker_residual.py
  src/shared/python/motion_matching/marker_replay_report.py
  tests/unit/motion_matching/test_marker_replay_report.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: preserve full-capture coverage and extension evidence
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/native-full-coverage-diagnostic-9967-01.json
  docs/development/simscape_tour_matching/native_evidence/native-full-extrapolation-9967-02.png
Due: none

docs: verify continuation and test active torque bounds
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_03/config.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_03/derivative-audit.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_03/effort-bound-audit.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_03/independent-replay.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_03/marker-errors.png
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_03/returned-candidate.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_03/returned-nodes.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_03/returned.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_03/visual-replay.npz
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_03/windows.jsonl
Due: none
