Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

chore: update saved launcher window geometry and view settings
  .kiro/launcher/layout.json
Due: none

feat: update UI layout modes and discrete zoom slider, fix sidekick startup freeze
  src/launchers/launcher_ui_setup.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ui): resolve test regressions for title bar drag and sidekick layout
  .kiro/launcher/layout.json
  src/launchers/custom_title_bar.py
  src/launchers/embedded_tool_bootstrap.py
  src/launchers/feature_menu.py
  src/launchers/golf_launcher.py
  src/launchers/launcher_dialogs.py
  src/launchers/launcher_layout_manager.py
  src/launchers/launcher_ui_setup.py
  src/launchers/model_card.py
  src/launchers/settings_dialog.py
  src/shared/python/theme/icon_utils.py
  tests/conftest.py
  tests/unit/launcher/conftest.py
  tests/unit/launcher/test_sidebar_icons.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(ui): update sidekick and popout sizing constraints
  src/launchers/launcher_ui_setup.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(theme): remove unused colors validation causing ValueError crash
  src/launchers/launcher_theme.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ui): prevent splitter collapse when sidekick resizes too small
  .kiro/launcher/layout.json
  src/launchers/launcher_ui_setup.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(ui): update sidekick widgets and app layout
  src/config/models.yaml
Due: none

feat(ui): update sidekick layout and global sidebar hover styling
  src/launchers/launcher_ui_setup.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ui): enable 'Select Visible Tiles...' menu action by default
  src/launchers/launcher_dialogs.py
  src/launchers/launcher_ui_setup.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(launcher): start background API server for Sidekick chat
  src/api/server.py
  src/launchers/golf_launcher.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ui): auto-start API server and handle chat websocket errors gracefully
  src/api/routes/chat_ws.py
  src/launchers/golf_launcher.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ollama): tolerate scheme-less hosts and missing configured model
  src/shared/python/ai/adapters/ollama_adapter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

ci: pin actions to SHAs + inventory missing guard workflows
  .github/WORKFLOWS.md
  .github/workflows/Jules-Diff-Verifier.yml
  .github/workflows/Stub-Introduction-Guard.yml
  .github/workflows/Verify-Issue-Closure.yml
  .github/workflows/anti-phantom-merge.yml
  .github/workflows/ci-optional-stack.yml
  .github/workflows/lint-workflow-files.yml
  .github/workflows/realtime-soak.yml
  .github/workflows/tauri-build.yml
  scripts/check_workflow_inventory.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

ci(workflow-lint): add concurrency blocks to satisfy modified-workflow lint
  .github/workflows/Stub-Introduction-Guard.yml
  .github/workflows/Verify-Issue-Closure.yml
  .github/workflows/realtime-soak.yml
Due: none

ci(lint): fix ruff violations across PR-touched files
  src/launchers/custom_title_bar.py
  src/launchers/golf_launcher.py
  src/launchers/launcher_ui_setup.py
  test_event_filter.py
  tests/bunkershot3d/test_angle_of_repose_calibration.py
  tests/conftest.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: pin action SHAs + update workflow inventory + add timeout-minutes in fleet guard PR
  .github/WORKFLOWS.md
  .github/workflows/Jules-Diff-Verifier.yml
  .github/workflows/Stub-Introduction-Guard.yml
  .github/workflows/Verify-Issue-Closure.yml
  .github/workflows/anti-phantom-merge.yml
  .github/workflows/ci-optional-stack.yml
  .github/workflows/ci-standard.yml
  .github/workflows/issue-closure-policy.yml
  .github/workflows/lint-workflow-files.yml
  .github/workflows/local-only-runner-guard.yml
  .github/workflows/realtime-soak.yml
  .github/workflows/tauri-build.yml
  scripts/check_workflow_inventory.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(docs): implement in-app document reader and user manual
  docs/USER_MANUAL.md
  src/launchers/about_dialog.py
  src/launchers/help_menu.py
  src/launchers/launcher_dialogs.py
  src/shared/python/ui/qt/widgets/document_reader.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(docs): add type ignore to dynamic imports
  src/shared/python/ui/qt/widgets/document_reader.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(lint): add concurrency blocks to Stub-Introduction-Guard + Verify-Issue-Closure; set cancel-in-progress: true in realtime-soak
  .github/workflows/Stub-Introduction-Guard.yml
  .github/workflows/Verify-Issue-Closure.yml
  .github/workflows/realtime-soak.yml
Due: none

test(bunkershot3d): add AoR calibration tests and fix MPM driver test imports
  tests/bunkershot3d/test_angle_of_repose_calibration.py
  tests/bunkershot3d/test_mpm_driver_real.py
Due: pytest-unit

fix(launcher): migrate config dir from .kiro/ to platform config dir
  pyproject.toml
  src/launchers/launcher_constants.py
  tests/unit/launchers/test_launcher_constants_config_dir.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(docs): correct CLAUDE.md path references for shared module directories
  CLAUDE.md
Due: none

fix(launcher): resolve PR #5688 review issues #5689 #5690 #5714
  src/launchers/launcher_layout_manager.py
  tests/launchers/test_launcher_ui_setup.py
  tests/launchers/test_layout_view_modes.py
  tests/launchers/test_settings_dialog.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: resolve formatting for consolidated PRs
  notebooks/bunkershot3d/phase1_mvp.py
  scripts/build_humanoid_osim.py
  scripts/check_integrations.py
  scripts/check_vendor_updates.py
  src/api/routes/force_overlays.py
  src/api/routes/video.py
  src/engines/simscape/adapter.py
  src/launchers/launcher_constants.py
  src/launchers/launcher_ui_setup.py
  src/robotics/locomotion/footstep_planner.py
  src/shared/python/data_io/export.py
  src/shared/python/data_io/output_manager.py
  src/shared/python/physics/_impact_physics.py
  src/shared/python/physics/_impact_recorder.py
  src/shared/python/physics/impact_model/solver.py
  src/shared/python/physics/impact_model/utils.py
  src/shared/python/ui/completion_vocab.py
  src/tools/starting_pose_matcher/widgets/joint_slider_panel.py
  tests/launchers/test_launcher_model_handlers.py
  tests/unit/launchers/test_launcher_constants_config_dir.py
  tests/unit/repo_hygiene/test_no_deprecated_imports.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

ci(tauri-build): drop unreachable macOS matrix leg
  .github/workflows/tauri-build.yml
Due: none

style: apply pre-commit formatting fixes
  .github/WORKFLOWS.md
  .github/workflows/lint-workflow-files.yml
  .kiro/launcher/layout.json
  docs/development/sidekick_ui_roadmap.md
  src/launchers/launcher_constants.py
  src/launchers/launcher_ui_setup.py
  tests/unit/launchers/test_launcher_constants_config_dir.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: remove accidental root-level development artifacts from PR
  .gitignore
  crash_log.txt
  error3.txt
  launcher_log.txt
  stderr.txt
  stdout.txt
  test_event_filter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit
