Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

docs: add ADR workflow, governance checks, and debt register (#1410)
  .github/workflows/docs-governance.yml
  docs/adr/ADR_TEMPLATE.md
  docs/adr/README.md
  docs/assessments/README.md
  docs/governance/DOCS_GOVERNANCE.md
  docs/technical_debt/TODO_FIXME_REGISTER.md
  scripts/check_docs_governance.py
  scripts/generate_todo_fixme_register.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

ci: enforce ratcheting module-size budget gates (#1411)
  .github/workflows/ci-standard.yml
  .pre-commit-config.yaml
  scripts/check_module_size_budget.py
  scripts/config/module_size_budget_baseline.json
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: define canonical quality doc set and archive index (#1414)
  docs/assessments/CANONICAL_QUALITY_STATUS.md
  docs/assessments/README.md
  docs/assessments/archive/INDEX.md
Due: none

test: move client fixture to module scope for pytest discovery (#1415)
  tests/unit/test_api_diagnostics.py
Due: pytest-unit

fix: move local-server client fixture to module scope (issue #1412)
  tests/unit/test_api_diagnostics.py
Due: pytest-unit

test: isolate drake module pollution across unit tests (issue #1413)
  tests/conftest.py
  tests/unit/test_drake_gui_app.py
  tests/unit/test_drake_physics_engine.py
  tests/unit/test_drake_wrapper.py
Due: pytest-unit

fix: restore constants exports and harden drake wrapper isolation (#1416)
  src/shared/python/core/constants.py
  tests/unit/test_drake_wrapper.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: move local-server client fixture to module scope (#1417)
  tests/unit/test_api_diagnostics.py
Due: pytest-unit

fix: resolve critical XML vulnerabilities and temporary file insecurities (#1419)
  src/api/routes/model_explorer.py
  src/api/routes/models.py
  src/tools/humanoid_character_builder/tests/test_mesh_generators.py
  src/tools/model_explorer/urdf_builder.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: add comprehensive quality assessment and phased implementation plan
  docs/assessments/comprehensive_assessment_2026-02-14.md
  docs/assessments/implementation_plan_2026-02-14.md
Due: none

docs: update assessment index with comprehensive assessment entry
  docs/assessments/README.md
Due: none

docs: Phase 1 - comprehensive assessment and implementation plan (#1424)
  docs/assessments/README.md
  docs/assessments/comprehensive_assessment_2026-02-14.md
  docs/assessments/implementation_plan_2026-02-14.md
Due: none

chore: remove stale root artifacts
  launch_status.txt
Due: none

chore: add stale file patterns to .gitignore
  .gitignore
Due: none

fix: remove duplicate client fixture in test_api_diagnostics
  tests/unit/test_api_diagnostics.py
Due: pytest-unit

refactor: Phase 2 DRY — enhance BaseRenderer with shared format_axis()
  src/shared/python/plotting/renderers/base.py
  src/shared/python/plotting/renderers/kinematics.py
  tests/unit/test_base_renderer.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: Phase 2 DRY — enhance BaseRenderer with shared format_axis() (#1426)
  src/shared/python/plotting/renderers/base.py
  src/shared/python/plotting/renderers/kinematics.py
  tests/unit/test_base_renderer.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test: Phase 4 — add architectural dependency direction tests
  tests/architecture/test_dependency_direction.py
Due: pytest-unit

test: Phase 4 — add architectural dependency direction tests (#1427)
  tests/architecture/test_dependency_direction.py
Due: pytest-unit

refactor: Phase 3.4 — extract workflow definitions from workflow_engine
  src/shared/python/ai/__init__.py
  src/shared/python/ai/workflow_definitions.py
  src/shared/python/ai/workflow_engine.py
  tests/unit/ai/test_workflow_engine.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: extract DrakeInducedAccelerationAnalyzer and DrakeRecorder into drake_analysis.py
  Types,
  src/engines/physics_engines/drake/python/src/drake_analysis.py
  src/engines/physics_engines/drake/python/src/drake_gui_app.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: extract analysis/recording classes from GUI monoliths
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/gui.py
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/pinocchio_recorder.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: extract analysis/recording classes from GUI monoliths (#1429)
  Types,
  src/engines/physics_engines/drake/python/src/drake_analysis.py
  src/engines/physics_engines/drake/python/src/drake_gui_app.py
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/gui.py
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/pinocchio_recorder.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon
