Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

docs: inventory JaxSim upgrade guard workflow
  .github/WORKFLOWS.md
Due: none

chore: remove unrelated GUI delta from pinocchio PR
  src/shared/python/gui_pkg/draggable_tabs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: remove unrelated GUI delta from pose2sim PR
  src/shared/python/gui_pkg/draggable_tabs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: remove unrelated GUI delta from mujoco PR
  src/shared/python/gui_pkg/draggable_tabs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: remove unrelated GUI delta from opencap PR
  src/shared/python/gui_pkg/draggable_tabs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(simulation): type wrench extractor round trip arrays
  tests/unit/simulation_backends/test_wrench_extractor.py
Due: pytest-unit

docs(legal): ledger mjx oracle dependencies
  docs/legal/licenses.md
Due: none

chore: remove unrelated tab context diff from observations
  src/shared/python/gui_pkg/draggable_tabs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(realtime): add moving horizon benchmark hot path
  docs/development/moving_horizon_estimator.md
  rust_core/upstream-realtime/src/bindings.rs
  rust_core/upstream-realtime/src/lib.rs
  rust_core/upstream-realtime/src/moving_horizon.rs
Due: none

test: skip incompatible pinocchio parity wheels
  tests/cross_engine/test_jaxsim_vs_pinocchio.py
Due: pytest-unit

test: harden cross-engine optional dependency gate
  tests/cross_engine/test_jaxsim_forward_sim.py
  tests/cross_engine/test_jaxsim_vs_pinocchio.py
Due: pytest-unit

test(launcher): avoid real Qt exec patch
  tests/launchers/test_base.py
Due: pytest-unit

fix: harden JaxSim gate XML parsing
  src/shared/python/simulation_backends/jaxsim_urdf_sdf_gate.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(security): harden jaxsim XML gate parsing
  tests/unit/test_jaxsim_urdf_sdf_gate.py
Due: pytest-unit

fix(packaging): allow editable installs without ui dist
  pyproject.toml
Due: none

docs: catalog estimation docs
  docs/index.md
Due: none

ci: align leaderboard workflow pydantic core pin
  .github/workflows/cross-engine-leaderboard-publish.yml
Due: none

fix(ci): let pydantic resolve core wheel
  .github/workflows/cross-engine-equivalence.yml
  .github/workflows/cross-engine-leaderboard-publish.yml
  .github/workflows/cross-engine-leaderboard.yml
  tests/ci/test_ci_infrastructure.py
Due: pytest-unit

feat(estimation): add moving-horizon estimator
  SPEC.md
  docs/development/moving_horizon_estimator.md
  src/shared/python/estimation/__init__.py
  src/shared/python/estimation/moving_horizon.py
  tests/unit/estimation/test_moving_horizon_estimator.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(estimation): normalize moving horizon finite checks
  src/shared/python/estimation/moving_horizon.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

ci: harden workflow dependency setup
  .github/workflows/ci-standard.yml
  .github/workflows/cross-engine-equivalence.yml
  .github/workflows/cross-engine-leaderboard-publish.yml
  .github/workflows/cross-engine-leaderboard.yml
Due: none

fix: convert realtime binding errors for pyo3
  rust_core/upstream-realtime/src/bindings.rs
Due: none

ci: refresh cross-engine scipy wheels
  .github/workflows/cross-engine-equivalence.yml
  .github/workflows/cross-engine-leaderboard-publish.yml
  .github/workflows/cross-engine-leaderboard.yml
Due: none

fix(ux): recover closed review feedback fixes
  configs/ux/field_metadata.yaml
  src/shared/python/ui/helpful_field.py
  tests/unit/ui/test_helpful_field.py
  ui/src/ux/fieldMetadata.ts
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

docs: record recovered UX review fixes
  SPEC.md
Due: none

fix(engines): gate JaxSim/runtime availability, honor model_pack/v1, harden parity gate
  .github/workflows/cross-engine-equivalence.yml
  scripts/ci/assert_required_parity_ran.py
  src/engines/loaders.py
  src/shared/python/config/model_pack_manifest.py
  src/shared/python/config/model_registry.py
  src/shared/python/engine_core/engine_manager.py
  tests/ci/test_assert_required_parity_ran.py
  tests/ci/test_ci_infrastructure.py
  tests/engines/common/test_loaders_jaxsim_guard.py
  tests/unit/config/test_model_pack_manifest.py
  tests/unit/config/test_model_registry_startup_clean.py
  tests/unit/shared_python/test_engine_manager_extended.py
  tests/unit/test_engine_manager.py
  tests/unit/test_engine_manager_availability_guard.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(test): align provider catalog test with canonical Movement_Optimizer name
  tests/unit/config/test_provider_catalog.py
Due: pytest-unit

fix(physics): canonical JaxSim Jacobian + close conformance gate hole
  src/engines/physics_engines/jaxsim/jaxsim_backend.py
  src/shared/python/engine_core/cross_engine_validator.py
  tests/integration/cross_engine/test_conformance_harness.py
  tests/unit/engines/test_jaxsim_backend.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(launcher): wire/retire dead GUI controls (#6901 #6902 #6903)
  src/launchers/_shot_tracer_gui.py
  src/launchers/jaxsim_dashboard.py
  src/launchers/launcher_ui_setup.py
  tests/launchers/test_launcher_ui_setup.py
  tests/launchers/test_shot_tracer.py
  tests/launchers/wave8_dashboards/test_jaxsim_dashboard.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(security): authenticate excluded HTTP routes on WS-mixed routers (#6888, #6889)
  src/api/route_registry.py
  src/api/server.py
  tests/unit/api/test_excluded_router_http_auth.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
