Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

docs: record native import fix and Drake extension limits
  docs/development/simscape_tour_matching/MULTI_ENGINE_NATIVE_PROGRAM.md
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
Due: none

docs: qualify run18 marker agreement and preserve failed Drake state parity
  docs/development/drake_native_matching/HANDOFF.md
  docs/development/drake_native_matching/evidence/run18/default-parity.json
  docs/development/drake_native_matching/evidence/run18/diagnostic.json
  docs/development/drake_native_matching/evidence/run18/raw-evidence.zip
  docs/development/drake_native_matching/evidence/run18/tight-parity.json
  docs/development/drake_native_matching/reproduction/archive_run18.py
  docs/development/drake_native_matching/reproduction/diagnose_run18.py
  docs/development/drake_native_matching/reproduction/replay_candidate_parity.py
  docs/development/drake_native_matching/reproduction/runtime_versions.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: record transition coordinate sensitivity evidence
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
Due: none

docs: localize run18 rate sensitivity in shoulder Euler coordinates
  docs/development/drake_native_matching/HANDOFF.md
  docs/development/drake_native_matching/evidence/run18/raw-shoulder-chart.zip
  docs/development/drake_native_matching/evidence/run18/shoulder-chart.json
Due: none

docs: finalize engine parity handoff and shoulder evidence pointers
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
Due: none

feat: prepare native warm starts within original control bounds
  src/shared/python/motion_matching/native_restart.py
  tests/unit/motion_matching/test_native_restart.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: preserve restart audit and live recentered fitting trial
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/ms_recenter_9967_19/config.json
  docs/development/simscape_tour_matching/native_evidence/ms_recenter_9967_19/derivative-audit.json
  docs/development/simscape_tour_matching/native_evidence/ms_recenter_9967_19/distinct-seed-trial.json
  docs/development/simscape_tour_matching/native_evidence/ms_recenter_9967_19/failed-restart-audit.json
  docs/development/simscape_tour_matching/native_evidence/ms_recenter_9967_19/initial-defects.json
  docs/development/simscape_tour_matching/native_evidence/ms_recenter_9967_19/raw-distinct-seed-audit.zip
  docs/development/simscape_tour_matching/native_evidence/ms_recenter_9967_19/raw-failed-restart-audit.zip
  docs/development/simscape_tour_matching/native_evidence/ms_recenter_9967_19/runtime-and-runners.zip
Due: none

docs: quantify reconstructed seed physical angular velocity differences
  docs/development/drake_native_matching/HANDOFF.md
  docs/development/drake_native_matching/evidence/reconstructed-seed/angular-diagnostic.json
  docs/development/drake_native_matching/evidence/reconstructed-seed/raw-evidence.zip
  docs/development/drake_native_matching/reproduction/archive_restart_angular.py
  docs/development/drake_native_matching/reproduction/diagnose_restart_angular.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: audit run18 numerical effort bounds and actual polynomial profiles
  docs/development/mujoco_native_matching/HANDOFF.md
  docs/development/mujoco_native_matching/RUN18_EFFORT_AUDIT.md
  docs/development/mujoco_native_matching/audit_effort_bounds.py
  docs/development/mujoco_native_matching/evidence/raw-run18-effort-audit.zip
  docs/development/mujoco_native_matching/evidence/run18-effort-report.json
  docs/development/mujoco_native_matching/test_effort_audit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(quarantine): burn down 32 quarantined headless and api integration tests (#8766)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  scripts/config/unit_gate_quarantine.json
Due: none

docs: record live fit audit and actionable effort-bound evidence
  docs/development/simscape_tour_matching/MULTI_ENGINE_NATIVE_PROGRAM.md
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/ms_recenter_9967_19/evaluation6-audit.json
  docs/development/simscape_tour_matching/native_evidence/ms_recenter_9967_19/raw-evaluation6-audit.zip
Due: none

feat: support explicit selected control-bound continuation
  src/shared/python/motion_matching/native_restart.py
  tests/unit/motion_matching/test_native_control_envelope.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: checkpoint running fit and planned bound continuation
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/ms_recenter_9967_19/evaluation24-audit.json
  docs/development/simscape_tour_matching/native_evidence/ms_recenter_9967_19/raw-evaluation24-audit.zip
Due: none

feat: record conditioned 0.80s transition candidate
  candidates/candidate_transition_conditioned_080s_package.json
Due: none

docs: decompose run18 marker error into global pose and shape residual
  docs/development/mujoco_native_matching/HANDOFF.md
  docs/development/mujoco_native_matching/RUN18_GLOBAL_RIGID_AUDIT.md
  docs/development/mujoco_native_matching/audit_rigid_marker_errors.py
  docs/development/mujoco_native_matching/evidence/raw-run18-global-rigid-audit.zip
  docs/development/mujoco_native_matching/evidence/run18-global-rigid-report.json
  docs/development/mujoco_native_matching/test_rigid_error_audit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(quarantine): burn down 18 quarantined headless and ai adapter tests (#8766)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  scripts/config/unit_gate_quarantine.json
Due: none

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
