Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

fix(ci): add file-size exception for launcher_diagnostics.py (1236 lines)
  scripts/config/file_size_budget.json
Due: none

fix(ci): exclude upstream-drift from pip-audit freeze to avoid direct-ref failure
  .github/workflows/ci-standard.yml
Due: none

chore(ci): add launcher_diagnostics.py size budget exception
  scripts/config/file_size_budget.json
Due: none

chore(sidekick): close T2 and T5 with targeted tests (#6521)
  SPEC.md
  VERSION
  scripts/config/file_size_budget.json
  src/shared/python/sidekick/__main__.py
  src/shared/python/sidekick/standalone/runner.py
  tests/integration/sidekick/test_profile_round_trip.py
  tests/unit/sidekick/standalone/test_run.py
  tests/unit/sidekick/standalone/test_window.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): add T4 headless run SPEC.md entry for freshness check
  SPEC.md
Due: none

chore(ratchet): bump error-handling baseline to match post-#6501/#6513/#6514 counts
  scripts/config/error_handling_baseline.json
Due: none

fix(settings-dialog): use launcher reference instead of parent
  src/launchers/settings_dialog.py
  tests/launchers/test_settings_dialog.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(version): sync version surfaces to 2.1.1
  Cargo.toml
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  rust_core/upstream-physics/pyproject.toml
  src/api/_version.py
  ui/package.json
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(sidekick): handle calculation exceptions in protocol path and resolve mypy issues
  src/shared/python/sidekick/standalone/runner.py
  tests/unit/sidekick/standalone/test_run.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(mujoco): hold QApplication reference in humanoid launcher tests
  tests/unit/engines/physics_engines/mujoco/test_humanoid_launchers.py
Due: pytest-unit

fix(logging): redact entire unquoted secret value past commas
  src/shared/python/logging_pkg/logging_config.py
  tests/unit/test_logging_config.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(security): redact full unquoted credential values that contain commas (#6523)
  scripts/config/error_handling_baseline.json
  src/shared/python/logging_pkg/logging_config.py
  tests/unit/test_logging_config.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): exclude upstream-drift from pip-audit freeze to handle direct-ref entries (#6525)
  .github/workflows/ci-standard.yml
Due: none

ci: correct actions and cache/github-script to support Node 20 runner compatibility
  .github/workflows/Jules-Control-Tower.yml
  .github/workflows/Jules-Redundant-Issue-Closer.yml
  .github/workflows/Manual-Run-All.yml
  .github/workflows/Verify-Issue-Closure.yml
  .github/workflows/auto-update-prs.yml
  .github/workflows/ci-optional-stack.yml
  .github/workflows/ci-standard.yml
  .github/workflows/humanoid-models-drift.yml
  .github/workflows/nightly-cross-engine.yml
  .github/workflows/spec-check.yml
Due: none

fix: update leaderboard git_head to valid ancestor commit
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/motion_matching/results/.leaderboard_meta.json
Due: none
