Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

fix(launcher): make the two launcher manifests agree by contract
  scripts/sync_launcher_manifest.py
  src/config/launcher_manifest.json
  src/config/launcher_manifest_loader.py
  src/config/launcher_parity.py
  src/config/models.yaml
  tests/config/launcher_manifest/test_motion_target_preview_tile.py
  tests/config/launcher_manifest/test_registry_manifest_parity.py
  tests/config/test_launcher_manifest.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(launcher): report one build version on every user-facing surface
  src/launchers/custom_title_bar.py
  src/shared/python/core/version.py
  tests/unit/launchers/test_version_surface_consistency.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ui,api): align dev proxy port, self-heal WS launcher token, replace dead-end loading states
  src/api/routes/canonical_core.py
  tests/unit/api/test_routes_canonical_core.py
  ui/README.md
  ui/src/api/client.ts
  ui/src/api/fetch.ts
  ui/src/api/fetchTimeout.test.ts
  ui/src/api/useSimulation.test.ts
  ui/src/api/useSimulationLauncherGuard.test.tsx
  ui/src/api/websocketToken.test.ts
  ui/src/api/websocketToken.ts
  ui/src/config/devProxy.ts
  ui/src/pages/CanonicalCoreShell.test.tsx
  ui/src/pages/CanonicalCoreShell.tsx
  ui/src/pages/MotionCapture.tsx
  ui/src/pages/MotionCaptureSourceStates.test.tsx
  ui/src/test/vite-proxy-contract.test.ts
  ui/tsconfig.node.json
  ui/vite.config.ts
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

fix(launcher): contain tile-launch failures instead of killing the launcher
  src/bunkershot3d/__init__.py
  src/bunkershot3d/backends/mpm/driver.py
  src/launchers/exercise_dashboard.py
  src/launchers/launcher_crash_policy.py
  src/launchers/launcher_failure_messages.py
  src/launchers/launcher_failure_reporting.py
  src/launchers/launcher_model_handlers.py
  src/launchers/launcher_package_mains.py
  src/launchers/launcher_provider_asset_handler.py
  src/launchers/launcher_simulation.py
  src/launchers/shot_tracer.py
  src/launchers/upstream_drift_launcher_main.py
  src/shared/python/pendulum_simulator/gui/perturbation_panel.py
  tests/launchers/test_launcher_simulation.py
  tests/launchers/test_qa_launcher_crash_containment.py
  tests/launchers/test_qa_tile_launch_survival.py
  tests/launchers/wave8_dashboards/test_exercise_dashboard.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(launcher): make Setup Wizard actually open and unblock local WebSockets
  src/api/auth/ws_auth.py
  src/api/local_server.py
  src/api/server.py
  src/tools/config_setup_wizard/_embed_adapter.py
  tests/launchers/test_config_setup_wizard_tile.py
  tests/unit/api/test_launcher_capability_token.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(security): preserve trusted-path diagnostic contract
  src/shared/python/security/secure_subprocess.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(qa): restore Tools ownership of shared chat widget
  src/shared/python/chat/_chat_dock_widget_qt.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(sidekick): harden classic launcher startup
  SPEC.md
  docs/testing/sidekick-pyqt6-startup-matrix.md
  launch_upstream_drift.py
  src/api/auth/launcher_capability.py
  src/api/routes/observability.py
  src/api/server.py
  src/launchers/launcher_sidekick_sidebar.py
  src/launchers/sidekick_readiness.py
  src/launchers/sidekick_runtime.py
  src/launchers/upstream_drift_launcher.py
  tests/unit/api/test_launcher_capability.py
  tests/unit/api/test_routes_observability.py
  tests/unit/launcher/test_sidekick_readiness.py
  tests/unit/launcher/test_sidekick_runtime_startup.py
  tests/unit/launcher/test_sidekick_startup_coordination.py
  tests/unit/test_launch_upstream_drift_bootstrap.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(sidekick): enforce canonical Tools ownership
  SPEC.md
  docs/testing/sidekick-pyqt6-startup-matrix.md
  tests/unit/repo_hygiene/test_tools_child_copy_contract.py
Due: pytest-unit

test(sidekick): cover newly added child copies
  SPEC.md
  docs/testing/sidekick-pyqt6-startup-matrix.md
  tests/unit/repo_hygiene/test_tools_child_copy_contract.py
Due: pytest-unit

fix(sidekick): recover API after runtime exit
  SPEC.md
  docs/testing/sidekick-pyqt6-startup-matrix.md
  src/launchers/upstream_drift_launcher.py
  tests/unit/launcher/test_sidekick_startup_coordination.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(sidekick): classify pinned Tools shadows
  SPEC.md
  docs/testing/sidekick-pyqt6-startup-matrix.md
  scripts/config/shadow_modules.yaml
Due: none

test(sidekick): cover delayed and failed API launch
  docs/testing/sidekick-pyqt6-startup-matrix.md
  tests/unit/launcher/test_sidekick_startup_coordination.py
Due: pytest-unit

fix(c3d): load bundled C3D fixtures and reject invalid files cleanly
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/c3d_viewer.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/run_c3d_viewer.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/services/loader_thread.py
  src/shared/python/sidekick/lab/bio/_c3d_io.py
  src/shared/python/sidekick/lab/bio/_c3d_markers.py
  tests/integration/test_c3d_bundled_fixtures.py
  tests/integration/test_c3d_viewer_wrapper.py
  tests/ui/test_c3d_viewer_headless.py
  tests/unit/sidekick/lab/bio/test_c3d_io.py
  tests/unit/sidekick/lab/bio/test_c3d_markers.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(testing): expand functional test matrix to full surface coverage
  docs/testing/functional-test-plan.md
  scripts/testing/enumerate_test_surface.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(tests): repair four default-collection breakages (#7957 #7958 #7959 #7960 #7912)
  pyproject.toml
  src/shared/python/cors.py
  src/shared/python/humanoid_character_builder/tests/test_preview.py
  src/shared/python/movement_optimizer/tests/_helpers.py
  src/shared/python/movement_optimizer/tests/conftest.py
  src/shared/python/movement_optimizer/tests/test_cli.py
  src/shared/python/movement_optimizer/tests/test_comparison.py
  src/shared/python/movement_optimizer/tests/test_exercise_tab.py
  src/shared/python/movement_optimizer/tests/test_export.py
  src/shared/python/movement_optimizer/tests/test_export_excel.py
  src/shared/python/movement_optimizer/tests/test_import.py
  src/shared/python/movement_optimizer/tests/test_install_nightly_system_deps.py
  src/shared/python/movement_optimizer/tests/test_issue_217_decompose.py
  src/shared/python/movement_optimizer/tests/test_issue_222_decompose.py
  src/shared/python/movement_optimizer/tests/test_main_window.py
  src/shared/python/movement_optimizer/tests/test_movement_provider_manifest.py
  src/shared/python/movement_optimizer/tests/test_observability_metrics.py
  src/shared/python/movement_optimizer/tests/test_persistence.py
  src/shared/python/movement_optimizer/tests/test_session_state.py
  src/shared/python/movement_optimizer/tests/test_thread_safety.py
  src/shared/python/theme/matplotlib_style.py
  tests/unit/test_pytest_markers_registered.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(lod): avoid model.opt.gravity chain in induced acceleration
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/rigid_body_dynamics/induced_acceleration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(qa): clarify canonical Sidekick ownership
  docs/testing/functional-test-plan.md
Due: none

test(ci): harden Tools child-copy enforcement
  .github/workflows/ci-standard.yml
  SPEC.md
  docs/testing/sidekick-pyqt6-startup-matrix.md
  tests/ci/test_ci_infrastructure.py
  tests/unit/repo_hygiene/test_tools_child_copy_contract.py
Due: pytest-unit

fix(sidekick): harden source and restart contracts
  SPEC.md
  docs/testing/sidekick-pyqt6-startup-matrix.md
  src/launchers/launcher_sidekick_sidebar.py
  src/launchers/sidekick_runtime.py
  src/launchers/upstream_drift_launcher.py
  tests/unit/launcher/test_sidekick_runtime_startup.py
  tests/unit/launcher/test_sidekick_startup_coordination.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(testing): record Sidekick disconnect recovery
  docs/testing/sidekick-pyqt6-startup-matrix.md
Due: none

chore(sidekick): pin protected Tools runtime
  SPEC.md
  docs/testing/sidekick-pyqt6-startup-matrix.md
Due: none

fix(sidekick): pass wheel and desktop acceptance gates
  SPEC.md
  docs/testing/sidekick-pyqt6-startup-matrix.md
  scripts/packaging/sidekick_binary_entrypoint.py
  sidekick.spec
  src/__init__.py
  src/launchers/launcher_sidekick_sidebar.py
  src/launchers/launcher_simulation.py
  src/launchers/upstream_drift_launcher.py
  tests/launchers/test_golf_launcher.py
  tests/launchers/test_launcher_simulation.py
  tests/unit/launcher/test_sidekick_startup_coordination.py
  tests/unit/packaging/test_pyinstaller_spec.py
  tests/unit/test_src_package_bootstrap.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

⚡ Bolt: Optimize boolean array reduction in jacobian diagnostics (#8106)
  .github/workflows/cross-engine-equivalence.yml
  .jules/bolt.md
  SPEC.md
  src/engines/common/jacobian_diagnostics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(numerics): pin Bolt kernel equivalence within 1e-12
  tests/numerics/__init__.py
  tests/numerics/test_bolt_kernel_equivalence.py
Due: pytest-unit

style: apply ruff format to numerics test
  tests/numerics/test_bolt_kernel_equivalence.py
Due: pytest-unit

fix(ci): materialize Tools for JaxSim guard
  .github/workflows/jaxsim-upgrade-guard.yml
  SPEC.md
  tests/ci/test_ci_infrastructure.py
Due: pytest-unit

fix(packaging): build wheel from pinned checkout
  .github/workflows/package-standalone-sidekick.yml
  SPEC.md
  tests/unit/packaging/test_standalone_sidekick_workflows.py
Due: pytest-unit

fix(sidekick): share Tools authority with API child
  SPEC.md
  docs/testing/sidekick-pyqt6-startup-matrix.md
  src/launchers/launcher_process_manager.py
  src/launchers/launcher_sidekick_sidebar.py
  src/launchers/tools_repo_path.py
  src/launchers/upstream_drift_launcher.py
  tests/launchers/test_launcher_process_manager.py
  tests/unit/launcher/test_sidekick_startup_coordination.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(diagnostics): separate provider model validation
  SPEC.md
  docs/testing/sidekick-pyqt6-startup-matrix.md
  src/launchers/launcher_diagnostics.py
  tests/unit/launchers/test_launcher_diagnostics_fixes.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

perf: use hypot for quaternion magnitude (#7902)
  SPEC.md
  src/unreal_integration/geometry.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: repair all 67 broken internal Markdown links under docs/
  docs/README.md
  docs/api/API_ARCHITECTURE.md
  docs/architecture/URDF_SUBSYSTEM_BOUNDARY.md
  docs/architecture/biomech_workspace.md
  docs/architecture/system_overview.md
  docs/development/DRY_ORTHOGONALITY_REFACTORING.md
  docs/development/GITHUB_ISSUES_TRACKING.md
  docs/development/agent_templates/README.md
  docs/development/prs/README.md
  docs/development/wsl_setup.md
  docs/engines/engine_selection_matrix.md
  docs/governance/SUBSYSTEM_STATUS.md
  docs/help/analysis_tools.md
  docs/help/engine_selection.md
  docs/help/motion_capture.md
  docs/help/simulation_controls.md
  docs/help/visualization.md
  docs/legal/patents/PATENT_REVIEW.md
  docs/legal/patents/patent_alerts_2026-02-18.md
  docs/motion_pipeline/README.md
  docs/plans/README.md
  docs/technical/README.md
  docs/testing/COVERAGE_RECOVERY_PLAN.md
  docs/testing/e2e_swing_analysis.md
  docs/troubleshooting/FAQ.md
  docs/tutorials/content/01_getting_started.md
  docs/tutorials/content/02_first_simulation.md
  docs/tutorials/content/03_engine_comparison.md
  docs/tutorials/content/04_video_analysis.md
  docs/user_guide/anthropometrics/quickstart.md
  docs/user_guide/launcher/cross_tool_demo.md
  docs/user_guide/launcher/embedded_view.md
  docs/user_guide/pose_studio/quickstart.md
  docs/user_guide/user_manual.md
Due: none

docs: fix getting-started/engine docs for the src/ layout and correct the capability matrix
  docs/engines/README.md
  docs/engines/drake.md
  docs/engines/engine_capabilities.md
  docs/engines/engine_selection_guide.md
  docs/engines/matlab.md
  docs/engines/mujoco.md
  docs/engines/myosim.md
  docs/engines/opensim.md
  docs/engines/pendulum.md
  docs/engines/pinocchio.md
  docs/engines/simscape.md
  docs/user_guide/configuration.md
  docs/user_guide/getting_started.md
  docs/user_guide/interactive_pose_manipulation.md
Due: none

docs: correct SPEC.md run/config surface, coverage floor, and test markers
  SPEC.md
  docs/operations/production-readiness.md
  pyproject.toml
Due: none

fix(launcher): stop Edit Layout Mode aborting the app; deliver console output
  src/launchers/launcher_ui_setup.py
  src/launchers/settings_dialog.py
  src/launchers/upstream_drift_launcher.py
  tests/launchers/test_golf_launcher.py
  tests/launchers/test_launcher_dialogs.py
  tests/launchers/test_launcher_ui_setup.py
  tests/launchers/test_settings_dialog.py
  tests/unit/launchers/test_launcher_menu_and_console.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: correct verify_installation path in docs and make the script pass on a healthy install
  README.md
  docs/troubleshooting/installation.md
  docs/tutorials/content/01_getting_started.md
  docs/user_guide/upstream_drift_user_manual.md
  scripts/ci/verify_installation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(deps): synchronize conda environment ordering
  environment.yml
Due: none
