Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

refactor(data_io): use importlib.util.find_spec for pandera probe
  src/shared/python/data_io/_schemas.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: clear repo-root clutter blocking quality-gate
  fix.py
  patch_local_server_main.py
  scripts/check_root_clutter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(ci): unblock quality-gate by clearing repo-root clutter
  fix.py
  patch_local_server_main.py
  scripts/check_root_clutter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix: resolve insecure tempfile usage in training controller gui
  src/tools/training_controller/gui.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: add concurrency block to release workflow
  .github/workflows/release.yml
Due: none

test: fix root link body resolution in MuJoCo FK equivalence test
  tests/integration/test_urdf_cross_engine_fk.py
Due: pytest-unit

fix: use defusedxml in URDF cross-engine FK test to resolve Semgrep finding
  tests/integration/test_urdf_cross_engine_fk.py
Due: pytest-unit

fix: prioritize existFrame in Pinocchio FK equivalence test
  tests/integration/test_urdf_cross_engine_fk.py
Due: pytest-unit

chore: clean anthropometric distance update
  src/shared/python/motion_pipeline/scaling/anthropometric.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: clean anthropometric scaling update
  SPEC.md
  src/shared/python/motion_pipeline/scaling/anthropometric.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

data: add CMU MoCap subject 64 (golf) trials 01-15
  data/cmu_mocap/subject_64/64.asf
  data/cmu_mocap/subject_64/64_01.amc
  data/cmu_mocap/subject_64/64_01.c3d
  data/cmu_mocap/subject_64/64_02.amc
  data/cmu_mocap/subject_64/64_02.c3d
  data/cmu_mocap/subject_64/64_03.amc
  data/cmu_mocap/subject_64/64_03.c3d
  data/cmu_mocap/subject_64/64_04.amc
  data/cmu_mocap/subject_64/64_04.c3d
  data/cmu_mocap/subject_64/64_05.amc
  data/cmu_mocap/subject_64/64_05.c3d
  data/cmu_mocap/subject_64/64_06.amc
  data/cmu_mocap/subject_64/64_06.c3d
  data/cmu_mocap/subject_64/64_07.amc
  data/cmu_mocap/subject_64/64_07.c3d
  data/cmu_mocap/subject_64/64_08.amc
  data/cmu_mocap/subject_64/64_08.c3d
  data/cmu_mocap/subject_64/64_09.amc
  data/cmu_mocap/subject_64/64_09.c3d
  data/cmu_mocap/subject_64/64_10.amc
  data/cmu_mocap/subject_64/64_10.c3d
  data/cmu_mocap/subject_64/64_11.amc
  data/cmu_mocap/subject_64/64_11.c3d
  data/cmu_mocap/subject_64/64_12.amc
  data/cmu_mocap/subject_64/64_12.c3d
  data/cmu_mocap/subject_64/64_13.amc
  data/cmu_mocap/subject_64/64_13.c3d
  data/cmu_mocap/subject_64/64_14.amc
  data/cmu_mocap/subject_64/64_14.c3d
  data/cmu_mocap/subject_64/64_15.amc
  data/cmu_mocap/subject_64/64_15.c3d
  data/cmu_mocap/subject_64/README.md
Due: none

fix(launcher): skip dependency checks during loading layout
  src/launchers/upstream_drift_launcher.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(simulation): GPU-ready MuJoCo Warp + MuJoCo CPU backend abstraction
  AGENTS.md
  docs/adr/0023-mujoco-warp-backend.md
  docs/adr/0024-differentiable-backend.md
  docs/simulation_backends/README.md
  examples/simulation_backends/parameter_sweep.py
  pyproject.toml
  src/shared/python/simulation_backends/README.md
  src/shared/python/simulation_backends/__init__.py
  src/shared/python/simulation_backends/batched.py
  src/shared/python/simulation_backends/capabilities.py
  src/shared/python/simulation_backends/exceptions.py
  src/shared/python/simulation_backends/factory.py
  src/shared/python/simulation_backends/mjcf.py
  src/shared/python/simulation_backends/mjwarp_backend.py
  src/shared/python/simulation_backends/model_params.py
  src/shared/python/simulation_backends/mujoco_backend.py
  src/shared/python/simulation_backends/ode_backend.py
  src/shared/python/simulation_backends/protocol.py
  src/shared/python/simulation_backends/trace_io.py
  src/shared/python/simulation_backends/validation.py
  src/shared/python/simulation_backends/ztcf_zvcf.py
  tests/unit/simulation_backends/__init__.py
  tests/unit/simulation_backends/test_batched.py
  tests/unit/simulation_backends/test_factory.py
  tests/unit/simulation_backends/test_foundation.py
  tests/unit/simulation_backends/test_mjwarp_backend.py
  tests/unit/simulation_backends/test_mujoco_backend.py
  tests/unit/simulation_backends/test_ode_backend.py
  tests/unit/simulation_backends/test_trace_io.py
  tests/unit/simulation_backends/test_validation.py
  tests/unit/simulation_backends/test_ztcf_zvcf.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(simulation): Simulation Backends launcher tile + full test coverage
  CHANGELOG.md
  docs/simulation_backends/README.md
  docs/simulation_backends/USER_GUIDE.md
  src/config/launcher_manifest.json
  src/launchers/embedded_tool_bootstrap.py
  src/shared/python/simulation_backends/batched.py
  src/tools/simulation_backends_launcher/README.md
  src/tools/simulation_backends_launcher/__init__.py
  src/tools/simulation_backends_launcher/__main__.py
  src/tools/simulation_backends_launcher/_embed_adapter.py
  src/tools/simulation_backends_launcher/gui.py
  tests/ui/tools/simulation_backends/__init__.py
  tests/ui/tools/simulation_backends/conftest.py
  tests/ui/tools/simulation_backends/test_embed_adapter.py
  tests/ui/tools/simulation_backends/test_gui.py
  tests/ui/tools/simulation_backends/test_gui_window.py
  tests/unit/simulation_backends/test_backends_extra.py
  tests/unit/simulation_backends/test_io_validation_extra.py
  tests/unit/simulation_backends/test_mjwarp_mocked.py
  tests/unit/simulation_backends/test_model_params_extra.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): record simulation_backends layer + launcher tile in SPEC.md
  SPEC.md
Due: none

docs(adr): register ADR-0023 and ADR-0024 in the ADR index
  docs/adr/README.md
Due: none

fix(simulation): mypy ndarray shape typing + docs catalog entry
  docs/index.md
  src/shared/python/simulation_backends/ode_backend.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(gui): annotate engine comparison conventions
  SPEC.md
  src/launchers/cross_engine_dashboard.py
  tests/launchers/wave8_dashboards/test_cross_engine_dashboard_logic.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: route dependency error click to configuration and warn for missing optional packages
  src/launchers/launcher_ui_setup.py
  src/launchers/settings_dialog.py
  src/launchers/upstream_drift_launcher.py
  tests/launchers/test_settings_dialog.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: add user preference to configure tab close confirmation behavior
  src/launchers/external_tools_adapter.py
  src/shared/python/gui_pkg/draggable_tabs.py
  src/shared/python/ui/preferences_dialog.py
  tests/launchers/test_workspace_tabs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(launcher): consolidate startup tiles, api deps, and quiet docker probe fixes
  pyproject.toml
  src/launchers/startup.py
  tests/launchers/test_golf_launcher_startup_timeout.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
