Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

test: enforce structural support consistency
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_propagation_plan.json
  scripts/research/proximal_distal_energy/articulated_structural_cell_evidence.py
  scripts/research/proximal_distal_energy/articulated_structural_propagation_plan.py
  tests/research/test_articulated_structural_cell_evidence.py
  tests/research/test_articulated_structural_propagation_plan.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test: assemble structural figure data
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_propagation_plan.json
  scripts/research/proximal_distal_energy/articulated_structural_figure_data.py
  scripts/research/proximal_distal_energy/articulated_structural_propagation_plan.py
  tests/research/test_articulated_structural_figure_data.py
  tests/research/test_articulated_structural_propagation_plan.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test: validate structural figure data
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_propagation_plan.json
  scripts/research/proximal_distal_energy/articulated_structural_figure_data.py
  scripts/research/proximal_distal_energy/articulated_structural_propagation_plan.py
  tests/research/test_articulated_structural_figure_data.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test: render structural evidence figure
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_propagation_plan.json
  scripts/research/proximal_distal_energy/articulated_structural_figure.py
  scripts/research/proximal_distal_energy/articulated_structural_propagation_plan.py
  tests/research/test_articulated_structural_figure.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: record stiffness-high checkpoint
  AGENT_HANDOFF.md
Due: none

test: publish structural evidence bundle
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_propagation_plan.json
  scripts/research/proximal_distal_energy/articulated_structural_figure.py
  scripts/research/proximal_distal_energy/articulated_structural_propagation_plan.py
  scripts/research/proximal_distal_energy/articulated_structural_publication.py
  tests/research/test_articulated_structural_publication.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: record stiffness-high branch progress
  AGENT_HANDOFF.md
Due: none

test: expose structural publication command
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_propagation_plan.json
  scripts/research/proximal_distal_energy/articulated_structural_propagation_plan.py
  scripts/research/proximal_distal_energy/articulated_structural_publication.py
  tests/research/test_articulated_structural_publication.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test: bind structural figure provenance
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_propagation_plan.json
  scripts/research/proximal_distal_energy/articulated_structural_figure.py
  scripts/research/proximal_distal_energy/articulated_structural_propagation_plan.py
  tests/research/test_articulated_structural_figure.py
  tests/research/test_articulated_structural_publication.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test: reconcile structural axis summaries
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_propagation_plan.json
  scripts/research/proximal_distal_energy/articulated_structural_figure_data.py
  scripts/research/proximal_distal_energy/articulated_structural_propagation_plan.py
  tests/research/test_articulated_structural_figure.py
  tests/research/test_articulated_structural_figure_data.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: record validated branch checkpoints
  AGENT_HANDOFF.md
Due: none

test: audit articulated branch checkpoints
  AGENT_HANDOFF.md
  scripts/research/proximal_distal_energy/articulated_checkpoint_audit.py
  tests/research/test_articulated_checkpoint_audit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test: distinguish complete checkpoint states
  AGENT_HANDOFF.md
  scripts/research/proximal_distal_energy/articulated_checkpoint_audit.py
  tests/research/test_articulated_checkpoint_audit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(api): add immutable launch monitor dataset jobs
  AGENT_HANDOFF.md
  docs/adr/0036-immutable-launch-monitor-dataset-jobs.md
  docs/api/contracts/launch-monitor-dataset-job-v1.schema.json
  docs/user_guide/launch_monitor_analytics.md
  scripts/generate_launch_monitor_contract.py
  src/api/routes/launch_monitor_analytics.py
  src/api/services/launch_monitor_dataset_jobs.py
  src/shared/python/launch_monitor/__init__.py
  src/shared/python/launch_monitor/dataset_reference.py
  src/shared/python/launch_monitor/dataset_reference_contract.py
  src/shared/python/launch_monitor/dataset_reference_operations.py
  src/shared/python/launch_monitor/dataset_reference_verification.py
  tests/api/test_launch_monitor_dataset_jobs.py
  tests/api/test_route_registry.py
  tests/unit/launch_monitor/test_dataset_reference_jobs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test: bind checkpoint audit design
  AGENT_HANDOFF.md
  scripts/research/proximal_distal_energy/articulated_checkpoint_audit.py
  tests/research/test_articulated_checkpoint_audit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test: audit articulated campaign records
  AGENT_HANDOFF.md
  scripts/research/proximal_distal_energy/articulated_headline_record_audit.py
  tests/research/test_articulated_headline_record_audit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(spec): define immutable dataset jobs
  SPEC.md
Due: none

fix(docs): renumber dataset jobs ADR to 0037, update ADR index, satisfy LOD gate, and update SPEC.md
  SPEC.md
  docs/adr/0037-immutable-launch-monitor-dataset-jobs.md
  docs/adr/README.md
  src/api/services/launch_monitor_dataset_jobs.py
  src/shared/python/launch_monitor/dataset_reference_operations.py
  src/shared/python/launch_monitor/dataset_reference_verification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test: reconcile articulated uncertainty claims
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/data/claim_audit_registry.json
  docs/research/proximal_distal_energy_transfer/data/claim_candidate_inventory.json
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  scripts/research/proximal_distal_energy/register_articulated_uncertainty_claims.py
  tests/research/test_articulated_uncertainty_claim_evidence.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: record expanded branch checkpoint
  AGENT_HANDOFF.md
Due: none

test: align model completion predictions
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/data/model_completion_predictions.json
  tests/research/test_model_completion_prediction_alignment.py
  tests/unit/biomechanics/test_interaction_evidence.py
Due: pytest-unit

docs: record forty-five branch checkpoints
  AGENT_HANDOFF.md
Due: none

docs: record forty-seven branch checkpoints
  AGENT_HANDOFF.md
Due: none

test: define structural atlas runtime authority
  AGENT_HANDOFF.md
  scripts/research/proximal_distal_energy/articulated_atlas_runtime_authority.py
  tests/research/test_articulated_atlas_runtime_authority.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(api): regenerate ui/src/api/generated/types.ts with dataset job types
  ui/src/api/generated/types.ts
Due: no-debugger

fix(api): refresh generated UI contract
  ui/src/api/generated/types.ts
Due: no-debugger

feat(api): align generated types ValidationError schema with CI runner
  ui/src/api/generated/types.ts
Due: no-debugger

test: stabilize structural model identity
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_propagation_plan.json
  scripts/research/proximal_distal_energy/articulated_atlas_authority.py
  scripts/research/proximal_distal_energy/articulated_structural_propagation_plan.py
  tests/research/test_articulated_atlas_authority.py
  tests/research/test_articulated_atlas_runtime_authority.py
  tests/research/test_articulated_structural_propagation_plan.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: record sixty-two branch checkpoints
  AGENT_HANDOFF.md
Due: none

test: bind portable structural evidence
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
Due: none

docs: record sixty-five branch checkpoints
  AGENT_HANDOFF.md
Due: none

feat(api): restore full ValidationError schema in generated types
  ui/src/api/generated/types.ts
Due: no-debugger

test: bind structural checkpoint identities
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_propagation_plan.json
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  scripts/research/proximal_distal_energy/articulated_structural_propagation_plan.py
  tests/research/test_articulated_structural_propagation_plan.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: record third headline corner
  AGENT_HANDOFF.md
Due: none

feat(launch-monitor): add player covariation contract
  docs/adr/0038-launch-monitor-player-covariation-contract.md
  docs/adr/README.md
  docs/api/contracts/fixtures/launch-monitor-player-covariation-v1.golden.json
  docs/api/contracts/launch-monitor-player-covariation-v1.schema.json
  docs/api/launch_monitor_analytics.md
  docs/user_guide/launch_monitor_analytics.md
  scripts/generate_launch_monitor_contract.py
  src/api/routes/launch_monitor_analytics.py
  src/shared/python/launch_monitor/__init__.py
  src/shared/python/launch_monitor/contract_v2.py
  src/shared/python/launch_monitor/player_covariation.py
  src/shared/python/launch_monitor/player_covariation_core.py
  src/shared/python/launch_monitor/player_covariation_types.py
  tests/api/test_routes_launch_monitor_covariation.py
  tests/unit/launch_monitor/test_player_covariation_contract.py
  ui/src/api/generated/types.ts
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

fix(launch-monitor): validate population weights
  src/shared/python/launch_monitor/player_covariation_types.py
  tests/unit/launch_monitor/test_player_covariation_contract.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(launch-monitor): cover covariation scan fixture
  docs/api/contracts/fixtures/launch-monitor-player-covariation-v1.golden.json
  scripts/generate_launch_monitor_contract.py
  tests/unit/launch_monitor/test_player_covariation_contract.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test(launch-monitor): structure missing-column errors
  tests/api/test_routes_launch_monitor_covariation.py
Due: pytest-unit

test(launch-monitor): verify population heterogeneity
  tests/unit/launch_monitor/test_player_covariation_contract.py
Due: pytest-unit

test: resolve structural execution identity
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_propagation_plan.json
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  scripts/research/proximal_distal_energy/articulated_structural_execution_identity.py
  scripts/research/proximal_distal_energy/articulated_structural_propagation_plan.py
  tests/research/test_articulated_structural_execution_identity.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit
