Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

fix(jules): gate Issue-Mention-Handler on @jules mention + non-bot author
  .github/workflows/Jules-Issue-Mention-Handler.yml
Due: none

fix(ci): enable workflow cancellation
  .github/workflows/Jules-Issue-Mention-Handler.yml
Due: none

ci: add concurrency to touched workflows
  .github/workflows/humanoid-models-drift.yml
  .github/workflows/spec-check.yml
Due: none

chore: remove root-clutter debris fix.py + patch_local_server_main.py
  fix.py
  patch_local_server_main.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

chore: expand CLAUDE.md brace-expansion paths to literal paths
  CLAUDE.md
Due: none

docs: record strokes gained optimizer epic in roadmap (#6336)
  SPEC.md
  docs/issues/ROADMAP_ISSUES.md
  src/shared/python/sg_optimizer/__init__.py
  src/tools/sg_optimizer/__init__.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): exclude local upstream-drift package from pip-audit freeze
  .github/workflows/ci-standard.yml
Due: none

chore: bump VERSION/Cargo/rust_core to 2.1.1 to match SPEC.md
  Cargo.toml
  VERSION
  pyproject.toml
  rust_core/upstream-physics/pyproject.toml
Due: none

chore: bump src/api/_version.py + ui/package.json to 2.1.1 (continued)
  src/api/_version.py
  ui/package.json
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Fix regex for log redaction to stop at common delimiters (#6406)
  docs/issues/ROADMAP_ISSUES.md
  src/shared/python/logging_pkg/logging_config.py
  src/shared/python/sg_optimizer/__init__.py
  src/tools/sg_optimizer/__init__.py
  tests/unit/test_logging_config.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Cache trigonometric sums in compute_coordination_metrics (#6497)
  SPEC.md
  src/shared/python/analysis/coordination_metrics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: remove root-clutter debris fix.py + patch_local_server_main.py (#6493)
  CLAUDE.md
  Cargo.toml
  VERSION
  fix.py
  patch_local_server_main.py
  pyproject.toml
  rust_core/upstream-physics/pyproject.toml
  src/api/_version.py
  src/api/routes/video.py
  src/launchers/launcher_constants.py
  src/shared/python/realtime/__init__.py
  src/shared/python/sidekick/ui/tools_sidebar/registry.py
  ui/package.json
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(launcher): resolve crashes, settings, and tools sidebar integration (#6295)
  src/launchers/assets/training_controller.png
  src/tools/ball_flight_gui/_embed_adapter.py
  src/tools/bunker_shot_gui/_embed_adapter.py
  src/tools/golf_environment/_embed_adapter.py
  src/tools/golf_simulation_suite/_embed_adapter.py
  src/tools/putting_green_gui/_embed_adapter.py
  src/tools/terrain_engine/_embed_adapter.py
  src/tools/training_controller/__init__.py
  src/tools/training_controller/_embed_adapter.py
  src/tools/video_analyzer/_embed_adapter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

[sg-optimizer Phase 6] AffineDrift integration (research) (#6340)
  .github/workflows/ci-standard.yml
  .github/workflows/humanoid-models-drift.yml
  .github/workflows/quality-gate.yml
  .github/workflows/spec-check.yml
  docs/issues/ROADMAP_ISSUES.md
Due: none

fix(jules): gate Issue-Mention-Handler on @jules mention + non-bot author (#6370)
  .github/workflows/Jules-Issue-Mention-Handler.yml
Due: none

fix(ws): validate speed_factor finiteness and timestep/duration bounds (#6403)
  src/api/routes/simulation_ws.py
  tests/unit/api/test_simulation_ws.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Fix MyoSuite engine registration test (#6413)
  tests/unit/motion_matching/conftest.py
  tests/unit/motion_matching/test_mock_kinematics_service.py
Due: pytest-unit

Fix GitHub Issue #6065: test(docs): wire ADR numbering governance checks (#6454)
  .github/workflows/docs-ci.yml
  tests/scripts/test_doc_governance_checks.py
  tests/unit/scripts/test_docs_ci_governance.py
Due: pytest-unit

fix: clarify Pinocchio stub status, resolve stale TODO referencing #4095 (#6465)
  src/engines/physics_engines/pinocchio/python/motion_matching/__init__.py
  src/engines/physics_engines/pinocchio/python/motion_matching/club_target_adapter.py
  src/shared/python/pose_interchange/adapters/pinocchio.py
  src/shared/python/pose_interchange/services/pinocchio.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): exclude local upstream-drift package from pip-audit freeze (#6490)
  .github/workflows/ci-standard.yml
Due: none

fix(tests): repair pre-existing CI failures blocking PR #6500
  src/shared/python/launcher_embed/contract.py
  src/shared/python/motion_matching/provider.py
  tests/api/__init__.py
  tests/security/__init__.py
  tests/test_compact_swing_dataset_compactor.py
  tests/test_load_compact_swing_dataset.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): broaden ci-standard runner label to d-sorg-fleet
  .github/workflows/ci-standard.yml
Due: none

fix(tests): align test_launcher_dialogs assertions with current implementation
  tests/launchers/test_launcher_dialogs.py
Due: pytest-unit

fix(tests): fix two more collection-time failures blocking CI on PR #6500
  src/launchers/launcher_dialogs.py
  tests/parity/test_simulate_contract_drake.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
