Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

chore(register): add dime_learned_initializers.py to the monolith register (#11552)
  docs/development/monolith_refactor_register.md
Due: none

fix(guard): re-vendor fail-closed fork_pr_runner_guard from RM #2000
  scripts/fork_pr_guard_analysis.py
  scripts/fork_pr_runner_guard.py
  tests/ci/test_fork_pr_runner_guard.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(estimation): DIME initialisers, ablations and manifest stop reporting constants or ground truth as measurements (#11552) (#11559)
  changes/11552-fix-estimation-dime-initialisers-ablatio.md
  docs/development/monolith_refactor_register.md
  src/shared/python/estimation/__init__.py
  src/shared/python/estimation/dime_benchmark_ablations.py
  src/shared/python/estimation/dime_learned_initializers.py
  src/shared/python/estimation/dime_manifest.py
  tests/unit/estimation/test_dime_benchmark_ablations.py
  tests/unit/estimation/test_dime_benchmark_manifest.py
  tests/unit/estimation/test_dime_learned_initializers.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(guard): re-vendor final fork_pr_runner_guard from RM #2003 (#1996)
  scripts/fork_pr_guard_analysis.py
  tests/ci/test_fork_pr_runner_guard.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

chore(guard): re-vendor fork_pr_runner_guard + analysis module (RM#1996) (#11556)
  changes/11556-ci-security-re-vendor-fork-pr-runner-gua.md
  scripts/fork_pr_guard_analysis.py
  scripts/fork_pr_runner_guard.py
  tests/ci/test_fork_pr_runner_guard.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(estimation): MOSAIC model-aware multi-trial forward-dynamics matching, methods reference and DIME audit (#11532) (#11555)
  AGENTS.md
  AGENT_HANDOFF.md
  changes/11532-mosaic-model-aware-multi-trial-matching.md
  docs/agents/shared-infrastructure.md
  docs/plans/EPIC_MOSAIC_MODEL_AWARE_MATCHING.md
  docs/research/model_aware_matching/.gitignore
  docs/research/model_aware_matching/README.md
  docs/research/model_aware_matching/model_aware_matching.tex
  docs/research/model_aware_matching/reference_results.json
  docs/research/model_aware_matching/test_model_aware_matching.py
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/estimation/mosaic/__init__.py
  src/shared/python/estimation/mosaic/identifiability_subspace.py
  src/shared/python/estimation/mosaic/ik_init.py
  src/shared/python/estimation/mosaic/inertial.py
  src/shared/python/estimation/mosaic/inner_solve.py
  src/shared/python/estimation/mosaic/kinematic_basis.py
  src/shared/python/estimation/mosaic/local_policy.py
  src/shared/python/estimation/mosaic/outer_solve.py
  src/shared/python/estimation/mosaic/planar_chain.py
  src/shared/python/estimation/mosaic/reference_evidence.py
  src/shared/python/estimation/mosaic/subject_fit.py
  src/shared/python/estimation/mosaic/torque_template.py
  tests/unit/estimation/mosaic/test_identifiability_subspace.py
  tests/unit/estimation/mosaic/test_inertial.py
  tests/unit/estimation/mosaic/test_inner_solve.py
  tests/unit/estimation/mosaic/test_kinematic_basis.py
  tests/unit/estimation/mosaic/test_local_policy.py
  tests/unit/estimation/mosaic/test_outer_solve.py
  tests/unit/estimation/mosaic/test_planar_chain.py
  tests/unit/estimation/mosaic/test_reference_evidence.py
  tests/unit/estimation/mosaic/test_subject_fit.py
  tests/unit/estimation/mosaic/test_torque_template.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(drake): score the Drake rollout, not the warm-start markers (#11567)
  src/engines/physics_engines/drake/python/full_body_fit.py
  tests/unit/motion_matching/test_drake_full_body_fit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: change fragment for #11567
  changes/11567-drake-full-body-fit-scores-forward-kinem.md
Due: none

refactor(drake): extract rollout scoring and unmeasured-audit helpers (function budget)
  src/engines/physics_engines/drake/python/full_body_fit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(drake): fail closed on all-invalid club cluster and document Drake fit scoring (#11567)
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
  src/engines/physics_engines/drake/python/full_body_fit.py
  tests/unit/motion_matching/test_drake_full_body_fit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(drake): score the Drake rollout, not the warm-start markers (#11567) (#11568)
  changes/11567-drake-full-body-fit-scores-forward-kinem.md
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
  src/engines/physics_engines/drake/python/full_body_fit.py
  tests/unit/motion_matching/test_drake_full_body_fit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(motion_matching): report NaN for unmeasured replay metrics and fail closed in acceptance
  changes/11573-unmeasured-replay-metrics-nan.md
  src/engines/physics_engines/drake/python/full_body_fit.py
  src/shared/python/motion_matching/acceptance.py
  src/shared/python/motion_matching/replay_metrics.py
  tests/unit/motion_matching/test_returned81_cross_engine_replay.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(motion_matching): extract _check_yaw_gate helper to satisfy architecture budget
  src/shared/python/motion_matching/acceptance.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(engines): reconcile capability matrix with engine declarations (#11571)
  changes/11571-engine-capability-registry-consistency.md
  scripts/generate_engine_matrix.py
  src/config/engine_capability_matrix.json
  tests/config/test_engine_capability_consistency.py
  tests/integration/cross_engine/test_force_overlay_parity.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

chore: vendor stalled-merge requeue tooling from Repository_Management (#2018)
  changes/2018-vendor-automerge-guard-and-requeue-stall.md
  scripts/automerge_guard.py
  scripts/requeue_stalled_merges.py
  tests/ci/test_automerge_guard.py
  tests/ci/test_requeue_stalled_merges.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(ci): re-vendor automerge_guard with evaluate_hold under the function budget
  scripts/automerge_guard.py
  tests/ci/test_automerge_guard.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(engines): reconcile capability matrix with engine declarations (#11571) (#11576)
  changes/11571-engine-capability-registry-consistency.md
  scripts/generate_engine_matrix.py
  src/config/engine_capability_matrix.json
  tests/config/test_engine_capability_consistency.py
  tests/integration/cross_engine/test_force_overlay_parity.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(ci): re-vendor requeue_stalled_merges without the lasting sys.path entry
  scripts/requeue_stalled_merges.py
  tests/ci/test_requeue_stalled_merges.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test(launcher): align launcher API capability tests with reconciled capability matrix (#11571)
  changes/11571-launcher-capability-tests.md
  tests/api/test_launcher_api.py
Due: pytest-unit

fix(tests): wait for settings-dialog dependency-check workers before teardown
  changes/11577-fix-tests-wait-for-settings-dialog-depen.md
  tests/launchers/test_settings_dialog.py
Due: pytest-unit

chore: vendor stalled-merge requeue tooling from Repository_Management (#2018) (#11577)
  changes/2018-vendor-automerge-guard-and-requeue-stall.md
  scripts/automerge_guard.py
  scripts/requeue_stalled_merges.py
  tests/ci/test_automerge_guard.py
  tests/ci/test_requeue_stalled_merges.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(tests): wait for settings-dialog dependency-check workers before teardown (#11581)
  changes/11577-fix-tests-wait-for-settings-dialog-depen.md
  tests/launchers/test_settings_dialog.py
Due: pytest-unit

chore: re-sync vendored requeue tooling from Repository_Management
  changes/2018-resync-requeue.md
  scripts/automerge_guard.py
  scripts/requeue_stalled_merges.py
  tests/ci/test_automerge_guard.py
  tests/ci/test_requeue_stalled_merges.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

chore(security): waive fsspec CVE-2026-104851 pending lockfile refresh (#11587)
  changes/11587-waive-fsspec-cve.md
  scripts/config/pip_audit_waivers.json
Due: none

chore(tests): retire stale test_no_unflagged_shared_code header test (#11589)
  changes/11589-chore-tests-retire-stale-test-no-unflagg.md
  scripts/config/unit_gate_quarantine.json
  tests/unit/repo_hygiene/test_no_unflagged_shared_code.py
Due: pytest-unit

docs(project): steward status 2026-10-06
  docs/development/HANDOFF.md
  docs/project/CHARTER.md
  docs/project/STATUS.md
Due: none

fix(tests): make the change-fragment round-trip test hermetic
  changes/1976-make-the-change-fragment-round-trip-test.md
  tests/unit/scripts/test_change_fragment_bundle.py
Due: pytest-unit

fix(deps): bump werkzeug to 3.1.9 for CVE-2026-102598
  changes/11593-bump-werkzeug-3-1-8-to-3-1-9-in-both-loc.md
  requirements-dev.lock
  requirements.lock
Due: none

fix(deps): port werkzeug 3.1.9 bump from #11594
  requirements-dev.lock
  requirements.lock
Due: none

fix(deps): regenerate locks with Python 3.12 to match CI
  requirements-dev.lock
  requirements.lock
Due: none

fix(deps): port Python 3.12 lock header fix from #11594
  requirements-dev.lock
  requirements.lock
Due: none

fix(deps): bump fsspec to 2026.6.0 for CVE-2026-104851
  requirements-dev.lock
  requirements.lock
Due: none

docs(changes): record the fsspec bump in the #11593 fragment
  changes/11593-bump-werkzeug-3-1-8-to-3-1-9-in-both-loc.md
Due: none

ci: isolate RUSTUP_HOME in every dtolnay/rust-toolchain job
  .github/workflows/ci-standard.yml
  .github/workflows/maturin-movement-optimizer.yml
  .github/workflows/realtime-soak.yml
  .github/workflows/tauri-build.yml
  changes/11595-ci-give-every-dtolnay-rust-toolchain-job.md
  tests/ci/test_unit_gate_rust_kernel.py
Due: pytest-unit

chore(evidence): commit recovered Crocoddyl G1 warm-start inputs (#11596)
  changes/11596-commit-recovered-crocoddyl-g1-warm-start.md
  evidence/matched/driver_g1_crocoddyl_rk45/recovered_inputs.json
  evidence/matched/driver_g1_crocoddyl_rk45/stage_0.60s.npz
  evidence/matched/driver_g1_crocoddyl_rk45/warm_start.npz
  evidence/matched/driver_g1_crocoddyl_rk45_b100/recovered_inputs.json
  evidence/matched/driver_g1_crocoddyl_rk45_b100/stage_0.60s.npz
  evidence/matched/driver_g1_crocoddyl_rk45_b100/warm_start.npz
  evidence/matched/driver_g1_crocoddyl_rk45_rtol6/recovered_inputs.json
  evidence/matched/driver_g1_crocoddyl_rk45_rtol6/stage_0.60s.npz
  evidence/matched/driver_g1_crocoddyl_rk45_rtol6/warm_start.npz
Due: none

fix(deps): bump source-map-js to 1.2.2 in ui lockfile (CVE-2026-93749)
  changes/11593-bump-werkzeug-3-1-8-to-3-1-9-in-both-loc.md
  ui/package-lock.json
Due: none

chore(evidence): add recovered w030r Crocoddyl chain root (#11596)
  changes/11596-commit-recovered-crocoddyl-g1-warm-start.md
  evidence/matched/driver_g1_crocoddyl_rk45/recovered_inputs.json
  evidence/matched/driver_g1_crocoddyl_w030r/candidate.npz
  evidence/matched/driver_g1_crocoddyl_w030r/receipt.json
  evidence/matched/driver_g1_crocoddyl_w030r/recovered_inputs.json
  evidence/matched/driver_g1_crocoddyl_w030r/warm_start.npz
Due: none

fix(deps): clear main's security findings — werkzeug 3.1.9, fsspec 2026.6.0, source-map-js 1.2.2 (#11594)
  changes/11593-bump-werkzeug-3-1-8-to-3-1-9-in-both-loc.md
  requirements-dev.lock
  requirements.lock
  ui/package-lock.json
Due: none

chore: re-sync vendored requeue tooling from Repository_Management (#11586)
  changes/2018-resync-requeue.md
  scripts/automerge_guard.py
  scripts/requeue_stalled_merges.py
  tests/ci/test_automerge_guard.py
  tests/ci/test_requeue_stalled_merges.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

ci: isolate RUSTUP_HOME in every dtolnay/rust-toolchain job (#11597)
  .github/workflows/ci-standard.yml
  .github/workflows/maturin-movement-optimizer.yml
  .github/workflows/realtime-soak.yml
  .github/workflows/tauri-build.yml
  changes/11595-ci-give-every-dtolnay-rust-toolchain-job.md
  tests/ci/test_unit_gate_rust_kernel.py
Due: pytest-unit
