Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

perf(motion-matching): einsum row norms at the remaining bolt sites
  src/bunkershot3d/ball/qualification_fit.py
  src/shared/python/motion_matching/club_calibration.py
  src/shared/python/motion_matching/club_only/acceptance.py
  src/shared/python/motion_matching/club_only/control_replay.py
  src/shared/python/motion_matching/dynamics_filter.py
  src/shared/python/motion_matching/execution/downswing.py
  src/shared/python/motion_matching/hip_calibration.py
  src/shared/python/motion_matching/multi_shooting_fit.py
  src/shared/python/motion_matching/pipeline/reference.py
  src/shared/python/sidekick/calculators/electrical/electrical_model.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs: record PR #11112 residual einsum row norms in SPEC changelog
  SPEC.md
Due: none

feat(scripts): unify per-package coverage gates on the exclusion budget (DRY authority + CI enforcement)
  .github/workflows/ci-standard.yml
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  scripts/check_coverage_gates.py
  scripts/check_mypy_exclusion_budget.py
  scripts/config/mypy_exclusion_budget.json
  tests/unit/scripts/test_check_coverage_gates.py
  tests/unit/scripts/test_check_mypy_exclusion_budget.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test(scripts): add suite markers
  tests/unit/scripts/test_check_mypy_exclusion_budget.py
Due: pytest-unit

fix(motion-matching): revert Tools-owned electrical_model child copy, mark identity test unit
  SPEC.md
  src/shared/python/sidekick/calculators/electrical/electrical_model.py
  tests/unit/motion_matching/test_row_norm_einsum_identity.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(quarantine): unquarantine launcher sources and humanoid models (#9411) (#11082)
  scripts/config/unit_gate_quarantine.json
  src/engines/physics_engines/mujoco/__init__.py
  tests/launchers/test_launcher_model_sources.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Docs(critic): Fleet Critic scheduled pass 2026-09-25
  SPEC.md
  docs/critiques/2026-09-25/summary.md
  docs/critiques/2026-09-25/weaknesses.md
  docs/critiques/README.md
  docs/development/HANDOFF.md
  docs/index.md
Due: none

feat(gs3dx): driver-head mesh, neck joined to shoulders, balance re-anchored (#10979)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/README.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/DESIGN_REPORT.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/HUMAN.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/RENDERING.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/screenshots/GS3DX_Human_club_dtl.png
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/screenshots/GS3DX_Human_club_fo.png
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/screenshots/GS3DX_Human_dtl_addr.png
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/screenshots/GS3DX_Human_fo_addr.png
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/screenshots/GS3DX_Human_fo_ball.png
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/screenshots/GS3DX_Human_fo_top.png
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/models/GS3DX_Human.slx
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/models/README_DRIVER_HEAD.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/models/gs3dx_driver_head.stl
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_human.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_render.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_build_human.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_render.m
Due: none

test(quarantine): unquarantine simscape loader thread invalid csv (#9411)
  scripts/config/unit_gate_quarantine.json
  tests/unit/engines/simscape/three_d_gui/test_apps_coverage_4675_services.py
Due: pytest-unit

fix(scripts): unify per-package coverage gates on the exclusion budget (DRY authority + CI enforcement) (#11113)
  .github/workflows/ci-standard.yml
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  scripts/check_coverage_gates.py
  scripts/check_mypy_exclusion_budget.py
  scripts/config/mypy_exclusion_budget.json
  tests/unit/scripts/test_check_coverage_gates.py
  tests/unit/scripts/test_check_mypy_exclusion_budget.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(spec): add #11115 change-log row for simscape quarantine batch 9
  SPEC.md
Due: none

test(quarantine): unquarantine simscape loader thread invalid csv (#9411) (#11115)
  SPEC.md
  scripts/config/unit_gate_quarantine.json
  tests/unit/engines/simscape/three_d_gui/test_apps_coverage_4675_services.py
Due: pytest-unit

docs(#11116): re-key SPEC row to PR and record einsum/vdot no-impact decision note
  .jules/bolt.md
Due: none

docs(#11119): re-key SPEC row and bolt.md devlog entry to PR #11119 dated 2026-09-29
  .jules/bolt.md
Due: none

⚡ Bolt: Optimize sum of squared errors using einsum and vdot (#11116)
  .jules/bolt.md
  SPEC.md
  src/engines/physics_engines/mujoco/python/motion_matching/mjx_knot_optimiser.py
  src/engines/physics_engines/pinocchio/python/marker_kinematics.py
  tests/unit/engines/physics_engines/mujoco/mujoco_humanoid_golf/rigid_body_dynamics/test_induced_acceleration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Optimize np.linalg.norm in _pre_impact_contracts.py (#11119)
  .jules/bolt.md
  SPEC.md
  src/shared/python/physics/_pre_impact_contracts.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion-matching): fail-closed disqualified tour baseline receipts and propagate rejection to ledger and tracker (#11085)
  docs/plans/tour_baselines/coverage_matrix.md
  reports/matched_swing_ledger.json
  scripts/generate_matched_swing_status.py
  src/shared/python/motion_matching/ledger.py
  src/shared/python/tour_baselines/coverage.py
  tests/unit/motion_matching/test_ledger.py
  tests/unit/tour_baselines/test_coverage_matrix.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): document MMR-01 matching ledger and tracker fail-closed updates (#11085)
  SPEC.md
Due: none

fix(motion-matching): confine failed-gate override to success claims and add ledger row (#11117)
  SPEC.md
  reports/matched_swing_ledger.json
  src/shared/python/motion_matching/ledger.py
  tests/unit/motion_matching/test_ledger.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(gs3dx): Human toe contacts under the toe tip; balance drift fixed (#10979)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/DESIGN_REPORT.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/HUMAN.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/screenshots/GS3DX_Human_dtl_addr.png
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/screenshots/GS3DX_Human_fo_addr.png
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/screenshots/GS3DX_Human_fo_ball.png
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/screenshots/GS3DX_Human_fo_top.png
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/screenshots/GS3DX_Human_foot_lead_dtl.png
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/screenshots/GS3DX_Human_foot_trail_fo.png
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/models/GS3DX_Human.slx
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_human.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_build_human.m
Due: none

feat(motion-matching): fail-closed disqualified tour baseline receipts and propagate rejection to ledger and tracker (#11085) (#11117)
  SPEC.md
  docs/plans/tour_baselines/coverage_matrix.md
  reports/matched_swing_ledger.json
  scripts/generate_matched_swing_status.py
  src/shared/python/motion_matching/ledger.py
  src/shared/python/tour_baselines/coverage.py
  tests/unit/motion_matching/test_ledger.py
  tests/unit/tour_baselines/test_coverage_matrix.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(shadow-tracker): verify state camera and renderer boundary contracts (#11110)
  SPEC.md
  src/shared/python/shadow_tracker/initialization.py
  tests/unit/shadow_tracker/test_boundary_contracts.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon
