Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

fix(docker): bump python:3.12-slim base image digest to resolve CVE-2026-4046
  Dockerfile
Due: none

test(motion_pipeline): format preprocessing coverage tests
  tests/unit/motion_pipeline/preprocessing/test_filter.py
  tests/unit/motion_pipeline/preprocessing/test_gap_fill.py
Due: pytest-unit

docs(assessments): register adversarial review in assessments catalog
  docs/assessments/README.md
Due: none

perf(ui): optimize cell widget reuse and resolve mypy issues
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/services/segment_set_io.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/ui/tabs/segments_tab.py
  src/shared/python/pendulum_simulator/gui/toolstrip_widget.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Add theme manager persistence coverage
  src/shared/python/theme/theme_manager.py
  tests/unit/theme/test_theme_manager.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Add theme helper coverage
  tests/unit/theme/test_font_manager.py
  tests/unit/theme/test_matplotlib_style.py
  tests/unit/theme/test_responsive.py
Due: pytest-unit

style(tests): format theme helper coverage
  tests/unit/theme/test_font_manager.py
Due: pytest-unit

feat(ux): foundation for idiot-proof UX epic (#5968)
  configs/ux/error_messages.yaml
  configs/ux/field_metadata.yaml
  docs/ux/field_metadata.md
  scripts/ci/check_ux_coverage_ratchet.py
  scripts/config/ux_field_coverage_baseline.json
  src/shared/python/ux/__init__.py
  src/shared/python/ux/error_envelope.py
  src/shared/python/ux/field_metadata.py
  src/shared/python/ux/preflight.py
  src/shared/python/ux/provenance.py
  tests/unit/ux/__init__.py
  tests/unit/ux/test_coverage_ratchet.py
  tests/unit/ux/test_error_envelope.py
  tests/unit/ux/test_field_metadata.py
  tests/unit/ux/test_preflight.py
  tests/unit/ux/test_provenance.py
  tests/unit/ux/test_seed_configs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ux): SPEC bump + resilient ratchet smoke test (#5968)
  SPEC.md
  tests/unit/ux/test_coverage_ratchet.py
Due: pytest-unit

docs(ux): register docs/ux/ in the catalog (#5968)
  docs/index.md
Due: none

fix(auth): bound auth cache overflow eviction
  src/api/auth/security.py
  tests/unit/api/security/test_auth_cache.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(auth): satisfy security type checks
  src/api/auth/security.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ux): explicit float narrowing past enum-range branch (#5968)
  src/shared/python/ux/field_metadata.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(sidekick): add standalone CLI scaffold
  src/shared/python/sidekick/__main__.py
  tests/unit/sidekick/test_cli.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(auth): remove redundant casts and capture cache contract
  SPEC.md
  src/api/auth/security.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(auth): narrow bcrypt hash return types
  src/api/auth/security.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(logging): sanitize chat websocket error payloads
  src/api/routes/chat_ws.py
  src/shared/python/chat/router_factory.py
  src/shared/python/chat/tests/test_chat_ws_error_handling.py
  tests/unit/api/test_chat_ws.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): replace TODO markers with issue references to pass quality-gate placeholder check
  src/shared/python/ai/auth/authentication.py
  src/shared/python/pose_interchange/services/simscape.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(ux): foundation for idiot-proof UX epic (#5968) — registry, provenance, preflight, error envelope, coverage ratchet (#5988)
  SPEC.md
  configs/ux/error_messages.yaml
  configs/ux/field_metadata.yaml
  docs/index.md
  docs/ux/field_metadata.md
  scripts/ci/check_ux_coverage_ratchet.py
  scripts/config/ux_field_coverage_baseline.json
  src/shared/python/ux/__init__.py
  src/shared/python/ux/error_envelope.py
  src/shared/python/ux/field_metadata.py
  src/shared/python/ux/preflight.py
  src/shared/python/ux/provenance.py
  tests/unit/ux/__init__.py
  tests/unit/ux/test_coverage_ratchet.py
  tests/unit/ux/test_error_envelope.py
  tests/unit/ux/test_field_metadata.py
  tests/unit/ux/test_preflight.py
  tests/unit/ux/test_provenance.py
  tests/unit/ux/test_seed_configs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ux): parse retriable envelopes explicitly
  SPEC.md
  src/shared/python/ux/error_envelope.py
  tests/unit/ux/test_error_envelope.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(sidekick): add subtab action adapter (S3 / #5972)
  src/shared/python/sidekick/agent/__init__.py
  src/shared/python/sidekick/agent/subtab_adapter.py
  tests/unit/sidekick/agent/test_subtab_adapter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(sidekick): add audit log, undo, and access policy (S6 / #5975)
  src/shared/python/sidekick/agent/__init__.py
  src/shared/python/sidekick/agent/access_policy.py
  src/shared/python/sidekick/agent/action_audit.py
  src/shared/python/sidekick/agent/action_service.py
  tests/unit/sidekick/agent/test_access_policy.py
  tests/unit/sidekick/agent/test_action_audit.py
  tests/unit/sidekick/agent/test_undo.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(sidekick): add agent planner + tool-registry bridge (S5 / #5974)
  src/shared/python/sidekick/agent/__init__.py
  src/shared/python/sidekick/agent/planner.py
  tests/unit/sidekick/agent/test_planner.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(sidekick): add host action adapter (S4 / #5973)
  src/shared/python/sidekick/agent/__init__.py
  src/shared/python/sidekick/agent/host_adapter.py
  tests/unit/sidekick/agent/test_host_adapter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
