Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

docs(spec): drop deep vendor paths from the two corrected references
  SPEC.md
Due: none

feat(mocap): OpenPose-vs-MediaPipe comparison path and self-calibrating pipeline design
  docs/README.md
  docs/index.md
  docs/motion_capture/self_calibrating_pipeline.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/motion_capture/rig/__main__.py
  src/motion_capture/rig/compare.py
  src/motion_capture/rig/ingest.py
  src/shared/python/pose_estimation/mediapipe_estimator.py
  src/shared/python/pose_estimation/mediapipe_models.py
  src/shared/python/pose_estimation/model_files.py
  src/shared/python/pose_estimation/openpose_dnn_estimator.py
  src/shared/python/pose_estimation/openpose_models.py
  src/shared/python/pose_estimation/registry.py
  tests/motion_capture/rig/test_compare.py
  tests/motion_capture/rig/test_ingest.py
  tests/unit/pose_estimation/test_model_files.py
  tests/unit/pose_estimation/test_openpose_dnn_estimator.py
  tests/unit/pose_estimation/test_registry.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(spec): add change-log row for #9632
  SPEC.md
Due: none

chore: drop T201 exemptions for retired child copies
  CLAUDE.md
  pyproject.toml
Due: none

ci: give repo-structure-gates the pinned Tools layer it now needs
  .github/workflows/ci-standard.yml
Due: none

fix(registry): offline comparison estimators are not capture sources
  src/api/routes/motion_capture.py
  src/shared/python/pose_estimation/registry.py
  tests/unit/pose_estimation/test_registry.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: record the materialisation trap in the seam handoff
  docs/development/readiness_seam_handoff.md
Due: none

fix: the vendored fallback must not patch gaps inside an owned cluster
  src/__init__.py
  tests/unit/repo_hygiene/test_vendored_tools_fallback.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(spec): drop the change-log rows the merge duplicated
  SPEC.md
Due: none

fix(seam): regenerate the divergence inventory with --write
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

fix(seam): ignore .ruff_cache when building the divergence inventory
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  scripts/shared_tools/divergence_inventory.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(mocap): synthetic evaluation harness for reconstruction; first-bytes recorder clock
  docs/motion_capture/camera_rig_runbook.md
  docs/motion_capture/self_calibrating_pipeline.md
  src/motion_capture/reconstruct/__init__.py
  src/motion_capture/reconstruct/__main__.py
  src/motion_capture/reconstruct/cameras.py
  src/motion_capture/reconstruct/metrics.py
  src/motion_capture/reconstruct/skeleton.py
  src/motion_capture/reconstruct/synthetic.py
  src/motion_capture/rig/recorder.py
  src/shared/python/pose_estimation/openpose_models.py
  tests/motion_capture/reconstruct/__init__.py
  tests/motion_capture/reconstruct/test_cameras.py
  tests/motion_capture/reconstruct/test_skeleton_synthetic_metrics.py
  tests/motion_capture/rig/test_bundle_record.py
  tests/motion_capture/rig/test_recorder_bridge_cli.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(rig): joints a detector omits are NaN with zero confidence, not a crash
  src/motion_capture/rig/compare.py
  src/motion_capture/rig/ingest.py
  tests/motion_capture/rig/test_compare.py
  tests/motion_capture/rig/test_ingest.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(spec): add change-log row for #9635
  SPEC.md
Due: none

fix(ci): pinned-digest tests use unpinned specs; object-based monkeypatch; typed rotation axis
  src/motion_capture/reconstruct/skeleton.py
  src/motion_capture/rig/ingest.py
  tests/motion_capture/rig/test_ingest.py
  tests/unit/pose_estimation/test_model_files.py
  tests/unit/pose_estimation/test_openpose_dnn_estimator.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(pose_estimation): video file dialogs admit the rig's .mkv recordings
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/pose_estimation/mediapipe_gui.py
  src/shared/python/pose_estimation/openpose_gui.py
  src/shared/python/pose_estimation/video_files.py
  tests/unit/pose_estimation/test_video_files.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): add change-log row for #9637
  SPEC.md
Due: none

feat(mocap): robust dynamics-constrained temporal smoother (C6)
  docs/motion_capture/self_calibrating_pipeline.md
  src/motion_capture/reconstruct/__init__.py
  src/motion_capture/reconstruct/temporal.py
  tests/motion_capture/reconstruct/test_temporal.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(mocap): classical ball detector with ranked candidates and at-rest tracking (C1)
  docs/motion_capture/self_calibrating_pipeline.md
  src/motion_capture/reconstruct/ball.py
  tests/motion_capture/reconstruct/test_ball.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(mocap): per-view cleaning with the dynamics prior; iterative reject-refit-readmit
  docs/motion_capture/self_calibrating_pipeline.md
  src/motion_capture/reconstruct/clean.py
  src/motion_capture/reconstruct/temporal.py
  tests/motion_capture/reconstruct/test_clean.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon
