Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

fix(ci): unpin the remaining dispatcher jobs from the fleet
  .github/workflows/Bot-CI-Trigger.yml
  .github/workflows/Comment-to-Issue-Converter.yml
  .github/workflows/Jules-Control-Tower.yml
  .github/workflows/Maintenance-Global-Control.yml
  .github/workflows/Manual-Run-All.yml
  .github/workflows/Nightly-Doc-Organizer.yml
  .github/workflows/PR-Comment-Responder.yml
  .github/workflows/agent-metrics-dashboard.yml
  .github/workflows/auto-update-prs.yml
  .github/workflows/ci-failure-digest.yml
  .github/workflows/ci-optional-stack.yml
  .github/workflows/cross-engine-equivalence.yml
  .github/workflows/docker-size-gates.yml
  .github/workflows/docker-smoke.yml
  .github/workflows/heavy-tests-opt-in.yml
  .github/workflows/humanoid-models-drift.yml
  .github/workflows/nightly-cross-engine.yml
  .github/workflows/pr-auto-labeler.yml
  .github/workflows/release.yml
  .github/workflows/stale-cleanup.yml
  .github/workflows/tauri-build.yml
  .github/workflows/urdf-cross-engine-equivalence.yml
  .github/workflows/vendor-freshness.yml
Due: none

feat(bunkershot3d): domain value objects, units, exceptions, run manifests
  src/bunkershot3d/__init__.py
  src/bunkershot3d/backends/chrono/driver.py
  src/bunkershot3d/backends/liggghts/driver.py
  src/bunkershot3d/backends/mpm/driver.py
  src/bunkershot3d/backends/prescribed_motion.py
  src/bunkershot3d/backends/run_provenance.py
  src/bunkershot3d/backends/stability.py
  src/bunkershot3d/calibration/optimizer.py
  src/bunkershot3d/config.py
  src/bunkershot3d/domain/__init__.py
  src/bunkershot3d/domain/_validate.py
  src/bunkershot3d/domain/box.py
  src/bunkershot3d/domain/grains.py
  src/bunkershot3d/domain/solver.py
  src/bunkershot3d/domain/swing.py
  src/bunkershot3d/exceptions.py
  src/bunkershot3d/geometry/mesh.py
  src/bunkershot3d/sand/exceptions.py
  src/bunkershot3d/units.py
  tests/bunkershot3d/domain/__init__.py
  tests/bunkershot3d/domain/test_value_objects.py
  tests/bunkershot3d/test_backend_stability_8612.py
  tests/bunkershot3d/test_backends.py
  tests/bunkershot3d/test_chrono_backend_8612.py
  tests/bunkershot3d/test_config_assembler_8608.py
  tests/bunkershot3d/test_config_flat_accessors.py
  tests/bunkershot3d/test_driver_manifest_8608.py
  tests/bunkershot3d/test_exceptions_8608.py
  tests/bunkershot3d/test_public_api_8608.py
  tests/bunkershot3d/test_units_8608.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(ci): unpin the remaining dispatcher jobs from the fleet (#8650)
  .github/workflows/Bot-CI-Trigger.yml
  .github/workflows/Comment-to-Issue-Converter.yml
  .github/workflows/Jules-Control-Tower.yml
  .github/workflows/Maintenance-Global-Control.yml
  .github/workflows/Manual-Run-All.yml
  .github/workflows/Nightly-Doc-Organizer.yml
  .github/workflows/PR-Comment-Responder.yml
  .github/workflows/agent-metrics-dashboard.yml
  .github/workflows/auto-update-prs.yml
  .github/workflows/ci-failure-digest.yml
  .github/workflows/ci-optional-stack.yml
  .github/workflows/cross-engine-equivalence.yml
  .github/workflows/docker-size-gates.yml
  .github/workflows/docker-smoke.yml
  .github/workflows/heavy-tests-opt-in.yml
  .github/workflows/humanoid-models-drift.yml
  .github/workflows/nightly-cross-engine.yml
  .github/workflows/pr-auto-labeler.yml
  .github/workflows/release.yml
  .github/workflows/stale-cleanup.yml
  .github/workflows/tauri-build.yml
  .github/workflows/urdf-cross-engine-equivalence.yml
  .github/workflows/vendor-freshness.yml
Due: none

feat(bunkershot3d): supersede metrics with the superset implementation (#8614)
  src/bunkershot3d/metrics/__init__.py
  src/bunkershot3d/metrics/bounce_map.py
  src/bunkershot3d/metrics/divot.py
  src/bunkershot3d/metrics/energy.py
  src/bunkershot3d/metrics/enums.py
  src/bunkershot3d/metrics/force.py
  src/bunkershot3d/metrics/forgiveness.py
  src/bunkershot3d/metrics/loads.py
  src/bunkershot3d/metrics/playability.py
  src/bunkershot3d/metrics/trace.py
  src/bunkershot3d/metrics/trajectory.py
  src/bunkershot3d/metrics/twist.py
  tests/bunkershot3d/metrics/__init__.py
  tests/bunkershot3d/metrics/conftest.py
  tests/bunkershot3d/metrics/test_bounce_map.py
  tests/bunkershot3d/metrics/test_divot.py
  tests/bunkershot3d/metrics/test_energy.py
  tests/bunkershot3d/metrics/test_energy_metrics.py
  tests/bunkershot3d/metrics/test_force_metrics.py
  tests/bunkershot3d/metrics/test_forgiveness.py
  tests/bunkershot3d/metrics/test_forgiveness_metrics.py
  tests/bunkershot3d/metrics/test_loads.py
  tests/bunkershot3d/metrics/test_metamorphic.py
  tests/bunkershot3d/metrics/test_playability.py
  tests/bunkershot3d/metrics/test_properties.py
  tests/bunkershot3d/metrics/test_trace.py
  tests/bunkershot3d/metrics/test_trajectory_metrics.py
  tests/bunkershot3d/metrics/test_twist_metrics.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(bunkershot3d): supersede the F0 solver with the two-correction implementation (#8611)
  src/bunkershot3d/__init__.py
  src/bunkershot3d/solver/__init__.py
  src/bunkershot3d/solver/coefficients.py
  src/bunkershot3d/solver/drft.py
  src/bunkershot3d/solver/envelope.py
  src/bunkershot3d/solver/material.py
  src/bunkershot3d/solvers/__init__.py
  src/bunkershot3d/solvers/coefficients.py
  src/bunkershot3d/solvers/drft.py
  src/bunkershot3d/solvers/elements.py
  src/bunkershot3d/solvers/envelope.py
  src/bunkershot3d/solvers/exceptions.py
  src/bunkershot3d/solvers/protocol.py
  src/bunkershot3d/solvers/shot.py
  src/bunkershot3d/solvers/structural.py
  tests/bunkershot3d/solver/__init__.py
  tests/bunkershot3d/solver/test_drft_coefficients.py
  tests/bunkershot3d/solver/test_drft_solver.py
  tests/bunkershot3d/solver/test_material_scaling.py
  tests/bunkershot3d/solver/test_validity_envelope.py
  tests/bunkershot3d/solvers/__init__.py
  tests/bunkershot3d/solvers/conftest.py
  tests/bunkershot3d/solvers/test_coefficients.py
  tests/bunkershot3d/solvers/test_drft.py
  tests/bunkershot3d/solvers/test_envelope.py
  tests/bunkershot3d/solvers/test_metamorphic.py
  tests/bunkershot3d/solvers/test_shot.py
  tests/bunkershot3d/solvers/test_structural.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

chore(bunkershot3d): satisfy architecture-budget and suite-marker gates
  scripts/config/architecture_budget.json
  src/bunkershot3d/backends/stability.py
  src/bunkershot3d/study/__init__.py
  src/bunkershot3d/study/comparison.py
  src/bunkershot3d/study/optimisation.py
  tests/bunkershot3d/study/test_comparison.py
  tests/bunkershot3d/study/test_optimisation.py
  tests/bunkershot3d/test_backend_stability_8612.py
  tests/bunkershot3d/test_liggghts_driver.py
  tests/bunkershot3d/wave7_bunkershot3d/test_edge_cases.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

research: harden momentum question readiness audit
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/COMPREHENSIVE_RESEARCH_PROGRAM.md
  docs/research/proximal_distal_energy_transfer/DATA_DICTIONARY.md
  docs/research/proximal_distal_energy_transfer/MOMENTUM_TRANSFER_QUESTION_PROGRAM.md
  docs/research/proximal_distal_energy_transfer/chapters/_ch08b_momentum_transfer_questions.qmd
  docs/research/proximal_distal_energy_transfer/data/claim_audit_registry.json
  docs/research/proximal_distal_energy_transfer/data/claim_candidate_inventory.json
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/data/momentum_transfer_question_registry.json
  docs/research/proximal_distal_energy_transfer/data/momentum_transfer_readiness_audit.json
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.pdf
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.tex
  docs/research/proximal_distal_energy_transfer/release_manifest.json
  scripts/research/proximal_distal_energy/claim_audit.py
  scripts/research/proximal_distal_energy/momentum_question_readiness.py
  tests/research/test_momentum_transfer_question_registry.py
  tests/unit/research/test_momentum_question_readiness.py
  tests/unit/research/test_proximal_distal_claim_audit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: record momentum audit pull request
  AGENT_HANDOFF.md
Due: none

docs(bunkershot3d): make the ledger authoritative to stop duplicate workstreams
  docs/bunkershot3d/upgrade/STATE.md
Due: none

docs: update momentum readiness specification
  SPEC.md
Due: none

refactor(bunkershot3d): decompose the five over-budget functions on the epic
  src/bunkershot3d/ball/lie.py
  src/bunkershot3d/solvers/__init__.py
  src/bunkershot3d/solvers/drft.py
  src/bunkershot3d/solvers/envelope.py
  src/bunkershot3d/solvers/shot.py
  tests/bunkershot3d/ball/test_ball_lie.py
  tests/bunkershot3d/ball/test_pipeline_handoff.py
  tests/bunkershot3d/ball/test_splash_transfer.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

test(bunkershot3d): cover EnvelopeContext's new invariants (#8607)
  tests/bunkershot3d/solvers/test_envelope_context.py
Due: pytest-unit

Complete release-level claim review
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/MODEL_COMPLETION_FALSIFICATION_MATRIX.md
  docs/research/proximal_distal_energy_transfer/MOMENTUM_TRANSFER_QUESTION_PROGRAM.md
  docs/research/proximal_distal_energy_transfer/data/claim_audit_registry.json
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/data/release_claim_review.json
  docs/research/proximal_distal_energy_transfer/release_manifest.json
  scripts/research/proximal_distal_energy/qualify_open_release.py
  scripts/research/proximal_distal_energy/release_claim_review.py
  tests/unit/research/test_proximal_distal_claim_audit.py
  tests/unit/research/test_release_claim_review.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(bunkershot3d): V&V suite and credibility statement (#8616)
  docs/bunkershot3d/comparison.md
  docs/bunkershot3d/credibility.md
  src/bunkershot3d/__init__.py
  src/bunkershot3d/vandv/__init__.py
  src/bunkershot3d/vandv/cases.py
  src/bunkershot3d/vandv/conservation.py
  src/bunkershot3d/vandv/convergence.py
  src/bunkershot3d/vandv/credibility.py
  src/bunkershot3d/vandv/exceptions.py
  src/bunkershot3d/vandv/gci.py
  src/bunkershot3d/vandv/reference_data.py
  src/bunkershot3d/vandv/studies.py
  src/bunkershot3d/vandv/validation.py
  tests/bunkershot3d/vandv/__init__.py
  tests/bunkershot3d/vandv/conftest.py
  tests/bunkershot3d/vandv/test_backend_claims.py
  tests/bunkershot3d/vandv/test_code_verification.py
  tests/bunkershot3d/vandv/test_conservation.py
  tests/bunkershot3d/vandv/test_credibility.py
  tests/bunkershot3d/vandv/test_gci.py
  tests/bunkershot3d/vandv/test_reference_data.py
  tests/bunkershot3d/vandv/test_validation.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

Update release review handoff
  AGENT_HANDOFF.md
Due: none

Specify release-level claim review
  SPEC.md
Due: none

Record release review merges
  AGENT_HANDOFF.md
Due: none

fix(bunkershot3d): clear type errors surfaced by the V&V merge
  src/bunkershot3d/ball/pipeline.py
  src/bunkershot3d/vandv/conservation.py
  src/bunkershot3d/vandv/credibility.py
  tests/bunkershot3d/vandv/test_credibility.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(bunkershot3d): connect the designer workbench to the real F0 model (#8618)
  docs/development/feature_parity_matrix.md
  src/config/feature_parity.json
  src/config/launcher_manifest.json
  src/config/models.yaml
  src/tools/bunker_shot_gui/__init__.py
  src/tools/bunker_shot_gui/_embed_adapter.py
  src/tools/bunker_shot_gui/bridge.py
  src/tools/bunker_shot_gui/design.py
  src/tools/bunker_shot_gui/gui.py
  src/tools/bunker_shot_gui/model.py
  src/tools/bunker_shot_gui/report.py
  src/tools/bunker_shot_gui/widgets.py
  tests/tools/bunker_shot_gui/test_gui.py
  tests/unit/tools/bunker_shot_gui/conftest.py
  tests/unit/tools/bunker_shot_gui/test_design_inputs.py
  tests/unit/tools/bunker_shot_gui/test_embed.py
  tests/unit/tools/bunker_shot_gui/test_no_fake_physics.py
  tests/unit/tools/bunker_shot_gui/test_report.py
  tests/unit/tools/bunker_shot_gui/test_workbench_model.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

merge(bunkershot3d): designer workbench connected to the real model (#8618)
  src/tools/bunker_shot_gui/report.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): record the BunkerShot3D rebuild (epic #8607)
  SPEC.md
Due: none

docs(bunkershot3d): mark the epic complete and point follow-ups at the real gaps
  docs/bunkershot3d/upgrade/STATE.md
Due: none

fix(bunker_shot_gui): restore the intermediate local in _dig_skid_lines
  src/tools/bunker_shot_gui/report.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

research: qualify proximal-distal external evidence
  .pre-commit-config.yaml
  AGENT_HANDOFF.md
  SPEC.md
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/CLAIM_AUDIT_SCHEMA.md
  docs/research/proximal_distal_energy_transfer/MODEL_COMPLETION_FALSIFICATION_MATRIX.md
  docs/research/proximal_distal_energy_transfer/MOMENTUM_TRANSFER_QUESTION_PROGRAM.md
  docs/research/proximal_distal_energy_transfer/README.md
  docs/research/proximal_distal_energy_transfer/data/claim_audit_registry.json
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/data/external_source_review.json
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.pdf
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.tex
  docs/research/proximal_distal_energy_transfer/references.bib
  docs/research/proximal_distal_energy_transfer/release_manifest.json
  scripts/research/proximal_distal_energy/external_source_review.py
  scripts/research/proximal_distal_energy/qualify_open_release.py
  scripts/research/proximal_distal_energy/release_bundle.py
  tests/research/test_proximal_distal_release_bundle.py
  tests/unit/research/test_proximal_distal_claim_evidence_integrity.py
  tests/unit/research/test_proximal_distal_external_source_review.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(bunkershot3d): derive ball launch from the delivered impulse (#8657)
  docs/bunkershot3d/credibility.md
  src/bunkershot3d/__init__.py
  src/bunkershot3d/ball/__init__.py
  src/bunkershot3d/ball/lie.py
  src/bunkershot3d/ball/pipeline.py
  src/bunkershot3d/ball/splash.py
  src/tools/bunker_shot_gui/gui.py
  src/tools/bunker_shot_gui/model.py
  src/tools/bunker_shot_gui/report.py
  tests/bunkershot3d/ball/test_launch_credibility.py
  tests/bunkershot3d/ball/test_pipeline_handoff.py
  tests/bunkershot3d/ball/test_splash_transfer.py
  tests/unit/tools/bunker_shot_gui/test_workbench_model.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(bunkershot3d): satisfy the title-case gate and unmangle physics notation
  docs/adr/0032-bunkershot3d-club-design-architecture.md
  docs/bunkershot3d/credibility.md
  docs/bunkershot3d/upgrade/STATE.md
  docs/bunkershot3d/upgrade/baseline-findings.md
  docs/bunkershot3d/upgrade/research-digest-addendum.md
  docs/bunkershot3d/upgrade/research-digest.md
Due: none

ci: satisfy research architecture budgets
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/release_manifest.json
  scripts/research/proximal_distal_energy/external_source_review.py
  scripts/research/proximal_distal_energy/release_bundle.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: format inherited ADR index
  docs/adr/README.md
Due: none

fix(bunkershot3d): derive ball launch from delivered impulse; green the doc gate (#8657)
  docs/adr/0032-bunkershot3d-club-design-architecture.md
  docs/bunkershot3d/credibility.md
  docs/bunkershot3d/upgrade/STATE.md
  docs/bunkershot3d/upgrade/baseline-findings.md
  docs/bunkershot3d/upgrade/research-digest-addendum.md
  docs/bunkershot3d/upgrade/research-digest.md
  src/bunkershot3d/__init__.py
  src/bunkershot3d/ball/__init__.py
  src/bunkershot3d/ball/lie.py
  src/bunkershot3d/ball/pipeline.py
  src/bunkershot3d/ball/splash.py
  src/tools/bunker_shot_gui/gui.py
  src/tools/bunker_shot_gui/model.py
  src/tools/bunker_shot_gui/report.py
  tests/bunkershot3d/ball/test_launch_credibility.py
  tests/bunkershot3d/ball/test_pipeline_handoff.py
  tests/bunkershot3d/ball/test_splash_transfer.py
  tests/unit/tools/bunker_shot_gui/test_workbench_model.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs: record external evidence merge
  AGENT_HANDOFF.md
Due: none

docs(adr): match the ADR-0032 index entry to its retitled heading
  docs/adr/README.md
Due: none

research: bridge closed states into forward contact
  AGENT_HANDOFF.md
  SPEC.md
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/DATA_DICTIONARY.md
  docs/research/proximal_distal_energy_transfer/MOMENTUM_TRANSFER_QUESTION_PROGRAM.md
  docs/research/proximal_distal_energy_transfer/OPEN_RELEASE_QUALIFICATION.md
  docs/research/proximal_distal_energy_transfer/README.md
  docs/research/proximal_distal_energy_transfer/chapters/_ch06c_spatial_cross_formulation.qmd
  docs/research/proximal_distal_energy_transfer/data/claim_audit_registry.json
  docs/research/proximal_distal_energy_transfer/data/claim_candidate_inventory.json
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/data/closed_state_forward_bridge.json
  docs/research/proximal_distal_energy_transfer/data/closed_state_forward_bridge.npz
  docs/research/proximal_distal_energy_transfer/data/release_claim_review.json
  docs/research/proximal_distal_energy_transfer/data/spatial_forward_contact_study.json
  docs/research/proximal_distal_energy_transfer/data/spatial_forward_contact_study.npz
  docs/research/proximal_distal_energy_transfer/figures/fig_closed_state_forward_bridge.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_closed_state_forward_bridge.svg
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.pdf
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.qmd
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.tex
  docs/research/proximal_distal_energy_transfer/release_manifest.json
  scripts/research/proximal_distal_energy/closed_state_forward_bridge.py
  scripts/research/proximal_distal_energy/make_closed_state_forward_bridge_figure.py
  scripts/research/proximal_distal_energy/register_subject_scaled_spatial_geometry_claims.py
  scripts/research/proximal_distal_energy/release_bundle.py
  scripts/research/proximal_distal_energy/release_claim_review.py
  scripts/research/proximal_distal_energy/run_closed_state_forward_bridge.py
  scripts/research/proximal_distal_energy/spatial_forward_contract.py
  scripts/research/proximal_distal_energy/spatial_forward_engines.py
  scripts/research/proximal_distal_energy/spatial_forward_study.py
  tests/research/test_closed_state_forward_bridge.py
  tests/research/test_proximal_distal_release_bundle.py
  tests/research/test_spatial_forward_contact.py
  tests/unit/research/test_release_claim_review.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix: isolate forward bridge from legacy orchestration
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/README.md
  docs/research/proximal_distal_energy_transfer/data/claim_audit_registry.json
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/data/closed_state_forward_bridge.json
  docs/research/proximal_distal_energy_transfer/data/release_claim_review.json
  docs/research/proximal_distal_energy_transfer/release_manifest.json
  scripts/research/proximal_distal_energy/closed_state_forward_bridge.py
  scripts/research/proximal_distal_energy/register_closed_state_forward_bridge_claims.py
  scripts/research/proximal_distal_energy/run_closed_state_forward_bridge.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

research: map forward contact validity horizon
  .pre-commit-config.yaml
  AGENT_HANDOFF.md
  SPEC.md
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/COMPREHENSIVE_RESEARCH_PROGRAM.md
  docs/research/proximal_distal_energy_transfer/DATA_DICTIONARY.md
  docs/research/proximal_distal_energy_transfer/MODEL_COMPLETION_FALSIFICATION_MATRIX.md
  docs/research/proximal_distal_energy_transfer/MOMENTUM_TRANSFER_QUESTION_PROGRAM.md
  docs/research/proximal_distal_energy_transfer/README.md
  docs/research/proximal_distal_energy_transfer/chapters/_ch06c_spatial_cross_formulation.qmd
  docs/research/proximal_distal_energy_transfer/chapters/_ch08b_momentum_transfer_questions.qmd
  docs/research/proximal_distal_energy_transfer/chapters/_ch09_conclusions.qmd
  docs/research/proximal_distal_energy_transfer/data/claim_audit_registry.json
  docs/research/proximal_distal_energy_transfer/data/claim_candidate_inventory.json
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/data/closed_state_forward_bridge.json
  docs/research/proximal_distal_energy_transfer/data/forward_contact_validity_horizon.json
  docs/research/proximal_distal_energy_transfer/data/forward_contact_validity_horizon.npz
  docs/research/proximal_distal_energy_transfer/data/release_claim_review.json
  docs/research/proximal_distal_energy_transfer/figures/fig_forward_contact_validity_horizon.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_forward_contact_validity_horizon.svg
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.pdf
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.qmd
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.tex
  docs/research/proximal_distal_energy_transfer/release_manifest.json
  scripts/research/proximal_distal_energy/closed_state_forward_bridge.py
  scripts/research/proximal_distal_energy/forward_contact_validity_horizon.py
  scripts/research/proximal_distal_energy/make_forward_contact_validity_horizon_figure.py
  scripts/research/proximal_distal_energy/register_forward_contact_validity_horizon_claims.py
  scripts/research/proximal_distal_energy/release_bundle.py
  scripts/research/proximal_distal_energy/release_claim_review.py
  scripts/research/proximal_distal_energy/run_forward_contact_validity_horizon.py
  tests/research/test_forward_contact_validity_horizon.py
  tests/research/test_proximal_distal_release_bundle.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: advance proximal distal handoff
  AGENT_HANDOFF.md
Due: none

⚡ Bolt: Optimize array norm calculations (#8670)
  .jules/bolt.md
  SPEC.md
  src/bunkershot3d/metrics/loads.py
  src/shared/python/humanoid_character_builder/core/model.py
  src/shared/python/sidekick/data_processing/core.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon
