Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

test(appearance): each engine's face tracks the capture at address, top and impact; regenerated club-face fixtures (#11759)
  tests/fixtures/club_face/address_poses.json
  tests/fixtures/club_face/provenance.json
  tests/fixtures/club_face/swing_q_driver.npz
  tests/fixtures/club_face/swing_q_iron7.npz
  tests/unit/model_appearance/test_clubface_square_at_address.py
Due: pytest-unit

docs(matching): club-face orientation residual cost term, sweep and refit results (#11759)
  AGENT_HANDOFF.md
  changes/11759-osv-10-face-roll-refit.md
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
Due: none

refactor(matching): keep run_pipeline within the function budget; type the provenance document (#11759)
  scripts/regenerate_club_face_fixtures.py
  src/shared/python/motion_matching/pipeline/cli.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(scripts): club-face fixture regeneration flags, triad offsets and provenance hashes (#11759)
  tests/scripts/test_regenerate_club_face_fixtures.py
Due: pytest-unit

chore(shared-tools): sync divergence inventory for club_face_target (#11759)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

feat(grip_contact): force decomposition, designed damping, IK conditioning (#11739)
  src/shared/python/grip_contact/__init__.py
  src/shared/python/grip_contact/club_dynamics.py
  src/shared/python/grip_contact/damping.py
  src/shared/python/grip_contact/force_decomposition.py
  src/shared/python/grip_contact/interface.py
  src/shared/python/grip_contact/parameters.py
  src/shared/python/grip_contact/trajectory_conditioning.py
  tests/unit/grip_contact/test_damping_design.py
  tests/unit/grip_contact/test_force_decomposition.py
  tests/unit/grip_contact/test_trajectory_conditioning.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(opensim): condition input and report kinematics for bushing grip; valid-window tests (#11739)
  src/engines/physics_engines/opensim/python/grip_bushing_sim.py
  tests/unit/motion_matching/test_grip_bushing_opensim.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(osv-7): valid-window grip kinetics evidence, diagnosis and handoff (#11739)
  AGENT_HANDOFF.md
  changes/11739-osv7-bushing-grip.md
  docs/development/full_body_models/DESIGN_DECISIONS.md
  docs/development/full_body_models/evidence/grip_kinetics/driver_bushing_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/driver_bushing_series_full_window.npz
  docs/development/full_body_models/evidence/grip_kinetics/receipt.json
  docs/development/full_body_models/evidence/grip_kinetics/receipt_before_fix.json
  docs/development/full_body_models/evidence/grip_kinetics/receipt_full_window_conditioned.json
  docs/development/full_body_models/evidence/grip_kinetics/run_grip_kinetics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(impact): target-line impact parameters package (GCV-15) (#11735)
  AGENT_HANDOFF.md
  changes/11721-gcv-15-add-impact-parameters-package-spe.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  reports/matched_swing_ledger.json
  src/shared/python/impact_parameters/__init__.py
  src/shared/python/impact_parameters/clubhead_series.py
  src/shared/python/impact_parameters/extract.py
  src/shared/python/impact_parameters/target_frame.py
  src/shared/python/impact_parameters/tools_gateway.py
  tests/unit/impact_parameters/test_extract.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(myosuite): map NeckInputY to neck_flexion with FK-derived sign (#11729)
  changes/11729-myosuite-anthro-map-neckinputy-drives-ne.md
  docs/development/full_body_models/DESIGN_DECISIONS.md
  docs/development/full_body_models/evidence/myosuite_neck/neck_flexion_sign.json
  docs/engines/myosuite.md
  scripts/myosuite_neck_flexion_sign.py
  src/engines/physics_engines/myosuite/python/coordinate_map_anthro.json
  tests/unit/engines/myosuite/test_retarget.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test(capture_rig): drop deleted windows from theme manager registry in compliance fixture
  tests/tools/capture_rig/test_theme_compliance.py
Due: pytest-unit

feat(impact): per-engine ClubheadSeries adapters with cross-engine parity (GCV-16)
  AGENT_HANDOFF.md
  changes/11722-clubheadseries-adapters-for-mujoco-myosu.md
  src/shared/python/impact_parameters/adapters/__init__.py
  src/shared/python/impact_parameters/adapters/club_face.py
  src/shared/python/impact_parameters/adapters/drake_adapter.py
  src/shared/python/impact_parameters/adapters/impact_time.py
  src/shared/python/impact_parameters/adapters/mujoco_adapter.py
  src/shared/python/impact_parameters/adapters/opensim_adapter.py
  src/shared/python/impact_parameters/adapters/pinocchio_adapter.py
  src/shared/python/impact_parameters/adapters/simscape_adapter.py
  tests/unit/impact_parameters/test_adapters.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: regenerate divergence inventory for impact_parameters adapters (GCV-16)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

feat(biomechanics): per-hand grip wrench extraction in every engine (GCV-8) (#11757)
  AGENT_HANDOFF.md
  changes/11714-gcv-8-per-hand-grip-wrench-extraction-fo.md
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/architecture/CAPABILITY_ATLAS.md
  docs/development/ORG01_CAPABILITY_BASELINE.md
  docs/development/feature_parity_matrix.md
  docs/development/monolith_refactor_register.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  reports/matched_swing_ledger.json
  src/config/capability_migration.json
  src/config/feature_parity.json
  src/engines/physics_engines/drake/python/full_body_model.py
  src/engines/physics_engines/mujoco/python/full_body_model.py
  src/engines/physics_engines/mujoco/python/grip_efc.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/force_torque_source.py
  src/engines/physics_engines/mujoco/python/native_model.py
  src/engines/physics_engines/opensim/python/opensim_force_torque.py
  src/engines/physics_engines/pinocchio/python/pinocchio_force_torque.py
  src/shared/python/biomechanics/grip_extraction.py
  tests/companion/test_companion_catalog.py
  tests/tools/capture_rig/test_theme_compliance.py
  tests/unit/biomechanics/test_grip_extraction.py
  tests/unit/engines/mujoco/test_force_torque_source.py
  tests/unit/engines/mujoco/test_grip_efc.py
  tests/unit/engines/myosuite/test_grip_wrench_myosuite.py
  tests/unit/engines/opensim/test_opensim_force_torque.py
  tests/unit/engines/pinocchio/test_pinocchio_force_torque.py
  tests/unit/motion_matching/test_full_body_grip_wrench.py
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(impact): type adapter engine handles as Any so mypy is clean (GCV-16)
  src/shared/python/impact_parameters/adapters/drake_adapter.py
  src/shared/python/impact_parameters/adapters/mujoco_adapter.py
  src/shared/python/impact_parameters/adapters/opensim_adapter.py
  src/shared/python/impact_parameters/adapters/pinocchio_adapter.py
  src/shared/python/impact_parameters/adapters/simscape_adapter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(impact): impact parameters panel across API, PyQt dock and web (GCV-17)
  AGENT_HANDOFF.md
  assets/logos/impact_parameters.svg
  changes/11723-impact-parameters-panel-api-route-pyqt-d.md
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/architecture/CAPABILITY_ATLAS.md
  docs/development/ORG01_CAPABILITY_BASELINE.md
  docs/development/feature_parity_matrix.md
  docs/help/impact_parameters.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  pyproject.toml
  src/api/models/responses.py
  src/api/routes/analysis.py
  src/api/services/impact_parameters_service.py
  src/config/capability_migration.json
  src/config/feature_parity.json
  src/config/launcher_manifest.json
  src/config/models.yaml
  src/launchers/assets/impact_parameters.png
  src/launchers/embedded_tool_bootstrap.py
  src/shared/python/impact_parameters/panel_model.py
  src/tools/impact_parameters_panel/__init__.py
  src/tools/impact_parameters_panel/__main__.py
  src/tools/impact_parameters_panel/_embed_adapter.py
  src/tools/impact_parameters_panel/gui.py
  tests/unit/api/test_routes_impact_parameters.py
  tests/unit/impact_parameters/test_impact_panel_widget.py
  tests/unit/impact_parameters/test_panel_model.py
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
  ui/src/api/generated/types.ts
  ui/src/api/impactParameters.ts
  ui/src/components/analysis/ImpactParametersPanel.test.tsx
  ui/src/components/analysis/ImpactParametersPanel.tsx
  ui/src/pages/AnalysisTools.tsx
  ui/src/pages/MatchedSwings.tsx
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

fix(ci): type, LOD, architecture-budget and stub-guard fixes for the bushing grip; decision count 16
  src/engines/physics_engines/opensim/python/full_body_grip_topology.py
  src/engines/physics_engines/opensim/python/full_body_osim.py
  src/engines/physics_engines/opensim/python/grip_bushing_sim.py
  src/shared/python/grip_contact/club_dynamics.py
  src/shared/python/grip_contact/damping.py
  tests/unit/motion_matching/pipeline/test_design_decisions.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): register decision 16 title
  src/shared/python/motion_matching/pipeline/design_decisions.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): register decision 16 in the design-decisions tests
  tests/unit/motion_matching/pipeline/test_design_decisions.py
Due: pytest-unit

chore: regenerate derived artifacts for the consolidated GCV/OSV wave
  AGENT_HANDOFF.md
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/architecture/CAPABILITY_ATLAS.md
  docs/development/ORG01_CAPABILITY_BASELINE.md
  docs/development/feature_parity_matrix.md
  docs/development/monolith_refactor_register.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  reports/matched_swing_ledger.json
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: none

feat(lifting): audit and cross-engine parity baseline of the four lift packs (#11741)
  AGENT_HANDOFF.md
  changes/11741-add-lift-model-pack-audit-and-cross-engi.md
  docs/agents/shared-infrastructure.md
  docs/development/lifting/PACK_PARITY_BASELINE.md
  docs/development/lifting/pack_parity_baseline.json
  scripts/lifting/render_pack_stills.py
  scripts/lifting/run_pack_parity_baseline.py
  src/shared/python/lifting/__init__.py
  src/shared/python/lifting/pack_audit/__init__.py
  src/shared/python/lifting/pack_audit/adapters/__init__.py
  src/shared/python/lifting/pack_audit/adapters/_common.py
  src/shared/python/lifting/pack_audit/adapters/drake_adapter.py
  src/shared/python/lifting/pack_audit/adapters/mujoco_adapter.py
  src/shared/python/lifting/pack_audit/adapters/opensim_adapter.py
  src/shared/python/lifting/pack_audit/adapters/pinocchio_adapter.py
  src/shared/python/lifting/pack_audit/analysis.py
  src/shared/python/lifting/pack_audit/baseline.py
  src/shared/python/lifting/pack_audit/frames.py
  src/shared/python/lifting/pack_audit/gaps.py
  src/shared/python/lifting/pack_audit/geometry.py
  src/shared/python/lifting/pack_audit/model.py
  src/shared/python/lifting/pack_audit/names.py
  src/shared/python/lifting/pack_audit/packs.py
  src/shared/python/lifting/pack_audit/phases.py
  src/shared/python/lifting/pack_audit/poses.py
  src/shared/python/lifting/pack_audit/report.py
  src/shared/python/lifting/pack_audit/stills.py
  tests/unit/lifting/pack_audit/test_pack_audit_frames_names.py
  tests/unit/lifting/pack_audit/test_pack_audit_geometry.py
  tests/unit/lifting/pack_audit/test_pack_audit_live.py
  tests/unit/lifting/pack_audit/test_pack_audit_report.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(lifting): parse generated model XML with defusedxml (#11741)
  docs/development/lifting/pack_parity_baseline.json
  src/shared/python/lifting/pack_audit/adapters/drake_adapter.py
  src/shared/python/lifting/pack_audit/adapters/pinocchio_adapter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: sync shared-tools divergence inventory for lifting audit modules (#11741)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

fix(types): accept any per-frame axis-target mapping and pass a Path to Drake Mesh
  src/shared/python/motion_matching/club_face_target.py
  src/tools/native_viewer_export/backends/drake_meshcat.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: remove duplicated blocks flagged by the DRY ratchet
  src/shared/python/biomechanics/ground_reaction.py
  src/shared/python/impact_parameters/adapters/club_face.py
  src/shared/python/impact_parameters/adapters/drake_adapter.py
  src/shared/python/impact_parameters/adapters/mujoco_adapter.py
  src/shared/python/impact_parameters/adapters/opensim_adapter.py
  src/shared/python/impact_parameters/adapters/pinocchio_adapter.py
  src/shared/python/launcher_embed/__init__.py
  src/shared/python/launcher_embed/contract.py
  src/tools/canonical_core/_embed_adapter.py
  src/tools/impact_parameters_panel/_embed_adapter.py
  src/tools/impact_parameters_panel/gui.py
  tests/unit/launcher_embed/test_contract.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(companion): derive catalog counts from the consolidated registries
  scripts/config/companion_screenshots.v1.json
  tests/companion/test_companion_catalog.py
  tests/companion/test_companion_screenshots.py
Due: pytest-unit

docs(opensim): title-case the model README headings
  src/engines/physics_engines/opensim/models/README.md
Due: none

test(impact): skip adapter cases when an engine binding is a test stub
  tests/unit/impact_parameters/test_adapters.py
Due: pytest-unit

fix(myosuite): one-to-one retarget map; drop overwriting secondaries (#11729)
  changes/11729-myosuite-retarget-map-is-one-to-one-weig.md
  docs/development/full_body_models/DESIGN_DECISIONS.md
  docs/engines/myosuite.md
  src/engines/physics_engines/myosuite/python/coordinate_map_anthro.json
  src/engines/physics_engines/myosuite/python/retarget.py
  src/shared/python/myofullbody/neck.py
  tests/unit/engines/myofullbody/test_myofullbody_neck.py
  tests/unit/engines/myosuite/test_retarget.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(design-decisions): register sections 16 and 17; derive titles once
  docs/development/full_body_models/DESIGN_DECISIONS.md
  src/shared/python/motion_matching/pipeline/design_decisions.py
  tests/unit/motion_matching/pipeline/test_design_decisions.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(biomechanics): foot membership and contact-wrench ground-reaction adapter (GCV-2, GCV-6)
  src/shared/python/biomechanics/foot_membership.py
  src/shared/python/biomechanics/ground_reaction.py
  src/shared/python/biomechanics/ground_reaction_wrenches.py
  tests/unit/biomechanics/test_foot_membership.py
  tests/unit/biomechanics/test_ground_reaction_wrenches.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(mujoco,myosuite): emit the ground-reaction breakdown from native contacts (GCV-2)
  src/engines/physics_engines/mujoco/python/ground_contacts.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/force_torque_source.py
  src/engines/physics_engines/myosuite/python/myosuite_force_torque.py
  tests/unit/engines/mujoco/test_ground_reaction_wiring.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(drake): emit the ground-reaction breakdown from contact results (GCV-2)
  src/engines/physics_engines/drake/python/drake_force_torque.py
  tests/engines/drake/test_drake_ground_reaction.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(pinocchio): emit the ground-reaction breakdown from contact samples (GCV-2)
  src/engines/physics_engines/pinocchio/python/pinocchio_force_torque.py
  tests/unit/engines/pinocchio/test_pinocchio_ground_reaction.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(opensim): improved club held in both hands in the Rajagopal golf models (#11756)
  scripts/build_humanoid_osim.py
  src/engines/physics_engines/opensim/models/golf_humanoid.osim
  src/engines/physics_engines/opensim/models/golf_humanoid_scaled.osim
  src/engines/physics_engines/opensim/models/msk_club_grip_calibration.json
  src/engines/physics_engines/opensim/python/msk_club.py
  src/engines/physics_engines/opensim/python/msk_club_calibration.py
  tests/opensim/test_msk_club.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(opensim): emit the ground-reaction breakdown from sphere contacts (GCV-2)
  src/engines/physics_engines/opensim/python/opensim_force_torque.py
  tests/engines/drake/test_drake_ground_reaction.py
  tests/unit/engines/mujoco/test_ground_reaction_wiring.py
  tests/unit/engines/opensim/test_opensim_ground_reaction.py
  tests/unit/engines/pinocchio/test_pinocchio_ground_reaction.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: route CoP computations through the shared ground-reaction core (GCV-6)
  src/shared/python/motion_matching/candidate_session.py
  src/shared/python/motion_matching/force_torque.py
  src/shared/python/physics/_grip_forces.py
  src/shared/python/physics/_grip_model.py
  src/shared/python/physics/grip_contact_model.py
  src/shared/python/physics/ground_reaction_forces.py
  tests/unit/motion_matching/test_force_torque.py
  tests/unit/physics/test_cop_consolidation.py
  tests/unit/test_grip_contact_model.py
  tests/unit/test_ground_reaction_forces.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(grip): drive the bushing grip from the closure-consistent fitted swings (#11739)
  src/shared/python/grip_contact/__init__.py
  src/shared/python/grip_contact/swing_input.py
  tests/unit/grip_contact/test_swing_input.py
  tests/unit/motion_matching/test_grip_bushing_opensim.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(force-overlay): bundle provider emits the shared GRF breakdown (GCV-2)
  docs/development/fto_26_demo_still.png
  src/shared/python/force_overlay/bundle_provider.py
  tests/unit/force_overlay/test_bundle_provider.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
