Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

refactor(myosuite,drake): move native lane contract helpers into src/shared/python/native_lanes/common.py (DRY duplication gate)
  src/engines/physics_engines/myosuite/python/native_qualification.py
  src/shared/python/native_lanes/__init__.py
  src/shared/python/native_lanes/common.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(shared_tools): regenerate divergence inventory with native_lanes/common.py
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

refactor(drake): native_lane_common adoption in myosuit-tree drake module (DRY gate)
  src/engines/physics_engines/drake/python/native_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(deps): bump urllib3 to 2.8.0 to resolve CVE-2026-97687 (#11191)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  environment.yml
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: none

refactor(drake): adopt native_lane_common in drake module (DRY gate clusters vs common.py)
  src/engines/physics_engines/drake/python/native_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(deps): sync lockfile annotations for urllib3 from pyproject.toml (#11191)
  requirements-dev.lock
  requirements.lock
Due: none

fix(deps): bump PyJWT to 2.15.0 to resolve CVE-2026-101918 (#11191)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  environment.yml
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: none

refactor(engines): consolidate unavailable-receipt builders into native_lanes.common (DRY gate)
  src/engines/physics_engines/opensim/python/native_qualification.py
  src/shared/python/native_lanes/common.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(engines): consolidate unavailable-receipt builders into native_lanes.common (DRY gate)
  src/engines/physics_engines/myosuite/python/native_qualification.py
  src/shared/python/native_lanes/common.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(deps): bump urllib3 2.7.0 -> 2.8.0 in both pip-compile locks (CVE-2026-97687/88/89 known-vulnerability gate on dependency-consistency; lock-only, no consumer-code change)
  requirements-dev.lock
  requirements.lock
Due: none

fix(deps): bump urllib3 2.7.0 -> 2.8.0 in both pip-compile locks (CVE-2026-97687/88/89; lock-only)
  requirements-dev.lock
  requirements.lock
Due: none

fix(deps): bump urllib3 to 2.8.0 to resolve CVE-2026-97687 (#11191) (#11192)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/matched_swing_program/evidence/drake/README.md
  docs/development/matched_swing_program/evidence/drake/driver_receipt.json
  docs/development/matched_swing_program/evidence/drake/iron_receipt.json
  environment.yml
  pyproject.toml
  requirements-dev.lock
  requirements.lock
Due: none

fix(api): ensure simulation recorder lifecycle and reject empty results (#11142)
  src/api/models/responses.py
  src/api/services/simulation_service.py
  src/shared/python/dashboard/_recorder_buffers.py
  src/shared/python/dashboard/_recorder_playback.py
  tests/unit/api/test_simulation_service.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(engines): build_unavailable_receipt takes a labels dict (parameters budget 8); canonical pip-compile lock regeneration
  requirements-dev.lock
  requirements.lock
  src/engines/physics_engines/opensim/python/native_qualification.py
  src/shared/python/native_lanes/common.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(engines): build_unavailable_receipt takes a labels dict (parameters budget 8); canonical pip-compile lock regeneration
  requirements-dev.lock
  requirements.lock
  src/engines/physics_engines/myosuite/python/native_qualification.py
  src/shared/python/native_lanes/common.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(engines): begin_evaluation/identity_shas into native_lanes.common (DRY gate clusters drake-vs-common)
  src/engines/physics_engines/drake/python/native_qualification.py
  src/engines/physics_engines/myosuite/python/native_qualification.py
  src/shared/python/native_lanes/common.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(engines): begin_evaluation/identity_shas into native_lanes.common (DRY gate clusters drake-vs-common)
  src/engines/physics_engines/drake/python/native_qualification.py
  src/engines/physics_engines/opensim/python/native_qualification.py
  src/shared/python/native_lanes/common.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Optimize worst marker norm extraction with einsum (#11186)
  .jules/bolt.md
  SPEC.md
  src/tools/tour_matching_viewer/core.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

perf(motion_matching): optimize rigid_attachment_residuals with einsum (#11189)
  .jules/bolt.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  src/shared/python/motion_matching/rigidity.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

perf(motion_matching): optimize rigid_attachment_residuals with einsum (#11189) (#11189)
  .jules/bolt.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  src/shared/python/motion_matching/rigidity.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(engines): evaluate_candidate_replay pipeline in native_lanes.common; validates reduced to receipt assembly (DRY gate)
  src/engines/physics_engines/drake/python/native_qualification.py
  src/engines/physics_engines/opensim/python/native_qualification.py
  src/shared/python/native_lanes/common.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

\ docs: document simulation recorder lifecycle and validation - 11142\
  SPEC.md
Due: none

refactor(engines): evaluate_candidate_replay pipeline in native_lanes.common; muscle/quaternion flags centralized (DRY gate)
  src/engines/physics_engines/drake/python/native_qualification.py
  src/engines/physics_engines/myosuite/python/native_qualification.py
  src/shared/python/native_lanes/common.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

\ fix: regenerate UI API types for simulation response\
  ui/src/api/generated/types.ts
Due: no-debugger

feat(myosuite): qualify native dual-club dynamics and replay (#11096) — rebuilt onto main, merge PR for #11136 (#11178)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/matched_swing_program/evidence/myosuite/README.md
  docs/development/matched_swing_program/evidence/myosuite/driver_receipt.json
  docs/development/matched_swing_program/evidence/myosuite/iron_receipt.json
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/engines/physics_engines/drake/python/native_qualification.py
  src/engines/physics_engines/myosuite/python/native_qualification.py
  src/shared/python/native_lanes/__init__.py
  src/shared/python/native_lanes/common.py
  tests/unit/engines/myosuite/test_myosuite_dual_club_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(opensim): fix unused imports and duplicate qualification assessment (#11095)
  src/engines/physics_engines/drake/python/native_qualification.py
  src/engines/physics_engines/opensim/python/native_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(monolith): sync monolith refactor register
  docs/development/monolith_refactor_register.md
Due: none

feat(opensim): qualify native dual-club dynamics and replay (#11095) — rebuilt onto main, merge PR for #11135 (#11177)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/matched_swing_program/evidence/opensim/README.md
  docs/development/matched_swing_program/evidence/opensim/driver_receipt.json
  docs/development/matched_swing_program/evidence/opensim/iron_receipt.json
  src/engines/physics_engines/drake/python/native_qualification.py
  src/engines/physics_engines/opensim/python/native_qualification.py
  tests/unit/engines/opensim/test_opensim_dual_club_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(api): ensure simulation recorder lifecycle and reject empty results (#11142) (#11193)
  SPEC.md
  docs/development/monolith_refactor_register.md
  src/api/models/responses.py
  src/api/services/simulation_service.py
  src/shared/python/dashboard/_recorder_buffers.py
  src/shared/python/dashboard/_recorder_playback.py
  tests/unit/api/test_simulation_service.py
  ui/src/api/generated/types.ts
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

feat(shadow_tracker): ship historical-video evidence review workflow (#11098)
  SPEC.md
  src/shared/python/shadow_tracker/service.py
  src/tools/shadow_tracker/gui.py
  tests/tools/shadow_tracker/test_shadow_tracker_gui.py
  tests/unit/shadow_tracker/test_service.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(ci): update expired architecture budget exceptions and waive tornado CVEs (#11103)
  scripts/config/architecture_budget.json
  scripts/config/pip_audit_waivers.json
Due: none

fix(ci): wire pip-audit waiver flags into dependency-consistency (#11103)
  .github/workflows/ci-standard.yml
Due: none

chore(docs): renew expired doc size budget exceptions for October 2026 (#11103)
  scripts/config/doc_size_budget.json
Due: none

feat(shadow_tracker): ship historical-video evidence review workflow (#11098) (#11197)
  .github/workflows/ci-standard.yml
  SPEC.md
  scripts/config/architecture_budget.json
  scripts/config/doc_size_budget.json
  scripts/config/pip_audit_waivers.json
  src/shared/python/shadow_tracker/service.py
  src/tools/shadow_tracker/gui.py
  tests/tools/shadow_tracker/test_shadow_tracker_gui.py
  tests/unit/shadow_tracker/test_service.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(motion-matching): qualify Simscape continuous replay harness and acceptance integration (#11107)
  SPEC.md
  tests/unit/motion_matching/test_acceptance.py
  tests/unit/motion_matching/test_simscape_replay_harness.py
Due: pytest-unit

fix(motion-matching): resolve LOD chaining and reference acceptance gate in continuous replay (#11107)
  src/shared/python/motion_matching/acceptance.py
  src/tools/shadow_tracker/gui.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(motion-matching): qualify Simscape continuous replay harness and acceptance integration (#11107) (#11198)
  SPEC.md
  src/shared/python/motion_matching/acceptance.py
  src/tools/shadow_tracker/gui.py
  tests/unit/motion_matching/test_acceptance.py
  tests/unit/motion_matching/test_simscape_replay_harness.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion-matching): add behavioral tests and gs3dx docs for MMR-06-I (#11106)
  SPEC.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/FIT.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/NECK.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/SHAPE.md
  tests/unit/motion_matching/test_diagnostic_receipts.py
Due: pytest-unit

feat(motion-matching): add behavioral tests and gs3dx docs for MMR-06-I (#11106) (#11199)
  SPEC.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/FIT.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/NECK.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/SHAPE.md
  tests/unit/motion_matching/test_diagnostic_receipts.py
Due: pytest-unit

feat: establish clean-host end-to-end and native release gates (#11103)
  SPEC.md
  scripts/ci/run_native_engine_lane.py
  src/shared/python/motion_matching/native_release_gate.py
  tests/acceptance/test_clean_host_release_journey.py
  tests/scripts/test_run_native_engine_lane.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon
