Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

fix(contracts): pin reviewed renderer reference pairs
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/renderer_reference_9783_turnover.md
  tests/shared_contracts/test_tools_provider_contracts.py
Due: pytest-unit

fix(config): skip vendor-materialised registry tests in submodule-less checkouts (#9478)
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  tests/config/test_tile_paths_resolve.py
Due: pytest-unit

fix(config): registry truth — tools:// provenance scheme and ready/beta maturity gate (#9478)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  src/config/launcher_manifest.json
  src/config/models.yaml
  src/shared/python/config/model_source_providers.py
  src/shared/python/config/tile_target_resolution.py
  tests/config/test_tile_paths_resolve.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(config): narrow strip_tools_scheme to a str before vendor resolution (#9478)
  AGENT_HANDOFF.md
  SPEC.md
  src/shared/python/config/tile_target_resolution.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(research): bootstrap cmeel native library path for authority runtime (#9607)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/release_manifest.json
  scripts/research/proximal_distal_energy/articulated_native_runtime.py
  scripts/research/proximal_distal_energy/run_articulated_manufactured_solution.py
  tests/research/test_articulated_native_runtime.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(ci): build the Impact Explorer web bundle and gate declared route producers (#9484)
  .github/workflows/ci-standard.yml
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/workflows/WORKFLOW_TRACKING.md
  scripts/check_declared_route_producers.py
  tests/scripts/test_declared_route_producers.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(spec): record PR #9724 change-log row and PR reference (#9484)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
Due: none

test(ci): expect impact-explorer-web-build in the quality-gate aggregate (#9484)
  docs/development/DEVELOPMENT_LOG.md
  tests/ci/test_ci_infrastructure.py
Due: pytest-unit

docs(spec): document video upload suffix derivation (#9612)
  SPEC.md
  src/api/routes/video.py
  tests/unit/api/test_routes_video.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(handoff): record 38-PR backlog catch-up sweep dispositions (#9772)
  AGENT_HANDOFF.md
Due: none

docs(spec): add PR #9723 change log entry
  SPEC.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

Cross-Engine web dashboard accepts dt=0/trials=0 via "|| 0" coercion and polls forever with no timeout or cancel
  SPEC.md
  ui/src/pages/CrossEngineDashboard.test.tsx
  ui/src/pages/CrossEngineDashboard.tsx
  ui/src/pages/crossEngineConfig.ts
Due: no-debugger

docs(handoff): fix title capitalization in backlog sweep heading
  AGENT_HANDOFF.md
Due: none

fix(research): position nosemgrep suppression directly adjacent to os.execv (#9607)
  scripts/research/proximal_distal_energy/articulated_native_runtime.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(research): restore native authority provenance
  .github/workflows/ci-optional-stack.yml
  .pre-commit-config.yaml
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/manufactured_authority_9787_turnover.md
  docs/research/proximal_distal_energy_transfer/data/articulated_manufactured_solution.json
  docs/research/proximal_distal_energy_transfer/data/claim_audit_registry.json
  scripts/research/proximal_distal_energy/register_articulated_manufactured_solution_claims.py
  scripts/research/proximal_distal_energy/requirements/articulated-authority-py311.in
  scripts/research/proximal_distal_energy/requirements/articulated-authority-py311.lock
  tests/ci/test_articulated_manufactured_hybrid_ci_red.py
  tests/research/test_articulated_manufactured_hybrid_authority_red.py
  tests/research/test_articulated_manufactured_solution.py
  tests/research/test_manufactured_claim_refresh.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

ci(impact-explorer): build the Impact Explorer web bundle and gate declared route producers (#9484) (#9724)
  .github/workflows/ci-standard.yml
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/workflows/WORKFLOW_TRACKING.md
  scripts/check_declared_route_producers.py
  tests/ci/test_ci_infrastructure.py
  tests/scripts/test_declared_route_producers.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(research): refresh qualified authority manifests
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/manufactured_authority_9787_turnover.md
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/data/claim_audit_registry.json
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/data/release_claim_review.json
  docs/research/proximal_distal_energy_transfer/release_manifest.json
Due: none

docs(research): qualify merged authority evidence
  docs/development/DEVELOPMENT_LOG.md
  docs/development/manufactured_authority_9787_turnover.md
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
Due: none
