Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

test: expose native acceleration parity mismatch with diagnostics
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/native_dynamics_check_9967.json
  docs/development/simscape_tour_matching/native_evidence/native_dynamics_samples_9967.json
  docs/development/simscape_tour_matching/native_evidence/native_inertia_diagnostic_9967.json
  docs/development/simscape_tour_matching/native_evidence/native_passive_joint_audit_9967.json
  docs/development/simscape_tour_matching/native_evidence/reproduction/check_native_inertia_samples.py
  docs/development/simscape_tour_matching/native_evidence/reproduction/check_native_pose_samples.py
  docs/development/simscape_tour_matching/native_evidence/reproduction/export_native_pose_samples.m
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(launcher): persist embedded host workspace layout and dock geometry (#8899) (#10002)
  SPEC.md
  src/launchers/embedded_host.py
  src/launchers/launcher_layout_manager.py
  src/launchers/launcher_layout_persistence.py
  src/launchers/upstream_drift_launcher.py
  tests/launchers/test_embedded_host_workspace_persistence.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: preserve compact Pinocchio subtrees for native dynamics parity
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/native_dynamics_parity_9967.json
  docs/development/simscape_tour_matching/native_evidence/native_input_pulse_baseline_9967.json
  docs/development/simscape_tour_matching/native_evidence/native_input_pulse_parity_9967.json
  docs/development/simscape_tour_matching/native_evidence/native_mass_matrix_parity_9967.json
  docs/development/simscape_tour_matching/native_evidence/reproduction/check_native_input_pulses.py
  docs/development/simscape_tour_matching/native_evidence/reproduction/diagnose_pinocchio_pulse_solver.py
  docs/development/simscape_tour_matching/native_evidence/reproduction/export_native_input_pulses.m
  src/engines/physics_engines/pinocchio/python/native_model.py
  tests/unit/motion_matching/test_native_pinocchio_order.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(ui): harden toast notifications and accessibility (#8900)
  SPEC.md
  src/shared/python/ui/toast.py
  tests/unit/ui/test_toast.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: plan OpenSim tour matching epic and staged handoff
  docs/development/opensim_tour_matching/EPIC_10003.md
  docs/development/opensim_tour_matching/HANDOFF.md
Due: none

feat: add continuous forward diagnostic and staged matching handoffs
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/PINOCCHIO_EXECUTION_PLAN.md
  docs/development/simscape_tour_matching/native_evidence/native_continuous_prefix_diagnostic_9967.json
  docs/development/simscape_tour_matching/native_evidence/reproduction/check_native_continuous_rollout.py
  docs/development/simscape_tour_matching/native_evidence/reproduction/export_native_pose_samples.m
  src/shared/python/motion_matching/continuous_forward.py
  tests/unit/motion_matching/test_continuous_forward.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: record native continuous integration convergence evidence
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/native_continuous_convergence_9967.json
Due: none

docs: preserve isolated native tolerance replay and live handoff
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/reproduction/replay_native_tolerance_diagnostic.m
Due: none

docs: record tighter native replay reducing transition discrepancy
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/native_continuous_tight_reference_9967.json
  docs/development/simscape_tour_matching/native_evidence/native_tight_replay_report_9967.json
Due: none

fix(repo-hygiene): allow editing UD-only files in split shared packages (#8900)
  tests/unit/repo_hygiene/test_tools_child_copy_contract.py
Due: pytest-unit

feat: qualify Cartesian difference in native continuous replay
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/native_marker_difference_9967.json
  docs/development/simscape_tour_matching/native_evidence/reproduction/check_continuous_marker_difference.py
  src/shared/python/motion_matching/marker_projection.py
  tests/unit/motion_matching/test_marker_projection.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: verify independent native marker samples and track convergence run
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/native_independent_marker_difference_9967.json
  docs/development/simscape_tour_matching/native_evidence/reproduction/check_continuous_marker_difference.py
  docs/development/simscape_tour_matching/native_evidence/reproduction/replay_native_tolerance_diagnostic.m
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat: define native absolute-time sextic effort conversion
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  src/shared/python/motion_matching/native_effort_profile.py
  tests/unit/motion_matching/test_native_effort_profile.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: record second native replay completion and export handle
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
Due: none

feat(ui): harden toast notifications and accessibility (#8900) (#10004)
  SPEC.md
  src/shared/python/ui/toast.py
  tests/unit/repo_hygiene/test_tools_child_copy_contract.py
  tests/unit/ui/test_toast.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: establish native prefix convergence and advance adapter work
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/native_continuous_convergence_second_9967.json
  docs/development/simscape_tour_matching/native_evidence/native_effort_conversion_9967.json
  docs/development/simscape_tour_matching/native_evidence/native_marker_convergence_second_9967.json
  docs/development/simscape_tour_matching/native_evidence/native_tight_replay_second_9967.json
Due: none

feat: preserve validated native replay candidate identity
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/native_replay_candidate_9967.json
  src/shared/python/motion_matching/native_candidate.py
  tests/unit/motion_matching/test_native_candidate.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: replay native candidates with explicit closure and coverage gates
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  src/engines/physics_engines/pinocchio/python/native_model.py
  src/engines/physics_engines/pinocchio/python/native_replay.py
  tests/unit/motion_matching/test_native_closure_errors.py
  tests/unit/motion_matching/test_native_replay_adapter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: qualify packaged native adapter on ControlTower
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/native_adapter_check_9967.json
  docs/development/simscape_tour_matching/native_evidence/reproduction/run_packaged_native_candidate.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(launcher): harden model card accessibility and grid navigation (#8901)
  SPEC.md
  src/launchers/model_card.py
  tests/launchers/test_model_card.py
  tests/launchers/test_model_card_accessibility.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: support binary64 precision in shared URDF writer
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  src/shared/python/model_generation/builders/urdf_writer.py
  tests/unit/motion_matching/test_native_urdf_precision.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon
