Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

feat(opensim): [FTO-15] force/torque provider for reactions, actuators, contacts, axial loads
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/OPENSIM_INTEGRATION.md
  src/engines/physics_engines/opensim/python/opensim_force_torque.py
  src/engines/physics_engines/opensim/python/opensim_physics_engine.py
  tests/unit/engines/opensim/test_opensim_force_torque.py
  tests/unit/engines/test_mujoco_opensim_capabilities_7050.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(opensim): [FTO-15] correct test count in handoff and development log
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

feat(force_overlay): implement shared torque and axial load conversions (#11287) (#11327)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  docs/user_guide/body_part_viz/force_colors.md
  src/shared/python/force_overlay/__init__.py
  src/shared/python/force_overlay/conversions.py
  tests/unit/force_overlay/test_conversions.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(force_overlay): implement glyph builder, schema and FORCE_KIND_PALETTE (#11288)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/user_guide/plot_style/colormap_author_guide.md
  schemas/glyph-set-examples.json
  schemas/glyph-set-v1.json
  scripts/generate_glyph_set_examples.py
  src/shared/python/force_overlay/__init__.py
  src/shared/python/force_overlay/glyphs.py
  src/shared/python/plot_style/__init__.py
  src/shared/python/plot_style/colors.py
  tests/unit/force_overlay/test_glyph_serialization.py
  tests/unit/force_overlay/test_glyphs.py
  tests/unit/force_overlay/test_headless_import.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(drake): reuse FTO-2 conversions and SegmentAxis (#11296)
  docs/development/HANDOFF.md
  src/engines/physics_engines/drake/python/drake_force_torque.py
  src/shared/python/force_overlay/segment_axes.py
  tests/unit/force_overlay/test_segment_axes.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(opensim): [FTO-15] honour model up axis, retain stepped state, unique actuator labels, PARTIAL capabilities
  src/engines/physics_engines/opensim/OPENSIM_PARITY_SPEC.md
  src/engines/physics_engines/opensim/README.md
  src/engines/physics_engines/opensim/python/opensim_force_torque.py
  src/engines/physics_engines/opensim/python/opensim_physics_engine.py
  tests/unit/engines/opensim/test_opensim_force_torque.py
  tests/unit/engines/test_mujoco_opensim_capabilities_7050.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: record local owner video acquisition and marker placement review
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/research/simscape_matching_reference/README.md
  docs/research/simscape_matching_reference/local_video_marker_placement_checkpoint_20261003.json
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
Due: none

chore(seam): sync divergence inventory for force_overlay/segment_axes.py (#11296)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

feat(necromatcher): add source-bound shaft residuals and repeatable handoffs
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/necromatcher-methods.tex
  docs/development/necromatcher-research-package.md
  docs/development/necromatcher-turnover.md
  src/shared/python/motion_matching/historical_fit/__init__.py
  src/shared/python/motion_matching/historical_fit/contracts.py
  src/shared/python/motion_matching/historical_fit/shaft_residuals.py
  src/shared/python/motion_matching/historical_fit/solver.py
  src/shared/python/workspace/__init__.py
  src/shared/python/workspace/necromatcher_shaft_evidence.py
  tests/unit/motion_matching/test_additional_image_protocol.py
  tests/unit/motion_matching/test_shaft_residuals.py
  tests/unit/workspace/test_necromatcher_shaft_evidence.py
  tests/unit/workspace/test_necromatcher_shaft_native_admission.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(opensim): [FTO-15] force/torque provider for reactions, actuators, contacts, axial loads (#11333)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/OPENSIM_INTEGRATION.md
  src/engines/physics_engines/opensim/OPENSIM_PARITY_SPEC.md
  src/engines/physics_engines/opensim/README.md
  src/engines/physics_engines/opensim/python/opensim_force_torque.py
  src/engines/physics_engines/opensim/python/opensim_physics_engine.py
  tests/unit/engines/opensim/test_opensim_force_torque.py
  tests/unit/engines/test_mujoco_opensim_capabilities_7050.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(opensim): [FTO-16] muscle lines of action as MUSCLE wrenches at origin and insertion
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/OPENSIM_INTEGRATION.md
  src/engines/physics_engines/opensim/python/muscle_analysis.py
  src/engines/physics_engines/opensim/python/opensim_force_torque.py
  tests/unit/engines/opensim/test_opensim_muscle_wrenches.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(simscape): carry logged force channels through SimscapeOutput (FTO-19, #11304)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/CROSS_ENGINE_PARITY_SPEC.md
  src/engines/simscape/_output.py
  src/engines/simscape/_simscape_io.py
  src/engines/simscape/force_channels.py
  tests/engines/simscape/test_output_force_columns.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(simscape): label live output wrenches distinctly; reject non-mapping forces (#11304)
  docs/development/HANDOFF.md
  src/engines/simscape/_output.py
  src/engines/simscape/_simscape_io.py
  src/engines/simscape/force_channels.py
  tests/engines/simscape/test_output_force_columns.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(pinocchio): use shared SegmentAxis and frame_with_axial_loads (#11298)
  src/engines/physics_engines/pinocchio/python/pinocchio_force_torque.py
  tests/unit/engines/pinocchio/test_pinocchio_force_torque.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(plot_style): register color_utils in divergence inventory
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

style: format markdown and schema with prettier
  schemas/force-torque-frame-v1.json
  src/engines/CROSS_ENGINE_PARITY_SPEC.md
Due: none

fix(opensim): [FTO-16] skip non-GeometryPath muscles and release PointForceDirection
  docs/development/HANDOFF.md
  docs/development/OPENSIM_INTEGRATION.md
  src/engines/physics_engines/opensim/python/opensim_force_torque.py
  tests/unit/engines/opensim/test_opensim_muscle_wrenches.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

style: format OPENSIM_INTEGRATION.md with prettier
  docs/development/OPENSIM_INTEGRATION.md
Due: none

feat(simscape): carry logged force channels through SimscapeOutput (FTO-19) (#11336)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/CROSS_ENGINE_PARITY_SPEC.md
  src/engines/simscape/_output.py
  src/engines/simscape/_simscape_io.py
  src/engines/simscape/force_channels.py
  tests/engines/simscape/test_output_force_columns.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(mujoco): add MjvScene glyph renderer for native viewers and offscreen renders (#11291)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/force_glyphs.py
  src/shared/python/force_overlay/glyphs.py
  tests/unit/engines/mujoco/test_force_glyphs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Refine Scapula Protraction and Full-Marker 1080p Previews
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/Scapula_Matching_Previews.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/scapula_native_roles.json
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_backswing_top_frame.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_capture_marker_overlay.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_render_output_options.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_scapula_bounds.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_scapula_phase.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_scene_bounds.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_backswing_top_frame.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_capture_marker_overlay.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_match_export.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_render.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_scapula_bounds.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_scapula_phase.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_scene_bounds.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_whole_body_ik.m
Due: none

test(force-overlay): cross-engine force/torque parity suite (FTO-21)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/CROSS_ENGINE_PARITY_SPEC.md
  tests/integration/cross_engine/force_overlay_engine_builders.py
  tests/integration/cross_engine/force_overlay_fixtures.py
  tests/integration/cross_engine/test_force_overlay_parity.py
Due: pytest-unit

test(force-overlay): fail when a pending provider lands without parity rows
  docs/development/HANDOFF.md
  tests/integration/cross_engine/force_overlay_engine_builders.py
  tests/integration/cross_engine/test_force_overlay_parity.py
Due: pytest-unit

fix(simscape): preserve original observation masks through capture targets
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/research/simscape_matching_reference/README.md
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
  docs/research/simscape_matching_reference/source_mask_full_owner_checkpoint_20261003.json
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_capture_observation_mask.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_capture_markers.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_capture_points.m
Due: none

feat(force_overlay): add OpenCV video glyph renderer with calibrated projection and legend (#11293)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/shared/python/force_overlay/glyphs.py
  src/shared/python/force_overlay/renderers/__init__.py
  src/shared/python/force_overlay/renderers/opencv_glyphs.py
  tests/unit/force_overlay/test_opencv_glyphs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(drake): [FTO-11] force/torque provider with reaction, actuation and hydroelastic contact (#11330)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/engines/CROSS_ENGINE_PARITY_SPEC.md
  src/engines/physics_engines/drake/python/drake_force_torque.py
  src/engines/physics_engines/drake/python/drake_physics_engine.py
  src/shared/python/force_overlay/segment_axes.py
  tests/engines/drake/test_drake_force_torque.py
  tests/unit/force_overlay/test_segment_axes.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(simscape): record native owner neck torque recovery with hold limits
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/research/simscape_matching_reference/README.md
  docs/research/simscape_matching_reference/owner_neck_supported_hold_checkpoint_20261003.json
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
Due: none

docs(simscape): record native owner neck torque recovery with hold limits
  docs/development/DEVELOPMENT_LOG.md
Due: none

docs(simscape): verify tour neck torque recovery against preserved hold control
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/research/simscape_matching_reference/README.md
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
  docs/research/simscape_matching_reference/tour_neck_supported_hold_checkpoint_20261003.json
Due: none

feat(pinocchio): force/torque provider with world-frame joint reactions (FTO-13) (#11325)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/CROSS_ENGINE_PARITY_SPEC.md
  src/engines/physics_engines/pinocchio/python/pinocchio_force_torque.py
  src/engines/physics_engines/pinocchio/python/pinocchio_physics_engine.py
  tests/engines/physics_engines/test_pinocchio_engine.py
  tests/unit/engines/pinocchio/test_pinocchio_force_torque.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(force_overlay): add glyph builder and glyph set serialization (#11288) (#11324)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/user_guide/plot_style/force_palette.md
  schemas/glyph-set-examples.json
  schemas/glyph-set-v1.json
  scripts/generate_glyph_set_examples.py
  src/shared/python/force_overlay/__init__.py
  src/shared/python/force_overlay/glyphs.py
  src/shared/python/force_overlay/palette.py
  src/shared/python/plot_style/__init__.py
  src/shared/python/plot_style/force_palette.py
  tests/unit/force_overlay/test_contracts.py
  tests/unit/force_overlay/test_conversions.py
  tests/unit/force_overlay/test_glyph_serialization.py
  tests/unit/force_overlay/test_glyphs.py
  tests/unit/force_overlay/test_headless_import.py
  tests/unit/plot_style/test_force_palette.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(simscape): bind Human moving references through native joint keys
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/research/simscape_matching_reference/README.md
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
  docs/research/simscape_matching_reference/upper_reference_binding_checkpoint_20261003.json
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/README.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_upper_body_reference_binding.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_upper_body_reference.m
Due: none

test(cross-engine): [FTO-21] force/torque overlay physical parity suite
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/CROSS_ENGINE_PARITY_SPEC.md
  tests/integration/cross_engine/force_overlay_fixtures.py
  tests/integration/cross_engine/test_force_overlay_parity.py
Due: pytest-unit

docs(cross-engine): [FTO-21] state the parity suite CI coverage accurately
  docs/development/HANDOFF.md
  src/engines/CROSS_ENGINE_PARITY_SPEC.md
Due: none

feat(necromatcher): integrate source-bound shaft jobs and video overlays
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/necromatcher-research-package.md
  docs/development/necromatcher-shaft-trials.md
  docs/development/necromatcher-turnover.md
  src/api/routes/necromatcher.py
  src/shared/python/workspace/__init__.py
  src/shared/python/workspace/necromatcher_fit_jobs.py
  src/shared/python/workspace/necromatcher_fit_records.py
  src/shared/python/workspace/necromatcher_fit_worker.py
  src/shared/python/workspace/necromatcher_refits.py
  src/shared/python/workspace/necromatcher_shaft_evidence.py
  src/shared/python/workspace/necromatcher_video.py
  src/shared/python/workspace/necromatcher_video_jobs.py
  src/shared/python/workspace/necromatcher_video_worker.py
  src/tools/necromatcher/refit_dialog.py
  src/tools/necromatcher/video_dialog.py
  tests/unit/api/test_necromatcher_shaft_routes.py
  tests/unit/tools/test_necromatcher_shaft_dialogs.py
  tests/unit/workspace/test_necromatcher_shaft_evidence.py
  tests/unit/workspace/test_necromatcher_shaft_jobs.py
  tests/unit/workspace/test_necromatcher_shaft_video_jobs.py
  tests/unit/workspace/test_necromatcher_shaft_worker.py
  tests/unit/workspace/test_necromatcher_video.py
  tests/unit/workspace/test_necromatcher_video_shaft.py
  ui/src/api/necromatcher.ts
  ui/src/components/necromatcher/RefitControls.test.tsx
  ui/src/components/necromatcher/RefitControls.tsx
  ui/src/components/necromatcher/ShaftEvidenceInput.test.tsx
  ui/src/components/necromatcher/ShaftEvidenceInput.tsx
  ui/src/components/necromatcher/VideoExportControls.test.tsx
  ui/src/components/necromatcher/VideoExportControls.tsx
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

style(format): apply prettier formatting to CROSS_ENGINE_PARITY_SPEC.md
  src/engines/CROSS_ENGINE_PARITY_SPEC.md
Due: none

feat(opensim): [FTO-16] muscle lines of action as MUSCLE wrenches (#11335)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/OPENSIM_INTEGRATION.md
  src/engines/physics_engines/opensim/python/muscle_analysis.py
  src/engines/physics_engines/opensim/python/opensim_force_torque.py
  tests/unit/engines/opensim/test_opensim_muscle_wrenches.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Quiet Torso Matching and Preserve Preview Proportions
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/Scapula_Matching_Previews.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_export_pixels.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_spine_bounds.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_whole_body_ik_body.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_export_pixels.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_match_export.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_render.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_spine_bounds.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_whole_body_ik.m
Due: none

fix(simscape): type alias _Column and format docs
  docs/development/OPENSIM_INTEGRATION.md
  src/engines/CROSS_ENGINE_PARITY_SPEC.md
  src/engines/simscape/force_channels.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(mujoco): add MjvScene glyph renderer for native viewers and offscreen renders (#11291) (#11339)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/OPENSIM_INTEGRATION.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  docs/user_guide/body_part_viz/force_colors.md
  src/engines/CROSS_ENGINE_PARITY_SPEC.md
  src/engines/physics_engines/drake/python/drake_force_torque.py
  src/engines/physics_engines/drake/python/drake_physics_engine.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/force_glyphs.py
  src/engines/physics_engines/opensim/OPENSIM_PARITY_SPEC.md
  src/engines/physics_engines/opensim/README.md
  src/engines/physics_engines/opensim/python/opensim_force_torque.py
  src/engines/physics_engines/opensim/python/opensim_physics_engine.py
  src/engines/physics_engines/pinocchio/python/pinocchio_force_torque.py
  src/engines/physics_engines/pinocchio/python/pinocchio_physics_engine.py
  src/engines/simscape/_output.py
  src/engines/simscape/_simscape_io.py
  src/engines/simscape/adapter.py
  src/engines/simscape/force_channels.py
  src/shared/python/force_overlay/__init__.py
  src/shared/python/force_overlay/conversions.py
  src/shared/python/force_overlay/glyphs.py
  src/shared/python/force_overlay/segment_axes.py
  tests/engines/drake/test_drake_force_torque.py
  tests/engines/physics_engines/test_pinocchio_engine.py
  tests/engines/simscape/test_output_force_columns.py
  tests/unit/engines/mujoco/test_force_glyphs.py
  tests/unit/engines/opensim/test_opensim_force_torque.py
  tests/unit/engines/pinocchio/test_pinocchio_force_torque.py
  tests/unit/engines/simscape/test_force_channels.py
  tests/unit/engines/test_mujoco_opensim_capabilities_7050.py
  tests/unit/force_overlay/test_conversions.py
  tests/unit/force_overlay/test_segment_axes.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
