Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

docs(spec): update acquisition_receipt path in SPEC.md (#11269)
  SPEC.md
Due: none

feat(shadow-tracker): [COV-5] registry-selected estimator options in historical capture runner (#11273) (#11417)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  scripts/historical_capture.py
  src/engines/physics_engines/opensim/python/opensim_gui.py
  src/shared/python/motion_pipeline/sources/hmr2_adapter.py
  tests/unit/shadow_tracker/test_historical_capture_runner.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(opensim): suppress matplotlib qt backend error in headless test collection
  src/engines/physics_engines/opensim/python/opensim_gui.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion-capture): [COV-4] virtual camera fitting and 2d swing envelope (#11272)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/motion_capture/reference/virtual_camera_fit.py
  tests/unit/motion_capture/test_cov_virtual_camera.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(motion-capture): [COV-1] build acquisition receipt for capture-o video album (#11269) (#11413)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.v1.json
  src/motion_capture/acquisition_receipt.py
  tests/unit/motion_capture/test_capture_o_video_acquisition.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(necromatcher): keep receipt imports off the event loop
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/necromatcher-conditional-camera-and-scope.md
  src/api/routes/necromatcher.py
  tests/unit/api/test_necromatcher_scope_upload_responsiveness.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(swing_comparison): trunk-marker thorax proxy and seconds-based window in kinematic sequence (#11182)
  SPEC.md
  docs/development/HANDOFF.md
  src/shared/python/swing_comparison/metrics.py
  src/shared/python/swing_comparison/motion.py
  tests/unit/swing_comparison/test_metrics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(api): remove deprecated ForceVector3D and force overlay vectors (#11362)
  SPEC.md
  docs/development/HANDOFF.md
  scripts/config/suite_marker_baseline.json
  src/api/models/responses.py
  src/api/routes/force_overlays.py
  src/api/services/force_overlay_service.py
  tests/api/test_phase4_api.py
  tests/api/wave5_api/test_models_responses.py
  tests/unit/api/test_force_overlays.py
  tests/unit/api/test_routes_force_overlays.py
  ui/src/api/generated/types.ts
  ui/src/components/visualization/ForceOverlay.tsx
  ui/src/components/visualization/ForceOverlayPanel.test.tsx
  ui/src/components/visualization/ForceOverlayPanel.tsx
  ui/src/components/visualization/Scene3D.test.tsx
  ui/src/components/visualization/Scene3D.tsx
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

feat(api): remove deprecated ForceVector3D and force overlay vectors (#11362) (#11439)
  SPEC.md
  docs/development/HANDOFF.md
  scripts/config/suite_marker_baseline.json
  src/api/models/responses.py
  src/api/routes/force_overlays.py
  src/api/services/force_overlay_service.py
  tests/api/test_phase4_api.py
  tests/api/wave5_api/test_models_responses.py
  tests/unit/api/test_force_overlays.py
  tests/unit/api/test_routes_force_overlays.py
  ui/src/api/generated/types.ts
  ui/src/components/visualization/ForceOverlay.tsx
  ui/src/components/visualization/ForceOverlayPanel.test.tsx
  ui/src/components/visualization/ForceOverlayPanel.tsx
  ui/src/components/visualization/Scene3D.test.tsx
  ui/src/components/visualization/Scene3D.tsx
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

feat(motion-capture): [COV-6] pair video swings with capture-o reference swings (#11274)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/motion_capture/reference/__init__.py
  src/motion_capture/reference/swing_pairing.py
  tests/unit/motion_capture/test_cov6_swing_pairing.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(motion-capture): [COV-2] register capture-o video sources, timing evidence, swing windows and grades (#11270) (#11416)
  SPEC.md
  data/capture_registry.json
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/historical_capture/source-catalog.json
  src/config/video_usability_rubric.json
  src/motion_capture/capture_registry.py
  src/shared/python/shadow_tracker/source_records.py
  src/shared/python/workspace/necromatcher_video.py
  tests/motion_capture/test_capture_registry.py
  tests/unit/motion_capture/test_cov2_source_registration.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(necromatcher): label authored seeds and record restricted trial
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/historical_capture/conditional-camera-report-review.json
  docs/development/necromatcher-conditional-camera-and-scope-report.tex
  docs/development/necromatcher-conditional-camera-and-scope.md
  docs/development/necromatcher-turnover.md
  src/shared/python/workspace/necromatcher_caption.py
  src/shared/python/workspace/necromatcher_video.py
  src/shared/python/workspace/necromatcher_video_jobs.py
  tests/unit/workspace/test_necromatcher_caption_seed.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(swing_comparison): trunk-marker thorax proxy and seconds-based window in kinematic sequence (#11182) (#11438)
  SPEC.md
  docs/development/HANDOFF.md
  src/shared/python/swing_comparison/metrics.py
  src/shared/python/swing_comparison/motion.py
  tests/unit/swing_comparison/test_metrics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(ui): wait for the theme list before selecting a theme in the Settings test
  SPEC.md
  docs/development/HANDOFF.md
  ui/src/pages/Settings.test.tsx
Due: no-debugger

feat(motion-pipeline): opt-in hosted OpenCap session download client (#11407) (#11415)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/ORG01_CAPABILITY_BASELINE.md
  docs/research/simscape_matching_reference/dense_curve_branch_checkpoint_20261003.json
  docs/research/simscape_matching_reference/native_tangent_state_recheck_20261003.json
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/config/capability_migration.json
  src/shared/python/motion_pipeline/sources/__init__.py
  src/shared/python/motion_pipeline/sources/opencap_download.py
  tests/architecture/test_opencap_boundary.py
  tests/unit/motion_pipeline/sources/test_opencap_download.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion-capture): [COV-7] 2d comparison of markerless backends vs capture-o landmarks (#11275)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/motion_capture/reference/__init__.py
  src/motion_capture/reference/comparison_2d.py
  tests/unit/motion_capture/test_cov7_2d_comparison.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(motion-capture): [OpenCap] local opencap-core sidecar runner (#11406)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/motion_capture/__init__.py
  src/motion_capture/opencap_ingest/README.md
  src/motion_capture/opencap_ingest/__init__.py
  src/motion_capture/opencap_ingest/launcher.py
  src/motion_capture/opencap_ingest/output_adapter.py
  tests/integration/motion_capture/test_opencap_gpu_e2e.py
  tests/unit/motion_capture/test_opencap_launcher.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(spec): add PR #11444 to Section 12 Change Log
  SPEC.md
Due: none

feat(motion-capture): [OpenCap] local opencap-core sidecar runner (#11406) (#11444)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/motion_capture/__init__.py
  src/motion_capture/opencap_ingest/README.md
  src/motion_capture/opencap_ingest/__init__.py
  src/motion_capture/opencap_ingest/launcher.py
  src/motion_capture/opencap_ingest/output_adapter.py
  tests/integration/motion_capture/test_opencap_gpu_e2e.py
  tests/unit/motion_capture/test_opencap_launcher.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(motion-capture): [COV-8] necromatcher owner project with marker-anchored anthropometry (#11276)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/motion_capture/reference/__init__.py
  src/motion_capture/reference/owner_project.py
  tests/unit/motion_capture/test_cov8_owner_project.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(spec): record PR #11446 for COV-8 in SPEC.md, DEVELOPMENT_LOG.md, and HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

feat(necromatcher): bound capture authentication and document previews
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/historical_capture/conditional-camera-report-review.json
  docs/development/necromatcher-conditional-camera-and-scope-report.tex
  docs/development/necromatcher-conditional-camera-and-scope.md
  docs/development/necromatcher-turnover.md
  src/shared/python/shadow_tracker/__init__.py
  src/shared/python/workspace/__init__.py
  src/shared/python/workspace/necromatcher.py
  src/shared/python/workspace/necromatcher_authenticated_read.py
  src/shared/python/workspace/necromatcher_capture_identity.py
  src/shared/python/workspace/necromatcher_fit_jobs.py
  tests/unit/workspace/test_necromatcher_authenticated_read.py
  tests/unit/workspace/test_necromatcher_authenticated_read_guards.py
  tests/unit/workspace/test_necromatcher_capture_hash_owner.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion-capture): [COV-9] 3d comparison of monocular backends and refits vs marker IK (#11277)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/motion_capture/reference/__init__.py
  src/motion_capture/reference/comparison_3d.py
  tests/unit/motion_capture/test_cov9_3d_comparison.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(spec): record PR #11447 for COV-9 in SPEC.md, DEVELOPMENT_LOG.md, and HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

feat(motion-capture): [OpenCap] marker augmenter on triangulated keypoints (#11405)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/motion_capture/__init__.py
  src/motion_capture/opencap_ingest/__init__.py
  src/motion_capture/opencap_ingest/augmenter.py
  src/motion_capture/opencap_ingest/launcher.py
  src/shared/python/motion_pipeline/ik/__init__.py
  src/shared/python/motion_pipeline/ik/opensim_backend.py
  src/shared/python/motion_pipeline/scaling/opensim_scale.py
  tests/integration/motion_capture/test_opencap_pipeline_e2e.py
  tests/unit/motion_capture/test_opencap_augmenter.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(spec): record PR #11448 in Section 12 Change Log
  SPEC.md
Due: none

fix(necromatcher): authenticate captures at refit boundaries
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/necromatcher-conditional-camera-and-scope.md
  docs/development/necromatcher-turnover.md
  src/shared/python/workspace/necromatcher.py
  src/shared/python/workspace/necromatcher_fit_jobs.py
  src/shared/python/workspace/necromatcher_fit_worker.py
  tests/unit/workspace/authenticated_refit_fixture.py
  tests/unit/workspace/test_necromatcher_authenticated_fit_storage.py
  tests/unit/workspace/test_necromatcher_authenticated_refit_publication.py
  tests/unit/workspace/test_necromatcher_authenticated_refit_queue.py
  tests/unit/workspace/test_necromatcher_authenticated_worker.py
  tests/unit/workspace/test_necromatcher_fit_worker.py
  tests/unit/workspace/test_necromatcher_scope_integration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(ui): wait for the theme list before selecting a theme in the Settings test (#11442)
  SPEC.md
  docs/development/HANDOFF.md
  ui/src/pages/Settings.test.tsx
Due: no-debugger

feat(motion-capture): [COV-11] error-budget receipt and public summary (#11279)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/capture-o-video/error-budget-summary.md
  docs/development/capture-o-video/procedure.md
  src/motion_capture/reference/__init__.py
  src/motion_capture/reference/error_budget.py
  tests/unit/motion_capture/test_cov11_error_budget.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

refactor(motion-capture): satisfy architecture budget and fix contract imports
  src/motion_capture/opencap_ingest/augmenter.py
  tests/unit/motion_capture/test_opencap_augmenter.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(motion-capture): [OpenCap] marker augmenter on triangulated keypoints (#11405) (#11448)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/motion_capture/__init__.py
  src/motion_capture/opencap_ingest/__init__.py
  src/motion_capture/opencap_ingest/augmenter.py
  src/motion_capture/opencap_ingest/launcher.py
  src/shared/python/motion_pipeline/ik/__init__.py
  src/shared/python/motion_pipeline/ik/opensim_backend.py
  src/shared/python/motion_pipeline/scaling/opensim_scale.py
  tests/integration/motion_capture/test_opencap_pipeline_e2e.py
  tests/unit/motion_capture/test_opencap_augmenter.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(planning): record OpenCap golf accuracy in deferred-validation catalog (refs #11408)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/planning/DV-11408.md
  docs/development/planning/catalog.json
  docs/development/planning/source-11408.json
Due: none

docs(spec): document DV-11408 deferred-validation catalog entry in changelog (#11451)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

docs(planning): record OpenCap golf accuracy in deferred-validation catalog (refs #11408) (#11451)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/planning/DV-11408.md
  docs/development/planning/catalog.json
  docs/development/planning/source-11408.json
Due: none

refactor(plotting): [FTO-7] remove deprecated force_vectors and vectors shims (#11347)
  SPEC.md
  docs/architecture/PROJECT_MAP.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  schemas/glyph-set-examples.json
  src/shared/python/plotting/renderers/force_vectors.py
  src/shared/python/plotting/renderers/vectors.py
  tests/unit/force_overlay/test_renderer_shims.py
  tests/unit/plotting/test_force_vector_renderer.py
  tests/unit/test_plotting_renderers.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(necromatcher): preserve spline motion when narrowing scope
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/historical_capture/conditional-camera-report-review.json
  docs/development/necromatcher-conditional-camera-and-scope-report.tex
  docs/development/necromatcher-conditional-camera-and-scope.md
  docs/development/necromatcher-turnover.md
  src/shared/python/motion_matching/historical_fit/__init__.py
  src/shared/python/motion_matching/historical_fit/spline_restriction.py
  tests/unit/motion_matching/test_historical_spline_restart.py
  tests/unit/motion_matching/test_historical_spline_restriction.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon
