Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

docs(research): freeze attribution evaluator contract
  docs/research/proximal_distal_energy_transfer/data/articulated_forward_attribution_plan.json
Due: none

fix(research): retain native DLL availability failures
  scripts/research/proximal_distal_energy/articulated_forward_smoke_evaluator.py
  tests/research/test_articulated_forward_smoke_evaluator.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(handoff): record frozen smoke evaluator
  AGENT_HANDOFF.md
Due: none

feat(research): run rigid smoke through atomic checkpoints
  scripts/research/proximal_distal_energy/articulated_forward_smoke_evaluator.py
  tests/research/test_articulated_forward_smoke_evaluator.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(handoff): record executable rigid smoke
  AGENT_HANDOFF.md
Due: none

fix(research): retain kinetic transport work
  scripts/research/proximal_distal_energy/articulated_forward_attribution.py
  scripts/research/proximal_distal_energy/articulated_forward_attribution_study.py
  scripts/research/proximal_distal_energy/articulated_forward_smoke_evaluator.py
  tests/research/test_articulated_forward_attribution.py
  tests/research/test_articulated_forward_attribution_study.py
  tests/research/test_articulated_forward_smoke_evaluator.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(research): amend kinetic work estimand transparently
  docs/research/proximal_distal_energy_transfer/data/articulated_forward_attribution_plan.json
Due: none

docs(handoff): preserve diagnosed work-ledger defect
  AGENT_HANDOFF.md
Due: none

docs(handoff): record corrected rigid smoke
  AGENT_HANDOFF.md
Due: none

docs(handoff): record refinement diagnosis
  AGENT_HANDOFF.md
Due: none

feat(research): distinguish friction-limit events
  AGENT_HANDOFF.md
  scripts/research/proximal_distal_energy/articulated_contact_events.py
  scripts/research/proximal_distal_energy/articulated_distributed_event_attribution.py
  scripts/research/proximal_distal_energy/articulated_distributed_forward.py
  scripts/research/proximal_distal_energy/articulated_distributed_grip.py
  tests/research/test_articulated_contact_events.py
  tests/research/test_articulated_distributed_forward.py
  tests/research/test_articulated_distributed_friction.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(research): add distributed attribution evaluator
  AGENT_HANDOFF.md
  scripts/research/proximal_distal_energy/articulated_forward_smoke_evaluator.py
  tests/research/test_articulated_distributed_smoke_evaluator.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(research): register distributed contact variants
  scripts/research/proximal_distal_energy/articulated_forward_smoke_evaluator.py
  tests/research/test_articulated_distributed_smoke_evaluator.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(research): preregister distributed attribution smoke
  .pre-commit-config.yaml
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/data/articulated_forward_distributed_plan.json
  scripts/research/proximal_distal_energy/articulated_forward_distributed_plan.py
  scripts/research/proximal_distal_energy/articulated_forward_smoke_evaluator.py
  tests/research/test_articulated_forward_distributed_plan.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(research): add stateful friction countermodel
  AGENT_HANDOFF.md
  scripts/research/proximal_distal_energy/articulated_stateful_friction.py
  tests/research/test_articulated_stateful_friction.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(research): adapt stateful distributed grip
  AGENT_HANDOFF.md
  scripts/research/proximal_distal_energy/articulated_stateful_distributed_grip.py
  tests/research/test_articulated_stateful_distributed_grip.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(research): integrate stateful distributed grip
  AGENT_HANDOFF.md
  scripts/research/proximal_distal_energy/articulated_stateful_distributed_forward.py
  scripts/research/proximal_distal_energy/articulated_stateful_distributed_grip.py
  tests/research/test_articulated_stateful_distributed_forward.py
  tests/research/test_articulated_stateful_distributed_grip.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(research): add stateful smoke evaluator
  AGENT_HANDOFF.md
  scripts/research/proximal_distal_energy/articulated_stateful_distributed_forward.py
  scripts/research/proximal_distal_energy/articulated_stateful_smoke_evaluator.py
  tests/research/test_articulated_stateful_distributed_forward.py
  tests/research/test_articulated_stateful_smoke_evaluator.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

research: preregister stateful grip campaign
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/data/articulated_stateful_distributed_plan.json
  scripts/research/proximal_distal_energy/articulated_stateful_smoke_evaluator.py
  tests/research/test_articulated_stateful_study_plan.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(research): preload native smoke engines
  AGENT_HANDOFF.md
  scripts/research/proximal_distal_energy/articulated_stateful_smoke_launcher.py
  tests/research/test_articulated_stateful_smoke_launcher.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

research: qualify stateful campaign runtime
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/data/articulated_stateful_distributed_plan.json
  tests/research/test_articulated_stateful_study_plan.py
Due: pytest-unit

feat(research): aggregate stateful smoke evidence
  AGENT_HANDOFF.md
  scripts/research/proximal_distal_energy/articulated_stateful_summary.py
  tests/research/test_articulated_stateful_summary.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(research): integrate stateful grip falsification
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/README.md
  docs/research/proximal_distal_energy_transfer/chapters/_ch08b_momentum_transfer_questions.qmd
  docs/research/proximal_distal_energy_transfer/chapters/_claim_adjudication_summary.qmd
  docs/research/proximal_distal_energy_transfer/data/claim_adjudication_summary.csv
  docs/research/proximal_distal_energy_transfer/data/claim_adjudication_summary.json
  docs/research/proximal_distal_energy_transfer/data/claim_audit_registry.json
  docs/research/proximal_distal_energy_transfer/data/claim_candidate_inventory.json
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/data/release_claim_review.json
  docs/research/proximal_distal_energy_transfer/figures/fig_stateful_distributed_grip_falsification.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_stateful_distributed_grip_falsification.svg
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.pdf
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.tex
  scripts/research/proximal_distal_energy/make_stateful_distributed_figure.py
  scripts/research/proximal_distal_energy/register_remaining_claim_reviews.py
  scripts/research/proximal_distal_energy/register_stateful_distributed_claims.py
  tests/research/test_make_stateful_distributed_figure.py
  tests/unit/research/test_register_remaining_claim_reviews.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(research): bind stateful release manifest
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/release_manifest.json
Due: none

research: preregister rigid refinement extension
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/data/articulated_rigid_refinement_plan.json
  scripts/research/proximal_distal_energy/articulated_rigid_refinement_plan.py
  scripts/research/proximal_distal_energy/generate_articulated_rigid_refinement_plan.py
  tests/research/test_articulated_rigid_refinement_plan.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(research): bind rigid refinement release
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/release_manifest.json
Due: none

docs: advance proximal distal handoff
  AGENT_HANDOFF.md
Due: none

research: preregister structural pathway factorial
  docs/research/proximal_distal_energy_transfer/DATA_DICTIONARY.md
  docs/research/proximal_distal_energy_transfer/README.md
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_factorial_plan.json
  scripts/research/proximal_distal_energy/articulated_structural_factorial_plan.py
  scripts/research/proximal_distal_energy/generate_articulated_structural_factorial_plan.py
  tests/research/test_articulated_structural_factorial_plan.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: record structural factorial handoff
  AGENT_HANDOFF.md
Due: none

research: add serial structural factorial runner
  scripts/research/proximal_distal_energy/articulated_structural_factorial_evaluator.py
  scripts/research/proximal_distal_energy/articulated_structural_factorial_runner.py
  tests/research/test_articulated_structural_factorial_evaluator.py
  tests/research/test_articulated_structural_factorial_runner.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

research: add structural factorial launcher
  scripts/research/proximal_distal_energy/articulated_structural_factorial_launcher.py
  scripts/research/proximal_distal_energy/generate_articulated_structural_factorial_launch.py
  tests/research/test_articulated_structural_factorial_launcher.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

research: bind structural factorial launch
  docs/research/proximal_distal_energy_transfer/DATA_DICTIONARY.md
  docs/research/proximal_distal_energy_transfer/README.md
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_factorial_launch.json
  tests/research/test_articulated_structural_factorial_launcher.py
Due: pytest-unit

research: repair structural basis provenance
  docs/research/proximal_distal_energy_transfer/data/articulated_shaft_structural_basis.json
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_factorial_plan.json
  scripts/research/proximal_distal_energy/articulated_structural_factorial_evaluator.py
  scripts/research/proximal_distal_energy/articulated_structural_factorial_plan.py
  scripts/research/proximal_distal_energy/generate_articulated_structural_factorial_plan.py
  tests/research/test_articulated_structural_factorial_plan.py
  tests/research/test_articulated_structural_factorial_runner.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

research: rebind structural launch after provenance repair
  docs/research/proximal_distal_energy_transfer/README.md
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_factorial_launch.json
  tests/research/test_articulated_structural_factorial_launcher.py
Due: pytest-unit

research: require structural parity sidecars
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_factorial_plan.json
  scripts/research/proximal_distal_energy/articulated_structural_factorial_evaluator.py
  scripts/research/proximal_distal_energy/articulated_structural_factorial_plan.py
  scripts/research/proximal_distal_energy/articulated_structural_factorial_runner.py
  tests/research/test_articulated_structural_factorial_plan.py
  tests/research/test_articulated_structural_factorial_runner.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

research: bind parity-complete structural launch
  docs/research/proximal_distal_energy_transfer/README.md
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_factorial_launch.json
  tests/research/test_articulated_structural_factorial_launcher.py
Due: pytest-unit
