Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

docs(planning): link the deferred catalog enforcement review
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

chore(planning): qualify canonical bundle architecture exceptions
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  scripts/config/architecture_budget.json
Due: none

docs(planning): record remaining hosted suite-marker gate
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

chore(hygiene): add unit suite marker to deferred catalog hook tests (#10784)
  tests/unit/repo_hygiene/test_deferred_catalog_hook.py
Due: pytest-unit

feat(tour_baselines): independently qualify baselines, model adequacy and full-capture coverage (TB-09 #10594)
  docs/development/DEVELOPMENT_LOG.md
  src/shared/python/tour_baselines/__init__.py
  src/shared/python/tour_baselines/coverage.py
  src/shared/python/tour_baselines/qualification.py
  tests/unit/tour_baselines/test_model_identities.py
  tests/unit/tour_baselines/test_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion_matching): integrate tour baseline qualification into acceptance and update SPEC (TB-09 #10594)
  SPEC.md
  src/shared/python/motion_matching/acceptance.py
  tests/unit/motion_matching/test_acceptance.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(shared_tools): update divergence inventory for tour_baselines qualification (TB-09 #10594)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

feat(tour_baselines): independently qualify baselines, model adequacy and full-capture coverage (TB-09 #10594) (#10785)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/acceptance.py
  src/shared/python/tour_baselines/__init__.py
  src/shared/python/tour_baselines/coverage.py
  src/shared/python/tour_baselines/qualification.py
  tests/unit/motion_matching/test_acceptance.py
  tests/unit/tour_baselines/test_model_identities.py
  tests/unit/tour_baselines/test_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(tour_baselines): integrate baseline discovery, portable loading and safe model presets (TB-10 #10595)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/tour_baselines/__init__.py
  src/shared/python/tour_baselines/discovery.py
  src/shared/python/tour_baselines/qualification.py
  tests/unit/tour_baselines/test_discovery.py
  tests/unit/tour_baselines/test_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(tour_baselines): include artifacts/tour_baselines in default ledger roots
  docs/development/DEVELOPMENT_LOG.md
  src/shared/python/motion_matching/ledger.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(tour_baselines): integrate baseline discovery, portable loading and safe model presets (TB-10 #10595) (#10793)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/ledger.py
  src/shared/python/tour_baselines/__init__.py
  src/shared/python/tour_baselines/discovery.py
  src/shared/python/tour_baselines/qualification.py
  tests/unit/tour_baselines/test_discovery.py
  tests/unit/tour_baselines/test_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(tour_baselines): reconstruct presets from verified arrays and keep pendulum packages qualifiable (#10794, #10795)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/shared_tools/divergence_inventory.v1.json
  src/engines/physics_engines/pendulum/python/motion_matching/qualification.py
  src/shared/python/tour_baselines/__init__.py
  src/shared/python/tour_baselines/discovery.py
  src/shared/python/tour_baselines/qualification.py
  tests/unit/tour_baselines/test_discovery.py
  tests/unit/tour_baselines/test_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(monolith): update monolith refactor register for tour_baselines qualification
  docs/development/monolith_refactor_register.md
Due: none

fix(tour_baselines): reconstruct presets from verified arrays and keep pendulum packages qualifiable (#10798)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/monolith_refactor_register.md
  docs/shared_tools/divergence_inventory.v1.json
  src/engines/physics_engines/pendulum/python/motion_matching/qualification.py
  src/shared/python/tour_baselines/__init__.py
  src/shared/python/tour_baselines/discovery.py
  src/shared/python/tour_baselines/qualification.py
  tests/unit/tour_baselines/test_discovery.py
  tests/unit/tour_baselines/test_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: sync fleet-managed agent sections from Repository_Management
  AGENTS.md
  CLAUDE.md
Due: none

fix(starting_pose_matcher): remove dead per-engine skeleton_extractors (~1,614 lines)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/opensim_tour_matching/EPIC_GOLF_MODEL.md
  scripts/ci/lod_baseline.txt
  scripts/config/full_src_mypy_baseline.json
  scripts/config/suite_marker_baseline.json
  src/tools/starting_pose_matcher/skeleton_extractors/drake.py
  src/tools/starting_pose_matcher/skeleton_extractors/mediapipe.py
  src/tools/starting_pose_matcher/skeleton_extractors/mujoco.py
  src/tools/starting_pose_matcher/skeleton_extractors/openpose.py
  src/tools/starting_pose_matcher/skeleton_extractors/opensim.py
  src/tools/starting_pose_matcher/skeleton_extractors/pinocchio.py
  tests/tools/starting_pose_matcher/test_observed_extractors.py
  tests/tools/starting_pose_matcher/test_physics_extractors_with_stubs.py
  tests/unit/tools/starting_pose_matcher/test_drake_provider.py
  tests/unit/tools/starting_pose_matcher/test_mujoco_provider.py
  tests/unit/tools/starting_pose_matcher/test_observed_input_providers.py
  tests/unit/tools/starting_pose_matcher/test_opensim_provider.py
  tests/unit/tools/starting_pose_matcher/test_pinocchio_provider.py
  tests/unit/tools/starting_pose_matcher/test_provider_error_paths.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(spec): add SPEC.md changelog row for PR #10808
  SPEC.md
Due: none

feat(motion_matching): expose tour baselines in motion matching and replay (#10596)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/shared_tools/divergence_inventory.v1.json
  src/tools/motion_matching/gui.py
  src/tools/motion_matching/tour_baselines_presenter.py
  tests/tools/motion_matching/test_motion_matching_gui.py
  tests/unit/motion_matching/test_tour_baselines_presenter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(motion_matching): extract TourBaselinesWidget to satisfy file size budget (#10596)
  src/tools/motion_matching/gui.py
  src/tools/motion_matching/tour_baselines_widget.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(motion_matching): break down TourBaselinesWidget._init_ui to satisfy function lines budget (#10596)
  src/tools/motion_matching/tour_baselines_widget.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion_matching): expose tour baselines in motion matching and replay (#10596) (#10809)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/shared_tools/divergence_inventory.v1.json
  src/tools/motion_matching/gui.py
  src/tools/motion_matching/tour_baselines_presenter.py
  src/tools/motion_matching/tour_baselines_widget.py
  tests/tools/motion_matching/test_motion_matching_gui.py
  tests/unit/motion_matching/test_tour_baselines_presenter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(tour_baselines): publish baseline guide, agent runbook and acceptance (#10597)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/matched_swing_program/README.md
  docs/plans/tour_baselines/README.md
  docs/plans/tour_baselines/agent_runbook.md
  docs/plans/tour_baselines/baseline_guide.md
  docs/plans/tour_baselines/final_acceptance_report.md
  tests/acceptance/test_tour_baselines_journey.py
Due: pytest-unit

docs(governance): protect code identifier tokens in headings with backticks
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

docs(tour_baselines): publish baseline guide, agent runbook and acceptance (#10597) (#10814)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/matched_swing_program/README.md
  docs/plans/tour_baselines/README.md
  docs/plans/tour_baselines/agent_runbook.md
  docs/plans/tour_baselines/baseline_guide.md
  docs/plans/tour_baselines/final_acceptance_report.md
  tests/acceptance/test_tour_baselines_journey.py
Due: pytest-unit

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
