Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

docs: record PR #10645 in TB-06 DL entry and SPEC change-log row
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
Due: none

fix(pendulum): split fit_bounded_golfer to satisfy architecture budget
  src/engines/physics_engines/pendulum/python/motion_matching/torque_optimization_golfer.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(physics): vectorize Rust trajectory post-processing (#8930)
  src/shared/python/physics/ball_simulator.py
  tests/unit/physics/test_ball_simulator_post_process_vectorized_8930.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: record PR #10648 in SPEC changelog and development log (#8930)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
Due: none

fix(pose_studio): wire per-engine joint limits into JointPanel (#8887)
  src/shared/python/pose_interchange/live_kinematics.py
  src/shared/python/pose_interchange/services/_mock.py
  src/shared/python/pose_interchange/services/drake.py
  src/shared/python/pose_interchange/services/mujoco.py
  src/shared/python/pose_interchange/services/myosuite.py
  src/shared/python/pose_interchange/services/opensim.py
  src/shared/python/pose_interchange/services/pinocchio.py
  src/shared/python/pose_interchange/services/simscape.py
  src/tools/pose_studio/controllers/engine_controller.py
  src/tools/pose_studio/gui.py
  src/tools/pose_studio/widgets/joint_panel.py
  tests/tools/pose_studio/test_engine_controller_internals.py
  tests/unit/tools/pose_studio/test_gui.py
  tests/unit/tools/pose_studio/test_joint_panel.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: record PR #10650 in SPEC changelog and development log (#8887)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
Due: none

feat(video-analyzer): replace GUI placeholder with a real analysis window
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  scripts/config/suite_marker_baseline.json
  src/launchers/external_tools_adapter.py
  src/launchers/task_launch_truthfulness.py
  src/tools/video_analyzer/analyzer.py
  src/tools/video_analyzer/gui.py
  tests/launchers/test_simulation_guis.py
  tests/launchers/test_task_launch_truthfulness.py
  tests/ui/tools/video_analyzer/__init__.py
  tests/ui/tools/video_analyzer/conftest.py
  tests/ui/tools/video_analyzer/test_gui.py
  tests/unit/test_video_analyzer_pipeline.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(units): correct pose-studio tooltip lie and unify putting-green units
  SPEC.md
  src/tools/ball_flight_gui/gui.py
  src/tools/pose_studio/widgets/joint_panel.py
  src/tools/putting_green_gui/_scene_builder.py
  src/tools/putting_green_gui/gui.py
  tests/tools/putting_green_gui/test_putting_green_gui.py
  tests/unit/tools/pose_studio/test_joint_panel.py
  tests/unit/tools/putting_green_gui/test_scene_builder.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: record PR #10651 in the #8883 handoff and development log
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

fix(theme): centralize tool stylesheet tokens, fix light panel in dark app
  .github/workflows/ci-standard.yml
  scripts/ci/check_hardcoded_style_ratchet.py
  scripts/config/hardcoded_style_baseline.json
  src/shared/python/theme/tool_stylesheet.py
  src/tools/ball_flight_gui/gui.py
  src/tools/model_explorer/visualization_widget.py
  src/tools/putting_green_gui/gui.py
  src/tools/swing_flight_pipeline/gui.py
  src/tools/training_controller/gui.py
  tests/tools/model_explorer/test_visualization_widget_theme.py
  tests/tools/test_run_button_consistency_8885.py
  tests/unit/scripts/test_hardcoded_style_ratchet.py
  tests/unit/theme/test_tool_stylesheet_8885.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(tools): migrate bunker_shot_gui, ball_flight_gui, swing_flight_pipeline off the GUI thread
  .github/workflows/ci-standard.yml
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  scripts/ci/check_gui_thread_blocking_ratchet.py
  scripts/config/gui_thread_blocking_baseline.json
  src/tools/ball_flight_gui/gui.py
  src/tools/bunker_shot_gui/gui.py
  src/tools/motion_matching/gui.py
  src/tools/swing_flight_pipeline/gui.py
  tests/tools/ball_flight_gui/test_async_actions.py
  tests/tools/bunker_shot_gui/test_async_actions.py
  tests/tools/bunker_shot_gui/test_gui.py
  tests/tools/swing_flight_pipeline/test_async_actions.py
  tests/unit/scripts/test_gui_thread_blocking_ratchet.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(realtime): wire ws transport, fail loudly on unsupported REALTIME_TRANSPORT
  docs/config/pydantic-settings-migration.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/shared/python/realtime/__init__.py
  src/shared/python/realtime/api.py
  src/shared/python/realtime/channels.py
  src/shared/python/realtime/file_pubsub.py
  tests/shared/realtime/test_api.py
  tests/shared/realtime/test_channels.py
  tests/shared/realtime/test_file_pubsub.py
  tests/unit/realtime/test_channels.py
  tests/unit/realtime/test_facade.py
  tests/unit/realtime/test_file_pubsub.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(pose_studio): add unit marker to satisfy suite-marker ratchet
  tests/unit/tools/pose_studio/test_joint_panel.py
Due: pytest-unit

docs(spec): add PR #10654 change-log row (issue #8885)
  SPEC.md
Due: none

docs: record PR #10655 for issue #8869 realtime wiring
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

test: MS-43 native engine nightly lane receipts and freshness gate
  docs/development/DEVELOPMENT_LOG.md
  docs/development/matched_swing_program/README.md
  docs/development/matched_swing_program/evidence/nightly/README.md
  docs/development/matched_swing_program/evidence/nightly/myosuite_receipt.json
  docs/development/matched_swing_program/evidence/nightly/opensim_receipt.json
  scripts/ci/run_native_engine_lane.py
  scripts/ci/run_native_engine_lane.sh
  tests/docs/test_native_lane_freshness.py
  tests/scripts/test_run_native_engine_lane.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: reconcile SPEC.md for MS-43 native lane (#10342)
  SPEC.md
Due: none

fix: parse junit with defusedxml for Semgrep gate
  scripts/ci/run_native_engine_lane.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test: MS-43 OpenSim/MyoSuite native nightly lane receipts and freshness gate (#10659)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/matched_swing_program/README.md
  docs/development/matched_swing_program/evidence/nightly/README.md
  docs/development/matched_swing_program/evidence/nightly/myosuite_receipt.json
  docs/development/matched_swing_program/evidence/nightly/opensim_receipt.json
  scripts/ci/run_native_engine_lane.py
  scripts/ci/run_native_engine_lane.sh
  tests/docs/test_native_lane_freshness.py
  tests/scripts/test_run_native_engine_lane.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(motion_matching): WIP PF-06 force nullspace explorer and torque tradeoffs (#10436)
  src/shared/python/motion_matching/contact_force_allocator.py
  src/shared/python/motion_matching/force_nullspace_explorer.py
  tests/unit/motion_matching/test_force_nullspace_explorer.py
  ui/src/api/vite-proxy-config.test.ts
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

docs(shadow-tracker): WIP session handoff and turnover docs (#10233)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/plans/shadow_tracker/AGENT_HANDOFF.md
  docs/plans/shadow_tracker/DATA_CONTRACTS.md
  docs/plans/shadow_tracker/TURNOVER_CURRENT.md
  src/shared/python/shadow_tracker/segmentation.py
  tests/unit/shadow_tracker/test_revision_persistence.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(mujoco): native tools marker IK on minimize and computed torque on mj_inverse (MS-16 #10366)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/full_body_models/evidence/ground_support/anthro_driver_native_tools/dynamics_record.npz
  docs/development/full_body_models/evidence/ground_support/anthro_driver_native_tools/full_body_spec_hipcal.json
  docs/development/full_body_models/evidence/ground_support/anthro_driver_native_tools/full_body_spec_hipcal_scaled.json
  docs/development/full_body_models/evidence/ground_support/anthro_driver_native_tools/ik_playback.gif
  docs/development/full_body_models/evidence/ground_support/anthro_driver_native_tools/ik_trajectory.npz
  docs/development/full_body_models/evidence/ground_support/anthro_driver_native_tools/receipt.json
  docs/development/full_body_models/evidence/ground_support/anthro_driver_native_tools/tracking_playback.gif
  src/engines/physics_engines/mujoco/python/full_body_ik.py
  src/engines/physics_engines/mujoco/python/ik_minimize.py
  src/engines/physics_engines/mujoco/python/inverse_dynamics.py
  src/shared/python/motion_matching/pipeline/cli.py
  src/shared/python/motion_matching/pipeline/dynamics.py
  src/shared/python/motion_matching/pipeline/lane.py
  src/shared/python/motion_matching/pipeline/plants/drake_plant.py
  src/shared/python/motion_matching/pipeline/plants/mujoco_plant.py
  src/shared/python/motion_matching/pipeline/plants/pinocchio_plant.py
  src/shared/python/motion_matching/pipeline/receipt.py
  src/shared/python/motion_matching/pipeline/receipt_components.py
  src/shared/python/motion_matching/pipeline/receipt_dynamics.py
  src/shared/python/motion_matching/pipeline/receipt_schema.py
  src/shared/python/motion_matching/pipeline/reference.py
  tests/unit/motion_matching/test_mujoco_ik_minimize.py
  tests/unit/motion_matching/test_mujoco_mj_inverse.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
