Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

fix(motion_matching): type CO-04 hub track for mypy
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/physics_engines/pendulum/python/motion_matching/club_pendulum_match.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(data_io): refresh divergence inventory after NM-02 generator split
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

fix(motion_matching): clear CO-05 LoD and DRY CI gates
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/shared/python/motion_matching/club_only/body_candidates.py
  src/shared/python/motion_matching/club_only/observation.py
  src/shared/python/motion_matching/club_only/profiles.py
  src/shared/python/motion_matching/club_only/seeds.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: qualify Simscape R2025b topology and full-marker terminal (MS-61) (#10676)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/matched_swing_program/GATES.md
  docs/development/matched_swing_program/README.md
  docs/development/matched_swing_program/WAVES.md
  docs/development/monolith_refactor_register.md
  docs/development/simscape_tour_matching/CHECKPOINTS.md
  docs/development/simscape_tour_matching/native_evidence/two_window_fit_9967_103/HANDOFF.md
  docs/development/simscape_tour_matching/native_evidence/two_window_fit_9967_103/native_gate.json
  docs/development/simscape_tour_matching/native_evidence/two_window_fit_9967_103/parity_receipt.json
  docs/development/simscape_tour_matching/native_evidence/two_window_fit_9967_103/runtime_license_receipt.json
  docs/development/simscape_tour_matching/native_evidence/two_window_fit_9967_103/terminal_breakdown.json
  docs/development/simscape_tour_matching/native_evidence/two_window_fit_9967_103/topology_report.json
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  reports/matched_swing_ledger.json
  scripts/matlab/materialize_ms61_topology_receipts.py
  scripts/matlab/run_simscape_candidate.ps1
  src/shared/python/motion_matching/acceptance.py
  src/shared/python/motion_matching/full_marker_terminal.py
  src/shared/python/motion_matching/simscape_topology.py
  src/shared/python/motion_matching/tour_metrics.py
  tests/unit/motion_matching/test_simscape_topology_ms61.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: refresh shared-tools divergence inventory for CO-05
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

fix(ci): sync monolith register for CO-05 body_candidates
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/monolith_refactor_register.md
Due: none

fix(ci): refresh divergence inventory after CO-04 match_matrix move
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

fix(data_io): NM-02 complete native dataset label semantics (#10679)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/plans/neural_motion_matching/dataset_labels.md
  docs/plans/neural_motion_matching/evidence/nm02_first_wave_label_receipts.json
  docs/plans/neural_motion_matching/learning_freeze.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/data_io/dataset_generator/__init__.py
  src/shared/python/data_io/dataset_generator/adapters.py
  src/shared/python/data_io/dataset_generator/channel_finalize.py
  src/shared/python/data_io/dataset_generator/core.py
  src/shared/python/data_io/dataset_generator/labels.py
  src/shared/python/data_io/dataset_generator/models.py
  src/shared/python/data_io/dataset_generator/sim_buffers.py
  src/shared/python/data_io/dataset_generator/sim_recording.py
  src/shared/python/engine_core/mock_engine.py
  tests/unit/data_io/test_dataset_labels_nm02.py
  tests/unit/data_io/test_nm02_adapters.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: note CO-05 rematch onto main after NM-02
  docs/development/HANDOFF.md
Due: none

feat(neural_motion): NM-03 episode storage splits and views
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/plans/neural_motion_matching/episode_storage.md
  docs/plans/neural_motion_matching/evidence/nm03_episode_storage_receipt.json
  docs/plans/neural_motion_matching/learning_freeze.md
  src/shared/python/neural_motion/episodes/__init__.py
  src/shared/python/neural_motion/episodes/adapters.py
  src/shared/python/neural_motion/episodes/cache.py
  src/shared/python/neural_motion/episodes/normalize.py
  src/shared/python/neural_motion/episodes/record.py
  src/shared/python/neural_motion/episodes/splits.py
  src/shared/python/neural_motion/episodes/store.py
  src/shared/python/neural_motion/episodes/views.py
  tests/unit/neural_motion/test_episode_store_nm03.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion_matching): CO-05 plausible upper/full-body candidates (#10681)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/monolith_refactor_register.md
  docs/plans/club_only_matching/TURNOVER.md
  docs/plans/club_only_matching/evidence/club_body_candidates.json
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/club_only/__init__.py
  src/shared/python/motion_matching/club_only/body_candidates.py
  src/shared/python/motion_matching/club_only/nullspace_proposals.py
  src/shared/python/motion_matching/club_only/observation.py
  src/shared/python/motion_matching/club_only/profiles.py
  src/shared/python/motion_matching/club_only/seeds.py
  src/shared/python/motion_matching/club_only/topology_mapping.py
  tests/unit/motion_matching/test_club_body_candidates.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(shared_tools): refresh divergence inventory for NM-03 episodes
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

docs: record PR #10686 on NM-03 handoff and SPEC row
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

docs(handoff): point NM-03 next action at PR #10686 CI
  docs/development/HANDOFF.md
Due: none

docs(neural_motion): advance TURNOVER dispatch pointer to NM-03
  docs/plans/neural_motion_matching/TURNOVER.md
Due: none

fix(ci): record tools-only gspro_connect in divergence inventory
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

fix(training): register NM-03 episode corpus on reuse anchor
  src/shared/python/training/datasets.py
  tests/unit/neural_motion/test_episode_store_nm03.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(handoff): refresh NM-03 after training reuse seam
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

fix(neural_motion): CompactArrayBundle for architecture parameter budget
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/shared/python/neural_motion/episodes/__init__.py
  src/shared/python/neural_motion/episodes/adapters.py
  tests/unit/neural_motion/test_episode_store_nm03.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: add unit suite markers for #8885 tests
  tests/unit/scripts/test_hardcoded_style_ratchet.py
  tests/unit/theme/test_tool_stylesheet_8885.py
Due: pytest-unit

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
