Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

feat(golf-simulator): add capability-aware desktop and web controls (#10196) (#10222)
  AGENT_HANDOFF.md
  SPEC.md
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/architecture/CAPABILITY_ATLAS.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/feature_parity_matrix.md
  scripts/generate_ui_api_types.py
  src/api/routes/golf_simulator.py
  src/config/feature_parity.json
  src/config/launcher_manifest.json
  src/config/models.yaml
  src/launchers/embedded_tool_bootstrap.py
  src/tools/golf_simulator/__init__.py
  src/tools/golf_simulator/_embed_adapter.py
  src/tools/golf_simulator/gui.py
  tests/companion/test_companion_catalog.py
  tests/unit/api/test_golf_simulator_routes.py
  tests/unit/tools/golf_simulator/test_desktop_controls.py
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
  ui/src/App.tsx
  ui/src/api/generated/types.ts
  ui/src/pages/GolfSimulator.test.tsx
  ui/src/pages/GolfSimulator.tsx
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

test(golf-simulator): add red tests for Windows integration (#10197)
  tests/unit/golf_simulator/test_gspro_discovery.py
  tests/unit/golf_simulator/test_journal_retention_recovery.py
  tests/unit/golf_simulator/test_log_redaction.py
  tests/unit/golf_simulator/test_producer_lock.py
  tests/unit/golf_simulator/test_remote_bridge.py
  tests/unit/golf_simulator/test_windows_packaging.py
Due: pytest-unit

feat(golf-simulator): package Windows integration and authenticated remote topology (#10197)
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  src/shared/python/golf_simulator/__init__.py
  src/shared/python/golf_simulator/discovery.py
  src/shared/python/golf_simulator/journal.py
  src/shared/python/golf_simulator/logging_redaction.py
  src/shared/python/golf_simulator/packaging.py
  src/shared/python/golf_simulator/producer_lock.py
  src/shared/python/golf_simulator/remote_bridge.py
  tests/unit/golf_simulator/test_remote_bridge.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): document Windows deployment and remote topology (#10197) (#10225)
  SPEC.md
Due: none

refactor(golf-simulator): harden remote bridge, lease validation, and sync divergence inventory (#10197)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/golf_simulator/discovery.py
  src/shared/python/golf_simulator/journal.py
  src/shared/python/golf_simulator/logging_redaction.py
  src/shared/python/golf_simulator/producer_lock.py
  src/shared/python/golf_simulator/remote_bridge.py
  tests/unit/golf_simulator/test_gspro_discovery.py
  tests/unit/golf_simulator/test_journal_retention_recovery.py
  tests/unit/golf_simulator/test_log_redaction.py
  tests/unit/golf_simulator/test_producer_lock.py
  tests/unit/golf_simulator/test_remote_bridge.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(golf-simulator): eliminate duplicate connect status block (#10197)
  src/shared/python/golf_simulator/remote_bridge.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(golf-simulator): package Windows integration and authenticated remote topology (#10197) (#10225)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/golf_simulator/__init__.py
  src/shared/python/golf_simulator/discovery.py
  src/shared/python/golf_simulator/journal.py
  src/shared/python/golf_simulator/logging_redaction.py
  src/shared/python/golf_simulator/packaging.py
  src/shared/python/golf_simulator/producer_lock.py
  src/shared/python/golf_simulator/remote_bridge.py
  tests/unit/golf_simulator/test_gspro_discovery.py
  tests/unit/golf_simulator/test_journal_retention_recovery.py
  tests/unit/golf_simulator/test_log_redaction.py
  tests/unit/golf_simulator/test_producer_lock.py
  tests/unit/golf_simulator/test_remote_bridge.py
  tests/unit/golf_simulator/test_windows_packaging.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(golf-simulator): add opt-in live acceptance qualification suite (#10198)
  tests/integration/golf_simulator/test_live_acceptance.py
Due: pytest-unit

docs(golf-simulator): add support matrix and operational acceptance runbook (#10198)
  SPEC.md
  docs/plans/golf_simulator_integration/ACCEPTANCE_RUNBOOK.md
  docs/plans/golf_simulator_integration/README.md
  docs/plans/golf_simulator_integration/SUPPORT_MATRIX.md
Due: none

test(golf-simulator): add support matrix and live acceptance qualification suite (#10198) (#10226)
  SPEC.md
  docs/plans/golf_simulator_integration/ACCEPTANCE_RUNBOOK.md
  docs/plans/golf_simulator_integration/README.md
  docs/plans/golf_simulator_integration/SUPPORT_MATRIX.md
  tests/integration/golf_simulator/test_live_acceptance.py
Due: pytest-unit

test(golf-simulator): add red tests for flight relay and second simulator evaluation (#10199)
  tests/unit/golf_simulator/test_relay_adapter.py
Due: pytest-unit

feat(motion_matching): receipt schema, validator and documentation (HO-2 #10156)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/full_body_models/HANDOFF.md
  docs/development/full_body_models/RECEIPTS.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/pipeline/receipt.py
  src/shared/python/motion_matching/pipeline/receipt_components.py
  src/shared/python/motion_matching/pipeline/receipt_docs.py
  src/shared/python/motion_matching/pipeline/receipt_dynamics.py
  src/shared/python/motion_matching/pipeline/receipt_schema.py
  tests/unit/motion_matching/pipeline/test_receipt.py
  tests/unit/motion_matching/pipeline/test_receipt_schema.py
  tests/unit/motion_matching/pipeline/test_receipts_markdown_freshness.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(golf-simulator): evaluate second commercial simulator and add flight relay adapter (#10199)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/plans/golf_simulator_integration/COMMERCIAL_SIMULATOR_EVALUATION.md
  docs/plans/golf_simulator_integration/README.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/golf_simulator/__init__.py
  src/shared/python/golf_simulator/adapters/__init__.py
  src/shared/python/golf_simulator/adapters/relay.py
  tests/unit/golf_simulator/test_relay_adapter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(golf-simulator): resolve Law of Demeter chain in relay adapter (#10199)
  src/shared/python/golf_simulator/adapters/relay.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion_matching): receipt schema, validator and documentation (HO-2 #10156) (#10224)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/full_body_models/HANDOFF.md
  docs/development/full_body_models/RECEIPTS.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/pipeline/receipt.py
  src/shared/python/motion_matching/pipeline/receipt_components.py
  src/shared/python/motion_matching/pipeline/receipt_docs.py
  src/shared/python/motion_matching/pipeline/receipt_dynamics.py
  src/shared/python/motion_matching/pipeline/receipt_schema.py
  tests/unit/motion_matching/pipeline/test_receipt.py
  tests/unit/motion_matching/pipeline/test_receipt_schema.py
  tests/unit/motion_matching/pipeline/test_receipts_markdown_freshness.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(golf-simulator): evaluate second commercial simulator and add flight relay adapter (#10199) (#10227)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/plans/golf_simulator_integration/COMMERCIAL_SIMULATOR_EVALUATION.md
  docs/plans/golf_simulator_integration/README.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/golf_simulator/__init__.py
  src/shared/python/golf_simulator/adapters/__init__.py
  src/shared/python/golf_simulator/adapters/relay.py
  tests/unit/golf_simulator/test_relay_adapter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion_matching): mjx environment setup and jax-gated tests (HO-3 #10157)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/full_body_models/HANDOFF.md
  docs/development/full_body_models/evidence/ground_support/mjx_trajectory_optimisation.py
  pyproject.toml
  scripts/config/mjx_env_pins.json
  scripts/setup_mjx_env.ps1
  scripts/setup_mjx_env.sh
  tests/unit/motion_matching/conftest.py
  tests/unit/motion_matching/test_mjx_optimisation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test(golf-simulator): add red tests for native avatar and autonomous feedback bounds (#10200)
  tests/unit/golf_simulator/test_avatar_course_feedback_research.py
Due: pytest-unit

docs(golf-simulator): investigate native avatar animation and autonomous feedback (#10200)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/plans/golf_simulator_integration/NATIVE_AVATAR_COURSE_FEEDBACK_RESEARCH.md
  docs/plans/golf_simulator_integration/README.md
  src/shared/python/golf_simulator/__init__.py
  src/shared/python/golf_simulator/contracts.py
  tests/unit/golf_simulator/test_avatar_course_feedback_research.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(golf-simulator): investigate native avatar animation and autonomous feedback (#10200) (#10229)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/plans/golf_simulator_integration/NATIVE_AVATAR_COURSE_FEEDBACK_RESEARCH.md
  docs/plans/golf_simulator_integration/README.md
  src/shared/python/golf_simulator/__init__.py
  src/shared/python/golf_simulator/contracts.py
  tests/unit/golf_simulator/test_avatar_course_feedback_research.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
