Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

feat: add DbC runtime contracts Wave 6 (hill_muscle, muscle_analysis, swing_comparison, fitting, io)
  src/shared/python/biomechanics/hill_muscle.py
  src/shared/python/biomechanics/muscle_analysis.py
  src/shared/python/biomechanics/swing_comparison.py
  src/shared/python/signal_toolkit/fitting.py
  src/shared/python/signal_toolkit/io.py
  tests/unit/dbc/test_dbc_runtime_wave6.py
  tests/unit/test_muscle_analysis.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: update existing tests to expect PreconditionError/PostconditionError from previous DbC waves
  tests/unit/test_activation_dynamics.py
  tests/unit/test_kinematic_sequence.py
  tests/unit/test_muscle_equilibrium.py
  tests/unit/test_swing_plane.py
Due: pytest-unit

fix: add response_model=None to FastAPI endpoints with union return types
  src/api/local_server.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: DbC runtime contracts Wave 6 (#1462)
  src/api/local_server.py
  src/shared/python/biomechanics/hill_muscle.py
  src/shared/python/biomechanics/muscle_analysis.py
  src/shared/python/biomechanics/swing_comparison.py
  src/shared/python/signal_toolkit/fitting.py
  src/shared/python/signal_toolkit/io.py
  tests/conftest.py
  tests/unit/dbc/test_dbc_runtime_wave6.py
  tests/unit/test_activation_dynamics.py
  tests/unit/test_kinematic_sequence.py
  tests/unit/test_muscle_analysis.py
  tests/unit/test_muscle_equilibrium.py
  tests/unit/test_swing_plane.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test: comprehensive coverage Wave 1 — core, signal_toolkit, docs
  docs/development/testing_suite.md
  tests/unit/core/__init__.py
  tests/unit/core/test_datetime_utils_extended.py
  tests/unit/core/test_error_decorators.py
  tests/unit/core/test_error_utils_extended.py
  tests/unit/signal_toolkit/__init__.py
  tests/unit/signal_toolkit/test_signal_processing.py
Due: pytest-unit

docs: add cross-repo weighted assessment and issue index
  docs/assessments/Cross_Repo_Assessment_2026-02-17.md
  docs/assessments/README.md
Due: none

docs: add cross-repo weighted assessment and issue index (#1469)
  docs/assessments/Cross_Repo_Assessment_2026-02-17.md
  docs/assessments/README.md
Due: none

Add Implementation Gaps Report (#1455)
  docs/assessments/README.md
  docs/assessments/implementation_gaps_report.md
Due: none

test: comprehensive coverage Wave 1 — core, signal_toolkit, docs (#1470)
  docs/development/testing_suite.md
  tests/unit/core/__init__.py
  tests/unit/core/test_datetime_utils_extended.py
  tests/unit/core/test_error_decorators.py
  tests/unit/core/test_error_utils_extended.py
  tests/unit/signal_toolkit/__init__.py
  tests/unit/signal_toolkit/test_signal_processing.py
Due: pytest-unit

test: add Wave 3 comprehensive tests for biomechanics, physics, and data_io
  docs/development/testing_suite.md
  tests/unit/biomechanics/__init__.py
  tests/unit/biomechanics/test_biomechanics_comprehensive.py
  tests/unit/data_io/__init__.py
  tests/unit/data_io/test_data_io_comprehensive.py
  tests/unit/physics/__init__.py
  tests/unit/physics/test_physics_comprehensive.py
Due: pytest-unit

test: comprehensive coverage Wave 2 — spatial_algebra, analysis
  tests/unit/analysis/__init__.py
  tests/unit/analysis/test_analysis_comprehensive.py
  tests/unit/spatial_algebra/__init__.py
  tests/unit/spatial_algebra/test_spatial_algebra_comprehensive.py
Due: pytest-unit

docs: update testing suite with Wave 2 results
  docs/development/testing_suite.md
Due: none

test: add Wave 4 comprehensive tests for optimization and validation_pkg (175 tests)
  docs/development/testing_suite.md
  tests/unit/optimization/__init__.py
  tests/unit/optimization/test_optimization_comprehensive.py
  tests/unit/validation_pkg/__init__.py
  tests/unit/validation_pkg/test_validation_comprehensive.py
Due: pytest-unit

test: comprehensive coverage Waves 2-4 (466 new tests) (#1471)
  docs/development/testing_suite.md
  tests/unit/analysis/__init__.py
  tests/unit/analysis/test_analysis_comprehensive.py
  tests/unit/biomechanics/__init__.py
  tests/unit/biomechanics/test_biomechanics_comprehensive.py
  tests/unit/data_io/__init__.py
  tests/unit/data_io/test_data_io_comprehensive.py
  tests/unit/optimization/__init__.py
  tests/unit/optimization/test_optimization_comprehensive.py
  tests/unit/physics/__init__.py
  tests/unit/physics/test_physics_comprehensive.py
  tests/unit/spatial_algebra/__init__.py
  tests/unit/spatial_algebra/test_spatial_algebra_comprehensive.py
  tests/unit/validation_pkg/__init__.py
  tests/unit/validation_pkg/test_validation_comprehensive.py
Due: pytest-unit

chore: sync vendor/ud-tools submodule to latest (#1476)
  src/engines/__init__.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: add Design-by-Contract preconditions to all 13 API route files (#1477)
  src/api/routes/actuator_controls.py
  src/api/routes/aip.py
  src/api/routes/analysis.py
  src/api/routes/analysis_tools.py
  src/api/routes/auth.py
  src/api/routes/chat_ws.py
  src/api/routes/core.py
  src/api/routes/data_explorer.py
  src/api/routes/force_overlays.py
  src/api/routes/motion_capture.py
  src/api/routes/putting_green.py
  src/api/routes/simulation_ws.py
  src/api/routes/video.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: replace broad exception catches with typed domain errors (#1478)
  src/engines/physics_engines/mujoco/docker/src/humanoid_golf/sim.py
  src/launchers/launcher_layout_manager.py
  src/launchers/model_registry.py
  src/shared/python/config/model_registry.py
  src/shared/python/data_io/dataset_generator.py
  src/shared/python/data_io/import_utils.py
  src/shared/python/gui_pkg/video_pose_pipeline.py
  src/shared/python/physics/energy_monitor.py
  src/shared/python/pose_estimation/mediapipe_estimator.py
  src/shared/python/pose_estimation/openpose_estimator.py
  src/shared/python/security/subprocess_utils.py
  src/unreal_integration/viewer_backends.py
  tests/unit/test_energy_monitor.py
  tests/unit/test_model_registry.py
  tests/unit/test_openpose_estimator.py
  tests/unit/test_shared_model_registry.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Implement LOOPBACK mode in RealTimeController (#1475)
  src/deployment/realtime/controller.py
  tests/deployment/test_realtime.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: resolve test failures and async test compatibility (#1480)
  scripts/show_physics_parameters.py
  scripts/validate_suite.py
  src/deployment/realtime/controller.py
  src/launchers/golf_launcher.py
  tests/api/test_phase4_api.py
  tests/integration/test_golf_launcher_integration.py
  tests/learning/test_retargeting.py
  tests/unit/test_urdf_io.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: consolidate DRY violations in pendulum and pinocchio engines (#1482)
  src/engines/physics_engines/pendulum/python/pendulum_physics_engine.py
  src/engines/physics_engines/pinocchio/python/pinocchio_physics_engine.py
  src/shared/python/engine_core/base_physics_engine.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: decompose Pinocchio GUI god module into focused mixins (#1481)
  pyproject.toml
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/gui.py
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/gui_simulation.py
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/gui_ui_setup.py
  tests/unit/test_pinocchio_gui.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: add ADRs, onboarding guide, engine selection guide, troubleshooting FAQ (closes #1486) (#1495)
  docs/adr/0001-fastapi-local-first-api.md
  docs/adr/0002-physics-engine-plugin-architecture.md
  docs/adr/0003-websocket-realtime-simulation.md
  docs/adr/README.md
  docs/development/FIRST_CONTRIBUTION.md
  docs/development/README.md
  docs/engine_selection_guide.md
  docs/troubleshooting/FAQ.md
  docs/troubleshooting/README.md
Due: none

perf: add caching to pure functions and create performance benchmarks (closes #1492) (#1498)
  src/shared/python/physics/equipment.py
  src/shared/python/physics/flexible_shaft.py
  src/shared/python/physics/flight_model_options.py
  src/shared/python/physics/terrain.py
  tests/benchmarks/__init__.py
  tests/benchmarks/test_physics_benchmarks.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
