Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

docs(spec): add change-log row for #9638
  SPEC.md
Due: none

fix(ci): build sparse diagonals through dia_matrix (CI scipy stubs reject diags overloads)
  src/motion_capture/reconstruct/temporal.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

refactor(pose_estimation): one load_video_into helper for both GUIs (DRY gate)
  src/shared/python/pose_estimation/mediapipe_gui.py
  src/shared/python/pose_estimation/openpose_gui.py
  src/shared/python/pose_estimation/video_files.py
  tests/unit/pose_estimation/test_video_files.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(mocap): second-difference operator needs n entries per diagonal with dia_matrix
  src/motion_capture/reconstruct/temporal.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(mocap): DLT triangulation with residuals, covariance and leave-one-out view rejection
  src/motion_capture/reconstruct/geometry.py
  tests/motion_capture/reconstruct/test_geometry.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(mocap): joint camera-pose, 3-D joint and bone-length fit with outlier rejection (C3/C4 core)
  docs/motion_capture/self_calibrating_pipeline.md
  src/motion_capture/reconstruct/bundle.py
  tests/motion_capture/reconstruct/test_bundle.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(mocap): fit command - joint fit on a bundle with reconstruction.json evidence
  docs/motion_capture/self_calibrating_pipeline.md
  src/motion_capture/reconstruct/__main__.py
  src/motion_capture/reconstruct/fit.py
  tests/motion_capture/reconstruct/test_fit_cli.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(mocap): map MediaPipe/BODY_25 layouts onto the 15-joint reconstruct skeleton
  src/motion_capture/reconstruct/fit.py
  src/motion_capture/reconstruct/layouts.py
  tests/motion_capture/reconstruct/test_layouts.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(spec): add change-log row for #9639
  SPEC.md
Due: none

fix(ci): annotate reassigned arrays for CI's numpy stubs
  src/motion_capture/reconstruct/bundle.py
  src/motion_capture/reconstruct/geometry.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(mocap): rig reconstruct command - ingest output to 3-D through clean and joint fit (C7)
  docs/motion_capture/capture_rig.md
  docs/motion_capture/self_calibrating_pipeline.md
  src/motion_capture/reconstruct/pipeline.py
  src/motion_capture/rig/__main__.py
  tests/motion_capture/reconstruct/test_pipeline.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(mocap): swing analytics from fitted 3-D joints; outliers judged under a tighter prior
  src/motion_capture/reconstruct/analytics.py
  src/motion_capture/reconstruct/pipeline.py
  src/motion_capture/reconstruct/temporal.py
  tests/motion_capture/reconstruct/test_analytics.py
  tests/motion_capture/reconstruct/test_pipeline.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(mocap): swing analytics section
  docs/motion_capture/self_calibrating_pipeline.md
Due: none

docs(spec): add change-log row for #9640
  SPEC.md
Due: none

docs(mocap): synthetic algorithm thresholds in the acceptance program; reconstruct steps in the runbook
  docs/motion_capture/camera_rig_runbook.md
  docs/motion_capture/markerless_mocap_acceptance.md
Due: none

docs(spec): add change-log row for #9643
  SPEC.md
Due: none

feat(mocap): camera placement from the golfer alone (C3 initialisation)
  docs/motion_capture/capture_rig.md
  docs/motion_capture/self_calibrating_pipeline.md
  src/motion_capture/reconstruct/initialize.py
  src/motion_capture/reconstruct/pipeline.py
  src/motion_capture/rig/__main__.py
  tests/motion_capture/reconstruct/test_initialize.py
  tests/motion_capture/reconstruct/test_pipeline.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(spec): add change-log row for #9642
  SPEC.md
Due: none

perf(learning): optimize dataset mean duration using sum/len
  .jules/bolt.md
  src/learning/imitation/dataset.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): document demonstration dataset mean duration optimization (#9645)
  SPEC.md
Due: none

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
