Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

docs+api(mpm): export the two new verification modules from the package init
  src/bunkershot3d/solvers/mpm/__init__.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(mpm): break a three-deep chain for the LoD gate
  src/bunkershot3d/solvers/mpm/order_of_accuracy.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

refactor(mpm): bring every verification case under the 100-line function budget
  src/bunkershot3d/solvers/mpm/limit_states.py
  src/bunkershot3d/solvers/mpm/order_of_accuracy.py
  src/bunkershot3d/solvers/mpm/verification.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

refactor(mpm): move the cohesive oscillation case beside energy_residuals
  src/bunkershot3d/solvers/mpm/order_of_accuracy.py
  src/bunkershot3d/solvers/mpm/verification.py
  tests/bunkershot3d/solvers/mpm/test_verification.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

refactor(mpm): share one column marcher between the two step studies
  SPEC.md
  src/bunkershot3d/solvers/mpm/order_of_accuracy.py
  src/bunkershot3d/solvers/mpm/verification.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs: advance structural campaign handoff to 414
  AGENT_HANDOFF.md
Due: none

fix(tests): stop dashboard launcher entering a real Qt event loop (#9183)
  SPEC.md
  src/shared/python/dashboard/launcher.py
  tests/launchers/test_dashboards.py
  tests/unit/test_launcher_lazy_loading.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Fix leaked Qt stub in sys.modules that made unit-test-gate a lottery (#9188)
  SPEC.md
  tests/conftest.py
  tests/unit/plotting/conftest.py
Due: pytest-unit

Arm the Qt sys.modules guard independently of the baseline being non-empty (#9188)
  tests/conftest.py
Due: pytest-unit

docs: advance structural campaign handoff to 434
  AGENT_HANDOFF.md
Due: none

feat(bunkershot3d): F1 ball body, multi-body contact and whole-shot marching (#8733 sections 1-3) (#9172)
  SPEC.md
  src/bunkershot3d/fields/capture.py
  src/bunkershot3d/solvers/mpm/__init__.py
  src/bunkershot3d/solvers/mpm/ball.py
  src/bunkershot3d/solvers/mpm/body.py
  src/bunkershot3d/solvers/mpm/contact.py
  src/bunkershot3d/solvers/mpm/solver.py
  src/bunkershot3d/solvers/mpm/step.py
  src/bunkershot3d/solvers/mpm/wholeshot.py
  tests/bunkershot3d/solvers/mpm/test_ball.py
  tests/bunkershot3d/solvers/mpm/test_body.py
  tests/bunkershot3d/solvers/mpm/test_multibody_contact.py
  tests/bunkershot3d/solvers/mpm/test_solver.py
  tests/bunkershot3d/solvers/mpm/test_whole_shot.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs: advance structural campaign handoff to 454
  AGENT_HANDOFF.md
Due: none

feat(mpm): F1 plastic-limit, MMS and temporal verification (#8733 section 4) (#9173)
  SPEC.md
  src/bunkershot3d/solvers/mpm/__init__.py
  src/bunkershot3d/solvers/mpm/limit_states.py
  src/bunkershot3d/solvers/mpm/order_of_accuracy.py
  src/bunkershot3d/solvers/mpm/verification.py
  tests/bunkershot3d/solvers/mpm/test_verification.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(bunkershot3d): ball-sand interaction -- what actually reaches the ball (#8712) (#9181)
  SPEC.md
  src/bunkershot3d/solvers/mpm/__init__.py
  src/bunkershot3d/solvers/mpm/ballreach.py
  src/bunkershot3d/solvers/mpm/contact.py
  tests/bunkershot3d/solvers/mpm/test_ball_reach.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs: advance structural campaign handoff to 474
  AGENT_HANDOFF.md
Due: none

fix(research): make bounded-event evidence replay fit the test timeout (#9198)
  SPEC.md
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/data/bounded_event_reachability.json
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/data/event_topology_channel_matrix.json
  docs/research/proximal_distal_energy_transfer/data/event_topology_robustness.json
  docs/research/proximal_distal_energy_transfer/data/event_topology_stress_extension.json
  docs/research/proximal_distal_energy_transfer/data/nonlinear_controller_comparison_registration.json
  docs/research/proximal_distal_energy_transfer/data/nonlinear_controller_solver_qualification.json
  docs/research/proximal_distal_energy_transfer/release_manifest.json
  scripts/research/proximal_distal_energy/bounded_event_multiple_shooting.py
  tests/research/test_bounded_event_multiple_shooting.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

refactor(research): split solve helpers to satisfy the function-lines budget
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/data/bounded_event_reachability.json
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/data/event_topology_channel_matrix.json
  docs/research/proximal_distal_energy_transfer/data/event_topology_robustness.json
  docs/research/proximal_distal_energy_transfer/data/event_topology_stress_extension.json
  docs/research/proximal_distal_energy_transfer/data/nonlinear_controller_comparison_registration.json
  docs/research/proximal_distal_energy_transfer/data/nonlinear_controller_solver_qualification.json
  docs/research/proximal_distal_energy_transfer/release_manifest.json
  scripts/research/proximal_distal_energy/bounded_event_multiple_shooting.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: advance structural campaign handoff to 494
  AGENT_HANDOFF.md
Due: none

docs: advance structural campaign handoff to 514
  AGENT_HANDOFF.md
Due: none

perf(research): cut the shaft-contribution evidence replay 2.8x (#9204)
  SPEC.md
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/data/shaft_contribution_study.json
  docs/research/proximal_distal_energy_transfer/release_manifest.json
  src/shared/python/pendulum_simulator/physics_triple.py
  tests/unit/pendulum_simulator/test_physics_triple.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(research): resync the claim manifest's release_manifest digest
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
Due: none

docs: advance structural campaign handoff to 534
  AGENT_HANDOFF.md
Due: none

fix(mpm): stop the yield projection dividing by a zero deviator norm
  src/bunkershot3d/solvers/mpm/constitutive.py
  tests/bunkershot3d/solvers/mpm/test_constitutive.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(spec): record the hydrostatic divide-by-zero fix (1.0.631)
  SPEC.md
Due: none

refactor(mpm): keep constitutive.py inside the function-lines budget
  src/bunkershot3d/solvers/mpm/constitutive.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(mpm): stop the yield projection dividing by a zero deviator norm (#9177)
  SPEC.md
  src/bunkershot3d/solvers/mpm/constitutive.py
  tests/bunkershot3d/solvers/mpm/test_constitutive.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(companion): add exact publication contract
  .github/WORKFLOWS.md
  .github/workflows/release.yml
  AGENT_HANDOFF.md
  SPEC.md
  docs/adr/0043-companion-manifest-provider-authority.md
  docs/api/contracts/upstreamdrift-companion-acquisition-v1.schema.json
  docs/api/contracts/upstreamdrift-companion-compatibility-v1.json
  docs/development/ci_workflow_map.md
  docs/operations/companion-publication.md
  docs/operations/release-runbook.md
  docs/operations/workflow_inventory.md
  scripts/companion_publication.py
  tests/companion/test_companion_publication.py
  tests/fixtures/companion/current-v1.0.0.json
  tests/fixtures/companion/rejected-future-v2.0.0.json
  tests/fixtures/companion/rejected-incompatible-v1.0.0.json
  tests/scripts/test_check_workflow_inventory.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(companion): refresh publication handoff
  AGENT_HANDOFF.md
  SPEC.md
Due: none

fix(companion): invoke publication as module
  .github/workflows/release.yml
  SPEC.md
  docs/operations/companion-publication.md
  tests/companion/test_companion_publication.py
Due: pytest-unit

docs(companion): record publication validation
  AGENT_HANDOFF.md
Due: none

feat(bunkershot3d): make sand move in the 3-D scene (#8729, epic #8699) (#9184)
  SPEC.md
  src/bunkershot3d/fields/__init__.py
  src/bunkershot3d/fields/shotcapture.py
  src/bunkershot3d/fields/standing.py
  src/bunkershot3d/solvers/mpm/__init__.py
  src/bunkershot3d/solvers/mpm/wholeshot.py
  src/tools/bunker_shot_gui/render3d.py
  src/tools/bunker_shot_gui/render3d_sand.py
  src/tools/bunker_shot_gui/render3d_vtk.py
  src/tools/bunker_shot_gui/sandvolume.py
  src/tools/bunker_shot_gui/shot3d.py
  src/tools/bunker_shot_gui/viewport_widgets.py
  tests/bunkershot3d/fields/test_whole_shot_capture.py
  tests/tools/bunker_shot_gui/test_sand_volume_scrub.py
  tests/unit/tools/bunker_shot_gui/test_sand_volume.py
  tests/unit/tools/bunker_shot_gui/test_sand_volume_render.py
  tests/unit/tools/bunker_shot_gui/test_sand_volume_render_vtk.py
  tests/unit/tools/bunker_shot_gui/test_scene_sand.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(adr): index companion publication amendment
  docs/adr/README.md
Due: none

docs(companion): refresh protected base evidence
  AGENT_HANDOFF.md
  SPEC.md
Due: none

fix(companion): satisfy publication architecture budget
  AGENT_HANDOFF.md
  SPEC.md
  scripts/companion_publication.py
  tests/companion/test_companion_publication.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: advance structural campaign handoff to 554
  AGENT_HANDOFF.md
Due: none

test(companion): classify publication contracts
  AGENT_HANDOFF.md
  SPEC.md
  tests/companion/test_companion_publication.py
Due: pytest-unit

⚡ Bolt: [performance improvement] (#9215)
  .jules/bolt.md
Due: none

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
