Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

fix(motion_matching): add acceptance.py exception to module size budget baseline (#10431)
  scripts/config/module_size_budget_baseline.json
Due: none

feat(audit): reconcile, audit, and freeze feature preservation across historical boundaries (ORG-24 #10533) (#10581)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/ORG24_FEATURE_PRESERVATION_AUDIT.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/workspace/__init__.py
  src/shared/python/workspace/feature_preservation_audit.py
  tests/integration/test_feature_preservation_audit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion_matching): freeze fast-matching evidence, schemas and negative acceptance fixtures (#10431) (#10495)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  scripts/config/architecture_budget.json
  scripts/config/file_size_budget.json
  scripts/config/module_size_budget_baseline.json
  src/shared/python/motion_matching/acceptance.py
  src/shared/python/motion_matching/candidate.py
  src/shared/python/motion_matching/candidate_convert.py
  src/shared/python/motion_matching/candidate_io.py
  src/shared/python/motion_matching/contact_force_allocator.py
  src/shared/python/motion_matching/swing_evaluator.py
  tests/unit/motion_matching/test_acceptance.py
  tests/unit/motion_matching/test_candidate.py
  tests/unit/motion_matching/test_contact_force_allocator.py
  tests/unit/motion_matching/test_swing_evaluator.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(handoff): reconcile HANDOFF.md with origin/main
  docs/development/HANDOFF.md
Due: none

⚡ Bolt: Replace np.linalg.norm with np.sqrt(np.einsum) in dynamics.py (#10469)
  .jules/bolt.md
  SPEC.md
  scripts/config/architecture_budget.json
  src/shared/python/motion_matching/pipeline/dynamics.py
  src/shared/python/motion_matching/two_window_fit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(shared_tools): synchronize divergence inventory with kinematic_smoothing (#10432)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

refactor(motion_matching): eliminate LOD violations in matching_strategy
  src/shared/python/motion_matching/matching_strategy.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(pinocchio): integrate analytic pelvis-yaw orientation cost into Crocoddyl solver (#10381) (#10599)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/physics_engines/pinocchio/python/crocoddyl_action.py
  src/engines/physics_engines/pinocchio/python/crocoddyl_problem.py
  src/engines/physics_engines/pinocchio/python/full_body_fit.py
  tests/unit/motion_matching/test_crocoddyl_pelvis_yaw.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion_matching): calibrate and smooth full-swing pinocchio kinematics (#10432) (#10497)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/engines/physics_engines/pinocchio/python/marker_kinematics.py
  src/shared/python/motion_matching/kinematic_smoothing.py
  tests/unit/motion_matching/test_pinocchio_kinematics_calibration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(atlas,divergence): refresh capability atlas and divergence inventory for tour_baselines (#10585)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  ui/public/capability-atlas/graph.json
Due: none

docs(adr): record ADR-0043 amendment for companion evidence (#9193)
  docs/adr/README.md
Due: none

chore(budget): add architecture exception for ContactForceAllocator.allocate (#10433)
  scripts/config/architecture_budget.json
Due: none

fix(tour-baselines): comply with architecture budgets and cross-reference catalog (#10585)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

docs(agent-context): render views and update launcher-atlas boundary review (#10585)
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
Due: none

fix(motion_matching): ignore scipy minimize type overload for SLSQP solver
  src/shared/python/motion_matching/contact_force_allocator.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(companion): register architecture budget exceptions and update catalog count
  scripts/config/architecture_budget.json
  tests/companion/test_companion_catalog.py
Due: pytest-unit

⚡ Bolt: optimize np.linalg.norm with np.einsum in full_swing_tracking.py (#10575)
  .jules/bolt.md
  src/engines/physics_engines/opensim/python/tour_matching/full_swing_tracking.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(tour-baselines): freeze model identities, ownership, and two-capture coverage matrix (TB-00 #10585) (#10598)
  AGENT_HANDOFF.md
  SPEC.md
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/development/DEVELOPMENT_LOG.md
  docs/development/matched_swing_program/README.md
  docs/plans/tour_baselines/README.md
  docs/plans/tour_baselines/coverage_matrix.md
  docs/plans/tour_baselines/model_identities.md
  docs/plans/tour_baselines/reconciliation.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/config/models.yaml
  src/motion_capture/reference/fit_catalog.py
  src/shared/python/motion_matching/tour_baselines.py
  src/shared/python/tour_baselines/__init__.py
  src/shared/python/tour_baselines/coverage.py
  src/shared/python/tour_baselines/models.py
  src/shared/python/tour_baselines/reconciliation.py
  src/shared/python/tour_baselines/registry.py
  tests/unit/tour_baselines/test_coverage_matrix.py
  tests/unit/tour_baselines/test_model_identities.py
  tests/unit/tour_baselines/test_reconciliation.py
  ui/public/capability-atlas/graph.json
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(tour-baselines): audit tour targets, marker semantics, events, and provenance (TB-01 #10586)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/plans/tour_baselines/README.md
  docs/plans/tour_baselines/evidence/driver_target_audit_receipt.json
  docs/plans/tour_baselines/evidence/iron_target_audit_receipt.json
  docs/plans/tour_baselines/target_audit.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/tour_capture_contract.py
  src/shared/python/tour_baselines/__init__.py
  src/shared/python/tour_baselines/audit.py
  src/shared/python/tour_baselines/canonical_targets.py
  src/shared/python/tour_baselines/events.py
  src/shared/python/tour_baselines/measurement_map.py
  src/shared/python/tour_baselines/provenance.py
  tests/unit/tour_baselines/test_canonical_targets.py
  tests/unit/tour_baselines/test_coverage_matrix.py
  tests/unit/tour_baselines/test_measurement_map.py
  tests/unit/tour_baselines/test_target_audit.py
  tests/unit/tour_baselines/test_tour_events.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(tour-baselines): audit tour targets, marker semantics, events and provenance (TB-01 #10586)
  AGENT_HANDOFF.md
  SPEC.md
  data/tour_baselines/driver_target_audit.json
  data/tour_baselines/iron_target_audit.json
  docs/development/DEVELOPMENT_LOG.md
  docs/plans/tour_baselines/README.md
  docs/plans/tour_baselines/target_audit.md
  src/shared/python/tour_baselines/__init__.py
  src/shared/python/tour_baselines/audit.py
  src/shared/python/tour_baselines/audit_models.py
  tests/unit/tour_baselines/test_target_audit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon
