Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

docs: point NM-06 SPEC/handoff at PR #10709
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

chore: refresh divergence inventory after CO-08 merge
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

fix(shared_tools): register MS-104 module in divergence inventory
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

feat(motion_matching): CO-09 integrate club-only matching into UI and results
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/plans/club_only_matching/TURNOVER.md
  docs/plans/club_only_matching/evidence/club_ui_integration.json
  src/config/feature_parity.json
  src/shared/python/motion_matching/club_only/__init__.py
  src/shared/python/motion_matching/club_only/ui_integration.py
  src/shared/python/workspace/results_browser.py
  src/tools/motion_matching/gui.py
  src/tools/motion_matching/pipeline.py
  tests/unit/motion_matching/test_club_ui_integration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(neural_motion): add NM-06 masked proposals package (#10621)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/plans/neural_motion_matching/masked_proposals.md
  src/shared/python/neural_motion/proposals/__init__.py
  src/shared/python/neural_motion/proposals/checkpoint.py
  src/shared/python/neural_motion/proposals/model.py
  src/shared/python/neural_motion/proposals/refine.py
  src/shared/python/neural_motion/proposals/train.py
  src/shared/python/neural_motion/proposals/types.py
  tests/unit/neural_motion/test_masked_proposals_nm06.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion_matching): MS-105 reliable jobs, recovery and portable results (#10704)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/plans/matched_swing/evidence/ms105_jobs_recovery.json
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/jobs/__init__.py
  src/shared/python/motion_matching/jobs/benchmarks.py
  src/shared/python/motion_matching/jobs/checkpoint.py
  src/shared/python/motion_matching/jobs/contracts.py
  src/shared/python/motion_matching/jobs/io_atomic.py
  src/shared/python/motion_matching/jobs/portable.py
  src/shared/python/motion_matching/jobs/process_guard.py
  src/shared/python/motion_matching/jobs/recovery.py
  src/shared/python/motion_matching/jobs/service.py
  tests/unit/motion_matching/jobs/test_matching_jobs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(motion_matching): CO-09 mypy-safe catalog checks and fixture call
  src/shared/python/motion_matching/club_only/ui_integration.py
  src/tools/motion_matching/gui.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: record CO-09 PR #10711 in SPEC handoff and development log
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

fix(neural_motion): satisfy mypy on optional torch in NM-06 proposals (#10621)
  src/shared/python/neural_motion/proposals/model.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): refresh capability atlas and launcher-atlas review for CO-09
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/architecture/CAPABILITY_ATLAS.md
  docs/development/feature_parity_matrix.md
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: none

fix(neural_motion): split NM-06 trainers under architecture budgets (#10621)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/shared/python/motion_matching/inverse/proposal_training.py
  src/shared/python/motion_matching/inverse/regressor_training.py
  src/shared/python/neural_motion/proposals/__init__.py
  src/shared/python/neural_motion/proposals/train.py
  src/shared/python/neural_motion/proposals/types.py
  tests/unit/motion_matching/test_inverse_regressor_training.py
  tests/unit/neural_motion/test_masked_proposals_nm06.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): route Pose Studio error border through tool_stylesheet (#10650)
  src/shared/python/theme/tool_stylesheet.py
  src/tools/pose_studio/widgets/joint_panel.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(neural_motion): clear NM-06 architecture and torch unit-gate (#10621)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/plans/neural_motion_matching/evidence/nm06_masked_proposals_receipt.json
  docs/plans/neural_motion_matching/masked_proposals.md
  src/shared/python/motion_matching/hybrid.py
  src/shared/python/motion_matching/inverse/__init__.py
  src/shared/python/motion_matching/inverse/regressor_training.py
  tests/unit/motion_matching/test_inverse_regressor_training.py
  tests/unit/motion_matching/test_masked_proposals_nm06.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(motion_matching): harden CO-09 UI path anchors and review gaps
  tests/tools/motion_matching/test_motion_matching_gui.py
Due: pytest-unit

fix(ci): sync monolith register and divergence inventory for CO-09
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/monolith_refactor_register.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

fix(ci): use real Qt assertions in joint_panel unit tests (#10650)
  tests/unit/tools/pose_studio/test_joint_panel.py
Due: pytest-unit

fix(ci): mark pose_studio joint_panel tests with suite markers (#10650)
  tests/unit/tools/pose_studio/test_joint_panel.py
Due: pytest-unit

fix(neural_motion): keep regressor under architecture budgets (#10621)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/shared/python/motion_matching/inverse/regressor_training.py
  tests/unit/motion_matching/test_inverse_regressor_training.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(motion_matching): harden CO-09 UI path anchors and review gaps
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/shared/python/motion_matching/club_only/__init__.py
  src/shared/python/motion_matching/club_only/ui_integration.py
  src/shared/python/workspace/results_browser.py
  src/tools/motion_matching/gui.py
  src/tools/tour_matching_viewer/__init__.py
  src/tools/tour_matching_viewer/core.py
  tests/unit/motion_matching/test_club_ui_integration.py
  tests/unit/tools/test_tour_matching_viewer_core.py
  tests/unit/workspace/test_results_browser.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion_matching): CO-09 integrate club-only matching into UI and results (#10711)
  AGENT_HANDOFF.md
  SPEC.md
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/architecture/CAPABILITY_ATLAS.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/feature_parity_matrix.md
  docs/development/monolith_refactor_register.md
  docs/plans/club_only_matching/TURNOVER.md
  docs/plans/club_only_matching/evidence/club_ui_integration.json
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/config/feature_parity.json
  src/shared/python/motion_matching/club_only/__init__.py
  src/shared/python/motion_matching/club_only/ui_integration.py
  src/shared/python/workspace/results_browser.py
  src/tools/motion_matching/gui.py
  src/tools/motion_matching/pipeline.py
  tests/tools/motion_matching/test_motion_matching_gui.py
  tests/unit/motion_matching/test_club_ui_integration.py
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): relax radian spinbox precision assertion (#10650)
  tests/unit/tools/pose_studio/test_joint_panel.py
Due: pytest-unit

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
