Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

Harden safety/realtime layer + dedup club-target adapter (#7740)
  CHANGELOG.md
  src/deployment/realtime/controller.py
  src/deployment/safety/monitor.py
  src/engines/physics_engines/pinocchio/python/motion_matching/club_target_adapter.py
  tests/deployment/test_realtime.py
  tests/deployment/test_safety.py
  tests/deployment/wave5_deployment/test_safety.py
  tests/test_pinocchio_club_target_adapter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Harden safety/realtime layer + dedup club-target adapter (#7740) (#7818)
  CHANGELOG.md
  src/deployment/realtime/controller.py
  src/deployment/safety/monitor.py
  src/engines/physics_engines/pinocchio/python/motion_matching/club_target_adapter.py
  tests/deployment/test_realtime.py
  tests/deployment/test_safety.py
  tests/deployment/wave5_deployment/test_safety.py
  tests/test_pinocchio_club_target_adapter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Fix grip-modelling contact pipeline P2 findings (#7740)
  CHANGELOG.md
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/grip_modelling_tab.py
  tests/unit/engines/physics_engines/mujoco/mujoco_humanoid_golf/test_grip_contact_extraction.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Tighten feature-parity loader + reconcile stale issue refs (#7740)
  CHANGELOG.md
  docs/development/feature_parity_matrix.md
  src/config/feature_parity.json
  src/config/feature_parity_loader.py
  tests/config/feature_parity/test_registry.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

Fix grip-modelling contact pipeline P2 findings (#7740) (#7819)
  CHANGELOG.md
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/grip_modelling_tab.py
  tests/unit/engines/physics_engines/mujoco/mujoco_humanoid_golf/test_grip_contact_extraction.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Tighten feature-parity loader + reconcile stale issue refs (#7740) (#7820)
  CHANGELOG.md
  docs/development/feature_parity_matrix.md
  src/config/feature_parity.json
  src/config/feature_parity_loader.py
  tests/config/feature_parity/test_registry.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

test: exercise production grip joint naming
  tests/unit/test_grip_modelling_synergies.py
Due: pytest-unit

Clear scattered deferred P2 findings from #7740
  CHANGELOG.md
  src/api/routes/chat_ws.py
  src/api/routes/force_overlays.py
  src/bunkershot3d/backends/mpm/driver.py
  src/engines/pendulum_models/python/double_pendulum_model/physics/_rk4.py
  src/engines/pendulum_models/python/double_pendulum_model/physics/double_pendulum.py
  src/engines/pendulum_models/python/double_pendulum_model/physics/triple_pendulum.py
  src/engines/physics_engines/drake/python/motion_matching/simulate.py
  src/engines/physics_engines/mujoco/python/motion_matching/simulate.py
  src/engines/physics_engines/mujoco/python/motion_matching/synthesize.py
  src/engines/physics_engines/pinocchio/python/motion_matching/simulate.py
  src/shared/python/analysis/orchestrator.py
  src/shared/python/chat/router_factory.py
  src/shared/python/motion_matching/output_time_grid.py
  src/shared/python/signal_toolkit/series.py
  src/shared/python/training/scheduler.py
  src/tools/starting_pose_matcher/_gui_common.py
  src/tools/starting_pose_matcher/gui_session_mixin.py
  src/tools/training_controller/controller.py
  tests/integration/realtime/test_pose_studio_demo.py
  tests/learning/test_imitation.py
  tests/motion_matching/mujoco_mjcf/test_synthesize.py
  tests/tools/starting_pose_matcher/test_labelled_control.py
  tests/unit/motion_matching/test_output_time_grid.py
  tests/unit/shared_python/test_analysis_orchestrator.py
  tests/unit/test_grip_modelling_synergies.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

test: cover AuthCache ttl expiry and fifo eviction
  tests/unit/api/test_security.py
Due: pytest-unit

Guard URDF model route parsing
  src/api/routes/models.py
  tests/unit/api/test_routes_models.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Seed imitation learning RNG tests
  tests/learning/test_imitation.py
Due: pytest-unit

Clear scattered deferred P2 findings from #7740 (#7823)
  CHANGELOG.md
  src/api/routes/chat_ws.py
  src/api/routes/force_overlays.py
  src/bunkershot3d/backends/mpm/driver.py
  src/engines/pendulum_models/python/double_pendulum_model/physics/_rk4.py
  src/engines/pendulum_models/python/double_pendulum_model/physics/double_pendulum.py
  src/engines/pendulum_models/python/double_pendulum_model/physics/triple_pendulum.py
  src/engines/physics_engines/drake/python/motion_matching/simulate.py
  src/engines/physics_engines/mujoco/python/motion_matching/simulate.py
  src/engines/physics_engines/mujoco/python/motion_matching/synthesize.py
  src/engines/physics_engines/pinocchio/python/motion_matching/simulate.py
  src/shared/python/analysis/orchestrator.py
  src/shared/python/chat/router_factory.py
  src/shared/python/motion_matching/output_time_grid.py
  src/shared/python/signal_toolkit/series.py
  src/shared/python/training/scheduler.py
  src/tools/starting_pose_matcher/_gui_common.py
  src/tools/starting_pose_matcher/gui_session_mixin.py
  src/tools/training_controller/controller.py
  tests/integration/realtime/test_pose_studio_demo.py
  tests/learning/test_imitation.py
  tests/motion_matching/mujoco_mjcf/test_synthesize.py
  tests/tools/starting_pose_matcher/test_labelled_control.py
  tests/unit/motion_matching/test_output_time_grid.py
  tests/unit/shared_python/test_analysis_orchestrator.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

⚡ Bolt: Optimize L2 Norm calculation (#7822)
  .jules/bolt.md
  src/shared/python/pendulum_simulator/pendulum_perturbation_analyzer.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test: close remaining #7740 realtime and time-grid gaps
  src/deployment/realtime/controller.py
  tests/deployment/wave5_deployment/test_controller.py
  tests/unit/motion_matching/test_output_time_grid.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: [performance improvement] (#7828)
  .jules/bolt.md
  SPEC.md
  scripts/config/architecture_budget.json
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/MachineLearning/evaluate_matching_workflow.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: [performance improvement] Replace np.sum(..., axis=1) with np.einsum('ij->i', ...) for fast sum reduction (#7830)
  .jules/bolt.md
  SPEC.md
  src/shared/python/data_io/swing_capture_import.py
  src/shared/python/movement_optimizer/comparison.py
  src/shared/python/movement_optimizer/gui/optimization_mixin.py
  src/shared/python/movement_optimizer/gui/plot_renderer.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

🛡️ Sentinel: [CRITICAL] Fix API key timing attack vulnerability (#7946)
  .github/workflows/anti-phantom-merge.yml
  .github/workflows/ci-optional-stack.yml
  .jules/sentinel.md
  SPEC.md
  src/shared/python/model_generation/api/rest_api.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(contracts): validate DbC exception arguments; unblock unit-test-gate (#8037)
  src/shared/python/_contracts_exceptions.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: correct SPEC.md run/config surface, coverage floor, and test markers
  SPEC.md
  docs/operations/production-readiness.md
  pyproject.toml
Due: none

fix(mujoco): correct six biomechanics/power-flow physics defects
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/biomechanics.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/physics_engine.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/power_flow.py
  tests/integration/test_physics_engines_strict.py
  tests/unit/engines/mujoco/test_biomechanics.py
  tests/unit/engines/mujoco/test_power_flow.py
  tests/unit/test_mujoco_physics_engine.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: repair all 67 broken internal Markdown links under docs/
  docs/README.md
  docs/api/API_ARCHITECTURE.md
  docs/architecture/URDF_SUBSYSTEM_BOUNDARY.md
  docs/architecture/biomech_workspace.md
  docs/architecture/system_overview.md
  docs/development/DRY_ORTHOGONALITY_REFACTORING.md
  docs/development/GITHUB_ISSUES_TRACKING.md
  docs/development/agent_templates/README.md
  docs/development/prs/README.md
  docs/development/wsl_setup.md
  docs/engines/engine_selection_matrix.md
  docs/governance/SUBSYSTEM_STATUS.md
  docs/help/analysis_tools.md
  docs/help/engine_selection.md
  docs/help/motion_capture.md
  docs/help/simulation_controls.md
  docs/help/visualization.md
  docs/legal/patents/PATENT_REVIEW.md
  docs/legal/patents/patent_alerts_2026-02-18.md
  docs/motion_pipeline/README.md
  docs/plans/README.md
  docs/technical/README.md
  docs/testing/COVERAGE_RECOVERY_PLAN.md
  docs/testing/e2e_swing_analysis.md
  docs/troubleshooting/FAQ.md
  docs/tutorials/content/01_getting_started.md
  docs/tutorials/content/02_first_simulation.md
  docs/tutorials/content/03_engine_comparison.md
  docs/tutorials/content/04_video_analysis.md
  docs/user_guide/anthropometrics/quickstart.md
  docs/user_guide/launcher/cross_tool_demo.md
  docs/user_guide/launcher/embedded_view.md
  docs/user_guide/pose_studio/quickstart.md
  docs/user_guide/user_manual.md
Due: none

fix(robotics): correct signed-distance narrow phase for convex primitives
  src/robotics/planning/collision/_convex_distance.py
  src/robotics/planning/collision/_distance_queries.py
  src/robotics/planning/collision/_primitive_shapes.py
  src/robotics/planning/collision/_primitives_base.py
  tests/robotics/wave6_robotics/test_distance_queries.py
  tests/unit/robotics/test_collision_narrow_phase.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs: fix getting-started/engine docs for the src/ layout and correct the capability matrix
  docs/engines/README.md
  docs/engines/drake.md
  docs/engines/engine_capabilities.md
  docs/engines/engine_selection_guide.md
  docs/engines/matlab.md
  docs/engines/mujoco.md
  docs/engines/myosim.md
  docs/engines/opensim.md
  docs/engines/pendulum.md
  docs/engines/pinocchio.md
  docs/engines/simscape.md
  docs/user_guide/configuration.md
  docs/user_guide/getting_started.md
  docs/user_guide/interactive_pose_manipulation.md
Due: none

fix: correct verify_installation path in docs and make the script pass on a healthy install
  README.md
  docs/troubleshooting/installation.md
  docs/tutorials/content/01_getting_started.md
  docs/user_guide/upstream_drift_user_manual.md
  scripts/ci/verify_installation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(launcher): stop Edit Layout Mode aborting the app; deliver console output
  src/launchers/launcher_ui_setup.py
  src/launchers/settings_dialog.py
  src/launchers/upstream_drift_launcher.py
  tests/launchers/test_golf_launcher.py
  tests/launchers/test_launcher_dialogs.py
  tests/launchers/test_launcher_ui_setup.py
  tests/launchers/test_settings_dialog.py
  tests/unit/launchers/test_launcher_menu_and_console.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(robotics): stop reporting success for violated constraints (QP, grasp, ZMP)
  src/robotics/contact/grasp_analysis.py
  src/robotics/control/whole_body/qp_solver.py
  src/robotics/locomotion/zmp_computer.py
  tests/unit/robotics/test_constraint_integrity_regressions.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(launcher): make dead tiles launchable (Pinocchio/OpenSim/MyoSuite, Project Map, Movement Optimizer, PINN)
  src/config/models.yaml
  src/launchers/launcher_model_handlers.py
  src/launchers/launcher_simulation.py
  src/shared/python/config/model_source_providers.py
  tests/unit/launchers/test_dead_tile_resolution.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Fix wheel packaging and core dependency declarations
  Dockerfile
  build_hooks.py
  pyproject.toml
  requirements.lock
  src/shared/python/validation_pkg/comparative_plotting.py
  tests/smoke/python_wheel/test_wheel_artifact.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(mujoco): correct RNE inverse dynamics, task-space induced acceleration, and manifold-aware IK
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_id_core.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_kfa_analysis.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_kfa_core.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_kfa_effective_mass.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_kfa_forces.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_kinematic_force_data.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_mocap_retargeting.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/advanced_kinematics.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/kinematic_forces.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/rigid_body_dynamics/induced_acceleration.py
  tests/unit/engines/physics_engines/mujoco/mujoco_humanoid_golf/rigid_body_dynamics/test_induced_acceleration.py
  tests/unit/engines/physics_engines/mujoco/mujoco_humanoid_golf/test_effective_mass_solve.py
  tests/unit/engines/physics_engines/mujoco/mujoco_humanoid_golf/test_mujoco_dynamics_ground_truth.py
  tests/unit/test_kinematic_forces_split_2456.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(api): auth, quota, env-gate, JSON-RPC and background-task defects
  docs/operations/database.md
  src/api/aip/dispatcher.py
  src/api/auth/dependencies.py
  src/api/database.py
  src/api/debug_guard.py
  src/api/route_registry.py
  src/api/routes/aip.py
  src/api/routes/capabilities.py
  src/api/services/simulation_service.py
  src/shared/python/config/environment.py
  tests/unit/api/test_production_env_var_unification_7994.py
  tests/unit/api/test_quota_enforcement_wiring_7969.py
  tests/unit/api/test_routes_aip.py
  tests/unit/api/test_simulation_service_async.py
  tests/unit/api_security/test_capabilities_install_auth_7987.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(launcher): resolve Help/Quick-Help docs to real files; de-duplicate the Theme menu
  src/launchers/about_dialog.py
  src/launchers/help_dialogs.py
  src/launchers/launcher_dialogs.py
  src/launchers/launcher_theme.py
  src/shared/python/gui_pkg/help_content.py
  tests/launchers/test_help_dialogs.py
  tests/launchers/wave8_dialogs/test_about_dialog_logic.py
  tests/unit/launchers/test_dbc_dry_contracts.py
  tests/unit/launchers/test_help_paths_and_theme_menu.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(api,ui): un-shadow routes, add dataset control endpoint, real type-check gate
  src/api/local_server.py
  src/api/route_registry.py
  src/api/routes/dataset.py
  src/api/routes/physics.py
  tests/api/test_physics_api.py
  tests/unit/api/test_local_server_route_parity.py
  tests/unit/api/test_route_uniqueness.py
  tests/unit/api/test_routes_dataset.py
  tests/unit/api/test_routes_physics.py
  ui/package.json
  ui/src/api/generated/types.ts
  ui/src/api/useDatasetGenerator.test.ts
  ui/src/api/useDatasetGenerator.ts
  ui/src/test/typecheck-gate.test.ts
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

fix(config): point the manifest's project_map tile at the real document
  src/config/launcher_manifest.json
Due: none

fix(bunkershot3d,research,unreal): stop presenting fabricated physics as measurement
  src/bunkershot3d/calibration/angle_of_repose.py
  src/bunkershot3d/calibration/calibrate_all.py
  src/bunkershot3d/calibration/configs/README.md
  src/bunkershot3d/calibration/configs/sand_chrono.yaml
  src/bunkershot3d/calibration/configs/sand_liggghts.yaml
  src/bunkershot3d/calibration/configs/sand_mpm.yaml
  src/bunkershot3d/calibration/drained_shear_cell.py
  src/bunkershot3d/calibration/optimizer.py
  src/research/differentiable/engine.py
  src/unreal_integration/mesh_loader.py
  tests/bunkershot3d/test_calibration.py
  tests/bunkershot3d/test_calibration_honesty_7999.py
  tests/bunkershot3d/test_optimizer.py
  tests/bunkershot3d/wave7_bunkershot3d/test_calibrate_all.py
  tests/bunkershot3d/wave7_bunkershot3d/test_edge_cases.py
  tests/research/test_differentiable_contact_smoothing_8019.py
  tests/research/wave6_research/test_differentiable.py
  tests/unit/test_unreal_integration/test_mesh_loader.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(tests): restore test-suite integrity — package collision, hidden tests, architecture gates, vacuous tests, teleoperation
  scripts/demo_surrogate_match.py
  src/deployment/teleoperation/devices.py
  src/tools/offline_validation/__init__.py
  src/tools/offline_validation/nimble_gradient_oracle.py
  tests/architecture/test_architecture_dbc.py
  tests/architecture/test_dependency_direction.py
  tests/conftest.py
  tests/deployment/wave5_deployment/test_teleoperation.py
  tests/heavy_integration/test_pyvista_vtk_integration.py
  tests/integration/test_engine_integration.py
  tests/ui/__init__.py
  tests/unit/ai/gui/test_assistant_submodules.py
  tests/unit/api/test_routes_dataset.py
  tests/unit/repo_hygiene/test_no_duplicate_toplevel_packages.py
  tests/unit/test_c3d_export_features.py
  tests/unit/test_lazy_imports.py
  tests/unit/test_optional_collection_rules.py
  tests/unit/test_security_and_module_fixes.py
  tests/unit/test_setup_golf_suite.py
  tests/unit/test_start_api_server.py
  tests/unit/test_unreal_integration/test_mesh_loader.py
  tools/__init__.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(learning,rl): replace fabricated results with real computation or loud failure
  src/learning/imitation/_gail.py
  src/learning/retargeting/retargeter.py
  src/learning/sim2real/__init__.py
  src/learning/sim2real/system_identification.py
  src/reinforcement_learning/trajectory_funnel_benchmark.py
  tests/integration/test_system_identification_simscape.py
  tests/learning/test_gail_training_7973.py
  tests/learning/test_retargeting_ik_7980.py
  tests/learning/test_system_identification_honesty_8011.py
  tests/learning/wave6_learning/test_retargeting.py
  tests/reinforcement_learning/test_trajectory_funnel_agent_7983.py
  tests/reinforcement_learning/test_trajectory_funnel_benchmark.py
  tests/reinforcement_learning/wave6_rl/test_trajectory_funnel_benchmark_coverage.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(tests): green tests/tools, calibration/MPC/config red tests
  src/bunkershot3d/calibration/optimizer.py
  tests/bunkershot3d/wave7_bunkershot3d/test_edge_cases.py
  tests/research/wave6_research/test_mpc.py
  tests/tools/ball_flight_gui/test_ball_flight_gui.py
  tests/tools/bunker_shot_gui/test_gui.py
  tests/tools/putting_green_gui/test_putting_green_gui.py
  tests/tools/swing_flight_pipeline/test_gui.py
  tests/wave10_assets_config/test_config_package_init.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

⚡ Bolt: Use inlier_mask.sum() in marker registration (#7893)
  src/shared/python/data_io/marker_mapping.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
