Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

fix(ci): resolve typing, LOD, arch-budget and registry gates after main merge
  docs/development/ORG01_CAPABILITY_BASELINE.md
  docs/shared_tools/divergence_inventory.v1.json
  reports/matched_swing_ledger.json
  src/config/capability_migration.json
  src/shared/python/video_timing/frame_schedule.py
  src/tools/native_viewer_export/core.py
  tests/companion/test_companion_catalog.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): resolve typing, LOD, arch-budget and registry gates after main merge
  docs/shared_tools/divergence_inventory.v1.json
  reports/matched_swing_ledger.json
  src/shared/python/impact_parameters/__init__.py
  src/shared/python/impact_parameters/extract.py
  tests/unit/impact_parameters/test_extract.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(lod): delegate bundle access in SwingInput
  src/tools/native_viewer_export/core.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(grf): report no GRF arrow when an in-contact reaction has no anchor (#11707)
  src/shared/python/biomechanics/ground_reaction.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion-matching): address foot progression toe-out option (OSV-4) (#11736)
  AGENT_HANDOFF.md
  changes/11730-osv-4-address-foot-progression-toe-out-m.md
  docs/development/full_body_models/DESIGN_DECISIONS.md
  docs/development/full_body_models/evidence/foot_progression/capture_report.json
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  reports/matched_swing_ledger.json
  scripts/foot_progression_report.py
  scripts/render_foot_progression_engine_diagrams.py
  scripts/render_foot_progression_stills.py
  src/engines/physics_engines/opensim/python/tour_matching/address.py
  src/engines/physics_engines/opensim/python/tour_matching/address_feet.py
  src/shared/python/motion_matching/foot_progression.py
  src/shared/python/motion_matching/pipeline/address.py
  src/shared/python/motion_matching/pipeline/address_feet.py
  src/shared/python/motion_matching/pipeline/cli.py
  src/shared/python/motion_matching/pipeline/constants.py
  src/shared/python/motion_matching/pipeline/design_decisions.py
  src/shared/python/motion_matching/pipeline/lane.py
  tests/opensim/test_golf_address.py
  tests/unit/motion_matching/pipeline/test_address_feet.py
  tests/unit/motion_matching/pipeline/test_design_decisions.py
  tests/unit/motion_matching/test_foot_progression.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(biomechanics): per-hand grip wrench extraction in MuJoCo, MyoSuite, Drake and Pinocchio (GCV-8, #11714)
  AGENT_HANDOFF.md
  changes/11714-gcv-8-per-hand-grip-wrench-extraction-fo.md
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/development/feature_parity_matrix.md
  src/config/feature_parity.json
  src/engines/physics_engines/drake/python/full_body_model.py
  src/engines/physics_engines/mujoco/python/full_body_model.py
  src/engines/physics_engines/mujoco/python/grip_efc.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/force_torque_source.py
  src/engines/physics_engines/mujoco/python/native_model.py
  src/engines/physics_engines/opensim/python/opensim_force_torque.py
  src/engines/physics_engines/pinocchio/python/pinocchio_force_torque.py
  src/shared/python/biomechanics/grip_extraction.py
  tests/unit/biomechanics/test_grip_extraction.py
  tests/unit/engines/mujoco/test_force_torque_source.py
  tests/unit/engines/mujoco/test_grip_efc.py
  tests/unit/engines/myosuite/test_grip_wrench_myosuite.py
  tests/unit/engines/opensim/test_opensim_force_torque.py
  tests/unit/engines/pinocchio/test_pinocchio_force_torque.py
  tests/unit/motion_matching/test_full_body_grip_wrench.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: scrub capture-system identifiers per private data policy
  AGENT_HANDOFF.md
  changes/11753-scrub-capture-system-identifiers.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/archive/HANDOFF_ARCHIVE_2026.md
  docs/research/simscape_matching_reference/README.md
  docs/research/simscape_matching_reference/observation_export_contract_checkpoint_20261003.json
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
  docs/research/simscape_matching_reference/tangent_c2_checkpoint_20261003.json
  manuals/upstreamdrift/calculation-registry.json
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_observation_identity.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_match_export.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_observation_identity.m
Due: none

chore: regenerate divergence inventory
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

docs: record filename redaction against unchanged media hashes
  docs/research/simscape_matching_reference/tangent_c2_checkpoint_20261003.json
Due: none

feat(gaze): eye point, gaze error, schedule, metrics, neck IK and shared ball placement (OSV-3 #11729)
  src/shared/python/model_appearance/ball.py
  src/shared/python/motion_matching/gaze.py
  tests/unit/model_appearance/test_ball.py
  tests/unit/motion_matching/test_gaze.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(handoff): restore AGENT_HANDOFF.md from main and add this PR's section
  AGENT_HANDOFF.md
Due: none

feat(pipeline): soft head-gaze residual, --gaze-weight and receipt block (OSV-3 #11729)
  src/shared/python/motion_matching/pipeline/cli.py
  src/shared/python/motion_matching/pipeline/gaze_residual.py
  src/shared/python/motion_matching/pipeline/lane.py
  src/shared/python/motion_matching/pipeline/reference.py
  tests/unit/motion_matching/pipeline/test_gaze_residual.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(gaze): face normal from impact path, render script, change fragment (OSV-3 #11729)
  changes/11729-osv-3-head-gaze-stabilisation-gaze-modul.md
  scripts/render_head_gaze_clips.py
  src/shared/python/motion_matching/pipeline/cli.py
  src/shared/python/motion_matching/pipeline/gaze_residual.py
  tests/unit/model_appearance/test_ball.py
  tests/unit/motion_matching/pipeline/test_gaze_residual.py
  tests/unit/motion_matching/test_gaze.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(appearance): square the clubface at address with one shared head roll about the shaft (#11755)
  AGENT_HANDOFF.md
  changes/11755-square-the-clubface-at-address-in-every.md
  src/engines/physics_engines/opensim/models/geometry/club/club_driver_head.stl
  src/engines/physics_engines/opensim/models/geometry/club/club_iron7_head.stl
  src/engines/physics_engines/opensim/models/geometry/club/provenance.json
  src/engines/physics_engines/opensim/python/club_visuals.py
  src/shared/python/model_appearance/club_assembly.py
  src/shared/python/model_appearance/club_face.py
  src/shared/python/model_appearance/club_head_mesh.py
  tests/fixtures/club_face/address_poses.json
  tests/unit/model_appearance/test_clubface_square_at_address.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: scrub capture-system identifiers per private data policy (#11754)
  AGENT_HANDOFF.md
  changes/11753-scrub-capture-system-identifiers.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/archive/HANDOFF_ARCHIVE_2026.md
  docs/research/simscape_matching_reference/README.md
  docs/research/simscape_matching_reference/observation_export_contract_checkpoint_20261003.json
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
  docs/research/simscape_matching_reference/tangent_c2_checkpoint_20261003.json
  manuals/upstreamdrift/calculation-registry.json
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_observation_identity.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_match_export.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_observation_identity.m
Due: none

chore: regenerate derived indexes after merging main
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/architecture/CAPABILITY_ATLAS.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  reports/matched_swing_ledger.json
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: none

docs(handoff): title-case the OSV-8 section heading
  AGENT_HANDOFF.md
Due: none

feat(appearance): checked impact frame for the clubface angle; measure face at true impact (#11755)
  AGENT_HANDOFF.md
  src/shared/python/model_appearance/club_face.py
  src/shared/python/model_appearance/club_head_mesh.py
  tests/fixtures/club_face/swing_q_driver.npz
  tests/fixtures/club_face/swing_q_iron7.npz
  tests/unit/model_appearance/test_clubface_square_at_address.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: regenerate divergence inventory for GCV-12
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

fix(appearance): cap shoulder and hip blend balls at the limb radius
  AGENT_HANDOFF.md
  docs/shared_tools/divergence_inventory.v1.json
  src/engines/physics_engines/mujoco/python/appearance_layer.py
  src/shared/python/model_appearance/library.py
  tests/unit/motion_matching/test_mujoco_head_visual.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(appearance): visible parametric head, face and neck with gaze channel (GCV-12)
  AGENT_HANDOFF.md
  changes/11718-gcv-12-visible-parametric-head-face-and.md
  docs/agent_context/reviews.json
  docs/agents/shared-infrastructure.md
  docs/architecture/CAPABILITY_ATLAS.md
  docs/development/feature_parity_matrix.md
  scripts/render_head_visuals.py
  src/config/feature_parity.json
  src/engines/physics_engines/mujoco/python/appearance_layer.py
  src/engines/physics_engines/mujoco/python/full_body_mjcf.py
  src/engines/physics_engines/mujoco/python/head_visual.py
  src/engines/physics_engines/mujoco/python/visual_layer.py
  src/shared/python/model_appearance/__init__.py
  src/shared/python/model_appearance/appearance_v1.schema.json
  src/shared/python/model_appearance/geometry.py
  src/shared/python/model_appearance/head.py
  src/shared/python/model_appearance/library.py
  src/shared/python/model_appearance/schema.py
  src/tools/native_viewer_export/backends/_head.py
  src/tools/native_viewer_export/backends/drake_meshcat.py
  src/tools/native_viewer_export/backends/myosuite_worker.py
  src/tools/native_viewer_export/backends/opensim_worker.py
  src/tools/native_viewer_export/backends/pinocchio_meshcat.py
  tests/unit/model_appearance/test_head_model.py
  tests/unit/motion_matching/test_mujoco_head_visual.py
  tests/unit/tools/native_viewer_export/test_head_meshes.py
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(matching): club-face orientation residual targets from the capture head triad (#11759)
  src/shared/python/model_appearance/club_assembly.py
  src/shared/python/model_appearance/club_head_mesh.py
  src/shared/python/motion_matching/club_face_target.py
  tests/unit/motion_matching/test_club_face_target.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(matching): wire the face-orientation residual into the shared trajectory and consistency IK (#11759)
  src/shared/python/model_appearance/club_face.py
  src/shared/python/motion_matching/club_face_target.py
  src/shared/python/motion_matching/pipeline/cli.py
  src/shared/python/motion_matching/pipeline/lane.py
  src/shared/python/motion_matching/pipeline/reference.py
  tests/unit/model_appearance/test_clubface_square_at_address.py
  tests/unit/motion_matching/pipeline/test_face_orientation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(matching): keep the face residual in the ZMP-filter and shooting re-solves (#11759)
  src/shared/python/motion_matching/pipeline/dynamics.py
  tests/unit/motion_matching/pipeline/test_face_orientation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(matching): face-orientation weight 3 from the sweep; shared face events and fixture regeneration script (#11759)
  scripts/regenerate_club_face_fixtures.py
  src/shared/python/model_appearance/club_face.py
  src/shared/python/motion_matching/club_face_target.py
  tests/unit/model_appearance/test_clubface_square_at_address.py
  tests/unit/motion_matching/test_club_face_target.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: regenerate capability atlas after merge
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: none

chore: regenerate derived indexes after merging main
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/shared_tools/divergence_inventory.v1.json
  reports/matched_swing_ledger.json
Due: none

feat(video): time-based FrameSchedule and 60 fps full/half-speed native export (GCV-14) (#11734)
  AGENT_HANDOFF.md
  changes/11720-gcv-14-time-based-frameschedule-video-ti.md
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/architecture/CAPABILITY_ATLAS.md
  docs/development/ORG01_CAPABILITY_BASELINE.md
  docs/development/feature_parity_matrix.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  docs/user_guide/native_viewer_export.md
  reports/matched_swing_ledger.json
  src/config/capability_migration.json
  src/config/feature_parity.json
  src/shared/python/motion_matching/export.py
  src/shared/python/myofullbody/render.py
  src/shared/python/video_timing/__init__.py
  src/shared/python/video_timing/frame_schedule.py
  src/tools/native_viewer_export/README.md
  src/tools/native_viewer_export/cli.py
  src/tools/native_viewer_export/compositor.py
  src/tools/native_viewer_export/core.py
  src/tools/native_viewer_export/runner.py
  tests/companion/test_companion_catalog.py
  tests/unit/motion_matching/test_export.py
  tests/unit/shared/video_timing/test_frame_schedule.py
  tests/unit/tools/native_viewer_export/test_core.py
  tests/unit/tools/native_viewer_export/test_runner_cli.py
  tests/unit/tools/native_viewer_export/test_speed_variants.py
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: re-render agent-context views
  docs/agent_context/README.md
  docs/agent_context/index.html
Due: none

fix(ci): list ADR-0052 addendum in ADR index; avoid Array.at in overlay test
  docs/adr/README.md
  ui/src/components/visualization/ForceOverlayPanel.test.tsx
Due: no-debugger

docs(handoff): title-case V2 heading
  AGENT_HANDOFF.md
Due: none

fix(ci): dedupe face-patch and mesh-visual helpers, type fixes, re-record launcher-atlas review
  docs/agent_context/reviews.json
  src/engines/physics_engines/mujoco/python/appearance_layer.py
  src/engines/physics_engines/opensim/python/club_visuals.py
  src/shared/python/model_appearance/club_head_mesh.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): keep holding_hand_wrench within the 8-parameter architecture budget
  src/shared/python/biomechanics/grip_extraction.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(gaze): address-calibrated gaze axis, unavailable receipt, reference, sweep evidence, handoff (OSV-3 #11729)
  AGENT_HANDOFF.md
  docs/development/full_body_models/HEAD_GAZE_REFERENCE.md
  docs/development/full_body_models/evidence/head_gaze/sweep_driver.json
  docs/development/full_body_models/head_gaze_reference.tex
  scripts/render_head_gaze_clips.py
  src/shared/python/motion_matching/gaze.py
  src/shared/python/motion_matching/pipeline/gaze_residual.py
  src/shared/python/motion_matching/pipeline/lane.py
  tests/unit/motion_matching/pipeline/test_gaze_residual.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: regenerate divergence inventory for gaze modules (OSV-3 #11729)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

feat(grip): add engine-agnostic grip interface and OpenSim bushing grip model (#11739)
  changes/11739-osv7-bushing-grip.md
  src/engines/physics_engines/opensim/python/full_body_grip_topology.py
  src/engines/physics_engines/opensim/python/full_body_osim.py
  src/engines/physics_engines/opensim/python/grip_bushing_sim.py
  src/shared/python/biomechanics/grip_wrench.py
  src/shared/python/grip_contact/__init__.py
  src/shared/python/grip_contact/interface.py
  src/shared/python/grip_contact/parameters.py
  tests/unit/biomechanics/test_grip_wrench.py
  tests/unit/grip_contact/test_grip_contact.py
  tests/unit/motion_matching/test_full_body_osim_grip_models.py
  tests/unit/motion_matching/test_grip_bushing_opensim.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(grip): bushing grip model reference, evidence receipt, handoff (#11739)
  AGENT_HANDOFF.md
  docs/development/full_body_models/DESIGN_DECISIONS.md
  docs/development/full_body_models/evidence/grip_kinetics/driver_bushing_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/receipt.json
  docs/development/full_body_models/evidence/grip_kinetics/run_grip_kinetics.py
  docs/development/matched_swing_program/README.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  reports/matched_swing_ledger.json
  tests/unit/motion_matching/test_grip_bushing_opensim.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit
