Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

docs: clarify takeover checkpoint
  AGENT_HANDOFF.md
Due: none

docs: link ground qualification PR
  AGENT_HANDOFF.md
Due: none

fix(bunkershot3d): withdraw dig/skid from quotable status and make ball-speed transfer depend on the lie (#8714)
  .jules/bolt.md
  SPEC.md
  src/bunkershot3d/ball/splash.py
  src/bunkershot3d/metrics/__init__.py
  src/bunkershot3d/metrics/divot.py
  src/bunkershot3d/metrics/energy.py
  src/bunkershot3d/metrics/loads.py
  src/bunkershot3d/study/surrogate.py
  src/tools/bunker_shot_gui/model.py
  src/tools/bunker_shot_gui/report.py
  tests/bunkershot3d/ball/test_lie_dependent_transfer.py
  tests/bunkershot3d/ball/test_splash_transfer.py
  tests/bunkershot3d/metrics/test_dig_skid_calibration.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(deps): declare the tornado security floor in pyproject.toml (#8693)
  pyproject.toml
Due: none

test(bunkershot3d): pin the per-element sole load field before it exists
  tests/unit/tools/bunker_shot_gui/test_sole_load_field.py
Due: pytest-unit

docs(adr): record measured evidence for the BunkerShot3D sand-field tier (#8709)
  docs/adr/0033-bunkershot3d-sand-field-tier.md
Due: none

docs(adr): decide F1 2-D plane-strain MPM as the sand-field tier (#8709)
  docs/adr/0033-bunkershot3d-sand-field-tier.md
Due: none

docs(adr): state plainly that the epic's premise does not hold (#8709)
  docs/adr/0033-bunkershot3d-sand-field-tier.md
Due: none

feat(bunkershot3d): resolve the sole load per element and per sample
  src/tools/bunker_shot_gui/bridge.py
  src/tools/bunker_shot_gui/field.py
  src/tools/bunker_shot_gui/model.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(adr): index ADR-0033 and record the ADR-0032 amendment (#8709)
  docs/adr/README.md
Due: none

docs(spec): record the ADR-0033 sand-field tier decision (#8709)
  SPEC.md
Due: none

docs(adr): link the MuJoCo driver defects to #8726 (#8709)
  docs/adr/0033-bunkershot3d-sand-field-tier.md
Due: none

feat(bunkershot3d): draw the load field and the patch, stamped in the frame
  src/tools/bunker_shot_gui/render.py
  tests/unit/tools/bunker_shot_gui/test_sole_load_render.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(research): checkpoint normalized claim adjudication
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/CLAIM_AUDIT_SCHEMA.md
  docs/research/proximal_distal_energy_transfer/data/claim_adjudication_summary.csv
  docs/research/proximal_distal_energy_transfer/data/claim_adjudication_summary.json
  docs/research/proximal_distal_energy_transfer/data/claim_candidate_inventory.json
  scripts/research/proximal_distal_energy/claim_adjudication_summary.py
  scripts/research/proximal_distal_energy/claim_audit.py
  scripts/research/proximal_distal_energy/migrate_claim_adjudication_v2.py
  tests/unit/research/test_claim_adjudication_summary.py
  tests/unit/research/test_proximal_distal_claim_audit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(adr): add the F0 per-shot baseline to ADR-0033 (#8709)
  docs/adr/0033-bunkershot3d-sand-field-tier.md
Due: none

test(bunkershot3d): pin the animated sole-load view before it exists
  tests/tools/bunker_shot_gui/test_sole_load_view.py
Due: pytest-unit

docs(adr): ADR-0033 — choose F1 2-D plane-strain MPM as the sand-field tier (closes #8709) (#8727)
  SPEC.md
  docs/adr/0033-bunkershot3d-sand-field-tier.md
  docs/adr/README.md
Due: none

feat(bunkershot3d): animate the sole load field in the workbench
  src/tools/bunker_shot_gui/gui.py
  src/tools/bunker_shot_gui/widgets.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(bunkershot3d): pin the load-field and contact-patch report text
  tests/unit/tools/bunker_shot_gui/test_sole_field_report.py
Due: pytest-unit

feat(bunkershot3d): report the load field and the patch as numbers
  src/tools/bunker_shot_gui/report.py
  tests/unit/tools/bunker_shot_gui/test_sole_field_report.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(bunkershot3d): make the field panels legible at workbench size
  src/tools/bunker_shot_gui/render.py
  src/tools/bunker_shot_gui/widgets.py
  tests/unit/tools/bunker_shot_gui/test_no_fake_physics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): record the per-element sole load field and contact patch
  SPEC.md
Due: none

docs(bunkershot3d): list the two new headless modules in the package docstring
  src/tools/bunker_shot_gui/__init__.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(bunkershot3d): shorten four Law-of-Demeter chains flagged by quality-gate
  src/tools/bunker_shot_gui/gui.py
  src/tools/bunker_shot_gui/render.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): quote the sole load field at the shipped discretization
  SPEC.md
Due: none

perf(bunkershot3d): build the field axes once, update artists per frame
  src/tools/bunker_shot_gui/render.py
  src/tools/bunker_shot_gui/widgets.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(bunkershot3d): say what each DRFT term physically is in the report
  src/tools/bunker_shot_gui/report.py
  tests/unit/tools/bunker_shot_gui/test_sole_field_report.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

ci: route the required quality-gate check to hosted runners
  .github/workflows/ci-standard.yml
Due: none

fix(bunkershot3d): scope the camber-clamped flag so it cannot read False wrongly
  src/bunkershot3d/geometry/lofting.py
  src/tools/bunker_shot_gui/bridge.py
  src/tools/bunker_shot_gui/model.py
  src/tools/bunker_shot_gui/report.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(bunkershot3d): per-element sole load field and contact-patch evolution (#8705, #8707) (#8728)
  SPEC.md
  src/bunkershot3d/geometry/lofting.py
  src/tools/bunker_shot_gui/__init__.py
  src/tools/bunker_shot_gui/bridge.py
  src/tools/bunker_shot_gui/field.py
  src/tools/bunker_shot_gui/gui.py
  src/tools/bunker_shot_gui/model.py
  src/tools/bunker_shot_gui/render.py
  src/tools/bunker_shot_gui/report.py
  src/tools/bunker_shot_gui/widgets.py
  tests/tools/bunker_shot_gui/test_sole_load_view.py
  tests/unit/tools/bunker_shot_gui/test_no_fake_physics.py
  tests/unit/tools/bunker_shot_gui/test_sole_field_report.py
  tests/unit/tools/bunker_shot_gui/test_sole_load_field.py
  tests/unit/tools/bunker_shot_gui/test_sole_load_render.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

ci: route the required quality-gate check to hosted runners (#8729)
  .github/workflows/ci-standard.yml
Due: none

test(bunkershot3d): pin the camber-flag scope and the station-keyed caveat
  tests/bunkershot3d/geometry/test_wedge_camber_observability_8698.py
  tests/unit/tools/bunker_shot_gui/test_camber_reporting_8698.py
  tests/unit/tools/bunker_shot_gui/test_sole_field_report.py
Due: pytest-unit

docs(spec): record the camber-flag scope fix and correct the stale names
  SPEC.md
Due: none

fix(alembic): anchor script_location to %(here)s so migrations resolve under chdir
  alembic.ini
Due: none

fix(deps): restore the tornado pin dropped from both lock files in #8322
  requirements-dev.lock
  requirements.lock
Due: none

fix(bunkershot3d): land the test half of the camber-flag scope fix (#8728 follow-up) (#8730)
  SPEC.md
  tests/bunkershot3d/geometry/test_wedge_camber_observability_8698.py
  tests/unit/tools/bunker_shot_gui/test_camber_reporting_8698.py
  tests/unit/tools/bunker_shot_gui/test_sole_field_report.py
Due: pytest-unit

chore(mypy): renew exclusion budget re-attestation dates (#8731)
  scripts/config/mypy_exclusion_budget.json
Due: none

fix(ci): split the DRY duplication gate so new debt fails and old debt is tracked (#8695)
  scripts/ci/check_dry_duplication_gate.py
  scripts/config/dry_duplication_gate.json
  scripts/config/dry_duplication_quarantine.json
Due: no-wildcard-imports, no-debug-statements, pytest-unit
