Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

feat(model): validate Simscape axis conventions against GolfSwing3D_Kinetic logs; golfer-scapula/2.0 in Simscape frames (#9714)
  docs/motion_capture/TURNOVER.md
  docs/motion_capture/articulated_model.md
  docs/motion_capture/evidence/simscape_axes.json
  docs/motion_capture/evidence/simscape_axes.md
  src/motion_capture/reconstruct/model/compare.py
  src/motion_capture/reconstruct/model/fit.py
  src/motion_capture/reconstruct/model/golfer.py
  src/motion_capture/reconstruct/model/kinematics.py
  src/motion_capture/reconstruct/model/simscape.py
  src/motion_capture/rig/__main__.py
  tests/motion_capture/reconstruct/model/test_golfer.py
  tests/motion_capture/reconstruct/model/test_integration.py
  tests/motion_capture/reconstruct/model/test_kinematics_fit.py
  tests/motion_capture/reconstruct/model/test_simscape.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(spec): change-log row for #9754
  SPEC.md
Due: none

docs: bioptim OCP integration epic (#9762)
  docs/issues/EPIC_BIOPTIM_OCP_INTEGRATION.md
Due: none

fix(model): annotate the axis-aligned seed list for CI mypy
  src/motion_capture/reconstruct/model/simscape.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(spec): resolve retired path citations for check_spec_paths
  SPEC.md
Due: none

chore(budget): record temporary module size baseline for launch monitor analytics (#9470)
  scripts/config/module_size_budget_baseline.json
Due: none

refactor(mujoco): decompose the sim timer body and live kinematics overlays (#9492) (#9738)
  AGENT_HANDOFF.md
  SPEC.md
  scripts/config/architecture_budget.json
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/sim_rendering_mixin.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/sim_widget.py
  tests/unit/engines/physics_engines/mujoco/mujoco_humanoid_golf/test_sim_widget_timer_lifetime.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(model): bound the CLI compare-models/kinetics test under CI's 60 s per-test budget
  src/motion_capture/rig/__main__.py
  tests/motion_capture/reconstruct/model/test_integration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(optimization): anthropometric inertials and a real multiple-shooting transcription (#9755, #9756)
  src/shared/python/motion_pipeline/model_bridge.py
  src/shared/python/optimization/casadi_backend.py
  src/shared/python/optimization/crocoddyl_backend.py
  src/shared/python/optimization/model_provider.py
  tests/integration/optimization/test_casadi_swing_live.py
  tests/unit/motion_pipeline/test_model_bridge.py
  tests/unit/optimization/test_model_provider.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(estimation): make the non-finite sentinel observable and gate parameters on identifiability (#9757, #9758)
  src/shared/python/estimation/__init__.py
  src/shared/python/estimation/identifiability.py
  src/shared/python/estimation/map_estimator.py
  src/shared/python/estimation/multi_trial.py
  tests/unit/estimation/test_non_finite_and_gate.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(optimization): import pinocchio once per module and assert torques scale with golfer mass (#9755)
  tests/integration/optimization/test_casadi_swing_live.py
Due: pytest-unit

feat(ocp): bioptim Phase 0 -- pin, extra, shims, smoke test, isolation contract, CI legs (#9762, #9759)
  .github/workflows/ci-optional-stack.yml
  pyproject.toml
  src/shared/python/optimization/ocp/__init__.py
  src/shared/python/optimization/ocp/_compat.py
  src/shared/python/optimization/ocp/tests/__init__.py
  src/shared/python/optimization/ocp/tests/test_compat.py
  tests/architecture/test_bioptim_isolation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(optimization): capability-probed backend registry and ADR-0050 (#9760)
  docs/adr/0050-optimizer-backend-registry-and-bioptim.md
  docs/adr/README.md
  src/shared/python/optimization/backend_registry.py
  src/shared/python/optimization/swing_optimizer.py
  tests/unit/optimization/test_backend_registry.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(tests): scope src sys.modules mutations in leak-prone fixtures and add #9387 src-identity runtime sentinel (#9387) (#9741)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  tests/imports/test_gui_import_boundaries.py
  tests/integration/test_golf_launcher_integration.py
  tests/unit/engines/pinocchio/test_tasks.py
  tests/unit/repo_hygiene/test_src_identity_sentinel.py
  tests/unit/test_ux_enhancements.py
Due: pytest-unit

test(model): keep the CLI model tests inside CI's per-test budget
  tests/motion_capture/reconstruct/model/test_integration.py
Due: pytest-unit

fix(ci): post-rebase doc repair — title case, merged handoff entries (#9733)
  docs/development/DEVELOPMENT_LOG.md
Due: none

chore(ui-deps): post-rebase doc repair — merged handoff entries, title case (#9249)
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  ui/README.md
Due: none

feat(launch-monitor-analytics): run every analysis handler on the async_action worker (#9470) (#9742)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  scripts/config/file_size_budget.json
  scripts/config/module_size_budget_baseline.json
  src/tools/async_action.py
  src/tools/launch_monitor_analytics/_embed_adapter.py
  src/tools/launch_monitor_analytics/gui.py
  src/tools/simulation_backends_launcher/_embed_adapter.py
  src/tools/simulation_backends_launcher/gui.py
  tests/tools/test_async_action.py
  tests/ui/tools/launch_monitor/test_async_actions.py
  tests/ui/tools/simulation_backends/test_async_actions.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(deps): make openpyxl and imageio reachable from the dev extra (#9533)
  .github/WORKFLOWS.md
  .github/workflows/lock-refresh.yml
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/workflows/WORKFLOW_TRACKING.md
  pyproject.toml
  tests/ci/test_ci_infrastructure.py
Due: pytest-unit

docs(deps): record PR #9716 and SPEC changelog row for #9533
  AGENT_HANDOFF.md
  SPEC.md
Due: none
