Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

feat(analysis): add saved metric references to comparison (#9929)
  docs/development/unified_analysis_9926.md
  src/motion_capture/coaching/__init__.py
  src/motion_capture/coaching/drawing.py
  src/motion_capture/coaching/geometry.py
  src/motion_capture/coaching/geometry_storage.py
  src/tools/capture_rig/geometry_controls.py
  src/tools/capture_rig/geometry_rendering.py
  src/tools/capture_rig/reference_comparison.py
  src/tools/capture_rig/reference_export.py
  src/tools/capture_rig/reference_rendering.py
  tests/motion_capture/test_geometry_storage.py
  tests/motion_capture/test_reference_geometry.py
  tests/tools/capture_rig/test_comparison_geometry.py
  tests/tools/capture_rig/test_geometry_controls.py
  tests/tools/capture_rig/test_geometry_rendering.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(context): validate candidate navigation before publication gate
  .github/workflows/ci-standard.yml
  SPEC.md
  docs/agent_context/USAGE.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  tests/agent_context/test_required_gate.py
Due: pytest-unit

feat(capture): guide swing workflows from capability goals
  AGENT_HANDOFF.md
  SPEC.md
  docs/architecture/CAPABILITY_ATLAS.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/motion_capture/capture_rig.md
  docs/motion_capture/capture_wizard.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  scripts/capability_atlas/goals.py
  scripts/capability_atlas/model.py
  scripts/capability_atlas/render.py
  scripts/capability_atlas/template.html
  scripts/generate_capability_atlas.py
  src/config/capability_connections.json
  src/tools/capture_rig/calibration_actions.py
  src/tools/capture_rig/calibration_profiles.py
  src/tools/capture_rig/capture_evidence.py
  src/tools/capture_rig/goal_catalog.py
  src/tools/capture_rig/goal_planner.py
  src/tools/capture_rig/goal_wizard.py
  src/tools/capture_rig/gui.py
  src/tools/capture_rig/journey.py
  src/tools/capture_rig/process_runner.py
  src/tools/capture_rig/wizard_actions.py
  src/tools/capture_rig/wizard_evidence.py
  src/tools/capture_rig/wizard_storage.py
  tests/tools/capture_rig/test_goal_catalog.py
  tests/tools/capture_rig/test_goal_planner.py
  tests/tools/capture_rig/test_goal_wizard.py
  tests/tools/capture_rig/test_wizard_actions.py
  tests/tools/capture_rig/test_wizard_evidence.py
  ui/public/capability-atlas/capture-goals.mmd
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(context): qualify combined provider and merged module seams
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

docs(context): keep root navigation within the handoff size budget
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

docs(capture): record wizard PR and integrated validation
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

feat(analysis): reuse coaching interface for model playback (#9930)
  docs/development/unified_analysis_9926.md
  src/motion_capture/coaching/geometry.py
  src/tools/capture_rig/clips.py
  src/tools/capture_rig/coaching_dialog.py
  src/tools/capture_rig/coaching_export.py
  src/tools/capture_rig/coaching_source.py
  src/tools/capture_rig/frame_source.py
  src/tools/capture_rig/geometry_controls.py
  src/tools/capture_rig/model_analysis_dialog.py
  src/tools/capture_rig/model_coaching_source.py
  src/tools/capture_rig/model_frame_source.py
  src/tools/capture_rig/reference_comparison.py
  src/tools/capture_rig/reference_export.py
  src/tools/capture_rig/reference_library_dialog.py
  tests/motion_capture/test_reference_geometry.py
  tests/tools/capture_rig/test_coaching_source.py
  tests/tools/capture_rig/test_geometry_controls.py
  tests/tools/capture_rig/test_model_analysis_dialog.py
  tests/tools/capture_rig/test_model_coaching_source.py
  tests/tools/capture_rig/test_model_frame_source.py
  tests/tools/capture_rig/test_reference_library_dialog.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(ci/9933): satisfy analysis architecture and changelog contracts
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/unified_analysis_9926.md
  src/tools/capture_rig/clips.py
  src/tools/capture_rig/model_analysis_dialog.py
  src/tools/capture_rig/model_coaching_source.py
  src/tools/capture_rig/model_frame_source.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(analysis): preserve compositor order in shared drawing canvas (#9932)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/unified_analysis_9926.md
  src/tools/capture_rig/coaching_canvas.py
  src/tools/capture_rig/coaching_dialog.py
  src/tools/capture_rig/comparison_frame_source.py
  tests/tools/capture_rig/test_coaching_compositor.py
  tests/tools/capture_rig/test_comparison_frame_source.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(ci): retain aggregate contracts with required agent context
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  tests/ci/test_ci_infrastructure.py
  tests/ci/test_docs_governance_gates_workflow.py
  tests/ci/test_publication_quality_workflow.py
Due: pytest-unit

feat(analysis): edit and export shared comparison drawings (#9932)
  AGENT_HANDOFF.md
  SPEC.md
  docs/architecture/CAPABILITY_ATLAS.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/unified_analysis_9926.md
  src/config/capability_connections.json
  src/config/feature_parity.json
  src/motion_capture/coaching/geometry_storage.py
  src/tools/capture_rig/comparison_coaching_source.py
  src/tools/capture_rig/reference_comparison.py
  src/tools/capture_rig/reference_export.py
  tests/motion_capture/test_geometry_storage.py
  tests/scripts/test_capability_atlas.py
  tests/tools/capture_rig/test_comparison_coaching_source.py
  tests/tools/capture_rig/test_comparison_drawing_dialog.py
  ui/public/capability-atlas/capture-workflow.mmd
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
  ui/public/capability-atlas/system.mmd
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(context): refresh views after atlas catalog formatting
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/development/DEVELOPMENT_LOG.md
Due: none

docs: sync fleet-managed agent sections from Repository_Management
  AGENTS.md
  CLAUDE.md
Due: none

docs(analysis): record comparison PR and simulation follow-up
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/unified_analysis_9926.md
Due: none

docs(analysis): retain comparison state in canonical handoff
  AGENT_HANDOFF.md
  docs/development/HANDOFF.md
Due: none

fix(docs): enforce size budgets inside hidden-parent worktrees
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  scripts/check_doc_size_budget.py
  tests/scripts/test_doc_governance_checks.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(ci): recognize explicitly conditional documentation paths
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  scripts/check_agent_docs_consistency.py
  tests/architecture/test_check_agent_docs_consistency.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(analysis): share registered-world reference measurements (#9942)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/unified_analysis_9926.md
  src/motion_capture/coaching/__init__.py
  src/motion_capture/coaching/measurements.py
  src/tools/capture_rig/model_analysis_dialog.py
  src/tools/capture_rig/reference_comparison.py
  src/tools/capture_rig/reference_readout.py
  tests/motion_capture/test_reference_measurements.py
  tests/tools/capture_rig/test_reference_readout.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(analysis): import simulation marker traces into shared analysis (#9942)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/motion_capture/reference_model_fitting.md
  src/motion_capture/reference/importers.py
  src/motion_capture/reference/model.py
  src/motion_capture/reference/trace_import.py
  src/tools/capture_rig/reference_import.py
  src/tools/capture_rig/reference_library_dialog.py
  tests/motion_capture/test_trace_reference_import.py
  tests/tools/capture_rig/test_trace_analysis_import.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(analysis): record Trace import qualification and remaining integration
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/unified_analysis_9926.md
Due: none

feat(analysis): preserve declared simulation skeleton and club connections
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/motion_capture/reference_model_fitting.md
  src/motion_capture/reference/importers.py
  src/motion_capture/reference/trace_import.py
  src/tools/capture_rig/reference_import.py
  tests/motion_capture/test_trace_reference_import.py
  tests/tools/capture_rig/test_trace_analysis_import.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon
