Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

chore(motion_matching): refresh CO-07 inventories after pre-push gate regen
  docs/development/DEVELOPMENT_LOG.md
  docs/development/monolith_refactor_register.md
  docs/plans/club_only_matching/evidence/club_fast_matching.json
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

docs: point CO-07 handoff and SPEC at PR #10700
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

merge(main): integrate NM-04 into CO-07 and regenerate inventories
  docs/development/HANDOFF.md
Due: none

test(motion_matching): refresh CO-07 evidence fixture hashes after suite run
  docs/plans/club_only_matching/evidence/club_fast_matching.json
Due: none

fix(motion_matching): collapse CO-07 fast-match kwargs under param budget
  docs/plans/club_only_matching/evidence/club_fast_matching.json
  src/shared/python/motion_matching/club_only/fast_matching.py
  tests/unit/motion_matching/test_club_fast_matching.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: note CO-07 param-budget collapse on PR #10700 handoff
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

feat(motion_matching): MS-14 Pinocchio MatchingPlant full-lane contracts (#10684)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/full_body_models/evidence/ground_support/anthro_driver_pink/constrained_ik_receipt.json
  docs/development/full_body_models/evidence/ground_support/anthro_driver_pinocchio/parity_vs_mujoco.json
  docs/development/full_body_models/evidence/ground_support/anthro_driver_pinocchio/receipt.json
  docs/development/full_body_models/evidence/ground_support/anthro_driver_pinocchio/runtime_receipt.json
  docs/development/matched_swing_program/README.md
  docs/development/matched_swing_program/WAVES.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  reports/matched_swing_ledger.json
  src/engines/physics_engines/pinocchio/python/full_body_fit.py
  src/shared/python/motion_matching/pipeline/cli.py
  src/shared/python/motion_matching/pipeline/plants/pinocchio_lane_receipts.py
  src/shared/python/motion_matching/pipeline/plants/pinocchio_plant.py
  src/shared/python/motion_matching/pipeline/receipt_components.py
  tests/unit/motion_matching/pipeline/test_pinocchio_plant.py
  tests/unit/motion_matching/pipeline/test_receipt_schema.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(launcher): consolidate engine meta-tiles and clarify confusable tile names
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  scripts/check_launcher_logo_families.py
  src/config/launcher_manifest.json
  src/config/models.yaml
  src/launchers/workspace_navigation.py
  tests/config/launcher_manifest/test_engine_hub_consolidation_9479.py
  tests/config/launcher_manifest/test_tile_name_clarity_9480.py
  tests/launchers/test_workspace_navigation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(tests): mark launcher manifest tests as unit suite
  tests/config/launcher_manifest/test_engine_hub_consolidation_9479.py
  tests/config/launcher_manifest/test_tile_name_clarity_9480.py
Due: pytest-unit

fix(ci): refresh agent-context views for launcher tile changes
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
Due: none

fix(launcher): map renamed tile display names in MODEL_IMAGES
  src/launchers/model_card_images.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): regenerate capability atlas after launcher manifest edits
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: none

feat(neural_motion): NM-05 dynamics baselines pilot trainer
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/plans/neural_motion_matching/TURNOVER.md
  docs/plans/neural_motion_matching/dynamics_baselines.md
  docs/plans/neural_motion_matching/evidence/nm05_dynamics_baselines_receipt.json
  src/shared/python/motion_matching/inverse_timestep/training.py
  src/shared/python/motion_matching/surrogate/perstep/train.py
  src/shared/python/neural_motion/baselines/__init__.py
  src/shared/python/neural_motion/baselines/classical.py
  src/shared/python/neural_motion/baselines/dataset.py
  src/shared/python/neural_motion/baselines/evaluate.py
  src/shared/python/neural_motion/baselines/neural.py
  src/shared/python/neural_motion/baselines/train.py
  src/shared/python/neural_motion/baselines/types.py
  src/shared/python/neural_motion/episodes/store.py
  src/shared/python/neural_motion/experiment.py
  src/shared/python/training/datasets.py
  src/shared/python/training/runtime/runner_registry.py
  src/shared/python/training/scheduler.py
  tests/unit/neural_motion/test_dynamics_baselines_nm05.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(neural_motion): harden NM-05 inverse conditioning assertion and inventory
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  tests/unit/neural_motion/test_dynamics_baselines_nm05.py
Due: pytest-unit

chore(neural_motion): refresh divergence inventory for NM-05 baselines
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

feat(motion_matching): CO-07 fast club matching and Pareto diversity (#10700)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/monolith_refactor_register.md
  docs/plans/club_only_matching/TURNOVER.md
  docs/plans/club_only_matching/evidence/club_fast_matching.json
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/club_only/__init__.py
  src/shared/python/motion_matching/club_only/fast_matching.py
  tests/unit/motion_matching/test_club_fast_matching.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(neural_motion): drop inverse_timestep from NM-05 PR diff
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/plans/neural_motion_matching/TURNOVER.md
  docs/plans/neural_motion_matching/dynamics_baselines.md
  docs/plans/neural_motion_matching/evidence/nm05_dynamics_baselines_receipt.json
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/surrogate/perstep/train.py
  src/shared/python/neural_motion/baselines/__init__.py
  src/shared/python/neural_motion/baselines/classical.py
  src/shared/python/neural_motion/baselines/dataset.py
  src/shared/python/neural_motion/baselines/evaluate.py
  src/shared/python/neural_motion/baselines/neural.py
  src/shared/python/neural_motion/baselines/train.py
  src/shared/python/neural_motion/baselines/types.py
  src/shared/python/neural_motion/episodes/splits.py
  src/shared/python/neural_motion/episodes/store.py
  src/shared/python/neural_motion/experiment.py
  src/shared/python/training/datasets.py
  src/shared/python/training/runtime/runner_registry.py
  src/shared/python/training/scheduler.py
  tests/unit/neural_motion/test_dynamics_baselines_nm05.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: add unit suite markers to swing async tests
  tests/tools/swing_flight_pipeline/test_async_actions.py
Due: pytest-unit

feat(motion_matching): CO-08 club-only matrix qualification
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/monolith_refactor_register.md
  docs/plans/club_only_matching/TURNOVER.md
  docs/plans/club_only_matching/evidence/club_matrix_qualification.json
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/acceptance.py
  src/shared/python/motion_matching/club_only/__init__.py
  src/shared/python/motion_matching/club_only/matrix_qualification.py
  src/shared/python/motion_matching/fit_metrics.py
  tests/unit/motion_matching/test_club_matrix_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(motion_matching): finish CO-08 path anchors and handoff
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/shared/python/motion_matching/acceptance.py
  src/shared/python/motion_matching/plot_fit_quality_card.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(neural_motion): extract _state_control_features DRY helper
  docs/development/HANDOFF.md
  src/shared/python/neural_motion/baselines/dataset.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon
