Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

fix(launchers/assets): expose public API through __init__.py exports
  src/launchers/assets/__init__.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(bunkershot3d): expose root package public API
  src/bunkershot3d/__init__.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

chore: consolidate PRs 5444, 5443, 5442, 5441, 5440, 5439 (#5447)
  SPEC.md
  src/shared/python/body_part_viz/fitters/between_two.py
  ui/package-lock.json
  ui/package.json
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs/epic golf dynamics (#5449)
  docs/issues/EPIC_GOLF_DYNAMICS_MACKENZIE.md
Due: none

🛡️ Sentinel: [CRITICAL] Fix insecure deserialization via np.load (#5448)
  .jules/sentinel.md
  src/engines/physics_engines/putting_green/python/_green_loader.py
  src/engines/physics_engines/putting_green/python/_surface_io.py
  src/shared/python/physics/_topography_io.py
  src/shared/python/pose_interchange/pose_io.py
  tests/unit/test_c3d_export_features.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Optimize norm calculations in plot_error_timecourse using np.einsum (#5446)
  .github/workflows/cross-engine-equivalence.yml
  .github/workflows/docker-security-scan.yml
  .github/workflows/urdf-cross-engine-equivalence.yml
  SPEC.md
  docs/issues/EPIC_GOLF_DYNAMICS_MACKENZIE.md
  pyproject.toml
  src/engines/physics_engines/pinocchio/python/motion_matching/viz/error_timecourse.py
  src/shared/python/body_part_viz/fitters/between_two.py
  ui/package-lock.json
  ui/package.json
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: [performance improvement] optimize np.linalg.norm with np.einsum (#5445)
  .jules/bolt.md
  src/engines/physics_engines/mujoco/python/motion_matching/synthesize.py
  src/engines/physics_engines/opensim/python/motion_matching/synthesize.py
  src/engines/physics_engines/pinocchio/python/motion_matching/club_target_adapter.py
  src/engines/simscape/_output.py
  src/shared/python/motion_matching/loaders/_align.py
  src/shared/python/motion_matching/surrogate/compact/training.py
  src/shared/python/motion_matching/surrogate/invert.py
  src/shared/python/plot_style/channels.py
  src/shared/python/plot_style/renderers/matplotlib.py
  src/shared/python/plot_style/shapes/_custom_mesh_marker.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: scaffold simulation data store and add PINN epics (#5452)
  docs/issues/EPIC_GOLF_DYNAMICS_MACKENZIE.md
  docs/issues/EPIC_GOLF_DYNAMICS_PINN.md
  src/shared/data_store/__init__.py
  src/shared/data_store/store.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(data_store): validate time-series lengths and fail fast on flush_to_disk (Fixes #5453 #5454) (#5457)
  SPEC.md
  src/shared/data_store/store.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(body_part_viz): cast delta to float64 before einsum norm (Fixes #5451) (#5458)
  src/shared/python/body_part_viz/fitters/between_two.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(sidekick): full Sidekick integration across launcher, chat, and tooling
  AGENTS.md
  SPEC.md
  docs/development/embedding_a_tool.md
  docs/development/sidekick.md
  docs/index.md
  scripts/config/file_size_budget.json
  src/api/routes/chat_ws.py
  src/config/models.yaml
  src/launchers/embedded_tool_bootstrap.py
  src/launchers/launcher_diagnostics.py
  src/shared/python/ai/chat_context.py
  src/shared/python/ai/gui/assistant_panel.py
  src/shared/python/ai/sample_tools.py
  src/shared/python/ai/system_prompts.py
  src/shared/python/ai/tools/__init__.py
  src/shared/python/ai/tools/sidekick_analytics.py
  src/shared/python/gui_launcher/__init__.py
  src/shared/python/gui_launcher/tools_sidebar_integration.py
  src/tools/sidekick/__init__.py
  src/tools/sidekick/_embed_adapter.py
  tests/ui/launcher_embed/test_sidekick_tile.py
  tests/unit/ai/test_sidekick_analytics.py
  tests/unit/api/test_chat_ws_context.py
  tests/unit/launcher_embed/test_sidekick_contract.py
  tests/unit/shared_python/test_tools_sidebar_integration.py
  tests/unit/theme/test_sidekick_parity.py
  ui/src/components/ui/ChatPanel.tsx
  ui/src/index.css
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

docs: Document Sidekick feature (Issue #5467) (#5471)
  AGENTS.md
  SPEC.md
  docs/development/embedding_a_tool.md
Due: none

feat(sidekick): register chat/assistant as an EmbeddableTool launcher tile (Issue #5468) (#5508)
  src/config/models.yaml
  src/shared/python/upstream_drift_tools/ui/tools_sidebar/_embed_adapter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(data_store): implement flush_to_disk via HDF5 round-trip (#5542)
  src/shared/data_store/__init__.py
  src/shared/data_store/store.py
  tests/unit/shared/__init__.py
  tests/unit/shared/data_store/__init__.py
  tests/unit/shared/data_store/test_store.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(ui): replace hardcoded colors and icons with theme tokens (#5480 #5483 #5484 #5485) (#5549)
  src/config/models.yaml
  src/launchers/assets/sidekick.svg
  src/launchers/custom_title_bar.py
  src/launchers/launcher_ui_setup.py
  tests/unit/launchers/test_ui_token_compliance.py
  ui/src/components/ui/ChatPanel.tsx
  ui/src/pages/Chat.tsx
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

chore/fix: repo hygiene patterns + chat context re-injection watermark (#5548)
  .gitignore
  src/api/routes/chat_ws.py
  tests/unit/test_chat_context_injection.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: add feature navigation gap analysis and issue references (#5547)
  reports/feature_navigation_gaps/00_INDEX.md
  reports/feature_navigation_gaps/00_classification_criteria.md
  reports/feature_navigation_gaps/01_empty_sidebar_categories.md
  reports/feature_navigation_gaps/02_cross_engine_dashboard_tile.md
  reports/feature_navigation_gaps/03_exercise_dashboard_tile.md
  reports/feature_navigation_gaps/04_shot_tracer_tile.md
  reports/feature_navigation_gaps/05_pose_studio_tile.md
  reports/feature_navigation_gaps/06_golf_simulation_suite_tile.md
  reports/feature_navigation_gaps/07_engine_dashboards_unreachable.md
  reports/feature_navigation_gaps/08_swing_optimization_tile.md
  reports/feature_navigation_gaps/09_injury_risk_analysis_tile.md
  reports/feature_navigation_gaps/10_terrain_api_no_tile.md
  reports/feature_navigation_gaps/11_dataset_generation_no_tile.md
  reports/feature_navigation_gaps/12_motion_matching_category_empty.md
  reports/feature_navigation_gaps/13_analysis_tools_api_no_tile.md
  reports/feature_navigation_gaps/14_chat_ai_sidekick_no_manifest_entry.md
  reports/feature_navigation_gaps/15_motion_pipeline_no_tile.md
  reports/feature_navigation_gaps/16_perturbation_analysis_no_ui.md
  reports/feature_navigation_gaps/17_character_builder_no_tile.md
  reports/feature_navigation_gaps/18_pendulum_simulator_tile.md
  reports/feature_navigation_gaps/19_force_overlays_api_no_tile.md
  reports/feature_navigation_gaps/20_realtime_websocket_no_tile.md
  reports/feature_navigation_gaps/21_aip_no_tile.md
  reports/feature_navigation_gaps/22_actuator_controls_api_no_tile.md
  reports/feature_navigation_gaps/23_bunkershot3d_no_tile.md
  reports/feature_navigation_gaps/24_unreal_integration_no_tile.md
  reports/feature_navigation_gaps/25_robotics_module_no_presence.md
  reports/feature_navigation_gaps/26_upstream_drift_tools_breadth_hidden.md
  reports/feature_navigation_gaps/27_programmatic_pid_hidden.md
  reports/feature_navigation_gaps/28_dashboard_recorder_hidden.md
  reports/feature_navigation_gaps/29_internal_libraries_no_tile_needed.md
  reports/feature_navigation_gaps/30_putting_green_category_mismatch.md
  reports/feature_navigation_gaps/31_simulation_category_needs_tiles.md
Due: none

fix: populate sidebar categories biomechanics/simulation/motion_matching with tiles (#5546)
  src/config/launcher_manifest.json
  tests/launchers/test_launcher_manifest_categories.py
Due: pytest-unit

fix: add SVG logos for new launcher tiles (#5545)
  src/launchers/assets/bunkershot3d.svg
  src/launchers/assets/cross_engine.svg
  src/launchers/assets/exercise_dashboard.svg
  src/launchers/assets/injury_analysis.svg
  src/launchers/assets/pendulum.svg
  src/launchers/assets/pose_studio.svg
  src/launchers/assets/swing_optimizer.svg
Due: none

feat: add Tauri routes for terrain, dataset generator, and analysis tools pages (#5544)
  src/shared/python/chat/_chat_dock_widget_qt.py
  src/shared/python/upstream_drift_tools/ui/tools_sidebar/runtime_tabs.py
  ui/src/App.tsx
  ui/src/api/useAnalysisTools.ts
  ui/src/api/useDatasetGenerator.ts
  ui/src/api/useTerrain.ts
  ui/src/pages/AnalysisTools.test.tsx
  ui/src/pages/AnalysisTools.tsx
  ui/src/pages/DatasetGenerator.test.tsx
  ui/src/pages/DatasetGenerator.tsx
  ui/src/pages/Terrain.test.tsx
  ui/src/pages/Terrain.tsx
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

chore(governance): add issue-closure guard, stub-introduction guard, and TDD/DbC/LoD/DRY rules (#5540)
  .github/pull_request_template.md
  .github/workflows/Stub-Introduction-Guard.yml
  .github/workflows/Verify-Issue-Closure.yml
  AGENTS.md
  CLAUDE.md
Due: none

fix: add 13 launcher tiles, fix empty sidebar categories, add capability tags (#5556)
  src/config/launcher_manifest.json
  src/launchers/model_card.py
  tests/config/launcher_manifest/test_category_completeness.py
  tests/conftest.py
  tests/launchers/test_launcher_model_handlers.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(bunkershot3d,theme,sidebar): guard stubs, add custom theme tests, real chat tab (#5555)
  src/bunkershot3d/backends/chrono/driver.py
  src/bunkershot3d/backends/liggghts/driver.py
  src/bunkershot3d/calibration/angle_of_repose.py
  src/config/models.yaml
  src/shared/python/upstream_drift_tools/ui/tools_sidebar/__init__.py
  src/shared/python/upstream_drift_tools/ui/tools_sidebar/api.py
  src/shared/python/upstream_drift_tools/ui/tools_sidebar/sidebar.py
  tests/unit/test_bunkershot3d_stubs.py
  tests/unit/test_tools_sidebar_chat.py
  tests/unit/theme/test_custom_theme.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(launcher): add startup timeout + diagnostic logging; remove dead create_model_card (#5559)
  src/launchers/golf_launcher.py
  tests/launchers/test_golf_launcher_startup_timeout.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(launcher): add 14 remaining tiles + close 14 resolved issues (post-#5556 audit)
  src/launchers/launcher_diagnostics.py
  src/launchers/launcher_ui_setup.py
  src/shared/python/ai/chat_context.py
  src/shared/python/ai/gui/assistant_panel.py
  src/shared/python/theme/style_constants.py
  tests/unit/launchers/test_launcher_sidebar_sizing.py
  tests/unit/test_sidekick_accessibility.py
  ui/src/components/ui/ChatPanel.tsx
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

Revert "fix(launcher): add 14 remaining tiles + close 14 resolved issues (post-#5556 audit)"
  src/launchers/launcher_diagnostics.py
  src/launchers/launcher_ui_setup.py
  src/shared/python/ai/chat_context.py
  src/shared/python/ai/gui/assistant_panel.py
  src/shared/python/theme/style_constants.py
  tests/unit/launchers/test_launcher_sidebar_sizing.py
  tests/unit/test_sidekick_accessibility.py
  ui/src/components/ui/ChatPanel.tsx
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

feat(biomechanics): add FSP engine integration (Phase 2, issue #5503)
  src/shared/python/biomechanics/__init__.py
  src/shared/python/biomechanics/fsp_integration.py
  src/shared/python/biomechanics/swing_plane_analysis.py
  tests/unit/shared_python/test_fsp_integration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

ci(closure-guard): add loop protection + lenient evidence + bypass labels (#5575)
  .github/workflows/Verify-Issue-Closure.yml
Due: none

fix(launcher): add 10+ remaining tiles + close 12+ satisfied issues post-#5556 merge (#5568)
  SPEC.md
  scripts/_add_audit_tiles.py
  src/config/launcher_manifest.json
  tests/launchers/test_tile_coverage_post_5556.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(launcher,a11y): sidebar proportional sizing + emoji->text + aria-live scope (#5569)
  SPEC.md
  src/launchers/launcher_diagnostics.py
  src/launchers/launcher_ui_setup.py
  src/shared/python/ai/chat_context.py
  src/shared/python/ai/gui/assistant_panel.py
  src/shared/python/theme/style_constants.py
  tests/unit/launchers/test_launcher_sidebar_sizing.py
  tests/unit/test_sidekick_accessibility.py
  ui/src/components/ui/ChatPanel.tsx
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

feat(fsp): Phase 3 — 3D plane renderer + metrics widget + sidekick telemetry (#5578)
  src/shared/python/biomechanics/fsp_telemetry.py
  src/shared/python/ui/qt/widgets/fsp_metrics_widget.py
  src/shared/python/visualization/__init__.py
  src/shared/python/visualization/fsp_renderer.py
  tests/unit/biomechanics/test_fsp_telemetry.py
  tests/unit/visualization/__init__.py
  tests/unit/visualization/test_fsp_renderer.py
  tests/unit/widgets/__init__.py
  tests/unit/widgets/test_fsp_metrics_widget.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(pinns): Phase 2 — three-component PINN loss function (#5563)
  src/config/models.yaml
  src/shared/python/physics_informed/__init__.py
  src/shared/python/physics_informed/hybrid_model.py
  src/shared/python/physics_informed/loss.py
  src/shared/python/physics_informed/mlp_residual.py
  src/shared/python/physics_informed/mode.py
  src/shared/python/physics_informed/rigid_core.py
  src/shared/python/physics_informed/shadow_model.py
  tests/unit/shared_python/test_pinn_loss.py
  tests/unit/shared_python/test_pinn_shadow.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(fsp): Phase 1 - Rust SVD primitives for best-fit plane calculation
  rust_core/upstream-physics/src/fsp.rs
  rust_core/upstream-physics/src/lib.rs
  tests/unit/shared_python/test_fsp_primitives.py
Due: pytest-unit

feat(shallowing): Phase 1 — SVD hand-path plane from SimFrame trajectory
  src/shared/python/biomechanics/__init__.py
  src/shared/python/biomechanics/shallowing/__init__.py
  src/shared/python/biomechanics/shallowing/hand_path_plane.py
  tests/unit/shared_python/test_hand_path_plane.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(launcher): add capabilities to existing tiles + internal library audit (#5582)
  src/config/launcher_manifest.json
Due: none

fix(ui): remove inline style overrides from ChatPanel bubbles (#5587)
  ui/src/components/ui/ChatPanel.test.tsx
  ui/src/components/ui/ChatPanel.tsx
Due: no-debugger

feat(bunkershot3d): implement LIGGGHTS DEM backend (#5552) (#5586)
  src/bunkershot3d/__init__.py
  src/bunkershot3d/backends/liggghts/driver.py
  src/bunkershot3d/exceptions.py
  tests/bunkershot3d/test_liggghts_driver.py
  tests/unit/test_bunkershot3d_stubs.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

refactor(ai): split AIAssistantPanel into composer/transcript/streaming submodules (#5493) (#5585)
  scripts/config/file_size_budget.json
  src/shared/python/ai/gui/assistant/__init__.py
  src/shared/python/ai/gui/assistant/composer.py
  src/shared/python/ai/gui/assistant/panel.py
  src/shared/python/ai/gui/assistant/streaming.py
  src/shared/python/ai/gui/assistant/transcript.py
  src/shared/python/ai/gui/assistant_panel.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(shallowing): Phase 2 -- passive squaring torque + plane classification (#5576)
  src/shared/python/biomechanics/shallowing/__init__.py
  src/shared/python/biomechanics/shallowing/passive_squaring.py
  tests/unit/shared_python/test_passive_squaring.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon
