Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

feat(pink): expose solver through motion pipeline, CLI/GUI, and receipts (#10278)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/full_body_models/RECEIPTS.md
  docs/development/full_body_models/evidence/ground_support/run_ground_support.py
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/pipeline/lane.py
  src/shared/python/motion_matching/pipeline/receipt.py
  src/shared/python/motion_matching/pipeline/receipt_components.py
  src/shared/python/motion_matching/pipeline/receipt_schema.py
  src/shared/python/motion_matching/pipeline/reference.py
  src/tools/motion_matching/gui.py
  src/tools/motion_matching/pipeline.py
  tests/tools/motion_matching/test_motion_matching_gui.py
  tests/unit/motion_matching/test_pink_pipeline_receipts.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): document Pink pipeline integration and versioned receipts (#10278)
  SPEC.md
Due: none

fix(test): use direct module reference in capability monkeypatch and update monolith register (#10278)
  docs/development/monolith_refactor_register.md
  tests/unit/motion_matching/test_pink_pipeline_receipts.py
Due: pytest-unit

feat(shadow-tracker): qualify modern and historical footage workflows (#10133) (#10314)
  SPEC.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/shadow_tracker/__init__.py
  src/shared/python/shadow_tracker/footage_workflows.py
  tests/unit/shadow_tracker/test_footage_workflows.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(atlas): update capability atlas graph for shadow tracker exports
  ui/public/capability-atlas/graph.json
Due: none

chore(agent-context): update launcher-atlas boundary review and render docs
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
Due: none

feat(pink): expose solver through motion pipeline, CLI/GUI, and receipts (#10278) (#10315)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/full_body_models/RECEIPTS.md
  docs/development/full_body_models/evidence/ground_support/run_ground_support.py
  docs/development/monolith_refactor_register.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/pipeline/lane.py
  src/shared/python/motion_matching/pipeline/receipt.py
  src/shared/python/motion_matching/pipeline/receipt_components.py
  src/shared/python/motion_matching/pipeline/receipt_schema.py
  src/shared/python/motion_matching/pipeline/reference.py
  src/tools/motion_matching/gui.py
  src/tools/motion_matching/pipeline.py
  tests/tools/motion_matching/test_motion_matching_gui.py
  tests/unit/motion_matching/test_pink_pipeline_receipts.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Optimize vector magnitude calculation using np.sqrt(np.einsum) in physics models (#10098)
  .jules/bolt.md
  SPEC.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/engines/physics_engines/drake/python/full_body_model.py
  src/engines/physics_engines/pinocchio/python/native_model.py
  src/shared/python/biomechanics/golf_trajectory.py
  src/shared/python/physics/ground_reaction_forces.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(launcher): register shadow tracker in models.yaml with dedicated logo and unique order (#10134)
  assets/logos/shadow_tracker.svg
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/config/launcher_manifest.json
  src/config/models.yaml
  tests/companion/test_companion_catalog.py
Due: pytest-unit

⚡ Bolt: Optimize np.linalg.norm calculation in mujoco_swing_source.py (#10316)
  .jules/bolt.md
  SPEC.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/physics/mujoco_swing_source.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(atlas): update capability atlas freshness (#10134)
  docs/architecture/CAPABILITY_ATLAS.md
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: none

docs(agent-context): review launcher-atlas boundary for shadow_tracker launcher tile (#10134)
  docs/agent_context/reviews.json
Due: none

docs(agent-context): sync rendered README and index views after launcher review (#10134)
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
Due: none

fix: resolve architecture budget divergence inventory and mypy typing for 10285
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  scripts/config/architecture_budget.json
  src/shared/python/motion_matching/constrained_marker_pose.py
  src/shared/python/motion_matching/continuous_forward.py
  src/shared/python/motion_matching/grouped_dop853.py
  src/shared/python/simulation_store/replay_bundle.py
  src/tools/tour_matching_viewer/gui.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(launcher): remove legacy embed_adapter string for shadow_tracker and sync governance (#10134)
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  src/config/models.yaml
  ui/public/capability-atlas/graph.json
Due: none

⚡ Bolt: Replace np.linalg.norm(..., axis=1) with np.einsum for improved performance (#10244)
  .jules/bolt.md
  SPEC.md
  src/engines/physics_engines/mujoco/python/full_body_markers.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion_matching): implement native counterfactual qualification for #10286
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/engines/physics_engines/pinocchio/python/native_model.py
  src/shared/python/motion_matching/counterfactual.py
  src/shared/python/simulation_backends/ztcf_zvcf.py
  tests/unit/motion_matching/test_native_counterfactual.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Replace np.sum(np.sqrt(...)) with np.hypot(...).sum() in power_work_metrics.py (#10309)
  SPEC.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/analysis/power_work_metrics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: replace np.linalg.norm with math.sqrt(np.vdot) for 1D arrays in bunkershot3d (#10307)
  SPEC.md
  src/bunkershot3d/ball/pipeline.py
  src/bunkershot3d/geometry/clubhead.py
  src/bunkershot3d/geometry/lofting.py
  src/bunkershot3d/geometry/mass_properties.py
  src/bunkershot3d/geometry/solids.py
  src/bunkershot3d/kinematics/trajectory.py
  src/bunkershot3d/metrics/divot.py
  src/bunkershot3d/solvers/shot.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(motion_matching): multi-engine counterfactual qualification for #10286
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/engines/physics_engines/drake/python/drake_physics_engine.py
  src/engines/physics_engines/opensim/python/opensim_physics_engine.py
  src/engines/physics_engines/pinocchio/python/pinocchio_physics_engine.py
  src/engines/simscape/adapter.py
  src/shared/python/motion_matching/counterfactual_matrix.py
  tests/unit/motion_matching/test_counterfactual_matrix.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon
