Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

docs: integrate articulation diagnostic and next initializer study
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
Due: none

docs: prototype reaction-eliminated sextic identification with bounded evidence
  docs/development/drake_native_matching/HANDOFF.md
  docs/development/drake_native_matching/REACTION_IDENTIFICATION_FEASIBILITY.md
  docs/development/drake_native_matching/evidence/reaction-identification/identification.json
  docs/development/drake_native_matching/evidence/reaction-identification/known-profile.json
  docs/development/drake_native_matching/evidence/reaction-identification/raw-evidence.zip
  docs/development/drake_native_matching/evidence/reaction-identification/replay.json
  docs/development/drake_native_matching/evidence/reaction-identification/unit-tests.txt
  docs/development/drake_native_matching/reproduction/__pycache__/reaction_identification.cpython-313.pyc
  docs/development/drake_native_matching/reproduction/__pycache__/test_reaction_identification.cpython-313-pytest-9.0.3.pyc
  docs/development/drake_native_matching/reproduction/archive_reaction_identification.py
  docs/development/drake_native_matching/reproduction/reaction_identification.py
  docs/development/drake_native_matching/reproduction/replay_identified_baseline.py
  docs/development/drake_native_matching/reproduction/study_reaction_identification.py
  docs/development/drake_native_matching/reproduction/test_reaction_identification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

chore: exclude generated reaction study test bytecode
  docs/development/drake_native_matching/reproduction/__pycache__/reaction_identification.cpython-313.pyc
  docs/development/drake_native_matching/reproduction/__pycache__/test_reaction_identification.cpython-313-pytest-9.0.3.pyc
Due: none

fix(quarantine): burn down 16 quarantined ai adapter and tools tests (#8766)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  scripts/config/unit_gate_quarantine.json
Due: none

docs: benchmark two-process native window sensitivities
  docs/development/native_parallel_performance/HANDOFF.md
  docs/development/native_parallel_performance/raw-study-inputs.zip
  docs/development/native_parallel_performance/report.json
  docs/development/native_parallel_performance/test_window_benchmark.py
  docs/development/native_parallel_performance/window_benchmark.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: archive run19 and integrate native engine feasibility studies
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/drake_native_matching/HANDOFF.md
  docs/development/drake_native_matching/REACTION_IDENTIFICATION_FEASIBILITY.md
  docs/development/drake_native_matching/evidence/reaction-identification/identification.json
  docs/development/drake_native_matching/evidence/reaction-identification/known-profile.json
  docs/development/drake_native_matching/evidence/reaction-identification/raw-evidence.zip
  docs/development/drake_native_matching/evidence/reaction-identification/replay.json
  docs/development/drake_native_matching/evidence/reaction-identification/unit-tests.txt
  docs/development/drake_native_matching/reproduction/archive_reaction_identification.py
  docs/development/drake_native_matching/reproduction/reaction_identification.py
  docs/development/drake_native_matching/reproduction/replay_identified_baseline.py
  docs/development/drake_native_matching/reproduction/study_reaction_identification.py
  docs/development/drake_native_matching/reproduction/test_reaction_identification.py
  docs/development/native_parallel_performance/HANDOFF.md
  docs/development/native_parallel_performance/raw-study-inputs.zip
  docs/development/native_parallel_performance/report.json
  docs/development/native_parallel_performance/test_window_benchmark.py
  docs/development/native_parallel_performance/window_benchmark.py
  docs/development/simscape_tour_matching/MULTI_ENGINE_NATIVE_PROGRAM.md
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/ms_bound_continuation_9967_20/bound-continuation.json
  docs/development/simscape_tour_matching/native_evidence/ms_bound_continuation_9967_20/config.json
  docs/development/simscape_tour_matching/native_evidence/ms_bound_continuation_9967_20/derivative-audit.json
  docs/development/simscape_tour_matching/native_evidence/ms_bound_continuation_9967_20/distinct-seed-trial.json
  docs/development/simscape_tour_matching/native_evidence/ms_bound_continuation_9967_20/initial-defects.json
  docs/development/simscape_tour_matching/native_evidence/ms_bound_continuation_9967_20/restart-audit.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_19/bound-audit.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_19/config.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_19/independent-replay.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_19/independent-replay.png
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_19/independent-trajectory.npz
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_19/returned-candidate.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_19/returned-nodes.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_19/returned.json
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: preserve exact raw run19 and run20 reproduction archives
  docs/development/simscape_tour_matching/native_evidence/ms_bound_continuation_9967_20/raw-preflight.zip
  docs/development/simscape_tour_matching/native_evidence/ms_bound_continuation_9967_20/runtime-and-runners.zip
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_19/raw-run.zip
Due: none

fix(quarantine): burn down 16 quarantined ai adapter and tools tests (#8766) (#10026)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  scripts/config/unit_gate_quarantine.json
Due: none

docs: provide bounded executable turnover for next matching agent
  docs/development/HANDOFF.md
  docs/development/simscape_tour_matching/CONSTRAINED_SHOOTING_NEXT_AGENT.md
  docs/development/simscape_tour_matching/LOW_COST_AGENT_TURNOVER_20260912.md
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/NEXT_AGENT_EXECUTION_PROMPT_20260911.md
Due: none

feat: add optional persistent native window executor
  docs/development/native_parallel_performance/HANDOFF.md
  docs/development/native_parallel_performance/executor-report.json
  docs/development/native_parallel_performance/qualify_executor.py
  docs/development/native_parallel_performance/raw-executor-qualification.zip
  src/shared/python/motion_matching/native_window_executor.py
  tests/unit/motion_matching/test_native_window_executor.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: add qualified optional native window executor and handoff
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/native_parallel_performance/HANDOFF.md
  docs/development/native_parallel_performance/executor-report.json
  docs/development/native_parallel_performance/qualify_executor.py
  docs/development/native_parallel_performance/raw-executor-qualification.zip
  docs/development/simscape_tour_matching/LOW_COST_AGENT_TURNOVER_20260912.md
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  src/shared/python/motion_matching/native_window_executor.py
  tests/unit/motion_matching/test_native_window_executor.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(quarantine): burn down 23 launcher process manager and embed adapter tests (#8766)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  scripts/config/unit_gate_quarantine.json
Due: none

docs: preserve independent run20 evaluation44 rejection evidence
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/ms_bound_continuation_9967_20/evaluation44-audit.json
  docs/development/simscape_tour_matching/native_evidence/ms_bound_continuation_9967_20/raw-evaluation44-audit.zip
Due: none

docs: archive terminal run20 and finalize execution turnover
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/simscape_tour_matching/LOW_COST_AGENT_TURNOVER_20260912.md
  docs/development/simscape_tour_matching/MULTI_ENGINE_NATIVE_PROGRAM.md
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_20/bound-audit.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_20/config.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_20/independent-replay.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_20/independent-replay.png
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_20/independent-trajectory.npz
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_20/raw-run.zip
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_20/returned-candidate.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_20/returned-nodes.json
  docs/development/simscape_tour_matching/native_evidence/ms_fit_9967_20/returned.json
Due: none

docs: record explicit pause and final engine transfer assignment
  docs/development/simscape_tour_matching/LOW_COST_AGENT_TURNOVER_20260912.md
Due: none

fix(quarantine): burn down 18 model source providers and motion pipeline tests (#8766)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  scripts/config/unit_gate_quarantine.json
Due: none

feat: batch cache-miss shooting windows through optional executor seam
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/native_parallel_performance/HANDOFF.md
  docs/development/simscape_tour_matching/LOW_COST_AGENT_TURNOVER_20260912.md
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  src/shared/python/motion_matching/multi_shooting_fit.py
  tests/unit/motion_matching/test_multi_shooting_fit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: add trusted native sensitivity batch worker
  docs/development/DEVELOPMENT_LOG.md
  docs/development/native_parallel_performance/HANDOFF.md
  docs/development/simscape_tour_matching/LOW_COST_AGENT_TURNOVER_20260912.md
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  src/engines/physics_engines/pinocchio/python/native_sensitivity_batch.py
  tests/unit/motion_matching/test_native_sensitivity_batch.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(quarantine): burn down 5 checkpoint and diagnostics tests (#8766)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  scripts/config/unit_gate_quarantine.json
Due: none

test: qualify native sensitivity workers on ControlTower
  docs/development/DEVELOPMENT_LOG.md
  docs/development/native_parallel_performance/HANDOFF.md
  docs/development/native_parallel_performance/executor-worker-report.json
  docs/development/native_parallel_performance/qualify_native_worker.py
  docs/development/native_parallel_performance/raw-worker-qualification.zip
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  src/engines/physics_engines/pinocchio/python/native_sensitivity_batch.py
  tests/unit/motion_matching/test_native_sensitivity_batch.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: adapt native sensitivity workers to shooting batches
  docs/development/DEVELOPMENT_LOG.md
  docs/development/native_parallel_performance/HANDOFF.md
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  src/engines/physics_engines/pinocchio/python/native_sensitivity_batch.py
  tests/unit/motion_matching/test_native_sensitivity_batch.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(quarantine): burn down 9 force plate, contracts, and pinocchio tests (#8766)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  scripts/config/unit_gate_quarantine.json
Due: none

docs: record batched solver qualification
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/native_parallel_performance/HANDOFF.md
  docs/development/native_parallel_performance/batched-solver-qualification-9967-24.json
  docs/development/native_parallel_performance/prepare_batched_solver_driver.py
  docs/development/simscape_tour_matching/LOW_COST_AGENT_TURNOVER_20260912.md
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
Due: no-wildcard-imports, no-debug-statements, pytest-unit

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
