Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

test(logging): cover JSON password comma redaction
  tests/unit/test_logging_config.py
Due: pytest-unit

fix(ci): support lock file fallback in issue resolver dependencies
  .github/workflows/Jules-Issue-Resolver.yml
Due: none

data-io: reject symlink traversal in model path validation (#5918)
  src/api/utils/path_validation.py
  tests/api/wave5_api/test_utils_path_validation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(sidekick): wire headless calculator runner
  src/shared/python/sidekick/__main__.py
  src/shared/python/sidekick/standalone/runner.py
  tests/integration/sidekick/test_run_wgs.py
  tests/unit/sidekick/standalone/test_runner.py
  tests/unit/sidekick/test_cli.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

perf(signal_toolkit): single asarray + slicing in _resample_drawn_points (#5912)
  src/shared/python/signal_toolkit/polynomial_generator.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

api: add __version__ and SCHEMA_VERSION to cross-engine APIs (#5917)
  src/shared/python/launcher_embed/__init__.py
  src/shared/python/pose_interchange/__init__.py
  src/shared/python/realtime/__init__.py
  tests/unit/repo_hygiene/test_cross_engine_api_versions.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(docs): wire ADR numbering governance checks
  .github/workflows/docs-governance.yml
  tests/scripts/test_doc_governance_checks.py
Due: pytest-unit

refactor: remove unused imports in tests/config/launcher_manifest (#5908)
  tests/config/launcher_manifest/test_categories.py
  tests/config/launcher_manifest/test_category_completeness.py
  tests/config/launcher_manifest/test_logo_validation.py
  tests/config/launcher_manifest/test_manifest_loading.py
  tests/config/launcher_manifest/test_motion_target_preview_tile.py
  tests/config/launcher_manifest/test_ordering.py
  tests/config/launcher_manifest/test_parity.py
  tests/config/launcher_manifest/test_tile_properties.py
  tests/config/launcher_manifest/test_web_route_field_round_trip.py
Due: pytest-unit

scale(auth): make AuthCache TTL and max-entries env-configurable
  src/api/auth/security.py
  src/shared/python/config/environment.py
  tests/unit/api/security/test_auth_cache.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(training): add controller PyQt surface
  SPEC.md
  src/config/models.yaml
  src/launchers/embedded_tool_bootstrap.py
  src/tools/training_controller/__init__.py
  src/tools/training_controller/__main__.py
  src/tools/training_controller/_embed_adapter.py
  src/tools/training_controller/gui.py
  tests/tools/training_controller/test_embed_adapter.py
  tests/tools/training_controller/test_gui_smoke.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

tests: cover se3 gimbal-lock and SE(3) validation error paths (#5910)
  tests/unit/pose_interchange/test_se3_edge_cases.py
Due: pytest-unit

config: reject .env.example placeholders at startup (#5920)
  src/shared/python/security/env_validator.py
  tests/unit/security/test_env_validator.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(api): guard websocket exception logging
  tests/unit/api/test_chat_ws.py
  tests/unit/api/test_simulation_ws.py
Due: pytest-unit

feat(sidekick): state-profile round-trip embedded<->standalone (#5983)
  src/shared/python/sidekick/persistence/__init__.py
  src/shared/python/sidekick/persistence/state_profile.py
  tests/integration/sidekick/__init__.py
  tests/integration/sidekick/test_profile_round_trip.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(spatial_algebra): remove shadowed pose6dof.py monolith (#5922)
  src/shared/python/spatial_algebra/pose6dof.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): restore workflow queue protections
  .github/workflows/Jules-Issue-Resolver.yml
  .github/workflows/heavy-tests-opt-in.yml
Due: none

fix(ci): sort mujoco fit_swing imports
  src/engines/physics_engines/mujoco/python/motion_matching/fit_swing.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): avoid duplicate xvfb bootstrap
  .github/workflows/cross-engine-leaderboard-publish.yml
Due: none

docs(shared): refresh plot_style and body_part_viz init docstrings
  src/shared/python/body_part_viz/__init__.py
  src/shared/python/plot_style/__init__.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(version): sync VERSION to 2.1.0 to match SPEC.md
  .github/workflows/ci-standard.yml
  CHANGELOG.md
  VERSION
  scripts/ci/check_version_consistency.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(README): refresh docs/README.md to reflect 2026 reality
  docs/README.md
Due: none

docs(pose-interchange): clarify pinocchio fallback (was: local stub TODO #4095)
  src/engines/physics_engines/pinocchio/python/motion_matching/__init__.py
  src/engines/physics_engines/pinocchio/python/motion_matching/club_target_adapter.py
  src/shared/python/pose_interchange/services/pinocchio.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(pose-interchange): add MyoSuite LiveKinematicsService + adapter
  pyproject.toml
  src/shared/python/pose_interchange/adapters/__init__.py
  src/shared/python/pose_interchange/adapters/myosuite.py
  src/shared/python/pose_interchange/services/__init__.py
  src/shared/python/pose_interchange/services/myosuite.py
  tests/unit/pose_interchange/adapters/test_myosuite_layout.py
  tests/unit/pose_interchange/adapters/test_myosuite_protocol.py
  tests/unit/pose_interchange/adapters/test_myosuite_roundtrip.py
  tests/unit/pose_interchange/adapters/test_registry.py
  tests/unit/pose_interchange/live_kinematics/test_myosuite_service.py
  tests/unit/pose_interchange/live_kinematics/test_protocol_compliance.py
  tests/unit/pose_interchange/live_kinematics/test_registry_fallback.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(optional-extras): add loud-fail smoke coverage
  tests/test_optional_extras_loud_fail.py
Due: pytest-unit

fix(ci): restore PR-scoped logging checks
  src/shared/python/core/_core.py
  src/shared/python/logging_pkg/logging_config.py
  tests/ci/test_ci_infrastructure.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(container): define root dockerfile policy
  CHANGELOG.md
  Dockerfile
  Dockerfile.heavy_test
  Dockerfile.modular
  SPEC.md
  docker-compose.gpu.yml
  docker-compose.profiles.yml
  docker-compose.yml
  docker/README.md
  docs/adr/0021-container-strategy.md
  docs/adr/README.md
  tests/unit/repo_hygiene/test_docker_docs.py
Due: pytest-unit

docs(sidekick): define chat boundary
  docs/adr/0022-chat-sidekick-boundary.md
  docs/adr/README.md
  scripts/config/file_size_budget.json
  tests/unit/repo_hygiene/test_sidekick_docs.py
Due: pytest-unit

docs(urdf): resolve ADR-0020 status drift (#6094)
  docs/adr/0020-canonical-urdf-subsystem.md
  docs/adr/README.md
  docs/architecture/URDF_SUBSYSTEM_BOUNDARY.md
  src/shared/python/__init__.py
  src/shared/python/humanoid_character_builder/__init__.py
  tests/unit/repo_hygiene/test_urdf_governance_docs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Extract magic numbers in aerodynamics.py into named constants (#6112)
  src/shared/python/physics/aerodynamics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(tests): remove stale joint-empty-name xfail (closed #4720) (#6111)
  tests/integration/motion_pipeline/adversarial/test_invariant_violations.py
Due: pytest-unit

docs(README): add Quick Start with explicit entry-point hierarchy (#6104)
  README.md
Due: none

fix(version): sync VERSION to 2.1.0 to match SPEC.md (#6105)
  .github/workflows/ci-standard.yml
  CHANGELOG.md
  VERSION
  scripts/ci/check_version_consistency.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(README): add Quick Start with explicit entry-point hierarchy
  README.md
Due: none

chore: remove stale launch.bat
  launch.bat
Due: none

docs(spec): note optional engine smoke coverage
  SPEC.md
Due: none

ci: add docs governance workflow concurrency
  .github/workflows/docs-governance.yml
Due: none

docs: update spec for ADR-0020 governance
  SPEC.md
Due: none

chore: remove stale launch.bat (#6101)
  launch.bat
Due: none

fix(sidekick): canonical import path for core.contracts.exceptions
  src/shared/python/sidekick/standalone/session_store.py
  tests/unit/sidekick/standalone/test_session_store.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon
