Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

fix(shadow-tracker): reject unrun model segmentation and enforce shot-isolated mask revisions (#10202) (#10205)
  SPEC.md
  docs/plans/shadow_tracker/AGENT_HANDOFF.md
  docs/plans/shadow_tracker/READY_TASKS.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/shadow_tracker/contracts.py
  src/shared/python/shadow_tracker/segmentation.py
  tests/unit/shadow_tracker/test_silhouette_segmentation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion_matching): same-input replays of returned81 candidate in MuJoCo, Pinocchio, and Drake
  docs/development/DEVELOPMENT_LOG.md
  docs/development/full_body_models/HANDOFF.md
  docs/development/full_body_models/evidence/replays/assemble_receipt.py
  docs/development/full_body_models/evidence/replays/drake_receipt.json
  docs/development/full_body_models/evidence/replays/drake_returned81.gif
  docs/development/full_body_models/evidence/replays/drake_returned81_replay.npz
  docs/development/full_body_models/evidence/replays/generate_drake_replay.py
  docs/development/full_body_models/evidence/replays/generate_mujoco_replay.py
  docs/development/full_body_models/evidence/replays/mujoco_receipt.json
  docs/development/full_body_models/evidence/replays/mujoco_returned81.gif
  docs/development/full_body_models/evidence/replays/mujoco_returned81_replay.npz
  docs/development/full_body_models/evidence/replays/pinocchio_receipt.json
  docs/development/full_body_models/evidence/replays/pinocchio_returned81.gif
  docs/development/full_body_models/evidence/replays/pinocchio_returned81_replay.npz
  docs/development/full_body_models/evidence/replays/receipt.json
  docs/development/full_body_models/evidence/replays/returned-candidate.json
  src/shared/python/motion_matching/replay_metrics.py
  tests/unit/motion_matching/test_returned81_cross_engine_replay.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): document returned81 cross-engine replay format and refactor scripts under architecture budget
  SPEC.md
  docs/development/full_body_models/evidence/replays/assemble_receipt.py
  docs/development/full_body_models/evidence/replays/generate_mujoco_replay.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

chore(inventory): record motion_matching/replay_metrics.py in divergence inventory (#10062)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

fix(full-body): resolve doc size budget, agent-context views, and layer direction (#10186)
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  scripts/config/doc_size_budget.json
  src/shared/python/motion_matching/hip_calibration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion_matching): same-input replays of returned81 candidate in MuJoCo, Pinocchio, and Drake (#10062) (#10203)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/full_body_models/HANDOFF.md
  docs/development/full_body_models/evidence/replays/assemble_receipt.py
  docs/development/full_body_models/evidence/replays/drake_receipt.json
  docs/development/full_body_models/evidence/replays/drake_returned81.gif
  docs/development/full_body_models/evidence/replays/drake_returned81_replay.npz
  docs/development/full_body_models/evidence/replays/generate_drake_replay.py
  docs/development/full_body_models/evidence/replays/generate_mujoco_replay.py
  docs/development/full_body_models/evidence/replays/mujoco_receipt.json
  docs/development/full_body_models/evidence/replays/mujoco_returned81.gif
  docs/development/full_body_models/evidence/replays/mujoco_returned81_replay.npz
  docs/development/full_body_models/evidence/replays/pinocchio_receipt.json
  docs/development/full_body_models/evidence/replays/pinocchio_returned81.gif
  docs/development/full_body_models/evidence/replays/pinocchio_returned81_replay.npz
  docs/development/full_body_models/evidence/replays/receipt.json
  docs/development/full_body_models/evidence/replays/returned-candidate.json
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/replay_metrics.py
  tests/unit/motion_matching/test_returned81_cross_engine_replay.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(shadow-tracker): implement filled-area silhouette rendering and state invariants (#10206)
  SPEC.md
  docs/plans/shadow_tracker/AGENT_HANDOFF.md
  docs/plans/shadow_tracker/READY_TASKS.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/shadow_tracker/initialization.py
  src/shared/python/shadow_tracker/projection.py
  tests/unit/shadow_tracker/test_initialization.py
  tests/unit/shadow_tracker/test_silhouette_projection_and_losses.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Optimize np.linalg.norm calculation in fit2d (#10183)
  .jules/bolt.md
  SPEC.md
  src/motion_capture/reconstruct/model/fit2d.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(golf_simulator): implement immutable shot contracts and capability ports (#10190)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  src/shared/python/golf_simulator/__init__.py
  src/shared/python/golf_simulator/contracts.py
  src/shared/python/golf_simulator/launch_bridge.py
  tests/unit/golf_simulator/test_launch_bridge.py
  tests/unit/golf_simulator/test_shot_contract.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(golf_simulator): use ShotMetadata parameter object to satisfy architecture parameter budget
  src/shared/python/golf_simulator/__init__.py
  src/shared/python/golf_simulator/contracts.py
  src/shared/python/golf_simulator/launch_bridge.py
  tests/unit/golf_simulator/test_launch_bridge.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(golf_simulator): refresh turnover with PR 10208 and commit 64158c629
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
Due: none

feat(golf_simulator): implement GSPro protocol profile and pure JSON codec (#10189, #10191)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  src/shared/python/golf_simulator/adapters/__init__.py
  src/shared/python/golf_simulator/adapters/gspro/__init__.py
  src/shared/python/golf_simulator/adapters/gspro/codec.py
  src/shared/python/golf_simulator/adapters/gspro/profile.py
  tests/unit/golf_simulator/test_gspro_codec.py
  tests/unit/golf_simulator/test_gspro_profile.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(motion_matching): eliminate LOD violations and update SPEC.md (#10186)
  SPEC.md
  src/engines/physics_engines/mujoco/python/full_body_markers.py
  src/engines/physics_engines/mujoco/python/full_body_simulation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(golf_simulator): refresh turnover with rebased commit 0deffe40b
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
Due: none

docs(golf_simulator): refresh turnover with rebased commit 83e522aa0
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
Due: none

docs: fix title capitalization in bolt.md (#10186)
  .jules/bolt.md
Due: none

feat(capture_rig): adopt the shared camera layer from Tools (#10204)
  Cargo.toml
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  requirements-tools.txt
  src/motion_capture/rig/preview_source.py
  src/motion_capture/rig/recorder.py
  tests/fixtures/reference_calibration/preview_source_checks.py
  tests/fixtures/reference_calibration/run_checks.py
  tests/motion_capture/rig/test_recorder_bridge_cli.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(handoff): record PR #10211 for DL-#10204
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

fix(governance): regenerate capability atlas and add file size exception (#10186)
  docs/architecture/CAPABILITY_ATLAS.md
  scripts/config/file_size_budget.json
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: none

docs(agent-context): sync rendered README and index views (#10186)
  docs/agent_context/README.md
  docs/agent_context/index.html
Due: none

chore(shared_tools): update divergence inventory for golf_simulator package (#10190)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

fix(governance): register HO-0 architecture budget exceptions (#10186)
  scripts/config/architecture_budget.json
Due: none
