Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

feat(research): evaluate matched-state killswitch ensembles
  scripts/research/proximal_distal_energy/counterfactual_ensemble.py
  tests/unit/research/test_interaction_force_mechanisms.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(research): compare counterfactual persistence across phases
  docs/research/proximal_distal_energy_transfer/README.md
  docs/research/proximal_distal_energy_transfer/chapters/_appendices.qmd
  docs/research/proximal_distal_energy_transfer/chapters/_ch04_counterfactual_ensemble.qmd
  docs/research/proximal_distal_energy_transfer/chapters/_ch06_methods.qmd
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.qmd
  scripts/research/proximal_distal_energy/make_counterfactual_figures.py
  scripts/research/proximal_distal_energy/run_counterfactual_ensemble.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(research): publish counterfactual ensemble evidence
  AGENT_HANDOFF.md
  SPEC.md
  docs/research/proximal_distal_energy_transfer/data/counterfactual_ensemble.json
  docs/research/proximal_distal_energy_transfer/data/counterfactual_selected_traces.npz
  docs/research/proximal_distal_energy_transfer/figures/fig_counterfactual_divergence_maps.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_counterfactual_divergence_maps.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_counterfactual_physics_variants.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_counterfactual_physics_variants.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_counterfactual_selected_futures.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_counterfactual_selected_futures.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_counterfactual_timestep_sensitivity.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_counterfactual_timestep_sensitivity.svg
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.pdf
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.tex
Due: none

docs: record counterfactual persistence PR
  AGENT_HANDOFF.md
Due: none

feat(research): formalize two-hand wrench mechanics
  scripts/research/proximal_distal_energy/two_hand_wrench.py
  tests/research/test_two_hand_wrench.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(research): audit archived two-hand force system
  docs/research/proximal_distal_energy_transfer/data/two_hand_wscg_analysis.json
  docs/research/proximal_distal_energy_transfer/data/two_hand_wscg_analysis.npz
  docs/research/proximal_distal_energy_transfer/data/wscg_two_hand_raw/base.csv
  docs/research/proximal_distal_energy_transfer/data/wscg_two_hand_raw/delta.csv
  docs/research/proximal_distal_energy_transfer/data/wscg_two_hand_raw/ztcf.csv
  scripts/research/proximal_distal_energy/export_two_hand_wscg_tables.m
  scripts/research/proximal_distal_energy/run_two_hand_wscg_analysis.py
  tests/research/test_two_hand_wscg_analysis.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(research): explain passive two-hand couple reversal
  AGENT_HANDOFF.md
  SPEC.md
  docs/research/proximal_distal_energy_transfer/README.md
  docs/research/proximal_distal_energy_transfer/chapters/_appendices.qmd
  docs/research/proximal_distal_energy_transfer/chapters/_ch05_two_hand_wrench.qmd
  docs/research/proximal_distal_energy_transfer/figures/fig_two_hand_couple_decomposition.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_two_hand_couple_decomposition.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_two_hand_force_cancellation.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_two_hand_force_cancellation.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_two_hand_force_pose_montage.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_two_hand_force_pose_montage.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_two_hand_geometry_sweep.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_two_hand_geometry_sweep.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_two_hand_local_force_components.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_two_hand_local_force_components.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_two_hand_power_decomposition.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_two_hand_power_decomposition.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_two_hand_reference_transport.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_two_hand_reference_transport.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_two_hand_reversal_sensitivity.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_two_hand_reversal_sensitivity.svg
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.pdf
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.qmd
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.tex
  docs/research/proximal_distal_energy_transfer/sources/wscg_2024/SOURCE_REGISTER.md
  scripts/research/proximal_distal_energy/make_two_hand_wscg_figures.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: record two-hand wrench PR
  AGENT_HANDOFF.md
Due: none

feat(research): add energy-closed shaft-flex model
  scripts/research/proximal_distal_energy/flexible_shaft_study.py
  tests/research/test_flexible_shaft_study.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(research): separate shaft and force contributions
  docs/research/proximal_distal_energy_transfer/data/shaft_contribution_study.json
  docs/research/proximal_distal_energy_transfer/data/shaft_contribution_traces.npz
  scripts/research/proximal_distal_energy/flexible_shaft_study.py
  scripts/research/proximal_distal_energy/run_shaft_contribution_study.py
  tests/research/test_shaft_contribution_evidence.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(research): explain gravity and shaft-flex contributions
  AGENT_HANDOFF.md
  SPEC.md
  docs/research/proximal_distal_energy_transfer/README.md
  docs/research/proximal_distal_energy_transfer/chapters/_appendices.qmd
  docs/research/proximal_distal_energy_transfer/chapters/_ch06_shaft_contributions.qmd
  docs/research/proximal_distal_energy_transfer/figures/fig_shaft_acceleration_contributions.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_shaft_acceleration_contributions.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_shaft_energy_closure.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_shaft_energy_closure.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_shaft_matched_comparison.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_shaft_matched_comparison.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_shaft_model_schematic.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_shaft_model_schematic.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_shaft_physics_ablations.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_shaft_physics_ablations.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_shaft_pose_overlay.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_shaft_pose_overlay.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_shaft_robustness_maps.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_shaft_robustness_maps.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_shaft_window_timestep.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_shaft_window_timestep.svg
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.pdf
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.qmd
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.tex
  scripts/check_document_title_case.py
  scripts/research/proximal_distal_energy/make_shaft_contribution_figures.py
  tests/scripts/test_document_title_case.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: record shaft contribution pull request
  AGENT_HANDOFF.md
Due: none

feat(research): add higher-order mechanism ladder
  AGENT_HANDOFF.md
  SPEC.md
  docs/research/proximal_distal_energy_transfer/README.md
  docs/research/proximal_distal_energy_transfer/chapters/_appendices.qmd
  docs/research/proximal_distal_energy_transfer/chapters/_ch07_model_ladder.qmd
  docs/research/proximal_distal_energy_transfer/data/mechanism_ladder_study.json
  docs/research/proximal_distal_energy_transfer/data/mechanism_ladder_traces.npz
  docs/research/proximal_distal_energy_transfer/figures/fig_ladder_closed_loop.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_ladder_closed_loop.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_ladder_discrepancy_matrix.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_ladder_discrepancy_matrix.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_ladder_invariance_residuals.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_ladder_invariance_residuals.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_ladder_mobile_hub.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_ladder_mobile_hub.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_ladder_rotated_wrenches.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_ladder_rotated_wrenches.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_ladder_schematic.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_ladder_schematic.svg
  docs/research/proximal_distal_energy_transfer/figures/fig_ladder_three_link_observables.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_ladder_three_link_observables.svg
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.pdf
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.qmd
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.tex
  scripts/research/proximal_distal_energy/make_mechanism_ladder_figures.py
  scripts/research/proximal_distal_energy/mechanism_ladder.py
  scripts/research/proximal_distal_energy/run_mechanism_ladder_study.py
  tests/research/test_mechanism_ladder.py
  tests/research/test_mechanism_ladder_evidence.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: record mechanism ladder pull request
  AGENT_HANDOFF.md
Due: none

fix(docs): compact article PDF below guard limit
  AGENT_HANDOFF.md
  SPEC.md
  docs/research/proximal_distal_energy_transfer/README.md
  docs/research/proximal_distal_energy_transfer/chapters/_appendices.qmd
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.pdf
  scripts/research/proximal_distal_energy/optimize_article_pdf.py
  tests/research/test_optimize_article_pdf.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: record article compaction pull request
  AGENT_HANDOFF.md
Due: none

feat(research): define drift-control attribution contract
  docs/research/proximal_distal_energy_transfer/HAND_PATH_ATTRIBUTION_CONTRACT.md
  docs/research/proximal_distal_energy_transfer/README.md
  docs/research/proximal_distal_energy_transfer/references.bib
  src/shared/python/biomechanics/__init__.py
  src/shared/python/biomechanics/drift_control_transfer.py
  tests/unit/biomechanics/test_drift_control_transfer.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(research): add three-model attribution adapters
  scripts/research/proximal_distal_energy/double_pendulum_attribution.py
  scripts/research/proximal_distal_energy/one_arm_attribution.py
  scripts/research/proximal_distal_energy/two_arm_closed_loop.py
  tests/research/test_double_pendulum_attribution.py
  tests/research/test_one_arm_attribution.py
  tests/research/test_two_arm_closed_loop.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(research): define hand-path attribution framework
  docs/research/proximal_distal_energy_transfer/chapters/_ch03b_hand_path_attribution.qmd
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.qmd
Due: none

docs(research): ground effort and redundancy boundaries
  docs/research/proximal_distal_energy_transfer/chapters/_ch03b_hand_path_attribution.qmd
  docs/research/proximal_distal_energy_transfer/references.bib
Due: none

feat(research): test residual-couple preview hypothesis
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/HAND_PATH_ATTRIBUTION_CONTRACT.md
  docs/research/proximal_distal_energy_transfer/WSCG_2024_LEGACY_EVIDENCE_AUDIT.md
  docs/research/proximal_distal_energy_transfer/chapters/_ch03_interaction_forces.qmd
  docs/research/proximal_distal_energy_transfer/chapters/_ch03b_hand_path_attribution.qmd
  docs/research/proximal_distal_energy_transfer/data/two_hand_preactivation_hypothesis.json
  docs/research/proximal_distal_energy_transfer/data/two_hand_preactivation_hypothesis.npz
  docs/research/proximal_distal_energy_transfer/figures/fig_two_hand_preactivation_hypothesis.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_two_hand_preactivation_hypothesis.svg
  scripts/research/proximal_distal_energy/two_hand_preactivation_hypothesis.py
  tests/research/test_two_hand_preactivation_hypothesis.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(research): generate hand-path attribution evidence (#8465 #8466 #8468)
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_components.pdf
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_components.svg
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_force_vectors.pdf
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_force_vectors.svg
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_impulse_work.pdf
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_impulse_work.svg
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_phase_joint_shares.pdf
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_phase_joint_shares.svg
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_power_shares.pdf
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_power_shares.svg
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_sensitivity_closure.pdf
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_sensitivity_closure.svg
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_two_hand_common_differential.pdf
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_two_hand_common_differential.svg
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/hand_path_attribution_study.json
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/hand_path_attribution_traces.npz
  scripts/research/proximal_distal_energy/run_hand_path_attribution_study.py
  tests/research/test_hand_path_attribution_study.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(research): report hand-path attribution results (#8458)
  AGENT_HANDOFF.md
  SPEC.md
  docs/research/proximal_distal_energy_transfer/README.md
  docs/research/proximal_distal_energy_transfer/chapters/_ch03b_hand_path_attribution.qmd
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.qmd
Due: none

docs(research): finalize deterministic attribution publication (#8458)
  AGENT_HANDOFF.md
  SPEC.md
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_components.pdf
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_components.svg
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_force_vectors.pdf
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_force_vectors.svg
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_impulse_work.pdf
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_impulse_work.svg
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_phase_joint_shares.pdf
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_phase_joint_shares.svg
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_power_shares.pdf
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_power_shares.svg
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_sensitivity_closure.pdf
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_hand_path_sensitivity_closure.svg
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_two_hand_common_differential.pdf
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/figures/fig_two_hand_common_differential.svg
  docs/research/proximal_distal_energy_transfer/data/hand_path_attribution/hand_path_attribution_study.json
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.pdf
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.tex
  scripts/config/file_size_budget.json
  scripts/research/proximal_distal_energy/optimize_article_pdf.py
  scripts/research/proximal_distal_energy/run_hand_path_attribution_study.py
  src/shared/python/biomechanics/drift_control_transfer.py
  tests/research/test_hand_path_attribution_study.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(launcher): pin Tools providers to vendor source
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/provider_compatibility_harness.md
  src/config/launcher_manifest.json
  src/config/launcher_manifest_loader.py
  src/config/models.yaml
  src/shared/python/config/model_source_providers.py
  tests/config/launcher_manifest/test_manifest_loading.py
  tests/config/launcher_manifest/test_parity.py
  tests/config/test_launcher_manifest.py
  tests/config/wave5_config/test_provider_adapter.py
  tests/launchers/test_launcher_model_sources.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(launcher): harden pinned Tools authority
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/provider_compatibility_harness.md
  src/config/launcher_manifest_loader.py
  src/shared/python/config/model_source_providers.py
  src/shared/python/config/tools_vendor_authority.py
  tests/config/launcher_manifest/test_manifest_loading.py
  tests/config/test_launcher_manifest.py
  tests/launchers/test_launcher_model_sources.py
  tests/launchers/test_tools_vendor_authority.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(launcher): clear Tools provider release gates
  AGENT_HANDOFF.md
  SPEC.md
  src/shared/python/config/tools_vendor_authority.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(launcher): link immutable provider draft PR
  AGENT_HANDOFF.md
Due: none

fix(ui): clear current-main release gate defects
  AGENT_HANDOFF.md
  SPEC.md
  ui/package-lock.json
  ui/src/pages/CanonicalCoreShell.test.tsx
  ui/src/pages/CanonicalCoreShell.tsx
  ui/src/pages/canonicalCoreStatus.ts
  ui/src/stores/useEngineStore.test.ts
Due: no-debugger

refactor(physics): deduplicate terrain helper calculations
  AGENT_HANDOFF.md
  SPEC.md
  scripts/config/architecture_debt_policy.json
  scripts/config/module_size_budget_baseline.json
  src/shared/python/physics/terrain_representation.py
  tests/unit/physics/test_terrain_representation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(chat): finish dock compatibility split
  AGENT_HANDOFF.md
  SPEC.md
  scripts/config/file_size_budget.json
  scripts/config/module_size_budget_baseline.json
  src/shared/python/chat/_chat_dock_widget_qt.py
  src/shared/python/chat/_qt/runtime.py
  tests/unit/chat/test_chat_dock_decomposition.py
  tests/unit/repo_hygiene/test_sidekick_docs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(launcher): split shared tools diagnostics
  AGENT_HANDOFF.md
  SPEC.md
  scripts/config/architecture_budget.json
  scripts/config/file_size_budget.json
  scripts/config/module_size_budget_baseline.json
  src/launchers/launcher_diagnostics.py
  src/launchers/launcher_shared_tools_diagnostics.py
  tests/launchers/test_launcher_shared_tools_diagnostics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(launcher): split sidekick readiness ownership
  AGENT_HANDOFF.md
  SPEC.md
  scripts/config/file_size_budget.json
  src/launchers/launcher_sidekick_sidebar.py
  src/launchers/upstream_drift_launcher.py
  tests/unit/launcher/test_sidekick_startup_coordination.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(launcher): reuse owned sidekick manager
  AGENT_HANDOFF.md
  SPEC.md
  src/launchers/upstream_drift_launcher.py
  tests/unit/launcher/test_sidekick_startup_coordination.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(viewer): extract user segment renderer
  AGENT_HANDOFF.md
  SPEC.md
  scripts/config/file_size_budget.json
  scripts/config/module_size_budget_baseline.json
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/ui/tabs/_viewer_3d_segments.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/ui/tabs/viewer_3d_tab.py
  tests/unit/engines/simscape/three_d_gui/test_segment_editor.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(handoff): track viewer decomposition
  AGENT_HANDOFF.md
  SPEC.md
Due: none

docs(handoff): record viewer draft PR
  AGENT_HANDOFF.md
Due: none

refactor(launcher): decompose settings dialog
  AGENT_HANDOFF.md
  SPEC.md
  scripts/config/architecture_budget.json
  scripts/config/file_size_budget.json
  scripts/config/module_size_budget_baseline.json
  src/launchers/_settings_auxiliary_tabs.py
  src/launchers/settings_dialog.py
  src/launchers/settings_runtime.py
  tests/launchers/test_settings_dialog_decomposition.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(launcher): track settings decomposition
  AGENT_HANDOFF.md
  SPEC.md
Due: none

feat(research): define falsifiable spatial evidence contracts
  AGENT_HANDOFF.md
  SPEC.md
  docs/research/proximal_distal_energy_transfer/EVIDENCE_SCHEMA_V2.md
  docs/research/proximal_distal_energy_transfer/MODEL_COMPLETION_FALSIFICATION_MATRIX.md
  docs/research/proximal_distal_energy_transfer/README.md
  docs/research/proximal_distal_energy_transfer/data/model_completion_predictions.json
  src/shared/python/biomechanics/__init__.py
  src/shared/python/biomechanics/interaction_evidence.py
  tests/unit/biomechanics/test_interaction_evidence.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
