Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

refactor(motion): share bounded Bernstein controls
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/engines/physics_engines/pendulum/python/motion_matching/club_pendulum_match.py
  src/engines/physics_engines/pendulum/python/motion_matching/torque_optimization.py
  src/shared/python/motion_matching/bernstein_controls.py
  tests/unit/motion_matching/test_bernstein_controls.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(motion): record shared control handoff
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
Due: none

fix(ui-deps): align @vitest/coverage-v8 and jest-dom typings with vitest 5
  ui/package-lock.json
  ui/package.json
  ui/src/test/jest-dom-vitest.d.ts
Due: no-debugger

fix(ui-deps): bump @react-three/fiber and react-dom to match react 19.3
  ui/package-lock.json
  ui/package.json
Due: none

perf(api): bound analysis history and aggregate statistics off the event loop (#8941)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/api/routes/analysis_tools.py
  tests/unit/api/test_analysis_statistics_window.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

perf(dashboard): debounce and memoize analysis tab refreshes (#8932)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/shared/python/dashboard/_analysis_refresh.py
  src/shared/python/dashboard/advanced_analysis.py
  tests/conftest.py
  tests/unit/shared_python/test_analysis_tab_refresh.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(dashboard): share transform-tab scaffold to satisfy DRY gate (#8932)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/shared/python/dashboard/advanced_analysis.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(shared-tools): register dashboard/_analysis_refresh.py in divergence inventory (#8932)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

fix(tests): keep TB-04 receipt test output out of committed evidence
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/physics_engines/pendulum/python/motion_matching/qualification.py
  tests/unit/engines/physics_engines/pendulum/test_double_pendulum_fit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): add #10737 change-log row
  SPEC.md
Due: none

fix(dashboard): declare update_plot instead of a NotImplementedError stub (#8932)
  src/shared/python/dashboard/advanced_analysis.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(pendulum): repair constrained upper-body fitting foundation
  src/engines/physics_engines/pendulum/python/motion_matching/adapters_golfer.py
  src/engines/physics_engines/pendulum/python/motion_matching/torque_optimization_golfer.py
  src/shared/python/pendulum_simulator/upper_body_replay.py
  tests/unit/engines/physics_engines/pendulum/test_golfer_fit.py
  tests/unit/pendulum_simulator/test_upper_body_replay.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(motion): record merged controls prerequisite
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
Due: none

docs(motion): record repaired TB-06 fit foundation
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

fix(pendulum): share Bernstein fit residual assembly
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  src/engines/physics_engines/pendulum/python/motion_matching/torque_optimization.py
  src/engines/physics_engines/pendulum/python/motion_matching/torque_optimization_golfer.py
  src/shared/python/motion_matching/bernstein_controls.py
  tests/unit/motion_matching/test_bernstein_controls.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(pendulum): centralize Bernstein residual policy
  AGENT_HANDOFF.md
  src/engines/physics_engines/pendulum/python/motion_matching/torque_optimization.py
  src/engines/physics_engines/pendulum/python/motion_matching/torque_optimization_golfer.py
  src/shared/python/motion_matching/bernstein_controls.py
  tests/unit/motion_matching/test_bernstein_controls.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(pendulum): share bounded Bernstein solver
  AGENT_HANDOFF.md
  src/engines/physics_engines/pendulum/python/motion_matching/torque_optimization.py
  src/engines/physics_engines/pendulum/python/motion_matching/torque_optimization_golfer.py
  src/shared/python/motion_matching/bernstein_controls.py
  tests/unit/motion_matching/test_bernstein_controls.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(rig): map session cameras to Tools CameraCapabilities (#9604)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/motion_capture/capture_rig.md
  src/motion_capture/rig/tools_bridge.py
  tests/fixtures/mocap_session_export/export_checks.py
  tests/motion_capture/rig/test_tools_session_export.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

Fold dependabot UI bumps #10725 #10726 #10727 #10728 #10729
  ui/package-lock.json
  ui/package.json
  ui/src/test/jest-dom-vitest.d.ts
Due: no-debugger

chore(agent-context): regenerate views for the tools_bridge source fingerprint (#9604)
  docs/agent_context/README.md
  docs/agent_context/index.html
Due: none

docs(planning): preserve six external validation scopes
  AGENTS.md
  AGENT_HANDOFF.md
  CLAUDE.md
  README.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/planning/DV-10375.md
  docs/development/planning/DV-10382.md
  docs/development/planning/DV-9546.md
  docs/development/planning/DV-9613.md
  docs/development/planning/DV-9619.md
  docs/development/planning/DV-9700.md
  docs/development/planning/README.md
  docs/development/planning/catalog.json
  docs/development/planning/source-10375.json
  docs/development/planning/source-10382.json
  docs/development/planning/source-9546.json
  docs/development/planning/source-9613.json
  docs/development/planning/source-9619.json
  docs/development/planning/source-9700.json
Due: none
