Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

chore: move root review docs to docs/ and remove duplicate CI/CD assessment (#1966)
  docs/BUILD_INFRASTRUCTURE_REVIEW.md
  docs/CONFIG_ISSUES_QUICK_REFERENCE.md
  docs/INFRASTRUCTURE_REVIEW_INDEX.md
  docs/assessments/Assessment_H_CICD.md
  docs/assessments/README.md
Due: none

docs: generate completist audit report for implementation gaps (#1968)
  .jules/completist_data/abstract_methods.txt
  .jules/completist_data/incomplete_docs.txt
  .jules/completist_data/not_implemented.txt
  .jules/completist_data/stub_functions.txt
  .jules/completist_data/todo_markers.txt
  docs/assessments/README.md
  docs/assessments/completist/Completist_Report_2026-03-19.md
Due: none

fix(engines): pinocchio stability and test loading roots (#1958)
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/physics_engine.py
  src/engines/physics_engines/pinocchio/python/__init__.py
  src/engines/physics_engines/pinocchio/python/dtack/utils/matlab_importer.py
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/__init__.py
  src/engines/physics_engines/pinocchio/python/pinocchio_physics_engine.py
  src/shared/python/engine_core/engine_availability.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: Centralize screw axis kinematics and UI toggles across engines
  src/engines/physics_engines/drake/python/src/screw_theory/__init__.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/screw_kinematics.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/sim_rendering_mixin.py
  src/shared/python/pendulum_simulator/golfer_constraints.py
  src/shared/python/pendulum_simulator/golfer_kinematics.py
  src/shared/python/pendulum_simulator/gui/clipboard_utils.py
  src/shared/python/pendulum_simulator/gui/controls_widget.py
  src/shared/python/pendulum_simulator/gui/controls_widget_base.py
  src/shared/python/pendulum_simulator/gui/golfer_pendulum_widget.py
  src/shared/python/pendulum_simulator/gui/main_window.py
  src/shared/python/pendulum_simulator/gui/matrix_widget_base.py
  src/shared/python/pendulum_simulator/gui/optimization_widget.py
  src/shared/python/pendulum_simulator/gui/simulation_panel.py
  src/shared/python/pendulum_simulator/joint_moments.py
  src/shared/python/pendulum_simulator/optimizer_gpu.py
  src/shared/python/pendulum_simulator/physics_golfer_jax.py
  src/shared/python/pendulum_simulator/simulation_golfer_gpu.py
  src/shared/python/pendulum_simulator/simulation_result_base.py
  src/shared/python/screw_theory/__init__.py
  src/shared/python/screw_theory/kinematics.py
  src/shared/python/screw_theory/ui.py
  src/shared/python/screw_theory/visualization.py
  src/shared/python/ui/simulation_gui_base.py
  tests/shared/python/screw_theory/test_kinematics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test: Implement heavy workflow diagnostics and API config coverage
  src/shared/python/validation_pkg/workflow_diagnostics.py
  tests/integration/test_c3d_workflow.py
  tests/shared/python/validation_pkg/test_workflow_diagnostics.py
  tests/unit/api/test_config.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: Type annotation error in perturbation_analysis
  src/shared/python/pendulum_simulator/perturbation_analysis.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test: Complete heavy integration test suite for all third-party tools
  .github/workflows/heavy-tests-opt-in.yml
  Dockerfile.heavy_test
  docs/development/heavy_test_coverage_issues.md
  run_local_heavy_tests.sh
  tests/heavy_integration/test_c3d_data_pipeline.py
  tests/heavy_integration/test_cross_engine_integration.py
  tests/heavy_integration/test_engine_model_loading.py
  tests/heavy_integration/test_meshcat_visualization.py
  tests/heavy_integration/test_myosuite_muscles.py
  tests/heavy_integration/test_opensim_muscles.py
  tests/heavy_integration/test_opensim_myosuite_wiring.py
  tests/heavy_integration/test_phase1_drake_integration.py
  tests/heavy_integration/test_phase1_security_integration.py
  tests/heavy_integration/test_physics_consistency.py
  tests/heavy_integration/test_pink_ik_integration.py
  tests/heavy_integration/test_putting_green_engine.py
  tests/heavy_integration/test_pyvista_vtk_integration.py
  tests/heavy_integration/test_real_engine_loading.py
  tests/heavy_integration/test_scipy_sympy_contracts.py
  tests/heavy_integration/test_trimesh_integration.py
Due: pytest-unit

Add perturbation analysis parity guidelines and GitHub issue templates for all engines
  docs/perturbation_analysis_parity_guidelines.md
  issues/006_pendulum_perturbation_analysis_core.md
  issues/007_pinocchio_perturbation_analysis_core.md
  issues/008_drake_perturbation_analysis_core.md
  issues/009_mujoco_perturbation_analysis_core.md
  issues/010_opensim_perturbation_analysis_core.md
  issues/011_myosuite_perturbation_analysis_core.md
  issues/012_cross_engine_perturbation_comparison.md
  scripts/create_perturbation_issues.sh
Due: none

fix: ruff and black formatting for heavy test suite
  tests/heavy_integration/conftest.py
  tests/heavy_integration/test_c3d_data_pipeline.py
  tests/heavy_integration/test_cross_engine_integration.py
  tests/heavy_integration/test_engine_model_loading.py
  tests/heavy_integration/test_meshcat_visualization.py
  tests/heavy_integration/test_myosuite_muscles.py
  tests/heavy_integration/test_opensim_muscles.py
  tests/heavy_integration/test_opensim_myosuite_wiring.py
  tests/heavy_integration/test_phase1_drake_integration.py
  tests/heavy_integration/test_phase1_security_integration.py
  tests/heavy_integration/test_physics_consistency.py
  tests/heavy_integration/test_pink_ik_integration.py
  tests/heavy_integration/test_putting_green_engine.py
  tests/heavy_integration/test_pyvista_vtk_integration.py
  tests/heavy_integration/test_real_engine_loading.py
  tests/heavy_integration/test_scipy_sympy_contracts.py
  tests/heavy_integration/test_trimesh_integration.py
  tests/heavy_integration/test_upstream_contracts.py
Due: pytest-unit

feat(perturbation): Introduce unified perturbation parity protocol and models
  src/shared/python/perturbation/__init__.py
  src/shared/python/perturbation/config.py
  src/shared/python/perturbation/noise.py
  src/shared/python/perturbation/robustness_score.py
  src/shared/python/perturbation/statistics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: auto-apply live_simulation marker + fix pre-push hooks (fixes #1995) (#1997)
  .pre-commit-config.yaml
  docs/development/heavy_test_coverage_issues.md
  docs/perturbation_analysis_parity_guidelines.md
  issues/006_pendulum_perturbation_analysis_core.md
  issues/007_pinocchio_perturbation_analysis_core.md
  issues/008_drake_perturbation_analysis_core.md
  issues/009_mujoco_perturbation_analysis_core.md
  issues/010_opensim_perturbation_analysis_core.md
  issues/011_myosuite_perturbation_analysis_core.md
  issues/012_cross_engine_perturbation_comparison.md
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/sim_rendering_mixin.py
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/__init__.py
  src/shared/python/model_generation/editor/text_editor.py
  src/shared/python/pendulum_simulator/gui/controls_utils.py
  src/shared/python/pendulum_simulator/gui/popout_chart.py
  src/shared/python/pendulum_simulator/physics_triple.py
  src/shared/python/pendulum_simulator/simulation.py
  src/shared/python/pendulum_simulator/simulation_triple.py
  src/shared/python/perturbation/config.py
  src/shared/python/perturbation/noise.py
  src/tools/model_explorer/component_library.py
  tests/heavy_integration/conftest.py
  tests/heavy_integration/test_myosuite_muscles.py
  tests/heavy_integration/test_opensim_muscles.py
  tests/heavy_integration/test_opensim_myosuite_wiring.py
  tests/heavy_integration/test_physics_consistency.py
  tests/heavy_integration/test_pink_ik_integration.py
  tests/heavy_integration/test_pyvista_vtk_integration.py
  tests/heavy_integration/test_real_engine_loading.py
  tests/heavy_integration/test_upstream_contracts.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: heavy integration tests for 10 engine/library subsystems (fixes #1984-#1994) (#1998)
  tests/heavy_integration/test_drake_real_model_loading.py
  tests/heavy_integration/test_ezdxf_cad_export.py
  tests/heavy_integration/test_humanoid_mesh_pipeline.py
  tests/heavy_integration/test_mediapipe_tasks_api.py
  tests/heavy_integration/test_motion_training_ik.py
  tests/heavy_integration/test_openpose_camera_pipeline.py
  tests/heavy_integration/test_pinocchio_urdf_loading.py
  tests/heavy_integration/test_pyqt6_gui_components.py
  tests/heavy_integration/test_screw_theory_integration.py
  tests/heavy_integration/test_simscape_c3d_viewer.py
Due: pytest-unit

fix: heavy test parity audit — remove broken workflow, add dep check (fixes #1992) (#1999)
  .github/workflows/ci-standard.yml
  .github/workflows/heavy-integration-tests.yml
  .github/workflows/heavy-tests-opt-in.yml
  Dockerfile.heavy_test
  scripts/check_heavy_dep_parity.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat: PendulumPerturbationAnalyzer reference implementation (#1977)
  src/shared/python/pendulum_simulator/pendulum_perturbation_analyzer.py
  tests/unit/analysis/test_pendulum_perturbation_analyzer.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: PinocchioPerturbationAnalyzer protocol implementation (#1978)
  src/engines/physics_engines/pinocchio/python/perturbation/__init__.py
  src/engines/physics_engines/pinocchio/python/perturbation/analyzer.py
  tests/unit/engines/pinocchio/test_pinocchio_perturbation_analyzer.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: DrakePerturbationAnalyzer protocol implementation (#1979)
  src/engines/physics_engines/drake/python/perturbation/__init__.py
  src/engines/physics_engines/drake/python/perturbation/analyzer.py
  tests/unit/engines/drake/test_drake_perturbation_analyzer.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: MuJoCoPerturbationAnalyzer protocol implementation (#1980)
  src/engines/physics_engines/mujoco/python/perturbation/__init__.py
  src/engines/physics_engines/mujoco/python/perturbation/analyzer.py
  tests/unit/engines/mujoco/test_mujoco_perturbation_analyzer.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: OpenSimPerturbationAnalyzer protocol implementation (#1981)
  src/engines/physics_engines/opensim/python/perturbation/__init__.py
  src/engines/physics_engines/opensim/python/perturbation/analyzer.py
  tests/unit/engines/opensim/test_opensim_perturbation_analyzer.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: MyoSuitePerturbationAnalyzer protocol implementation (#1982)
  src/engines/physics_engines/myosuite/python/perturbation/__init__.py
  src/engines/physics_engines/myosuite/python/perturbation/analyzer.py
  tests/unit/engines/myosuite/__init__.py
  tests/unit/engines/myosuite/test_myosuite_perturbation_analyzer.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: Cross-Engine Perturbation Comparison Framework (#1983)
  src/shared/python/perturbation/cross_engine_runner.py
  tests/unit/test_cross_engine_perturbation_runner.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#1951): audit pytest.mark.skip, convert to xfail where appropriate (#2008)
  tests/api/test_engine_loading.py
  tests/integration/test_energy_conservation.py
  tests/parity/test_ball_flight_parity.py
  tests/security/test_rate_limiting.py
  tests/test_urdf_tools.py
  tests/unit/test_advanced_analysis.py
  tests/unit/test_api_security.py
  tests/unit/test_api_services.py
  tests/unit/test_golf_launcher_basic.py
  tests/unit/test_golf_launcher_logic.py
  tests/unit/test_mediapipe_estimator.py
  tests/unit/test_ux_enhancements.py
Due: pytest-unit

feat(pendulum): integrate unified perturbation analyzer and gui
  src/shared/python/pendulum_simulator/gui/perturbation_panel.py
  src/shared/python/pendulum_simulator/perturbation_analysis.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(discovery): add 5 stories from GitHub issues [fleet-discovery]
  .gaai/project/contexts/artefacts/stories/GH1744.story.md
  .gaai/project/contexts/artefacts/stories/GH1949.story.md
  .gaai/project/contexts/artefacts/stories/GH1953.story.md
  .gaai/project/contexts/artefacts/stories/GH1956.story.md
  .gaai/project/contexts/artefacts/stories/GH1957.story.md
  .gaai/project/contexts/backlog/.discovered-issues
  .gaai/project/contexts/backlog/active.backlog.yaml
Due: none

feat(#1957): add test coverage for all example scripts (#2009)
  src/shared/python/pendulum_simulator/gui/perturbation_panel.py
  src/shared/python/pendulum_simulator/perturbation_analysis.py
  tests/unit/engines/mujoco/test_telemetry.py
  tests/unit/test_examples.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(#1956): enforce lazy-loading of engine packages in dashboard launchers (#2013)
  src/launchers/drake_dashboard.py
  src/launchers/mujoco_dashboard.py
  src/launchers/pinocchio_dashboard.py
  tests/launchers/test_dashboards.py
  tests/launchers/test_lazy_imports.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(#1953): centralize screw axis visualizations across Pendulum, Pinocchio, and OpenSim engines (#2012)
  src/engines/physics_engines/opensim/python/opensim_screw_kinematics.py
  src/engines/physics_engines/pendulum/python/pendulum_screw_kinematics.py
  src/engines/physics_engines/pinocchio/python/pinocchio_screw_kinematics.py
  tests/unit/engines/opensim/test_screw_kinematics.py
  tests/unit/engines/pendulum/test_screw_kinematics.py
  tests/unit/engines/pinocchio/test_screw_kinematics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(engines): DRY perturbation mode extracting (#2011)
  src/engines/physics_engines/drake/python/perturbation/analyzer.py
  src/engines/physics_engines/mujoco/python/perturbation/analyzer.py
  src/engines/physics_engines/myosuite/python/perturbation/analyzer.py
  src/engines/physics_engines/opensim/python/perturbation/analyzer.py
  src/engines/physics_engines/pinocchio/python/perturbation/analyzer.py
  tests/unit/engines/drake/test_drake_perturbation_analyzer.py
  tests/unit/engines/mujoco/test_mujoco_perturbation_analyzer.py
  tests/unit/engines/myosuite/test_myosuite_perturbation_analyzer.py
  tests/unit/engines/opensim/test_opensim_perturbation_analyzer.py
  tests/unit/engines/pinocchio/test_pinocchio_perturbation_analyzer.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: add repo-specific CLAUDE.md, project rules (TDD/DRY/DbC/LOD), and fix backlog YAML
  .gaai/project/contexts/backlog/active.backlog.yaml
  .gaai/project/contexts/rules/project.rules.md
  CLAUDE.md
Due: none

test(#1949,#1744): add unit tests for shared cors module (#2015)
  tests/unit/test_cors.py
Due: pytest-unit

test(#1949,#1744): add unit tests for engine_core/capabilities (#2016)
  tests/unit/test_engine_capabilities.py
  tests/unit/test_logging_config.py
Due: pytest-unit

test(#1949,#1744): add unit tests for engine_core/engine_availability (#2017)
  tests/unit/test_engine_availability.py
Due: pytest-unit

chore(GH1957): in_progress [daemon]
  .gaai/project/contexts/backlog/active.backlog.yaml
Due: none

chore(GH1956): in_progress [daemon]
  .gaai/project/contexts/backlog/active.backlog.yaml
Due: none

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
