Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

chore: remove accidentally committed empty file
  Types,
Due: none

chore: remove accidentally committed empty file (#1430)
  Types,
Due: none

refactor: split head_models.py into pendulum and golf swing XML modules
  src/engines/physics_engines/mujoco/golf_swing_models_xml.py
  src/engines/physics_engines/mujoco/head_models.py
  src/engines/physics_engines/mujoco/pendulum_models_xml.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: split head_models.py into pendulum and golf swing XML modules (#1431)
  src/engines/physics_engines/mujoco/golf_swing_models_xml.py
  src/engines/physics_engines/mujoco/head_models.py
  src/engines/physics_engines/mujoco/pendulum_models_xml.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: decompose HumanoidLauncher into UISetupMixin, SimulationMixin, AnalysisMixin
  src/engines/physics_engines/mujoco/python/humanoid_launcher.py
  src/engines/physics_engines/mujoco/python/humanoid_launcher_analysis.py
  src/engines/physics_engines/mujoco/python/humanoid_launcher_sim.py
  src/engines/physics_engines/mujoco/python/humanoid_launcher_ui.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: decompose HumanoidLauncher into UISetupMixin, SimulationMixin, AnalysisMixin (#1432)
  src/engines/physics_engines/mujoco/python/humanoid_launcher.py
  src/engines/physics_engines/mujoco/python/humanoid_launcher_analysis.py
  src/engines/physics_engines/mujoco/python/humanoid_launcher_sim.py
  src/engines/physics_engines/mujoco/python/humanoid_launcher_ui.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(assessment): pre-assessment data collection
  .jules/completist_data/abstract_methods.txt
  .jules/completist_data/incomplete_docs.txt
  .jules/completist_data/not_implemented.txt
  .jules/completist_data/todo_markers.txt
  docs/assessments/archive/Assessment_A_Code_Structure_archived_2026-02-15.md
  docs/assessments/archive/Assessment_B_Documentation_archived_2026-02-15.md
  docs/assessments/archive/Assessment_C_Test_Coverage_archived_2026-02-15.md
  docs/assessments/archive/Assessment_DBC_DRY_TDD_2026-02-12_archived_2026-02-15.md
  docs/assessments/archive/Assessment_DBC_DRY_TDD_2026-02-12_v2_archived_2026-02-15.md
  docs/assessments/archive/Assessment_D_Error_Handling_archived_2026-02-15.md
  docs/assessments/archive/Assessment_E_Performance_archived_2026-02-15.md
  docs/assessments/archive/Assessment_F_Security_archived_2026-02-15.md
  docs/assessments/archive/Assessment_G_Dependencies_archived_2026-02-15.md
  docs/assessments/archive/Assessment_H_CICD_archived_2026-02-15.md
  docs/assessments/archive/Assessment_I_Code_Style_archived_2026-02-15.md
  docs/assessments/archive/Assessment_J_API_Design_archived_2026-02-15.md
  docs/assessments/archive/Assessment_K_Data_Handling_archived_2026-02-15.md
  docs/assessments/archive/Assessment_L_Logging_archived_2026-02-15.md
  docs/assessments/archive/Assessment_M_Configuration_archived_2026-02-15.md
  docs/assessments/archive/Assessment_N_Scalability_archived_2026-02-15.md
  docs/assessments/archive/Assessment_O_Maintainability_archived_2026-02-15.md
  docs/assessments/archive/Comprehensive_Assessment_archived_2026-02-15.md
Due: none

refactor: decompose drake_gui_app.py into 4 mixin files (-78%)
  src/engines/physics_engines/drake/python/src/drake_gui_analysis.py
  src/engines/physics_engines/drake/python/src/drake_gui_app.py
  src/engines/physics_engines/drake/python/src/drake_gui_sim.py
  src/engines/physics_engines/drake/python/src/drake_gui_ui.py
  src/engines/physics_engines/drake/python/src/drake_gui_viz.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test: expand drake_gui_app tests to 22 tests covering analyzer and recorder
  tests/unit/test_drake_gui_app.py
Due: pytest-unit

style: black format test_drake_gui_app.py
  tests/unit/test_drake_gui_app.py
Due: pytest-unit

refactor: decompose drake_gui_app.py into 4 mixin files (#1440)
  src/engines/physics_engines/drake/python/src/drake_gui_analysis.py
  src/engines/physics_engines/drake/python/src/drake_gui_app.py
  src/engines/physics_engines/drake/python/src/drake_gui_sim.py
  src/engines/physics_engines/drake/python/src/drake_gui_ui.py
  src/engines/physics_engines/drake/python/src/drake_gui_viz.py
  tests/unit/test_drake_gui_app.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Update competitor analysis document (#1433)
  docs/competitive_analysis/COMPETITOR_ANALYSIS.md
Due: none

Physics Audit Report & Issue Tracking (#1434)
  docs/assessments/README.md
  docs/assessments/issues/ISSUE_P001_AERODYNAMICS_COEFFICIENTS.md
  docs/assessments/issues/ISSUE_P002_GRF_FALLBACK.md
  docs/assessments/issues/ISSUE_P003_SHAFT_TORSION.md
  docs/assessments/issues/ISSUE_P004_EFFICIENCY_SCORE_PATENT.md
  docs/assessments/issues/ISSUE_P005_IMPACT_EFFECTIVE_MASS.md
  docs/assessments/physics/Physics_Audit_2025-02-24.md
Due: none

Completist Audit Report 2026-02-15 (#1435)
  docs/assessments/README.md
  docs/assessments/completist/Completist_Report_2026-02-15.md
  docs/assessments/issues/ISSUE_CRITICAL_PyVista_Backend.md
  docs/assessments/issues/ISSUE_CRITICAL_UnrealBridge_Backend.md
Due: none

docs: update IDEAS.md with new research topics in biomechanics, equipment, and simulation (#1438)
  docs/IDEAS.md
Due: none

Update Patent Risk Assessment: Injury Scoring & Shaft Model (#1439)
  docs/assessments/README.md
  docs/assessments/issues/ISSUE_016_INJURY_RISK_SCORING.md
  docs/legal/patents/PATENT_REVIEW.md
  docs/legal/patents/patent_alerts_2026-02-24.md
Due: none

fix: resolve all mypy CI errors across 588 source files
  pyproject.toml
  src/research/mpc/specialized.py
  src/shared/python/club_data/loader.py
  src/shared/python/core/constants.py
  src/shared/python/core/contracts.py
  src/shared/python/data_io/data_utils.py
  src/shared/python/physics/impact_model.py
  src/shared/python/signal_toolkit/calculus.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

Implement PyVista and UnrealBridge Viewer Backends (#1441)
  scripts/verify_backends.py
  src/unreal_integration/viewer_backends.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: add type: ignore for np.trapz compat shim (attr-defined)
  src/shared/python/signal_toolkit/calculus.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: resolve mypy errors in viewer_backends.py and align autofix with ruff format
  src/unreal_integration/viewer_backends.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: resolve all mypy CI errors across 588 source files (#1442)
  .github/workflows/Jules-PR-AutoFix.yml
  pyproject.toml
  src/research/mpc/specialized.py
  src/shared/python/club_data/loader.py
  src/shared/python/core/constants.py
  src/shared/python/core/contracts.py
  src/shared/python/data_io/data_utils.py
  src/shared/python/physics/impact_model.py
  src/shared/python/signal_toolkit/calculus.py
  src/unreal_integration/viewer_backends.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

test: add unit tests for core utilities (type_utils, datetime_utils, error_utils)
  tests/unit/core/test_datetime_utils.py
  tests/unit/core/test_error_utils.py
  tests/unit/core/test_type_utils.py
  tests/unit/data_io/test_path_utils.py
  tests/unit/engines/test_state.py
  tests/unit/injury/test_injury_risk.py
  tests/unit/spatial_algebra/test_pose6dof.py
  tests/unit/spatial_algebra/test_spatial_vectors.py
  tests/unit/unreal_integration/test_geometry.py
  tests/unit/utils/test_datetime_compat.py
  tests/unit/utils/test_error_codes.py
  tests/unit/utils/test_path_validation.py
Due: pytest-unit
