Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

fix(hygiene): --ignore-submodules=none in vendor test; enforce sunset_date expiry (closes #5626, closes #5627) (#5652)
  tests/unit/repo_hygiene/test_no_shadow_of_tools_shared.py
  tests/unit/repo_hygiene/test_vendor_submodule_clean.py
Due: pytest-unit

feat(mcp): wire McpClientPool into chat panel (closes #5615) (#5655)
  src/shared/python/ai/gui/assistant_panel.py
  src/shared/python/ai/mcp/__init__.py
  src/shared/python/ai/mcp/contracts.py
  src/shared/python/ai/mcp/mcp_chat_integration.py
  src/shared/python/ai/mcp/pool.py
  tests/unit/ai/mcp/__init__.py
  tests/unit/ai/mcp/test_mcp_chat_integration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(launcher): consume shared MCP widgets from Tools (UpstreamDrift) (#5653)
  src/launchers/integrations_health_window.py
  src/launchers/launcher_dialogs.py
  src/launchers/preferences/__init__.py
  src/launchers/preferences/mcp_servers_section.py
  tests/unit/launchers/preferences/__init__.py
  tests/unit/launchers/preferences/test_mcp_servers_section.py
  tests/unit/launchers/test_integrations_health_window.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(sidekick): regression guard for python-repl tab wiring (UD #5649) (#5656)
  tests/unit/sidekick/test_python_repl_tab_wiring.py
Due: pytest-unit

fix(ci): add concurrency group and timeout to Docker Size workflow
  .github/workflows/docker-size-gates.yml
Due: none

ci: cache optimizations for long-running workflows (#5664)
  .github/workflows/ci-optional-stack.yml
  .github/workflows/tauri-build.yml
Due: none

fix(ci): use d-sorg-fleet runner in workflow lint and anti-phantom guard (#5667)
  .github/workflows/anti-phantom-merge.yml
  .github/workflows/lint-workflow-files.yml
Due: none

ci: comprehensive caching campaign for pip across UD workflows (#5668)
  .github/workflows/Comment-to-Issue-Converter.yml
  .github/workflows/Jules-Assessment-AutoFix.yml
  .github/workflows/Jules-Assessment-Generator.yml
  .github/workflows/Jules-Auto-Repair.yml
  .github/workflows/Jules-Code-Quality-Fixer.yml
  .github/workflows/Jules-Code-Quality-Reviewer.yml
  .github/workflows/Jules-Comment-Processor.yml
  .github/workflows/Jules-Completist.yml
  .github/workflows/Jules-Comprehensive-Assessment.yml
  .github/workflows/Jules-Critics-Comments.yml
  .github/workflows/Jules-Documentation-Auditor.yml
  .github/workflows/Jules-Issue-Resolver.yml
  .github/workflows/Jules-Laymans-Terms-Writer.yml
  .github/workflows/Jules-PR-AutoFix.yml
  .github/workflows/Jules-Physics-Auditor.yml
  .github/workflows/Jules-Redundant-PR-Closer.yml
  .github/workflows/Jules-Sentinel.yml
  .github/workflows/Jules-Tech-Custodian.yml
  .github/workflows/Jules-Tech-Debt-Assessor.yml
  .github/workflows/ci-engine-models.yml
  .github/workflows/cross-engine-equivalence.yml
  .github/workflows/cross-engine-leaderboard-publish.yml
  .github/workflows/cross-engine-leaderboard.yml
  .github/workflows/humanoid-models-drift.yml
  .github/workflows/nightly-cross-engine.yml
  .github/workflows/quality-gate.yml
  .github/workflows/realtime-soak.yml
  .github/workflows/urdf-cross-engine-equivalence.yml
  .github/workflows/vendor-freshness.yml
Due: none

fix(workflows): repair pre-existing broken YAMLs (stray bash lines as top-level keys) (#5669)
  .github/workflows/Code-Metrics.yml
  .github/workflows/ci-standard.yml
  .github/workflows/release.yml
Due: none

fix(workflow-lint): allowlist publish/release workflows for cancel-in-progress exception (#5670)
  .github/workflows/lint-workflow-files.yml
Due: none

fix(workflows): repair Jules-Control-Tower and harden lint to prevent recurrence (#5671)
  .github/workflows/Jules-Control-Tower.yml
  .github/workflows/lint-workflow-files.yml
Due: none

fix(workflows): broaden paths filters per Codex review feedback (UD #5666, #5658) (#5672)
  .github/workflows/docker-size-gates.yml
  .github/workflows/spec-check.yml
Due: none

ci: add issue-closure-policy workflow to prevent phantom-close pattern (#5674)
  .github/workflows/issue-closure-policy.yml
Due: none

feat(chat): add attachments/markdown/paste-image/retry/quick-actions to ChatPanel (#5675)
  ui/src/components/ui/ChatPanel.test.tsx
  ui/src/components/ui/ChatPanel.tsx
  ui/src/components/ui/chatMarkdown.tsx
Due: no-debugger

fix(anti-phantom): add retry loop to handle API propagation race (mirror of Tools #2941) (#5678)
  .github/workflows/anti-phantom-merge.yml
Due: none

feat(ci): add cache:pip to setup-python in ci-standard.yml (closes UD caching gap from #5668) (#5679)
  .github/workflows/ci-standard.yml
Due: none

ci(standard): parallelize jobs after pick-runner + fail-fast: false on matrix (#5680)
  .github/workflows/ci-standard.yml
Due: none

test(bunkershot3d): add real mpm driver tests and calibration doc
  docs/bunkershot3d/calibration.md
  tests/bunkershot3d/test_mpm_driver_real.py
Due: pytest-unit

policy(ci): migrate hosted-runner workflows to d-sorg-fleet (#5683)
  .github/workflows/Stub-Introduction-Guard.yml
  .github/workflows/Verify-Issue-Closure.yml
  .github/workflows/cross-engine-leaderboard-publish.yml
  .github/workflows/cross-engine-leaderboard.yml
  .github/workflows/docs-currency-warning.yml
  .github/workflows/motion-matching-leaderboard.yml
  .github/workflows/realtime-soak.yml
Due: none

test(bunkershot3d): add angle of repose calibration DEM tests
  tests/bunkershot3d/test_angle_of_repose_calibration.py
Due: pytest-unit

fix: stabilize sidekick ui layout and update vendored tools
  src/launchers/custom_title_bar.py
  src/launchers/feature_menu.py
  src/launchers/golf_launcher.py
  src/launchers/launcher_dialogs.py
  src/launchers/launcher_ui_setup.py
  src/shared/python/gui_launcher/tools_sidebar_integration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: resolve dead chat link and update titlebar UI aesthetics
  src/launchers/custom_title_bar.py
  src/launchers/launcher_dialogs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: stabilize frameless window management and refresh title bar styling
  src/launchers/custom_title_bar.py
  src/launchers/golf_launcher.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: resolve PyQt6 SIP pointer type error during native resize events
  .kiro/launcher/layout.json
  src/launchers/golf_launcher.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: remove nativeEvent hook to resolve C++ PyQt6 memory access crash on startup
  src/launchers/golf_launcher.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: implement manual frameless window edge resizing, update vendored ud-tools UI fixes
  .kiro/launcher/layout.json
  src/launchers/golf_launcher.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(ui): finalize Sidekick popout, settings, file explorer, and resizing fixes
  .kiro/launcher/layout.json
  crash_log.txt
  docs/development/sidekick_ui_roadmap.md
  error3.txt
  launcher_log.txt
  src/launchers/custom_title_bar.py
  src/launchers/golf_launcher.py
  src/launchers/launcher_ui_setup.py
  stderr.txt
  stdout.txt
  test_event_filter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: restore launcher_ui_setup layout initialization indentation
  .kiro/launcher/layout.json
  src/launchers/golf_suite_launcher.py
  src/launchers/launcher_ui_setup.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

ci: replace stub runner guard with real enforcement; fix 5 hosted-runner leaks
  .github/workflows/Jules-Diff-Verifier.yml
  .github/workflows/ci-standard.yml
  .github/workflows/issue-closure-policy.yml
  .github/workflows/local-only-runner-guard.yml
Due: none

feat: stabilize sidekick toggling and hover states
  src/launchers/golf_launcher.py
  src/launchers/launcher_dialogs.py
  src/launchers/launcher_ui_setup.py
  src/launchers/model_card.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: rename view modes to Large/Medium/Small/List, fix sidekick startup, compact list mode
  .kiro/launcher/layout.json
  pyproject.toml
  src/launchers/embedded_tool_bootstrap.py
  src/launchers/golf_launcher.py
  src/launchers/launcher_constants.py
  src/launchers/launcher_layout_manager.py
  src/launchers/launcher_ui_setup.py
  src/launchers/model_card.py
  src/shared/python/gui_launcher/tools_sidebar_integration.py
  tests/launchers/test_launcher_layout_manager.py
  tests/launchers/test_layout_persistence.py
  tests/launchers/test_layout_view_modes.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: deprecate unified_launcher.py in favor of golf_launcher module
  src/launchers/unified_launcher.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: add List Large/List Small modes, fix sidebar freeze, Ctrl+wheel zoom
  src/launchers/golf_launcher.py
  src/launchers/launcher_constants.py
  src/launchers/launcher_layout_manager.py
  src/launchers/launcher_ui_setup.py
  src/launchers/model_card.py
  tests/launchers/test_layout_view_modes.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(launcher): resolve startup freeze by adding connection check timeouts and prefer .ico for taskbar favicon
  .kiro/launcher/layout.json
  src/launchers/golf_launcher.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: resolve sidekick loading issue by executing sidebar integration on update_startup_results
  src/launchers/golf_launcher.py
  src/shared/python/gui_launcher/tools_sidebar_integration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: update view layout menu labels, make zoom slider compact, and prioritize sibling Tools repo in sidekick path resolution
  src/launchers/golf_launcher.py
  src/launchers/launcher_ui_setup.py
  src/shared/python/gui_launcher/tools_sidebar_integration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: defer Sidekick installation using QTimer to completely prevent startup freeze
  src/launchers/golf_launcher.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon
