Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

fix(hooks): honor declared optimization CLI stdout scope
  .pre-commit-config.yaml
  docs/adr/0050-optimizer-backend-registry-and-bioptim.md
  docs/development/manufactured_authority_9787_turnover.md
  docs/estimation/bioptim_parity.md
  docs/issues/EPIC_BIOPTIM_OCP_INTEGRATION.md
  tests/ci/test_approved_cli_stdout_hooks.py
Due: pytest-unit

fix(test): exempt tile paths resolve tests from missing vendor seam failure
  tests/conftest.py
Due: pytest-unit

docs(research): refresh hook provenance binding
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
Due: none

docs(research): record authority repair PR delivery
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/manufactured_authority_9787_turnover.md
Due: none

fix(research): synchronize release manifest hashes for articulated native runtime
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/release_manifest.json
Due: none

fix(api): derive video upload suffix from filename allow-list (#9612) (#9720)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  src/api/routes/video.py
  tests/unit/api/test_routes_video.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): change-log row for #9805
  SPEC.md
Due: none

docs(research): record current main validation
  docs/development/manufactured_authority_9787_turnover.md
Due: none

style: format DEVELOPMENT_LOG.md with prettier
  docs/development/DEVELOPMENT_LOG.md
Due: none

fix(ci): register hook tests and synchronize ADR index
  docs/adr/README.md
  docs/development/manufactured_authority_9787_turnover.md
  tests/ci/test_approved_cli_stdout_hooks.py
Due: pytest-unit

docs(research): record governance CI repair validation
  docs/development/manufactured_authority_9787_turnover.md
Due: none

fix(config): registry truth — tools:// provenance scheme and ready/beta maturity gate (#9478) (#9729)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  src/config/launcher_manifest.json
  src/config/models.yaml
  src/shared/python/config/model_source_providers.py
  src/shared/python/config/tile_target_resolution.py
  tests/config/test_tile_paths_resolve.py
  tests/conftest.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(research): bootstrap cmeel native library path for authority runtime (#9607) (#9726)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/release_manifest.json
  scripts/research/proximal_distal_energy/articulated_native_runtime.py
  scripts/research/proximal_distal_energy/run_articulated_manufactured_solution.py
  tests/research/test_articulated_native_runtime.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(research): refresh reviewer summary with authority evidence
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/manufactured_authority_9787_turnover.md
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/chapters/_claim_adjudication_summary.qmd
  docs/research/proximal_distal_energy_transfer/data/claim_adjudication_summary.csv
  docs/research/proximal_distal_energy_transfer/data/claim_adjudication_summary.json
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.pdf
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.tex
  docs/research/proximal_distal_energy_transfer/release_manifest.json
Due: none

perf(mocap): optimize array magnitude calculations in motion capture analytics (#9785)
  .jules/bolt.md
  SPEC.md
  src/motion_capture/reconstruct/analytics.py
  src/motion_capture/reconstruct/analytics2d.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

ci: always-on unit lane in quality-gate plus conftest src-pivot guard (#9409) (#9723)
  .github/workflows/ci-standard.yml
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/workflows/WORKFLOW_TRACKING.md
  tests/ci/test_ci_infrastructure.py
  tests/unit/repo_hygiene/test_no_conftest_src_module_pivot.py
Due: pytest-unit

refactor(mocap): share speed and uncertainty calculation between 2d and 3d analytics
  src/motion_capture/reconstruct/analytics.py
  src/motion_capture/reconstruct/analytics2d.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
