Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

feat: bind owned R2025b native replay to merged Tools transport
  Cargo.toml
  SPEC.md
  changes/11942-owned-native-simscape-replay.md
  docs/development/feedback_controls/F06D2_NATIVE_OWNED_RECEIPT.json
  docs/development/feedback_controls/F06D2_OWNED_SIMSCAPE_TURNOVER.md
  docs/development/feedback_controls/prepare_f06d2_native_fixture.py
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/34-owned-native-simscape-replay.qmd
  manuals/upstreamdrift/index.qmd
  requirements-tools.txt
  scripts/matlab/capture_native_simscape_execution.m
  scripts/matlab/native_simscape_bytes_sha256.m
  scripts/matlab/native_simscape_file_sha256.m
  scripts/matlab/native_simscape_provider_sha256.m
  scripts/matlab/run_native_simscape_restart.m
  scripts/matlab/run_owned_native_simscape_replay.m
  scripts/matlab/test_native_simscape_execution_binding.m
  scripts/matlab/test_owned_native_simscape_replay.m
  src/engines/Simscape_Multibody_Models/python/__init__.py
  src/engines/Simscape_Multibody_Models/python/native_owned_replay.py
  tests/unit/motion_matching/test_simscape_owned_native_replay.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(control): derive native moving-reference feedback policy
  AGENT_HANDOFF.md
  SPEC.md
  changes/11946-native-manifold-feedback.md
  docs/development/feedback_controls/F02_NATIVE_MANIFOLD_FEEDBACK_TURNOVER.md
  docs/development/feedback_controls/F02_NATIVE_MANIFOLD_RECEIPT_MJ38.json
  docs/development/feedback_controls/TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/27-native-manifold-feedback.qmd
  scripts/f02_native_manifold_receipt.py
  src/engines/physics_engines/mujoco/python/native_distributed_feedback.py
  tests/unit/motion_matching/test_f02_native_receipt.py
  tests/unit/motion_matching/test_native_distributed_feedback.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(myosuite): verify replay ownership and observed state
  docs/development/feedback_controls/F09F-MYOSUITE-NATIVE-EXCITATION.md
  docs/development/feedback_controls/TURNOVER.md
  manuals/upstreamdrift/chapters/31-myosuite-native-excitation-replay.qmd
  src/engines/native_replay_contracts.py
  src/engines/physics_engines/mujoco/python/native_torque_replay.py
  src/engines/physics_engines/myosuite/python/native_excitation_replay.py
  tests/unit/engines/myosuite/test_native_excitation_replay_contract.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion-matching): fit native manifold marker targets
  changes/11787-native-marker-fit.md
  docs/development/feedback_controls/F03_NATIVE_MARKER_FIT_TURNOVER.md
  docs/development/feedback_controls/F03_NATIVE_MARKER_RECEIPT_MJ38.json
  docs/development/feedback_controls/TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/28-native-marker-fit.qmd
  manuals/upstreamdrift/index.qmd
  scripts/f03_native_marker_receipt.py
  src/engines/physics_engines/mujoco/python/native_manifold_box_fddp.py
  src/engines/physics_engines/mujoco/python/native_marker_fit.py
  tests/unit/motion_matching/test_f03_native_marker_receipt.py
  tests/unit/motion_matching/test_native_marker_fit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(motion-matching): verify quaternion marker curvature
  docs/development/feedback_controls/F03_NATIVE_MARKER_FIT_TURNOVER.md
  docs/development/feedback_controls/F03_NATIVE_MARKER_RECEIPT_MJ38.json
  manuals/upstreamdrift/chapters/28-native-marker-fit.qmd
  tests/unit/motion_matching/test_native_marker_fit.py
Due: pytest-unit

docs(motion-matching): link native marker child issue
  changes/11948-native-marker-fit.md
  docs/development/feedback_controls/F03_NATIVE_MARKER_FIT_TURNOVER.md
  docs/development/feedback_controls/TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
Due: none

feat(control): measure native distributed-control coupling
  changes/11952-native-coupling.md
  docs/development/feedback_controls/F04_NATIVE_COUPLING_RECEIPT_MJ38.json
  docs/development/feedback_controls/F04_NATIVE_COUPLING_TURNOVER.md
  docs/development/feedback_controls/TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/21-control-loop-tuning.qmd
  scripts/f04_native_coupling_receipt.py
  src/engines/physics_engines/mujoco/python/native_control_coupling.py
  tests/unit/motion_matching/test_f04_native_coupling_receipt.py
  tests/unit/motion_matching/test_native_control_coupling.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(myosuite): add bounded direct model replay (#11950)
  changes/11950-add-bounded-native-myosuite-model-resour.md
  docs/development/feedback_controls/F09G-DIRECT-MODEL-REPLAY.md
  docs/development/feedback_controls/F09G-MYOARM-DIAGNOSTIC.md
  docs/development/feedback_controls/F09G-MYOARM-FD-AUDIT-MJ38.json
  docs/development/feedback_controls/F09H-NATIVE-RESOURCE-CLOSURE.md
  docs/development/feedback_controls/TURNOVER.md
  docs/development/feedback_controls/f09g_myoarm_fd_audit.py.txt
  manuals/upstreamdrift/chapters/13-feedback-comparison.qmd
  manuals/upstreamdrift/chapters/31-myosuite-native-excitation-replay.qmd
  src/engines/physics_engines/myosuite/python/native_direct_model_replay.py
  tests/unit/engines/myosuite/test_native_direct_model_replay.py
  tests/unit/engines/myosuite/test_native_model_resource_closure.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(simscape): bind native snapshot metadata and loaded source
  SPEC.md
  changes/11942-owned-native-simscape-replay.md
  docs/development/feedback_controls/F06D2_NATIVE_EVIDENCE_ARCHIVE_V5.json
  docs/development/feedback_controls/F06D2_NATIVE_OWNED_RECEIPT.json
  docs/development/feedback_controls/F06D2_OWNED_SIMSCAPE_TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/34-owned-native-simscape-replay.qmd
  scripts/matlab/capture_native_simscape_execution.m
  scripts/matlab/load_native_simscape_snapshot.m
  scripts/matlab/run_native_simscape_restart.m
  scripts/matlab/run_owned_native_simscape_replay.m
  scripts/matlab/test_native_simscape_loaded_source.m
  scripts/matlab/test_native_simscape_snapshot_metadata.m
Due: none

feat(mujoco): independently replay frozen native torque bundles (#11836)
  Cargo.toml
  SPEC.md
  changes/11823-native-torque-replay.md
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/development/feedback_controls/F06_NATIVE_TORQUE_TURNOVER.md
  docs/development/feedback_controls/T01_IMPACT_SERVED_RECEIPT.json
  docs/development/impact_acceptance_matrix.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/19-native-torque-replay.qmd
  manuals/upstreamdrift/index.qmd
  requirements-tools.txt
  src/config/impact_acceptance.json
  src/engines/physics_engines/mujoco/python/native_torque_replay.py
  src/shared/python/_seam_redirect.py
  tests/opensim/test_native_muscle_replay.py
  tests/unit/motion_matching/test_native_torque_replay.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(opensim): native marker geometry with explicit source bounds (#11911)
  AGENT_HANDOFF.md
  SPEC.md
  changes/11903-native-opensim-geometry.md
  docs/agents/shared-infrastructure.md
  docs/development/feedback_controls/F07_NATIVE_GEOMETRY_TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/26-native-opensim-geometry.qmd
  manuals/upstreamdrift/index.qmd
  scripts/config/architecture_budget.json
  scripts/diagnostics/frozen_capture_trc.py
  scripts/diagnostics/native_pelvis_geometry.py
  src/engines/physics_engines/opensim/python/tour_matching/native_marker_geometry.py
  src/shared/python/motion_matching/full_body_ik.py
  src/shared/python/motion_matching/pipeline/plants/opensim.py
  tests/opensim/test_native_marker_geometry.py
  tests/opensim/test_native_pelvis_probe_contract.py
  tests/unit/motion_matching/test_trajectory_coordinate_bounds.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(control): add native activation-aware manifold replay boundary
  SPEC.md
  changes/11958-native-activation-manifold.md
  docs/development/feedback_controls/F05E_NATIVE_ACTIVATION_RECEIPT_MJ38.json
  docs/development/feedback_controls/F05E_NATIVE_ACTIVATION_TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/36-native-activation-manifold.qmd
  manuals/upstreamdrift/index.qmd
  scripts/f05e_native_activation_receipt.py
  src/engines/physics_engines/mujoco/python/native_activation_bundle.py
  src/engines/physics_engines/mujoco/python/native_activation_manifold.py
  tests/fixtures/feedback_controls/native_floating_muscle_11958.xml
  tests/unit/motion_matching/test_f05e_native_receipt.py
  tests/unit/motion_matching/test_native_activation_manifold.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(motion-matching): record the GCV-20 full re-solve; strict xfail on impact speed (#11767)
  AGENT_HANDOFF.md
  changes/11767-gcv-20-clubhead-speed-timing.md
  docs/development/full_body_models/DESIGN_DECISIONS.md
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
  tests/unit/model_appearance/test_clubface_square_at_address.py
Due: pytest-unit

docs(grip): iron7 parity metrics (#11739)
  docs/development/full_body_models/evidence/grip_kinetics/parity/metrics_iron7.json
Due: none

docs(gaze): complete sweep evidence with corrected driver baseline (OSV-3b, #11729)
  docs/development/full_body_models/HEAD_GAZE_REFERENCE.md
  docs/development/full_body_models/evidence/head_gaze/gaze_weight_sweep.json
  docs/development/full_body_models/evidence/head_gaze/gaze_weight_sweep.png
  docs/development/full_body_models/head_gaze_reference.tex
  scripts/render_head_gaze_engines.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test(grip): mark Pinocchio static-hold case slow (#11739)
  tests/unit/grip_contact/test_engine_grip_parity.py
Due: pytest-unit

docs(research): LaTeX reference for the MyoSuite retarget map (#11729)
  docs/development/full_body_models/DESIGN_DECISIONS.md
  docs/engines/myosuite.md
  docs/research/myofullbody_swing/myofullbody_swing.tex
  docs/research/myosuite_retarget_map/README.md
  docs/research/myosuite_retarget_map/myosuite_retarget_map.tex
Due: none

feat(grip): shared pad layout and sphere-on-cylinder contact law (#11739)
  src/shared/python/grip_contact/pad_contact.py
  src/shared/python/grip_contact/pad_layout.py
  tests/unit/grip_contact/test_pad_contact.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(feedback): admit compiled actuator command replay
  changes/11955-compiled-actuator-command-admission.md
  docs/development/feedback_controls/F01F-COMPILED-COMMAND-ADMISSION.md
  docs/development/feedback_controls/TURNOVER.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/37-compiled-actuator-command-admission.qmd
  manuals/upstreamdrift/index.qmd
  src/engines/feedback_comparison.py
  src/engines/feedback_native_execution.py
  src/engines/physics_engines/myosuite/python/native_direct_model_replay.py
  tests/unit/engines/myosuite/test_native_direct_model_replay.py
  tests/unit/engines/test_feedback_comparison.py
  tests/unit/engines/test_feedback_native_execution.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(opensim): audit constrained native source state without replay qualification (#11931)
  changes/11923-native-constrained-state.md
  docs/development/feedback_controls/F07_CONSTRAINED_SOURCE_TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/32-native-constrained-state.qmd
  manuals/upstreamdrift/index.qmd
  src/engines/physics_engines/opensim/python/tour_matching/native_constraint_state.py
  tests/opensim/test_native_constraint_state.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(gaze): reuse a current same-input bundle across engine passes (OSV-3b, #11729)
  AGENT_HANDOFF.md
  scripts/render_head_gaze_engines.py
  tests/scripts/test_head_gaze_sweep_scripts.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(drake): MeshCat glyph shafts and cones land on their segment (#11729)
  src/engines/physics_engines/drake/python/src/drake_meshcat_sink.py
  tests/unit/engines/drake/test_drake_meshcat_sink_axis.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(grip): MyoSuite bushing variant and MuJoCo native contact grip (#11739)
  docs/development/full_body_models/evidence/grip_kinetics/run_grip_contact.py
  src/engines/physics_engines/mujoco/python/grip_bushing.py
  src/engines/physics_engines/mujoco/python/grip_contact_sim.py
  src/engines/physics_engines/myosuite/python/grip_bushing.py
  src/shared/python/grip_contact/contact_run.py
  src/shared/python/grip_contact/pad_layout.py
  tests/unit/grip_contact/test_engine_grip_parity.py
  tests/unit/grip_contact/test_pad_contact.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(opensim): audit native source reference conventions (#11962)
  changes/11962-native-reference-conventions.md
  docs/development/feedback_controls/DESIGN.md
  docs/development/feedback_controls/F07_REFERENCE_CONVENTIONS_TURNOVER.md
  docs/development/feedback_controls/TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/38-native-reference-conventions.qmd
  manuals/upstreamdrift/index.qmd
  src/engines/physics_engines/opensim/python/tour_matching/native_constraint_state.py
  src/engines/physics_engines/opensim/python/tour_matching/native_passive_readiness.py
  src/engines/physics_engines/opensim/python/tour_matching/native_reference_conventions.py
  tests/opensim/test_native_reference_conventions.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): record native reference audit boundary (#11962)
  SPEC.md
Due: none

fix(control): share native manifold calculus and bind replay source closure
  SPEC.md
  docs/development/feedback_controls/F05E_NATIVE_ACTIVATION_RECEIPT_MJ38.json
  docs/development/feedback_controls/F05E_NATIVE_ACTIVATION_TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/26-native-manifold-box-fddp.qmd
  manuals/upstreamdrift/chapters/36-native-activation-manifold.qmd
  scripts/f05e_native_activation_receipt.py
  src/engines/physics_engines/mujoco/python/native_activation_manifold.py
  src/engines/physics_engines/mujoco/python/native_manifold_box_fddp.py
  src/engines/physics_engines/mujoco/python/native_manifold_calculus.py
  tests/unit/motion_matching/test_native_activation_manifold.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(mujoco): overlay arrows are drawn at their full glyph length (#11729)
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/force_glyphs.py
  tests/unit/engines/mujoco/test_force_glyphs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(gcv-13): address-geometry ball resolver and MuJoCo decorative visual geom
  AGENT_HANDOFF.md
  changes/11719-gcv-13-mujoco-decorative-ball.md
  src/config/feature_parity.json
  src/engines/physics_engines/mujoco/python/visual_layer.py
  src/shared/python/model_appearance/__init__.py
  src/shared/python/model_appearance/appearance_v1.schema.json
  src/shared/python/model_appearance/ball.py
  src/shared/python/model_appearance/schema.py
  tests/unit/model_appearance/test_ball.py
  tests/unit/model_appearance/test_schema_and_library.py
  tests/unit/motion_matching/test_mujoco_visual_layer.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(grip): Drake and Pinocchio contact grip, static balance residuals (#11739)
  src/engines/physics_engines/drake/python/grip_contact_sim.py
  src/engines/physics_engines/mujoco/python/grip_contact_sim.py
  src/engines/physics_engines/pinocchio/python/grip_contact_sim.py
  src/shared/python/grip_contact/static_balance.py
  tests/unit/grip_contact/test_engine_grip_contact.py
  tests/unit/grip_contact/test_static_balance.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(gaze): head-gaze clip section with the two overlay fixes (OSV-3b, #11729)
  docs/development/full_body_models/HEAD_GAZE_REFERENCE.md
Due: none

feat(force-overlay): clamped-arrow double tip in matplotlib and QPainter (#11710)
  changes/11710-matplotlib-and-qpainter-force-renderers.md
  src/shared/python/force_overlay/glyphs.py
  src/shared/python/force_overlay/renderers/matplotlib_glyphs.py
  src/shared/python/force_overlay/renderers/opencv_glyphs.py
  src/shared/python/force_overlay/renderers/qpainter_glyphs.py
  tests/unit/force_overlay/test_glyphs.py
  tests/unit/force_overlay/test_matplotlib_glyphs.py
  tests/unit/force_overlay/test_qpainter_glyphs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test: distinguish explicit mocap overlay from generic fallback
  docs/development/feedback_controls/F06_DRAKE_NATIVE_TURNOVER.md
  tests/unit/repo_hygiene/test_vendored_tools_fallback.py
Due: pytest-unit

fix(gaze): paired engine clips keep 1080 rows (OSV-3b, #11729)
  scripts/render_head_gaze_engines.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test: preserve explicit Tools mocap overlay contract
  docs/development/feedback_controls/F02_TURNOVER.md
  tests/unit/repo_hygiene/test_vendored_tools_fallback.py
Due: pytest-unit

ci(cross-engine): run GCV-16 clubhead-series parity with real engines (#11722)
  .github/workflows/cross-engine-equivalence.yml
  changes/11722-run-the-gcv-16-clubhead-series-adapter-a.md
Due: none

feat(opensim): bind exact native Moco marker weights
  src/engines/physics_engines/opensim/python/tour_matching/moco_tracking.py
  tests/opensim/test_moco_initial_bindings.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(parity): track five-lift viewing as a LIFT-8 gap (#11748)
  changes/11748-record-five-lift-viewing-and-analysis-as.md
  docs/development/feature_parity_matrix.md
  src/config/feature_parity.json
Due: none

chore(agent-context): re-record launcher-atlas review for LIFT-8 entry (#11748)
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
Due: none

feat(grip): contact-grip swing evidence, validation runner, MyoSuite bushing parity (#11739)
  docs/agents/shared-infrastructure.md
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/validation_driver.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/validation_iron7.json
  docs/development/full_body_models/evidence/grip_kinetics/parity/metrics_driver.json
  docs/development/full_body_models/evidence/grip_kinetics/parity/metrics_iron7.json
  docs/development/full_body_models/evidence/grip_kinetics/parity/myosuite_driver_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/parity/myosuite_iron7_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/parity/runs_driver.json
  docs/development/full_body_models/evidence/grip_kinetics/parity/runs_iron7.json
  docs/development/full_body_models/evidence/grip_kinetics/render_grip_clip.py
  docs/development/full_body_models/evidence/grip_kinetics/run_grip_parity.py
  docs/development/full_body_models/evidence/grip_kinetics/run_grip_validation.py
  src/shared/python/grip_contact/parameters.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon
