Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

test(sidekick): Report Module Identity When the Force-Plate Import Resolves Wrong (#11034)
  tests/unit/sidekick/lab/bio/test_force_plate_stitching.py
Due: pytest-unit

docs(spec): Record #11042 in HANDOFF, the Development Log and the SPEC Changelog (#11034)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

test(sidekick): Report Module Identity When the Force-Plate Import Resolves Wrong (#11034) (#11042)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  tests/unit/sidekick/lab/bio/test_force_plate_stitching.py
Due: pytest-unit

test(quarantine): unquarantine CI infrastructure, Unreal mesh loader, and starting pose matcher (#9411)
  scripts/config/unit_gate_quarantine.json
Due: none

fix(motion-matching): Start Tracked Replays on the Dual-Grip Weld (#11043)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/execution/downswing.py
  src/shared/python/motion_matching/full_body_forward_dynamics.py
  src/shared/python/motion_matching/pipeline/dynamics.py
  src/shared/python/motion_matching/weld_manifold.py
  tests/unit/motion_matching/test_weld_manifold.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Replace np.linalg.norm with math.sqrt(np.vdot) for 1D arrays (#11041)
  .jules/bolt.md
  SPEC.md
  src/shared/python/pendulum_simulator/pendulum_perturbation_analyzer.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(quarantine): unquarantine impact model gear effect spin and pitch reduction (#9411)
  scripts/config/unit_gate_quarantine.json
  src/shared/python/physics/impact_model/utils.py
  tests/unit/shared_python/test_impact_model.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(motion-matching): annotate the weld_manifold Array alias as TypeAlias (#11043)
  docs/development/HANDOFF.md
  src/shared/python/motion_matching/weld_manifold.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: SPEC row and PR number for #11047 (#11043)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

Start Tracked Replays on the Dual-Grip Weld (#11043) (#11047)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/execution/downswing.py
  src/shared/python/motion_matching/full_body_forward_dynamics.py
  src/shared/python/motion_matching/pipeline/dynamics.py
  src/shared/python/motion_matching/weld_manifold.py
  tests/unit/motion_matching/test_weld_manifold.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Rewire the MJX evidence prototype onto the tested src plant (#11046)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/full_body_models/evidence/ground_support/mjx_trajectory_optimisation.py
  tests/unit/engines/mujoco/test_mjx_evidence_cli.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: SPEC row and PR number for #11048
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

test(quarantine): unquarantine impact model gear effect spin and pitch reduction (#9411) (#11045)
  scripts/config/unit_gate_quarantine.json
  src/shared/python/physics/impact_model/utils.py
  tests/unit/shared_python/test_impact_model.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Reconcile Handoff, DL-#11008 and SPEC Row With PR #11012's Ready State
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

Regenerate the canonical calibrated runs on current code (#11044)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/full_body_models/HANDOFF.md
  docs/development/full_body_models/evidence/ground_support/CANONICAL_RUN.md
  docs/development/full_body_models/evidence/ground_support/anthro_driver_seeds/full_body_spec_hipcal_scaled.json
  docs/development/full_body_models/evidence/ground_support/anthro_driver_seeds/receipt.json
  docs/development/full_body_models/evidence/ground_support/anthro_iron_seeds_zmp/full_body_spec_hipcal_scaled.json
  docs/development/full_body_models/evidence/ground_support/anthro_iron_seeds_zmp/receipt.json
  docs/development/full_body_models/evidence/ground_support/bisect_11044_receipt.json
  docs/development/matched_swing_program/README.md
  docs/plans/tour_baselines/final_acceptance_report.md
  reports/matched_swing_ledger.json
  scripts/generate_matched_swing_status.py
  tests/unit/motion_matching/pipeline/test_receipt_provenance_chain.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

chore: regenerate matched swing ledger after receipt formatting (#11044)
  reports/matched_swing_ledger.json
Due: none

docs: SPEC row and PR number for #11050
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

Make Ball-Flight Parity Fixture Export Opt-In (#11008) (#11012)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  tests/parity/test_ball_flight_parity.py
Due: pytest-unit

Add Leg Servo References From the Capture: GS3DX_FitLegs (#10979)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/README.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/docs/FIT.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/models/GS3DX_FitLegs.slx
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_fit_legs.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_build_fit_legs.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_leg_reference.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_names.m
Due: none

Regenerate the Canonical Calibrated Runs on Current Code and Record the Bisect (#11044) (#11050)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/full_body_models/HANDOFF.md
  docs/development/full_body_models/evidence/ground_support/CANONICAL_RUN.md
  docs/development/full_body_models/evidence/ground_support/anthro_driver_seeds/full_body_spec_hipcal_scaled.json
  docs/development/full_body_models/evidence/ground_support/anthro_driver_seeds/receipt.json
  docs/development/full_body_models/evidence/ground_support/anthro_iron_seeds_zmp/full_body_spec_hipcal_scaled.json
  docs/development/full_body_models/evidence/ground_support/anthro_iron_seeds_zmp/receipt.json
  docs/development/full_body_models/evidence/ground_support/bisect_11044_receipt.json
  docs/development/matched_swing_program/README.md
  docs/plans/tour_baselines/final_acceptance_report.md
  reports/matched_swing_ledger.json
  scripts/generate_matched_swing_status.py
  tests/unit/motion_matching/pipeline/test_receipt_provenance_chain.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
