Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

test(simscape): mark the GCV-3 contact-force tests as unit (#11709)
  tests/engines/simscape/test_adapter.py
Due: pytest-unit

feat(model-explorer): stateless Frankenstein assembly REST API (#11661)
  changes/11661-cmb-10-slice-1-stateless-frankenstein-as.md
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/architecture/CAPABILITY_ATLAS.md
  docs/development/feature_parity_matrix.md
  docs/help/model_explorer.md
  src/api/models/assembly.py
  src/api/route_registry.py
  src/api/routes/model_explorer_assembly.py
  src/config/feature_parity.json
  tests/unit/api/test_routes_model_explorer_assembly.py
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(reference): record the GCV-20 re-solve result, acceptance not met (#11767)
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
Due: none

chore(ui): regenerate API types for the assembly endpoints (#11661)
  ui/src/api/generated/types.ts
Due: no-debugger

fix(opensim): reject an empty XML tree in the humanoid builder (#11756)
  scripts/build_humanoid_osim.py
  tests/opensim/test_msk_club.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(model-explorer): type the threaded results in the assembly routes (#11661)
  src/api/routes/model_explorer_assembly.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: plan distributed control and muscle-driven matching (#11797)
  AGENT_HANDOFF.md
  changes/11784-feedback-controls-design.md
  docs/development/feedback_controls/DESIGN.md
  docs/development/feedback_controls/IMPLEMENTATION_PLAN.md
  docs/development/feedback_controls/TURNOVER.md
Due: none

feat(gaze): one gaze weight across captures from the sweep rows (OSV-3b, #11729)
  src/shared/python/motion_matching/gaze_sweep.py
  tests/unit/motion_matching/test_gaze_sweep.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(gaze): sweep evidence summary with per-capture knee and default (OSV-3b, #11729)
  scripts/summarize_gaze_sweep.py
  tests/scripts/test_head_gaze_sweep_scripts.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(design-manual): provisional grip-wrench reduction chapter (#11724)
  changes/11724-gcv-18-slice-2-provisional-design-manual.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/11-grip-wrench.qmd
  manuals/upstreamdrift/index.qmd
  tests/scripts/test_design_manual_governance_contract.py
Due: pytest-unit

chore(shared-tools): record the GCV-2 ud-only modules in the divergence inventory (#11708)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

docs(design-manual): provisional impact-parameters chapter (#11724)
  changes/11724-gcv-18-slice-3-provisional-design-manual.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/12-impact-parameters.qmd
  manuals/upstreamdrift/index.qmd
  tests/scripts/test_design_manual_governance_contract.py
Due: pytest-unit

docs(gcv-18): overlay ADR, native export, shared-infrastructure and C4 entries
  changes/11724-gcv-18-slice-4-adr-0052-grip-derived-lab.md
  docs/adr/0052-force-torque-overlay-contract.md
  docs/agents/shared-infrastructure.md
  docs/architecture/C4.md
  docs/user_guide/native_viewer_export.md
  src/tools/native_viewer_export/README.md
Due: none

fix(hooks): keep prettier off the ledger and DESIGN_DECISIONS.md
  .prettierignore
  changes/11777-prettier-ignores-the-generated-matched-s.md
  tests/unit/repo_hygiene/test_prettierignore_gate_owned_files.py
Due: pytest-unit

feat(grip): full-swing OpenSim bushing grip from the closure-consistent fits (OSV-7 impact phase) (#11774)
  AGENT_HANDOFF.md
  changes/11739-osv-7-impact-phase-full-swing-opensim-bu.md
  docs/development/full_body_models/DESIGN_DECISIONS.md
  docs/development/full_body_models/evidence/grip_kinetics/driver_bushing_series_full_swing.npz
  docs/development/full_body_models/evidence/grip_kinetics/iron7_bushing_series_full_swing.npz
  docs/development/full_body_models/evidence/grip_kinetics/receipt_full_swing_driver.json
  docs/development/full_body_models/evidence/grip_kinetics/receipt_full_swing_iron7.json
  docs/development/full_body_models/evidence/grip_kinetics/run_full_swing_grip_kinetics.py
  docs/development/full_body_models/evidence/grip_kinetics/run_grip_kinetics.py
  docs/development/matched_swing_program/README.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  reports/matched_swing_ledger.json
  src/engines/physics_engines/opensim/python/grip_bushing_sim.py
  src/shared/python/grip_contact/__init__.py
  src/shared/python/grip_contact/couple_check.py
  src/shared/python/grip_contact/swing_input.py
  src/shared/python/motion_matching/pipeline/design_decisions.py
  tests/unit/grip_contact/test_couple_check.py
  tests/unit/grip_contact/test_swing_input.py
  tests/unit/motion_matching/pipeline/test_design_decisions.py
  tests/unit/motion_matching/test_grip_bushing_opensim.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(manual): add provisional same-input parity chapter (#11614)
  AGENT_HANDOFF.md
  changes/11614-sip-p-9-provisional-design-manual-chapte.md
  docs/research/same_input_parity/same_input_parity.tex
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/13-same-input-parity.qmd
  manuals/upstreamdrift/index.qmd
  tests/scripts/test_design_manual_governance_contract.py
Due: pytest-unit

feat(grip): shared OpenSim BushingForce law and SimmSpline-equivalent prescribed motion (#11739)
  src/shared/python/grip_contact/__init__.py
  src/shared/python/grip_contact/bushing_law.py
  src/shared/python/grip_contact/prescribed_motion.py
  tests/unit/grip_contact/test_bushing_law.py
  tests/unit/grip_contact/test_prescribed_motion.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(opensim): define native muscle excitation replay boundary
  tests/opensim/test_native_muscle_replay.py
Due: pytest-unit

feat(grf): record MuJoCo ground reaction per step for the GCV-5 plots (#11711)
  changes/11711-gcv-5-mujoco-run-ground-reaction-series.md
  src/api/services/ground_reaction_service.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/physics_engine.py
  src/shared/python/dashboard/_recorder_ground_reaction.py
  src/shared/python/dashboard/_recorder_recording.py
  src/shared/python/dashboard/recorder.py
  tests/unit/api/test_ground_reaction_service.py
  tests/unit/dashboard/test_recorder_ground_reaction.py
  tests/unit/engines/mujoco/test_engine_ground_reaction_run.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(grip): fix engine parity tolerances before any comparison run (#11739)
  src/shared/python/grip_contact/parity.py
  tests/unit/grip_contact/test_engine_grip_parity.py
  tests/unit/grip_contact/test_parity.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: freeze feedback comparison contracts
  SPEC.md
  changes/11785-feedback-comparison.md
  docs/development/feedback_controls/F01_TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/12-feedback-comparison.qmd
  manuals/upstreamdrift/index.qmd
  src/config/engine_model_inventory.json
  src/engines/feedback_comparison.py
  src/engines/model_inventory.py
  tests/unit/engines/test_feedback_comparison.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(native-export): give MeshCat views the shared viewer field of view (#11697)
  AGENT_HANDOFF.md
  changes/11697-nv-9-shared-viewer-fov-0-7-rad-for-meshc.md
  src/shared/python/golf_view_presets/__init__.py
  src/shared/python/golf_view_presets/framing.py
  src/tools/native_viewer_export/README.md
  src/tools/native_viewer_export/backends/_meshcat_page.py
  src/tools/native_viewer_export/backends/opensim_worker.py
  tests/unit/shared/golf_view_presets/test_framing.py
  tests/unit/tools/native_viewer_export/test_meshcat_page_fov.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(mujoco): bushing grip through mjcb_passive on the same input (#11739)
  docs/development/full_body_models/evidence/grip_kinetics/parity/opensim_driver_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/parity/runs_driver.json
  docs/development/full_body_models/evidence/grip_kinetics/run_grip_parity.py
  src/engines/physics_engines/mujoco/python/grip_bushing.py
  src/shared/python/grip_contact/bushing_law.py
  src/shared/python/grip_contact/prescribed_motion.py
  tests/unit/grip_contact/test_engine_grip_parity.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test: expose fabricated muscle replay qualification evidence
  AGENT_HANDOFF.md
  changes/11791-muscle-evidence-guard.md
  docs/development/feedback_controls/F07_MUSCLE_EVIDENCE_TURNOVER.md
  tests/opensim/test_muscle_cmc.py
Due: pytest-unit

feat(opensim): add audited native muscle excitation replay
  SPEC.md
  changes/11809-native-muscle-replay.md
  docs/development/feedback_controls/ASTRA_REVIEW.md
  docs/development/feedback_controls/DESIGN.md
  docs/development/feedback_controls/F07_NATIVE_REPLAY_TURNOVER.md
  docs/development/feedback_controls/IMPLEMENTATION_PLAN.md
  docs/development/feedback_controls/milestone_dependencies.json
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/13-native-muscle-replay.qmd
  manuals/upstreamdrift/index.qmd
  src/engines/physics_engines/opensim/python/tour_matching/__init__.py
  src/engines/physics_engines/opensim/python/tour_matching/muscle_replay.py
  tests/opensim/test_native_muscle_replay.py
  tests/unit/engines/test_feedback_milestone_dependencies.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(drake): native LinearBushingRollPitchYaw grip on the same input (#11739)
  src/engines/physics_engines/drake/python/grip_bushing.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(opensim): reject unregistered native muscle components
  docs/development/feedback_controls/F07_NATIVE_REPLAY_TURNOVER.md
  manuals/upstreamdrift/chapters/13-native-muscle-replay.qmd
  src/engines/physics_engines/opensim/python/tour_matching/muscle_replay.py
  tests/opensim/test_native_muscle_replay.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: prevent parameter audits from inventing native replay evidence
  AGENT_HANDOFF.md
  changes/11810-muscle-evidence-guard.md
  docs/development/feedback_controls/F07_MUSCLE_EVIDENCE_TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/14-muscle-qualification-evidence.qmd
  manuals/upstreamdrift/index.qmd
  src/engines/physics_engines/opensim/python/POST_MVP_MUSCLES.md
  src/engines/physics_engines/opensim/python/tour_matching/muscle_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(pinocchio): bushing grip club on aba with error-controlled DOP853 (#11739)
  src/engines/physics_engines/pinocchio/python/grip_bushing.py
  src/engines/physics_engines/pinocchio/python/native_model.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(grip): OpenSim iron7 bushing-grip reference series (#11739)
  docs/development/full_body_models/evidence/grip_kinetics/parity/opensim_iron7_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/parity/runs_iron7.json
Due: none

feat(motion-matching): add distributed feedback controller core
  SPEC.md
  changes/11786-distributed-feedback.md
  docs/development/feedback_controls/F02_TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/13-distributed-feedback.qmd
  manuals/upstreamdrift/index.qmd
  src/shared/python/motion_matching/distributed_feedback.py
  tests/unit/motion_matching/test_distributed_feedback.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(motion-matching): reserve distributed feedback chapter 16
  changes/11786-distributed-feedback.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/16-distributed-feedback.qmd
  manuals/upstreamdrift/index.qmd
Due: none

test(opensim): specify explicit native contact replay policy
  tests/opensim/test_native_muscle_replay.py
Due: pytest-unit

fix(mjcf): stop the generated golfer colliding with itself (#11811)
  changes/11811-golfer-mjcf-self-collision.md
  src/config/engine_model_inventory.json
  src/engines/physics_engines/mujoco/models/generated/golfer.xml
  src/tools/model_converter/mjcf_exporter.py
  tests/unit/tools/model_converter/test_golfer_mjcf_contacts.py
  tests/unit/tools/model_converter/test_mjcf_exporter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(governance): split comparison admission and count manual chapter
  src/engines/feedback_comparison.py
  tests/scripts/test_design_manual_governance_contract.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(governance): count distributed feedback manual chapter
  tests/scripts/test_design_manual_governance_contract.py
Due: pytest-unit

test(docs): count canonical manual sources without freezing chapters
  tests/scripts/test_design_manual_governance_contract.py
Due: pytest-unit

fix(grf): clear the four CI mypy errors on the GCV-2 branch (#11708)
  src/engines/physics_engines/pinocchio/python/pinocchio_force_torque.py
  src/shared/python/biomechanics/ground_reaction_wrenches.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(grip): parity report with overlay, error and GCV-10 plots; MuJoCo driver series (#11739)
  docs/development/full_body_models/evidence/grip_kinetics/parity/mujoco_driver_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/run_grip_parity.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

refactor(opensim): separate replay initialization and integration
  src/engines/physics_engines/opensim/python/tour_matching/muscle_replay.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
