Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

docs: refresh merged-history ownership attribution
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

fix: provide NumPy types in isolated mypy hook
  .pre-commit-config.yaml
  docs/development/feedback_controls/F02_TURNOVER.md
Due: none

chore(gaze): sync divergence inventory for gaze_sweep.py; title-case handoff heading (#11729)
  AGENT_HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

docs(lifting): modelling reference for the five lifts in Movement Optimizer help (#11751)
  changes/11751-lifting-modelling-reference-section-in-t.md
  docs/help/movement_optimizer.md
Due: none

Add Native Activation-Aware Manifold and Complete-State Command Replay (#11959)
  SPEC.md
  changes/11958-native-activation-manifold.md
  docs/development/feedback_controls/F05E_NATIVE_ACTIVATION_RECEIPT_MJ38.json
  docs/development/feedback_controls/F05E_NATIVE_ACTIVATION_TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/26-native-manifold-box-fddp.qmd
  manuals/upstreamdrift/chapters/36-native-activation-manifold.qmd
  manuals/upstreamdrift/index.qmd
  scripts/f05e_native_activation_receipt.py
  src/engines/physics_engines/mujoco/python/native_activation_bundle.py
  src/engines/physics_engines/mujoco/python/native_activation_manifold.py
  src/engines/physics_engines/mujoco/python/native_manifold_box_fddp.py
  src/engines/physics_engines/mujoco/python/native_manifold_calculus.py
  tests/fixtures/feedback_controls/native_floating_muscle_11958.xml
  tests/unit/motion_matching/test_f05e_native_receipt.py
  tests/unit/motion_matching/test_native_activation_manifold.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(control): measure native distributed-control coupling (#11953)
  changes/11952-native-coupling.md
  docs/development/feedback_controls/F04_NATIVE_COUPLING_RECEIPT_MJ38.json
  docs/development/feedback_controls/F04_NATIVE_COUPLING_TURNOVER.md
  docs/development/feedback_controls/TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/21-control-loop-tuning.qmd
  scripts/f04_native_coupling_receipt.py
  src/engines/physics_engines/mujoco/python/native_control_coupling.py
  tests/unit/motion_matching/test_f04_native_coupling_receipt.py
  tests/unit/motion_matching/test_native_control_coupling.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): prepare fresh unit-gate Rust homes (#11977)
  .github/workflows/ci-standard.yml
  CHANGELOG.md
  SPEC.md
  docs/development/feedback_controls/CI_RUST_STATE_TURNOVER.md
  scripts/ci/prepare_rust_environment.py
  tests/ci/test_prepare_rust_environment.py
  tests/ci/test_unit_gate_rust_kernel.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(grip): DESIGN_DECISIONS section 19, clip renderer, change fragment, handoff (#11739)
  AGENT_HANDOFF.md
  changes/11739-osv-7-phase-3-mujoco-drake-pinocchio-con.md
  docs/development/full_body_models/DESIGN_DECISIONS.md
  docs/development/full_body_models/evidence/grip_kinetics/render_grip_clip.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

refactor(motion-matching): hoist replay marker colors to meet function-lines budget
  src/shared/python/motion_matching/cross_engine_replay.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(parity): mark MuJoCo and Drake force overlays at web parity (#11710)
  changes/11710-flip-mujoco-force-overlays-and-drake-gui.md
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/development/feature_parity_matrix.md
  src/config/feature_parity.json
Due: none

feat(gaze): re-pair only clips newer than their pair (OSV-3b, #11729)
  scripts/render_head_gaze_engines.py
  tests/scripts/test_head_gaze_sweep_scripts.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test(grip): hold pose before reading calibrated pad forces (#11739)
  tests/unit/grip_contact/test_engine_grip_contact.py
Due: pytest-unit

feat(opensim): add native offline muscle matching runner
  changes/11968-native-offline-moco-runner.md
  docs/development/feedback_controls/F07_NATIVE_MOCO_RUNNER_TURNOVER.md
  docs/development/feedback_controls/TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/39-native-offline-muscle-matching.qmd
  manuals/upstreamdrift/index.qmd
  src/engines/physics_engines/opensim/python/tour_matching/cli.py
  src/engines/physics_engines/opensim/python/tour_matching/native_moco_replay.py
  src/engines/physics_engines/opensim/python/tour_matching/native_moco_request.py
  src/engines/physics_engines/opensim/python/tour_matching/native_moco_runner.py
  src/engines/physics_engines/opensim/python/tour_matching/trc.py
  tests/opensim/test_moco_initial_bindings.py
  tests/opensim/test_native_moco_runner.py
  tests/opensim/test_trc_export.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(parity): reconcile twelve gap entries that cited closed issues (#11982)
  changes/11982-reconcile-ten-stale-feature-parity-gap-e.md
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/development/feature_parity_matrix.md
  src/config/feature_parity.json
Due: none

docs(opensim): record native offline matching contract
  SPEC.md
Due: none

docs: split OSV-7 parity section into GRIP_PARITY_DECISIONS.md to meet doc size budget
  AGENT_HANDOFF.md
  docs/development/full_body_models/DESIGN_DECISIONS.md
  docs/development/full_body_models/GRIP_PARITY_DECISIONS.md
Due: none

fix(gaze): sweep stub within the parameter budget; re-render agent-context views (#11729)
  docs/agent_context/README.md
  docs/agent_context/index.html
  scripts/sweep_gaze_weight.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(ci): prepare fresh unit-gate Rust homes (#11977) (#11980)
  .github/workflows/ci-standard.yml
  CHANGELOG.md
  SPEC.md
  docs/development/feedback_controls/CI_RUST_STATE_TURNOVER.md
  scripts/ci/prepare_rust_environment.py
  tests/ci/test_prepare_rust_environment.py
  tests/ci/test_unit_gate_rust_kernel.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(parity): regenerate atlas and agent-context views for #11982 flips
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/architecture/CAPABILITY_ATLAS.md
  tests/companion/test_companion_catalog.py
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: pytest-unit

fix: satisfy LOD, architecture budget and agent-context gates for contact grip
  docs/agent_context/README.md
  docs/agent_context/index.html
  src/engines/physics_engines/drake/python/grip_contact_sim.py
  src/engines/physics_engines/mujoco/python/grip_bushing.py
  src/engines/physics_engines/mujoco/python/grip_contact_sim.py
  src/engines/physics_engines/pinocchio/python/grip_contact_sim.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: LOD chain in ClubOnBushings callback and regenerate agent-context views
  docs/agent_context/README.md
  docs/agent_context/index.html
  src/engines/physics_engines/mujoco/python/grip_bushing.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

ci(cross-engine): run GCV-2 ground-reaction parity in the engine lanes
  .github/workflows/cross-engine-equivalence.yml
  changes/11708-run-gcv-2-ground-reaction-parity-in-ci.md
Due: none

feat(opensim): materialize source-bound native Moco numerical seed
  SPEC.md
  changes/11990-native-moco-numerical-guess.md
  docs/development/feedback_controls/F07_NATIVE_MOCO_GUESS_TURNOVER.md
  docs/development/feedback_controls/TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/39-native-offline-muscle-matching.qmd
  src/engines/physics_engines/opensim/python/tour_matching/cli.py
  src/engines/physics_engines/opensim/python/tour_matching/moco_tracking.py
  src/engines/physics_engines/opensim/python/tour_matching/native_moco_guess.py
  src/engines/physics_engines/opensim/python/tour_matching/native_moco_runner.py
  tests/opensim/test_native_moco_guess.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(opensim): bound native Moco preparation function size
  src/engines/physics_engines/opensim/python/tour_matching/native_moco_runner.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(parity): classify lifting.five_lift_viewing and regenerate views (#11748)
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/architecture/CAPABILITY_ATLAS.md
  docs/development/ORG01_CAPABILITY_BASELINE.md
  src/config/capability_migration.json
  tests/companion/test_companion_catalog.py
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: pytest-unit

fix: regenerate agent-context views against the main pin
  docs/agent_context/README.md
  docs/agent_context/index.html
Due: none

docs(opensim): record native guess validation boundaries
  docs/development/feedback_controls/F07_NATIVE_MOCO_GUESS_TURNOVER.md
Due: none

fix: prevent fabricated native muscle qualification evidence (#11814)
  AGENT_HANDOFF.md
  changes/11810-muscle-evidence-guard.md
  docs/development/feedback_controls/F07_MUSCLE_EVIDENCE_TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/14-muscle-qualification-evidence.qmd
  manuals/upstreamdrift/index.qmd
  src/engines/physics_engines/opensim/python/POST_MVP_MUSCLES.md
  src/engines/physics_engines/opensim/python/tour_matching/muscle_qualification.py
  tests/opensim/test_muscle_cmc.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(manual): drop duplicated Thelen inventory blocker from stack fold
  manuals/upstreamdrift/calculation-registry.json
Due: none

fix: DRY, mypy and partial-MyoSuite skip for contact grip
  src/engines/physics_engines/drake/python/grip_bushing.py
  src/engines/physics_engines/drake/python/grip_contact_sim.py
  src/engines/physics_engines/mujoco/python/grip_contact_sim.py
  src/engines/physics_engines/pinocchio/python/grip_contact_sim.py
  src/shared/python/grip_contact/contact_run.py
  src/shared/python/grip_contact/pad_contact.py
  tests/unit/grip_contact/test_engine_grip_parity.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(types): cast bounded NMPC plan rows to explicit arrays for numpy-typed mypy
  src/shared/python/motion_matching/bounded_nmpc.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(grip): hand-drift measurement and friction/hand-mode diagnostics for the contact grip (#11986)
  docs/development/full_body_models/evidence/grip_kinetics/contact/hand_drift_driver.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/hand_drift_iron7.json
  docs/development/full_body_models/evidence/grip_kinetics/run_grip_contact.py
  docs/development/full_body_models/evidence/grip_kinetics/run_grip_hand_drift.py
  src/engines/physics_engines/mujoco/python/grip_contact_sim.py
  src/shared/python/grip_contact/hand_drift.py
  tests/unit/grip_contact/test_engine_grip_contact.py
  tests/unit/grip_contact/test_hand_drift.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: regenerate shared-tools divergence inventory for new grip_contact modules
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

feat(control): bind MyoSuite task histories to independent replay
  AGENT_HANDOFF.md
  SPEC.md
  docs/agent_context/README.md
  docs/agent_context/catalog.json
  docs/agent_context/contracts/project-task-native-replay.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/development/feedback_controls/F09I-PROJECT-TASK-TURNOVER.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/38-project-myosuite-task-replay.qmd
  manuals/upstreamdrift/index.qmd
  src/engines/myosuite_project_task_producer.py
  src/engines/native_direct_model_provider.py
  src/engines/native_replay_contracts.py
  src/engines/physics_engines/myosuite/python/native_direct_model_replay.py
  src/engines/project_task_replay_artifacts.py
  tests/unit/engines/myosuite/test_native_model_resource_closure.py
  tests/unit/engines/myosuite/test_project_task_artifact_admission.py
  tests/unit/engines/myosuite/test_project_task_producer.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(matched-swings): web filters, physical gates and receipt/parity views (#11987)
  changes/11987-matched-swing-web-page-gains-capture-lan.md
  src/api/services/matched_swings_service.py
  tests/api/test_matched_swings.py
  ui/src/api/matchedSwings.ts
  ui/src/pages/MatchedSwings.test.tsx
  ui/src/pages/MatchedSwings.tsx
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

feat(grip): trail-hand shift diagnostic and internal-force comparison (#11986)
  docs/development/full_body_models/evidence/grip_kinetics/contact/internal_force_driver.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/internal_force_iron7.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_ft1e-3_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_ft1e-3_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_ft1e-3_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_ft5e-3_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_ft5e-3_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_ft5e-3_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_lead_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_lead_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_lead_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_trail_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_trail_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_trail_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_ft1e-3_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_ft1e-3_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_ft1e-3_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_ft5e-3_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_ft5e-3_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_ft5e-3_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_lead_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_lead_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_lead_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_trail_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_trail_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_trail_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/run_grip_contact.py
  docs/development/full_body_models/evidence/grip_kinetics/run_grip_internal_force_compare.py
  src/engines/physics_engines/mujoco/python/grip_contact_sim.py
  tests/unit/grip_contact/test_engine_grip_contact.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): resolve quality-gate failures on GCV-20 speed-timing PR (#11767)
  docs/development/full_body_models/DESIGN_DECISIONS.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  scripts/config/architecture_budget.json
  scripts/config/doc_size_budget.json
  src/shared/python/motion_matching/club_face_target.py
  src/shared/python/motion_matching/execution/mjx_export.py
  src/shared/python/motion_matching/pipeline/cli.py
  src/shared/python/motion_matching/pipeline/lane.py
  tests/unit/model_appearance/test_clubhead_speed_timing.py
  tests/unit/motion_matching/pipeline/test_impact_split_smoothing.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon
