Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

docs(devlog): deduplicate entries to satisfy size budget
  docs/development/DEVELOPMENT_LOG.md
Due: none

docs(capture): record published provider integration
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/common_reference_calibration.md
Due: none

chore(context): update boundary reviews and render context documentation
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
Due: none

fix(capture): resolve calibration provider in installed wheels
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/common_reference_calibration.md
  src/tools/capture_rig/reference_calibration/worker.py
  tests/tools/capture_rig/test_reference_provider_resolution.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(capture): normalize installed metadata path protocol
  docs/development/HANDOFF.md
  docs/development/common_reference_calibration.md
  src/tools/capture_rig/reference_calibration/worker.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(capture): include reference loaders in installed wheels
  .gitignore
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/common_reference_calibration.md
  tests/smoke/python_wheel/test_wheel_artifact.py
Due: pytest-unit

docs(capture): keep qualification handoff within budget
  AGENT_HANDOFF.md
Due: none

docs(capture): track installed-runtime follow-up after calibration merge
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/common_reference_calibration.md
Due: none

fix(capture): keep new recordings in player-owned library storage
  SPEC.md
  docs/development/common_reference_calibration.md
  src/tools/capture_rig/gui.py
  src/tools/capture_rig/library_actions.py
  tests/tools/capture_rig/test_library_integration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(capture): verify preview uses selected player library
  docs/development/common_reference_calibration.md
  tests/tools/capture_rig/test_preview.py
Due: pytest-unit

fix(capture): index new takes and refresh their library identity
  SPEC.md
  docs/development/common_reference_calibration.md
  src/tools/capture_rig/gui.py
  src/tools/capture_rig/library_actions.py
  tests/tools/capture_rig/test_library_integration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(capture): record installed first-capture identity qualification
  docs/development/common_reference_calibration.md
Due: none

feat(capture): add native reusable camera setup editor
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/architecture/CAPABILITY_ATLAS.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/camera_setup_delivery.md
  docs/motion_capture/camera_setup.md
  docs/motion_capture/capture_rig.md
  docs/motion_capture/capture_wizard.md
  docs/motion_capture/user_guide.md
  src/config/capability_connections.json
  src/config/feature_parity.json
  src/tools/capture_rig/camera_setup.py
  src/tools/capture_rig/camera_setup_actions.py
  src/tools/capture_rig/camera_setup_dialog.py
  src/tools/capture_rig/goal_wizard.py
  src/tools/capture_rig/gui.py
  src/tools/capture_rig/wizard_actions.py
  src/tools/capture_rig/workflow.py
  tests/tools/capture_rig/test_camera_setup.py
  tests/tools/capture_rig/test_camera_setup_actions.py
  tests/tools/capture_rig/test_camera_setup_dialog.py
  ui/public/capability-atlas/capture-workflow.mmd
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(capture): record installed camera setup qualification
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/camera_setup_delivery.md
Due: none

refactor(capture): keep camera setup access within LoD budget
  src/tools/capture_rig/camera_setup_actions.py
  src/tools/capture_rig/wizard_actions.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(capture): fingerprint canonical workflow line endings
  ui/public/capability-atlas/graph.json
Due: none

fix(optimization): use constant bounds for shared parameters
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  manuals/upstreamdrift/calculation-registry.json
  src/shared/python/optimization/ocp/parameter_ocp.py
  tests/integration/optimization/ocp/test_parameter_ocp.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(optimization): link scalar bounds delivery and validation
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
Due: none

test(optimization): align bounds stub with SDK contract
  docs/development/DEVELOPMENT_LOG.md
  tests/unit/optimization/test_parameter_ocp_unit.py
Due: pytest-unit

test(capture): qualify guided restart and video alignment
  tests/tools/capture_rig/test_guided_capture_acceptance.py
Due: pytest-unit

docs(capture): add guided examples to searchable in-app help
  docs/development/camera_setup_delivery.md
  docs/motion_capture/capture_wizard.md
  src/tools/capture_rig/journey.py
  tests/tools/capture_rig/test_journey.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
