Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

docs: reformat SPEC.md to satisfy prettier
  SPEC.md
Due: none

fix: consolidated backlog fixes (PR #7399 & PR #7400) (#7401)
  scripts/config/architecture_budget.json
  scripts/config/file_size_budget.json
  src/engines/physics_engines/pinocchio/python/swing_plane_integration.py
  src/launchers/launcher_sidekick_sidebar.py
  src/launchers/upstream_drift_launcher.py
  tests/unit/launcher/conftest.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: consolidate UI dependency bumps and motion matching exports
  src/shared/python/motion_matching/__init__.py
  src/shared/python/motion_matching/surrogate/perstep/__init__.py
  ui/package-lock.json
  ui/package.json
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: unblock motion matching optional stack CI
  src/launchers/upstream_drift_launcher.py
  src/shared/python/motion_matching/__init__.py
  src/shared/python/motion_matching/surrogate/__init__.py
  tests/unit/motion_matching/test_package_exports.py
  tests/unit/motion_matching/test_surrogate_perstep_relocation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: update spec for UI dependency consolidation
  SPEC.md
Due: none

docs: update spec for golf data row caching
  SPEC.md
Due: none

fix: restore optimization compatibility aliases
  src/shared/python/optimization/_swing_models.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: update spec for putting green norm optimization
  SPEC.md
  src/api/routes/putting_green.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: finalize putting green spec metadata
  SPEC.md
  src/api/routes/putting_green.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: consolidate upstreamdrift PR queue updates
  SPEC.md
  src/api/routes/putting_green.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/apps/golf_gui/Simscape Multibody Data Plotters/Python Version/integrated_golf_gui_r0/golf_data_core.py
  src/launchers/upstream_drift_launcher.py
  src/shared/python/motion_matching/__init__.py
  src/shared/python/motion_matching/surrogate/__init__.py
  src/shared/python/motion_matching/surrogate/perstep/__init__.py
  src/shared/python/optimization/_swing_models.py
  tests/unit/motion_matching/test_package_exports.py
  tests/unit/motion_matching/test_surrogate_perstep_relocation.py
  ui/package-lock.json
  ui/package.json
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: declare sidekick wheel package
  SPEC.md
  pyproject.toml
Due: none

fix: keep docker scan blocking on fixable vulns
  .github/workflows/docker-security-scan.yml
  SPEC.md
  tests/unit/test_security_ci_acceptance.py
Due: pytest-unit

fix: prevent sidekick wheel package duplication
  SPEC.md
  pyproject.toml
  tests/unit/packaging/test_sidekick_console_script.py
Due: pytest-unit

fix: restore consolidated ci gates
  .github/workflows/ci-standard.yml
  SPEC.md
  src/api/routes/putting_green.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: harden frontend ci timeout headroom
  SPEC.md
  ui/src/components/ui/ErrorBoundary.tsx
  ui/vitest.config.ts
Due: no-debugger

fix: tolerate all-skipped optional unit targets
  .github/workflows/ci-optional-stack.yml
  SPEC.md
  tests/ci/test_ci_infrastructure.py
Due: pytest-unit

Add machine-readable feature-parity registry + CI gate
  .pre-commit-config.yaml
  CLAUDE.md
  docs/development/feature_parity_matrix.md
  scripts/generate_feature_parity_matrix.py
  src/config/feature_parity.json
  src/config/feature_parity_loader.py
  tests/config/feature_parity/test_matrix_freshness.py
  tests/config/feature_parity/test_registry.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(ui): UI/UX foundation — primitives, color tokens, 404, branding
  ui/README.md
  ui/index.html
  ui/public/app-icon.svg
  ui/public/vite.svg
  ui/src/App.test.tsx
  ui/src/App.tsx
  ui/src/components/simulation/ParameterPanel.tsx
  ui/src/components/ui/Badge.tsx
  ui/src/components/ui/Button.test.tsx
  ui/src/components/ui/Button.tsx
  ui/src/components/ui/Card.tsx
  ui/src/components/ui/Input.tsx
  ui/src/components/ui/Select.tsx
  ui/src/components/ui/Toast.tsx
  ui/src/components/ui/index.ts
  ui/src/index.css
  ui/src/pages/AnalysisTools.tsx
  ui/src/pages/CanonicalCoreShell.tsx
  ui/src/pages/DatasetGenerator.tsx
  ui/src/pages/NotFound.tsx
  ui/src/pages/PuttingGreen.tsx
  ui/src/utils/RouteTitle.tsx
  ui/src/utils/ScrollToTop.tsx
  ui/src/utils/colorGuard.allowlist.json
  ui/src/utils/colorGuard.test.ts
  ui/src/utils/routeTitles.test.ts
  ui/src/utils/routeTitles.ts
  ui/src/utils/usePageTitle.test.tsx
  ui/src/utils/usePageTitle.ts
  ui/tailwind.config.js
Due: no-debugger

ci: keep simscape matlab bridge out of core fallback
  .github/workflows/ci-standard.yml
  SPEC.md
Due: none

Add machine-readable feature-parity registry + CI gate (#7472)
  .pre-commit-config.yaml
  CLAUDE.md
  docs/development/feature_parity_matrix.md
  scripts/generate_feature_parity_matrix.py
  src/config/feature_parity.json
  src/config/feature_parity_loader.py
  tests/config/feature_parity/test_matrix_freshness.py
  tests/config/feature_parity/test_registry.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

Extract headless AnalysisOrchestrator from PyQt6 dashboard widgets
  src/shared/python/analysis/__init__.py
  src/shared/python/analysis/orchestrator.py
  src/shared/python/analysis/plot_data.py
  src/shared/python/dashboard/window.py
  tests/unit/shared_python/test_analysis_orchestrator.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Wire SimulationControls camera/recording/export to backend (web parity)
  src/api/models/responses.py
  src/api/routes/physics.py
  tests/unit/api/test_routes_physics.py
  ui/src/api/simulationControls.test.ts
  ui/src/api/simulationControls.ts
  ui/src/components/simulation/SimulationControls.test.tsx
  ui/src/components/simulation/SimulationControls.tsx
  ui/src/components/visualization/Scene3D.test.tsx
  ui/src/components/visualization/Scene3D.tsx
  ui/src/pages/Simulation.test.tsx
  ui/src/pages/Simulation.tsx
  ui/src/stores/useSimulationStore.test.ts
  ui/src/stores/useSimulationStore.ts
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

Make stub/partial web API endpoints honest; fix AnalysisTools page contracts
  SPEC.md
  src/api/models/requests.py
  src/api/routes/_route_utils.py
  src/api/routes/physics.py
  tests/unit/api/test_no_stub_routes.py
  tests/unit/api/test_routes_physics.py
  ui/src/api/useAnalysisTools.ts
  ui/src/pages/AnalysisTools.test.tsx
  ui/src/pages/AnalysisTools.tsx
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

Add web reachability contract to launcher manifest tiles
  SPEC.md
  src/api/local_server.py
  src/config/launcher_manifest.json
  src/config/launcher_manifest_loader.py
  tests/api/test_launcher_launch_api.py
  tests/config/launcher_manifest/test_parity.py
  ui/src/api/schemas.ts
  ui/src/api/useLauncherManifest.ts
  ui/src/api/webLaunch.test.ts
  ui/src/api/webLaunch.ts
  ui/src/components/simulation/LauncherDashboard.test.tsx
  ui/src/components/simulation/LauncherDashboard.tsx
  ui/src/pages/Dashboard.tsx
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, no-debugger, pytest-unit, radon

ci: keep sidekick package tests out of core fallback
  .github/workflows/ci-standard.yml
  SPEC.md
  tests/ci/test_ci_infrastructure.py
Due: pytest-unit

Generate TypeScript API types from the OpenAPI contract
  SPEC.md
  scripts/generate_ui_api_types.py
  src/api/models/responses.py
  src/api/routes/engines.py
  src/api/routes/launcher.py
  tests/api/test_generated_ui_api_types.py
  ui/README.md
  ui/src/api/client.ts
  ui/src/api/generated/types.ts
  ui/src/api/useEngineCapabilities.ts
  ui/src/api/useLauncherManifest.ts
  ui/src/stores/useEngineStore.ts
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

wip: diagnostics parity backend checkpoint (#7458)
  src/api/local_server.py
  src/api/routes/diagnostics.py
  src/launchers/integrations_health_data.py
  src/launchers/launcher_diagnostics.py
  tests/unit/api/test_diagnostics_routes.py
  ui/src/api/diagnostics.ts
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

feat(diagnostics): desktop-grade diagnostics + integrations health parity for web UI
  ui/src/components/ui/DiagnosticsPanel.test.tsx
  ui/src/components/ui/DiagnosticsPanel.tsx
Due: no-debugger

chore(parity): flip diagnostics.integrations_health registry entry to parity
  docs/development/feature_parity_matrix.md
  src/config/feature_parity.json
Due: none

Add export/recording parity: recordings API + web Recordings panel
  SPEC.md
  src/api/route_registry.py
  src/api/routes/recordings.py
  src/api/services/recording_service.py
  src/api/services/simulation_service.py
  tests/unit/api/test_routes_recordings.py
  ui/src/api/recordings.ts
  ui/src/components/simulation/RecordingsPanel.test.tsx
  ui/src/components/simulation/RecordingsPanel.tsx
  ui/src/pages/Simulation.tsx
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

ci: clean stale tauri package cache before clippy
  .github/workflows/tauri-build.yml
  SPEC.md
  tests/ci/test_ci_infrastructure.py
Due: pytest-unit

Finalize desktop-only exemptions in the feature-parity registry (ADR-0031)
  CLAUDE.md
  docs/adr/0031-web-parity-exemptions.md
  docs/adr/README.md
  docs/development/feature_parity_matrix.md
  src/config/feature_parity.json
Due: none

Fix mypy strictness for capability Literal and typed summary
  src/api/routes/engines.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(chat): give web chat live app/engine context via shared ChatAppContext schema
  docs/ui/FEATURE_PARITY_MATRIX.md
  src/api/local_server.py
  src/api/routes/chat_ws.py
  src/api/server.py
  src/api/services/chat_app_context.py
  src/api/services/simulation_service.py
  tests/unit/api/test_chat_app_context.py
  ui/src/components/ui/ChatContextChip.test.tsx
  ui/src/components/ui/ChatContextChip.tsx
  ui/src/components/ui/ChatPanel.tsx
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

feat(parity): About/version API + web About modal + first-run onboarding
  SPEC.md
  src/api/routes/about.py
  src/config/onboarding_cards.json
  src/launchers/about_dialog.py
  src/launchers/onboarding_dialog.py
  src/shared/python/version_info.py
  tests/launchers/wave8_dialogs/test_about_dialog_logic.py
  tests/unit/api/test_routes_about.py
  ui/src/api/about.ts
  ui/src/components/simulation/LauncherDashboard.tsx
  ui/src/components/ui/AboutModal.test.tsx
  ui/src/components/ui/AboutModal.tsx
  ui/src/components/ui/OnboardingOverlay.test.tsx
  ui/src/components/ui/OnboardingOverlay.tsx
  ui/src/pages/Dashboard.tsx
  ui/src/utils/onboardingStorage.ts
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

Finalize desktop-only exemptions in the feature-parity registry (ADR-0031) (#7479)
  CLAUDE.md
  docs/adr/0031-web-parity-exemptions.md
  docs/adr/README.md
  docs/development/feature_parity_matrix.md
  src/config/feature_parity.json
Due: none

fix(sidekick): correct vapor-pressure, integral, and Nm3/ppm science bugs
  src/shared/python/sidekick/calculators/conversion/_concentration.py
  src/shared/python/sidekick/calculators/conversion/_gas_flow.py
  src/shared/python/sidekick/calculators/thermo/_vapor_pressure.py
  src/shared/python/signal_toolkit/calculus.py
  tests/unit/signal_toolkit/test_calculus.py
  tests/unit/test_conversion_service_extended.py
  tests/unit/test_steam_engine_extended.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(parity): mark chat.live_context = parity in feature-parity registry
  docs/development/feature_parity_matrix.md
  src/config/feature_parity.json
Due: none

Annotate pre-existing quota-generator pass-through for changed-file mypy
  src/api/route_registry.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Add web settings surface: server-persisted preferences + /settings route
  SPEC.md
  docs/development/feature_parity_matrix.md
  src/api/routes/settings.py
  src/config/feature_parity.json
  tests/unit/api/test_routes_settings.py
  ui/src/App.tsx
  ui/src/api/settingsClient.ts
  ui/src/api/useWebSettings.ts
  ui/src/components/ui/Toast.tsx
  ui/src/pages/Settings.test.tsx
  ui/src/pages/Settings.tsx
  ui/src/stores/useSimulationStore.ts
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
