Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

feat(bunkershot3d): attempt the F1 angle of repose, and report that it does not settle
  SPEC.md
  src/bunkershot3d/calibration/__init__.py
  src/bunkershot3d/calibration/configs/README.md
  src/bunkershot3d/calibration/f1_repose.py
  tests/bunkershot3d/calibration/test_f1_continuum_8733.py
  tests/bunkershot3d/calibration/test_f1_repose_8733.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

test(research): require deterministic manufactured evidence
  tests/research/test_articulated_manufactured_solution.py
Due: pytest-unit

fix(research): refresh six evidence source pins left stale by #9232 (#9235)
  SPEC.md
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/data/articulated_contact_projection.json
  docs/research/proximal_distal_energy_transfer/data/articulated_forward_contact.json
  docs/research/proximal_distal_energy_transfer/data/articulated_inertia_cross_engine.json
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/data/spatial_full_body_study.json
  docs/research/proximal_distal_energy_transfer/data/subject_scaled_closed_contact.json
  docs/research/proximal_distal_energy_transfer/data/subject_scaled_spatial_geometry.json
  docs/research/proximal_distal_energy_transfer/release_manifest.json
Due: none

fix(research): refresh manufactured evidence provenance
  AGENT_HANDOFF.md
  SPEC.md
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/data/articulated_manufactured_solution.json
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/release_manifest.json
Due: none

chore(bunkershot3d): drop an unused constant from the F1 calibration record
  src/bunkershot3d/calibration/f1_continuum.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

refactor(bunkershot3d): split the relaxation march off its solver construction
  src/bunkershot3d/calibration/f1_repose.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(bunkershot3d): record what the shear-cell envelope's cohesion intercept is
  src/bunkershot3d/calibration/f1_shear_cell.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs: advance structural campaign handoff through 694
  AGENT_HANDOFF.md
Due: none

ci: ratchet against new duplicate SPEC.md changelog versions (#9241)
  .github/workflows/ci-standard.yml
  SPEC.md
  scripts/ci/check_spec_changelog_duplicates.py
  scripts/config/spec_changelog_duplicate_baseline.json
  tests/unit/scripts/test_check_spec_changelog_duplicates.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(spec): resolve protected version collision
  AGENT_HANDOFF.md
  SPEC.md
Due: none

docs: harden proximal campaign turnover details
  AGENT_HANDOFF.md
Due: none

docs: refresh proximal campaign handoff head
  AGENT_HANDOFF.md
Due: none

feat(bunkershot3d): calibrate F1's constitutive model to the harness's declared targets (#8733 §6) (#9238)
  SPEC.md
  src/bunkershot3d/calibration/__init__.py
  src/bunkershot3d/calibration/configs/README.md
  src/bunkershot3d/calibration/f1_continuum.py
  src/bunkershot3d/calibration/f1_repose.py
  src/bunkershot3d/calibration/f1_shear_cell.py
  src/bunkershot3d/calibration/optimizer.py
  tests/bunkershot3d/calibration/__init__.py
  tests/bunkershot3d/calibration/test_f1_continuum_8733.py
  tests/bunkershot3d/calibration/test_f1_repose_8733.py
  tests/bunkershot3d/calibration/test_f1_shear_cell_8733.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(spec): reconcile BunkerShot3D authority
  AGENT_HANDOFF.md
  SPEC.md
Due: none

fix(research): require complete structural evidence histories
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/DATA_DICTIONARY.md
  docs/research/proximal_distal_energy_transfer/README.md
  scripts/research/proximal_distal_energy/articulated_structural_factorial_evaluator.py
  scripts/research/proximal_distal_energy/articulated_structural_factorial_evidence.py
  scripts/research/proximal_distal_energy/articulated_structural_factorial_summary.py
  tests/research/test_articulated_structural_factorial_evidence.py
  tests/research/test_articulated_structural_factorial_summary.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: record structural evidence boundary
  AGENT_HANDOFF.md
Due: none

feat(research): audit structural evidence enrichment
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/README.md
  scripts/research/proximal_distal_energy/articulated_structural_factorial_enrichment_audit.py
  tests/research/test_articulated_structural_factorial_enrichment_audit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: refresh structural recovery handoff
  AGENT_HANDOFF.md
Due: none

docs(research): finalize structural campaign handoff
  AGENT_HANDOFF.md
Due: none

fix(research): bind complete structural execution provenance
  docs/research/proximal_distal_energy_transfer/README.md
  scripts/research/proximal_distal_energy/articulated_structural_factorial_runtime_audit.py
  tests/research/test_articulated_structural_factorial_runtime_audit.py
  tests/research/test_articulated_structural_factorial_summary.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(research): hand off runtime provenance closure
  AGENT_HANDOFF.md
Due: none

feat(research): preregister structural retention amendment
  docs/research/proximal_distal_energy_transfer/README.md
  scripts/research/proximal_distal_energy/articulated_structural_factorial_plan.py
  scripts/research/proximal_distal_energy/generate_articulated_structural_factorial_amendment.py
  tests/research/test_articulated_structural_factorial_plan.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(research): hand off outcome-blind plan amendment
  AGENT_HANDOFF.md
Due: none

fix(research): bind enriched structural launch schemas
  scripts/research/proximal_distal_energy/articulated_structural_factorial_runner.py
  tests/research/test_articulated_structural_factorial_runner.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(research): hand off enriched launch boundary
  AGENT_HANDOFF.md
Due: none

fix(research): prevent legacy structural revision reuse
  scripts/research/proximal_distal_energy/articulated_structural_factorial_runner.py
  tests/research/test_articulated_structural_factorial_runner.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(research): hand off legacy revision killswitch
  AGENT_HANDOFF.md
Due: none

feat(research): retain structural artifact receipts
  scripts/research/proximal_distal_energy/articulated_structural_factorial_artifact_receipt.py
  tests/research/test_articulated_structural_factorial_artifact_receipt.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(research): hand off terminal legacy prefix
  AGENT_HANDOFF.md
Due: none

docs(research): instantiate structural retention amendment
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_factorial_plan.json
  tests/research/test_articulated_structural_factorial_plan.py
Due: pytest-unit

docs(research): bind enriched structural launch
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_factorial_launch.json
  tests/research/test_articulated_structural_factorial_launcher.py
Due: pytest-unit

docs(research): hand off enriched replay start
  AGENT_HANDOFF.md
Due: none

fix(research): require enriched structural artifact histories
  scripts/research/proximal_distal_energy/articulated_structural_factorial_artifact_receipt.py
  tests/research/test_articulated_structural_factorial_artifact_receipt.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(research): hand off enriched intake gate
  AGENT_HANDOFF.md
Due: none

feat(research): retain exact structural prefix views
  scripts/research/proximal_distal_energy/articulated_structural_factorial_prefix_view.py
  tests/research/test_articulated_structural_factorial_prefix_view.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: refresh proximal distal agent handoff
  AGENT_HANDOFF.md
Due: none

docs(handoff): record post-merge publication gap
  AGENT_HANDOFF.md
Due: none

feat(research): expose structural artifact receipt CLI
  scripts/research/proximal_distal_energy/articulated_structural_factorial_artifact_receipt.py
  tests/research/test_articulated_structural_factorial_artifact_receipt.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: record structural receipt boundary
  AGENT_HANDOFF.md
Due: none

docs: record enriched replay equivalence gate
  AGENT_HANDOFF.md
Due: none
