Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

docs: refresh decomposed loader release evidence
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/release_manifest.json
Due: none

Fix merged-main pre-push portability gates
  docs/audits/2026-08-21-adversarial-integration-review.md
  docs/audits/2026-08-21-uiux-performance-review.md
  src/api/launcher_manifest_cache.py
  tests/unit/physics/fixtures/mujoco_swing_golden.json
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Document protected claim-adjudication handoff
  AGENT_HANDOFF.md
Due: none

docs(research): reconcile post-adjudication handoff
  AGENT_HANDOFF.md
Due: none

test: wire structural authority into headline atlases
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_propagation_plan.json
  scripts/research/proximal_distal_energy/articulated_atlas_authority.py
  scripts/research/proximal_distal_energy/articulated_atlas_runtime_authority.py
  scripts/research/proximal_distal_energy/articulated_ground_atlas.py
  scripts/research/proximal_distal_energy/articulated_shaft_atlas.py
  tests/research/test_articulated_atlas_authority.py
  tests/research/test_articulated_ground_atlas.py
  tests/research/test_articulated_shaft_atlas.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test: checkpoint structural headline propagation
  docs/research/proximal_distal_energy_transfer/MOMENTUM_TRANSFER_QUESTION_PROGRAM.md
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_propagation_plan.json
  scripts/research/proximal_distal_energy/articulated_ground_atlas.py
  scripts/research/proximal_distal_energy/articulated_shaft_atlas.py
  scripts/research/proximal_distal_energy/articulated_structural_atlas_execution.py
  scripts/research/proximal_distal_energy/articulated_structural_branch_contract.py
  scripts/research/proximal_distal_energy/articulated_structural_campaign.py
  scripts/research/proximal_distal_energy/articulated_structural_execution_identity.py
  scripts/research/proximal_distal_energy/articulated_structural_propagation_plan.py
  tests/research/test_articulated_structural_atlas_execution.py
  tests/research/test_articulated_structural_campaign.py
  tests/research/test_articulated_structural_execution_identity.py
  tests/research/test_articulated_structural_propagation_plan.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test: reconcile structural propagation after main
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/MODEL_COMPLETION_FALSIFICATION_MATRIX.md
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_propagation_plan.json
  scripts/config/architecture_budget.json
  tests/research/test_articulated_structural_figure.py
Due: pytest-unit

refactor: type structural campaign boundaries
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_propagation_plan.json
  scripts/config/architecture_budget.json
  scripts/research/proximal_distal_energy/articulated_structural_atlas_execution.py
  scripts/research/proximal_distal_energy/articulated_structural_campaign.py
  scripts/research/proximal_distal_energy/articulated_structural_corner_evidence.py
  tests/research/test_articulated_structural_axis_evidence.py
  tests/research/test_articulated_structural_campaign.py
  tests/research/test_articulated_structural_corner_evidence.py
  tests/research/test_articulated_structural_figure_data.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test: qualify terminal articulated uncertainty evidence
  .pre-commit-config.yaml
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/DATA_DICTIONARY.md
  docs/research/proximal_distal_energy_transfer/chapters/_ch06cab_articulated_headline_uncertainty.qmd
  docs/research/proximal_distal_energy_transfer/chapters/_ch09_conclusions.qmd
  docs/research/proximal_distal_energy_transfer/data/articulated_headline_execution_provenance.json
  docs/research/proximal_distal_energy_transfer/data/articulated_headline_uncertainty.json
  docs/research/proximal_distal_energy_transfer/data/claim_audit_registry.json
  docs/research/proximal_distal_energy_transfer/data/claim_candidate_inventory.json
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/figures/fig_articulated_headline_uncertainty.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_articulated_headline_uncertainty.svg
  scripts/research/proximal_distal_energy/articulated_headline_record_audit.py
  scripts/research/proximal_distal_energy/make_articulated_headline_uncertainty_figure.py
  scripts/research/proximal_distal_energy/register_articulated_uncertainty_claims.py
  tests/research/test_articulated_headline_record_audit.py
  tests/research/test_articulated_headline_uncertainty_evidence.py
  tests/research/test_articulated_headline_uncertainty_figure.py
  tests/research/test_articulated_uncertainty_claim_evidence.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

refactor: qualify structural campaign execution
  .pre-commit-config.yaml
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/data/articulated_scaled_authority_nominal.json
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_authority_body_mass_scale_high.json
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_authority_body_mass_scale_low.json
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_authority_campaign.json
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_authority_height_scale_high.json
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_authority_height_scale_low.json
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_authority_joint_limit_scale_high.json
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_authority_joint_limit_scale_low.json
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_authority_nominal.json
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_propagation_plan.json
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  scripts/config/architecture_budget.json
  scripts/research/proximal_distal_energy/articulated_ground_atlas.py
  scripts/research/proximal_distal_energy/articulated_scaled_authority.py
  scripts/research/proximal_distal_energy/articulated_shaft_atlas.py
  scripts/research/proximal_distal_energy/articulated_structural_authority_campaign.py
  scripts/research/proximal_distal_energy/articulated_structural_propagation_plan.py
  scripts/research/proximal_distal_energy/register_articulated_uncertainty_claims.py
  tests/research/test_articulated_ground_checkpoint.py
  tests/research/test_articulated_structural_authority_campaign.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix: make structural authority hashes portable
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/data/articulated_scaled_authority_nominal.json
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_authority_body_mass_scale_high.json
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_authority_body_mass_scale_low.json
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_authority_campaign.json
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_authority_height_scale_high.json
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_authority_height_scale_low.json
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_authority_joint_limit_scale_high.json
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_authority_joint_limit_scale_low.json
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_authority_nominal.json
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_propagation_plan.json
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  scripts/research/proximal_distal_energy/articulated_scaled_authority.py
  scripts/research/proximal_distal_energy/articulated_structural_authority_campaign.py
  tests/research/test_articulated_scaled_authority.py
  tests/research/test_articulated_structural_authority_campaign.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: record qualified structural campaign launch
  AGENT_HANDOFF.md
Due: none

fix(research): align structural shaft record adapter
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/data/articulated_structural_propagation_plan.json
  scripts/research/proximal_distal_energy/articulated_structural_atlas_execution.py
  tests/research/test_articulated_structural_atlas_execution.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(handoff): record controlled #8800 campaign launch
  AGENT_HANDOFF.md
Due: none

docs(handoff): distinguish frozen execution source
  AGENT_HANDOFF.md
Due: none

docs(handoff): record remote campaign orchestration
  AGENT_HANDOFF.md
Due: none

docs(handoff): record Tools release verification
  AGENT_HANDOFF.md
Due: none

docs(handoff): record remote campaign monitor
  AGENT_HANDOFF.md
Due: none

test(launchers): mark test_layout_lock_button_toggle_caption_and_tooltip with unit marker (#8897)
  tests/launchers/test_settings_dialog.py
Due: pytest-unit

fix(launchers): update layout lock button caption, tooltips, and sync on toggle (#8897) (#9008)
  src/launchers/settings_dialog.py
  tests/launchers/test_settings_dialog.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Use count_nonzero instead of sum for boolean arrays (#9014)
  SPEC.md
  scripts/config/architecture_budget.json
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/motion_matching/option4_python_bridge/tests/test_fit_swing_python.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/motion_matching/results/.leaderboard_meta.json
  src/shared/python/launch_monitor/flexible_analysis.py
  src/shared/python/motion_matching/validate_theta.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Optimize q_statistic calculation (#9013)
  SPEC.md
  src/shared/python/launch_monitor/player_covariation_core.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Optimize row-wise norm with einsum (#9025)
  .jules/bolt.md
  SPEC.md
  src/tools/bunker_shot_gui/bridge.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(starting_pose_matcher): confirm and unconditionally restore events on clear overrides (#8889)
  src/tools/starting_pose_matcher/gui_main_widget.py
  tests/unit/tools/starting_pose_matcher/test_clear_overrides_state.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(starting_pose_matcher): use explicit test events in clear overrides unit test (#8889)
  tests/unit/tools/starting_pose_matcher/test_clear_overrides_state.py
Due: pytest-unit

fix(starting_pose_matcher): format test and record spec entry (#8889)
  SPEC.md
  tests/unit/tools/starting_pose_matcher/test_clear_overrides_state.py
Due: pytest-unit

test(starting_pose_matcher): provide complete mock dataframe schema in clear overrides test (#8889)
  tests/unit/tools/starting_pose_matcher/test_clear_overrides_state.py
Due: pytest-unit

fix(starting_pose_matcher): confirm and unconditionally restore events on clear overrides (#8889) (#9012)
  SPEC.md
  src/tools/starting_pose_matcher/gui_main_widget.py
  tests/unit/tools/starting_pose_matcher/test_clear_overrides_state.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: link protected recovery handoff PR
  AGENT_HANDOFF.md
Due: none

test(tools): isolate provider-mode contracts
  AGENT_HANDOFF.md
  tests/shared_contracts/test_tools_vendoring.py
Due: pytest-unit

test(pose_studio): mark test_gui with unit and ui markers (#8879)
  tests/unit/tools/pose_studio/test_gui.py
Due: pytest-unit

fix(pose_studio): initialize undo/redo QActions on MainWidget and guard refresh (#8879)
  src/tools/pose_studio/gui.py
  tests/unit/tools/pose_studio/test_gui.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): add spec entry for pose studio actions (#8879)
  SPEC.md
Due: none

docs(spec): add spec entry for shared theme exports (#8894)
  SPEC.md
Due: none

fix(theme): export Colors, Sizes, Weights, and font getters from theme package (#8894)
  src/shared/python/theme/__init__.py
  src/shared/python/theme/palette.py
  tests/unit/shared/theme/test_shared_theme_exports.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(research): add biomechanics evidence bridge
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/BIOMECHANICS_EVIDENCE_BRIDGE.md
  docs/research/proximal_distal_energy_transfer/DATA_DICTIONARY.md
  docs/research/proximal_distal_energy_transfer/README.md
  docs/research/proximal_distal_energy_transfer/chapters/_biomechanics_evidence_bridge.qmd
  docs/research/proximal_distal_energy_transfer/chapters/_ch06e_experimental_protocol.qmd
  docs/research/proximal_distal_energy_transfer/data/biomechanics_evidence_bridge.json
  docs/research/proximal_distal_energy_transfer/data/biomechanics_source_register.json
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.qmd
  docs/research/proximal_distal_energy_transfer/references.bib
  scripts/research/proximal_distal_energy/biomechanics_evidence_bridge.py
  scripts/research/proximal_distal_energy/biomechanics_evidence_surfaces.py
  scripts/research/proximal_distal_energy/biomechanics_source_register.py
  scripts/research/proximal_distal_energy/qualify_open_release.py
  scripts/research/proximal_distal_energy/release_bundle.py
  tests/research/test_proximal_distal_release_bundle.py
  tests/unit/research/test_biomechanics_evidence_bridge.py
  tests/unit/research/test_biomechanics_evidence_surfaces.py
  tests/unit/research/test_biomechanics_source_register.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(research): register biomechanics evidence claims
  AGENT_HANDOFF.md
  docs/research/proximal_distal_energy_transfer/README.md
  docs/research/proximal_distal_energy_transfer/chapters/_biomechanics_evidence_bridge.qmd
  docs/research/proximal_distal_energy_transfer/chapters/_claim_adjudication_summary.qmd
  docs/research/proximal_distal_energy_transfer/data/biomechanics_evidence_bridge.json
  docs/research/proximal_distal_energy_transfer/data/biomechanics_source_register.json
  docs/research/proximal_distal_energy_transfer/data/claim_adjudication_summary.csv
  docs/research/proximal_distal_energy_transfer/data/claim_adjudication_summary.json
  docs/research/proximal_distal_energy_transfer/data/claim_audit_registry.json
  docs/research/proximal_distal_energy_transfer/data/claim_candidate_inventory.json
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  scripts/research/proximal_distal_energy/biomechanics_evidence_surfaces.py
  scripts/research/proximal_distal_energy/register_biomechanics_evidence_bridge_claims.py
  tests/unit/research/test_biomechanics_claim_registration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(research): bound biomechanics source support
  docs/research/proximal_distal_energy_transfer/data/biomechanics_evidence_bridge.json
  docs/research/proximal_distal_energy_transfer/data/biomechanics_source_register.json
  docs/research/proximal_distal_energy_transfer/data/claim_adjudication_summary.csv
  docs/research/proximal_distal_energy_transfer/data/claim_adjudication_summary.json
  docs/research/proximal_distal_energy_transfer/data/claim_audit_registry.json
  docs/research/proximal_distal_energy_transfer/data/claim_candidate_inventory.json
  docs/research/proximal_distal_energy_transfer/data/release_claim_review.json
  scripts/research/proximal_distal_energy/register_biomechanics_evidence_bridge_claims.py
  tests/unit/research/test_biomechanics_claim_registration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test(research): advance reviewed claim snapshot
  scripts/research/proximal_distal_energy/migrate_claim_adjudication_v2.py
  tests/research/test_publication_quality.py
  tests/unit/research/test_claim_adjudication_summary.py
  tests/unit/research/test_proximal_distal_claim_audit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(research): publish biomechanics evidence bridge
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.pdf
  docs/research/proximal_distal_energy_transfer/proximal_distal_energy_transfer.tex
  docs/research/proximal_distal_energy_transfer/release_manifest.json
Due: none
