Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

fix(contracts): support addinivalue_line on config stub and register cross_engine marker
  pyproject.toml
  tests/conftest.py
  tests/shared_contracts/test_tools_vendoring.py
Due: pytest-unit

fix(simscape): add live heartbeat file and stdout flush per evaluation
  docs/development/simscape_tour_matching/native_evidence/reproduction/first_prefix_fit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(mujoco): add canonical 25-DOF floating humanoid model matching Simscape topology (#9964)
  scripts/build_humanoid_models.py
  src/engines/physics_engines/mujoco/_golf_swing_canonical_xml.py
  src/engines/physics_engines/mujoco/python/motion_matching/simulate.py
  tests/motion_matching/mujoco_mjcf/test_simulate.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(handoff): update turnover with Candidate 203 audit, run 03 status, and canonical MuJoCo landing (#9921, #9964)
  AGENT_HANDOFF.md
Due: none

feat(cross-engine): automated four-engine parity benchmark suite and tolerance gate (#9969) (#9986)
  SPEC.md
  docs/development/cross_engine_parity/CROSS_ENGINE_GOLF_EQUIVALENCE_SPEC.md
  pyproject.toml
  src/shared/python/engine_core/engine_availability.py
  tests/conftest.py
  tests/cross_engine/test_four_engine_parity.py
  tests/fixtures/cross_engine_parity/__init__.py
  tests/fixtures/cross_engine_parity/simscape_canonical_baseline.npz
  tests/shared_contracts/test_tools_vendoring.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(ui): reconcile canonical UI policy and supersede orphaned parity matrix (#8833)
  README.md
  docs/README.md
  docs/index.md
  docs/ui/FEATURE_PARITY_MATRIX.md
Due: none

docs(ui): reconcile canonical UI policy and supersede orphaned parity matrix (#8833) (#9987)
  README.md
  docs/README.md
  docs/index.md
  docs/ui/FEATURE_PARITY_MATRIX.md
Due: none

\ docs: update AGENT_HANDOFF with run 03 telemetry and cross-engine equivalency\
  AGENT_HANDOFF.md
Due: none

\ docs: update AGENT_HANDOFF with run 03 audit and Candidate 75 750ms replay baseline\
  AGENT_HANDOFF.md
Due: none

docs(sg_optimizer): cite condition model coefficients in data_sources.md (fixes #8849)
  docs/sg_optimizer/data_sources.md
  src/shared/python/sg_optimizer/course/conditions.py
  tests/unit/sg_optimizer/course/test_conditions.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: add SPEC.md entry for sg_optimizer condition models (#8849)
  SPEC.md
Due: none

\ docs: update AGENT_HANDOFF with run 04 active execution telemetry\
  AGENT_HANDOFF.md
Due: none

test(sg_optimizer): add unit suite marker to test_conditions.py
  tests/unit/sg_optimizer/course/test_conditions.py
Due: pytest-unit

docs(sg_optimizer): cite condition model coefficients in data_sources.md (#9988)
  SPEC.md
  docs/sg_optimizer/data_sources.md
  src/shared/python/sg_optimizer/course/conditions.py
  tests/unit/sg_optimizer/course/test_conditions.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

\ docs: update AGENT_HANDOFF with Candidate 337 breaking 25mm whole-window gate\
  AGENT_HANDOFF.md
Due: none

docs: reconcile analysis tools help documentation with real APIs (#8844)
  SPEC.md
  docs/help/analysis_tools.md
  tests/unit/shared_python/test_analysis_orchestrator.py
Due: pytest-unit

docs: cite analysis tools help document in launcher navigation UI
  src/launchers/_launcher_navigation_ui.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

\ docs: update AGENT_HANDOFF with Candidate 528 packaging and 0.80s transfer verification\
  AGENT_HANDOFF.md
Due: none

docs: reconcile analysis tools help documentation with real APIs (#8844) (#9989)
  SPEC.md
  docs/help/analysis_tools.md
  src/launchers/_launcher_navigation_ui.py
  tests/unit/shared_python/test_analysis_orchestrator.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(gui): reconcile in-app help system paths and topic mappings (#8843)
  SPEC.md
  src/shared/python/gui_pkg/help_content.py
  src/shared/python/gui_pkg/help_system.py
  tests/unit/launchers/test_help_paths_and_theme_menu.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Epic: Comprehensive Claim Audit and Open Golf Modeling Research Program
  AGENT_HANDOFF.md
  SPEC.md
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/COMPREHENSIVE_RESEARCH_PROGRAM.md
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/release_manifest.json
Due: none

fix(gui): reconcile in-app help system paths and topic mappings (#8843) (#9990)
  SPEC.md
  src/shared/python/gui_pkg/help_content.py
  src/shared/python/gui_pkg/help_system.py
  tests/unit/launchers/test_help_paths_and_theme_menu.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
