Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

feat(force_overlay): [FTO-30] force overlay gallery, golden tests, user guide, and parity ledger (#11315) (#11397)
  .gitignore
  SPEC.md
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/agents/shared-infrastructure.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/FEATURE_TRACKING.md
  docs/development/HANDOFF.md
  docs/development/segment_force_color_epic.md
  docs/issues/EPIC_WEB_UI_PARITY.md
  docs/shared_tools/divergence_inventory.v1.json
  docs/user_guide/body_part_viz/force_colors.md
  docs/user_guide/force_overlay.md
  scripts/render_force_overlay_gallery.py
  src/config/launcher_manifest.json
  src/shared/python/force_overlay/renderers/opencv_glyphs.py
  src/tools/capture_rig/reference_appearance.py
  tests/scripts/test_render_force_overlay_gallery.py
  tests/visual/force_overlay/goldens/matplotlib_pendulum_320x240.png
  tests/visual/force_overlay/goldens/mujoco_pendulum_320x240.png
  tests/visual/force_overlay/goldens/opencv_pendulum_320x240.png
  tests/visual/force_overlay/test_golden_force_overlays.py
  ui/public/capability-atlas/graph.json
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(shared-tools): add the four new OpenCap modules to the divergence inventory
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

docs(simscape): verify full-clock acceleration tradeoffs and club contracts
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/research/simscape_matching_reference/README.md
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
  docs/research/simscape_matching_reference/tangent_c2_checkpoint_20261003.json
Due: none

feat(motion-pipeline): import full OpenCap sessions with real marker names (#11410)
  AGENT_HANDOFF.md
  SPEC.md
  docs/adr/0053-opencap-sidecar-licence-and-privacy-boundary.md
  docs/adr/README.md
  docs/development/DEVELOPMENT_LOG.md
  docs/motion_pipeline/formats.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_pipeline/scaling/__init__.py
  src/shared/python/motion_pipeline/scaling/marker_maps.py
  src/shared/python/motion_pipeline/sources/opencap_adapter.py
  src/shared/python/motion_pipeline/sources/opencap_layout.py
  src/shared/python/motion_pipeline/sources/opencap_markers.py
  src/shared/python/motion_pipeline/sources/opencap_session.py
  src/shared/python/motion_pipeline/sources/osim_coordinates.py
  src/shared/python/motion_pipeline/sources/sto_mot_adapter.py
  tests/architecture/test_opencap_boundary.py
  tests/unit/motion_pipeline/scaling/test_marker_maps.py
  tests/unit/motion_pipeline/sources/opencap_fixtures.py
  tests/unit/motion_pipeline/sources/test_opencap_adapter.py
  tests/unit/motion_pipeline/sources/test_opencap_session.py
  tests/unit/motion_pipeline/sources/test_sto_mot_adapter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(necromatcher): add raw shaft fragment diagnostics and reviewed methods
  AGENT_HANDOFF.md
  SPEC.md
  docs/agents/shared-infrastructure.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/necromatcher-analytic-marker-budget-results-review.json
  docs/development/necromatcher-analytic-marker-budget-results.tex
  docs/development/necromatcher-shaft-fragment-diagnostics.md
  docs/development/necromatcher-shaft-fragment-methods-review.json
  docs/development/necromatcher-shaft-fragment-methods.tex
  docs/development/necromatcher-turnover.md
  manuals/upstreamdrift/calculation-registry.json
  src/shared/python/motion_matching/historical_fit/__init__.py
  src/shared/python/motion_matching/historical_fit/shaft_fragment_diagnostics.py
  tests/unit/motion_matching/test_shaft_fragment_diagnostics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(simscape): record independently verified club orientation window fits
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/research/simscape_matching_reference/README.md
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
  docs/research/simscape_matching_reference/tangent_c2_checkpoint_20261003.json
Due: none

feat(motion-pipeline): [OpenCap] import session action in PyQt6 and React/Tauri (#11409)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/feature_parity_matrix.md
  src/api/route_registry.py
  src/api/routes/opencap.py
  src/config/feature_parity.json
  src/engines/physics_engines/opensim/python/opencap_import_action.py
  src/engines/physics_engines/opensim/python/opensim_gui.py
  src/engines/physics_engines/opensim/python/opensim_physics_engine.py
  src/shared/python/motion_pipeline/sources/opencap_session.py
  tests/ui/engines/opensim/test_opencap_import_action.py
  tests/unit/api/test_routes_opencap.py
  ui/src/components/opencap/OpenCapImportModal.test.tsx
  ui/src/components/opencap/OpenCapImportModal.tsx
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

chore: update divergence inventory after merge of main
  docs/shared_tools/divergence_inventory.v1.json
Due: none

fix(ui): resolve react-hooks cascading state and typed OrbitControls in Scene3D (#11409)
  ui/src/components/opencap/OpenCapImportModal.tsx
  ui/src/components/visualization/Scene3D.tsx
Due: no-debugger

chore: update capability atlas for opencap session import (#11409)
  docs/architecture/CAPABILITY_ATLAS.md
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: none

docs(simscape): correct club observation section title capitalization
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
Due: none

docs: update SPEC.md for capture-o ground-support pipeline (#11166)
  SPEC.md
Due: none

fix: satisfy color guard and Law of Demeter in opencap session import (#11409)
  src/api/routes/opencap.py
  ui/src/components/opencap/OpenCapImportModal.tsx
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

docs: remove accidental conflict marker in HANDOFF.md (#11166)
  docs/development/HANDOFF.md
Due: none

chore: update agent-context reviews and generated views for opencap (#11409)
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
Due: none

refactor: extract _validate_session_dir to satisfy DRY duplication gate (#11409)
  src/api/routes/opencap.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(capture): run capture-O through the MuJoCo ground-support pipeline (#11161 part 2, #11166) (#11174)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/monolith_refactor_register.md
  docs/shared_tools/divergence_inventory.v1.json
  reports/matched_swing_ledger.json
  src/shared/python/motion_matching/execution/downswing.py
  src/shared/python/motion_matching/execution/mjx_export.py
  src/shared/python/motion_matching/pipeline/__init__.py
  src/shared/python/motion_matching/pipeline/address.py
  src/shared/python/motion_matching/pipeline/cli.py
  src/shared/python/motion_matching/pipeline/constants.py
  src/shared/python/motion_matching/pipeline/dynamics.py
  src/shared/python/motion_matching/pipeline/lane.py
  src/shared/python/motion_matching/pipeline/receipt.py
  src/shared/python/motion_matching/pipeline/reference.py
  src/shared/python/motion_matching/tour_capture_contract.py
  src/tools/motion_matching/pipeline.py
  tests/integration/motion_matching/test_ground_support_capture_smoke.py
  tests/unit/motion_matching/pipeline/test_constants.py
  tests/unit/motion_matching/pipeline/test_dynamics.py
  tests/unit/motion_matching/test_rate_independence.py
  tests/unit/motion_matching/test_tour_capture_contract_owner.py
  tests/unit/motion_matching/test_trajectory_optimiser_selection.py
  tests/unit/motion_matching/test_weld_manifold.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion-capture): [COV-1] build acquisition receipt for capture-o video album (#11269)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/motion_capture/acquisition_receipt.py
  src/shared/python/motion_capture/__init__.py
  src/shared/python/motion_capture/acquisition_receipt.py
  tests/unit/motion_capture/test_capture_o_video_acquisition.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

refactor(motion-capture): group acquisition options to satisfy parameter budget (#11269)
  src/motion_capture/acquisition_receipt.py
  src/shared/python/motion_capture/acquisition_receipt.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs: verify full-clock club fits and deliver refined swing previews
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/research/simscape_matching_reference/README.md
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
  docs/research/simscape_matching_reference/tangent_c2_checkpoint_20261003.json
Due: none

feat(motion-pipeline): opt-in hosted OpenCap session download client (#11407)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/shared/python/motion_pipeline/sources/__init__.py
  src/shared/python/motion_pipeline/sources/opencap_download.py
  tests/architecture/test_opencap_boundary.py
  tests/unit/motion_pipeline/sources/test_opencap_download.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(necromatcher): record morphology trials and two-hand fitting scope
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/historical_capture/arm-morphology-admission-report-review.json
  docs/development/historical_capture/arm-morphology-admission-summary.json
  docs/development/historical_capture/tiger-two-hand-window-review.json
  docs/development/necromatcher-arm-morphology-admission-report.tex
  docs/development/necromatcher-arm-morphology-admission.md
  docs/development/necromatcher-turnover.md
Due: none

docs(opencap): record PR #11415 in SPEC, development log, and handoff
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

feat(motion-capture): [COV-2] register capture-o video sources, timing evidence, swing windows and grades (#11270)
  SPEC.md
  data/capture_registry.json
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/historical_capture/source-catalog.json
  src/motion_capture/capture_registry.py
  src/shared/python/shadow_tracker/source_records.py
  src/shared/python/workspace/necromatcher_video.py
  tests/motion_capture/test_capture_registry.py
  tests/unit/motion_capture/test_cov2_source_registration.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(config): version video usability grading rubric for capture-O (#11270)
  src/config/video_usability_rubric.json
Due: none

chore(inventory): update divergence inventory for motion_capture module (#11269)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

chore(config): regenerate api types, classify opencap in capability baseline (#11409)
  docs/development/ORG01_CAPABILITY_BASELINE.md
  src/config/capability_migration.json
  tests/companion/test_companion_catalog.py
  ui/src/api/generated/types.ts
Due: no-debugger, pytest-unit

fix(opencap): satisfy architecture budget and dynamic urllib semgrep rule
  src/shared/python/motion_pipeline/sources/opencap_download.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: consolidate duplicate parent changelog rows without losing summaries
  SPEC.md
Due: none

feat(motion-pipeline): [OpenCap] import session action in PyQt6 and React/Tauri (#11409) (#11412)
  AGENT_HANDOFF.md
  SPEC.md
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/architecture/CAPABILITY_ATLAS.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/ORG01_CAPABILITY_BASELINE.md
  docs/development/feature_parity_matrix.md
  src/api/route_registry.py
  src/api/routes/opencap.py
  src/config/capability_migration.json
  src/config/feature_parity.json
  src/engines/physics_engines/opensim/python/opencap_import_action.py
  src/engines/physics_engines/opensim/python/opensim_gui.py
  src/engines/physics_engines/opensim/python/opensim_physics_engine.py
  src/shared/python/motion_pipeline/sources/opencap_session.py
  tests/companion/test_companion_catalog.py
  tests/ui/engines/opensim/test_opencap_import_action.py
  tests/unit/api/test_routes_opencap.py
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
  ui/src/api/generated/types.ts
  ui/src/components/opencap/OpenCapImportModal.test.tsx
  ui/src/components/opencap/OpenCapImportModal.tsx
  ui/src/components/visualization/Scene3D.tsx
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

chore: apply prettier formatting to files merged from main
  docs/development/ORG01_CAPABILITY_BASELINE.md
  docs/research/simscape_matching_reference/dense_curve_branch_checkpoint_20261003.json
  docs/research/simscape_matching_reference/native_tangent_state_recheck_20261003.json
  src/config/capability_migration.json
Due: none

feat(shadow-tracker): [COV-5] registry-selected estimator options in historical capture runner (#11273)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  scripts/historical_capture.py
  src/shared/python/motion_pipeline/sources/hmr2_adapter.py
  tests/unit/shadow_tracker/test_historical_capture_runner.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: record selected club continuity checks and qualification limits
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/research/simscape_matching_reference/README.md
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
  docs/research/simscape_matching_reference/tangent_c2_checkpoint_20261003.json
Due: none

docs: restore original UTF-8 punctuation in merged records
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

fix(motion_capture): consolidate acquisition_receipt under src/motion_capture (#11269)
  .commit_msg
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/motion_capture/acquisition_receipt.py
  src/shared/python/motion_capture/__init__.py
  src/shared/python/motion_capture/acquisition_receipt.py
  tests/unit/motion_capture/test_capture_o_video_acquisition.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(shared-tools): add opencap_download to divergence inventory and fix spec changelog table
  SPEC.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

chore: remove .commit_msg from git tracking
  .commit_msg
Due: none

fix(opensim): suppress matplotlib backend set error in headless environments (#11273)
  src/engines/physics_engines/opensim/python/opensim_gui.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon
