Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

fix(motion-matching): measure the release on whole pre-contact segments (GCV-20, #11767)
  src/shared/python/motion_matching/pipeline/release_cutoff.py
  tests/unit/motion_matching/pipeline/test_release_cutoff.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(motion-matching): bound observation sampling API
  changes/11793-f09a-observation-output-sampling.md
  changes/11831-f09a-observation-output-sampling.md
  docs/development/feedback_controls/F09A-OBSERVATION-SAMPLING.md
  docs/development/feedback_controls/TURNOVER.md
  manuals/upstreamdrift/chapters/13-feedback-comparison.qmd
  src/shared/python/motion_matching/__init__.py
  src/shared/python/motion_matching/replay_metrics.py
  tests/unit/motion_matching/test_replay_observation_sampling.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(controls): validate synthetic candidates with native replay
  SPEC.md
  changes/11824-native-candidate-benchmark.md
  docs/development/feedback_controls/F03B_NATIVE_CANDIDATE_TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/20-native-candidate-benchmark.qmd
  manuals/upstreamdrift/index.qmd
  src/shared/python/motion_matching/native_candidate_benchmark.py
  tests/unit/motion_matching/test_native_candidate_benchmark.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test: expose pinned Tools lab contracts through shared namespace
  tests/unit/motion_matching/test_native_torque_replay.py
Due: pytest-unit

fix: resolve Tools mocap contracts through the lab namespace
  docs/development/feedback_controls/F06_NATIVE_TORQUE_TURNOVER.md
  manuals/upstreamdrift/chapters/19-native-torque-replay.qmd
  src/shared/python/sidekick/lab/__init__.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(grip): driver parity metrics, all engines inside tolerance (#11739)
  docs/development/full_body_models/evidence/grip_kinetics/parity/metrics_driver.json
Due: none

docs(handoff): OSV-7 phase 2 grip parity handoff and change fragment (#11739)
  AGENT_HANDOFF.md
  changes/11739-osv-7-phase-2-same-input-bushing-grip-pa.md
Due: none

build(controls): pin merged replay contract for native benchmark
  SPEC.md
  docs/development/feedback_controls/F03B_NATIVE_CANDIDATE_TURNOVER.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/20-native-candidate-benchmark.qmd
Due: none

test(replay): require owned namespace seam helper
  tests/unit/motion_matching/test_native_torque_replay.py
Due: pytest-unit

docs(design-manual): provisional lift pack audit chapter (LIFT-11 slice 1)
  changes/11751-provisional-design-manual-chapter-for-th.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/15-lift-pack-audit.qmd
  manuals/upstreamdrift/index.qmd
  tests/scripts/test_design_manual_governance_contract.py
Due: pytest-unit

feat(motion-matching): project the tracked reference onto the grip weld (GCV-20, #11767)
  src/shared/python/motion_matching/pipeline/cli.py
  src/shared/python/motion_matching/pipeline/constants.py
  src/shared/python/motion_matching/pipeline/weld_projection.py
  tests/unit/motion_matching/pipeline/test_weld_projection.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): assert ownership guard default branch ref
  .github/workflows/ci-standard.yml
  docs/development/feedback_controls/F07_NATIVE_CONTACT_TURNOVER.md
  tests/ci/test_ci_infrastructure.py
Due: pytest-unit

fix(ci): accept sparse Hessian and pinned default fetch
  src/shared/python/motion_matching/sparse_collocation_spike.py
  tests/ci/test_ci_infrastructure.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(opensim): audit native muscle excitation replay (#11812)
  SPEC.md
  changes/11809-native-muscle-replay.md
  docs/development/feedback_controls/ASTRA_REVIEW.md
  docs/development/feedback_controls/DESIGN.md
  docs/development/feedback_controls/F07_NATIVE_REPLAY_TURNOVER.md
  docs/development/feedback_controls/IMPLEMENTATION_PLAN.md
  docs/development/feedback_controls/milestone_dependencies.json
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/13-native-muscle-replay.qmd
  manuals/upstreamdrift/index.qmd
  src/engines/physics_engines/opensim/python/tour_matching/__init__.py
  src/engines/physics_engines/opensim/python/tour_matching/muscle_replay.py
  tests/opensim/test_native_muscle_replay.py
  tests/scripts/test_design_manual_governance_contract.py
  tests/unit/engines/test_feedback_milestone_dependencies.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): validate ownership comparison branch ref
  .github/workflows/ci-standard.yml
  tests/ci/test_ci_infrastructure.py
Due: pytest-unit

fix(replay): consume merged Tools through owned seam helper
  Cargo.toml
  docs/development/feedback_controls/F06_NATIVE_TORQUE_TURNOVER.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  manuals/upstreamdrift/chapters/19-native-torque-replay.qmd
  requirements-tools.txt
  src/engines/physics_engines/mujoco/python/native_torque_replay.py
  src/shared/python/_seam_redirect.py
  src/shared/python/sidekick/lab/__init__.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): fetch ownership guard comparison ref explicitly
  .github/workflows/ci-standard.yml
  tests/ci/test_ci_infrastructure.py
Due: pytest-unit

fix(replay): consume merged Tools through owned seam helper
  Cargo.toml
  docs/development/feedback_controls/F06_NATIVE_TORQUE_TURNOVER.md
  manuals/upstreamdrift/chapters/19-native-torque-replay.qmd
  requirements-tools.txt
  src/engines/physics_engines/mujoco/python/native_torque_replay.py
  src/shared/python/_seam_redirect.py
  src/shared/python/sidekick/lab/__init__.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: regenerate Tools divergence after owned replay seam
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

fix(ci): assert fetched default tracking ref
  tests/ci/test_ci_infrastructure.py
Due: pytest-unit

fix(inventory): List the GCV-5 Recorder Ground-Reaction Module (#11711)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

refactor(controls): group native attempt timing evidence
  src/shared/python/motion_matching/native_candidate_benchmark.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion-matching): sample replay outputs on observation clock (#11830)
  changes/11831-f09a-observation-output-sampling.md
  docs/development/feedback_controls/F09A-OBSERVATION-SAMPLING.md
  docs/development/feedback_controls/TURNOVER.md
  manuals/upstreamdrift/chapters/13-feedback-comparison.qmd
  src/shared/python/motion_matching/__init__.py
  src/shared/python/motion_matching/replay_metrics.py
  tests/unit/motion_matching/test_replay_observation_sampling.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(grip): MuJoCo and Drake iron7 bushing-grip parity series (#11739)
  docs/development/full_body_models/evidence/grip_kinetics/parity/drake_iron7_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/parity/mujoco_iron7_series.npz
Due: none

test(drake): require independent native frozen torque replay
  tests/unit/motion_matching/test_native_drake_torque_replay.py
Due: pytest-unit

test(impact): engine-free adapter contract tests for GCV-15 coverage (#11721)
  changes/11721-gcv-15-engine-free-adapter-contract-test.md
  tests/unit/impact_parameters/test_adapter_contracts.py
Due: pytest-unit

fix(gaze): weight-0 receipt plans impact from the smoothed pass (OSV-3b, #11729)
  src/shared/python/motion_matching/pipeline/gaze_residual.py
  src/shared/python/motion_matching/pipeline/lane.py
  tests/unit/motion_matching/pipeline/test_gaze_residual.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(controls): keep replay policy access within LOD budget
  src/shared/python/motion_matching/native_candidate_benchmark.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion-matching): benchmark synthetic collocation and replay readiness (#11822)
  .github/workflows/ci-standard.yml
  SPEC.md
  changes/11821-sparse-collocation-spike.md
  docs/development/feedback_controls/F03_TURNOVER.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/17-sparse-collocation-benchmark.qmd
  manuals/upstreamdrift/index.qmd
  src/shared/python/motion_matching/sparse_collocation_spike.py
  tests/ci/test_ci_infrastructure.py
  tests/unit/motion_matching/test_sparse_collocation_spike.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(opensim): observe native coupled-wrist compatibility gates
  SPEC.md
  changes/11834-native-wrist-compatibility.md
  docs/development/feedback_controls/F07_WRIST_TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/20-native-wrist-compatibility.qmd
  manuals/upstreamdrift/index.qmd
  src/engines/physics_engines/opensim/python/tour_matching/__init__.py
  src/engines/physics_engines/opensim/python/tour_matching/wrist_compatibility.py
  tests/opensim/test_native_wrist_compatibility.py
  tests/scripts/test_design_manual_governance_contract.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: refresh agent context for native candidate benchmark
  docs/agent_context/README.md
  docs/agent_context/index.html
Due: none

docs(context): refresh native replay navigation
  docs/agent_context/README.md
  docs/agent_context/index.html
Due: none

docs(opensim): retain native FPL segment-work diagnostic gate
  docs/development/feedback_controls/F07_WRIST_TURNOVER.md
  manuals/upstreamdrift/chapters/20-native-wrist-compatibility.qmd
Due: none

feat(feedback): score native observation receipts
  AGENT_HANDOFF.md
  Cargo.toml
  SPEC.md
  changes/11837-f09b-native-observation-scoring.md
  docs/development/feedback_controls/F09B-OBSERVATION-QUALIFICATION.md
  docs/development/feedback_controls/IMPLEMENTATION_PLAN.md
  docs/development/feedback_controls/TURNOVER.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  manuals/upstreamdrift/chapters/13-feedback-comparison.qmd
  requirements-tools.txt
  src/engines/feedback_observation_qualification.py
  src/shared/python/_seam_redirect.py
  tests/unit/engines/test_feedback_observation_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: bind initial state in replay comparisons
  SPEC.md
  changes/11854-initial-state-replay-binding.md
  docs/development/feedback_controls/F01C_TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/13-feedback-comparison.qmd
  src/engines/feedback_comparison.py
  tests/unit/engines/test_feedback_comparison.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(simscape): Record the R2025b URDF Exchange Receipt and Diff (#11569)
  AGENT_HANDOFF.md
  changes/11569-simscape-urdf-exchange-receipt-r2025b-sm.md
  scripts/matlab/export_simscape_urdf_exchange.m
  scripts/matlab/simscape_model_inventory.m
  src/engines/simscape/urdf_exchange.py
  tests/fixtures/simscape/simscape_urdf_exchange_receipt.json
  tests/unit/engines/simscape/test_urdf_exchange.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(feedback): clarify optional observation case typing
  src/engines/feedback_observation_qualification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(grip): DESIGN_DECISIONS section 18, same-input bushing grip parity (#11739)
  docs/development/full_body_models/DESIGN_DECISIONS.md
Due: none
