Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

style: prettier formatting of files merged from main
  AGENT_HANDOFF.md
  docs/development/HANDOFF.md
  docs/development/full_body_models/GRIP_PARITY_DECISIONS.md
  docs/development/full_body_models/evidence/grip_kinetics/parity/metrics_driver.json
  docs/development/full_body_models/evidence/grip_kinetics/parity/metrics_iron7.json
  docs/development/full_body_models/evidence/grip_kinetics/parity/runs_driver.json
  docs/development/full_body_models/evidence/grip_kinetics/parity/runs_iron7.json
  src/engines/physics_engines/opensim/models/README.md
  src/engines/physics_engines/opensim/models/msk_club_grip_calibration.json
Due: none

chore: regenerate divergence inventory after merging main
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

style: prettier-format merged docs
  AGENT_HANDOFF.md
  docs/development/HANDOFF.md
  docs/development/full_body_models/GRIP_PARITY_DECISIONS.md
  docs/development/full_body_models/evidence/grip_kinetics/parity/metrics_driver.json
  docs/development/full_body_models/evidence/grip_kinetics/parity/metrics_iron7.json
  docs/development/full_body_models/evidence/grip_kinetics/parity/runs_driver.json
  docs/development/full_body_models/evidence/grip_kinetics/parity/runs_iron7.json
  src/engines/physics_engines/opensim/models/README.md
  src/engines/physics_engines/opensim/models/msk_club_grip_calibration.json
Due: none

feat(lifting): read-only loader and API for the LIFT-1 five-lift baseline (#11748)
  changes/11748-read-only-loader-and-api-for-the-lift-1.md
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/architecture/CAPABILITY_ATLAS.md
  docs/development/feature_parity_matrix.md
  docs/help/movement_optimizer.md
  src/api/route_registry.py
  src/api/routes/lifting.py
  src/config/feature_parity.json
  src/shared/python/lifting/baseline_view.py
  tests/api/test_routes_lifting.py
  tests/companion/test_companion_catalog.py
  tests/unit/lifting/test_baseline_view.py
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(types): explicit TypeAlias for myofullbody Array so mypy resolves it across the import cycle
  src/shared/python/myofullbody/redundancy.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(native-viewer): tighter camera framing and capped torque arcs (#11697) (#12069)
  src/shared/python/force_overlay/glyphs.py
  src/shared/python/golf_view_presets/__init__.py
  src/shared/python/golf_view_presets/framing.py
  src/shared/python/golf_view_presets/presets.py
  src/tools/native_viewer_export/core.py
  tests/unit/shared/golf_view_presets/test_framing.py
  tests/unit/tools/native_viewer_export/test_glyph_legibility.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(types): np.asarray the FrameBasis arrays in myofullbody.neck so the pre-push mypy env resolves them
  src/shared/python/myofullbody/neck.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

style: prettier-format files merged from main
  docs/development/HANDOFF.md
  src/engines/physics_engines/opensim/models/README.md
  src/engines/physics_engines/opensim/models/msk_club_grip_calibration.json
Due: none

style: prettier-format merged docs
  AGENT_HANDOFF.md
  docs/development/HANDOFF.md
  src/engines/physics_engines/opensim/models/README.md
  src/engines/physics_engines/opensim/models/msk_club_grip_calibration.json
Due: none

style(docs): prettier-format files pulled in from main
  docs/development/HANDOFF.md
  src/engines/physics_engines/opensim/models/README.md
  src/engines/physics_engines/opensim/models/msk_club_grip_calibration.json
Due: none

style: prettier-format HANDOFF.md merged from main
  docs/development/HANDOFF.md
Due: none

fix(ci): keep tracking_controller's parameter count within budget
  src/shared/python/motion_matching/tracking_controller.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ui): drop synchronous setState in MatchedSwings effect (react-hooks lint)
  ui/src/pages/MatchedSwings.tsx
Due: no-debugger

feat(lifting): PyQt cross-engine lift baseline panel in the Exercise Dashboard (#11748)
  changes/11748-pyqt-cross-engine-lift-baseline-panel-in.md
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/help/movement_optimizer.md
  src/config/feature_parity.json
  src/launchers/exercise_dashboard.py
  src/launchers/lift_baseline_panel.py
  tests/launchers/test_lift_baseline_panel.py
  tests/launchers/wave8_dashboards/test_exercise_dashboard.py
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(mypy): narrow acceleration_feedforward's type after the **impact_split pop
  src/shared/python/motion_matching/tracking_controller.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(grip): OSV-7 phase 3 contact grip, MyoSuite bushing, kinetics validation (#11985)
  AGENT_HANDOFF.md
  changes/11739-osv-7-phase-3-mujoco-drake-pinocchio-con.md
  docs/agents/shared-infrastructure.md
  docs/development/full_body_models/GRIP_PARITY_DECISIONS.md
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_series.contact.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/contact/validation_driver.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/validation_iron7.json
  docs/development/full_body_models/evidence/grip_kinetics/parity/metrics_driver.json
  docs/development/full_body_models/evidence/grip_kinetics/parity/metrics_iron7.json
  docs/development/full_body_models/evidence/grip_kinetics/parity/myosuite_driver_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/parity/myosuite_iron7_series.npz
  docs/development/full_body_models/evidence/grip_kinetics/parity/runs_driver.json
  docs/development/full_body_models/evidence/grip_kinetics/parity/runs_iron7.json
  docs/development/full_body_models/evidence/grip_kinetics/render_grip_clip.py
  docs/development/full_body_models/evidence/grip_kinetics/run_grip_contact.py
  docs/development/full_body_models/evidence/grip_kinetics/run_grip_parity.py
  docs/development/full_body_models/evidence/grip_kinetics/run_grip_validation.py
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/engines/physics_engines/drake/python/grip_bushing.py
  src/engines/physics_engines/drake/python/grip_contact_sim.py
  src/engines/physics_engines/mujoco/python/grip_bushing.py
  src/engines/physics_engines/mujoco/python/grip_contact_sim.py
  src/engines/physics_engines/myosuite/python/grip_bushing.py
  src/engines/physics_engines/pinocchio/python/grip_contact_sim.py
  src/shared/python/grip_contact/contact_run.py
  src/shared/python/grip_contact/pad_contact.py
  src/shared/python/grip_contact/pad_layout.py
  src/shared/python/grip_contact/parameters.py
  src/shared/python/grip_contact/static_balance.py
  tests/unit/grip_contact/test_engine_grip_contact.py
  tests/unit/grip_contact/test_engine_grip_parity.py
  tests/unit/grip_contact/test_pad_contact.py
  tests/unit/grip_contact/test_static_balance.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: re-render agent context after atlas regeneration
  docs/agent_context/README.md
  docs/agent_context/index.html
Due: none

style: prettier-format merged docs
  docs/development/HANDOFF.md
  src/engines/physics_engines/opensim/models/README.md
  src/engines/physics_engines/opensim/models/msk_club_grip_calibration.json
Due: none

docs(parity): record the matched-swing browser API and web page (#11987)
  changes/11987-record-the-matched-swing-browser-api-rou.md
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/architecture/CAPABILITY_ATLAS.md
  docs/development/feature_parity_matrix.md
  src/config/feature_parity.json
  tests/companion/test_companion_catalog.py
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: pytest-unit

fix(gcv-20): restore named tracking_controller keywords; repoint its budget exception
  scripts/config/architecture_budget.json
  src/shared/python/motion_matching/tracking_controller.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(ui): web Lift Baseline page over the LIFT-1 baseline API (#11748)
  changes/11748-web-lift-baseline-page-tools-lift-baseli.md
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/architecture/CAPABILITY_ATLAS.md
  docs/development/feature_parity_matrix.md
  docs/help/movement_optimizer.md
  src/config/feature_parity.json
  tests/companion/test_companion_catalog.py
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
  ui/src/App.test.tsx
  ui/src/App.tsx
  ui/src/api/lifting.ts
  ui/src/pages/LiftBaseline.test.tsx
  ui/src/pages/LiftBaseline.tsx
Due: no-debugger, pytest-unit

feat(controls): validate synthetic solver candidates with native replay (#11839)
  SPEC.md
  docs/shared_tools/divergence_inventory.v1.json
  manuals/upstreamdrift/index.qmd
Due: none

feat(gs3dx): lock every non-root joint in memory for the GRF stance test (#11709)
  changes/11709-gs3dx-grf-exporter-opt-in-hold-posture-j.md
  changes/11709-gs3dx-locked-joint-stance.md
  scripts/matlab/export_gs3dx_grf_fixture.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_hold_posture.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tests/test_gs3dx_lock_joints.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_hold_posture.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/exploratory_gs3dx/tools/gs3dx_lock_joints.m
Due: none

feat(opensim): inventory pinned native muscle model artifacts (#11825)
  AGENT_HANDOFF.md
  SPEC.md
  changes/11819-native-model-admission.md
  docs/development/feedback_controls/F07_MODEL_ADMISSION_TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/18-native-model-admission.qmd
  manuals/upstreamdrift/index.qmd
  src/engines/physics_engines/opensim/python/tour_matching/__init__.py
  src/engines/physics_engines/opensim/python/tour_matching/_native_model_inventory.py
  src/engines/physics_engines/opensim/python/tour_matching/model_admission.py
  tests/opensim/test_model_admission.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: mypy knee_flexion_axis arg type, regenerate divergence inventory, title-case handoff heading
  AGENT_HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/hip_calibration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

style: prettier-format merged grip contact evidence json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/validation_driver.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/validation_iron7.json
Due: none

fix(ui): derive dispersion panel selection instead of syncing it in effects (#11987)
  changes/11987-dispersion-panel-derives-its-coordinate.md
  ui/src/pages/LaunchMonitorDispersionPanel.test.tsx
  ui/src/pages/LaunchMonitorDispersionPanel.tsx
Due: no-debugger

style: prettier-format grip contact evidence JSON from main
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/validation_driver.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/validation_iron7.json
Due: none

chore(docs): regenerate the monolith refactor register (#11987)
  docs/development/monolith_refactor_register.md
Due: none

style: prettier-format merged json/md
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_driver_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/mujoco_iron7_run.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/validation_driver.json
  docs/development/full_body_models/evidence/grip_kinetics/contact/validation_iron7.json
Due: none

feat(opensim): tour-matching variants and static optimisation carry the two-hand club (OSV-9)
  scripts/run_musculoskeletal_swing.py
  src/engines/physics_engines/opensim/python/msk_club.py
  src/engines/physics_engines/opensim/python/musculoskeletal_pipeline.py
  src/engines/physics_engines/opensim/python/musculoskeletal_solvers.py
  src/engines/physics_engines/opensim/python/musculoskeletal_swing.py
  src/engines/physics_engines/opensim/python/tour_matching/__init__.py
  src/engines/physics_engines/opensim/python/tour_matching/model_variants.py
  tests/opensim/test_golf_model_variants.py
  tests/unit/engines/opensim/test_musculoskeletal_club_load.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(drake): record the Drake IK coordinate-order fix and capture-A numbers (#12042)
  AGENT_HANDOFF.md
  changes/12042-drake-ik-coordinate-order.md
  docs/research/simscape_matching_reference/simscape_matching_reference.tex
Due: none

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
