Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

fix(lod): eliminate 4-level parent chains and 3-level muscle chain (closes #2507) (#2555)
  src/shared/python/biomechanics/multi_muscle.py
  src/shared/python/biomechanics/myosuite_adapter.py
  src/shared/python/gui_pkg/help_system.py
  src/shared/python/gui_pkg/launcher_utils.py
  tests/unit/test_lod_violations.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(scripts): align assessment scripts with current schemas and filenames (closes #2497) (#2556)
  scripts/create_issues_from_assessment.py
  scripts/finalize_comprehensive_assessment.py
  scripts/maintain_workflows.py
  tests/unit/scripts/__init__.py
  tests/unit/scripts/test_assessment_scripts.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(tests): replace xfail tech debt with tests for intended behavior (closes #2455) (#2557)
  tests/unit/test_api_architecture.py
  tests/unit/test_api_security.py
Due: pytest-unit

fix(simscape): handle 3D tensor signals and fix time-range extrapolation (closes #2491) (#2558)
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/functions/dataset_generator/extractLogsoutDataFixed.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/functions/dataset_generator/resampleDataToFrequency.m
  tests/unit/test_simscape_dataset_contracts.py
Due: pytest-unit

fix(simscape): replace false-success reports with accurate status messages (closes #2490) (#2559)
  src/engines/Simscape_Multibody_Models/2D_Golf_Model/matlab/Integrated_Analysis_App/main_golf_analysis_app.m
  src/engines/Simscape_Multibody_Models/2D_Golf_Model/matlab/Integrated_Analysis_App/tab3_visualization.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/run_all.m
  tests/unit/test_simscape_app_contracts.py
Due: pytest-unit

Bolt: Optimize np.linalg.norm in handedness support
  SPEC.md
  src/research/deformable/objects.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(simscape): align createSimulationConfig defaults with actual model and field names (closes #2489) (#2560)
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/scripts/dataset_generator/createSimulationConfig.m
  tests/unit/test_simscape_config_contracts.py
Due: pytest-unit

fix(engines): remove hardcoded /api/ prefix and fix frontend contract mismatches (closes #2482) (#2562)
  src/api/routes/engines.py
  tests/unit/api/test_engine_route_contracts.py
  ui/src/api/useEngineCapabilities.ts
  ui/src/components/simulation/ParameterPanel.tsx
  ui/src/pages/Simulation.tsx
  ui/src/stores/useEngineStore.ts
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

fix(ci): create stub ui/dist before pip install -e to satisfy build_hooks RuntimeError (#2563)
  .github/workflows/ci-standard.yml
Due: none

Bolt: Optimize np.linalg.norm in electrical model (#2561)
  SPEC.md
  src/robotics/control/whole_body/qp_solver.py
  src/shared/python/ai/sample_tools.py
  src/shared/python/data_io/dataset_generator.py
  src/shared/python/humanoid_character_builder/tests/test_contracts.py
  src/shared/python/model_generation/tests/test_github_importer.py
  src/shared/python/model_generation/tests/test_unified_loader.py
  src/shared/python/output_manager.py
  src/shared/python/plot_engine/tests/test_matplotlib_renderer.py
  src/shared/python/upstream_drift_tools/calculators/electrical/electrical_model.py
  src/shared/python/upstream_drift_tools/tests/lab/bio/test_c3d_reader_fixed.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(installer): harden build/install paths and add packaging profiles (#2564)
  build_hooks.py
  docs/installation/packaging_profiles.md
  install.sh
  installer/__init__.py
  installer/windows/__init__.py
  installer/windows/build_installer.py
  installer/windows/packaging_profiles.py
  installer/windows/setup.py
  installer/windows/setup_config.py
  setup_golf_suite.py
  tests/unit/installer/test_build_installer.py
  tests/unit/installer/test_packaging_profiles.py
  tests/unit/installer/test_setup_config.py
  tests/unit/installer/test_windows_setup.py
  tests/unit/test_build_hooks.py
  tests/unit/test_install_script.py
  tests/unit/test_setup_golf_suite.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

refactor(decompose): extract helpers to reduce 5 oversized functions to <=50 LOC (closes #2514) (#2565)
  src/launchers/cross_engine_dashboard.py
  src/shared/python/pendulum_simulator/gui/panel_builders.py
  src/shared/python/pendulum_simulator/gui/toolstrip_widget.py
  src/shared/python/pendulum_simulator/physics_golfer_jax.py
  tests/unit/test_function_size_contracts.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(assessment): A-N comprehensive review 2026-04-09 (#2485)
  .ci_trigger.py
  docs/assessments/A-N_Assessment_2026-04-09.md
  docs/assessments/README.md
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix: split monolithic scripts to <=300 LOC (closes #2515) (#2567)
  .ci_trigger.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/gui/tabs/actuator_controls_mixin.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/gui/tabs/actuator_detail_dialog.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/gui/tabs/controls_tab.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/gui/tabs/kinematic_controls_mixin.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/gui/tabs/simulation_controls_mixin.py
  src/shared/python/upstream_drift_tools/process_calculators/syngas_compression_calculator.py
  src/shared/python/upstream_drift_tools/process_calculators/syngas_compression_display.py
  src/shared/python/upstream_drift_tools/process_calculators/syngas_compression_engine.py
  src/shared/python/upstream_drift_tools/process_calculators/syngas_compression_tabs_mixin.py
  src/shared/python/upstream_drift_tools/process_calculators/syngas_compression_worker.py
  tests/unit/test_script_size_contracts_2515.py
  tests/unit/test_syngas_compression_engine.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: extract PyVistaBackend to viewer_backends_pyvista.py to fix LOC budget
  src/unreal_integration/viewer_backends.py
  src/unreal_integration/viewer_backends_pyvista.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

[codex] stabilize simscape dataset config and split gui builders (#2566)
  SPEC.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/functions/dataset_generator/ensureEnhancedConfig.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/functions/dataset_generator/processSimulationOutput.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/scripts/dataset_generator/createSimulationConfig.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/scripts/dataset_generator/test_data_generator_simple.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/tests/test_data_generator.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/tests/test_dataset_generator_config_compatibility.m
  src/launchers/cross_engine_dashboard.py
  src/launchers/tests/test_cross_engine_dashboard.py
  src/shared/python/pendulum_simulator/gui/panel_builders.py
  src/shared/python/pendulum_simulator/gui/toolstrip_widget.py
  tests/unit/pendulum_simulator/test_panel_builders_helpers.py
  tests/unit/pendulum_simulator/test_toolstrip_widget.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#2506): convert aerodynamics.py monolith to package
  src/shared/python/physics/aerodynamics.py
  src/shared/python/physics/aerodynamics/__init__.py
  src/shared/python/physics/aerodynamics/_config.py
  src/shared/python/physics/aerodynamics/_engine.py
  src/shared/python/physics/aerodynamics/_environment.py
  src/shared/python/physics/aerodynamics/_models.py
  src/shared/python/physics/aerodynamics/_wind.py
  tests/unit/test_aerodynamics_package_2506.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#2506): split golf_swing_models_xml.py monolith (1011 → 4×<500 LOC)
  src/engines/physics_engines/mujoco/_golf_swing_advanced_xml.py
  src/engines/physics_engines/mujoco/_golf_swing_full_body_xml.py
  src/engines/physics_engines/mujoco/_golf_swing_upper_body_xml.py
  src/engines/physics_engines/mujoco/golf_swing_models_xml.py
  tests/unit/test_golf_swing_xml_split_2506.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#2456): remove dead duplicate classes from panel_builders.py (1195 → 862 LOC)
  src/shared/python/pendulum_simulator/gui/panel_builders.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#2385): add return type annotations — wave 3 (all remaining ANN201/202/205/206) (#2577)
  src/engines/physics_engines/drake/python/src/drake_visualization_mixin.py
  src/engines/physics_engines/drake/python/src/manipulability.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/rigid_body_dynamics/rnea.py
  src/engines/physics_engines/pinocchio/python/motion_training/__init__.py
  src/engines/physics_engines/pinocchio/python/motion_training/club_trajectory_parser.py
  src/launchers/unified_launcher.py
  src/reinforcement_learning/trajectory_funnel_benchmark.py
  src/robotics/control/whole_body/qp_solver.py
  src/robotics/control/whole_body/wbc_controller.py
  src/robotics/locomotion/footstep_planner.py
  src/shared/models/opensim/examples/build_simple_arm_model.py
  src/shared/python/ai/sample_tools.py
  src/shared/python/humanoid_character_builder/tests/test_collision_geometry.py
  src/shared/python/humanoid_character_builder/tests/test_contracts.py
  src/shared/python/humanoid_character_builder/tests/test_physics_validator.py
  src/shared/python/humanoid_character_builder/tests/test_urdf_generator.py
  src/shared/python/model_generation/humanoid/__init__.py
  src/shared/python/model_generation/tests/test_api.py
  src/shared/python/model_generation/tests/test_github_importer.py
  src/shared/python/model_generation/tests/test_unified_loader.py
  src/shared/python/output_manager.py
  src/shared/python/pendulum_simulator/optimizer_gpu.py
  src/shared/python/plot_engine/tests/test_matplotlib_renderer.py
  src/shared/python/plot_engine/tests/test_plotly_converter.py
  src/shared/python/plotting/animation.py
  src/shared/python/plotting/renderers/kinetics.py
  src/shared/python/upstream_drift_tools/process_calculators/wgs_reactor_calculator.py
  src/shared/python/upstream_drift_tools/tests/calculators/electrical/test_electrical_model.py
  src/shared/python/upstream_drift_tools/tests/lab/bio/test_c3d_reader_fixed.py
  src/tools/video_analyzer/types.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(#2456): split pressure_drop_calculation_engine.py (1188 LOC) into three modules (#2578)
  src/shared/python/upstream_drift_tools/process_calculators/pressure_drop_calculator/engine/_flow_calculations.py
  src/shared/python/upstream_drift_tools/process_calculators/pressure_drop_calculator/engine/_friction_factors.py
  src/shared/python/upstream_drift_tools/process_calculators/pressure_drop_calculator/engine/pressure_drop_calculation_engine.py
  tests/unit/upstream_drift_tools/test_pressure_drop_engine_split_2456.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#2456): split impact_model.py (1133 LOC) into three focused modules (#2579)
  src/shared/python/physics/_impact_physics.py
  src/shared/python/physics/_impact_recorder.py
  src/shared/python/physics/impact_model.py
  tests/unit/physics/test_impact_model_split_2456.py
  tests/unit/test_golf_swing_xml_split_2506.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#2456): split equations_popup.py (1156 LOC) into four focused modules (#2580)
  src/shared/python/pendulum_simulator/gui/_equations_popup_css.py
  src/shared/python/pendulum_simulator/gui/_equations_popup_dynamics_html.py
  src/shared/python/pendulum_simulator/gui/_equations_popup_jacobians_html.py
  src/shared/python/pendulum_simulator/gui/equations_popup.py
  tests/unit/test_equations_popup_split_2456.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#2456): split dataset_generator.py (1150 LOC) into three focused modules (#2581)
  src/shared/python/data_io/_dataset_export_mixin.py
  src/shared/python/data_io/_dataset_models.py
  src/shared/python/data_io/dataset_generator.py
  tests/unit/test_dataset_generator_split_2456.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(#2456): split data_fitting.py into models/solvers/coordinator (#2583)
  src/shared/python/validation_pkg/_data_fitting_models.py
  src/shared/python/validation_pkg/_data_fitting_solvers.py
  src/shared/python/validation_pkg/data_fitting.py
  tests/unit/test_data_fitting_split_2456.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: apply ruff format to test files
  tests/unit/physics/test_impact_model_split_2456.py
  tests/unit/test_data_fitting_split_2456.py
Due: pytest-unit

refactor(#2456): split frankenstein_editor.py into model/panels/coordinator (#2584)
  src/tools/model_explorer/_frankenstein_model.py
  src/tools/model_explorer/_frankenstein_panels.py
  src/tools/model_explorer/frankenstein_editor.py
  tests/unit/test_frankenstein_editor_split_2456.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(#2456): split kinematic_forces.py into data/coordinator modules (#2585)
  scripts/config/file_size_budget.json
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_kinematic_force_data.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/kinematic_forces.py
  tests/unit/test_kinematic_forces_split_2456.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(#2456): split mujoco_viewer.py into backend/coordinator modules (#2588)
  src/tools/model_explorer/_mujoco_viewer_backend.py
  src/tools/model_explorer/mujoco_viewer.py
  tests/unit/test_mujoco_viewer_split_2456.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(#2456): split grip_modelling_tab.py into widgets/coordinator modules (#2589)
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_grip_modelling_widgets.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/grip_modelling_tab.py
  tests/unit/test_grip_modelling_split_2456.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(#2385): add return type annotations — wave 4 (ANN204 special methods) (#2590)
  .Jules/bolt.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/apps/golf_gui/Simscape Multibody Data Plotters/Python Version/integrated_golf_gui_r0/golf_data_core.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/apps/golf_gui/Simscape Multibody Data Plotters/Python Version/integrated_golf_gui_r0/gui_performance_options.py
  src/reinforcement_learning/trajectory_funnel_benchmark.py
  src/shared/python/biomechanics/multi_muscle.py
  src/shared/python/biomechanics/muscle_equilibrium.py
  src/shared/python/biomechanics/myosuite_adapter.py
  src/shared/python/humanoid_character_builder/core/model.py
  src/shared/python/humanoid_character_builder/generators/mesh_generator.py
  src/shared/python/humanoid_character_builder/generators/urdf_generator.py
  src/shared/python/humanoid_character_builder/interfaces/api.py
  src/shared/python/humanoid_character_builder/mesh/inertia_calculator.py
  src/shared/python/humanoid_character_builder/tests/test_contracts.py
  src/shared/python/model_generation/builders/base_builder.py
  src/shared/python/model_generation/builders/manual_builder.py
  src/shared/python/model_generation/builders/parametric_builder.py
  src/shared/python/model_generation/converters/mjcf_converter.py
  src/shared/python/model_generation/converters/simscape/simscape_converter.py
  src/shared/python/model_generation/converters/urdf_parser.py
  src/shared/python/model_generation/editor/text_editor.py
  src/shared/python/model_generation/explorer/model_explorer.py
  src/shared/python/model_generation/library/cache.py
  src/shared/python/model_generation/library/model_library.py
  src/shared/python/model_generation/library/repository.py
  src/shared/python/model_generation/library/unified_loader.py
  src/shared/python/theme/dialogs/theme_manager_dialog.py
  src/tools/video_analyzer/pose_estimator.py
  src/tools/video_analyzer/video_processor.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

refactor(#2456): split text_editor.py into models/validation/coordinator (#2591)
  src/shared/python/model_generation/editor/_text_editor_models.py
  src/shared/python/model_generation/editor/_text_editor_validation.py
  src/shared/python/model_generation/editor/text_editor.py
  tests/unit/test_text_editor_split_2456.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ann001): add missing parameter type annotations — wave 5 (#2592)
  src/robotics/control/whole_body/wbc_controller.py
  src/robotics/locomotion/footstep_planner.py
  src/shared/python/plotting/animation.py
  src/shared/python/plotting/renderers/kinetics.py
  src/tools/video_analyzer/pose_estimator.py
  src/tools/video_analyzer/types.py
  src/tools/video_analyzer/video_processor.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

refactor(#2486): split mesh_generator.py (1687 LOC) into domain modules (#2593)
  src/shared/python/humanoid_character_builder/generators/_mesh_makehuman.py
  src/shared/python/humanoid_character_builder/generators/_mesh_primitives.py
  src/shared/python/humanoid_character_builder/generators/_mesh_smplx.py
  src/shared/python/humanoid_character_builder/generators/_mesh_types.py
  src/shared/python/humanoid_character_builder/generators/mesh_generator.py
  tests/unit/test_mesh_generator_split_2486.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(#2486): split pressure_drop_interface.py (1424 LOC) into domain modules (#2594)
  src/shared/python/upstream_drift_tools/process_calculators/pressure_drop_calculator/_pressure_drop_helpers.py
  src/shared/python/upstream_drift_tools/process_calculators/pressure_drop_calculator/_pressure_drop_output.py
  src/shared/python/upstream_drift_tools/process_calculators/pressure_drop_calculator/_pressure_drop_validation.py
  src/shared/python/upstream_drift_tools/process_calculators/pressure_drop_calculator/pressure_drop_interface.py
  tests/unit/test_pressure_drop_split_2486.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Optimize np.linalg.norm to explicit sum of squares (#2582)
  .jules/bolt.md
  SPEC.md
  src/shared/python/config/handedness_support.py
  src/shared/python/upstream_drift_tools/calculators/electrical/electrical_model.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ann001): add missing parameter type annotations — wave 6 (#2595)
  src/engines/physics_engines/mujoco/docker/example_dynamic_stance.py
  src/engines/physics_engines/mujoco/docker/gui/deepmind_control_suite_MuJoCo_GUI.py
  src/engines/physics_engines/mujoco/docker/src/humanoid_golf/sim.py
  src/engines/physics_engines/mujoco/docker/src/humanoid_golf/utils.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/advanced_gui_methods.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/examples_chaotic_pendulum.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/rigid_body_dynamics/rnea.py
  src/shared/python/humanoid_character_builder/tests/test_collision_geometry.py
  src/shared/python/plot_engine/tests/test_matplotlib_renderer.py
  src/shared/python/plot_engine/tests/test_plotly_converter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: reformat test files to pass ruff format check (#2597)
  src/engines/physics_engines/mujoco/docker/gui/golf_gui_docker.py
  tests/unit/test_mesh_generator_split_2486.py
  tests/unit/test_text_editor_split_2456.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: remove stale file-size budget exceptions for split modules (#2598)
  scripts/config/file_size_budget.json
Due: none

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
