Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

chore: batch 7 — disable 13 redundant scheduled workflows, fix test collection errors (#1764)
  .github/workflows/Jules-Assessment-AutoFix.yml
  .github/workflows/Jules-Assessment-Remediator.yml
  .github/workflows/Jules-Competitor-Analyst.yml
  .github/workflows/Jules-Critics-Comments.yml
  .github/workflows/Jules-DRY-Orthogonality.yml
  .github/workflows/Jules-Ideas-Generator.yml
  .github/workflows/Jules-Laymans-Terms-Writer.yml
  .github/workflows/Jules-Patent-Reviewer.yml
  .github/workflows/Jules-Physics-Auditor.yml
  .github/workflows/Jules-Tech-Debt-Assessor.yml
  .github/workflows/agent-metrics-dashboard.yml
  .github/workflows/assessment-auto-fix.yml
  .github/workflows/auto-remediate-issues.yml
  tests/test_c3d_viewer_headless.py
  tests/test_urdf_tools.py
  tests/unit/test_urdf_visualization.py
Due: pytest-unit

fix: batch 8 — unskip 5 async tests, doc index, skip audit (#1765)
  docs/index.md
  tests/unit/test_api_security.py
  tests/unit/test_api_services.py
Due: pytest-unit

test: batch 9 — add 42 new tests for Pinocchio utils and MockPhysicsEngine (#1766)
  tests/unit/engines/pinocchio/test_utils.py
  tests/unit/test_mock_engine.py
Due: pytest-unit

fix: patch mujoco at module level to fix 17 CI test failures (#1635) (#1767)
  tests/unit/engines/mujoco/test_telemetry.py
  tests/unit/engines/mujoco/test_urdf_io.py
  tests/unit/engines/mujoco/test_video_export.py
Due: pytest-unit

docs(assessments): Update completist report and issues tracker for 2026-03-10 (#1735)
  .jules/completist_data/abstract_methods.txt
  .jules/completist_data/incomplete_docs.txt
  .jules/completist_data/not_implemented.txt
  .jules/completist_data/stub_functions.txt
  .jules/completist_data/todo_markers.txt
  docs/assessments/README.md
  docs/assessments/completist/Completist_Report_2026-03-10.md
  docs/assessments/completist/issues/ISSUE_GAPS_AND_INACCURACIES.md
Due: none

docs(assessments): generate completist report for 2026-03-11 (#1768)
  .jules/completist_data/abstract_methods.txt
  .jules/completist_data/not_implemented.txt
  .jules/completist_data/stub_functions.txt
  docs/assessments/README.md
  docs/assessments/completist/Completist_Report_2026-03-11.md
Due: none

docs: auto-generate completist audit report for 2026-03-12 (#1769)
  docs/assessments/README.md
  docs/assessments/completist/Completist_Report_2026-03-12.md
Due: none

assessment: A-O + Pragmatic Programmer assessment + physics fixes (2026-03-12) (#1776)
  docs/assessments/Comprehensive_Assessment_2026-03-12.md
  docs/assessments/README.md
  docs/assessments/pragmatic_programmer/Pragmatic_Assessment_2026-03-12.md
  src/shared/python/physics/aerodynamics.py
  src/shared/python/physics/topography.py
  tests/unit/test_aerodynamics.py
  tests/unit/test_topography.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(assessments): add comprehensive A-O and Pragmatic Programmer assessment 2026-03-12 (#1786)
  docs/assessments/COMPREHENSIVE_AO_PRAGMATIC_ASSESSMENT_2026-03-12.md
Due: none

fix: error handling, docstrings, and 62 new tests (A-O score improvement) (#1791)
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/advanced_gui_methods.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/gui/tabs/analysis_tab.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/gui/tabs/controls_tab.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/gui/tabs/manipulation_tab.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/gui/tabs/physics_tab.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/gui/tabs/plotting_tab.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/gui/tabs/visualization_tab.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/meshcat_adapter.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/physics_engine.py
  src/launchers/golf_launcher.py
  src/launchers/settings_dialog.py
  src/launchers/unified_launcher.py
  src/shared/python/engine_core/unified_engine_interface.py
  tests/unit/test_calc_backend_protocols.py
  tests/unit/test_engine_availability_extended.py
  tests/unit/test_steam_engine.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: remove black/ruff-format conflict in pre-commit and CI workflows (#1792)
  .github/workflows/Jules-Assessment-AutoFix.yml
  .github/workflows/Jules-Code-Quality-Fixer.yml
  .github/workflows/assessment-auto-fix.yml
  .github/workflows/ci-standard.yml
  .pre-commit-config.yaml
  pyproject.toml
  rust_core/upstream-physics/src/aerodynamics.rs
  rust_core/upstream-physics/src/ball_flight.rs
  rust_core/upstream-physics/src/lib.rs
  src/api/aip/methods.py
  src/api/auth/security.py
  src/api/routes/actuator_controls.py
  src/api/routes/dataset.py
  src/api/routes/physics.py
  src/engines/physics_engines/drake/python/src/golf_gui.py
  src/engines/physics_engines/mujoco/docker/src/humanoid_golf/sim.py
  src/engines/physics_engines/mujoco/docker/src/humanoid_golf/utils.py
  src/engines/physics_engines/mujoco/python/humanoid_launcher.py
  src/engines/physics_engines/mujoco/python/playground_experiments/humanoid_cm_demo.py
  src/engines/physics_engines/pinocchio/python/motion_training/__init__.py
  src/engines/physics_engines/pinocchio/python/motion_training/tests/__init__.py
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/__init__.py
  src/shared/python/physics/ball_flight_physics.py
  src/shared/python/physics/flight_models.py
  tests/unit/test_security_and_module_fixes.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: resolve critical DRY, blocker, and logging issues (#1778, #1781, #1783) (#1796)
  src/api/diagnostics.py
  src/api/routes/data_explorer.py
  src/deployment/realtime/controller.py
  src/tools/model_generation/api/rest_api.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: resolve critical/blocker issues #1779, #1778, #1782, #1777 (#1797)
  .pre-commit-config.yaml
  src/api/auth/security.py
  src/shared/python/physics/aerodynamics.py
  tests/unit/test_exception_handler_logging_and_dbc.py
  tests/unit/test_issue_fixes_1777_1778_1779_1782.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: generate missing issue files from completist report (#1795)
  docs/assessments/README.md
  docs/assessments/completist/Completist_Report_2026-03-13.md
Due: none

fix: replace silent pass exception handlers with logger.debug (#1772) (#1798)
  .pre-commit-config.yaml
  src/engines/physics_engines/drake/python/src/drake_gui_viz.py
  src/engines/physics_engines/mujoco/docker/src/humanoid_golf/sim.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/sim_rendering_mixin.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/sim_widget.py
  tests/unit/test_issue_1772_exception_handlers.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: add module docstrings and requirements-dev.txt (#1787, #1790) (#1799)
  requirements-dev.txt
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/apps/golf_gui/Motion Capture Plotter/analyze_coordinate_system.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/apps/golf_gui/Simscape Multibody Data Plotters/Python Version/integrated_golf_gui_r0/golf_inverse_dynamics.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/ui/tabs/analog_plot_tab.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/ui/tabs/analysis_tab.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/ui/tabs/marker_plot_tab.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/ui/tabs/overview_tab.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/ui/tabs/viewer_3d_tab.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/ui/widgets/mpl_canvas.py
  src/engines/pendulum_models/python/double_pendulum_model/physics/triple_pendulum.py
  src/engines/pendulum_models/python/double_pendulum_model/ui/pendulum_pyqt_app.py
  src/engines/pendulum_models/python/double_pendulum_model/ui/validation.py
  src/engines/physics_engines/mujoco/docker/dump_names.py
  src/engines/physics_engines/mujoco/docker/example_dynamic_stance.py
  src/engines/physics_engines/mujoco/docker/example_golf_swing.py
  src/engines/physics_engines/mujoco/docker/example_humanoid.py
  src/engines/physics_engines/mujoco/docker/inspect_geoms.py
  src/engines/physics_engines/mujoco/docker/inspect_humanoid.py
  src/engines/physics_engines/mujoco/docker/measure_height.py
  src/engines/physics_engines/mujoco/docker/src/humanoid_golf/iaa_helper.py
  src/engines/physics_engines/mujoco/docker/verify_dm_control.py
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/induced_acceleration.py
  src/reinforcement_learning/trajectory_funnel_benchmark.py
  src/shared/models/opensim/opensim-models/Geometry/remove_vtp_normals.py
  src/shared/models/opensim/opensim-models/Geometry/vtpbinary2ascii.py
  src/shared/models/opensim/opensim-models/Tutorials/Design_to_Reduce_Metabolic_Cost/Scripts/CMC_EvaluateResults.py
  src/shared/models/opensim/opensim-models/Tutorials/Design_to_Reduce_Metabolic_Cost/Scripts/addAnkleSpring.py
  src/shared/models/opensim/opensim-models/Tutorials/Design_to_Reduce_Metabolic_Cost/Scripts/addMetabolicProbes.py
  src/shared/models/opensim/opensim-models/Tutorials/Design_to_Reduce_Metabolic_Cost/Scripts/addPathSpring.py
  src/shared/models/opensim/opensim-models/Tutorials/Design_to_Reduce_Metabolic_Cost/Scripts/addPlotDeviceResults.py
  src/shared/models/opensim/opensim-models/Tutorials/Design_to_Reduce_Metabolic_Cost/Scripts/plotBaselineResults.py
  src/shared/models/opensim/opensim-models/Tutorials/Pulling_Out_the_Stops_Tug_of_War/addPrescribedMotion.py
  src/shared/models/opensim/opensim-models/Tutorials/Working_with_Static_Optimization/addAnkleSpring.py
  src/shared/python/humanoid_character_builder/tests/test_preview.py
  src/shared/python/optimization/examples/optimize_arm.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(assessments): add comprehensive A-O assessment 2026-03-13 (#1802)
  docs/assessments/COMPREHENSIVE_AO_PRAGMATIC_ASSESSMENT_2026-03-13.md
Due: none

Enforce Rust physics backend (#1804)
  docs/assessments/Assessment_A.md
  docs/assessments/Assessment_B.md
  docs/assessments/Assessment_C.md
  docs/assessments/Assessment_D.md
  docs/assessments/Assessment_E.md
  docs/assessments/Assessment_F.md
  docs/assessments/Assessment_G.md
  docs/assessments/Assessment_H.md
  docs/assessments/Assessment_I.md
  docs/assessments/Assessment_J.md
  docs/assessments/Assessment_K.md
  docs/assessments/Assessment_L.md
  docs/assessments/Assessment_M.md
  docs/assessments/Assessment_N.md
  docs/assessments/Assessment_O.md
  pyproject.toml
  pytest_out.txt
  src/shared/python/physics/ball_flight_physics.py
  tests/unit/test_ball_flight_physics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(#1788,#1789): add examples directory and fix CI coverage threshold (#1800)
  .github/workflows/ci-standard.yml
  examples/aerodynamics_demo.py
  examples/basic_flight_simulation.py
  examples/topography_demo.py
  pyproject.toml
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(#1793): resolve test_telemetry cross-test state pollution (#1801)
  tests/unit/engines/mujoco/test_telemetry.py
Due: pytest-unit

refactor: address DRY modularity by eradicating vendor code (#1806)
  .gitmodules
  tests/parity_fixtures/ball_flight/default_trajectory.json
Due: none

refactor: resolve Law of Demeter violations & DbC absence in UI tabs via facades on MuJoCoSimWidget (#1807)
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/control_system.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/grip_modelling_tab.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/gui/tabs/controls_tab.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/gui/tabs/visualization_tab.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/interactive_manipulation.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/recording_library.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/sim_widget.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: convert magic numbers in unit_constants.py into external unit_constants.json to improve Reversibility (#1808)
  assets/config/unit_constants.json
  src/shared/python/upstream_drift_tools/utils/unit_constants.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

audit: Comprehensive third-party integration assessment and TDD tests (#1819)
  src/engines/physics_engines/pinocchio/python/dtack/ik/pink_solver.py
  src/shared/python/engine_core/engine_availability.py
  tests/unit/test_third_party_integration_audit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: Resolve third-party integration issues (#1811, #1812, #1815, #1816)
  src/engines/physics_engines/pinocchio/python/dtack/backends/__init__.py
  src/engines/physics_engines/pinocchio/python/dtack/backends/backend_factory.py
  src/engines/physics_engines/pinocchio/python/dtack/backends/mujoco_backend.py
  src/shared/python/pose_estimation/mediapipe_estimator.py
  src/shared/python/pose_estimation/openpose_estimator.py
  tests/unit/test_third_party_integration_audit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: Add batch 2 integration tests + MyoSuite gymnasium compat (#1810, #1813, #1814, #1817, #1818)
  src/engines/physics_engines/myosuite/python/myosuite_physics_engine.py
  tests/unit/test_third_party_integration_batch2.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

ci: Add cargo audit and WASM verification to Rust quality gate (#1823)
  .github/workflows/ci-standard.yml
Due: none

refactor: Fix Law of Demeter violations in MuJoCo GUI (#1825)
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/gui/tabs/plotting_tab.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/sim_widget.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: Address remaining Law of Demeter vulnerabilities in MuJoCo GUI (Wave 2) (#1827)
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/advanced_gui_methods.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/grip_modelling_tab.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/gui/core/main_window.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/gui/tabs/manipulation_tab.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/gui/tabs/plotting_tab.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/sim_widget.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: fix indentation space in controls_tab (#1829)
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/gui/core/main_window.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/gui/tabs/controls_tab.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/gui/tabs/visualization_tab.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/sim_widget.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

ci: remove AffineDrift thesis-defense workflow
  .github/workflows/Jules-Thesis-Defender.yml
  docs/development/agent_templates/README.md
Due: none

fix(lod): Fix DbC and LoD in root files
  build_hooks.py
  launch_golf_suite.py
  setup_golf_suite.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(lod): Fix DbC and LoD in src/api module
  src/api/aip/dispatcher.py
  src/api/aip/methods.py
  src/api/auth/dependencies.py
  src/api/auth/security.py
  src/api/diagnostics.py
  src/api/local_server.py
  src/api/middleware/security_headers.py
  src/api/middleware/upload_limits.py
  src/api/models/requests.py
  src/api/routes/actuator_controls.py
  src/api/routes/aip.py
  src/api/routes/analysis_tools.py
  src/api/routes/auth.py
  src/api/routes/chat_ws.py
  src/api/routes/dataset.py
  src/api/routes/engines.py
  src/api/routes/force_overlays.py
  src/api/routes/model_explorer.py
  src/api/routes/models.py
  src/api/routes/physics.py
  src/api/routes/putting_green.py
  src/api/routes/simulation.py
  src/api/routes/simulation_ws.py
  src/api/routes/terrain.py
  src/api/routes/video.py
  src/api/services/analysis_service.py
  src/api/services/launcher_service.py
  src/api/services/simulation_service.py
  src/api/utils/error_codes.py
  src/api/utils/tracing.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon
