Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

⚡ Bolt: Optimize np.linalg.norm in indexed acceleration (#8267)
  SPEC.md
  src/shared/python/spatial_algebra/indexed_acceleration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Optimize norm calculations in GripContactExporter (#8307)
  src/shared/python/physics/_grip_exporter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Optimize L2 norm calculation in convex distance algorithm (#8324)
  SPEC.md
  src/robotics/planning/collision/_convex_distance.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

⚡ Bolt: Replace np.linalg.norm with np.einsum in grasp analysis (#8325)
  SPEC.md
  src/robotics/contact/grasp_analysis.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

⚡ Bolt: Replace np.linalg.norm with math.hypot for 3D vectors (#8326)
  .jules/bolt.md
  SPEC.md
  src/shared/python/physics/_grip_forces.py
  src/shared/python/spatial_algebra/pose6dof/placement.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(legal): move patent and copyright risk documents to private repo
  docs/assessments/README.md
  docs/assessments/completist/issues/ISSUE_HAPTICS_PATENT_RISK.md
  docs/assessments/completist/issues/ISSUE_PATENT_RISKS.md
  docs/assessments/completist/issues/ISSUE_PHYSICS_PATENT_RISK.md
  docs/assessments/issues/ISSUE_001_KINEMATIC_SEQUENCE.md
  docs/assessments/issues/ISSUE_002_DTW_SCORING.md
  docs/assessments/issues/ISSUE_016_INJURY_RISK_SCORING.md
  docs/assessments/issues/ISSUE_046_BALL_FLIGHT_COEFFICIENTS.md
  docs/assessments/issues/ISSUE_047_DATA_COPYRIGHT_TRACKMAN.md
  docs/assessments/issues/ISSUE_FORESIGHT_CAMERA_PATENT_RISK.md
  docs/assessments/issues/ISSUE_P004_EFFICIENCY_SCORE_PATENT.md
  docs/assessments/issues/ISSUE_PCA_PATENT_RISK.md
  docs/assessments/issues/ISSUE_PHYSICS_PATENT_RISK.md
  docs/assessments/issues/ISSUE_TRACKMAN_RADAR_PATENT_RISK.md
  docs/legal/patents/PATENT_REVIEW.md
  docs/legal/patents/patent_alerts_2026-01-26.md
  docs/legal/patents/patent_alerts_2026-02-05.md
  docs/legal/patents/patent_alerts_2026-02-18.md
  docs/legal/patents/patent_alerts_2026-02-19.md
  docs/legal/patents/patent_alerts_2026-02-24.md
  docs/legal/patents/patent_alerts_2026-02-25.md
  docs/legal/patents/patent_alerts_2026-02-26.md
  docs/legal/patents/patent_alerts_2026-03-01.md
  docs/legal/patents/patent_alerts_2026-03-05.md
  docs/legal/patents/patent_alerts_2026_03_08.md
Due: none

chore(legal): move patent and copyright risk documents to private repo (#8337)
  docs/assessments/README.md
  docs/assessments/completist/issues/ISSUE_HAPTICS_PATENT_RISK.md
  docs/assessments/completist/issues/ISSUE_PATENT_RISKS.md
  docs/assessments/completist/issues/ISSUE_PHYSICS_PATENT_RISK.md
  docs/assessments/issues/ISSUE_001_KINEMATIC_SEQUENCE.md
  docs/assessments/issues/ISSUE_002_DTW_SCORING.md
  docs/assessments/issues/ISSUE_016_INJURY_RISK_SCORING.md
  docs/assessments/issues/ISSUE_046_BALL_FLIGHT_COEFFICIENTS.md
  docs/assessments/issues/ISSUE_047_DATA_COPYRIGHT_TRACKMAN.md
  docs/assessments/issues/ISSUE_FORESIGHT_CAMERA_PATENT_RISK.md
  docs/assessments/issues/ISSUE_P004_EFFICIENCY_SCORE_PATENT.md
  docs/assessments/issues/ISSUE_PCA_PATENT_RISK.md
  docs/assessments/issues/ISSUE_PHYSICS_PATENT_RISK.md
  docs/assessments/issues/ISSUE_TRACKMAN_RADAR_PATENT_RISK.md
  docs/legal/patents/PATENT_REVIEW.md
  docs/legal/patents/patent_alerts_2026-01-26.md
  docs/legal/patents/patent_alerts_2026-02-05.md
  docs/legal/patents/patent_alerts_2026-02-18.md
  docs/legal/patents/patent_alerts_2026-02-19.md
  docs/legal/patents/patent_alerts_2026-02-24.md
  docs/legal/patents/patent_alerts_2026-02-25.md
  docs/legal/patents/patent_alerts_2026-02-26.md
  docs/legal/patents/patent_alerts_2026-03-01.md
  docs/legal/patents/patent_alerts_2026-03-05.md
  docs/legal/patents/patent_alerts_2026_03_08.md
Due: none

docs: restate legal-risk findings as engineering findings
  docs/assessments/README.md
  docs/assessments/completist/issues/ISSUE_COMPREHENSIVE_GAPS_2026_02_25.md
  docs/assessments/completist/issues/ISSUE_GAPS_AND_INACCURACIES.md
  docs/assessments/implementation_gaps_report.md
  docs/assessments/implementation_gaps_review_2025.md
  docs/assessments/issues/ISSUE_P001_AERODYNAMICS_COEFFICIENTS.md
  docs/assessments/issues/ISSUE_PHYSICS_003_KINEMATIC_ORDER.md
  docs/assessments/issues/ISSUE_PHYSICS_AUDIT_2026_SUMMARY.md
  docs/assessments/physics/Physics_Audit_2025-02-24.md
  docs/assessments/physics/Physics_Audit_2025-05-24.md
  docs/competitive_analysis/COMPETITOR_ANALYSIS.md
  docs/development/IMPLEMENTATION_GAPS.md
  docs/strategic/ideas.md
Due: none

docs: restate legal-risk findings as engineering findings (#8338)
  docs/assessments/README.md
  docs/assessments/completist/issues/ISSUE_COMPREHENSIVE_GAPS_2026_02_25.md
  docs/assessments/completist/issues/ISSUE_GAPS_AND_INACCURACIES.md
  docs/assessments/implementation_gaps_report.md
  docs/assessments/implementation_gaps_review_2025.md
  docs/assessments/issues/ISSUE_P001_AERODYNAMICS_COEFFICIENTS.md
  docs/assessments/issues/ISSUE_PHYSICS_003_KINEMATIC_ORDER.md
  docs/assessments/issues/ISSUE_PHYSICS_AUDIT_2026_SUMMARY.md
  docs/assessments/physics/Physics_Audit_2025-02-24.md
  docs/assessments/physics/Physics_Audit_2025-05-24.md
  docs/competitive_analysis/COMPETITOR_ANALYSIS.md
  docs/development/IMPLEMENTATION_GAPS.md
  docs/strategic/ideas.md
Due: none

feat(launcher): add Rate of Closure Impact Explorer tool
  assets/logos/rate_of_closure.svg
  docs/development/feature_parity_matrix.md
  src/config/feature_parity.json
  src/config/launcher_manifest.json
  src/config/models.yaml
  src/shared/python/gui_launcher/tool_manifest.yaml
Due: none

fix(dbc): import PreconditionError from shared.python.contracts in test_dbc_runtime_calculus
  tests/unit/dbc/test_dbc_runtime_calculus.py
Due: pytest-unit

fix(tests): restore 9.81 in test_gravity_single_source
  tests/unit/core/test_gravity_single_source.py
Due: pytest-unit

style: ruff fix
  docs/development/IMPLEMENTATION_GAPS.md
  src/shared/python/humanoid_character_builder/mesh/primitive_inertia.py
  src/shared/python/physics/_grip_forces.py
  src/shared/python/spatial_algebra/pose6dof/placement.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

🛡️ Sentinel: [CRITICAL] Fix Command Injection in pandas query() (#8327)
  .jules/sentinel.md
  SPEC.md
  docs/development/IMPLEMENTATION_GAPS.md
  src/shared/python/humanoid_character_builder/mesh/primitive_inertia.py
  src/shared/python/physics/_grip_forces.py
  src/shared/python/sidekick/data_processing/core.py
  src/shared/python/spatial_algebra/pose6dof/placement.py
  tests/unit/core/test_gravity_single_source.py
  tests/unit/dbc/test_dbc_runtime_calculus.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

style: format trendline.py
  src/shared/python/plot_engine/trendline.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Optimize R-squared calculation in trendlines by replacing np.sum with np.vdot (#8333)
  SPEC.md
  src/shared/python/plot_engine/trendline.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

style: ruff fixes
  src/shared/python/humanoid_character_builder/mesh/primitive_inertia.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(launcher): add Rate of Closure Impact Explorer tool (#8339)
  assets/logos/rate_of_closure.svg
  docs/development/feature_parity_matrix.md
  src/config/feature_parity.json
  src/config/launcher_manifest.json
  src/config/models.yaml
  src/shared/python/gui_launcher/tool_manifest.yaml
Due: none

fix(impact): correct friction spin axis and carry impact_offset into gear-effect solve
  src/shared/python/physics/impact_model/models.py
  src/shared/python/physics/impact_model/solver.py
  tests/unit/impact_model/test_public_api_parity.py
  tests/unit/physics/test_impact_dedup_and_friction_7053_7054.py
  tests/unit/physics/test_impact_friction_axis_and_gear_offset.py
  tests/unit/physics/test_impact_physics_value_assertions.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: add AGENT_HANDOFF.md with current repo state
  AGENT_HANDOFF.md
Due: none

docs: add agent handoff & PR policy to AGENTS.md
  AGENTS.md
Due: none

docs: agent handoff document + fleet handoff/PR policy (Repository_Management#1390) (#8351)
  AGENTS.md
  AGENT_HANDOFF.md
Due: none

feat(putting): add surface-aware collision dynamics
  src/shared/python/putting_dynamics/__init__.py
  src/shared/python/putting_dynamics/collision.py
  src/shared/python/putting_dynamics/friction.py
  src/shared/python/putting_dynamics/solver.py
  src/shared/python/putting_dynamics/surfaces.py
  src/shared/python/putting_dynamics/types.py
  src/shared/python/putting_dynamics/utils.py
  tests/unit/putting_dynamics/__init__.py
  tests/unit/putting_dynamics/test_collision.py
  tests/unit/putting_dynamics/test_contract_api.py
  tests/unit/putting_dynamics/test_friction.py
  tests/unit/putting_dynamics/test_solver.py
  tests/unit/putting_dynamics/test_surfaces.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(putting): review public kinematics and kinetics data
  docs/physics/PUTTING_KINEMATICS_KINETICS_REVIEW.md
Due: none

docs: hand off putting dynamics phase status
  AGENT_HANDOFF.md
Due: none

docs(spec): register putting dynamics foundation
  SPEC.md
Due: none

docs: record putting dynamics PR
  AGENT_HANDOFF.md
Due: none

feat(putting): add surface-aware collision dynamics (#8352)
  AGENT_HANDOFF.md
  SPEC.md
  docs/physics/PUTTING_KINEMATICS_KINETICS_REVIEW.md
  src/shared/python/putting_dynamics/__init__.py
  src/shared/python/putting_dynamics/collision.py
  src/shared/python/putting_dynamics/friction.py
  src/shared/python/putting_dynamics/solver.py
  src/shared/python/putting_dynamics/surfaces.py
  src/shared/python/putting_dynamics/types.py
  src/shared/python/putting_dynamics/utils.py
  tests/unit/putting_dynamics/__init__.py
  tests/unit/putting_dynamics/test_collision.py
  tests/unit/putting_dynamics/test_contract_api.py
  tests/unit/putting_dynamics/test_friction.py
  tests/unit/putting_dynamics/test_solver.py
  tests/unit/putting_dynamics/test_surfaces.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(putting): expose 3d playback API
  src/api/routes/putting_green.py
  tests/unit/api/test_routes_putting_green.py
  ui/src/api/generated/types.ts
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

fix(launcher): tolerate missing implicit Tools runtime
  src/launchers/launcher_sidekick_sidebar.py
  src/launchers/sidekick_extension_overlay.py
  src/launchers/tools_repo_path.py
  tests/unit/launcher/test_sidekick_startup_coordination.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: record classic launcher startup fix
  AGENT_HANDOFF.md
  SPEC.md
Due: none

docs: link classic launcher recovery PR
  AGENT_HANDOFF.md
Due: none

feat(putting): add interactive 3d scene
  ui/src/api/puttingClient.ts
  ui/src/components/visualization/PuttingScene3D.test.tsx
  ui/src/components/visualization/PuttingScene3D.tsx
  ui/src/pages/PuttingGreen.tsx
  ui/src/pages/PuttingGreen.ui.test.tsx
  ui/src/pages/puttingPlayback.test.ts
  ui/src/pages/puttingPlayback.ts
  ui/src/stores/usePuttingStore.test.ts
  ui/src/stores/usePuttingStore.ts
Due: no-debugger

fix(ui): restore Tailwind v4 utility generation
  ui/src/index.css
  ui/src/test/tailwindV4Contract.test.ts
Due: no-debugger

docs(spec): record 3d putting workflow
  AGENT_HANDOFF.md
  SPEC.md
Due: none

docs: link 3d putting PR
  AGENT_HANDOFF.md
Due: none

fix(launcher): recover classic startup in nested worktrees (#8353)
  AGENT_HANDOFF.md
  SPEC.md
  src/launchers/launcher_sidekick_sidebar.py
  src/launchers/sidekick_extension_overlay.py
  src/launchers/tools_repo_path.py
  tests/unit/launcher/test_sidekick_startup_coordination.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(putting): add canonical 3D collision and roll playback (#8354)
  AGENT_HANDOFF.md
  SPEC.md
  src/api/routes/putting_green.py
  tests/unit/api/test_routes_putting_green.py
  ui/src/api/generated/types.ts
  ui/src/api/puttingClient.ts
  ui/src/components/visualization/PuttingScene3D.test.tsx
  ui/src/components/visualization/PuttingScene3D.tsx
  ui/src/index.css
  ui/src/pages/PuttingGreen.tsx
  ui/src/pages/PuttingGreen.ui.test.tsx
  ui/src/pages/puttingPlayback.test.ts
  ui/src/pages/puttingPlayback.ts
  ui/src/stores/usePuttingStore.test.ts
  ui/src/stores/usePuttingStore.ts
  ui/src/test/tailwindV4Contract.test.ts
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon
