Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

test(launch-monitor): ADR-0046 G0 cross-stack drift gates (#9354)
  tests/fixtures/launch_monitor/adr0046_cross_stack_session_v1.json
  tests/integration/launch_monitor_drift/__init__.py
  tests/integration/launch_monitor_drift/conftest.py
  tests/integration/launch_monitor_drift/test_dispersion_drift.py
  tests/integration/launch_monitor_drift/test_longitudinal_drift.py
  tests/integration/launch_monitor_drift/test_strokes_gained_drift.py
Due: pytest-unit

docs(adr): ADR-0046 G1 launch-monitor port plan
  docs/adr/0046-g1-port-plan.md
  docs/adr/0046-launch-monitor-analytics-single-model-layer.md
Due: none

docs(adr): ADR-0046 G1 launch-monitor port plan (#9358)
  docs/adr/0046-g1-port-plan.md
  docs/adr/0046-launch-monitor-analytics-single-model-layer.md
Due: none

feat(physics, ADR-0047 H1): export flight results as ball_flight_trajectory/1
  src/shared/python/physics/contact_reaction_decomposition.py
  src/shared/python/physics/flight_trajectory_export.py
  tests/unit/physics/test_flight_trajectory_export.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): log ADR-0047 H1 flight-trajectory export
  SPEC.md
Due: none

fix(ci): make the ADR-0046 G0 drift gates actually run, fail-loud when not
  .github/workflows/ci-standard.yml
  docs/adr/0045-putting-integration-one-experience-two-preserved-stacks.md
  docs/adr/0046-launch-monitor-analytics-single-model-layer.md
  docs/adr/0047-trajectory-visualization-shared-wire-preserved-viewers.md
  docs/adr/README.md
  tests/integration/launch_monitor_drift/conftest.py
Due: pytest-unit

fix(docs): renumber the G1 port plan to ADR-0048, unblocking docs governance
  docs/adr/0046-launch-monitor-analytics-single-model-layer.md
  docs/adr/0048-launch-monitor-port-plan.md
Due: none

docs: point Amendment 1 at the renumbered 0048 port plan
  docs/adr/0046-launch-monitor-analytics-single-model-layer.md
Due: none

fix(docs): renumber the G1 port plan to ADR-0048, unblocking docs governance (#9362)
  docs/adr/0046-launch-monitor-analytics-single-model-layer.md
  docs/adr/0048-launch-monitor-port-plan.md
Due: none

feat(physics, ADR-0047 H1): export flight results as ball_flight_trajectory/1 (#9360)
  SPEC.md
  src/shared/python/physics/contact_reaction_decomposition.py
  src/shared/python/physics/flight_trajectory_export.py
  tests/unit/physics/test_flight_trajectory_export.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(vendor): bump ud-tools to the ADR-0047 H1 record (Tools#4888)
  SPEC.md
Due: none

fix: clean up expired architecture-budget exceptions, split real violations (#9359)
  SPEC.md
  scripts/config/architecture_budget.json
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/ui/tabs/viewer_3d_tab.py
  src/engines/physics_engines/mujoco/python/motion_matching/fit_swing.py
  src/launchers/docker_dialog.py
  src/launchers/launcher_dialogs.py
  src/launchers/settings_dialog.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(mujoco): update stale solver_status/duration_s expectations in test_simulate (#9366)
  tests/motion_matching/mujoco_mjcf/test_simulate.py
Due: pytest-unit

fix(tests): correct stale wall_clock_s assertion in OpenSim SimOut test
  tests/test_opensim_simulate.py
Due: pytest-unit

fix(tests): correct stale wall_clock_s assertion in OpenSim SimOut test (#9367)
  tests/test_opensim_simulate.py
Due: pytest-unit

docs(launcher, ADR-0045 F3): cross-link the putting tiles
  src/config/launcher_manifest.json
Due: none

docs(launcher): carry the F3 putting cross-link in the Phase A description
  src/config/launcher_manifest.json
Due: none

docs(launcher, ADR-0045 F3): cross-link the putting tiles (#9368)
  src/config/launcher_manifest.json
Due: none

test(architecture): guard the actual stale main-branch policy wording
  tests/architecture/test_project_rules_policy.py
Due: pytest-unit

test(launch-monitor): ADR-0046 G0.1 twin-pair drift gates
  SPEC.md
  tests/integration/launch_monitor_drift/test_corpus_drift.py
  tests/integration/launch_monitor_drift/test_flexible_analysis_drift.py
  tests/integration/launch_monitor_drift/test_player_covariation_drift.py
Due: pytest-unit

feat(shot-tracer, ADR-0047 H2): import cross-family trajectory records
  docs/development/feature_parity_matrix.md
  src/config/feature_parity.json
  src/launchers/_shot_tracer_gui.py
  src/launchers/_shot_tracer_trajectory_import.py
  tests/launchers/conftest.py
  tests/launchers/test_shot_tracer.py
  tests/launchers/test_shot_tracer_import_gui.py
  tests/launchers/test_shot_tracer_trajectory_import.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(launchers): make skeleton card pulse animate and stop cleanly (#9369)
  src/launchers/model_card.py
  src/launchers/upstream_drift_launcher.py
  tests/unit/launchers/test_model_card_skeleton.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(scripts): repair validate_suite.py for the current src/ layout
  scripts/validate_suite.py
  tests/scripts/test_validate_suite.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test(putting, ADR-0045 F4): UD consumer contract for the green-surface adapter
  tests/integration/putting_green_drift/__init__.py
  tests/integration/putting_green_drift/test_green_surface_adapter_consumer.py
Due: pytest-unit

test(launch-monitor): pin Tools' raw floats to ulps, not to the bit
  tests/integration/launch_monitor_drift/test_player_covariation_drift.py
Due: pytest-unit

docs(adr): fix ShotResult field name reference in ADR-0044
  docs/adr/0044-out-of-plane-fidelity-for-bunkershot3d.md
  tests/docs/test_adr_0044_field_names.py
Due: pytest-unit

docs(spec): record ADR-0045 F4 consumer-contract test (#9346)
  SPEC.md
Due: none

test(architecture): guard the actual stale main-branch policy wording (#9370)
  tests/architecture/test_project_rules_policy.py
Due: pytest-unit

chore(spec): renumber to clear the 1.0.683 collision
  SPEC.md
Due: none

chore(spec): take 1.0.685 - F4 PR #9373 already claimed .684
  SPEC.md
Due: none

fix(tests): track vendor/ud-tools pin in companion catalog provenance test
  tests/companion/test_companion_catalog.py
Due: pytest-unit

fix(ci): make drift-gate execution deterministic, not runner-dependent
  .github/workflows/ci-standard.yml
Due: none

test(putting, ADR-0045 F4): UD consumer contract for the green-surface adapter (#9373)
  SPEC.md
  tests/integration/putting_green_drift/__init__.py
  tests/integration/putting_green_drift/test_green_surface_adapter_consumer.py
Due: pytest-unit

chore(vendor): advance the bump to Tools e88a334 - the full H1/H4/F2 wave
  SPEC.md
Due: none

feat(ball-flight, ADR-0047 H3): import cross-family trajectory records
  SPEC.md
  src/api/routes/ball_flight.py
  src/config/feature_parity.json
  src/shared/python/physics/flight_trajectory_import.py
  tests/api/test_routes_ball_flight.py
  tests/unit/physics/test_flight_trajectory_import.py
  ui/src/api/generated/types.ts
  ui/src/pages/BallFlight.test.tsx
  ui/src/pages/BallFlight.tsx
  ui/src/pages/ballFlightModel.ts
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

feat(putting-green): ADR-0045 F1 roll-model provenance in every result (#9356)
  SPEC.md
  src/api/routes/putting_green.py
  src/engines/physics_engines/putting_green/python/_checkpoint.py
  src/engines/physics_engines/putting_green/python/_practice_mode.py
  src/engines/physics_engines/putting_green/python/_sim_config.py
  src/engines/physics_engines/putting_green/python/_sim_core.py
  src/engines/physics_engines/putting_green/python/ball_roll_physics.py
  src/engines/physics_engines/putting_green/python/simulator.py
  src/tools/putting_green_gui/_scene_builder.py
  src/tools/putting_green_gui/gui.py
  tests/api/test_phase5_api.py
  tests/unit/api/test_routes_putting_green.py
  tests/unit/engines/putting_green/test_roll_model_provenance.py
  ui/src/api/generated/types.ts
  ui/src/components/visualization/PuttingScene3D.test.tsx
  ui/src/pages/PuttingGreen.test.tsx
  ui/src/pages/PuttingGreen.tsx
  ui/src/pages/PuttingGreen.ui.test.tsx
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

docs(spec): record vendored Tools flight-interchange pin (ADR-0047 H1)
  SPEC.md
Due: none

fix(ball-flight): move H3 import helper out of the shared layer
  SPEC.md
  src/api/routes/_ball_flight_trajectory_import.py
  src/api/routes/ball_flight.py
  tests/api/test_ball_flight_trajectory_import.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ball-flight): satisfy mypy's no-any-return on the vendored reader
  src/api/routes/_ball_flight_trajectory_import.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon
