Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

fix(mocap): declare compositor types for hook import policy
  docs/development/HANDOFF.md
  src/tools/capture_rig/reference_rendering.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: sync fleet-managed agent sections from Repository_Management
  AGENTS.md
  CLAUDE.md
Due: none

refactor(capture): extract common anchor sorting to eliminate duplication
  src/motion_capture/reference/registration.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(capture): qualify reference sync, sampling gaps and calibration identity (#9881)
  AGENT_HANDOFF.md
  SPEC.md
  src/motion_capture/reference/registration.py
  tests/motion_capture/test_reference_registration.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(mocap): meet full PR budgets and numpy shape typing
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/reference_sampling_benchmark.json
  src/motion_capture/reference/registration.py
  src/tools/capture_rig/reference_export.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(mocap): record rendering qualification PR
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

feat(capture): qualify reference sync, sampling gaps and calibration identity (#9881) (#9886)
  AGENT_HANDOFF.md
  SPEC.md
  src/motion_capture/reference/registration.py
  tests/motion_capture/test_reference_registration.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(spec): remove duplicate changelog entry for #9879
  SPEC.md
Due: none

docs(capture): deduplicate state qualification after stacked integration
  docs/development/HANDOFF.md
Due: none

docs(capture): retain one state qualification changelog row
  SPEC.md
  docs/development/HANDOFF.md
Due: none

feat(capture): add instructor alignment and paired-event workspace
  AGENT_HANDOFF.md
  SPEC.md
  docs/architecture/CAPABILITY_ATLAS.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/artifacts/reference-comparison/notes-laptop.png
  docs/development/artifacts/reference-comparison/placement-desktop.png
  docs/development/artifacts/reference-comparison/timing-laptop.png
  docs/motion_capture/capture_rig.md
  src/config/capability_connections.json
  src/tools/capture_rig/reference_comparison.py
  src/tools/capture_rig/reference_controls.py
  src/tools/capture_rig/reference_timeline.py
  src/tools/capture_rig/styling.py
  tests/tools/capture_rig/test_reference_alignment_controls.py
  tests/tools/capture_rig/test_reference_comparison_state.py
  ui/public/capability-atlas/capture-workflow.mmd
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(capture): preserve lesson notes through alignment undo
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/tools/capture_rig/reference_comparison.py
  tests/tools/capture_rig/test_reference_alignment_controls.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(capture): record instructor workspace review and visual evidence
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/artifacts/reference-comparison/notes-laptop.png
  docs/development/artifacts/reference-comparison/placement-desktop.png
  docs/development/artifacts/reference-comparison/timing-laptop.png
Due: none

docs(capture): preserve standing design governance in agent context
  AGENT_HANDOFF.md
  docs/development/HANDOFF.md
Due: none

fix(capture): validate legacy sampler gap overrides
  docs/development/HANDOFF.md
  docs/development/reference_sampling_benchmark.json
  src/motion_capture/reference/registration.py
  tests/motion_capture/test_reference_timing_qualification.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(capture): match reference preview and verified export settings (#9882)
  docs/motion_capture/capture_rig.md
  src/motion_capture/reference/registration.py
  src/tools/capture_rig/clips.py
  src/tools/capture_rig/reference_comparison.py
  src/tools/capture_rig/reference_export.py
  src/tools/capture_rig/reference_rendering.py
  src/tools/capture_rig/swing_export.py
  tests/motion_capture/test_reference_scene_evidence.py
  tests/tools/capture_rig/test_reference_comparison_ui.py
  tests/tools/capture_rig/test_reference_render_qualification.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs(spec): document preview and export parity contracts (#9882)
  SPEC.md
Due: none

feat(capture): match reference preview and verified export settings (#9882) (#9889)
  SPEC.md
  docs/motion_capture/capture_rig.md
  src/motion_capture/reference/registration.py
  src/tools/capture_rig/clips.py
  src/tools/capture_rig/reference_comparison.py
  src/tools/capture_rig/reference_export.py
  src/tools/capture_rig/reference_rendering.py
  src/tools/capture_rig/swing_export.py
  tests/motion_capture/test_reference_scene_evidence.py
  tests/tools/capture_rig/test_reference_comparison_ui.py
  tests/tools/capture_rig/test_reference_render_qualification.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(capture): add instructor placement, event pairing and lesson workspace (#9883) (#9890)
  SPEC.md
  docs/architecture/CAPABILITY_ATLAS.md
  docs/motion_capture/capture_rig.md
  src/config/capability_connections.json
  src/tools/capture_rig/reference_comparison.py
  src/tools/capture_rig/reference_controls.py
  src/tools/capture_rig/reference_timeline.py
  src/tools/capture_rig/styling.py
  tests/tools/capture_rig/test_reference_alignment_controls.py
  tests/tools/capture_rig/test_reference_comparison_state.py
  ui/public/capability-atlas/capture-workflow.mmd
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: split infrastructure directory to preserve agent guide budget
  AGENTS.md
  docs/agents/shared-infrastructure.md
  docs/development/HANDOFF.md
  docs/index.md
Due: none
