Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

🛡️ Sentinel: [LOW] Fix insecure subprocess execution in psa_gui.py (#3298)
  tests/verify_changes.py
Due: pytest-unit

fix(packaging): add missing __init__.py files and correct docstring import path (#3299)
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-25.md
  src/shared/python/ai/rag/__init__.py
  src/shared/python/ai/tools/__init__.py
  src/shared/python/data_io/data_utils.py
  src/shared/python/humanoid_character_builder/validation/__init__.py
  src/shared/python/ui/qt/widgets/__init__.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: resolve merge conflict markers across main (#3303)
  .gaai/project/contexts/backlog/.delivery-locks/.daemon-config
  .gaai/project/contexts/backlog/.delivery-locks/.retry-counts
  .gitignore
  Dockerfile
  find_conflicts.py
  fix_decorators.py
  resolve_conflicts2.py
  rust_core/upstream-physics/src/contact.rs
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/scripts/dataset_generator/createSimulationConfig.m
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix: prevent SQL injection in recording_library get_unique_values (#3304)
  .jules/sentinel.md
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/recording_library.py
  tests/unit/engines/mujoco/test_recording_library.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

security: Fix insecure subprocess execution in mujoco_viewer (#3305)
  src/tools/model_explorer/mujoco_viewer.py
  tests/unit/tools/model_explorer/test_mujoco_viewer_security.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(editor): remove dead ET.tostring call and use splitlines() (#3307)
  src/shared/python/model_generation/editor/_text_editor_validation.py
  tests/unit/test_text_editor_validation_fix.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Generate assessments and auto-fix formatting (#3308)
  SPEC.md
  docs/assessments/AUTO_FIXED_REPORT.md
  docs/assessments/Assessment_A.md
  docs/assessments/Assessment_A_Code_Structure.md
  docs/assessments/Assessment_B.md
  docs/assessments/Assessment_B_Documentation.md
  docs/assessments/Assessment_C.md
  docs/assessments/Assessment_C_Test_Coverage.md
  docs/assessments/Assessment_D.md
  docs/assessments/Assessment_D_Error_Handling.md
  docs/assessments/Assessment_E.md
  docs/assessments/Assessment_E_Performance.md
  docs/assessments/Assessment_F.md
  docs/assessments/Assessment_F_Security.md
  docs/assessments/Assessment_G.md
  docs/assessments/Assessment_G_Dependencies.md
  docs/assessments/Assessment_H.md
  docs/assessments/Assessment_H_CI_CD.md
  docs/assessments/Assessment_I.md
  docs/assessments/Assessment_I_Code_Style.md
  docs/assessments/Assessment_J.md
  docs/assessments/Assessment_J_API_Design.md
  docs/assessments/Assessment_K.md
  docs/assessments/Assessment_K_Data_Handling.md
  docs/assessments/Assessment_L.md
  docs/assessments/Assessment_L_Logging.md
  docs/assessments/Assessment_M.md
  docs/assessments/Assessment_M_Configuration.md
  docs/assessments/Assessment_N.md
  docs/assessments/Assessment_N_Scalability.md
  docs/assessments/Assessment_O.md
  docs/assessments/Assessment_O_Maintainability.md
  docs/assessments/Comprehensive_Assessment.md
  docs/assessments/issues/ISSUE_Assessment_O_Maintainability.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/apps/golf_gui/Motion Capture Plotter/Motion_Capture_Plotter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: generate Code Quality Review report (#3309)
  docs/assessments/Code_Quality_Review_Latest.md
  docs/assessments/changelog_reviews/Code_Quality_Review_2026-04-26.md
  find_conflicts.py
  patch_timeout.py
  patch_tools.py
  resolve_conflicts.py
  resolve_conflicts2.py
  resolve_docs.py
  restore_broken.py
  scratch/check_mpl.py
  scratch_test.py
  src/launchers/motion_capture_launcher.py
  src/shared/python/ui/qt/widgets/signal_toolkit_processing_mixin.py
  tests/unit/dbc/test_dbc_runtime_signal_toolkit.py
  tests/unit/shared_python/test_signal_toolkit_filters.py
  tests/unit/signal_toolkit/test_filters.py
  tests/unit/spatial_algebra/test_spatial_algebra_comprehensive.py
  tests/unit/test_calc_backend_protocols.py
  tests/unit/test_datetime_utils.py
  tests/unit/test_manipulability.py
  tests/unit/test_text_editor_validation_fix.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

ci: fix pick-runner failure from gh api json error response (#3315)
  .github/workflows/Bot-CI-Trigger.yml
  .github/workflows/Comment-to-Issue-Converter.yml
  .github/workflows/Jules-Archivist.yml
  .github/workflows/Jules-Assessment-AutoFix.yml
  .github/workflows/Jules-Assessment-Remediator.yml
  .github/workflows/Jules-Auto-Assign-Issues.yml
  .github/workflows/Jules-Auto-Repair.yml
  .github/workflows/Jules-Comprehensive-Assessment.yml
  .github/workflows/Jules-Conflict-Fix.yml
  .github/workflows/Jules-Consolidator.yml
  .github/workflows/Jules-Control-Tower.yml
  .github/workflows/Jules-Documentation-Auditor.yml
  .github/workflows/Jules-Documentation-Scribe.yml
  .github/workflows/Jules-Hotfix-Creator.yml
  .github/workflows/Jules-Issue-Mention-Handler.yml
  .github/workflows/Jules-PR-AutoFix.yml
  .github/workflows/Jules-PR-Cleanup.yml
  .github/workflows/Jules-Review-Fix.yml
  .github/workflows/Jules-Supersede-Check.yml
  .github/workflows/Jules-Tech-Custodian.yml
  .github/workflows/Maintenance-Global-Control.yml
  .github/workflows/Manual-Run-All.yml
  .github/workflows/Nightly-Doc-Organizer.yml
  .github/workflows/PR-Comment-Responder.yml
  .github/workflows/auto-update-prs.yml
  .github/workflows/ci-optional-stack.yml
  .github/workflows/ci-standard.yml
  .github/workflows/critical-files-guard.yml
  .github/workflows/docker-size-gates.yml
  .github/workflows/docs-ci.yml
  .github/workflows/heavy-tests-opt-in.yml
  .github/workflows/nightly-cross-engine.yml
  .github/workflows/spec-check.yml
  .github/workflows/stale-cleanup.yml
  .github/workflows/tauri-build.yml
  .github/workflows/vendor-freshness.yml
Due: none

⚡ Bolt: Optimize Mean Squared Error calculations
  .jules/bolt.md
  SPEC.md
  src/api/routes/force_overlays.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/grip_modelling_tab.py
  src/learning/sim2real/system_identification.py
  src/robotics/locomotion/footstep_planner.py
  src/shared/python/physics/_impact_physics.py
  src/shared/python/physics/_impact_recorder.py
  src/shared/python/upstream_drift_tools/calculators/conversion/service.py
  src/tools/video_analyzer/analyzer.py
  tests/unit/engines/mujoco/test_recording_library.py
  tests/unit/test_calc_backend_protocols.py
  tests/unit/test_text_editor_validation_fix.py
  tests/unit/tools/model_explorer/test_mujoco_viewer_security.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

docs: Generate completely updated COMPLETIST audit data and gap reports (#3310)
  .jules/completist_data/abstract_methods.txt
  .jules/completist_data/incomplete_docs.txt
  .jules/completist_data/not_implemented.txt
  .jules/completist_data/stub_functions.txt
  .jules/completist_data/todo_markers.txt
  docs/assessments/README.md
  docs/assessments/completist/Completist_Report_2026-04-26.md
  docs/assessments/issues/Issue_2409_Incomplete_Stub_in_security_py_335.md
  docs/assessments/issues/Issue_2410_Incomplete_Stub_in__topography_io_py_15.md
  docs/assessments/issues/Issue_2411_Incomplete_Stub_in__topography_io_py_19.md
  docs/assessments/issues/Issue_2412_Incomplete_Stub_in__topography_io_py_21.md
  docs/assessments/issues/Issue_2413_Incomplete_Stub_in__shaft_model_py_15.md
  docs/assessments/issues/Issue_2414_Incomplete_Stub_in__shaft_model_py_19.md
  docs/assessments/issues/Issue_2415_Incomplete_Stub_in__shaft_model_py_23.md
  docs/assessments/issues/Issue_2416_Incomplete_Stub_in__shaft_model_py_32.md
  docs/assessments/issues/Issue_2417_Incomplete_Stub_in__shaft_model_py_64.md
  docs/assessments/issues/Issue_2422_Incomplete_Stub_in__impact_physics_py_117.md
  docs/assessments/issues/Issue_2451_Incomplete_Stub_in_base_builder_py_207.md
  docs/assessments/issues/Issue_2456_Incomplete_Stub_in__mesh_types_py_63.md
  docs/assessments/issues/Issue_2457_Incomplete_Stub_in__mesh_types_py_69.md
  docs/assessments/issues/Issue_2458_Incomplete_Stub_in__mesh_types_py_74.md
Due: none

fix: clean conflict markers and add ONLINE check
  .github/workflows/Code-Metrics.yml
  .github/workflows/Jules-Assessment-Generator.yml
  .github/workflows/Jules-Code-Quality-Fixer.yml
  .github/workflows/Jules-Code-Quality-Reviewer.yml
  .github/workflows/Jules-Comment-Processor.yml
  .github/workflows/Jules-Completist.yml
  .github/workflows/Jules-Critics-Comments.yml
  .github/workflows/Jules-Issue-Resolver.yml
  .github/workflows/Jules-Laymans-Terms-Writer.yml
  .github/workflows/Jules-PR-Compiler.yml
  .github/workflows/Jules-Physics-Auditor.yml
  .github/workflows/Jules-Sentinel.yml
  .github/workflows/Jules-Tech-Debt-Assessor.yml
  .github/workflows/Jules-Test-Generator.yml
  .github/workflows/agent-metrics-dashboard.yml
  .github/workflows/ci-failure-digest.yml
  .github/workflows/ci-standard.yml
  .github/workflows/docs-governance.yml
  .github/workflows/pdf-size-guard.yml
  .github/workflows/pr-auto-labeler.yml
  .github/workflows/release.yml
Due: none

fix: clean conflict markers and add ONLINE check (#3317)
  .github/workflows/Code-Metrics.yml
  .github/workflows/Jules-Assessment-Generator.yml
  .github/workflows/Jules-Code-Quality-Fixer.yml
  .github/workflows/Jules-Code-Quality-Reviewer.yml
  .github/workflows/Jules-Comment-Processor.yml
  .github/workflows/Jules-Completist.yml
  .github/workflows/Jules-Critics-Comments.yml
  .github/workflows/Jules-Issue-Resolver.yml
  .github/workflows/Jules-Laymans-Terms-Writer.yml
  .github/workflows/Jules-PR-Compiler.yml
  .github/workflows/Jules-Physics-Auditor.yml
  .github/workflows/Jules-Sentinel.yml
  .github/workflows/Jules-Tech-Debt-Assessor.yml
  .github/workflows/Jules-Test-Generator.yml
  .github/workflows/agent-metrics-dashboard.yml
  .github/workflows/ci-failure-digest.yml
  .github/workflows/ci-standard.yml
  .github/workflows/docs-governance.yml
  .github/workflows/pdf-size-guard.yml
  .github/workflows/pr-auto-labeler.yml
  .github/workflows/release.yml
Due: none

fix: remove tautological null-check antipatterns in common_utils (#3318)
  src/shared/python/data_io/common_utils.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

security: remediate B314 XML parsing vulnerabilities (SECURITY_AUDIT_MEDIUM)
  SPEC.md
  src/engines/physics_engines/drake/python/src/drake_golf_model.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/urdf_generator.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/urdf_io.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/urdf_parser.py
  src/shared/python/biomechanics/humanoid_urdf_contracts.py
  src/shared/python/humanoid_character_builder/generators/_geometry_helpers.py
  src/shared/python/humanoid_character_builder/generators/_urdf_xml_writer.py
  src/shared/python/humanoid_character_builder/generators/_xml_builder.py
  src/shared/python/humanoid_character_builder/generators/urdf_generator.py
  src/shared/python/humanoid_character_builder/generators/urdf_geometry.py
  src/shared/python/humanoid_character_builder/generators/urdf_xml_builder.py
  src/shared/python/model_generation/converters/mjcf_converter.py
  src/shared/python/model_generation/converters/simscape/mdl_parser.py
  src/shared/python/model_generation/converters/urdf_parser.py
  src/shared/python/model_generation/editor/_text_editor_validation.py
  src/shared/python/model_generation/editor/text_editor.py
  src/tools/model_explorer/_chain_model.py
  src/tools/model_explorer/_chain_widget.py
  src/tools/model_explorer/_ee_library.py
  src/tools/model_explorer/_ee_model.py
  src/tools/model_explorer/_ee_widget.py
  src/tools/model_explorer/_frankenstein_model.py
  src/tools/model_explorer/_frankenstein_panels.py
  src/tools/model_explorer/component_library.py
  src/tools/model_explorer/frankenstein_editor.py
  src/tools/model_explorer/frankenstein_editor/editor.py
  src/tools/model_explorer/frankenstein_editor/model.py
  src/tools/model_explorer/frankenstein_editor/panel.py
  src/tools/model_explorer/joint_manipulator.py
  src/tools/model_explorer/mesh_browser.py
  src/tools/model_explorer/urdf_builder.py
  src/tools/model_explorer/urdf_code_editor.py
  tests/integration/test_urdf_generation_smoke.py
  tests/unit/biomechanics/test_humanoid_urdf_contracts.py
  tests/unit/test_myoconverter_integration.py
  tests/unit/test_text_editor_validation_fix.py
  tests/unit/tools/humanoid_character_builder/test_urdf_generator_formatting.py
  tests/unit/tools/model_generation/test_integration_roundtrip.py
  tests/unit/tools/model_generation/test_property_based.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(assessment): A-O comprehensive health assessment 2026-04-26 (#3328)
  assessments/2026-04-26-A-project-organization.md
  assessments/2026-04-26-B-documentation-quality.md
  assessments/2026-04-26-C-test-coverage.md
  assessments/2026-04-26-D-error-handling.md
  assessments/2026-04-26-E-performance.md
  assessments/2026-04-26-F-code-clarity.md
  assessments/2026-04-26-G-dependency-hygiene.md
  assessments/2026-04-26-H-security-posture.md
  assessments/2026-04-26-I-configurability.md
  assessments/2026-04-26-J-observability.md
  assessments/2026-04-26-K-technical-debt.md
  assessments/2026-04-26-L-ci-cd-automation.md
  assessments/2026-04-26-M-release-maturity.md
  assessments/2026-04-26-N-license-compliance.md
  assessments/2026-04-26-O-agentic-usability.md
  assessments/2026-04-26-comprehensive-assessment.json
  assessments/2026-04-26-comprehensive-assessment.md
Due: none

[ASSESSMENT] A-O Fleet Assessment 2026-04-26 (#3329)
  docs/assessments/2026-04-26-UpstreamDrift-assessment.json
  docs/assessments/2026-04-26-comprehensive-assessment.json
  docs/assessments/2026-04-26-comprehensive-assessment.md
  src/api/routes/export.py
  src/api/routes/simulation.py
  src/api/routes/video.py
  src/api/services/simulation_service.py
  src/api/task_manager.py
  src/launchers/_archive/README.md
  src/launchers/_archive/__init__.py
  src/launchers/cross_engine_dashboard.py
  src/launchers/launcher_process_manager.py
  src/shared/python/ui/qt/widgets/signal_toolkit_processing_mixin.py
  tests/unit/dbc/test_dbc_runtime_signal_toolkit.py
  tests/unit/shared_python/test_signal_toolkit_filters.py
  tests/unit/signal_toolkit/test_filters.py
  tests/unit/test_calc_backend_protocols.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: [performance improvement] Replace np.linalg.norm with math.hypot for collision queries (#3342)
  .jules/bolt.md
  SPEC.md
  src/robotics/planning/collision/_distance_queries.py
  src/robotics/planning/collision/_primitive_shapes.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

🛡️ Sentinel: [CRITICAL] Fix command injection in process worker (#3341)
  .jules/sentinel.md
  src/shared/python/security/secure_subprocess.py
  src/shared/python/ui/qt/process_worker.py
  tests/unit/test_process_worker.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: enforce local-only runner routing across all workflows
  .github/workflows/Code-Metrics.yml
Due: none

chore: remove tracked generated artifacts (coverage.json, temp_id.txt, .jules/completist_data) (#3345)
  .jules/completist_data/abstract_methods.txt
  .jules/completist_data/incomplete_docs.txt
  .jules/completist_data/not_implemented.txt
  .jules/completist_data/stub_functions.txt
  .jules/completist_data/todo_markers.txt
  coverage.json
  temp_id.txt
Due: none

ci: merge runner guard and fix lint (#3348)
  .github/workflows/ci-standard.yml
  .github/workflows/local-only-runner-guard.yml
  scratch/check_mpl.py
  scratch_test.py
  scripts/check_native_engine_imports.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/apps/golf_gui/Motion Capture Plotter/Motion_Capture_Plotter.py
  src/engines/physics_engines/drake/python/perturbation/analyzer.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/advanced_export.py
  src/shared/python/core/constants.py
  src/shared/python/data_io/export.py
  src/shared/python/humanoid_character_builder/contracts.py
  src/shared/python/logging_pkg/logger_utils.py
  src/shared/python/model_generation/core/contracts.py
  src/shared/python/model_generation/editor/frankenstein_editor.py
  src/shared/python/ui/qt/widgets/signal_toolkit_processing_mixin.py
  src/shared/python/ui/qt/widgets/signal_toolkit_widget.py
  tests/integration/test_c3d_workflow.py
  tests/test_launcher_integration.py
  tests/unit/core/test_error_utils_extended.py
  tests/unit/dbc/test_dbc_runtime_calculus.py
  tests/unit/dbc/test_dbc_runtime_signal_toolkit.py
  tests/unit/shared_python/test_advanced_features.py
  tests/unit/shared_python/test_signal_processing.py
  tests/unit/shared_python/test_signal_toolkit_calculus.py
  tests/unit/shared_python/test_signal_toolkit_core.py
  tests/unit/shared_python/test_signal_toolkit_filters.py
  tests/unit/shared_python/test_signal_toolkit_fitting.py
  tests/unit/shared_python/test_signal_toolkit_limits.py
  tests/unit/shared_python/test_signal_toolkit_noise.py
  tests/unit/shared_python/test_signal_toolkit_series.py
  tests/unit/signal_toolkit/test_calculus.py
  tests/unit/signal_toolkit/test_filters.py
  tests/unit/signal_toolkit/test_limits.py
  tests/unit/signal_toolkit/test_noise.py
  tests/unit/signal_toolkit/test_signal_processing.py
  tests/unit/spatial_algebra/test_spatial_algebra_comprehensive.py
  tests/unit/test_datetime_utils.py
  tests/unit/test_shared_signal_processing.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Fixes #3391: Adopt semantic branch naming (#3407)
  .github/workflows/Jules-Assessment-AutoFix.yml
  .github/workflows/Jules-Code-Quality-Fixer.yml
  .github/workflows/Jules-Comment-Processor.yml
  .github/workflows/Jules-Critics-Comments.yml
  .github/workflows/Jules-Issue-Resolver.yml
  .github/workflows/Jules-Laymans-Terms-Writer.yml
  .github/workflows/Jules-PR-Cleanup.yml
  .github/workflows/Jules-Supersede-Check.yml
Due: none

⚡ Bolt: [performance improvement] Optimize sum of squares in ball_simulator using einsum (#3394)
  .jules/bolt.md
  SPEC.md
  src/shared/python/physics/ball_simulator.py
  src/shared/python/ui/qt/widgets/signal_toolkit_processing_mixin.py
  tests/unit/dbc/test_dbc_runtime_signal_toolkit.py
  tests/unit/shared_python/test_signal_toolkit_filters.py
  tests/unit/signal_toolkit/test_filters.py
  tests/unit/test_calc_backend_protocols.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Fix #3353: Adopt semantic branch naming. Fixes #3411 (#3418)
  .github/workflows/Jules-Archivist.yml
  .github/workflows/Jules-Consolidator.yml
  .github/workflows/Jules-PR-Cleanup.yml
  .github/workflows/Jules-PR-Compiler.yml
  .github/workflows/Jules-Supersede-Check.yml
Due: none

Adopt semantic branch naming. Fixes #3385 (#3419)
  .github/workflows/Jules-Archivist.yml
  .github/workflows/Jules-PR-Compiler.yml
Due: none

Fix #3357: Adopt semantic branch naming (#3416)
  .github/workflows/Bot-CI-Trigger.yml
  .github/workflows/Comment-to-Issue-Converter.yml
  .github/workflows/Jules-Archivist.yml
  .github/workflows/Jules-Assessment-AutoFix.yml
  .github/workflows/Jules-PR-Cleanup.yml
  .github/workflows/Jules-Supersede-Check.yml
  .github/workflows/ci-optional-stack.yml
  .github/workflows/ci-standard.yml
  .github/workflows/pr-auto-labeler.yml
  .github/workflows/spec-check.yml
  scripts/check_local_only_workflows.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

Update maintenance scripts and workflows to adopt semantic branch naming. Fixes #3385 (#3420)
  .github/workflows/Jules-PR-Compiler.yml
Due: none

fix: resolve dataset generator imports and failing tests (#3423)
  src/shared/python/data_io/dataset_generator/config.py
  src/shared/python/data_io/dataset_generator/core.py
  tests/unit/test_dataset_generator.py
  tests/unit/test_dataset_generator_split_2456.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Replace np.linalg.norm with math.hypot for 3D vector distances
  SPEC.md
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-29.md
  src/robotics/planning/collision/_primitive_shapes.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

Replace np.linalg.norm with math.hypot for 3D vector distances. Fixes #3426 (#3454)
  src/robotics/contact/friction_cone.py
  src/shared/python/physics/terrain/elevation.py
  src/shared/python/physics/terrain/terrain_base.py
  src/shared/python/physics/terrain_mixin.py
  src/shared/python/physics/terrain_representation.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon
