Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

fix(motion-matching): fail closed on invalid rollout states and missing closure evidence (#10166)
  SPEC.md
  src/shared/python/motion_matching/cross_engine_replay.py
  src/shared/python/motion_matching/full_body_forward_dynamics.py
  tests/unit/motion_matching/test_full_body_forward_dynamics.py
  tests/unit/motion_matching/test_full_body_parity.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(shadow-tracker): freeze immutable evidence contracts and service protocols (#10125)
  SPEC.md
  docs/plans/shadow_tracker/AGENT_HANDOFF.md
  docs/plans/shadow_tracker/READY_TASKS.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/shadow_tracker/__init__.py
  src/shared/python/shadow_tracker/_validation.py
  src/shared/python/shadow_tracker/contracts.py
  tests/unit/shadow_tracker/test_contracts.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(motion-matching): extract rollout audit helpers under architecture budget
  src/shared/python/motion_matching/full_body_forward_dynamics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): disambiguate test filename and register contracts.py in monolith register (#10125)
  docs/development/monolith_refactor_register.md
  tests/unit/shadow_tracker/test_evidence_contracts.py
Due: pytest-unit

refactor(motion-matching): relocate ground calibration to stay under monolith threshold
  src/shared/python/motion_matching/contact_law.py
  src/shared/python/motion_matching/full_body_forward_dynamics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(shadow-tracker): implement video ingestion, shots, timing, and capture evidence (#10126)
  docs/plans/shadow_tracker/AGENT_HANDOFF.md
  docs/plans/shadow_tracker/READY_TASKS.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/shadow_tracker/__init__.py
  src/shared/python/shadow_tracker/ingestion.py
  tests/unit/shadow_tracker/test_video_ingestion.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): update SPEC.md and refactor create_shot for architecture budget (#10126)
  SPEC.md
  src/shared/python/shadow_tracker/__init__.py
  src/shared/python/shadow_tracker/ingestion.py
  tests/unit/shadow_tracker/test_video_ingestion.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(mujoco): verify native mujoco forward replay for returned100 (#10021)
  docs/development/mujoco_native_matching/evidence/returned100_replay/metrics.json
  docs/development/mujoco_native_matching/evidence/returned100_replay/mujoco_replay.npz
Due: none

docs(drake): record returned100 DOP853 replay parity evidence (#10022)
  docs/development/drake_native_matching/evidence/returned100_parity/report.json
  docs/development/drake_native_matching/evidence/returned100_parity/trajectory.npz
Due: none

docs(simscape): record MATLAB R2025b forward replay audit for returned100 (#9921)
  docs/development/simscape_tour_matching/native_evidence/two_window_fit_9967_100/pinocchio_replay.mat
  docs/development/simscape_tour_matching/native_evidence/two_window_fit_9967_100/qualified_candidate_replay.json
  docs/development/simscape_tour_matching/native_evidence/two_window_fit_9967_100/returned-candidate.json
Due: none

feat(shadow_tracker): produce and review body/club silhouettes (#10127)
  AGENT_HANDOFF.md
  SPEC.md
  docs/plans/shadow_tracker/AGENT_HANDOFF.md
  docs/plans/shadow_tracker/READY_TASKS.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/shadow_tracker/__init__.py
  src/shared/python/shadow_tracker/segmentation.py
  tests/unit/shadow_tracker/test_mask_records.py
  tests/unit/shadow_tracker/test_silhouette_segmentation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

ADR-0046 G2: re-point the two workbenches at the canonical layer, module by module
  SPEC.md
  docs/adr/0046-launch-monitor-analytics-single-model-layer.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/config/launcher_manifest.json
  src/config/models.yaml
  tests/config/launcher_manifest/test_launch_monitor_tiles_share_one_engine.py
  ui/public/capability-atlas/graph.json
  ui/public/capability-atlas/index.html
Due: pytest-unit

feat(shadow_tracker): render calibrated silhouettes and compute residuals (#10128)
  AGENT_HANDOFF.md
  SPEC.md
  docs/plans/shadow_tracker/AGENT_HANDOFF.md
  docs/plans/shadow_tracker/READY_TASKS.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/shadow_tracker/__init__.py
  src/shared/python/shadow_tracker/projection.py
  tests/unit/shadow_tracker/test_silhouette_projection_and_losses.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(shadow_tracker): fit subject shape and initial-state hypotheses (#10129)
  AGENT_HANDOFF.md
  SPEC.md
  docs/plans/shadow_tracker/AGENT_HANDOFF.md
  docs/plans/shadow_tracker/READY_TASKS.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/shadow_tracker/__init__.py
  src/shared/python/shadow_tracker/initialization.py
  tests/unit/shadow_tracker/test_initialization.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(shadow-tracker): correct readiness claims and refresh agent turnover
  AGENT_HANDOFF.md
  SPEC.md
  docs/plans/shadow_tracker/AGENT_HANDOFF.md
  docs/plans/shadow_tracker/CONTINUATION_PROMPT.md
  docs/plans/shadow_tracker/DEVELOPMENT_REVIEW.md
  docs/plans/shadow_tracker/PROGRESS_REVIEW_2026_09_15.md
  docs/plans/shadow_tracker/QUALIFICATION_FINDINGS.md
  docs/plans/shadow_tracker/README.md
  docs/plans/shadow_tracker/READY_TASKS.md
  docs/plans/shadow_tracker/roadmap.json
Due: none

docs(shadow-tracker): record turnover PR provenance
  SPEC.md
  docs/plans/shadow_tracker/PROGRESS_REVIEW_2026_09_15.md
Due: none

docs(full-body): HO-0 landing issue #10186 gates the handoff epic (#10162)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/full_body_models/HANDOFF.md
Due: none

fix(shadow-tracker): regenerate and qualify evidence after IK coordinate correction (#10167)
  SPEC.md
  docs/development/full_body_models/evidence/fb4_calibration/mujoco/calibrated_offsets.json
  docs/development/full_body_models/evidence/fb4_calibration/mujoco/historical/calibrated_offsets.json
  docs/development/full_body_models/evidence/fb4_calibration/mujoco/historical/ik_trajectory.npz
  docs/development/full_body_models/evidence/fb4_calibration/mujoco/historical/receipt.json
  docs/development/full_body_models/evidence/fb4_calibration/mujoco/ik_trajectory.npz
  docs/development/full_body_models/evidence/fb4_calibration/mujoco/receipt.json
  docs/plans/shadow_tracker/AGENT_HANDOFF.md
  docs/plans/shadow_tracker/QUALIFICATION_FINDINGS.md
  docs/plans/shadow_tracker/READY_TASKS.md
  docs/plans/shadow_tracker/evidence/model_probe_10_frames_historical_scrambled.json
  tests/integration/shadow_tracker/test_model_probe.py
  tests/unit/shadow_tracker/test_calibration_provenance.py
Due: pytest-unit

docs(gspro): define simulator integration epic and agent handoff
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/plans/golf_simulator_integration/ACCEPTANCE_RUNBOOK.md
  docs/plans/golf_simulator_integration/ARCHITECTURE.md
  docs/plans/golf_simulator_integration/BACKLOG.md
  docs/plans/golf_simulator_integration/FEASIBILITY.md
  docs/plans/golf_simulator_integration/NEXT_AGENT.md
  docs/plans/golf_simulator_integration/README.md
Due: none

docs(gspro): record planning PR and published work packages
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/plans/golf_simulator_integration/README.md
Due: none

fix(shadow-tracker): reject unrun model segmentation and enforce shot-isolated mask revisions (#10202)
  SPEC.md
  docs/plans/shadow_tracker/AGENT_HANDOFF.md
  docs/plans/shadow_tracker/READY_TASKS.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/shadow_tracker/contracts.py
  src/shared/python/shadow_tracker/segmentation.py
  tests/unit/shadow_tracker/test_silhouette_segmentation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon
