Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

test: implement cross-engine physics consistency tests (#1239)
  tests/integration/test_physics_consistency.py
Due: pytest-unit

test: expand M2 acceptance suite with closure, multi-config, and GRF tests
  tests/integration/test_cross_engine_validation.py
Due: pytest-unit

test: expand M2 acceptance suite with closure, multi-config, and GRF tests (#1240)
  tests/integration/test_cross_engine_validation.py
Due: pytest-unit

feat(export): add HDF5 export and comprehensive tests (#1176)
  src/engines/common/export.py
  tests/unit/test_export_interfaces.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(export): add HDF5 export and comprehensive tests (#1176) (#1241)
  src/engines/common/export.py
  tests/unit/test_export_interfaces.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(recorder): wire GRF analysis and wrench logging into recorder (#761)
  src/shared/python/dashboard/recorder.py
  tests/unit/test_wrench_recording.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(recorder): wire GRF analysis and wrench logging into recorder (#761) (#1242)
  src/shared/python/dashboard/recorder.py
  tests/unit/test_wrench_recording.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(diagnostics): add cross-engine Jacobian diagnostics module (#760)
  src/engines/common/jacobian_diagnostics.py
  tests/unit/test_jacobian_diagnostics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(diagnostics): add cross-engine Jacobian diagnostics module (#760) (#1243)
  src/engines/common/jacobian_diagnostics.py
  tests/unit/test_jacobian_diagnostics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(education): expand AI glossary to 510+ terms across 20 categories (#764)
  src/shared/python/ai/education.py
  src/shared/python/ai/glossary_data_core.py
  src/shared/python/ai/glossary_data_extended.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(education): expand AI glossary to 510+ terms across 20 categories (#764) (#1244)
  src/shared/python/ai/education.py
  src/shared/python/ai/glossary_data_core.py
  src/shared/python/ai/glossary_data_extended.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(scripts): decompose god functions in analyze_completist_data and run_assessment (#843)
  scripts/analyze_completist_data.py
  scripts/run_assessment.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

refactor(scripts): decompose god functions in analyze_completist_data and run_assessment (#843) (#1245)
  scripts/analyze_completist_data.py
  scripts/run_assessment.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat: complete motion matching pipeline with joint angles and validation (#759)
  src/shared/python/pose_estimation/joint_angle_utils.py
  src/shared/python/pose_estimation/mediapipe_estimator.py
  src/shared/python/pose_estimation/openpose_estimator.py
  src/shared/python/pose_estimation/validation_metrics.py
  tests/unit/test_motion_matching_pipeline.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: complete motion matching pipeline with joint angles and validation (#759) (#1246)
  src/shared/python/pose_estimation/joint_angle_utils.py
  src/shared/python/pose_estimation/mediapipe_estimator.py
  src/shared/python/pose_estimation/openpose_estimator.py
  src/shared/python/pose_estimation/validation_metrics.py
  tests/unit/test_motion_matching_pipeline.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: eliminate DRY violations in export modules and scripts (#842)
  scripts/apply_quick_fixes.py
  scripts/assess_repository.py
  scripts/pragmatic_programmer_review.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/advanced_export.py
  src/shared/python/export.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: eliminate DRY violations in export modules and scripts (#842) (#1247)
  scripts/apply_quick_fixes.py
  scripts/assess_repository.py
  scripts/pragmatic_programmer_review.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/advanced_export.py
  src/shared/python/export.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: add gap analysis review and critical physics issue files (#1228)
  docs/assessments/Gap_Analysis_Review_2026-02-16.md
  docs/assessments/issues/ISSUE_BIOMECHANICS_MISSING_MUSCLE_STRAIN.md
  docs/assessments/issues/ISSUE_PHYSICS_EFFICIENCY_HARDCODED_MASS.md
  docs/assessments/issues/ISSUE_PHYSICS_GRF_GRAVITY_SUM.md
  docs/assessments/issues/resolved/ISSUE_014_Physics_Efficiency_Eccentric_Work.md
Due: none

fix(mypy): resolve 4 type errors blocking quality-gate
  src/engines/common/jacobian_diagnostics.py
  src/shared/python/signal_toolkit/tests/test_signal_toolkit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

enhance(autofix): add mypy agent, import sorting, and safeguards
  .github/workflows/Jules-PR-AutoFix.yml
  scripts/mypy_autofix_agent.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(lint): remove f-string without placeholders (F541)
  scripts/mypy_autofix_agent.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

enhance(autofix): add mypy agent, import sorting, and safeguards (#1257)
  .github/workflows/Jules-PR-AutoFix.yml
  scripts/mypy_autofix_agent.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: add comprehensive code decoupling plan
  docs/plans/decoupling-plan.md
Due: none

docs: add comprehensive code decoupling plan (#1258)
  docs/plans/decoupling-plan.md
Due: none

fix(mypy): resolve 4 type errors blocking quality-gate (#1256)
  src/engines/common/jacobian_diagnostics.py
  src/shared/python/signal_toolkit/tests/test_signal_toolkit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(phase-1): break circular dependency pairs between top-level modules
  scripts/check_dependency_direction.py
  src/api/local_server.py
  src/api/services/launcher_service.py
  src/engines/common/__init__.py
  src/engines/common/capabilities.py
  src/engines/loaders.py
  src/shared/python/capabilities.py
  src/shared/python/engine_loaders.py
  src/shared/python/engine_manager.py
  src/shared/python/interfaces.py
  tests/test_circular_dependencies.py
  tests/unit/test_shared_engine_loaders.py
  tests/unit/test_shared_engine_manager.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(phase-1): break circular dependency pairs between top-level modules (#1267)
  scripts/check_dependency_direction.py
  src/api/local_server.py
  src/api/services/launcher_service.py
  src/engines/common/__init__.py
  src/engines/common/capabilities.py
  src/engines/loaders.py
  src/shared/python/capabilities.py
  src/shared/python/engine_loaders.py
  src/shared/python/engine_manager.py
  src/shared/python/interfaces.py
  tests/test_circular_dependencies.py
  tests/unit/test_shared_engine_loaders.py
  tests/unit/test_shared_engine_manager.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon
