Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

fix(motion_matching): mypy-safe club-only worker handle typing
  src/tools/motion_matching/gui.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(deps): exclude casadi from dependabot groups (bioptim qualified-runtime contract)
  .github/dependabot.yml
Due: none

style(sidekick): apply ruff formatting to electrical_model (Bolt CI repair)
  src/shared/python/sidekick/calculators/electrical/electrical_model.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(matlab): consolidate GolfSwingVisualizer into shared +golfviz package (issue #9225)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/Simscape_Multibody_Models/2D_Golf_Model/matlab/2D GUI/launch_gui.m
  src/engines/Simscape_Multibody_Models/2D_Golf_Model/matlab/2D GUI/main_scripts/golf_swing_analysis_gui.m
  src/engines/Simscape_Multibody_Models/2D_Golf_Model/matlab/2D GUI/visualization/GolfSwingVisualizer.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/apps/golf_gui/2D GUI/launch_gui.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/apps/golf_gui/2D GUI/main_scripts/golf_swing_analysis_gui.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/apps/golf_gui/2D GUI/visualization/GolfSwingVisualizer.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/apps/golf_gui/Simscape Multibody Data Plotters/Matlab Versions/SkeletonPlotter/GolfSwingVisualizer.m
  src/engines/Simscape_Multibody_Models/shared/+golfviz/GolfSwingVisualizer.m
Due: none

feat(motion_matching): integrate club-only Excel into Motion Matching UI (CO-09)
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/config/feature_parity.json
  src/tools/matched_swing_browser/model.py
  src/tools/motion_matching/club_only_panel.py
  src/tools/motion_matching/club_only_ui.py
  src/tools/motion_matching/gui.py
  src/tools/tour_matching_viewer/gui.py
  tests/tools/matched_swing_browser/test_model.py
  tests/tools/motion_matching/test_club_only_ui.py
  tests/tools/motion_matching/test_motion_matching_gui.py
  tests/unit/tools/test_tour_matching_viewer_club_only_legend.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): regenerate divergence inventory for current tree (refs #10378)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

docs(handoff): key DL-#9225 and SPEC row to PR #10715
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

fix(neural_motion): extract shared NM-06 proposal helpers for DRY (#10621)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/shared/python/motion_matching/hybrid.py
  src/shared/python/motion_matching/inverse/masked_proposal.py
  src/shared/python/motion_matching/inverse/proposal_shared.py
  src/shared/python/motion_matching/inverse/proposal_training.py
  src/shared/python/motion_matching/inverse/regressor.py
  src/shared/python/neural_motion/proposals/model.py
  src/shared/python/neural_motion/proposals/refine.py
  src/shared/python/neural_motion/proposals/train.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test: restore GUI test files deleted out of scope (refs #10359)
  .github/workflows/ci-standard.yml
  docs/motion_pipeline/README.md
  scripts/ci/check_gui_thread_blocking_ratchet.py
  scripts/config/gui_thread_blocking_baseline.json
  src/api/routes/motion_capture.py
  src/shared/python/motion_pipeline/sources/c3d_adapter.py
  src/shared/python/theme/tool_stylesheet.py
  src/tools/async_action.py
  src/tools/ball_flight_gui/gui.py
  src/tools/bunker_shot_gui/gui.py
  src/tools/motion_matching/gui.py
  src/tools/swing_flight_pipeline/gui.py
  tests/api/test_launcher_api.py
  tests/tools/ball_flight_gui/test_async_actions.py
  tests/tools/bunker_shot_gui/test_async_actions.py
  tests/tools/bunker_shot_gui/test_gui.py
  tests/tools/swing_flight_pipeline/test_async_actions.py
  tests/unit/api/test_routes_motion_capture.py
  tests/unit/scripts/test_gui_thread_blocking_ratchet.py
  ui/src/api/generated/types.ts
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

fix(tests): correct patch targets in joint panel tests (refs #8887)
  docs/development/HANDOFF.md
  tests/unit/tools/pose_studio/test_joint_panel.py
Due: pytest-unit

fix(motion_matching): harden CO-09 UI path anchors and review gaps
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/shared/python/motion_matching/club_only/__init__.py
  src/shared/python/motion_matching/club_only/ui_integration.py
  src/shared/python/workspace/results_browser.py
  src/tools/motion_matching/gui.py
  src/tools/tour_matching_viewer/__init__.py
  src/tools/tour_matching_viewer/core.py
  tests/unit/motion_matching/test_club_ui_integration.py
  tests/unit/tools/test_tour_matching_viewer_core.py
  tests/unit/workspace/test_results_browser.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(engines): extract duplicated block in full_body_ik (refs #10359)
  src/engines/physics_engines/mujoco/python/full_body_ik.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: fix bolt heading title case
  .jules/bolt.md
Due: none

docs: key CO-09 SPEC/handoff to PR #10716
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

docs(spec): add PR-keyed change-log row for CO-09 review-gap harden
  SPEC.md
Due: none

feat(motion_matching): publish club-only reproduction guide and final turnover (CO-10)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/plans/club_only_matching/REPRODUCTION_GUIDE.md
  docs/plans/club_only_matching/TURNOVER.md
  docs/plans/club_only_matching/evidence/club_reproduction_turnover.json
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/club_only/__init__.py
  src/shared/python/motion_matching/club_only/reproduction.py
  tests/unit/motion_matching/test_club_reproduction_turnover.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion_matching): CO-10 publish reproduction guide and club-only turnover
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/matched_swing_program/README.md
  docs/plans/club_only_matching/REPRODUCTION_GUIDE.md
  docs/plans/club_only_matching/TURNOVER.md
  docs/plans/club_only_matching/evidence/club_reproduction_turnover.json
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/club_only/__init__.py
  src/shared/python/motion_matching/club_only/reproduction.py
  tests/unit/motion_matching/test_club_reproduction_turnover.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: point CO-10 handoff and SPEC row at PR #10718
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

feat(motion_matching): CO-10 publish club-only reproduction guide and turnover
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/matched_swing_program/README.md
  docs/plans/club_only_matching/REPRODUCTION_GUIDE.md
  docs/plans/club_only_matching/TURNOVER.md
  docs/plans/club_only_matching/evidence/club_reproduction_turnover.json
  src/shared/python/motion_matching/club_only/__init__.py
  src/shared/python/motion_matching/club_only/reproduction.py
  tests/unit/motion_matching/test_club_reproduction_turnover.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: record CO-10 SPEC changelog row for PR #10719
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

docs: mark DL-#10614 in_review for PR #10719
  docs/development/DEVELOPMENT_LOG.md
Due: none

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
