Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

fix(launcher): integrations health feedback, empty state, and contrast (#8904)
  SPEC.md
  src/launchers/integrations_health_panel.py
  tests/unit/launcher/test_integrations_health_panel.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Research: Couple Distributed Grip, Shaft Compliance, and Ground Pathways
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/COMPREHENSIVE_RESEARCH_PROGRAM.md
  docs/research/proximal_distal_energy_transfer/MODEL_COMPLETION_FALSIFICATION_MATRIX.md
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/release_manifest.json
Due: none

test(launcher): mark integrations health panel UI tests with unit suite marker
  tests/unit/launcher/test_integrations_health_panel.py
Due: pytest-unit

fix(launcher): integrations health feedback, empty state, and contrast (#8904) (#9997)
  SPEC.md
  src/launchers/integrations_health_panel.py
  tests/unit/launcher/test_integrations_health_panel.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: audit completed transition fit and specify matching handoff
  docs/development/simscape_tour_matching/NEXT_AGENT_EXECUTION_PROMPT_20260911.md
  docs/development/simscape_tour_matching/REVIEW_AND_TURNOVER_20260911.md
  docs/development/simscape_tour_matching/review_800ms_remote_receipt_20260911.json
Due: none

fix(launcher): run windows dependency checks on background worker (#8898)
  SPEC.md
  src/launchers/settings_dialog.py
  src/launchers/settings_runtime.py
  tests/launchers/test_settings_dialog.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: add native Simscape inventory and Pinocchio constraint probe
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/pinocchio_controltower_20260911_requirements.txt
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/motion_matching/shared/export_native_inventory.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/motion_matching/tests/test_export_native_inventory.m
  tests/engines/physics_engines/pinocchio/test_native_constraint_dynamics.py
Due: pytest-unit

feat: reconstruct stable native Simscape physical wire nets
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_inventory_v2_receipt_20260911.json
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/motion_matching/shared/export_native_inventory.m
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/motion_matching/tests/test_export_native_inventory.m
  src/shared/python/motion_matching/native_inventory.py
  tests/unit/motion_matching/test_native_inventory.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(launcher): run windows dependency checks on background worker (#8898) (#9999)
  SPEC.md
  src/launchers/settings_dialog.py
  src/launchers/settings_runtime.py
  tests/launchers/test_settings_dialog.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: derive native solid inertias and verify custom frame parity
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/motion_matching/tests/export_native_solid_probe.m
  src/shared/python/motion_matching/native_solids.py
  tests/fixtures/motion_matching/native_left_upper_arm_reference.json
  tests/unit/motion_matching/test_native_solids.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(launcher): unify shortcuts modal and label live shortcuts (#8902)
  SPEC.md
  src/launchers/_launcher_top_bar_ui.py
  src/launchers/launcher_dialogs.py
  src/launchers/launcher_ui_setup.py
  tests/launchers/test_help_menu.py
  tests/launchers/test_launcher_dialogs.py
  tests/launchers/test_launcher_ui_setup.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: qualify native solid connector mappings and fixed transforms
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_solid_port_bindings_20260911.json
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/motion_matching/tests/export_native_solid_probe.m
  src/shared/python/motion_matching/native_inventory.py
  src/shared/python/motion_matching/native_solids.py
  src/shared/python/motion_matching/native_transforms.py
  tests/fixtures/motion_matching/native_left_upper_arm_ports.json
  tests/unit/motion_matching/test_native_transforms.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(launcher): unify shortcuts modal and label live shortcuts (#8902) (#10000)
  SPEC.md
  src/launchers/_launcher_top_bar_ui.py
  src/launchers/launcher_dialogs.py
  src/launchers/launcher_ui_setup.py
  tests/launchers/test_help_menu.py
  tests/launchers/test_launcher_dialogs.py
  tests/launchers/test_launcher_ui_setup.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion-matching): implement constrained multiple shooting and deliverable diagnostics (#9921)
  AGENT_HANDOFF.md
  candidates/candidate_eval559_package.json
  docs/development/simscape_tour_matching/native_evidence/reproduction/cold_replay_deliverable1_receipt.json
  docs/development/simscape_tour_matching/native_evidence/reproduction/controlled_diagnostic_report.json
  docs/development/simscape_tour_matching/native_evidence/reproduction/deliverable3_080s_receipt.json
  src/shared/python/motion_matching/multi_shooting_fit.py
  tests/unit/motion_matching/test_multi_shooting_fit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: assemble native multibody tree with closed-loop grip weld in Pinocchio
  docs/development/simscape_tour_matching/native_evidence/reproduction/check_native_pinocchio_pose.py
  src/engines/physics_engines/pinocchio/python/native_model.py
  src/shared/python/motion_matching/native_assembly.py
  src/shared/python/motion_matching/native_solids.py
  src/shared/python/motion_matching/native_spec.py
  tests/unit/motion_matching/test_native_assembly.py
  tests/unit/motion_matching/test_native_spec.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: configure type checking exclusions for pinocchio native engine modules
  .pre-commit-config.yaml
  pyproject.toml
Due: none

feat: checkpoint native Pinocchio assembly and matching execution audit
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/REVIEW_AND_EXECUTION_HANDOFF_20260911_2200.md
  docs/development/simscape_tour_matching/native_evidence/native_geometry_spec_9967.json
  docs/development/simscape_tour_matching/native_evidence/native_pinocchio_initial_check_9967.json
  docs/development/simscape_tour_matching/review_manifest_20260911_2200.json
Due: none

test: verify native Pinocchio frame parity through transition
  docs/development/simscape_tour_matching/NATIVE_PORT_CHECKPOINT_20260911.md
  docs/development/simscape_tour_matching/native_evidence/native_multipose_check_9967.json
  docs/development/simscape_tour_matching/native_evidence/native_pose_samples_9967.json
  docs/development/simscape_tour_matching/native_evidence/reproduction/check_native_pose_samples.py
  docs/development/simscape_tour_matching/native_evidence/reproduction/export_native_pose_samples.m
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat: enforce basis duration invariance, candidate metadata, and robust multiple shooting acceptance
  candidates/candidate_eval559_basis1814_package.json
  candidates/candidate_eval559_package.json
  candidates/candidate_eval79_basis1814_package.json
  src/shared/python/motion_matching/multi_shooting_fit.py
  src/shared/python/motion_matching/prefix_fit.py
  tests/motion_matching/test_prefix_fit.py
  tests/unit/motion_matching/test_multi_shooting_fit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: wire terminal and pelvis yaw residuals into multiple shooting optimization
  src/shared/python/motion_matching/multi_shooting_fit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(launcher): persist embedded host workspace layout and dock geometry (#8899)
  SPEC.md
  src/launchers/embedded_host.py
  src/launchers/launcher_layout_manager.py
  src/launchers/launcher_layout_persistence.py
  src/launchers/upstream_drift_launcher.py
  tests/launchers/test_embedded_host_workspace_persistence.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
