Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

feat(calibration): keep leg-marker azimuth and a square forefoot under foot progression (#11737)
  src/shared/python/motion_matching/marker_calibration.py
  src/shared/python/motion_matching/pipeline/address.py
  src/shared/python/motion_matching/pipeline/leg_marker_constraints.py
  tests/unit/motion_matching/pipeline/test_leg_marker_constraints.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(mujoco): grip-modelling tab reports weld grip force via shared grip_efc (#11714)
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_grip_modelling_widgets.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/grip_modelling_tab.py
  tests/unit/engines/physics_engines/mujoco/mujoco_humanoid_golf/test_grip_modelling_weld_wrench.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(drake): URDF right-hand grip wrench from club Newton-Euler, left hand unavailable (#11714)
  src/engines/physics_engines/drake/python/full_body_model.py
  src/engines/physics_engines/drake/python/motion_matching/humanoid_urdf.py
  tests/unit/engines/drake/test_urdf_right_hand_grip_wrench.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(pinocchio): route allocation lambda_grip through grip_from_allocation (#11714)
  changes/11714-gcv-8-gaps-grip-modelling-tab-reuses-gri.md
  src/engines/physics_engines/pinocchio/python/force_adapter.py
  src/engines/physics_engines/pinocchio/python/native_model.py
  tests/integration/engines/pinocchio/test_grip_allocation_routing.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(calibration): pin the forefoot midpoint's lateral position too (#11737)
  src/shared/python/motion_matching/pipeline/leg_marker_constraints.py
  tests/unit/motion_matching/pipeline/test_leg_marker_constraints.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(launch-monitor): POST /v2/relationships and /v2/multivariate wrapping the PyQt Relationships tab (#11987)
  changes/11987-post-v2-relationships-and-v2-multivariat.md
  docs/api/launch_monitor_analytics.md
  src/api/routes/launch_monitor_analytics.py
  tests/unit/api/test_routes_launch_monitor_analytics_relationships.py
  ui/src/api/generated/types.ts
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

feat(web): realistic club head from committed STL heads (#11717)
  ui/src/components/visualization/ClubHead.tsx
  ui/src/components/visualization/clubHeadAssets.ts
  ui/src/components/visualization/clubHeadGeometry.test.ts
  ui/src/components/visualization/clubHeadGeometry.ts
  ui/vite.config.ts
Due: no-debugger

feat(web): visible head and face in GolferModel, parity registry update (#11718)
  changes/11717-web-clubhead-stl-heads-at-spec-loft-lie.md
  docs/development/feature_parity_matrix.md
  src/config/feature_parity.json
  ui/src/components/visualization/GolferModel.tsx
  ui/src/components/visualization/HeadModel.tsx
  ui/src/components/visualization/headModel.test.ts
  ui/src/components/visualization/headModel.ts
Due: no-debugger

fix(hip-calibration): remove the lateral-marker tilt from the zero-twist flexion plane (#11737)
  src/shared/python/motion_matching/hip_calibration.py
  tests/unit/motion_matching/test_hip_calibration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

style(tests): ruff SIM300 in the zero-twist offset test (#11737)
  tests/unit/motion_matching/test_hip_calibration.py
Due: pytest-unit

chore(drake): mark the construction-only ElementTree import like the other builders (#11714)
  src/engines/physics_engines/drake/python/motion_matching/humanoid_urdf.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(handoff): GCV-8 grip wrench gaps (#11714)
  AGENT_HANDOFF.md
Due: none

fix(ui): let the dev server read only ui/ and assets/, not the repo root (#11717)
  AGENT_HANDOFF.md
  ui/vite.config.ts
Due: no-debugger

style: prettier-format ORG01_CAPABILITY_BASELINE.md (pre-push hook)
  docs/development/ORG01_CAPABILITY_BASELINE.md
Due: none

fix(osv-6): mypy narrowing in hip_axis_signs, ratchet only the ratcheted fractions, refresh the ledger (#11737)
  docs/development/matched_swing_program/README.md
  reports/matched_swing_ledger.json
  src/shared/python/motion_matching/execution/spec_builder.py
  src/shared/python/motion_matching/pipeline/finish_feasibility.py
  tests/unit/motion_matching/pipeline/test_finish_feasibility.py
  tests/unit/motion_matching/pipeline/test_finish_feasibility_ratchet.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(pipeline): record full address coordinate vector in address_report.json (#11737)
  src/shared/python/motion_matching/pipeline/address_feet.py
  src/shared/python/motion_matching/pipeline/cli.py
  tests/unit/motion_matching/pipeline/test_address_coordinates.py
  tests/unit/motion_matching/pipeline/test_cli_address_only.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(native-viewer): MuJoCo Renderer backend with appearance body and club (GCV-14, #11720)
  src/tools/native_viewer_export/backends/mujoco_native.py
  src/tools/native_viewer_export/backends/mujoco_worker.py
  src/tools/native_viewer_export/backends/registry.py
  src/tools/native_viewer_export/cli.py
  src/tools/native_viewer_export/core.py
  tests/unit/tools/native_viewer_export/test_mujoco_backend.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): DRY drake simulation setup, annotate trail_shift_m for mypy; prettier ORG01 baseline (#11986)
  docs/development/ORG01_CAPABILITY_BASELINE.md
  src/engines/physics_engines/drake/python/grip_bushing.py
  src/engines/physics_engines/drake/python/grip_contact_sim.py
  src/engines/physics_engines/mujoco/python/grip_contact_sim.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(hip-calibration): apply the lateral-marker zero-twist correction only with foot progression (#11737)
  src/shared/python/motion_matching/hip_calibration.py
  src/shared/python/motion_matching/pipeline/address.py
  tests/unit/motion_matching/test_hip_calibration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(control): solve native command plans with guarded fallback (#12036)
  AGENT_HANDOFF.md
  SPEC.md
  changes/12036-native-command-solve.md
  docs/agent_context/README.md
  docs/agent_context/catalog.json
  docs/agent_context/contracts/project-task-native-replay.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
  docs/development/feedback_controls/F09N-NATIVE-COMMAND-SOLVE-PLAN.md
  docs/development/feedback_controls/F09N-NATIVE-COMMAND-SOLVE-TURNOVER.md
  docs/development/monolith_refactor_register.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/38-project-myosuite-task-replay.qmd
  src/engines/myosuite_project_command_solve.py
  src/shared/python/motion_matching/bounded_candidate_search.py
  tests/unit/engines/myosuite/test_project_task_command_solve.py
  tests/unit/motion_matching/test_bounded_candidate_search.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(evidence): strict xfail of the canonical finish-feasibility ratchet against #12040 (#11737)
  tests/unit/motion_matching/pipeline/test_finish_feasibility_ratchet.py
Due: pytest-unit

docs(osv-6): zero-twist and leg-marker corrections, measurements and the failed default-on experiment (#11737)
  AGENT_HANDOFF.md
  changes/11737-osv-6-lead-foot-lateral-marker-zero-twis.md
  docs/research/hip_axis_mirroring/hip_axis_mirroring.tex
Due: none

fix(drake): map spec-order q and Jacobian columns to Drake joint order in DrakeFullBodyIK (#12039)
  changes/12039-fix-drake-map-spec-order-q-and-jacobian.md
  src/engines/physics_engines/drake/python/full_body_ik.py
  tests/unit/motion_matching/pipeline/test_drake_mujoco_com_parity.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(native-viewer-export): support myosuite 3.x in the MyoSuite worker (#11997)
  src/tools/native_viewer_export/backends/myosuite_arena.py
  src/tools/native_viewer_export/backends/myosuite_compat.py
  src/tools/native_viewer_export/backends/myosuite_worker.py
  tests/unit/tools/native_viewer_export/test_myosuite_compat.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(control): record exact native solve reproduction commands
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/development/feedback_controls/F09N-NATIVE-COMMAND-SOLVE-TURNOVER.md
Due: none

refactor(calibration): PlacementPrior carries the constraint; keep calibrate_marker_offsets' signature (#11737)
  src/shared/python/motion_matching/marker_calibration.py
  src/shared/python/motion_matching/pipeline/address.py
  tests/unit/motion_matching/pipeline/test_leg_marker_constraints.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(scripts): per-engine address toe-out from engine FK for Pinocchio, MyoSuite, MuJoCo (#11737)
  scripts/address_foot_progression_engines.py
  tests/unit/motion_matching/pipeline/test_address_foot_progression_engines.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs(native-viewer): document the MuJoCo backend, handoff and change fragment (#11720)
  AGENT_HANDOFF.md
  changes/11720-native-viewer-export-mujoco-renderer-bac.md
  docs/user_guide/native_viewer_export.md
  src/tools/native_viewer_export/README.md
  src/tools/native_viewer_export/backends/mujoco_worker.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(drake): array coordinates and rates in FullBodyDrakeModel are spec-ordered too (#12039)
  src/engines/physics_engines/drake/python/full_body_model.py
  tests/unit/motion_matching/pipeline/test_drake_mujoco_com_parity.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(native-viewer-export): locate the MyoSuite arena scene in the myo_sim package (#11997)
  src/tools/native_viewer_export/backends/myosuite_compat.py
  src/tools/native_viewer_export/backends/myosuite_worker.py
  tests/unit/tools/native_viewer_export/test_myosuite_compat.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ui): derive trend selections instead of syncing in effects; scope react-refresh exemption (#11987)
  docs/development/ORG01_CAPABILITY_BASELINE.md
  ui/src/pages/LaunchMonitorAnalytics.tsx
  ui/src/pages/LaunchMonitorTrendsPanel.tsx
Due: no-debugger

docs: handoff and change fragment for myosuite 3.x worker (#11997)
  AGENT_HANDOFF.md
  changes/11997-myosuite-native-export-worker-supports-m.md
Due: none

docs(handoff): Drake spec-order coordinates (#12039)
  AGENT_HANDOFF.md
Due: none

ui(launch-monitor): web Dispersion section wrapping POST /v2/dispersion (#11987)
  changes/11987-web-dispersion-section-on-the-launch-mo.md
  ui/src/api/launchMonitorAnalytics.ts
  ui/src/pages/LaunchMonitorAnalytics.tsx
  ui/src/pages/LaunchMonitorDispersionPanel.test.tsx
  ui/src/pages/LaunchMonitorDispersionPanel.tsx
Due: no-debugger

test(cross-engine): load each GCV-2 engine module once so Drake and Pinocchio rows run (#11708)
  changes/11708-gcv-2-ground-reaction-parity-test-loads.md
  tests/integration/cross_engine/test_ground_reaction_parity.py
Due: pytest-unit

fix(hygiene): move expired realtime shadow entry to #12046 (#12046)
  changes/12046-move-the-expired-realtime-shadow-ledger.md
  scripts/config/shadow_modules.yaml
Due: none

style(docs): prettier-format ORG01 capability baseline (#12029)
  docs/development/ORG01_CAPABILITY_BASELINE.md
Due: none

docs(osv-6): Drake address meets the 2 deg target with the #12039 coordinate-order fix (#11737)
  docs/research/hip_axis_mirroring/hip_axis_mirroring.tex
Due: none

docs(handoff): OSV-6 lead foot status (#11737)
  AGENT_HANDOFF.md
Due: none

fix(ci): add numpy to pre-push mypy hook deps (#11800)
  .pre-commit-config.yaml
  tests/ci/test_mypy_precommit_hook.py
Due: pytest-unit

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
