Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

⚡ Bolt: [performance improvement] Optimize 3D vector norm calculations in golf GUI (#7675)
  SPEC.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/apps/golf_gui/Simscape Multibody Data Plotters/Python Version/integrated_golf_gui_r0/golf_data_core.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

perf(spatial): optimize swing-plane 3D vector norms
  SPEC.md
  src/shared/python/spatial_algebra/reference_frames.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(assessments): adversarial A-O assessment 2026-06-18 (score 76.5, 115 findings)
  assessments/2026-06-18-comprehensive-assessment.json
  assessments/2026-06-18-comprehensive-assessment.md
Due: none

docs: move assessment artifacts to canonical path
  docs/assessments/2026-06-18-comprehensive-assessment.json
  docs/assessments/2026-06-18-comprehensive-assessment.md
Due: none

docs: index latest assessment artifacts
  docs/assessments/README.md
Due: none

Harden DbC security validation
  src/api/auth/security.py
  src/shared/python/signal_toolkit/calculus.py
  src/shared/python/signal_toolkit/noise.py
  tests/unit/api/test_security_contracts.py
  tests/unit/shared_python/test_signal_toolkit_calculus.py
  tests/unit/shared_python/test_signal_toolkit_noise.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Document DbC security validation spec
  SPEC.md
Due: none

fix: add ADMIN quota entry to SUBSCRIPTION_QUOTAS (#7681)
  src/api/auth/models.py
  tests/unit/api/test_security.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: validate control_frequency > 0 in RealTimeController (#7686)
  src/deployment/realtime/controller.py
  tests/deployment/wave5_deployment/test_controller.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: bound exponentiation in safe_eval to prevent DoS (#7690)
  src/shared/python/safe_eval.py
  tests/unit/test_safe_eval.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: separator-aware path containment in validate_path (#7689)
  src/shared/python/security/security_utils.py
  tests/unit/test_shared_security_utils.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: add ADMIN quota entry to SUBSCRIPTION_QUOTAS (#7681) (#7746)
  src/api/auth/models.py
  tests/unit/api/test_security.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Fix optimized DbC default enforcement
  src/shared/python/_contracts_level.py
  src/shared/python/core/contracts/level.py
  tests/shared/wave10_contracts/test_level.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: reject non-finite floats in data_explorer stats and filter (#7732)
  src/api/routes/data_explorer.py
  tests/unit/api/test_routes_data_explorer.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: separator-aware path containment in validate_path (#7689) (#7749)
  src/shared/python/security/security_utils.py
  tests/unit/test_shared_security_utils.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: fix broken Project Map and Engine Selection Guide links in README
  README.md
Due: none

Preserve human-proximity speed derate on E-stop clear (#7691)
  src/deployment/safety/monitor.py
  tests/deployment/wave5_deployment/test_safety.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: validate control_frequency > 0 in RealTimeController (#7686) (#7747)
  src/deployment/realtime/controller.py
  tests/deployment/wave5_deployment/test_controller.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Add direct tests for resolve_output_path write-path guard (#7710)
  src/api/utils/path_validation.py
  tests/unit/utils/test_path_validation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Guard refresh_models/index_codebase WS actions against crashes (#7687)
  src/api/routes/chat_ws.py
  tests/unit/api/test_routes_chat_ws.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Derive live_analysis q/v from engine.get_state() (#7718)
  src/api/routes/simulation_ws.py
  tests/unit/api/test_simulation_ws.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): record safe_eval exponent guard
  SPEC.md
Due: none

Guard refresh_models/index_codebase WS actions against crashes (#7687) (#7755)
  src/api/routes/chat_ws.py
  tests/unit/api/test_routes_chat_ws.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(assessment): surface python metrics read failures
  SPEC.md
  src/shared/python/assessment/analysis.py
  tests/shared/wave10_remaining/test_assessment_analysis.py
  tests/unit/shared_python/test_assessment_analysis.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(realtime): guard abort zero-torque failure
  SPEC.md
  src/deployment/realtime/controller.py
  tests/deployment/test_realtime.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Bound exponentiation in safe_eval to prevent integer-blowup DoS (#7690) (#7748)
  SPEC.md
  src/shared/python/safe_eval.py
  tests/unit/test_safe_eval.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Resolve SPEC version after metrics conflict
  SPEC.md
Due: none

Route training GUI job lookup through Scheduler.get facade (#7708)
  src/tools/training_controller/gui.py
  tests/tools/training_controller/test_gui_smoke.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Enforce Signal shape invariants with always-on raises (#7704)
  src/shared/python/signal_toolkit/core.py
  tests/unit/shared_python/test_signal_toolkit_core.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Cover admin quota path through check_quota for every role (#7682)
  tests/unit/api/test_security.py
Due: pytest-unit

Add direct tests for resolve_output_path write-path guard (#7710) (#7754)
  src/api/utils/path_validation.py
  tests/unit/utils/test_path_validation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(security): separator-aware path containment in validate_script_path
  src/shared/python/security/secure_subprocess.py
  tests/unit/test_secure_subprocess.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Enforce Signal shape invariants with always-on raises (#7704) (#7761)
  src/shared/python/signal_toolkit/core.py
  tests/unit/shared_python/test_signal_toolkit_core.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Cover admin quota path through check_quota for every role (#7682) (#7762)
  tests/unit/api/test_security.py
Due: pytest-unit

fix(training-controller): route GUI job lookup through controller
  src/tools/training_controller/controller.py
  src/tools/training_controller/gui.py
  tests/tools/training_controller/test_controller.py
  tests/tools/training_controller/test_gui_smoke.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Route training GUI job lookup through Scheduler.get facade (#7708) (#7760)
  src/tools/training_controller/controller.py
  src/tools/training_controller/gui.py
  tests/tools/training_controller/test_controller.py
  tests/tools/training_controller/test_gui_smoke.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Deduplicate 3D Golf quality check shim
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/scripts/quality-check.py
  tests/unit/test_duplicate_filename_clusters.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Handle grip export write failures
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/grip_modelling_tab.py
  tests/unit/engines/physics_engines/mujoco/mujoco_humanoid_golf/test_grip_modelling_export.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Fix data explorer CSV header parsing
  src/api/routes/data_explorer.py
  tests/unit/api/test_routes_data_explorer.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
