Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

fix(imports): use src.shared.python prefix for ud-canonical packages (#12177)
  changes/12177-use-the-src-shared-python-prefix-for-ud.md
  src/shared/python/__init__.py
  src/shared/python/humanoid_character_builder/__init__.py
  src/shared/python/humanoid_character_builder/generators/_makehuman_generator.py
  src/shared/python/humanoid_character_builder/generators/_primitive_generator.py
  src/shared/python/humanoid_character_builder/generators/_smplx_generator.py
  src/shared/python/humanoid_character_builder/generators/mesh_generator_primitive.py
  src/shared/python/humanoid_character_builder/generators/mesh_generator_smplx.py
  src/shared/python/humanoid_character_builder/interfaces/api.py
  src/shared/python/humanoid_character_builder/presets/loader.py
  src/shared/python/model_generation/_convenience.py
  src/shared/python/model_generation/api/__init__.py
  src/shared/python/model_generation/api/rest_api_assets.py
  src/shared/python/model_generation/api/rest_api_generation.py
  src/shared/python/model_generation/builders/base_builder.py
  src/shared/python/model_generation/builders/manual_builder.py
  src/shared/python/model_generation/builders/parametric_builder.py
  src/shared/python/model_generation/builders/urdf_writer.py
  src/shared/python/model_generation/cli/main.py
  src/shared/python/model_generation/converters/format_utils.py
  src/shared/python/model_generation/converters/mjcf_converter.py
  src/shared/python/model_generation/converters/simscape/simscape_converter.py
  src/shared/python/model_generation/converters/urdf_parser.py
  src/shared/python/model_generation/core/physics_validation.py
  src/shared/python/model_generation/core/validation.py
  src/shared/python/model_generation/editor/editor_clipboard.py
  src/shared/python/model_generation/editor/editor_modifications.py
  src/shared/python/model_generation/editor/frankenstein_editor.py
  src/shared/python/model_generation/explorer/__init__.py
  src/shared/python/model_generation/inertia/calculator.py
  src/shared/python/model_generation/inertia/result.py
  src/shared/python/model_generation/library/model_library.py
  tests/unit/repo_hygiene/test_ud_canonical_src_prefix_imports.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(lifting): settle the MuJoCo bar hold before reading the weld wrench
  changes/11744-lift-4-per-hand-bar-wrench-static-hold-f.md
  src/shared/python/lifting/pack_audit/adapters/mujoco_bar_hold.py
  tests/unit/lifting/pack_audit/test_bar_hold_wrench.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(evidence): commit canonical driver per-frame dynamics record (GCV-4)
  changes/11710-commit-the-canonical-driver-per-frame-gr.md
  docs/development/full_body_models/evidence/ground_support/CANONICAL_RUN.md
  docs/development/full_body_models/evidence/ground_support/anthro_driver_seeds/dynamics_record.npz
  reports/matched_swing_ledger.json
Due: none

docs(osv4): final per-engine address toe-out evidence and native stills (#11730) (#12175)
  changes/11730-osv-4-final-evidence-per-engine-address.md
  docs/development/full_body_models/evidence/foot_progression/osv4_final/README.md
  docs/development/full_body_models/evidence/foot_progression/osv4_final/capture_o/engines.json
  docs/development/full_body_models/evidence/foot_progression/osv4_final/driver/address_report.json
  docs/development/full_body_models/evidence/foot_progression/osv4_final/driver/engines.json
  docs/development/full_body_models/evidence/foot_progression/osv4_final/iron/address_report.json
  docs/development/full_body_models/evidence/foot_progression/osv4_final/iron/engines.json
  docs/development/full_body_models/evidence/foot_progression/osv4_final/opensim_native_address.json
  scripts/address_foot_progression_engines.py
  scripts/render_address_engine_stills.py
  tests/unit/motion_matching/pipeline/test_address_engine_stills.py
  tests/unit/motion_matching/pipeline/test_address_foot_progression_engines.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

OSV-3c: Gaze-Schedule Neck for the Forward-Dynamics Replay and Head-Gaze Tracking Receipt (#12154)
  AGENT_HANDOFF.md
  changes/11729-osv-3c-gaze-schedule-neck-for-the-forwar.md
  docs/development/full_body_models/HEAD_GAZE_REFERENCE.md
  docs/development/full_body_models/RECEIPTS.md
  docs/development/full_body_models/evidence/head_gaze/fd_neck_tracking.json
  docs/development/full_body_models/head_gaze_reference.tex
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  scripts/render_head_gaze_clips.py
  scripts/summarize_fd_neck_tracking.py
  src/shared/python/motion_matching/pipeline/cli.py
  src/shared/python/motion_matching/pipeline/gaze_tracking.py
  src/shared/python/motion_matching/pipeline/receipt_dynamics.py
  tests/scripts/test_head_gaze_sweep_scripts.py
  tests/scripts/test_summarize_fd_neck_tracking.py
  tests/unit/motion_matching/pipeline/test_gaze_tracking.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(api): character appearance library and validated sidecar API (#11658)
  changes/11658-character-appearance-api-material-librar.md
  src/api/routes/character_appearance.py
  src/api/services/character_appearance_service.py
  tests/unit/api/services/test_character_appearance_service.py
  tests/unit/api/test_routes_character_appearance.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(gaze): closed-loop gaze neck for the forward-dynamics replay (OSV-3d)
  src/shared/python/motion_matching/pipeline/cli.py
  src/shared/python/motion_matching/pipeline/dynamics.py
  src/shared/python/motion_matching/pipeline/gaze_tracking.py
  src/shared/python/motion_matching/tracking_controller.py
  tests/unit/motion_matching/pipeline/test_gaze_feedback.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(feedback): score calibrated native marker replay
  docs/development/feedback_controls/F09Q-PROVISIONAL-MARKER-CALIBRATION.md
  docs/development/feedback_controls/TURNOVER.md
  manuals/upstreamdrift/chapters/13-feedback-comparison.qmd
  manuals/upstreamdrift/chapters/49-calibrated-marker-replay-scoring.qmd
  manuals/upstreamdrift/index.qmd
  tests/unit/engines/test_feedback_observation_qualification.py
Due: pytest-unit

fix(lifting): restore PACK_PARITY_BASELINE.md formatting to match generator receipt
  docs/development/lifting/PACK_PARITY_BASELINE.md
Due: none

fix(imports): keep ud-canonical src.shared.python modules off Tools aliases (#12177)
  scripts/config/architecture_budget.json
  src/shared/python/import_aliases.py
  tests/unit/repo_hygiene/test_ud_canonical_src_prefix_imports.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(ui): regenerate API types for the native-viewer launch request (#11987)
  ui/src/api/generated/types.ts
Due: no-debugger

feat(gaze): feed the closed-loop neck correction rate forward (OSV-3d)
  src/shared/python/motion_matching/pipeline/gaze_tracking.py
  src/shared/python/motion_matching/tracking_controller.py
  tests/unit/motion_matching/pipeline/test_gaze_feedback.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(budget): add architecture parameter exception for ParametricBuilder.add_segment
  scripts/config/architecture_budget.json
Due: none

fix(estimation): validate principal inertia moments independent of axes
  AGENT_HANDOFF.md
  SPEC.md
  changes/12183-physical-inertia-principal-moments.md
  docs/development/feedback_controls/DESIGN.md
  docs/development/feedback_controls/TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/51-physical-inertia-validation.qmd
  manuals/upstreamdrift/index.qmd
  src/shared/python/estimation/dime_global_calibration.py
  tests/unit/estimation/test_dime_global_calibration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

style: format markdown and json with prettier
  docs/development/full_body_models/HANDOFF.md
  docs/development/full_body_models/evidence/ground_support/anthro_driver_seeds/receipt.json
  docs/development/full_body_models/evidence/ground_support/anthro_iron_seeds_zmp/receipt.json
Due: none

feat(opensim): bind exact 557-muscle diagnostic replay
  AGENT_HANDOFF.md
  SPEC.md
  changes/12182-exact-557-muscle-diagnostic-replay.md
  docs/development/feedback_controls/DESIGN.md
  docs/development/feedback_controls/F07_EXACT_557_REPLAY_RECEIPT.json
  docs/development/feedback_controls/F07_EXACT_557_REPLAY_TURNOVER.md
  docs/development/feedback_controls/TURNOVER.md
  manuals/upstreamdrift/calculation-registry.json
  manuals/upstreamdrift/chapters/50-native-exact-557-excitation-diagnostic.qmd
  manuals/upstreamdrift/index.qmd
  src/engines/physics_engines/opensim/python/tour_matching/native_constrained_muscle.py
  src/engines/physics_engines/opensim/python/tour_matching/native_exact_557_profile.py
  src/engines/physics_engines/opensim/python/tour_matching/native_muscle_bundle.py
  tests/opensim/test_native_exact_557_profile.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(feedback): group marker calibration inputs
  docs/development/feedback_controls/F09Q-PROVISIONAL-MARKER-CALIBRATION.md
  manuals/upstreamdrift/chapters/13-feedback-comparison.qmd
  src/engines/feedback_marker_calibration.py
  tests/opensim/test_feedback_marker_calibration_native.py
  tests/unit/engines/test_feedback_marker_calibration.py
  tests/unit/engines/test_feedback_native_markers.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): preserve canonical ground-support receipt serialization
  .prettierignore
  changes/12187-canonical-receipt-formatting.md
  docs/development/full_body_models/HANDOFF.md
Due: none

test(opensim): skip external exact-source replay fixtures cleanly
  tests/opensim/test_native_exact_557_profile.py
Due: pytest-unit

docs(gaze): closed-loop gaze neck evidence and calculation reference (OSV-3d)
  AGENT_HANDOFF.md
  changes/11729-osv-3d-closed-loop-gaze-neck-fd-neck-gaz.md
  docs/development/full_body_models/HEAD_GAZE_REFERENCE.md
  docs/development/full_body_models/evidence/head_gaze/fd_neck_closed_loop.json
  docs/development/full_body_models/head_gaze_reference.tex
Due: none

fix(launch-monitor): share the upload header read and regenerate API types (#11987)
  src/api/routes/launch_monitor_analytics_sessions.py
  ui/src/api/generated/types.ts
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

refactor(opensim): share derived-model path admission
  src/engines/physics_engines/opensim/python/native_mtp_reduction.py
  src/engines/physics_engines/opensim/python/native_subtalar_reduction.py
  tests/unit/engines/test_native_reduction_inputs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(feedback): revalidate calibration identities and clock
  src/engines/feedback_marker_calibration.py
  tests/unit/engines/test_feedback_marker_calibration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(tests): bind mixed Moco fixtures independent of collection order
  docs/development/feedback_controls/F07_MIXED_ACTUATION_TURNOVER.md
  tests/opensim/test_native_mixed_moco.py
Due: pytest-unit

style: prettier-format files from main merge sync
  docs/development/full_body_models/HEAD_GAZE_REFERENCE.md
  docs/development/full_body_models/evidence/foot_progression/osv4_final/README.md
  docs/development/full_body_models/evidence/foot_progression/osv4_final/capture_o/engines.json
  docs/development/full_body_models/evidence/foot_progression/osv4_final/driver/address_report.json
  docs/development/full_body_models/evidence/foot_progression/osv4_final/driver/engines.json
  docs/development/full_body_models/evidence/foot_progression/osv4_final/iron/address_report.json
  docs/development/full_body_models/evidence/foot_progression/osv4_final/iron/engines.json
  docs/development/full_body_models/evidence/head_gaze/fd_neck_tracking.json
Due: none

chore(ui): regenerate API types for the character appearance request (#11658)
  ui/src/api/generated/types.ts
Due: no-debugger

fix(ci): retain upstream native address evidence bytes
  .prettierignore
  docs/development/full_body_models/HEAD_GAZE_REFERENCE.md
  docs/development/full_body_models/evidence/foot_progression/osv4_final/README.md
Due: none

fix(ci): preserve remaining native neck and address receipts
  .prettierignore
Due: none

fix(opensim): type exact coupled rotation paths
  src/engines/physics_engines/opensim/python/tour_matching/native_constrained_muscle.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

GCV-4: Commit the Canonical Driver GRF Record and Prove Native-Export Arrows Never Clamp (#12180)
  changes/11710-commit-the-canonical-driver-per-frame-gr.md
  docs/development/full_body_models/evidence/ground_support/CANONICAL_RUN.md
  docs/development/full_body_models/evidence/ground_support/anthro_driver_seeds/dynamics_record.npz
  reports/matched_swing_ledger.json
  tests/unit/force_overlay/test_canonical_driver_grf_no_clamp.py
Due: pytest-unit

fix(aliases): prioritize src.shared.python for ud-canonical roots and refresh agent-context
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/development/full_body_models/HEAD_GAZE_REFERENCE.md
  docs/development/full_body_models/evidence/foot_progression/osv4_final/README.md
  docs/development/full_body_models/evidence/foot_progression/osv4_final/capture_o/engines.json
  docs/development/full_body_models/evidence/foot_progression/osv4_final/driver/address_report.json
  docs/development/full_body_models/evidence/foot_progression/osv4_final/driver/engines.json
  docs/development/full_body_models/evidence/foot_progression/osv4_final/iron/address_report.json
  docs/development/full_body_models/evidence/foot_progression/osv4_final/iron/engines.json
  docs/development/full_body_models/evidence/head_gaze/fd_neck_tracking.json
  src/shared/python/import_aliases.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(feedback): score calibrated native marker replays
  changes/12178-calibrated-marker-replay-score.md
  docs/development/feedback_controls/F09Q-PROVISIONAL-MARKER-CALIBRATION.md
  docs/development/feedback_controls/TURNOVER.md
  manuals/upstreamdrift/chapters/49-calibrated-marker-replay-scoring.qmd
  tests/unit/engines/test_feedback_native_markers.py
  tests/unit/engines/test_feedback_observation_qualification.py
Due: pytest-unit

fix(ui): resolve dark surface color contrast and regenerate matched swing ledger
  reports/matched_swing_ledger.json
  ui/src/components/character/CharacterSpecPanel.tsx
Due: no-debugger

feat(lifting): add Pinocchio static-hold per-hand bar wrench (LIFT-4)
  changes/11744-lift-4-per-hand-bar-wrench-static-hold-f.md
  src/shared/python/lifting/pack_audit/adapters/pinocchio_adapter.py
  src/shared/python/lifting/pack_audit/adapters/pinocchio_bar_hold.py
  tests/unit/lifting/pack_audit/test_bar_hold_wrench_pinocchio.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ui): resolve dark surface color contrast in CharacterSpecPanel
  ui/src/components/character/CharacterSpecPanel.tsx
Due: no-debugger

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
