Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

fix(ci): complete geometry typing and harden native test report parsing
  src/engines/physics_engines/pinocchio/python/dtack/backends/pink_backend.py
  stubs/pinocchio/__init__.pyi
  tests/integration/engines/pinocchio/test_pink_adapter_contract.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion_matching): hip zero-twist calibration and unwidened leg bounds (HO-8 #10108) (#10258)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/full_body_models/HANDOFF.md
  docs/development/full_body_models/evidence/ground_support/anthro_driver/full_body_spec_hipcal_scaled.json
  docs/development/full_body_models/evidence/ground_support/anthro_driver/ik_playback.gif
  docs/development/full_body_models/evidence/ground_support/anthro_driver/receipt.json
  docs/development/full_body_models/evidence/ground_support/anthro_driver/tracking_playback.gif
  docs/development/full_body_models/evidence/ground_support/anthro_driver_shoot/receipt.json
  docs/development/full_body_models/evidence/ground_support/anthro_iron/full_body_spec_hipcal_scaled.json
  docs/development/full_body_models/evidence/ground_support/anthro_iron/ik_playback.gif
  docs/development/full_body_models/evidence/ground_support/anthro_iron/receipt.json
  docs/development/full_body_models/evidence/ground_support/anthro_iron/tracking_playback.gif
  docs/development/full_body_models/evidence/ground_support/anthro_iron_shoot/receipt.json
  docs/development/full_body_models/evidence/ground_support/run_ground_support.py
  docs/development/full_body_models/evidence/setup_parity/receipt_anthro_driver.json
  scripts/config/architecture_budget.json
  src/engines/physics_engines/mujoco/python/full_body_simulation.py
  src/shared/python/motion_matching/hip_calibration.py
  src/shared/python/motion_matching/pipeline/constants.py
  src/shared/python/motion_matching/pipeline/receipt_components.py
  tests/unit/motion_matching/pipeline/test_receipt_schema.py
  tests/unit/motion_matching/test_hip_calibration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: inventory polynomial integration boundaries
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

feat(runtime): qualify isolated motion solver capabilities (#10262)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/full_body_models/HANDOFF.md
  docs/engines/pinocchio.md
  scripts/ci/check_motion_runtime.py
  scripts/config/motion_runtime/environment.yml
  scripts/config/motion_runtime/linux-64.explicit.txt
  src/engines/physics_engines/pinocchio/python/requirements.txt
  tests/scripts/test_check_motion_runtime.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(types): normalize full-body state maps and sensitivity shape
  src/shared/python/motion_matching/full_body_step.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: reference motion runtime PR in specification
  SPEC.md
Due: none

fix(types): declare accumulated coefficient Jacobian shape
  src/shared/python/motion_matching/full_body_step.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: reference polynomial RK4 prerequisite PR
  SPEC.md
Due: none

refactor(motion_matching): finish moving run_ground_support stages into pipeline package (HO-12 #10251)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/full_body_models/evidence/anthropometry/scan_geometry.py
  docs/development/full_body_models/evidence/ground_support/downswing_experiment.py
  docs/development/full_body_models/evidence/ground_support/export_mjx_package.py
  docs/development/full_body_models/evidence/ground_support/run_ground_support.py
  src/shared/python/motion_matching/pipeline/__init__.py
  src/shared/python/motion_matching/pipeline/address.py
  src/shared/python/motion_matching/pipeline/constants.py
  src/shared/python/motion_matching/pipeline/dynamics.py
  src/shared/python/motion_matching/pipeline/receipt.py
  src/shared/python/motion_matching/pipeline/reference.py
  tests/unit/motion_matching/pipeline/test_address.py
  tests/unit/motion_matching/pipeline/test_constants.py
  tests/unit/motion_matching/pipeline/test_dynamics.py
  tests/unit/motion_matching/pipeline/test_receipt.py
  tests/unit/motion_matching/pipeline/test_reference.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(motion_matching): finish moving run_ground_support stages into pipeline package (HO-12 #10251) (#10272)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/full_body_models/evidence/anthropometry/scan_geometry.py
  docs/development/full_body_models/evidence/ground_support/downswing_experiment.py
  docs/development/full_body_models/evidence/ground_support/export_mjx_package.py
  docs/development/full_body_models/evidence/ground_support/run_ground_support.py
  src/shared/python/motion_matching/pipeline/__init__.py
  src/shared/python/motion_matching/pipeline/address.py
  src/shared/python/motion_matching/pipeline/constants.py
  src/shared/python/motion_matching/pipeline/dynamics.py
  src/shared/python/motion_matching/pipeline/receipt.py
  src/shared/python/motion_matching/pipeline/reference.py
  tests/unit/motion_matching/pipeline/test_address.py
  tests/unit/motion_matching/pipeline/test_constants.py
  tests/unit/motion_matching/pipeline/test_dynamics.py
  tests/unit/motion_matching/pipeline/test_receipt.py
  tests/unit/motion_matching/pipeline/test_reference.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(shadow-tracker): distinguish estimated timing and refresh restart guidance
  AGENT_HANDOFF.md
  docs/plans/shadow_tracker/CONTINUATION_PROMPT.md
  docs/plans/shadow_tracker/READY_TASKS.md
  docs/plans/shadow_tracker/TURNOVER_CURRENT.md
  docs/plans/shadow_tracker/roadmap.json
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/shadow_tracker/ingestion.py
  tests/unit/shadow_tracker/test_video_ingestion.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(shadow-tracker): record restart PR and validation delivery
  SPEC.md
  docs/plans/shadow_tracker/TURNOVER_CURRENT.md
Due: none

docs(shadow-tracker): identify renderer completeness and work-budget risks
  docs/plans/shadow_tracker/TURNOVER_CURRENT.md
Due: none

docs(shadow-tracker): record inherited CI blocker and recovery task
  docs/plans/shadow_tracker/TURNOVER_CURRENT.md
Due: none

docs(motion): define bounded Crocoddyl and Pink implementation handoffs
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/full_body_models/HANDOFF.md
  docs/plans/qualified_motion_integration/PINK_TURNOVER.md
  docs/plans/qualified_motion_integration/README.md
  docs/plans/qualified_motion_integration/TURNOVER.md
Due: none

docs(motion): link Pink handoffs to implementation issues
  docs/plans/qualified_motion_integration/PINK_TURNOVER.md
  docs/plans/qualified_motion_integration/TURNOVER.md
Due: none

fix(motion): resolve calibration offsets before report serialization
  docs/development/DEVELOPMENT_LOG.md
  docs/plans/qualified_motion_integration/TURNOVER.md
  src/shared/python/motion_matching/pipeline/reference.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion-matching): add polynomial Crocoddyl actions
  src/shared/python/motion_matching/crocoddyl_polynomial.py
  tests/integration/motion_matching/test_crocoddyl_polynomial.py
  tests/unit/motion_matching/test_crocoddyl_polynomial.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(motion): record tested Crocoddyl action handoff checkpoint
  docs/plans/qualified_motion_integration/TURNOVER.md
Due: none

docs: define reproducible Simscape completion and product handoff
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/simscape_tour_matching/AGENT_RESUME_PROMPT.md
  docs/development/simscape_tour_matching/COMPLETION_HANDOFF_20260916.md
Due: none
