Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

feat(motion_matching): candidate video and fit-quality report export (MS-86 #10359)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/matched_swing_program/evidence/reports/sample_fit_report.md
  src/config/launcher_manifest.json
  src/config/models.yaml
  src/shared/python/motion_matching/__main__.py
  src/shared/python/motion_matching/export.py
  src/tools/matched_swing_browser/gui.py
  tests/tools/matched_swing_browser/test_matched_swing_browser_gui.py
  tests/unit/motion_matching/test_export.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(tour-baselines): calibrate swing planes, fixed geometry, and feasible initial states (TB-03 #10588)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/projection_2d.py
  src/shared/python/motion_matching/tour_baselines.py
  src/shared/python/tour_baselines/__init__.py
  src/shared/python/tour_baselines/calibration_receipt.py
  src/shared/python/tour_baselines/geometry_calibration.py
  src/shared/python/tour_baselines/hub_conditions.py
  src/shared/python/tour_baselines/initial_state.py
  src/shared/python/tour_baselines/plane.py
  src/shared/python/tour_baselines/qualification_profiles.py
  tests/unit/motion_matching/test_projection_2d.py
  tests/unit/tour_baselines/test_geometry_and_initial_state.py
  tests/unit/tour_baselines/test_plane_calibration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: update divergence inventory for impact_interval_audit
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

chore: update divergence inventory
  docs/shared_tools/divergence_inventory.v1.json
Due: none

fix(motion_matching): satisfy architecture budget and update capability atlas
  src/shared/python/motion_matching/__main__.py
  ui/public/capability-atlas/graph.json
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion-matching): generic capture contract and 44-DOF identifiability (#10361)
  docs/development/DEVELOPMENT_LOG.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  docs/user_guide/motion_matching/loading_targets.md
  evidence/anthropometry/identifiability_driver.json
  src/shared/python/motion_matching/identifiability.py
  src/shared/python/motion_matching/tour_capture_contract.py
  tests/unit/motion_matching/test_capture_contract_generic.py
  tests/unit/motion_matching/test_identifiability.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion_matching): versioned matching strategies and stage qualification contracts (#10440) (#10509)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/__init__.py
  src/shared/python/motion_matching/matching_strategy.py
  tests/unit/motion_matching/test_matching_strategy.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(tour-baselines): rename test_calibration to test_tour_calibration to prevent pytest module collision (TB-03 #10588)
  tests/unit/tour_baselines/test_tour_calibration.py
Due: pytest-unit

feat(motion-matching): streamline FK transform composition to satisfy DRY ratchet
  src/shared/python/motion_matching/identifiability.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(motion_matching): treat satisfied residuals under SLSQP linesearch status as solver convergence
  src/shared/python/motion_matching/contact_force_allocator.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion_matching): qualify contact modes and native pinocchio force feasibility (#10434) (#10499)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/contact_mode_qualifier.py
  tests/unit/motion_matching/test_contact_mode_qualifier_pf04.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(motion_matching): deduplicate replay frames, satisfy mypy types, and refresh registers
  docs/development/monolith_refactor_register.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/cross_engine_replay.py
  src/shared/python/motion_matching/export.py
  tests/unit/motion_matching/test_export.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): document MS-90 generic capture contract and 44-DOF identifiability
  SPEC.md
Due: none

fix(motion-matching): resolve dataclass mutable mapping default in CaptureValidationReport
  src/shared/python/motion_matching/tour_capture_contract.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(tour-baselines): calibrate swing planes, fixed geometry, and feasible initial states (TB-03 #10588) (#10631)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/plans/tour_baselines/plane_calibration_and_initial_states.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/projection_2d.py
  src/shared/python/tour_baselines/__init__.py
  src/shared/python/tour_baselines/calibration.py
  tests/unit/motion_matching/test_projection_2d.py
  tests/unit/tour_baselines/test_tour_calibration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(agent_context): record launcher-atlas review and render views
  docs/agent_context/README.md
  docs/agent_context/index.html
  docs/agent_context/reviews.json
Due: none

test(motion_matching): mark C3D fixture tests with requires_mocap_fixtures
  tests/unit/motion_matching/test_capture_contract_generic.py
Due: pytest-unit

feat(tour-baselines): fit and independently replay driven double pendulum (TB-04 #10589)
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/plans/tour_baselines/driven_double_pendulum_fitting.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/engines/physics_engines/pendulum/python/motion_matching/provider.py
  src/shared/python/tour_baselines/__init__.py
  src/shared/python/tour_baselines/pendulum_adapter.py
  src/shared/python/tour_baselines/pendulum_fit.py
  tests/unit/engines/physics_engines/pendulum/test_motion_matching_provider.py
  tests/unit/tour_baselines/test_pendulum_adapter.py
  tests/unit/tour_baselines/test_pendulum_fit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): document TB-04 driven double pendulum fitting in SPEC.md
  SPEC.md
Due: none

fix(bunkershot3d): satisfy architecture budget, lambda typing, and monolith register (#9543)
  docs/development/monolith_refactor_register.md
  src/bunkershot3d/ball/qualification_fit.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

feat(pendulum): fit and independently replay driven double pendulum (TB-04 #10589)
  AGENT_HANDOFF.md
  docs/development/DEVELOPMENT_LOG.md
  docs/plans/tour_baselines/coverage_matrix.md
  docs/plans/tour_baselines/evidence/tb04_driver_baseline_package.npz
  docs/plans/tour_baselines/evidence/tb04_driver_qualification_receipt.json
  docs/plans/tour_baselines/evidence/tb04_iron_baseline_package.npz
  docs/plans/tour_baselines/evidence/tb04_iron_qualification_receipt.json
  src/engines/physics_engines/pendulum/python/motion_matching/__init__.py
  src/engines/physics_engines/pendulum/python/motion_matching/adapters.py
  src/engines/physics_engines/pendulum/python/motion_matching/provider.py
  src/engines/physics_engines/pendulum/python/motion_matching/qualification.py
  src/engines/physics_engines/pendulum/python/motion_matching/torque_optimization.py
  tests/unit/engines/physics_engines/pendulum/test_double_pendulum_fit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion_matching): enforce contact, actuator and root constraints in force allocation (#10433) (#10498)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  scripts/config/architecture_budget.json
  src/shared/python/motion_matching/contact_force_allocator.py
  tests/unit/motion_matching/test_contact_force_allocator.py
  tests/unit/motion_matching/test_contact_force_allocator_pf03.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon
