Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

test(ball_flight_gui): comprehensive coverage (#5787)
  tests/tools/ball_flight_gui/__init__.py
  tests/tools/ball_flight_gui/test_ball_flight_gui.py
Due: pytest-unit

test(bunker_shot_gui): comprehensive coverage (#5786)
  tests/tools/bunker_shot_gui/__init__.py
  tests/tools/bunker_shot_gui/test_gui.py
Due: pytest-unit

test(terrain_engine): comprehensive coverage (#5785)
  tests/tools/terrain_engine/__init__.py
  tests/tools/terrain_engine/test_gui_coverage.py
Due: pytest-unit

test(pose_studio): cover non-GUI logic (#5784)
  tests/tools/pose_studio/__init__.py
  tests/tools/pose_studio/test_core_layout.py
  tests/tools/pose_studio/test_engine_controller_internals.py
  tests/tools/pose_studio/test_history_edge_cases.py
  tests/tools/pose_studio/test_main_entrypoint.py
Due: pytest-unit

test(starting_pose_matcher): comprehensive coverage of non-GUI scope (#5795)
  tests/tools/starting_pose_matcher/__init__.py
  tests/tools/starting_pose_matcher/test_core_comprehensive.py
  tests/tools/starting_pose_matcher/test_observed_extractors.py
  tests/tools/starting_pose_matcher/test_physics_extractors_with_stubs.py
  tests/tools/starting_pose_matcher/test_session_schema_comprehensive.py
  tests/tools/starting_pose_matcher/test_skeleton_extractor_and_adapter.py
Due: pytest-unit

test(golf_environment): comprehensive coverage (#5794)
  tests/tools/golf_environment/__init__.py
  tests/tools/golf_environment/test_gui.py
Due: pytest-unit

test(sidekick): comprehensive coverage for embed adapter (#5793)
  tests/tools/sidekick/__init__.py
  tests/tools/sidekick/test_embed_adapter.py
Due: pytest-unit

test(data_store): comprehensive coverage for SimulationDataStore (#5811)
  tests/shared/wave7_data_store/__init__.py
  tests/shared/wave7_data_store/test_store.py
Due: pytest-unit

test(robotics): comprehensive coverage for core, contact, control, locomotion, planning (#5810)
  tests/robotics/__init__.py
  tests/robotics/wave6_robotics/__init__.py
  tests/robotics/wave6_robotics/test_contact_manager.py
  tests/robotics/wave6_robotics/test_core_types.py
  tests/robotics/wave6_robotics/test_distance_queries.py
  tests/robotics/wave6_robotics/test_exceptions.py
  tests/robotics/wave6_robotics/test_gait_state_machine.py
  tests/robotics/wave6_robotics/test_grasp_analysis.py
  tests/robotics/wave6_robotics/test_planning_motion.py
  tests/robotics/wave6_robotics/test_primitive_shapes.py
  tests/robotics/wave6_robotics/test_protocols.py
  tests/robotics/wave6_robotics/test_qp_solver.py
  tests/robotics/wave6_robotics/test_wbc_controller.py
  tests/robotics/wave6_robotics/test_wbc_tasks.py
  tests/robotics/wave6_robotics/test_zmp_computer.py
Due: pytest-unit

test(research): comprehensive coverage for src/research (#5809)
  src/research/deformable/objects.py
  src/research/differentiable/engine.py
  src/research/mpc/controller.py
  src/research/mpc/specialized.py
  src/research/multi_robot/coordination.py
  src/research/multi_robot/system.py
  tests/research/wave6_research/__init__.py
  tests/research/wave6_research/conftest.py
  tests/research/wave6_research/test_deformable_objects.py
  tests/research/wave6_research/test_differentiable.py
  tests/research/wave6_research/test_mpc.py
  tests/research/wave6_research/test_multi_robot.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

test(unreal_integration): comprehensive Wave6 coverage (#5808)
  src/unreal_integration/_streaming_buffer.py
  src/unreal_integration/geometry.py
  tests/unreal_integration/__init__.py
  tests/unreal_integration/wave6_unreal/__init__.py
  tests/unreal_integration/wave6_unreal/test_data_frame.py
  tests/unreal_integration/wave6_unreal/test_geometry.py
  tests/unreal_integration/wave6_unreal/test_skeleton_and_golf_state.py
  tests/unreal_integration/wave6_unreal/test_streaming_components.py
  tests/unreal_integration/wave6_unreal/test_streaming_server.py
  tests/unreal_integration/wave6_unreal/test_viewer_backends.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(deployment): comprehensive coverage for wave 5 (#5803)
  src/deployment/digital_twin/estimator.py
  src/deployment/digital_twin/twin.py
  src/deployment/realtime/controller.py
  src/deployment/realtime/state.py
  src/deployment/safety/collision.py
  src/deployment/safety/monitor.py
  src/deployment/teleoperation/devices.py
  src/deployment/teleoperation/interface.py
  tests/deployment/wave5_deployment/__init__.py
  tests/deployment/wave5_deployment/test_collision.py
  tests/deployment/wave5_deployment/test_controller.py
  tests/deployment/wave5_deployment/test_digital_twin.py
  tests/deployment/wave5_deployment/test_safety.py
  tests/deployment/wave5_deployment/test_state.py
  tests/deployment/wave5_deployment/test_teleoperation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(motion_capture): comprehensive coverage (#5802)
  src/motion_capture/freemocap_ingest/output_adapter.py
  tests/motion_capture/__init__.py
  tests/motion_capture/wave5_mocap/__init__.py
  tests/motion_capture/wave5_mocap/test_launcher.py
  tests/motion_capture/wave5_mocap/test_main_cli.py
  tests/motion_capture/wave5_mocap/test_output_adapter.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

test(pendulum_models): comprehensive coverage (#5798)
  src/engines/pendulum_models/python/double_pendulum_model/physics/double_pendulum.py
  src/engines/pendulum_models/python/double_pendulum_model/physics/triple_pendulum.py
  tests/engines/pendulum_models/python/double_pendulum_model/test_double_pendulum_edges.py
  tests/engines/pendulum_models/python/double_pendulum_model/test_expression_function.py
  tests/engines/pendulum_models/python/double_pendulum_model/test_triple_pendulum_dynamics.py
  tests/engines/pendulum_models/python/double_pendulum_model/test_validation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(golf_simulation_suite): comprehensive coverage (#5796)
  tests/tools/golf_simulation_suite/__init__.py
  tests/tools/golf_simulation_suite/test_main.py
Due: pytest-unit

test(learning): comprehensive coverage (#5807)
  tests/learning/wave6_learning/__init__.py
  tests/learning/wave6_learning/test_dataset.py
  tests/learning/wave6_learning/test_domain_randomization.py
  tests/learning/wave6_learning/test_imitation_algorithms.py
  tests/learning/wave6_learning/test_retargeting.py
  tests/learning/wave6_learning/test_rl_configs.py
  tests/learning/wave6_learning/test_simscape_compat.py
  tests/learning/wave6_learning/test_system_identification.py
Due: pytest-unit

test(api): comprehensive coverage (#5805)
  src/api/utils/path_validation.py
  src/api/versioning.py
  tests/api/wave5_api/__init__.py
  tests/api/wave5_api/test_api_init_lazy.py
  tests/api/wave5_api/test_config_and_guards.py
  tests/api/wave5_api/test_dependencies.py
  tests/api/wave5_api/test_models_chat.py
  tests/api/wave5_api/test_models_requests.py
  tests/api/wave5_api/test_models_responses.py
  tests/api/wave5_api/test_utils_datetime_compat.py
  tests/api/wave5_api/test_utils_error_codes.py
  tests/api/wave5_api/test_utils_path_validation.py
  tests/api/wave5_api/test_utils_tracing.py
  tests/api/wave5_api/test_versioning.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(physics_engines): comprehensive wrapper coverage (#5800)
  src/engines/physics_engines/pinocchio/python/pinocchio_physics_engine.py
  tests/engines/physics_engines/__init__.py
  tests/engines/physics_engines/test_drake_engine.py
  tests/engines/physics_engines/test_golf_swing_pendulum.py
  tests/engines/physics_engines/test_myosuite_engine.py
  tests/engines/physics_engines/test_opensim_engine.py
  tests/engines/physics_engines/test_pendulum_engine.py
  tests/engines/physics_engines/test_pinocchio_engine.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(reinforcement_learning): comprehensive coverage (#5806)
  tests/reinforcement_learning/wave6_rl/__init__.py
  tests/reinforcement_learning/wave6_rl/test_trajectory_funnel_benchmark_coverage.py
Due: pytest-unit

test(matlab_utilities): comprehensive coverage (#5797)
  src/tools/matlab_utilities/scripts/matlab_quality_check.py
  tests/tools/matlab_utilities/__init__.py
  tests/tools/matlab_utilities/test_matlab_quality_check.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(shared/python): cover core utilities
  src/shared/python/logging_pkg/logger_utils.py
  src/shared/python/safe_eval.py
  src/shared/python/theme/colors.py
  src/shared/python/theme/typography.py
  tests/shared/wave7_python_core/__init__.py
  tests/shared/wave7_python_core/test_cors.py
  tests/shared/wave7_python_core/test_logger_utils.py
  tests/shared/wave7_python_core/test_safe_eval.py
  tests/shared/wave7_python_core/test_theme_colors.py
  tests/shared/wave7_python_core/test_theme_typography.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): add self-healing checkout to handle corrupt git objects on self-hosted runners
  .github/workflows/ci-optional-stack.yml
  .github/workflows/ci-standard.yml
Due: none

test(upstreamdrift): fix consolidated coverage collisions
  tests/tools/sidekick_tool/__init__.py
  tests/tools/sidekick_tool/test_embed_adapter.py
Due: pytest-unit

test(upstreamdrift): force uninitialized pendulum fallback fixture
  tests/engines/physics_engines/test_golf_swing_pendulum.py
Due: pytest-unit

test(launchers/dialogs): comprehensive coverage
  tests/launchers/wave8_dialogs/__init__.py
  tests/launchers/wave8_dialogs/conftest.py
  tests/launchers/wave8_dialogs/test_about_dialog_logic.py
  tests/launchers/wave8_dialogs/test_app_zoom.py
  tests/launchers/wave8_dialogs/test_application_layout.py
  tests/launchers/wave8_dialogs/test_custom_title_bar_logic.py
  tests/launchers/wave8_dialogs/test_docker_manager_logic.py
Due: pytest-unit

test(scripts): comprehensive coverage
  tests/scripts/wave8_scripts/__init__.py
  tests/scripts/wave8_scripts/test_check_agent_docs_consistency.py
  tests/scripts/wave8_scripts/test_check_doc_size_budget.py
  tests/scripts/wave8_scripts/test_check_module_size_budget.py
  tests/scripts/wave8_scripts/test_check_no_print_calls.py
  tests/scripts/wave8_scripts/test_check_root_clutter.py
  tests/scripts/wave8_scripts/test_urdf_dedup_guards.py
Due: pytest-unit

test(launchers/dashboards): comprehensive coverage
  tests/launchers/wave8_dashboards/__init__.py
  tests/launchers/wave8_dashboards/test_cross_engine_dashboard_logic.py
  tests/launchers/wave8_dashboards/test_engine_dashboard_inits.py
  tests/launchers/wave8_dashboards/test_exercise_dashboard.py
Due: pytest-unit

test(config): comprehensive coverage (#5801)
  tests/config/wave5_config/__init__.py
  tests/config/wave5_config/conftest.py
  tests/config/wave5_config/test_launcher_manifest.py
  tests/config/wave5_config/test_launcher_tile.py
  tests/config/wave5_config/test_load_provider_tiles.py
  tests/config/wave5_config/test_provider_adapter.py
Due: pytest-unit

test(toplevel): comprehensive coverage
  build_hooks.py
  launch_golf_suite.py
  src/tools/check_markdown_links.py
  src/tools/code_quality_check.py
  tests/toplevel/__init__.py
  tests/toplevel/wave8_toplevel/__init__.py
  tests/toplevel/wave8_toplevel/test_build_hooks.py
  tests/toplevel/wave8_toplevel/test_check_markdown_links.py
  tests/toplevel/wave8_toplevel/test_code_quality_check.py
  tests/toplevel/wave8_toplevel/test_launch_golf_suite.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(launchers/misc): comprehensive coverage for wave 8 misc modules
  tests/launchers/wave8_misc/__init__.py
  tests/launchers/wave8_misc/conftest.py
  tests/launchers/wave8_misc/test_animated_components.py
  tests/launchers/wave8_misc/test_base_launch_item.py
  tests/launchers/wave8_misc/test_document_proxy.py
  tests/launchers/wave8_misc/test_embedded_tool_bootstrap.py
  tests/launchers/wave8_misc/test_external_tools_adapter.py
  tests/launchers/wave8_misc/test_runtime_mode_help_extra.py
Due: pytest-unit

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
