Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

fix: code quality improvements from URDF review (deque, imports, presets, warnings)
  src/shared/python/model_generation/__init__.py
  src/shared/python/model_generation/builders/manual_builder.py
  src/shared/python/model_generation/builders/urdf_writer.py
  src/shared/python/model_generation/core/types.py
  src/shared/python/model_generation/editor/editor_modifications.py
  tests/unit/tools/model_generation/test_code_quality_fixes.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: add DbC decorators to FrankensteinEditor and HumanoidURDFGenerator
  tests/unit/tools/model_generation/test_dbc_decorators.py
Due: pytest-unit

feat: add DbC precondition decorators to editor and generator modules
  src/shared/python/humanoid_character_builder/generators/urdf_generator.py
  src/shared/python/model_generation/builders/base_builder.py
  src/shared/python/model_generation/editor/editor_clipboard.py
  src/shared/python/model_generation/editor/editor_modifications.py
  src/shared/python/model_generation/editor/frankenstein_editor.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test: add comprehensive unit tests for core types, validation, mirror, and anthropometry
  tests/unit/tools/humanoid_character_builder/test_anthropometry_comprehensive.py
  tests/unit/tools/model_generation/test_core_types.py
  tests/unit/tools/model_generation/test_mirror_operation.py
  tests/unit/tools/model_generation/test_validation_module.py
Due: pytest-unit

test: add Hypothesis property-based and integration roundtrip tests
  tests/unit/tools/model_generation/test_integration_roundtrip.py
  tests/unit/tools/model_generation/test_property_based.py
Due: pytest-unit

fix: external integration improvements (xacro, ROS URIs, GitHub auth, cache integrity)
  src/shared/python/model_generation/converters/urdf_parser.py
  src/shared/python/model_generation/library/cache.py
  src/shared/python/model_generation/library/repository.py
  tests/unit/tools/model_generation/test_external_integration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: security improvements (REST API auth, CORS, rate limiting, mesh validation, URL validation)
  src/shared/python/humanoid_character_builder/generators/mesh_generator.py
  src/shared/python/model_generation/api/rest_api.py
  src/shared/python/model_generation/library/cache.py
  src/shared/python/security/security_utils.py
  src/tools/humanoid_character_builder/generators/mesh_generator.py
  src/tools/model_generation/api/rest_api.py
  src/tools/model_generation/library/cache.py
  tests/unit/tools/model_generation/test_security_fixes.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: use proper SE(3) transform composition in delete_link reparenting
  src/shared/python/model_generation/editor/editor_modifications.py
  tests/unit/tools/model_generation/test_se3_transform_fix.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: Pinocchio GUI missing PINOCCHIO_AVAILABLE guard and pyproject.toml name wrong (#1720)
  pyproject.toml
  src/engines/physics_engines/pinocchio/python/dtack/backends/pink_backend.py
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/gui.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: MyoSuite Gym protocol mismatch and unsafe runtime timestep modification (#1722)
  src/engines/physics_engines/myosuite/python/myosuite_physics_engine.py
  src/engines/physics_engines/opensim/python/opensim_gui.py
  src/shared/python/launcher_factory.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: Pinocchio compute_contact_forces always returns zeros - fabricated GRF data (#1723)
  src/engines/physics_engines/pinocchio/python/pinocchio_physics_engine.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: MuJoCo compute_contact_forces returns raw flat array instead of spatial force (#1724)
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/physics_engine.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: extract _HUMANOID_PRESETS constant to eliminate duplication (DRY)
  src/shared/python/model_generation/__init__.py
  tests/unit/tools/model_generation/test_dry_unification.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

style: fix ruff import ordering in test files (quality-gate)
  tests/unit/tools/model_generation/test_dry_unification.py
  tests/unit/tools/model_generation/test_security_fixes.py
Due: pytest-unit

style: apply ruff format to test files (quality-gate)
  tests/unit/tools/model_generation/test_dry_unification.py
  tests/unit/tools/model_generation/test_security_fixes.py
Due: pytest-unit

fix: rename loop variable to avoid mypy type conflict in _resolve_mesh_path
  src/shared/python/model_generation/converters/urdf_parser.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: update module size baseline for mesh_generator.py
  scripts/config/module_size_budget_baseline.json
Due: none

chore: remove TODO comment to fix quality-gate placeholder check
  src/shared/python/model_generation/__init__.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: wire API key auth, rate limiting, and CORS into handle_request
  src/shared/python/model_generation/api/rest_api.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: add rest_api.py to file size budget exceptions
  scripts/config/file_size_budget.json
Due: none

fix: add missing mock attributes to strict physics engine tests
  tests/integration/test_physics_engines_strict.py
Due: pytest-unit

fix: correct strict physics engine test mocks and assertions
  tests/integration/test_physics_engines_strict.py
Due: pytest-unit

fix: replace minidom.toprettyxml() with ET.indent() for consistent XML formatting
  src/shared/python/humanoid_character_builder/generators/urdf_generator.py
  tests/unit/tools/humanoid_character_builder/test_urdf_generator.py
  tests/unit/tools/humanoid_character_builder/test_urdf_generator_formatting.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: extract composite joint expansion into shared module (DRY) (#1728)
  src/shared/python/model_generation/builders/urdf_writer.py
  src/shared/python/model_generation/core/composite_joints.py
  src/tools/model_generation/builders/urdf_writer.py
  src/tools/model_generation/core/composite_joints.py
  tests/unit/tools/model_generation/test_composite_joints.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: remove docker build from PR gate, re-enable GHA cache (#1730)
  .github/workflows/docker-size-gates.yml
Due: none

fix: fail fast on missing myosuite sim
  src/engines/physics_engines/myosuite/python/myosuite_physics_engine.py
  tests/integration/test_physics_engines_strict.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test: align strict myosuite contract coverage
  src/engines/physics_engines/myosuite/python/myosuite_physics_engine.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: preserve myosuite control actions across step bridge
  tests/integration/test_physics_engines_strict.py
Due: pytest-unit

fix: harden opensim reload and jacobian perturbations
  src/engines/physics_engines/opensim/python/opensim_physics_engine.py
  tests/unit/test_opensim_physics_engine.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: harden drake analysis compatibility
  src/engines/physics_engines/drake/python/src/drake_analysis.py
  src/engines/physics_engines/drake/python/src/drake_gui_viz.py
  src/engines/physics_engines/drake/python/src/drake_recorder.py
  src/engines/physics_engines/drake/python/src/drake_visualization_mixin.py
  src/engines/physics_engines/drake/python/src/induced_acceleration.py
  tests/unit/engines/drake/test_induced_acceleration.py
  tests/unit/test_drake_gui_app.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: restore completist analyzer python 3.10 support
  scripts/analyze_completist_data.py
  tests/unit/test_analyze_completist_data.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: regenerate 2026-03-09 completist audit artifacts
  .jules/completist_data/abstract_methods.txt
  .jules/completist_data/incomplete_docs.txt
  .jules/completist_data/not_implemented.txt
  .jules/completist_data/stub_functions.txt
  .jules/completist_data/todo_markers.txt
  docs/assessments/README.md
  docs/assessments/completist/Completist_Report_2026-03-09.md
  docs/assessments/issues/Issue_2185_Incomplete_Stub_in_golf_swing_physics_engine_py_171.md
  docs/assessments/issues/Issue_2186_Incomplete_Stub_in_golf_swing_physics_engine_py_174.md
  docs/assessments/issues/Issue_2187_Incomplete_Stub_in_golf_swing_physics_engine_py_265.md
  docs/assessments/issues/Issue_2191_Incomplete_Stub_in_pinocchio_physics_engine_py_289.md
  docs/assessments/issues/Issue_2192_Incomplete_Stub_in_gui_py_319.md
  docs/assessments/issues/Issue_2193_Incomplete_Stub_in_analysis_controller_py_33.md
  docs/assessments/issues/Issue_2194_Incomplete_Stub_in_main_window_py_154.md
  docs/assessments/issues/Issue_2195_Incomplete_Stub_in_physics_py_488.md
  docs/assessments/issues/Issue_2196_Incomplete_Stub_in_physics_py_492.md
  docs/assessments/issues/Issue_2197_Incomplete_Stub_in_physics_py_496.md
  docs/assessments/issues/Issue_2208_Incomplete_Stub_in_interface_py_24.md
  docs/assessments/issues/Issue_2209_Incomplete_Stub_in_interface_py_32.md
  docs/assessments/issues/Issue_2210_Incomplete_Stub_in_interface_py_43.md
  docs/assessments/issues/Issue_2217_Incomplete_Stub_in_integration_py_288.md
  docs/assessments/issues/Issue_2218_Incomplete_Stub_in_flight_models_py_160.md
  docs/assessments/issues/Issue_2219_Incomplete_Stub_in_flight_models_py_166.md
  docs/assessments/issues/Issue_2220_Incomplete_Stub_in_flight_models_py_172.md
  docs/assessments/issues/Issue_2221_Incomplete_Stub_in_flight_models_py_177.md
  docs/assessments/issues/Issue_2222_Incomplete_Stub_in_terrain_mixin_py_35.md
Due: none

test: avoid polluting completist debt scans
  .jules/completist_data/abstract_methods.txt
  .jules/completist_data/incomplete_docs.txt
  .jules/completist_data/not_implemented.txt
  .jules/completist_data/todo_markers.txt
  tests/unit/test_analyze_completist_data.py
Due: pytest-unit

chore: delete junk files and update .gitignore (#1758)
  .gitignore
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/assert_failure.txt
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/debug_log.txt
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/mypy_out.txt
  src/engines/physics_engines/mujoco/ruff_models.txt
Due: none

dbc: increase DbC adoption in security and physics modules (#1759)
  src/api/auth/security.py
  src/api/cloud_client.py
  src/engines/common/state.py
  tests/unit/api/test_security_contracts.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: WASM error handling and Drake contact forces (#1760)
  requirements.txt
  rust_core/upstream-physics/src/lib.rs
  src/engines/physics_engines/drake/python/drake_physics_engine.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

dbc: SimulationController state machine contracts (#1761)
  src/engines/common/simulation_control.py
  tests/engines/test_engine_capabilities.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(tauri): add Content Security Policy to production builds (#1762)
  ui/src-tauri/tauri.conf.json
Due: none

fix: batch 6 — engine consolidation, capability badges, test fixes (#1763)
  tests/unit/engines/pinocchio/test_backend_factory.py
  tests/unit/tools/humanoid_character_builder/test_mesh_generators.py
  ui/src/api/useEngineManager.test.ts
  ui/src/api/useEngineManager.ts
  ui/src/components/simulation/EngineSelector.test.tsx
  ui/src/components/simulation/EngineSelector.tsx
Due: no-debugger, pytest-unit
