Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

feat: add return type annotations to 40+ more functions in tests (#2385) (#2601)
  tests/unit/test_activation_dynamics.py
  tests/unit/test_analyze_completist_data.py
  tests/unit/test_api_architecture.py
  tests/unit/test_api_extended.py
  tests/unit/test_c3d_export_features.py
  tests/unit/test_calculators_base.py
  tests/unit/test_config_environment.py
  tests/unit/test_constraint_solver.py
  tests/unit/test_contracts.py
  tests/unit/test_contracts_shared.py
  tests/unit/test_conversion_service_extended.py
  tests/unit/test_crba.py
  tests/unit/test_data_fitting.py
  tests/unit/test_data_io.py
  tests/unit/test_data_processing_core_extended.py
  tests/unit/test_dependency_direction_checker.py
  tests/unit/test_pendulum_simulation.py
  tests/unit/test_pendulum_simulator_physics.py
  tests/unit/test_physics_parameters.py
  tests/unit/test_physics_validation_extended.py
  tests/unit/test_pinocchio_gui.py
  tests/unit/test_pinocchio_physics_engine.py
  tests/unit/test_plot_engine_extras.py
  tests/unit/test_plot_engine_specs.py
  tests/unit/test_plotting.py
  tests/unit/test_plotting_coverage.py
  tests/unit/test_plotting_extras.py
  tests/unit/test_plotting_renderers.py
  tests/unit/test_process_worker.py
  tests/unit/test_qp_solver_availability.py
  tests/unit/test_quality_gate_scripts.py
  tests/unit/test_security_and_module_fixes.py
  tests/unit/test_shared_comparative_plotting.py
  tests/unit/test_shared_plotting_advanced.py
  tests/unit/test_shared_statistical_analysis.py
  tests/unit/test_shot_tracer.py
  tests/unit/test_simulation_core.py
Due: pytest-unit

feat: zero ANN201/ANN202 violations in main codebase (#2385) (#2602)
  tests/unit/deployment/test_interface.py
  tests/unit/test_drake_gui_app.py
  tests/unit/test_drake_physics_engine.py
  tests/unit/test_drake_wrapper.py
  tests/unit/test_golf_launcher_basic.py
  tests/unit/test_golf_launcher_logic.py
  tests/unit/test_golf_suite_launcher.py
  tests/unit/test_gui_coverage.py
  tests/unit/test_injury_analysis_coverage.py
  tests/unit/test_issue_fixes_1777_1778_1779_1782.py
  tests/unit/test_kinematic_sequence.py
  tests/unit/test_launcher_ux.py
  tests/unit/test_launcher_x11_logic.py
  tests/unit/test_launchers.py
  tests/unit/test_lazy_imports.py
  tests/unit/test_manipulability.py
  tests/unit/test_simulation_golfer.py
  tests/unit/test_simulation_triple.py
  tests/unit/test_state_manager_extended.py
  tests/unit/test_statistical_analysis.py
  tests/unit/test_steam_engine.py
  tests/unit/test_steam_engine_extended.py
  tests/unit/test_terrain_contracts.py
  tests/unit/test_unified_launcher_coverage.py
  tests/unit/test_unreal_integration/test_streaming.py
  tests/unit/test_urdf_io.py
  tests/unit/test_ux_enhancements.py
  tests/unit/test_video_pose_pipeline.py
  tests/unit/tools/model_generation/test_dbc_decorators.py
  tests/unit/tools/model_generation/test_dry_unification.py
  tests/unit/tools/model_generation/test_security_fixes.py
Due: pytest-unit

fix: remove 2 unnecessary pass statements in analysis_controller.py (#2385) (#2603)
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/analysis_controller.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: decompose 4 monolith files into focused submodules (issue #2486 sprint 1)
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/urdf_constants.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/urdf_generator.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/urdf_io.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/urdf_parser.py
  src/shared/python/data_io/_async_io.py
  src/shared/python/data_io/_format_handlers.py
  src/shared/python/data_io/_path_utils.py
  src/shared/python/data_io/_report_generators.py
  src/shared/python/data_io/_simulation_store.py
  src/shared/python/data_io/output_manager.py
  src/shared/python/physics/ball_enhanced_simulator.py
  src/shared/python/physics/ball_flight_physics.py
  src/shared/python/physics/ball_launch_conditions.py
  src/shared/python/physics/ball_properties.py
  src/shared/python/physics/ball_simulator.py
  src/shared/python/physics/ball_trajectory_analysis.py
  src/shared/python/signal_toolkit/filters.py
  src/shared/python/signal_toolkit/filters/__init__.py
  src/shared/python/signal_toolkit/filters/advanced_filters.py
  src/shared/python/signal_toolkit/filters/filter_design.py
  src/shared/python/signal_toolkit/filters/shortcuts.py
  src/shared/python/signal_toolkit/filters/smoothing_filters.py
  tests/unit/test_shared_output_manager.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: decompose 3 more monolith files into submodules (issue #2486 sprint 2)
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_id_core.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_id_export.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_id_models.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/inverse_dynamics.py
  src/shared/python/physics/_shaft_data.py
  src/shared/python/physics/_shaft_fem.py
  src/shared/python/physics/_shaft_model.py
  src/shared/python/physics/_shaft_properties.py
  src/shared/python/physics/_shaft_utils.py
  src/shared/python/physics/flexible_shaft.py
  src/shared/python/signal_toolkit/_dtw.py
  src/shared/python/signal_toolkit/_filters.py
  src/shared/python/signal_toolkit/_spectral_analysis.py
  src/shared/python/signal_toolkit/_time_domain.py
  src/shared/python/signal_toolkit/_wavelet.py
  src/shared/python/signal_toolkit/signal_processing.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: decompose 5 more monolith files into submodules (issue #2486 sprint 3)
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_id_core.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_id_solver_mixin.py
  src/engines/physics_engines/myosuite/python/_drift_control.py
  src/engines/physics_engines/myosuite/python/_dynamics.py
  src/engines/physics_engines/myosuite/python/_engine_init.py
  src/engines/physics_engines/myosuite/python/_muscle_interface.py
  src/engines/physics_engines/myosuite/python/_simulation_core.py
  src/engines/physics_engines/myosuite/python/myosuite_physics_engine.py
  src/shared/python/physics/_terrain_geometry.py
  src/shared/python/physics/_terrain_physics.py
  src/shared/python/physics/_terrain_utils.py
  src/shared/python/physics/terrain_engine.py
  src/shared/python/plotting/renderers/_coordination_alignment.py
  src/shared/python/plotting/renderers/_coordination_phase.py
  src/shared/python/plotting/renderers/_coordination_sequence.py
  src/shared/python/plotting/renderers/_coordination_synergy.py
  src/shared/python/plotting/renderers/coordination.py
  src/shared/python/upstream_drift_tools/process_calculators/pressure_drop_calculator/utils/_component_database.py
  src/shared/python/upstream_drift_tools/process_calculators/pressure_drop_calculator/utils/_heat_capacity.py
  src/shared/python/upstream_drift_tools/process_calculators/pressure_drop_calculator/utils/_mixture_properties.py
  src/shared/python/upstream_drift_tools/process_calculators/pressure_drop_calculator/utils/_viscosity.py
  src/shared/python/upstream_drift_tools/process_calculators/pressure_drop_calculator/utils/gas_properties.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: decompose 4 more monolith files into submodules (issue #2486 sprint 4)
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_constraint_manager.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_ik_solver.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_mouse_picking.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_pose_library.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/interactive_manipulation.py
  src/learning/imitation/_base.py
  src/learning/imitation/_bc.py
  src/learning/imitation/_dagger.py
  src/learning/imitation/_gail.py
  src/learning/imitation/learners.py
  src/shared/python/upstream_drift_tools/calculators/thermo/_constants.py
  src/shared/python/upstream_drift_tools/calculators/thermo/_models.py
  src/shared/python/upstream_drift_tools/calculators/thermo/_property_backends.py
  src/shared/python/upstream_drift_tools/calculators/thermo/_vapor_pressure.py
  src/shared/python/upstream_drift_tools/calculators/thermo/steam_engine.py
  src/shared/python/upstream_drift_tools/process_calculators/_acid_gas_calculator.py
  src/shared/python/upstream_drift_tools/process_calculators/_acid_gas_models.py
  src/shared/python/upstream_drift_tools/process_calculators/_acid_gas_utils.py
  src/shared/python/upstream_drift_tools/process_calculators/_acid_gas_widget.py
  src/shared/python/upstream_drift_tools/process_calculators/acid_gas_dewpoint_calculator.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: decompose 4 more monolith files into submodules (issue #2486 sprint 5)
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/_c3d_export.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/_c3d_force_plates.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/_c3d_io.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/_c3d_models.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/c3d_reader.py
  src/shared/python/optimization/_swing_constraints.py
  src/shared/python/optimization/_swing_kinematics.py
  src/shared/python/optimization/_swing_models.py
  src/shared/python/optimization/_swing_objectives.py
  src/shared/python/optimization/swing_optimizer.py
  src/shared/python/upstream_drift_tools/calculators/conversion/_concentration.py
  src/shared/python/upstream_drift_tools/calculators/conversion/_errors.py
  src/shared/python/upstream_drift_tools/calculators/conversion/_gas_flow.py
  src/shared/python/upstream_drift_tools/calculators/conversion/_heating_value.py
  src/shared/python/upstream_drift_tools/calculators/conversion/_performance.py
  src/shared/python/upstream_drift_tools/calculators/conversion/service.py
  src/tools/model_explorer/_chain_dialogs.py
  src/tools/model_explorer/_chain_model.py
  src/tools/model_explorer/_chain_visualizer.py
  src/tools/model_explorer/_chain_widget.py
  src/tools/model_explorer/chain_manipulation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: decompose 4 more monolith files into submodules (issue #2486 sprint 6)
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/_c3d_export.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/_c3d_io.py
  src/shared/python/model_generation/library/_model_loader.py
  src/shared/python/model_generation/library/_model_operations.py
  src/shared/python/model_generation/library/_model_registry.py
  src/shared/python/model_generation/library/_model_repository.py
  src/shared/python/model_generation/library/_model_search.py
  src/shared/python/model_generation/library/_model_types.py
  src/shared/python/model_generation/library/model_library.py
  src/shared/python/signal_toolkit/_custom_fitter.py
  src/shared/python/signal_toolkit/_exponential_fitter.py
  src/shared/python/signal_toolkit/_fit_result.py
  src/shared/python/signal_toolkit/_linear_polynomial_fitters.py
  src/shared/python/signal_toolkit/_sinusoidal_fitters.py
  src/shared/python/signal_toolkit/fitting.py
  src/tools/model_explorer/_attachment_dialog.py
  src/tools/model_explorer/_ee_library.py
  src/tools/model_explorer/_ee_model.py
  src/tools/model_explorer/_ee_widget.py
  src/tools/model_explorer/_ee_widget_ui.py
  src/tools/model_explorer/end_effector_manager.py
  src/unreal_integration/_viewer_base.py
  src/unreal_integration/_viewer_factory.py
  src/unreal_integration/_viewer_meshcat.py
  src/unreal_integration/_viewer_mock.py
  src/unreal_integration/_viewer_unreal_bridge.py
  src/unreal_integration/viewer_backends.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: decompose 3 more monolith files into submodules (issue #2486 sprint 7)
  src/engines/physics_engines/putting_green/python/_dynamics.py
  src/engines/physics_engines/putting_green/python/_green_loader.py
  src/engines/physics_engines/putting_green/python/_practice_mode.py
  src/engines/physics_engines/putting_green/python/_sim_config.py
  src/engines/physics_engines/putting_green/python/_sim_core.py
  src/engines/physics_engines/putting_green/python/_wind_physics.py
  src/engines/physics_engines/putting_green/python/simulator.py
  src/shared/python/upstream_drift_tools/lab/bio/_c3d_analog.py
  src/shared/python/upstream_drift_tools/lab/bio/_c3d_io.py
  src/shared/python/upstream_drift_tools/lab/bio/_c3d_markers.py
  src/shared/python/upstream_drift_tools/lab/bio/_c3d_models.py
  src/shared/python/upstream_drift_tools/lab/bio/c3d_reader.py
  src/unreal_integration/_simulation_streamer.py
  src/unreal_integration/_streaming_buffer.py
  src/unreal_integration/_streaming_config.py
  src/unreal_integration/_streaming_protocol.py
  src/unreal_integration/_streaming_server.py
  src/unreal_integration/streaming.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: decompose 4 more monolith files into submodules (issue #2486 sprint 8)
  src/engines/physics_engines/putting_green/python/_checkpoint.py
  src/engines/physics_engines/putting_green/python/_dynamics.py
  src/engines/physics_engines/putting_green/python/_sim_core.py
  src/engines/physics_engines/putting_green/python/_surface_analysis.py
  src/engines/physics_engines/putting_green/python/_surface_data.py
  src/engines/physics_engines/putting_green/python/_surface_geometry.py
  src/engines/physics_engines/putting_green/python/_surface_io.py
  src/engines/physics_engines/putting_green/python/_surface_presets.py
  src/engines/physics_engines/putting_green/python/green_surface.py
  src/shared/python/model_generation/converters/simscape/_body_conversion.py
  src/shared/python/model_generation/converters/simscape/_graph_utils.py
  src/shared/python/model_generation/converters/simscape/_joint_conversion.py
  src/shared/python/model_generation/converters/simscape/simscape_converter.py
  src/shared/python/physics/_contact_types.py
  src/shared/python/physics/_friction_laws.py
  src/shared/python/physics/_grip_exporter.py
  src/shared/python/physics/_grip_forces.py
  src/shared/python/physics/_grip_model.py
  src/shared/python/physics/grip_contact_model.py
  src/unreal_integration/_mesh_parsers.py
  src/unreal_integration/_mesh_types.py
  src/unreal_integration/mesh_loader.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: decompose 3 more monolith files into submodules (issue #2486 sprint 9)
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_advanced_controller.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_control_types.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_osc_mixin.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_trajectory_generator.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/advanced_control.py
  src/shared/python/_contracts_decorators.py
  src/shared/python/_contracts_exceptions.py
  src/shared/python/_contracts_invariant_mixin.py
  src/shared/python/_contracts_level.py
  src/shared/python/_contracts_primitives.py
  src/shared/python/_contracts_validators.py
  src/shared/python/contracts.py
  src/shared/python/dashboard/_recorder_analysis.py
  src/shared/python/dashboard/_recorder_buffers.py
  src/shared/python/dashboard/_recorder_playback.py
  src/shared/python/dashboard/_recorder_recording.py
  src/shared/python/dashboard/recorder.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: decompose 4 more monolith files into submodules (issue #2486 sprint 10)
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_kfa_analysis.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_kfa_core.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_kfa_effective_mass.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_kfa_forces.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_motion_opt_simulation.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_motion_opt_trajectory.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_motion_opt_types.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/_motion_primitive_library.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/kinematic_forces.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/motion_optimization.py
  src/robotics/planning/collision/_distance_queries.py
  src/robotics/planning/collision/_primitive_shapes.py
  src/robotics/planning/collision/_primitives_base.py
  src/robotics/planning/collision/geometric_primitives.py
  src/shared/python/physics/_topography_data.py
  src/shared/python/physics/_topography_factory.py
  src/shared/python/physics/_topography_io.py
  src/shared/python/physics/_topography_types.py
  src/shared/python/physics/topography.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

refactor: reduce terrain representation to compatibility shim (#2573)
  SPEC.md
  src/shared/python/physics/terrain_loading.py
  src/shared/python/physics/terrain_physics.py
  src/shared/python/physics/terrain_representation.py
  tests/unit/test_terrain_compatibility.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Cache vector norm computations in collision checker (#2576)
  .jules/bolt.md
  SPEC.md
  src/robotics/planning/collision/collision_checker.py
  src/shared/python/config/handedness_support.py
  src/shared/python/physics/terrain_loading.py
  src/shared/python/physics/terrain_physics.py
  src/shared/python/physics/terrain_representation.py
  src/shared/python/upstream_drift_tools/calculators/electrical/electrical_model.py
  tests/unit/pendulum_simulator/test_panel_builders_helpers.py
  tests/unit/test_terrain_compatibility.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

type: annotate plotting animation helpers (#2574)
  src/shared/python/plotting/animation.py
  tests/unit/test_plotting_extras.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

[codex] expand drake strict mock surface (#2618)
  SPEC.md
  tests/unit/isolated/test_drake_strict.py
Due: pytest-unit

[codex] isolate pendulum panel builder fake modules (#2616)
  SPEC.md
  tests/unit/pendulum_simulator/test_panel_builders_helpers.py
Due: pytest-unit

[codex] split data fitting facade helpers (#2615)
  SPEC.md
  src/shared/python/validation_pkg/data_fitting.py
  src/shared/python/validation_pkg/data_fitting_inverse_kinematics.py
  src/shared/python/validation_pkg/data_fitting_models.py
  src/shared/python/validation_pkg/data_fitting_parameter_estimator.py
  src/shared/python/validation_pkg/data_fitting_pipeline.py
  src/shared/python/validation_pkg/data_fitting_sensitivity.py
  tests/unit/shared_python/test_data_fitting_facade.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

[codex] fix spec cleanup and optional stack contracts (#2619)
  .github/workflows/ci-standard.yml
  SPEC.md
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/urdf_io.py
  src/shared/python/engine_core/engine_availability.py
  tests/unit/engines/mujoco/test_urdf_io.py
  tests/unit/test_engine_availability.py
  tests/unit/test_pinocchio_physics_engine.py
  tests/unit/test_third_party_integration_audit.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

[codex] harden drake optional mocks (#2620)
  SPEC.md
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/pinocchio_interface.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/urdf_io.py
  src/shared/python/engine_core/engine_availability.py
  tests/conftest.py
  tests/unit/engines/mujoco/test_urdf_io.py
  tests/unit/engines/pinocchio/test_induced_acceleration.py
  tests/unit/isolated/test_drake_strict.py
  tests/unit/test_engine_availability.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

🛡️ Sentinel: [security improvement] (#2587)
  .github/workflows/ci-standard.yml
  .github/workflows/docker-security-scan.yml
  .jules/sentinel.md
  SPEC.md
  matlab_quality_report.txt
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/urdf_io.py
  src/robotics/planning/collision/collision_checker.py
  src/shared/python/engine_core/engine_availability.py
  src/shared/python/plotting/animation.py
  src/shared/python/validation_pkg/data_fitting.py
  src/shared/python/validation_pkg/data_fitting_inverse_kinematics.py
  src/shared/python/validation_pkg/data_fitting_models.py
  src/shared/python/validation_pkg/data_fitting_parameter_estimator.py
  src/shared/python/validation_pkg/data_fitting_pipeline.py
  src/shared/python/validation_pkg/data_fitting_sensitivity.py
  tests/unit/engines/mujoco/test_urdf_io.py
  tests/unit/isolated/test_drake_strict.py
  tests/unit/pendulum_simulator/test_panel_builders_helpers.py
  tests/unit/shared_python/test_data_fitting_facade.py
  tests/unit/test_engine_availability.py
  tests/unit/test_pinocchio_physics_engine.py
  tests/unit/test_plotting_extras.py
  tests/unit/test_third_party_integration_audit.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

[codex] guard editor leaf drift against tools (#2569)
  .github/workflows/docker-security-scan.yml
  SPEC.md
  src/shared/python/model_generation/editor/text_editor_diff_mixin.py
  src/shared/python/model_generation/tests/test_editor_tools_drift.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(assessment): add 2026-04-11 A-N refresh (#2621)
  docs/assessments/A-N_Assessment_2026-04-11.md
Due: none

⚡ Bolt: Optimize np.linalg.norm overhead (#2623)
  SPEC.md
  src/shared/python/config/handedness_support.py
  src/shared/python/upstream_drift_tools/calculators/electrical/electrical_model.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: add Tools dependency migration plan and pyproject.toml placeholder (#2625)
  SPEC.md
  docs/development/tools_dependency_migration.md
  src/engines/pendulum_models/python/double_pendulum_model/physics/double_pendulum.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/recording_library.py
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/pose_editor_tab.py
  src/shared/python/config/model_source_providers.py
  src/shared/python/data_io/dataset_generator/core.py
  tests/research/test_multi_robot_coordination.py
  tests/unit/pendulum_simulator/test_golfer_dynamics.py
  tests/unit/pendulum_simulator/test_jacobians_golfer.py
  tests/unit/test_humanoid_character_builder_test_return_annotations.py
  tests/unit/test_model_generation_test_return_annotations.py
  tests/unit/test_plot_engine_test_return_annotations.py
  tests/unit/test_small_source_return_annotations.py
  tests/unit/test_upstream_drift_tools_test_return_annotations.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor: remove duplicated mypy_autofix_agent and use shared fleet tool (#2626)
  .github/workflows/Jules-PR-AutoFix.yml
  scripts/mypy_autofix_agent.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

chore: add self-hosted runner fallback + concurrency to 9 workflows (#2627)
  .github/workflows/Code-Metrics.yml
  .github/workflows/Jules-Assessment-Generator.yml
  .github/workflows/Jules-Auto-Assign-Issues.yml
  .github/workflows/Jules-Code-Quality-Reviewer.yml
  .github/workflows/Jules-Completist.yml
  .github/workflows/Jules-Documentation-Scribe.yml
  .github/workflows/Jules-Hotfix-Creator.yml
  .github/workflows/Jules-PR-Compiler.yml
  .github/workflows/Jules-Test-Generator.yml
  SPEC.md
Due: none

chore: remove superseded stub workflows (assessment-auto-fix, auto-remediate-issues) (#2628)
  .github/workflows/assessment-auto-fix.yml
  .github/workflows/auto-remediate-issues.yml
  SPEC.md
Due: none

⚡ Bolt: Replace np.sum with np.einsum for array reductions (#2633)
  SPEC.md
  src/engines/physics_engines/putting_green/python/simulator.py
  src/reinforcement_learning/trajectory_funnel_benchmark.py
  src/shared/python/biomechanics/ztcf.py
  src/shared/python/data_io/marker_mapping.py
  src/shared/python/pendulum_simulator/perturbation_analysis.py
  src/shared/python/pose_estimation/validation_metrics.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

⚡ Bolt: Optimize np.sum array reductions to np.einsum (#2637)
  .github/workflows/Jules-Control-Tower.yml
  .github/workflows/Manual-Run-All.yml
  .github/workflows/agent-metrics-dashboard.yml
  .github/workflows/auto-update-prs.yml
  .github/workflows/ci-failure-digest.yml
  .github/workflows/nightly-cross-engine.yml
  .github/workflows/pr-auto-labeler.yml
  .github/workflows/spec-check.yml
  SPEC.md
  src/shared/python/analysis/nonlinear_dynamics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Optimize squared norm calculations in analyzers (#2631)
  SPEC.md
  src/engines/physics_engines/drake/python/perturbation/analyzer.py
  src/engines/physics_engines/mujoco/python/perturbation/analyzer.py
  src/engines/physics_engines/myosuite/python/perturbation/analyzer.py
  src/engines/physics_engines/opensim/python/perturbation/analyzer.py
  src/engines/physics_engines/pinocchio/python/perturbation/analyzer.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: restore typed simulation results and missing perturbation exports (#2636)
  src/shared/python/pendulum_simulator/cross_engine_perturbation.py
  tests/unit/pendulum_simulator/test_panel_builders_helpers.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Optimize Euclidean distance calculations with np.einsum (#2632)
  SPEC.md
  src/engines/physics_engines/drake/python/motion_optimization.py
  src/engines/physics_engines/putting_green/python/simulator.py
  src/reinforcement_learning/trajectory_funnel_benchmark.py
  src/research/deformable/objects.py
  src/shared/python/physics/ground_reaction_forces.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
