Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

feat(pinns): Phase 1 - Pinocchio rigid-body core + JAX MLP residual architecture (#5562)
  pyproject.toml
  src/launchers/golf_launcher.py
  src/launchers/launcher_diagnostics.py
  src/shared/python/app_state/__init__.py
  src/shared/python/app_state/_agent_context.py
  src/shared/python/app_state/_diagnostic.py
  src/shared/python/app_state/_events.py
  src/shared/python/app_state/_history_store.py
  src/shared/python/app_state/_state_logger.py
  src/shared/python/config/__init__.py
  src/shared/python/data_io/provenance.py
  tests/unit/launchers/test_golf_launcher_timeout.py
  tests/unit/launchers/test_launcher_diagnostics_fixes.py
  tests/unit/shared_python/test_pinn_architecture.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ui): wire AutoCompleteLineEdit into launcher search + populate vocabulary (#5479) (#5591)
  src/launchers/launcher_ui_setup.py
  src/shared/python/ui/completion_vocab.py
  tests/launchers/test_launcher_ui_setup.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: derive EXPECTED_TILE_IDS from models.yaml instead of hard-coded list (#5597)
  src/launchers/launcher_diagnostics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(launcher): add engine-specific dashboard tiles (#5515) (#5581)
  .pre-commit-config.yaml
  src/api/__init__.py
  src/config/launcher_manifest.json
  src/launchers/model_card.py
  src/shared/python/biomechanics/__init__.py
  tests/config/launcher_manifest/test_categories.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(shallowing): validate (N,3) trajectory shape before SVD (#5566) (#5588)
  src/shared/python/biomechanics/shallowing/hand_path_plane.py
  tests/unit/shared_python/test_hand_path_plane.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(launcher): point tiles to executable entrypoints (#5602)
  src/config/launcher_manifest.json
Due: none

fix(config,data_io): repair broken __init__.py re-exports (#5604)
  src/api/local_server.py
  src/api/routes/chat_ws.py
  src/api/server.py
  src/api/services/chat_service.py
  src/shared/python/app_state/_agent_context.py
  src/shared/python/app_state/_diagnostic.py
  src/shared/python/app_state/_history_store.py
  src/shared/python/app_state/_state_logger.py
  src/shared/python/app_state/gui/__init__.py
  src/shared/python/app_state/gui/diagnostic_panel.py
  src/shared/python/app_state/gui/history_panel.py
  src/shared/python/chat/__init__.py
  src/shared/python/chat/sidekick_tool.py
  src/shared/python/config/__init__.py
  src/shared/python/config/settings.py
  src/shared/python/data_io/__init__.py
  src/shared/python/data_io/provenance.py
  tests/unit/api/test_chat_service_app_state.py
  tests/unit/shared_python/test_app_state.py
  tests/unit/shared_python/test_config_imports.py
  tests/unit/shared_python/test_data_io_imports.py
  tests/unit/shared_python/test_sidekick_tool.py
  tests/unit/test_import_smoke.py
  tests/unit/test_init_reexports_5478.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(dbc): deduplicate precondition guard pairs in AIAssistantPanel (#5603)
  src/shared/python/ai/gui/assistant/_guards.py
  src/shared/python/ai/gui/assistant/panel.py
  src/shared/python/ai/gui/assistant/streaming.py
  src/shared/python/ai/gui/assistant/transcript.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(sidekick): wire ring-buffer producers and tool declarations (#5605)
  src/launchers/launcher_diagnostics.py
  src/shared/python/ai/gui/assistant_panel.py
  tests/unit/test_sidekick_ring_buffer_wiring.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ai): deduplicate DbC precondition pairs (#5606)
  src/api/__init__.py
  src/shared/python/ai/adapters/rust_adapter.py
  src/shared/python/ai/gui/assistant_panel.py
  src/shared/python/config/__init__.py
  src/shared/python/data_io/provenance.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(bunkershot3d): implement Chrono DEM backend (#5607)
  pyproject.toml
  src/bunkershot3d/backends/chrono/driver.py
  tests/bunkershot3d/test_backends.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(bunkershot3d): replace MPM driver mock + angle-of-repose formula (#5608)
  src/bunkershot3d/__init__.py
  src/bunkershot3d/backends/mpm/driver.py
  src/bunkershot3d/calibration/angle_of_repose.py
  src/bunkershot3d/config.py
  src/bunkershot3d/exceptions.py
  tests/bunkershot3d/test_backends.py
  tests/bunkershot3d/test_calibration.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

⚡ Bolt: Optimize norm calculation in opensim viz using einsum (#5611)
  .jules/bolt.md
  src/engines/physics_engines/opensim/python/motion_matching/viz/_adapters.py
  src/engines/physics_engines/opensim/python/motion_matching/viz/figures.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(hygiene): repo-hygiene tests to enforce no-shadow + clean-vendor policy (closes #5623) (#5625)
  CLAUDE.md
  scripts/config/shadow_modules.yaml
  tests/unit/repo_hygiene/__init__.py
  tests/unit/repo_hygiene/test_no_shadow_of_tools_shared.py
  tests/unit/repo_hygiene/test_vendor_submodule_clean.py
Due: pytest-unit

feat(chat): add Provider/Model/Thinking dropdowns + mid-thread provider switching (#5635)
  src/shared/python/ai/adapters/anthropic_adapter.py
  src/shared/python/ai/adapters/base.py
  src/shared/python/ai/adapters/gemini_adapter.py
  src/shared/python/ai/adapters/ollama_adapter.py
  src/shared/python/ai/adapters/openai_adapter.py
  src/shared/python/ai/gui/assistant_panel.py
  src/shared/python/ai/types.py
  tests/unit/ai/test_adapter_capabilities.py
  tests/unit/ai/test_assistant_header_dropdowns.py
  tests/unit/ai/test_mid_thread_provider_switch.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ux): modernize OnboardingDialog — theme-aware native widgets, no hardcoded colors (#5633)
  src/launchers/onboarding_dialog.py
  tests/unit/launchers/test_onboarding_dialog_modern.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

ci(jules): add diff-verification composite action and gate all closer-type workflows (#5640)
  .github/actions/verify-issue-resolution/action.yml
  .github/workflows/Jules-Assessment-AutoFix.yml
  .github/workflows/Jules-Completist.yml
  .github/workflows/Jules-Diff-Verifier.yml
  .github/workflows/Jules-Issue-Resolver.yml
  .github/workflows/Jules-PR-Cleanup.yml
  .github/workflows/Jules-Redundant-Issue-Closer.yml
  .github/workflows/Jules-Supersede-Check.yml
  .github/workflows/Verify-Issue-Closure.yml
Due: none

ci: add anti-phantom-merge guard that blocks empty/mismatched-title PRs from merging (#5637)
  .github/workflows/anti-phantom-merge.yml
Due: none

feat(sidekick): real OS terminal tab with PTY backend, shell selector, cwd display (#5639)
  src/shared/python/upstream_drift_tools/ui/tools_sidebar/os_terminal.py
  src/shared/python/upstream_drift_tools/ui/tools_sidebar/runtime_tabs.py
  src/shared/python/upstream_drift_tools/ui/tools_sidebar/shell_discovery.py
  src/shared/python/upstream_drift_tools/ui/tools_sidebar/sidebar.py
  tests/unit/sidekick/__init__.py
  tests/unit/sidekick/test_shell_discovery.py
  tests/unit/sidekick/test_terminal_backend.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(workflow): add duplicate label before closing to prevent reopen-loop (#5636)
  .github/workflows/Jules-Redundant-Issue-Closer.yml
Due: none

fix(launcher): restore title bar drag and click propagation (closes #5618) (#5647)
  src/launchers/custom_title_bar.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(launcher): visual hierarchy + Sidekick embedding + sidebar icons (closes #5624) (#5630)
  src/launchers/golf_launcher.py
  src/launchers/launcher_ui_setup.py
  src/shared/python/theme/icon_utils.py
  tests/unit/launcher/conftest.py
  tests/unit/launcher/test_layout_hierarchy.py
  tests/unit/launcher/test_sidebar_icons.py
  tests/unit/launcher/test_sidekick_not_floating.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(launcher): lock out deprecated splitter chat panel with regression tests (#5634)
  src/launchers/launcher_ui_setup.py
  tests/unit/launcher/test_no_deprecated_chat_panel.py
  tests/unit/launchers/test_no_splitter_ai_panel.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(sidekick): MATLAB-style workspace tab — live variable table, shared REPL, command history (#5641)
  src/launchers/golf_launcher.py
  src/shared/python/upstream_drift_tools/ui/tools_sidebar/__init__.py
  src/shared/python/upstream_drift_tools/ui/tools_sidebar/_embed_adapter.py
  src/shared/python/upstream_drift_tools/ui/tools_sidebar/api.py
  src/shared/python/upstream_drift_tools/ui/tools_sidebar/default_tabs.py
  src/shared/python/upstream_drift_tools/ui/tools_sidebar/python_repl.py
  src/shared/python/upstream_drift_tools/ui/tools_sidebar/registry.py
  src/shared/python/upstream_drift_tools/ui/tools_sidebar/sidebar.py
  src/shared/python/upstream_drift_tools/ui/tools_sidebar/workspace_table.py
  tests/unit/sidekick/__init__.py
  tests/unit/sidekick/test_python_repl_widget.py
  tests/unit/sidekick/test_workspace_registry.py
  tests/unit/sidekick/test_workspace_tab_table.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(launcher): chat history sidebar + memory management UI (closes #5621) (#5644)
  src/launchers/chat_history/__init__.py
  src/launchers/chat_history/_formatting.py
  src/launchers/chat_history/chat_history_service.py
  src/launchers/chat_history/history_pane.py
  src/launchers/chat_history/memory_panel.py
  src/shared/python/ai/gui/assistant_panel.py
  tests/unit/launcher/__init__.py
  tests/unit/launcher/chat_history/__init__.py
  tests/unit/launcher/chat_history/conftest.py
  tests/unit/launcher/chat_history/test_history_service_adapter.py
  tests/unit/launcher/chat_history/test_history_ui_actions.py
  tests/unit/launcher/chat_history/test_history_ui_search.py
  tests/unit/launcher/chat_history/test_memory_archive_digest.py
  tests/unit/launcher/chat_history/test_memory_panel.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(launcher): CLI agent providers (Claude CLI / Codex / Cline) in chat header (closes #5622) (#5645)
  src/shared/python/ai/cli_providers/__init__.py
  src/shared/python/ai/cli_providers/base.py
  src/shared/python/ai/cli_providers/claude_cli_provider.py
  src/shared/python/ai/cli_providers/cline_provider.py
  src/shared/python/ai/cli_providers/codex_cli_provider.py
  src/shared/python/ai/cli_providers/contracts.py
  src/shared/python/ai/cli_providers/discovery.py
  src/shared/python/ai/cli_providers/registry.py
  src/shared/python/ai/gui/assistant_panel.py
  tests/unit/launcher/cli_providers/__init__.py
  tests/unit/launcher/cli_providers/test_chat_header_integration.py
  tests/unit/launcher/cli_providers/test_claude_cli_provider.py
  tests/unit/launcher/cli_providers/test_cline_provider.py
  tests/unit/launcher/cli_providers/test_codex_cli_provider.py
  tests/unit/launcher/cli_providers/test_contracts.py
  tests/unit/launcher/cli_providers/test_discovery.py
  tests/unit/launcher/cli_providers/test_registry.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(launcher): surface Sidekick features in app layout (menu + prefs + MCP config) (closes #5642) (#5646)
  src/launchers/application_layout.py
  src/launchers/feature_menu.py
  src/launchers/launcher_dialogs.py
  src/launchers/mcp_config_writer.py
  src/launchers/preferences/__init__.py
  src/launchers/preferences/jupyter_section.py
  src/launchers/preferences/mcp_servers_section.py
  src/launchers/preferences/terminal_section.py
  src/launchers/preferences/workspace_section.py
  tests/unit/launchers/layout/__init__.py
  tests/unit/launchers/layout/conftest.py
  tests/unit/launchers/layout/test_application_layout.py
  tests/unit/launchers/layout/test_feature_menu.py
  tests/unit/launchers/layout/test_jupyter_section.py
  tests/unit/launchers/layout/test_mcp_config_writer.py
  tests/unit/launchers/layout/test_mcp_servers_section.py
  tests/unit/launchers/layout/test_terminal_section.py
  tests/unit/launchers/layout/test_workspace_section.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(sidekick): wire ring-buffer producers and tool declarations
  src/shared/python/ai/gui/assistant_panel.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(sidekick,launcher,docker): wire real Sidekick sidebar, drop shadow shim, repair WSL Docker probe
  launch_golf_suite.py
  src/api/__init__.py
  src/api/models/__init__.py
  src/launchers/docker_manager.py
  src/launchers/startup.py
  src/shared/python/security/secure_subprocess.py
  src/shared/python/upstream_drift_tools/ui/tools_sidebar/__init__.py
  src/shared/python/upstream_drift_tools/ui/tools_sidebar/_embed_adapter.py
  src/shared/python/upstream_drift_tools/ui/tools_sidebar/api.py
  src/shared/python/upstream_drift_tools/ui/tools_sidebar/runtime_tabs.py
  src/shared/python/upstream_drift_tools/ui/tools_sidebar/sidebar.py
  tests/unit/test_tools_sidebar_chat.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(launcher): title bar draggable + child-label propagation + screen clamping
  src/launchers/launcher_ui_setup.py
  tests/unit/launcher/test_custom_title_bar_drag.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(hooks,types): fix mypy pre-push hook and type annotation patterns
  .pre-commit-config.yaml
  src/launchers/golf_launcher.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(hooks): add src/ target to mypy pass_filenames=false invocation
  .pre-commit-config.yaml
Due: none

fix(hooks): extend mypy pre-commit exclude to match pyproject.toml scope
  .pre-commit-config.yaml
Due: none

fix(mypy): suppress pre-existing return-value type mismatch in fit_swing
  src/engines/physics_engines/opensim/python/motion_matching/fit_swing.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(launcher): integrations health dashboard — one pane of glass for all providers (#5650)
  src/launchers/integrations_health_data.py
  src/launchers/integrations_health_panel.py
  tests/unit/launcher/test_integrations_health_panel.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(launcher): MCP server management UI in Sidekick Preferences (#5651)
  src/launchers/mcp_servers_preferences.py
  src/launchers/settings_dialog.py
  tests/unit/launcher/preferences/__init__.py
  tests/unit/launcher/preferences/test_mcp_servers_section.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon
