Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

test: cover FastAPI adapter 422 regression for model_generation (#7130)
  tests/unit/tools/model_generation/test_rest_api_fastapi.py
Due: pytest-unit

docs(assessments): add 2026-06-09 comprehensive A-O adversarial review report
  docs/assessments/2026-06-09-comprehensive-ao-adversarial-review.md
  docs/assessments/README.md
Due: none

ci: add architecture budget guard
  .github/workflows/ci-standard.yml
  SPEC.md
  scripts/ci/check_architecture_budget.py
  scripts/config/architecture_budget.json
  tests/scripts/wave10_quality/test_check_architecture_budget.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test: add motion resample property invariants
  tests/unit/motion_pipeline/preprocessing/test_resample.py
Due: pytest-unit

refactor: share motion preprocessing array helpers
  src/shared/python/motion_pipeline/preprocessing/_filter_pure_python.py
  src/shared/python/motion_pipeline/preprocessing/_frame_arrays.py
  src/shared/python/motion_pipeline/preprocessing/_resample_pure_python.py
  src/shared/python/motion_pipeline/preprocessing/filter.py
  src/shared/python/motion_pipeline/preprocessing/resample.py
  tests/unit/motion_pipeline/preprocessing/test_frame_arrays.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): run real hosted-runner audit in CI Standard guard (#7127)
  .github/workflows/ci-standard.yml
  scripts/check_local_only_workflows.py
  tests/scripts/test_check_local_only_workflows.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(api): fail route discovery closed on mandatory import errors
  src/api/route_registry.py
  tests/api/dummy_routes_broken/__init__.py
  tests/api/dummy_routes_broken/auth.py
  tests/api/dummy_routes_broken/core.py
  tests/api/dummy_routes_broken/video.py
  tests/api/test_route_registry.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(docker): expand FORWARDED_ALLOW_IPS via /bin/sh entrypoint
  Dockerfile
  docker-compose.yml
  docker/entrypoint.sh
  tests/docker/test_docker_integration.py
  tests/unit/repo_hygiene/test_docker_entrypoint.py
Due: pytest-unit

docs(test): make in-tree test exclusion explicit + named command (#7126)
  Makefile
  docs/development/in_tree_test_policy.md
  scripts/collect_in_tree_tests.py
  tests/scripts/test_in_tree_test_policy.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(deps): make API runtime deps core, not dev-only (#7125)
  Dockerfile
  environment.yml
  pyproject.toml
  requirements-dev.lock
  requirements.lock
  tests/docker/test_docker_integration.py
  tests/unit/test_api_runtime_dependencies.py
Due: pytest-unit

chore(arch): add monolith refactor register + ratchet (#7131)
  docs/development/monolith_refactor_register.md
  scripts/gen_monolith_register.py
  tests/scripts/test_monolith_register.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test(spatial): property tests for quaternion algebra (#7132)
  tests/property/test_quaternion_algebra_property.py
Due: pytest-unit

docs(quality): add consolidated quality budgets index (#7133)
  docs/development/quality_budgets.md
  tests/scripts/test_quality_budgets_index.py
Due: pytest-unit

fix: harden api packaging and CI guards
  .github/workflows/ci-standard.yml
  Dockerfile
  pyproject.toml
  requirements.lock
  scripts/check_local_only_workflows.py
  scripts/check_pytest_intree_testpaths.py
  src/shared/python/calc_backend/tests/test_standard_response.py
  tests/api/test_route_registry.py
  tests/ci/test_ci_infrastructure.py
  tests/docker/test_docker_integration.py
  tests/unit/scripts/test_check_local_only_workflows.py
  tests/unit/scripts/test_check_pytest_intree_testpaths.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test: pin quality gate and in-tree test policy
  Makefile
  docs/development/in_tree_test_policy.md
  tests/ci/test_ci_infrastructure.py
  tests/unit/scripts/test_in_tree_test_policy.py
Due: pytest-unit

test: expand hosted-runner guard coverage
  tests/unit/scripts/test_check_local_only_workflows.py
Due: pytest-unit

ci: emit required quality gate status
  .github/workflows/Comment-to-Issue-Converter.yml
  .github/workflows/Jules-Redundant-PR-Closer.yml
  .github/workflows/quality-gate.yml
  tests/ci/test_ci_infrastructure.py
Due: pytest-unit

fix(api): include email validator in runtime deps
  pyproject.toml
  requirements.lock
  tests/ci/test_ci_infrastructure.py
  tests/unit/test_api_runtime_dependencies.py
Due: pytest-unit

fix(deps): raise starlette security floor
  pyproject.toml
  requirements.lock
  tests/ci/test_ci_infrastructure.py
  tests/unit/test_api_runtime_dependencies.py
Due: pytest-unit

docs: catalog examples documentation directory
  docs/index.md
Due: none

docs: catalog examples directory
  docs/index.md
Due: none

fix(physics): correct Pinocchio canonical-v2 velocity layout + harden pose_interchange
  docs/conventions/canonical-v2.md
  rust_core/upstream-pinocchio-id/src/bindings.rs
  rust_core/upstream-pinocchio-id/src/finite_diff.rs
  src/shared/python/engine_core/finite_difference.py
  src/shared/python/motion_pipeline/matching/inverse_dyn_pinocchio.py
  src/shared/python/pose_interchange/adapters/_base.py
  src/shared/python/pose_interchange/adapters/drake.py
  src/shared/python/pose_interchange/adapters/pinocchio.py
  src/shared/python/pose_interchange/adapters/pinocchio_reference.py
  src/shared/python/pose_interchange/canonical_layout.py
  tests/unit/motion_matching/test_pinocchio_id_rust_parity.py
  tests/unit/pose_interchange/adapters/test_cross_engine_velocity_layout.py
  tests/unit/pose_interchange/adapters/test_finite_diff_contract.py
  tests/unit/pose_interchange/adapters/test_pinocchio_reference_adapter.py
  tests/unit/pose_interchange/adapters/test_pose_interchange_dbc_gaps.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(pose_interchange): reference tracking issue on multi-DOF NotImplementedError
  src/shared/python/pose_interchange/adapters/_base.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(security): expiry/quota/pagination hardening + secure-subprocess/MCP/credentials/Tauri
  src/api/auth/dependencies.py
  src/api/auth/middleware.py
  src/api/auth/security.py
  src/api/routes/auth.py
  src/shared/python/ai/mcp/config_loader.py
  src/shared/python/chat/credentials.py
  src/shared/python/security/secure_subprocess.py
  tests/unit/api/test_auth_middleware.py
  tests/unit/api/test_auth_security_hardening.py
  tests/unit/api/test_list_users_pagination.py
  tests/unit/security/test_security_hardening_7152.py
  tests/unit/ui/test_tauri_capabilities.py
  ui/src-tauri/capabilities/main.json
  ui/src-tauri/tauri.conf.json
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(security): mypy type annotations on auth dependency helpers
  src/api/auth/dependencies.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(tauri): scope main-window capability to core/log defaults only
  tests/unit/ui/test_tauri_capabilities.py
  ui/src-tauri/capabilities/main.json
Due: pytest-unit

fix(concurrency): realtime singleton/shutdown/health, pipe-reader leak, chat WS cleanup
  src/launchers/launcher_process_manager.py
  src/shared/python/chat/router_factory.py
  src/shared/python/chat/service_base.py
  src/shared/python/realtime/api.py
  src/shared/python/realtime/transport_file.py
  tests/launchers/test_launcher_process_manager.py
  tests/shared/realtime/test_realtime_lifecycle.py
  tests/unit/api/test_chat_ws_session_cleanup.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(ci): owned architecture-budget exceptions for pre-existing oversized funcs
  scripts/config/architecture_budget.json
Due: none

fix(api): launcher error wrapping + alembic offline, route-count + error-handler DbC
  launch_golf_suite.py
  launch_upstream_drift.py
  src/api/middleware/error_handler.py
  src/api/migrations/env.py
  src/api/server.py
  src/shared/python/launch_support.py
  tests/unit/api/test_error_handler_unreachable.py
  tests/unit/test_launch_support.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(alembic): add return type annotation to _load_target_metadata (mypy)
  src/api/migrations/env.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Optimize quaternion normalization using math.hypot (#7181)
  .jules/bolt.md
  SPEC.md
  src/engines/physics_engines/opensim/python/opensim_golf/fk.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

ci: harden security and packaging gates
  .github/workflows/ci-optional-stack.yml
  .github/workflows/ci-standard.yml
  Dockerfile
  Dockerfile.heavy_test
  Dockerfile.modular
  scripts/check_workflows_no_silent_failures.py
  scripts/ci/check_dockerfile_contracts.py
  scripts/ci/check_tauri_capabilities.py
  scripts/ci/check_workflow_pytest_paths.py
  tests/unit/scripts/test_dockerfile_contracts.py
  tests/unit/scripts/test_tauri_capabilities.py
  tests/unit/scripts/test_workflow_pytest_paths.py
  ui/src-tauri/capabilities/main.json
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix: harden repository archive extraction
  src/shared/python/model_generation/library/repository.py
  tests/unit/tools/model_generation/test_library.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: harden model downloads and workflow interpolation
  .github/workflows/Jules-Issue-Mention-Handler.yml
  .github/workflows/PR-Comment-Responder.yml
  src/shared/python/config/standard_models.py
  src/shared/python/model_generation/library/_download_utils.py
  src/shared/python/model_generation/library/_model_loader.py
  src/shared/python/model_generation/library/_model_repository.py
  src/shared/python/model_generation/library/github_importer.py
  src/shared/python/model_generation/library/model_library.py
  src/shared/python/model_generation/library/repository.py
  src/tools/model_explorer/model_library.py
  tests/ci/test_ci_infrastructure.py
  tests/unit/tools/model_generation/test_security_fixes.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
