Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

⚡ Bolt: Optimize rotation_matrix_from_vectors Numba compilation (#2858)
  .github/workflows/Bot-CI-Trigger.yml
  .github/workflows/ci-optional-stack.yml
  .github/workflows/ci-standard.yml
  .github/workflows/spec-check.yml
  .jules/bolt.md
  Dockerfile
  SPEC.md
  docs/assessments/A-N_Assessment_2026-04-17.md
  docs/assessments/README.md
  docs/assessments/assessment_summary.json
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-20.md
  pyproject.toml
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/apps/golf_gui/Simscape Multibody Data Plotters/Python Version/integrated_golf_gui_r0/golf_data_core.py
  src/engines/physics_engines/drake/python/drake_physics_engine.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/physics_engine.py
  src/engines/physics_engines/opensim/python/opensim_physics_engine.py
  src/engines/physics_engines/pinocchio/python/pinocchio_physics_engine.py
  src/learning/rl/configs.py
  src/shared/python/dashboard/__init__.py
  src/shared/python/humanoid_character_builder/contracts.py
  src/shared/python/model_generation/core/contracts.py
  src/shared/python/physics/aerodynamics.py
  src/shared/python/physics/calibration_data/golf_ball_drag_bearman_harvey.csv
  src/shared/python/physics/drag_crisis.py
  src/shared/python/physics/impact_model/models.py
  src/shared/python/physics/impact_model/solver.py
  src/shared/python/physics/impact_model/utils.py
  tests/conftest.py
  tests/unit/biomechanics/test_humanoid_urdf_contracts.py
  tests/unit/engines/mujoco/conftest.py
  tests/unit/engines/opensim/test_muscle_conditioning.py
  tests/unit/shared_python/test_impact_model.py
  tests/unit/test_drag_crisis_calibration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: RL/imitation learning bug fixes (#2710) (#2880)
  src/api/routes/force_overlays.py
  src/api/routes/video.py
  src/learning/rl/base_env.py
  src/learning/rl/humanoid_envs.py
  src/robotics/locomotion/footstep_planner.py
  src/shared/python/data_io/export.py
  src/shared/python/data_io/output_manager.py
  src/shared/python/physics/_impact_physics.py
  src/shared/python/physics/_impact_recorder.py
  src/tools/video_analyzer/analyzer.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix: add planner progress logging and scipy cKDTree nearest-neighbor (#2709) (#2881)
  src/robotics/planning/motion/rrt.py
  tests/unit/robotics/test_planning_motion.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix: update URDF models to anthropometry-derived inertias and add right-hand grip (#2885)
  src/engines/physics_engines/pinocchio/models/generated/golfer.urdf
  src/shared/urdf/simple_humanoid.urdf
  tests/test_urdf_tools.py
Due: pytest-unit

fix: ISA altitude model, velocity-dependent spin decay, aerodynamics validation tests (#2701) (#2888)
  src/shared/python/physics/aerodynamics/_engine.py
  src/shared/python/physics/ball_launch_conditions.py
  tests/physics_validation/test_aerodynamics_calibration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: shaft tour-average lengths, flex recommendation, smash-factor validation (#2704) (#2884)
  src/shared/python/club_data/loader.py
  src/shared/python/physics/_shaft_properties.py
  src/shared/python/physics/flexible_shaft.py
  tests/unit/test_club_data_loader.py
  tests/unit/test_flexible_shaft.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: smash-factor physical bound validation in RigidBodyImpactModel (#2889)
  src/shared/python/physics/_impact_physics.py
  src/shared/python/physics/impact_model.py
  tests/unit/shared_python/test_impact_model.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(docker): slim runtime — remove myosuite, X11 GUI deps, add openssl upgrade (#2810) (#2890)
  Dockerfile
Due: none

docs: sync fleet-managed AGENTS.md sections — network & API hygiene
  AGENTS.md
Due: none

fix(ci): remove stray fix_test.py debug script causing ruff failures
  fix_test.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

refactor: address code assessment findings (#2929)
  src/api/routes/_route_utils.py
  src/api/routes/model_explorer.py
  src/api/routes/models.py
  src/engines/physics_engines/mujoco/docker/example_golf_swing.py
  src/engines/physics_engines/mujoco/docker/inspect_humanoid.py
  src/engines/physics_engines/pendulum/python/golf_swing_physics_engine.py
  src/shared/python/ai/adapters/anthropic_adapter.py
  src/shared/python/ai/adapters/openai_adapter.py
  src/shared/python/club_data/club_data_tab.py
  src/shared/python/pendulum_simulator/physics.py
  src/shared/python/physics/terrain_physics.py
  src/shared/python/safe_eval.py
  src/shared/python/upstream_drift_tools/process_calculators/_syngas_compression_engine.py
  src/shared/python/upstream_drift_tools/process_calculators/syngas_compression_calculator.py
  src/tools/model_explorer/urdf_editor_window.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: resolve pre-existing main-branch test failures (#2938)
  Dockerfile
  requirements-dev.lock
  requirements.lock
  src/engines/physics_engines/drake/python/perturbation/analyzer.py
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/induced_acceleration.py
  tests/launchers/test_dashboards.py
  tests/launchers/test_launcher_process_manager.py
  tests/test_docker_integration.py
  tests/unit/launchers/test_launch_regressions.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Replace np.linalg.norm with math.hypot for 2D/3D vectors (#2941)
  .github/workflows/ci-standard.yml
  .jules/bolt.md
  SPEC.md
  src/engines/common/physics.py
  src/shared/python/physics/aerodynamics.py
  src/shared/python/physics/ball_flight_physics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(p1): resolve type annotation and stub issues #2924-2927 (#2934)
  src/engines/physics_engines/myosuite/python/_drift_control.py
  stubs/pinocchio/__init__.pyi
  tests/unit/test_c3d_export_features.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(p1): guard TestClient annotation, fix GRF sign, preserve base_coefficient (#2935)
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/physics_engine.py
  src/shared/python/physics/aerodynamics/_models.py
  tests/integration/test_engine_api_integration.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(p1): allow src scripts, guard smash-factor, restore OSMesa (#2902, #2899, #2898) (#2937)
  Dockerfile
  requirements-dev.lock
  requirements.lock
  src/shared/python/physics/_impact_physics.py
  src/shared/python/security/secure_subprocess.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(p1): symmetry check for right-side limbs + CI runner routing (#2921, #2903-#2906) (#2936)
  .github/workflows/ci-standard.yml
  src/shared/python/biomechanics/humanoid_urdf_contracts.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: optimize linear power calculation with np.einsum (#2940)
  Dockerfile
  SPEC.md
  requirements-dev.lock
  requirements.lock
  src/engines/physics_engines/drake/python/perturbation/analyzer.py
  src/engines/physics_engines/pinocchio/python/pinocchio_golf/induced_acceleration.py
  src/shared/python/pendulum_simulator/dynamics_quantities.py
  tests/launchers/test_dashboards.py
  tests/launchers/test_launcher_process_manager.py
  tests/test_docker_integration.py
  tests/unit/launchers/test_launch_regressions.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(launcher): use QObject signal helper for QRunnable process cleanup (#2930)
  src/launchers/golf_launcher.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Optimize linear power series computation with np.einsum (#2897)
  SPEC.md
  src/launchers/golf_launcher.py
  src/shared/python/humanoid_character_builder/contracts.py
  src/shared/python/model_generation/core/contracts.py
  src/shared/python/safe_eval.py
  tests/launchers/test_golf_launcher.py
  tests/unit/biomechanics/test_humanoid_urdf_contracts.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Combine all up fixes (#2945)
  SPEC.md
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-21.md
  pyproject.toml
  src/engines/physics_engines/pinocchio/python/dtack/backends/pinocchio_backend.py
  src/engines/physics_engines/pinocchio/python/dtack/gui/main_window.py
  src/engines/physics_engines/pinocchio/python/pinocchio_screw_kinematics.py
  src/shared/python/humanoid_character_builder/contracts.py
  src/shared/python/model_generation/core/contracts.py
  src/shared/python/optimization/examples/optimize_arm.py
  stubs/pinocchio/__init__.pyi
  tests/integration/test_engine_api_integration.py
  tests/launchers/test_launcher_process_manager.py
  tests/unit/test_c3d_export_features.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: address issues #2918, #2919, #2922, #2928 (#2948)
  .Jules/palette.md
  .jules/resolver_data/Code_Quality_Review_Latest.md
  .jules/resolver_data/priority_issues.json
  .jules/resolver_data/summary.md
  SPEC.md
  docs/operations/workflow_inventory.md
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-21.md
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/physics_engine.py
  src/shared/python/biomechanics/humanoid_urdf_contracts.py
  tests/unit/test_mujoco_physics_engine.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: URDF stub arity, missing guards, mirror validation, Cd base coefficient (#2942)
  SPEC.md
  pyproject.toml
Due: none

Fix CI expectation drift in tests
  tests/integration/test_physics_engines_strict.py
  tests/launchers/test_golf_launcher.py
  tests/test_docker_integration.py
Due: pytest-unit

docs: update spec for CI expectation drift tests
  SPEC.md
Due: none

⚡ Bolt: Replace np.linalg.norm with np.vdot for speed (#2964)
  SPEC.md
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/motion_optimization.py
  src/engines/physics_engines/pinocchio/python/motion_training/dual_hand_ik_solver.py
  src/engines/physics_engines/putting_green/python/simulator.py
  src/robotics/planning/collision/collision_types.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

⚡ Bolt: Replace np.linalg.norm with math.hypot for 2D/3D vectors in ball roll physics (#2965)
  .jules/bolt.md
  SPEC.md
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-22.md
  src/engines/physics_engines/putting_green/python/ball_roll_physics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: restore api route auth compatibility
  SPEC.md
  src/api/route_registry.py
  src/api/server.py
  tests/unit/test_api_architecture.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

audit: adversarial review with 12 findings and fixes (#3007)
  SPEC.md
  docs/assessments/README.md
  docs/assessments/adversarial_review_2026-04-22.md
  src/api/routes/engines.py
  src/engines/physics_engines/drake/python/perturbation/analyzer.py
  src/shared/python/humanoid_character_builder/contracts.py
  src/shared/python/model_generation/core/contracts.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(quality): address adversarial review findings — coverage, DbC, mypy, vacuous tests (#3029)
  .github/issues/001-mypy-type-safety-theater.md
  .github/issues/002-law-of-demeter-violations.md
  .github/issues/003-tdd-coverage-crisis.md
  .github/issues/004-dbc-fail-open.md
  .github/issues/005-dry-violations.md
  SPEC.md
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-22.md
  pyproject.toml
  src/shared/python/contracts.py
  tests/test_architecture_dbc.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

perf(docker): slim runtime image — miniconda3 → python:3.12-slim (#3043)
  .dockerignore
  .github/workflows/docker-security-scan.yml
  .github/workflows/docker-size-gates.yml
  Dockerfile
  docker-compose.yml
  src/shared/python/dashboard/__init__.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(artifacts): remove tracked generated outputs
  .github/workflows/ci-standard.yml
  .gitignore
  .jules/completist_data/abstract_methods.txt
  .jules/completist_data/incomplete_docs.txt
  .jules/completist_data/not_implemented.txt
  .jules/completist_data/stub_functions.txt
  .jules/completist_data/todo_markers.txt
  bandit_results.json
  coverage.json
  matlab_quality_report.txt
  reports/bandit.json
  scripts/check_forbidden_artifacts.py
  temp_id.txt
  test.npz
  tests/scripts/test_check_forbidden_artifacts.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(#3074): remove blanket *.py owner in CODEOWNERS
  .github/CODEOWNERS
Due: none

docs: generate completist assessment report for 2026-04-23 (#3083)
  docs/assessments/README.md
  docs/assessments/completist/Completist_Report_2026-04-23.md
  docs/assessments/issues/Issue_2406_Incomplete_Stub_in_analyzer_base_py_100.md
  docs/assessments/issues/Issue_2407_Incomplete_Stub_in_analyzer_base_py_104.md
  docs/assessments/issues/Issue_2408_Incomplete_Stub_in_analyzer_base_py_108.md
Due: none

⚡ Bolt: Replace np.linalg.norm with math.hypot for small 2D vectors (#3085)
  SPEC.md
  src/engines/physics_engines/putting_green/python/simulator.py
  src/engines/physics_engines/putting_green/python/turf_properties.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: remove orphan root-level scripts and junk files (closes #3070) (#3092)
  .ci_trigger.py
  .gitignore
  coverage.json
  reports/bandit.json
  reports/pip_audit.json
  reports/semgrep.json
  scripts/launchers/launch_urdf_generator.bat
  scripts/maintenance/start-gaai-daemon.sh
  temp_id.txt
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat(engines): add Capability enum to BasePhysicsEngine; fix Pinocchio contract violation (closes #3052) (#3098)
  src/engines/physics_engines/pendulum/python/pendulum_physics_engine.py
  src/engines/physics_engines/pinocchio/python/pinocchio_physics_engine.py
  src/shared/python/engine_core/base_physics_engine.py
  src/shared/python/engine_core/capabilities.py
  tests/unit/engines/test_capability_contract.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: anchor CODEOWNERS src rule to repository root (#3096)
  .github/CODEOWNERS
  tests/integration/test_engine_api_integration.py
  tests/unit/test_c3d_export_features.py
Due: pytest-unit
