Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

fix(tests): sync launcher handler tests with long-standing production behavior (#8761)
  tests/launchers/test_launcher_model_handlers.py
Due: pytest-unit

test(hygiene): give three repo_hygiene guards a suite marker so the gate runs them (#8692)
  tests/unit/repo_hygiene/test_cross_engine_api_versions.py
  tests/unit/repo_hygiene/test_gitignore_env_entries.py
  tests/unit/repo_hygiene/test_legacy_motion_capture_plotter_removed.py
Due: pytest-unit

fix(tests): drop tests/tools/hmr2_sidecar/__init__.py to clear the #7995 collision (#8691)
  tests/tools/hmr2_sidecar/__init__.py
Due: pytest-unit

⚡ Bolt: Memoize recursive ModelTree node to reduce re-renders (#8746)
  .jules/bolt.md
  scripts/config/dry_duplication_baseline.json
  src/tools/bunker_shot_gui/crosstier.py
  tests/api/test_launcher_api.py
  ui/src/components/model-explorer/ModelTree.tsx
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

⚡ Bolt: Replace `.iterrows()` with vectorized `.to_dict('records')` to improve Pandas iteration performance (#8672)
  src/robotics/contact/grasp_analysis.py
  src/robotics/planning/collision/_primitive_shapes.py
  src/shared/python/club_data/loader.py
  src/shared/python/physics/_grip_exporter.py
  src/shared/python/signal_toolkit/fitting.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(tests): make the ownership-pin and provider-contract tests test reality (#8762)
  tests/ci/test_ci_infrastructure.py
  tests/conftest.py
  tests/shared_contracts/test_tools_provider_contracts.py
Due: pytest-unit

chore(dry): quarantine the duplication tranche that hollow merges shipped (#8764)
  scripts/config/dry_duplication_quarantine.json
Due: none

chore(vendor): bump ud-tools to ac59066 — Club Fitting Tester epic C1-C5 (#8765)
  SPEC.md
Due: none

fix(ci): restore clobbered DRY baseline, ledger unit-gate debt, dedup support-batch preamble
  .github/workflows/ci-standard.yml
  scripts/config/dry_duplication_baseline.json
  scripts/config/unit_gate_quarantine.json
  src/robotics/planning/collision/_primitive_shapes.py
  tests/conftest.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

chore: remove patch_trace2.py debug scratch from the repo root
  patch_trace2.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

chore: clear committed test-run debris from the repo root; allow AGENT_HANDOFF.md
  base.csv
  base.h5.provenance.json
  base.json
  base.mat
  base.mat.provenance.json
  pytest_report.txt
  pytest_report2.txt
  pytest_report_clean.txt
  scripts/check_root_clutter.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

chore(ci): extend the #8766 debt ledger to the dependency-light tests lane
  .github/workflows/ci-standard.yml
  scripts/config/unit_gate_quarantine.json
Due: none

fix(gates): clear the four remaining masked repo-structure layers
  SPEC.md
  scripts/config/suite_marker_baseline.json
  src/shared/python/tests/test_contracts_shared.py
  src/shared/python/tests/test_cors.py
  src/shared/python/tests/test_god_class_guard.py
  src/shared/python/tests/test_import_boundaries.py
  src/shared/python/tests/test_safe_eval.py
  src/shared/python/tests/ui/test_auto_complete.py
  src/shared/python/tests/ui/test_hover_copy_browser.py
  tests/research/test_articulated_distributed_atlas.py
  tests/research/test_articulated_ground_atlas_evidence.py
  tests/research/test_articulated_ground_diagnostic_evidence.py
  tests/research/test_articulated_ground_reference_invariance.py
  tests/research/test_articulated_inertia_cross_engine.py
  tests/research/test_spatial_full_body_cross_formulation.py
  tests/support/mock_physics_engine.py
  tests/unit/launch_monitor/test_corpus.py
  tests/unit/test_energy_monitor.py
  tests/unit/test_gui_launcher_manifest_targets.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(auth): retarget stale TODO references in fail-closed login errors
  src/shared/python/ai/auth/authentication.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

revert(auth) + gate: resolve the placeholder/child-copy jurisdiction deadlock
  .github/workflows/ci-standard.yml
  src/shared/python/ai/auth/authentication.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): restore repo-structure-gates on main (#8771)
  .gitignore
  SPEC.md
  base.csv
  base.h5.provenance.json
  base.json
  base.mat
  base.mat.provenance.json
  patch_trace2.py
  pytest_report.txt
  pytest_report2.txt
  pytest_report_clean.txt
  scripts/check_root_clutter.py
  scripts/config/dry_duplication_baseline.json
  src/robotics/planning/collision/_primitive_shapes.py
  tests/research/test_articulated_contact_projection.py
  tests/research/test_articulated_distributed_atlas.py
  tests/research/test_articulated_distributed_forward.py
  tests/research/test_articulated_distributed_grip.py
  tests/research/test_articulated_forward_contact.py
  tests/research/test_articulated_ground.py
  tests/research/test_articulated_ground_atlas.py
  tests/research/test_articulated_ground_atlas_evidence.py
  tests/research/test_articulated_ground_diagnostic.py
  tests/research/test_articulated_ground_diagnostic_evidence.py
  tests/research/test_articulated_ground_forward.py
  tests/research/test_articulated_ground_posthoc_sensitivity.py
  tests/research/test_articulated_ground_reference_invariance.py
  tests/research/test_articulated_inertia_cross_engine.py
  tests/research/test_articulated_shaft.py
  tests/research/test_articulated_shaft_atlas.py
  tests/research/test_articulated_shaft_forward.py
  tests/research/test_articulated_slack_contact.py
  tests/research/test_articulated_slack_forward.py
  tests/research/test_spatial_full_body_cross_formulation.py
  tests/unit/launch_monitor/test_corpus.py
  tests/unit/test_gui_launcher_manifest_targets.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(ci): stop three workflows publishing the required `quality-gate` check (#8747)
  .github/workflows/ci-standard.yml
  .github/workflows/docs-ci.yml
  .github/workflows/quality-gate.yml
  SPEC.md
  base.csv
  base.h5.provenance.json
  base.json
  base.mat
  base.mat.provenance.json
  patch_trace2.py
  pytest_report.txt
  pytest_report2.txt
  pytest_report_clean.txt
  scripts/check_root_clutter.py
  scripts/config/dry_duplication_baseline.json
  scripts/config/suite_marker_baseline.json
  scripts/config/unit_gate_quarantine.json
  src/robotics/planning/collision/_primitive_shapes.py
  src/shared/python/tests/test_contracts_shared.py
  src/shared/python/tests/test_cors.py
  src/shared/python/tests/test_god_class_guard.py
  src/shared/python/tests/test_import_boundaries.py
  src/shared/python/tests/test_safe_eval.py
  src/shared/python/tests/ui/test_auto_complete.py
  src/shared/python/tests/ui/test_hover_copy_browser.py
  tests/ci/test_ci_infrastructure.py
  tests/conftest.py
  tests/research/test_articulated_distributed_atlas.py
  tests/research/test_articulated_ground_atlas_evidence.py
  tests/research/test_articulated_ground_diagnostic_evidence.py
  tests/research/test_articulated_ground_reference_invariance.py
  tests/research/test_articulated_inertia_cross_engine.py
  tests/research/test_spatial_full_body_cross_formulation.py
  tests/support/mock_physics_engine.py
  tests/unit/launch_monitor/test_corpus.py
  tests/unit/scripts/test_docs_ci_governance.py
  tests/unit/test_energy_monitor.py
  tests/unit/test_gui_launcher_manifest_targets.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

chore(vendor): bump ud-tools — heavy-hit epic H1-H3 (#8767)
  AGENT_HANDOFF.md
  SPEC.md
Due: none

Load the private shot corpus from the analytics workbench (#8769)
  SPEC.md
  src/tools/launch_monitor_analytics/gui.py
  tests/ui/tools/launch_monitor/test_gui.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(handoff): rewrite for post-#8747 reality so any agent can pick this up (#8779)
  AGENT_HANDOFF.md
Due: none

fix(deployment): restore False-returning hardware connect stubs (#8771) (#8777)
  SPEC.md
  src/deployment/teleoperation/devices.py
  tests/deployment/test_teleoperation.py
  tests/deployment/wave5_deployment/test_teleoperation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Bind the Dispersion and Trends tabs to corpus data (#8780)
  SPEC.md
  src/shared/python/launch_monitor/corpus.py
  tests/unit/launch_monitor/test_corpus.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(repo): git-ignore the root artefacts that keep getting committed (#8771) (#8778)
  .gitignore
  SPEC.md
Due: none

fix(docker): make the modular builder slice self-sufficient (#8771) (#8781)
  SPEC.md
  scripts/docker/install_features.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

fix(ci): stop the tests lane reporting green without running (#8771) (#8774)
  .github/workflows/ci-standard.yml
  SPEC.md
  tests/ci/test_ci_infrastructure.py
Due: pytest-unit

Fix: Clear the 82 Ruff Errors, Bandit Findings, and Frontend Lock Breakage Redding Main's Own CI (#8768)
  .github/workflows/ci-standard.yml
  SPEC.md
  scripts/check_document_title_case.py
  scripts/research/proximal_distal_energy/extract_wscg_charts.py
  scripts/research/proximal_distal_energy/optimize_article_pdf.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

test(research, #8751 #8752): qualify distributed grip friction and manufactured uncertainty controls (#8783)
  SPEC.md
  docs/research/proximal_distal_energy_transfer/CHECKSUMS.sha256
  docs/research/proximal_distal_energy_transfer/data/articulated_distributed_grip_atlas.json
  docs/research/proximal_distal_energy_transfer/data/articulated_distributed_grip_atlas.npz
  docs/research/proximal_distal_energy_transfer/data/articulated_uncertainty_study.json
  docs/research/proximal_distal_energy_transfer/data/articulated_uncertainty_study.npz
  docs/research/proximal_distal_energy_transfer/data/claim_evidence_manifest.json
  docs/research/proximal_distal_energy_transfer/figures/fig_articulated_distributed_grip_atlas.pdf
  docs/research/proximal_distal_energy_transfer/figures/fig_articulated_distributed_grip_atlas.svg
  docs/research/proximal_distal_energy_transfer/release_manifest.json
  scripts/check_document_title_case.py
  scripts/research/proximal_distal_energy/articulated_distributed_atlas.py
  scripts/research/proximal_distal_energy/articulated_distributed_forward.py
  scripts/research/proximal_distal_energy/articulated_distributed_grip.py
  scripts/research/proximal_distal_energy/articulated_forward_integration.py
  scripts/research/proximal_distal_energy/articulated_manufactured_solution.py
  scripts/research/proximal_distal_energy/articulated_uncertainty_study.py
  scripts/research/proximal_distal_energy/register_distributed_grip_claims.py
  tests/research/test_articulated_distributed_friction.py
  tests/research/test_articulated_manufactured_solution.py
  tests/research/test_articulated_uncertainty_study.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

docs: update AGENT_HANDOFF.md with completed physics epics (#8784)
  AGENT_HANDOFF.md
Due: none

⚡ Bolt: Optimize phase space path length calculation by using np.hypot and array.sum() (#8786)
  src/shared/python/analysis/power_work_metrics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(research): cite canonical Proximal-to-Distal technical monograph in AffineDrift (#8787)
  SPEC.md
  docs/research/proximal_distal_energy_transfer/README.md
Due: none

fix(deps): revert broken typescript bump to restore npm ci
  ui/package-lock.json
  ui/package.json
Due: none

docs(spec): bump SPEC.md to 1.0.554 for PR #8743
  SPEC.md
Due: none

test(ai): correct the adapter tests that never followed the implementation (#8771) (#8775)
  SPEC.md
  tests/ai/test_ai_adapters.py
  tests/unit/shared_python/ai/adapters/test_ai_adapters_base.py
  tests/unit/shared_python/ai/adapters/test_gemini_adapter.py
  tests/unit/shared_python/ai/adapters/test_ollama_adapter.py
  ui/package-lock.json
  ui/package.json
Due: pytest-unit

fix(frontend,spec): fix fast-refresh lint in AboutModal and restore Current Version row in SPEC.md
  SPEC.md
  ui/src/components/ui/AboutModal.tsx
Due: no-debugger

⚡ Bolt: optimize surrogate gradient and nlml calculation (#8785)
  SPEC.md
  src/bunkershot3d/study/surrogate.py
  src/shared/python/analysis/power_work_metrics.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(bunkershot3d): recover the cross-tier budget commit dropped by a merge race (#8743)
  SPEC.md
  src/tools/bunker_shot_gui/bridge.py
  src/tools/bunker_shot_gui/crosstier_run.py
  src/tools/bunker_shot_gui/gui.py
  src/tools/bunker_shot_gui/render_crosstier.py
  tests/tools/bunker_shot_gui/test_crosstier_run.py
  ui/src/components/ui/AboutModal.tsx
Due: no-wildcard-imports, no-debug-statements, no-debugger, pytest-unit, radon

docs: update handoff and publish sidekick unified integration epic (#8788)
  AGENT_HANDOFF.md
  docs/development/epic_sidekick_unified_impact_model_and_launcher_integration.md
Due: none

⚡ Bolt: Fast NumPy reductions and norm computations (#8782)
  .github/workflows/ci-standard.yml
  .github/workflows/cross-engine-equivalence.yml
  .jules/bolt.md
  SPEC.md
  scripts/check_document_title_case.py
  scripts/research/proximal_distal_energy/extract_wscg_charts.py
  src/bunkershot3d/study/surrogate.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/MachineLearning/calibrate_club_target_to_sim.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/MachineLearning/evaluate_matching_workflow.py
  src/engines/physics_engines/mujoco/python/motion_matching/viz/render_swing.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

test: harden articulated manufactured controls
  AGENT_HANDOFF.md
  scripts/research/proximal_distal_energy/articulated_forward_integration.py
  scripts/research/proximal_distal_energy/articulated_manufactured_solution.py
  tests/research/test_articulated_manufactured_solution.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

feat: expose articulated uncertainty controls
  AGENT_HANDOFF.md
  scripts/research/proximal_distal_energy/articulated_ground_atlas.py
  scripts/research/proximal_distal_energy/articulated_shaft.py
  scripts/research/proximal_distal_energy/articulated_shaft_atlas.py
  tests/research/test_articulated_ground_atlas.py
  tests/research/test_articulated_shaft.py
  tests/research/test_articulated_shaft_atlas.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit
