Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

no-wildcard-imports:
  name: no wildcard imports (Python)
  entry: from .* import \*(?!.*noqa)
  language: pygrep

no-debug-statements:
  name: no debug statements (Python)
  entry: (?:^|\s)(breakpoint\(|import pdb|pdb\.set_trace)
  language: pygrep

no-print-in-src:
  name: no print() in src (Python)
  entry: ^\s*print\((?!.*noqa)
  language: pygrep

no-console-log:
  name: no console.log in src (JS)
  entry: console\.(log|debug|info)\(
  language: pygrep

no-debugger:
  name: no debugger (JS)
  entry: ^\s*debugger
  language: pygrep

pytest-unit:
  name: pytest (Python tests)
  stages:
  - pre-push
  entry: pytest
  args:
  - tests/unit/api
  - tests/unit/ai
  - tests/unit/engines
  - tests/unit/robotics
  - -x
  - -q
  - --tb=short
  - --timeout=15
  - -m
  - not slow and not integration
  language: system
  pass_filenames: false

radon:
  name: radon (complexity check)
  stages:
  - pre-push
  entry: radon
  args:
  - cc
  - --min
  - C
  - --show-complexity
  - --total-average
  language: python
  additional_dependencies:
  - radon
  pass_filenames: true

fix(pipeline): trim calibrate function under architecture budget
  src/shared/python/motion_matching/pipeline/cli.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): satisfy architecture budget and SPEC.md gate for MS-16
  SPEC.md
  src/shared/python/motion_matching/pipeline/cli.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): deduplicate MS-16 IK and mj_inverse tracking paths
  src/engines/physics_engines/mujoco/python/ik_minimize.py
  src/engines/physics_engines/mujoco/python/inverse_dynamics.py
  src/shared/python/motion_matching/full_body_forward_dynamics.py
  src/shared/python/motion_matching/full_body_ik.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): satisfy architecture budget and enable native backend tile
  src/engines/physics_engines/mujoco/python/inverse_dynamics.py
  src/shared/python/motion_matching/full_body_forward_dynamics.py
  src/shared/python/motion_matching/pipeline/cli.py
  src/tools/motion_matching/gui.py
  src/tools/motion_matching/pipeline.py
  tests/tools/motion_matching/test_pipeline.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(evidence): commit anthro_driver_native_tools receipt for MS-16
  docs/development/DEVELOPMENT_LOG.md
  docs/development/full_body_models/evidence/ground_support/anthro_driver_native_tools/dynamics_record.npz
  docs/development/full_body_models/evidence/ground_support/anthro_driver_native_tools/full_body_spec_hipcal.json
  docs/development/full_body_models/evidence/ground_support/anthro_driver_native_tools/full_body_spec_hipcal_scaled.json
  docs/development/full_body_models/evidence/ground_support/anthro_driver_native_tools/ik_playback.gif
  docs/development/full_body_models/evidence/ground_support/anthro_driver_native_tools/ik_trajectory.npz
  docs/development/full_body_models/evidence/ground_support/anthro_driver_native_tools/receipt.json
  docs/development/full_body_models/evidence/ground_support/anthro_driver_native_tools/tracking_playback.gif
Due: none

fix(ci): unblock MS-16 FakePlant ik_backend and ledger freshness
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  reports/matched_swing_ledger.json
  tests/unit/motion_matching/pipeline/test_lane_engine_agnostic.py
Due: pytest-unit

fix(ci): sync matched-swing status and ledger count assert for MS-16
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/matched_swing_program/README.md
  reports/matched_swing_ledger.json
  tests/tools/matched_swing_browser/test_matched_swing_browser_gui.py
  tests/tools/matched_swing_browser/test_model.py
Due: pytest-unit

chore(ci): prettier-format MS-16 ledger and status docs
  docs/development/matched_swing_program/README.md
  reports/matched_swing_ledger.json
Due: none

fix: always pass bounds to minimize.least_squares and preserve weld constraints in mj_inverse audit
  src/engines/physics_engines/mujoco/python/ik_minimize.py
  src/engines/physics_engines/mujoco/python/inverse_dynamics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: key CO-01 SPEC changelog to PR #10670
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

feat(myosuite): kinematic replay with retarget map and marker parity receipt (MS-52) (#10666)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/matched_swing_program/README.md
  evidence/matched/driver_g1_myosuite/candidate.npz
  evidence/matched/driver_g1_myosuite/playback.gif
  evidence/matched/driver_g1_myosuite/receipt.json
  reports/matched_swing_ledger.json
  src/engines/physics_engines/myosuite/python/coordinate_map_anthro.json
  src/engines/physics_engines/myosuite/python/golfer_scene.py
  src/engines/physics_engines/myosuite/python/replay.py
  src/engines/physics_engines/myosuite/python/retarget.py
  src/engines/physics_engines/myosuite/python/viz/__init__.py
  src/engines/physics_engines/myosuite/python/viz/render_replay.py
  src/shared/python/motion_matching/cross_engine_replay.py
  src/tools/tour_matching_viewer/core.py
  tests/myosuite/generate_evidence_ms52.py
  tests/myosuite/test_replay_native.py
  tests/tools/matched_swing_browser/test_model.py
  tests/unit/engines/myosuite/test_cross_engine_registration.py
  tests/unit/engines/myosuite/test_retarget.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: pass tracking_backend to replay in shooting_fit
  src/shared/python/motion_matching/pipeline/cli.py
  src/shared/python/motion_matching/pipeline/dynamics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: enforce run_id validation and detect actual hostname in MS-60 scripts
  scripts/matlab/run_simscape_candidate.m
  scripts/matlab/run_simscape_candidate.ps1
Due: none

fix: correct event index remapping, hash stability, and club length comparison
  src/shared/python/motion_matching/club_calibration.py
  src/shared/python/motion_matching/club_only/observation.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): restore MS-16 native_tools ledger row and refresh status
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/matched_swing_program/README.md
  reports/matched_swing_ledger.json
Due: none

fix: audit validates returned torques and report actual IK iterations
  src/engines/physics_engines/mujoco/python/ik_minimize.py
  src/engines/physics_engines/mujoco/python/inverse_dynamics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(mujoco): restore finite-bounds gate for minimize.least_squares
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/engines/physics_engines/mujoco/python/ik_minimize.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

NM-00: Audit existing datasets, checkpoints and training claims (#10668)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/plans/neural_motion_matching/artifact_audit.md
  docs/plans/neural_motion_matching/evidence/nm00_artifact_audit_receipt.json
  docs/plans/neural_motion_matching/evidence/nm00_coverage_matrix.json
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/motion_matching/surrogate/artifact_paths.py
  src/shared/python/motion_matching/surrogate/nm00_audit.py
  src/shared/python/motion_matching/surrogate/perstep/extract_dataset.py
  src/shared/python/neural_motion/__init__.py
  src/shared/python/neural_motion/audit.py
  src/shared/python/neural_motion/catalog.py
  src/shared/python/neural_motion/claims.py
  src/shared/python/neural_motion/coverage.py
  src/shared/python/neural_motion/types.py
  tests/unit/neural_motion/test_artifact_audit.py
  tests/unit/neural_motion/test_artifact_identity_dbc.py
  tests/unit/neural_motion/test_surrogate_nm00_discovery.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(adapters): preserve impact index in ClubObservation/ClubTarget round-trips
  src/shared/python/motion_matching/club_only/adapters.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: correct SHA field naming in export_candidate and normalize SHAs in Python manifest builder
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/motion_matching/shared/export_candidate.m
  src/shared/python/motion_matching/simscape_run_manifest.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): satisfy architecture budget for MS-16 shooting_fit
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/shared/python/motion_matching/pipeline/__init__.py
  src/shared/python/motion_matching/pipeline/cli.py
  src/shared/python/motion_matching/pipeline/dynamics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
