Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

⚡ Bolt: Replace hardcoded array reductions with dimension-agnostic einsum (#2655)
  SPEC.md
  src/shared/python/physics/ground_reaction_forces.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Optimize array reductions in Drake PerturbationAnalyzer (#2654)
  .gitignore
  SPEC.md
  src/engines/physics_engines/drake/python/perturbation/analyzer.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(submodule): restore missing vendor/ud-tools entry in .gitmodules (#2659)
  .github/workflows/ci-optional-stack.yml
  .github/workflows/ci-standard.yml
  .gitmodules
  pyproject.toml
Due: none

fix(ci): resolve quality-gate --output-format and Xvfb pyvirtualdisplay failures (#2660)
  .github/workflows/ci-standard.yml
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-13.md
Due: none

fix(ci): resolve main CI baseline failures blocking all PRs (#2665)
  .github/workflows/ci-standard.yml
  tests/unit/test_golf_launcher_logic.py
Due: pytest-unit

chore(deps): upgrade black, bokeh, flask, requests to fix 5 CVEs (issue #2653)
  .github/workflows/ci-standard.yml
  pyproject.toml
  requirements-dev.lock
Due: none

⚡ Bolt: Optimize norm calculation in collision checker (#2661)
  SPEC.md
  src/robotics/planning/collision/collision_checker.py
  src/robotics/planning/collision/collision_types.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix(ci): exclude vendor/ from TODO/FIXME placeholder check (#2669)
  .github/workflows/ci-standard.yml
Due: none

⚡ Bolt: Optimize trajectory segment length calculation (#2662)
  SPEC.md
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-14.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/services/analysis.py
  src/shared/python/contracts.py
  src/shared/python/core/contracts/decorators.py
  tests/unit/test_api_services.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): comprehensive CI infrastructure fixes (mypy, idna, sortedcontainers, Xvfb)
  .github/workflows/ci-optional-stack.yml
  .github/workflows/ci-standard.yml
  SPEC.md
  pyproject.toml
Due: none

Fix: Issue #2666 - Update PyQt tests to use pytest-qt (#2671)
  SPEC.md
  docs/review_archive/review_comments_2026-04-14.md
  tests/unit/test_golf_launcher_logic.py
Due: pytest-unit

⚡ Bolt: handedness_support einsum optimizations (replaces #2663, #2664) (#2674)
  SPEC.md
  src/shared/python/config/handedness_support.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(tests): resolve pre-existing CI test failures (Pinocchio, mediapipe, Drake perturbation) (#2673)
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-14.md
  src/engines/physics_engines/drake/python/perturbation/analyzer.py
  src/engines/physics_engines/pinocchio/python/pinocchio_physics_engine.py
  src/shared/python/engine_core/engine_availability.py
  tests/unit/test_pinocchio_physics_engine.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(ci): exclude vendor/ submodule from Bandit security scan (#2676)
  .github/workflows/ci-standard.yml
Due: none

Fix: Remove script parameter assertions (Issue #2670) (#2672)
  scripts/script_utils.py
  tests/scripts/test_script_utils.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit

security: resolve 18 of 20 Dependabot vulnerabilities (14 high, 4 medium) (#2677)
  .github/workflows/ci-standard.yml
  requirements-dev.lock
  src/api/routes/force_overlays.py
  src/api/routes/video.py
  src/engines/physics_engines/drake/python/requirements-ci.txt
  src/engines/physics_engines/pinocchio/python/requirements-ci.txt
  src/robotics/locomotion/footstep_planner.py
  src/shared/python/data_io/export.py
  src/shared/python/data_io/output_manager.py
  src/shared/python/physics/impact_model/solver.py
  src/shared/python/physics/impact_model/utils.py
  src/tools/video_analyzer/analyzer.py
  ui/package-lock.json
  ui/package.json
  ui/src-tauri/Cargo.lock
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix: harden model downloads and export PyVista backend (#2678)
  .github/workflows/ci-optional-stack.yml
  .github/workflows/ci-standard.yml
  .github/workflows/tauri-build.yml
  Cargo.toml
  SPEC.md
  src/api/routes/force_overlays.py
  src/api/routes/video.py
  src/robotics/locomotion/footstep_planner.py
  src/shared/python/data_io/export.py
  src/shared/python/data_io/output_manager.py
  src/shared/python/model_generation/library/model_library.py
  src/shared/python/physics/impact_model/solver.py
  src/shared/python/physics/impact_model/utils.py
  src/tools/video_analyzer/analyzer.py
  src/unreal_integration/__init__.py
  tests/unit/engines/mujoco/test_motion_optimization.py
  tests/unit/engines/putting_green/test_simulator.py
  tests/unit/pendulum_simulator/test_panel_builders_helpers.py
  tests/unit/test_unreal_integration/test_visualization_vr_backends.py
  tests/unit/tools/model_generation/test_security_fixes.py
  ui/package-lock.json
  ui/package.json
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

test: mark process isolation subprocess tests as slow to prevent CI timeout (#2679)
  .pre-commit-config.yaml
  tests/unit/test_process_isolation_strict.py
Due: pytest-unit

fix: prevent test_paths_utils false failure from /tmp/pyproject.toml (#2680)
  SPEC.md
  tests/unit/upstream_drift_tools/test_paths_utils.py
Due: pytest-unit

refactor(editor): GH-1998 extract history mixin and align with Tools (#2681)
  src/shared/python/model_generation/editor/_text_editor_validation.py
  src/shared/python/model_generation/editor/text_editor.py
  src/shared/python/model_generation/editor/text_editor_diff_mixin.py
  src/shared/python/model_generation/editor/text_editor_history_mixin.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Optimize array reductions with np.einsum (#2682)
  SPEC.md
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/ui/tabs/analysis_tab.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/python/src/apps/ui/tabs/marker_plot_tab.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/motion_capture.py
  tests/unit/engines/pinocchio/test_iaa_external.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: Align notes, chat, data_processing, plot_theme with canonical Tools repo and add drift guards (#2684)
  SPEC.md
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-15.md
  src/shared/python/chat/tests/__init__.py
  src/shared/python/chat/tests/test_chat.py
  src/shared/python/chat/tests/test_chat_drift.py
  src/shared/python/data_processing/processor.py
  src/shared/python/data_processing/tests/__init__.py
  src/shared/python/data_processing/tests/test_data_processing_drift.py
  src/shared/python/data_processing/tests/test_processor.py
  src/shared/python/notes/test_notes_drift.py
  src/shared/python/plot_theme/tests/__init__.py
  src/shared/python/plot_theme/tests/test_plot_theme.py
  src/shared/python/plot_theme/tests/test_plot_theme_drift.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore: Align calc_backend with canonical Tools repo and add drift guard (#2683)
  SPEC.md
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-15.md
  src/shared/python/calc_backend/routers/ode_solver.py
  src/shared/python/calc_backend/routers/rotation_converter.py
  src/shared/python/calc_backend/routers/thermal_profile.py
  src/shared/python/calc_backend/tests/__init__.py
  src/shared/python/calc_backend/tests/test_calc_backend.py
  src/shared/python/calc_backend/tests/test_calc_backend_drift.py
  src/shared/python/calc_backend/tests/test_calc_backend_gaps.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

ci: archive disabled remediation workflows (#2685)
  .github/workflows/archived/assessment-auto-fix.yml.disabled
  .github/workflows/archived/auto-remediate-issues.yml.disabled
  SPEC.md
Due: none

ci: isolate core test dependencies (#2687)
  .github/workflows/ci-standard.yml
  SPEC.md
Due: none

⚡ Bolt: [performance improvement] Replace np.sum(diff**2) with np.einsum (#2686)
  .jules/bolt.md
  SPEC.md
  src/shared/python/analysis/nonlinear_dynamics.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: Optimize array reductions with np.einsum (#2688)
  SPEC.md
  src/shared/python/analysis/angular_momentum.py
  src/shared/python/analysis/coordination_metrics.py
  src/shared/python/analysis/grf_metrics.py
  src/shared/python/analysis/nonlinear_dynamics.py
  src/shared/python/analysis/stability_metrics.py
  src/shared/python/biomechanics/ztcf.py
  src/shared/python/dashboard/advanced_analysis.py
  src/shared/python/dashboard/widgets.py
  src/shared/python/data_io/marker_mapping.py
  src/shared/python/gui_pkg/plot_generator.py
  src/shared/python/humanoid_character_builder/mesh/collision_generator.py
  src/shared/python/physics/ball_flight_physics.py
  src/shared/python/plotting/renderers/club.py
  src/shared/python/plotting/renderers/dashboard.py
  src/shared/python/plotting/renderers/kinetics.py
  src/shared/python/plotting/renderers/stability.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

ci: fallback auto-repair token (#2689)
  .github/workflows/Jules-Auto-Repair.yml
  SPEC.md
  src/shared/python/__init__.py
  tests/unit/shared_python/test_engine_loaders_coverage.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

⚡ Bolt: [performance improvement] Replace np.sum axis reduction with np.einsum for faster distance computation (#2692)
  .jules/bolt.md
  SPEC.md
  src/shared/python/pose_estimation/validation_metrics.py
  src/shared/python/validation_pkg/data_fitting.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: harden engine physics conventions (#2729)
  SPEC.md
  src/engines/common/capabilities.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/physics_engine.py
  src/engines/physics_engines/opensim/python/opensim_physics_engine.py
  src/engines/physics_engines/pinocchio/python/pinocchio_physics_engine.py
  src/shared/python/engine_core/capabilities.py
  tests/integration/test_physics_engines_strict.py
  tests/unit/test_engine_capabilities.py
  tests/unit/test_opensim_physics_engine.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: harden Pinocchio RK4 integration (#2730)
  SPEC.md
  src/engines/physics_engines/pendulum/python/golf_swing_physics_engine.py
  src/engines/physics_engines/pinocchio/python/pinocchio_physics_engine.py
  tests/physics_validation/test_energy_conservation.py
  tests/unit/test_issue_2699_integrators.py
  tests/unit/test_pinocchio_physics_engine.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

Add A-N assessment for 2026-04-17
  docs/assessments/A-N_Assessment_2026-04-17.md
  docs/assessments/assessment_summary.json
Due: none

docs(assessments): update README.md for A-N Assessment 2026-04-17
  docs/assessments/README.md
Due: none

fix: build/deploy hardening — Dockerfile digest pin, Cargo path docs, compose hygiene (#2742)
  .Jules/bolt.md
  .jules/bolt.md
  Cargo.toml
  Dockerfile
  SPEC.md
  build_hooks.py
  docker-compose.yml
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-04-17.md
  install.sh
  scripts/setup_hooks.py
  src/api/local_server.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/apps/golf_gui/Simscape Multibody Data Plotters/Python Version/integrated_golf_gui_r0/detailed_data_analysis.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/apps/golf_gui/Simscape Multibody Data Plotters/Python Version/integrated_golf_gui_r0/golf_video_export.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/apps/golf_gui/Simscape Multibody Data Plotters/Python Version/integrated_golf_gui_r0/golf_wiffle_main.py
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/src/apps/golf_gui/Simscape Multibody Data Plotters/Python Version/integrated_golf_gui_r0/wiffle_data_loader.py
  src/engines/physics_engines/mujoco/python/humanoid_launcher.py
  src/engines/physics_engines/mujoco/python/humanoid_launcher_ui.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/polynomial_generator.py
  src/engines/physics_engines/mujoco/python/mujoco_humanoid_golf/recording_library.py
  src/launchers/golf_launcher.py
  src/launchers/shot_tracer.py
  src/launchers/startup.py
  src/shared/python/ai/gui/assistant_panel.py
  src/shared/python/ai/gui/settings_dialog.py
  src/shared/python/data_io/dataset_generator/core.py
  src/shared/python/gui_pkg/help_system.py
  src/shared/python/humanoid_character_builder/contracts.py
  src/shared/python/model_generation/core/contracts.py
  src/shared/python/signal_toolkit/polynomial_generator.py
  src/shared/python/theme/dialogs/custom_theme_editor.py
  src/shared/python/upstream_drift_tools/ui/widgets/mixins/data_processor_ops.py
  src/tools/model_explorer/mujoco_viewer.py
  src/tools/model_explorer/visualization_widget.py
  tests/unit/test_engine_manager.py
  tests/unit/tools/humanoid_character_builder/test_mesh_generators.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: clear Windows credential helper on WSL runner before git checkout
  .github/workflows/Bot-CI-Trigger.yml
Due: none

fix: reduce deep object traversal in UIBuildHook (issue #2741) (#2745)
  SPEC.md
  build_hooks.py
  tests/unit/test_build_hooks.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit
