Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

feat(estimation): implement baseline and frozen benchmark protocol (#11422)
  SPEC.md
  docs/development/HANDOFF.md
  src/shared/python/estimation/__init__.py
  src/shared/python/estimation/dime_manifest.py
  src/shared/python/estimation/synthetic_fixtures.py
  tests/unit/estimation/test_dime_benchmark_manifest.py
  tests/unit/estimation/test_synthetic_ground_truth.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(estimation): [DIME-01] baseline and frozen benchmark protocol (#11422)
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/shared/python/estimation/__init__.py
  src/shared/python/estimation/benchmark_fixtures.py
  src/shared/python/estimation/benchmark_manifest.py
  tests/unit/estimation/test_dime_benchmark_manifest.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(estimation): extract time grid helper and simplify disjoint check for DRY ratchet (#11422)
  src/shared/python/estimation/dime_manifest.py
  src/shared/python/estimation/synthetic_fixtures.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(spec): document DIME-01 benchmark protocol in changelog (#11454)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
Due: none

docs(spec): reference PR #11452 and retain retirement tests for plotting shims (#11347)
  SPEC.md
  tests/unit/force_overlay/test_renderer_shims.py
  tests/unit/plotting/test_force_vector_renderer.py
Due: pytest-unit

fix(estimation): satisfy Law of Demeter in benchmark manifest serialization (#11454)
  src/shared/python/estimation/benchmark_manifest.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(estimation): ZTCF-anchored kinematic matching with bounded torque bands (DIME)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/estimation/drift_anchored_matching.md
  manuals/upstreamdrift/calculation-registry.json
  src/shared/python/estimation/__init__.py
  src/shared/python/estimation/drift_anchored_matcher.py
  src/shared/python/estimation/drift_prediction.py
  src/shared/python/estimation/local_torque_window.py
  src/shared/python/estimation/matching_quality.py
  src/shared/python/estimation/synthetic_swing.py
  tests/unit/estimation/test_dime_drift_anchored_matcher.py
  tests/unit/estimation/test_dime_drift_prediction.py
  tests/unit/estimation/test_dime_local_window.py
  tests/unit/estimation/test_matching_quality.py
  tests/unit/estimation/test_synthetic_swing.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(docs): regenerate shared tools divergence inventory for dime_manifest (#11422)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

test(force_overlay): restore original glyph-set-examples floating-point precision (#11347)
  schemas/glyph-set-examples.json
Due: none

refactor(estimation): eliminate duplicated fixture assembly logic
  src/shared/python/estimation/benchmark_fixtures.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(estimation): uninterrupted replay refinement with discrepancy knot selection (DIME-09)
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/estimation/drift_anchored_matching.md
  src/shared/python/estimation/__init__.py
  src/shared/python/estimation/replay_refinement.py
  src/shared/python/estimation/synthetic_swing.py
  tests/unit/estimation/conftest.py
  tests/unit/estimation/test_dime_drift_anchored_matcher.py
  tests/unit/estimation/test_dime_replay_refinement.py
  tests/unit/estimation/test_matching_quality.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(estimation): implement state, observation and dynamics provider contracts (#11423)
  SPEC.md
  docs/development/HANDOFF.md
  src/shared/python/estimation/__init__.py
  src/shared/python/estimation/dime_contracts.py
  src/shared/python/estimation/dime_manifold.py
  src/shared/python/estimation/dime_providers.py
  tests/unit/estimation/test_dime_provider_contracts.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(estimation): implement baseline and frozen benchmark protocol (#11422) (#11453)
  SPEC.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/estimation/__init__.py
  src/shared/python/estimation/dime_manifest.py
  src/shared/python/estimation/synthetic_fixtures.py
  tests/unit/estimation/test_dime_benchmark_manifest.py
  tests/unit/estimation/test_synthetic_ground_truth.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(estimation): keep DIME functions within the architecture budget
  AGENT_HANDOFF.md
  docs/development/HANDOFF.md
  src/shared/python/estimation/drift_anchored_matcher.py
  src/shared/python/estimation/local_torque_window.py
  src/shared/python/estimation/replay_refinement.py
  tests/unit/estimation/test_dime_local_window.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(necromatcher): authenticate lossless restriction seeds
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/historical_capture/conditional-camera-report-review.json
  docs/development/necromatcher-conditional-camera-and-scope-report.tex
  docs/development/necromatcher-conditional-camera-and-scope.md
  docs/development/necromatcher-turnover.md
  src/shared/python/workspace/necromatcher_fit.py
  src/shared/python/workspace/necromatcher_fit_jobs.py
  src/shared/python/workspace/necromatcher_fit_records.py
  src/shared/python/workspace/necromatcher_fit_worker.py
  src/shared/python/workspace/necromatcher_spline_restriction.py
  tests/unit/workspace/restriction_fixture.py
  tests/unit/workspace/test_necromatcher_restriction_options.py
  tests/unit/workspace/test_necromatcher_restriction_queue.py
  tests/unit/workspace/test_necromatcher_restriction_worker.py
  tests/unit/workspace/test_necromatcher_restriction_worker_auth.py
  tests/unit/workspace/test_necromatcher_spline_restriction.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(estimation): implement state, observation and dynamics provider contracts (#11423)
  SPEC.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/estimation/__init__.py
  src/shared/python/estimation/dime_contracts.py
  src/shared/python/estimation/dime_manifold.py
  src/shared/python/estimation/dime_providers.py
  tests/unit/estimation/test_dime_provider_contracts.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(estimation): [DIME-02] state, observation and dynamics provider contracts (#11423)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/shared/python/estimation/__init__.py
  src/shared/python/estimation/dime_contracts.py
  tests/unit/estimation/test_dime_provider_contracts.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

refactor(plotting): [FTO-7] remove deprecated force_vectors and vectors shims (#11347) (#11452)
  SPEC.md
  docs/architecture/PROJECT_MAP.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/plotting/renderers/force_vectors.py
  src/shared/python/plotting/renderers/vectors.py
  tests/unit/force_overlay/test_renderer_shims.py
  tests/unit/plotting/test_force_vector_renderer.py
  tests/unit/test_plotting_renderers.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(estimation): implement robust marker and markerless observation factors (#11424)
  SPEC.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/estimation/__init__.py
  src/shared/python/estimation/dime_observation_factors.py
  tests/unit/estimation/test_dime_observation_factors.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(estimation): update SPEC and HANDOFF with PR #11457 (#11424)
  docs/development/HANDOFF.md
Due: none

fix(docs): register DIME estimation modules in the shared-tools divergence inventory
  AGENT_HANDOFF.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

fix(estimation): reduce observation factor parameter counts to meet architecture budget (#11424)
  src/shared/python/estimation/dime_observation_factors.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(estimation): extract shared mask, score, and evaluation helpers to satisfy DRY gate (#11424)
  src/shared/python/estimation/dime_observation_factors.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(refactor): register dime_contracts in monolith register (#11423)
  docs/development/monolith_refactor_register.md
Due: none

docs(refactor): register dime_observation_factors in monolith register (#11424)
  docs/development/monolith_refactor_register.md
Due: none

refactor(estimation): introduce _BaseDimeObservationFactor to eliminate DRY duplicate logic (#11424)
  docs/development/monolith_refactor_register.md
  src/shared/python/estimation/dime_observation_factors.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(estimation): implement robust marker and markerless observation factors (#11424) (#11457)
  SPEC.md
  docs/development/HANDOFF.md
  docs/development/monolith_refactor_register.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/estimation/__init__.py
  src/shared/python/estimation/dime_contracts.py
  src/shared/python/estimation/dime_manifold.py
  src/shared/python/estimation/dime_observation_factors.py
  src/shared/python/estimation/dime_providers.py
  tests/unit/estimation/test_dime_observation_factors.py
  tests/unit/estimation/test_dime_provider_contracts.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(necromatcher): label lossless restriction seed overlays
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/historical_capture/conditional-camera-report-review.json
  docs/development/necromatcher-compact-captions.md
  docs/development/necromatcher-conditional-camera-and-scope-report.tex
  docs/development/necromatcher-conditional-camera-and-scope.md
  docs/development/necromatcher-turnover.md
  src/shared/python/workspace/necromatcher_caption.py
  src/shared/python/workspace/necromatcher_video.py
  tests/unit/workspace/test_necromatcher_caption_restricted_export.py
  tests/unit/workspace/test_necromatcher_caption_restricted_seed.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(estimation): implement uncertain-control ZTCF prediction and estimation criterion (#11425)
  SPEC.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/estimation/__init__.py
  src/shared/python/estimation/dime_drift_prediction.py
  tests/unit/estimation/test_dime_drift_prediction.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(estimation): [DIME-04] uncertain-control ZTCF prediction and estimation criterion (#11425)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  src/shared/python/estimation/__init__.py
  src/shared/python/estimation/drift_prediction.py
  tests/unit/estimation/test_dime_drift_prediction.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(estimation): satisfy architecture budget and type-narrowing in drift prediction (#11425)
  src/shared/python/estimation/dime_drift_prediction.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(estimation): split predict_dime_transition to satisfy architecture budget (#11425)
  src/shared/python/estimation/drift_prediction.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(estimation): [DIME-05] coupled state-control full-dynamics window factors (#11426)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/estimation/__init__.py
  src/shared/python/estimation/dime_window_factors.py
  tests/unit/estimation/test_dime_dynamics_window.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

chore(tools): update divergence inventory for drift prediction (#11425)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

chore(tools): correct divergence inventory with full pinned tools tree (#11425)
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
Due: none

feat(estimation): [DIME-04] uncertain-control ZTCF prediction and estimation criterion (#11425) (#11460)
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/estimation/__init__.py
  src/shared/python/estimation/drift_prediction.py
  tests/unit/estimation/test_dime_drift_prediction.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(estimation): implement coupled state-control full-dynamics window factors (#11426)
  SPEC.md
  docs/development/HANDOFF.md
  docs/shared_tools/divergence_inventory.md
  docs/shared_tools/divergence_inventory.v1.json
  src/shared/python/estimation/__init__.py
  src/shared/python/estimation/dime_dynamics_window.py
  tests/unit/estimation/test_dime_dynamics_window.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(estimation): resolve LoD violations in dime_dynamics_window (#11426)
  src/shared/python/estimation/dime_dynamics_window.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(necromatcher): publish two-hand fit and methods checkpoint
  AGENT_HANDOFF.md
  SPEC.md
  docs/development/DEVELOPMENT_LOG.md
  docs/development/HANDOFF.md
  docs/development/historical_capture/conditional-camera-report-review.json
  docs/development/necromatcher-conditional-camera-and-scope-report.tex
  docs/development/necromatcher-conditional-camera-and-scope.md
  docs/development/necromatcher-turnover.md
Due: none
