Repository D-sorganization/UpstreamDrift: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-wildcard-imports, no-debug-statements, no-print-in-src, no-console-log, no-debugger, pytest-unit, radon

Path conditions:
  no-wildcard-imports: any of: \.py$ and not (^(archive/|legacy/|experimental/|tests/|\.github/|src/shared/python/constants\.py|src/engines/.*constants.*\.py)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debug-statements: any of: \.py$ and not (^(tests/|archive/|legacy/|\.github/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-print-in-src: any of: ^src/ and \.py$ and not ((?x)^(
  src/.*/__main__\.py|
  src/.*/cli/|
  src/.*/docker/|
  src/.*/examples/|
  src/.*/scripts/|
  src/api/|
  src/engines/|
  src/shared/models/|
  src/shared/python/|
  src/launchers/|
  src/tools/|
  src/deployment/|
  src/unreal_integration/|
  src/learning/|
  tests/|
  \.github/
)
) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-console-log: any of: ^src/ and \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  no-debugger: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$ and not (^(tests/|\.github/|node_modules/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)
  pytest-unit: any of: \.py$, but not: (?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)

  radon: any of: ^src/ and \.py$ and not (^(tests/|archive/|legacy/|experimental/)) and not ((?x)^(
  archive/|
  legacy/|
  experimental/|
  \.git/|
  __pycache__/|
  \.mypy_cache/|
  \.ruff_cache/|
  \.pytest_cache/|
  node_modules/|
  \.venv/|
  venv/|
  build/|
  dist/|
  .*\.egg-info/|
  \.next/|
  coverage/|
  third_party/|
  vendor/|
  shared/models/opensim/opensim-models/|
  shared/models/myosuite/myo_sim/|
  src/shared/tools/human-gazebo/|
  src/shared/models/opensim/opensim-models/|
  src/shared/models/myosuite/myo_sim/
)
)

perf(mesh): VHACD decimation + primitive fitting + 1M-tri OOM fix (#5219) (#5256)
  rust_core/upstream-mesh/Cargo.toml
  rust_core/upstream-mesh/src/bindings.rs
  rust_core/upstream-mesh/src/decimation.rs
  rust_core/upstream-mesh/src/lib.rs
  rust_core/upstream-mesh/src/primitives.rs
  src/shared/python/humanoid_character_builder/mesh/_cg_convex_hull.py
  src/shared/python/humanoid_character_builder/mesh/_cg_decimation.py
  src/shared/python/humanoid_character_builder/mesh/_cg_primitive_fitting.py
  tests/rust_bindings/test_mesh_decimation_primitives.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(registry): restore legacy validation in provider_registry.py (#5275)
  src/shared/python/motion_matching/provider_registry.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(ai-backend): wire sqlite-vss extension loading at runtime (#5240) (#5274)
  rust_core/ai_backend/Cargo.toml
  rust_core/ai_backend/src/memory.rs
Due: none

fix(pinocchio-id): validate override array shapes before assigning buffers (#5260) (#5271)
  rust_core/upstream-pinocchio-id/src/driver.rs
Due: none

fix(cmc): report success=False when torques are still placeholder (#5269) (#5270)
  src/shared/python/motion_pipeline/matching/cmc.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

perf(biomechanics): add Hill muscle state kernel (#5246)
  rust_core/upstream-muscle/src/activation.rs
  rust_core/upstream-muscle/src/lib.rs
  rust_core/upstream-muscle/src/model.rs
  rust_core/upstream-muscle/tests/state_activation.rs
Due: none

perf(biomechanics): Hill kernel slice 3 & 4 (equilibrium and multi-muscle) (#5247)
  rust_core/upstream-muscle/src/lib.rs
  rust_core/upstream-muscle/src/multi_muscle.rs
  rust_core/upstream-muscle/src/muscle_equilibrium.rs
  src/shared/python/biomechanics/multi_muscle.py
  src/shared/python/biomechanics/muscle_equilibrium.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(urdf): MJCF parser + writer + Python facade migration (#5282)
  rust_core/upstream-urdf/src/bindings.rs
  rust_core/upstream-urdf/src/lib.rs
  rust_core/upstream-urdf/src/mjcf_ast.rs
  rust_core/upstream-urdf/src/parser/mjcf.rs
  rust_core/upstream-urdf/src/writer/mjcf.rs
  rust_core/upstream-urdf/tests/fixtures/simple_pendulum.xml
  rust_core/upstream-urdf/tests/fixtures/two_link_arm.xml
  rust_core/upstream-urdf/tests/mjcf_repo_corpus.rs
  rust_core/upstream-urdf/tests/mjcf_round_trip.rs
  src/shared/python/model_generation/converters/_mjcf_rust_facade.py
  src/shared/python/model_generation/converters/mjcf_converter.py
  tests/unit/urdf/test_mjcf_rust_facade.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

test(realtime): 24h soak validation for upstream-realtime (#5285)
  .github/workflows/realtime-soak.yml
  tests/soak/__init__.py
  tests/soak/realtime/__init__.py
  tests/soak/realtime/test_24h_soak.py
  tests/unit/realtime/test_ws_soak_smoke.py
Due: pytest-unit

feat(ai-backend): real ONNX embeddings + vector store + indexing (#5286)
  pyproject.toml
  rust_core/ai_backend/Cargo.toml
  rust_core/ai_backend/src/bin/cli.rs
  rust_core/ai_backend/src/lib.rs
  rust_core/ai_backend/src/local_embed.rs
  rust_core/ai_backend/src/memory.rs
  rust_core/ai_backend/src/rag.rs
  src/shared/python/ai/adapters/rust_adapter.py
  tests/ai/test_rust_rag_pipeline.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

perf(aerodynamics): Rust migration — AerodynamicsEngine + WindModel pyclasses (#5291)
  SPEC.md
  rust_core/upstream-physics/src/aero_engine.rs
  rust_core/upstream-physics/src/lib.rs
  rust_core/upstream-physics/src/wind.rs
  src/shared/python/physics/aerodynamics/__init__.py
  src/shared/python/physics/aerodynamics/_rust_facade.py
  tests/rust_bindings/test_aerodynamics_engine_parity.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

perf(biomechanics): full Hill muscle + activation dynamics Rust kernel (#5289)
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-05-12.md
  rust_core/upstream-muscle/Cargo.toml
  rust_core/upstream-muscle/benches/batch.rs
  rust_core/upstream-muscle/benches/compare_python_batch.py
  rust_core/upstream-muscle/pyproject.toml
  rust_core/upstream-muscle/scripts/generate_parity_fixture_full.py
  rust_core/upstream-muscle/src/activation.rs
  rust_core/upstream-muscle/src/batch.rs
  rust_core/upstream-muscle/src/lib.rs
  rust_core/upstream-muscle/src/model.rs
  rust_core/upstream-muscle/src/multi.rs
  rust_core/upstream-muscle/src/multi_muscle.rs
  rust_core/upstream-muscle/src/muscle_equilibrium.rs
  rust_core/upstream-muscle/src/python_api.rs
  rust_core/upstream-muscle/tests/parity_activation.csv
  rust_core/upstream-muscle/tests/parity_full.rs
  rust_core/upstream-muscle/tests/parity_joint_torque.csv
  rust_core/upstream-muscle/tests/parity_muscle_force.csv
  rust_core/upstream-muscle/tests/parity_step_full.csv
  src/shared/python/biomechanics/rust_muscle.py
  tests/unit/biomechanics/test_rust_muscle.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

perf(motion-matching): CMC outer-loop Rust kernel (#5290)
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-05-12.md
  rust_core/upstream-pinocchio-id/src/bindings.rs
  src/shared/python/motion_pipeline/matching/cmc.py
  tests/unit/motion_matching/test_cmc_rust_parity.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix(biomechanics): export activation_step to Rust facade (#5293)
  rust_core/upstream-muscle/src/python_api.rs
Due: none

fix(biomechanics): rust_muscle facade uses ActivationDynamics class (#5294)
  src/shared/python/biomechanics/rust_muscle.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion-matching): MuJoCo torque outer-loop Rust acceleration (#5254 slice 4) (#5295)
  src/shared/python/motion_pipeline/matching/torque_mujoco.py
  tests/unit/motion_matching/test_torque_mujoco_rust_parity.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat(motion-matching): end-to-end Rust facade + benchmark (#5254 slice 5) (#5296)
  src/shared/python/motion_pipeline/matching/cmc.py
  src/shared/python/motion_pipeline/matching/inverse_dyn_pinocchio.py
  src/shared/python/motion_pipeline/matching/torque_mujoco.py
  tests/unit/motion_matching/test_bench_full_pinocchio_rust_driver.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs(motion-matching): add ADR for Rust-Python callback pattern (#5254 slice 6) (#5297)
  docs/adr/0015-rust-python-callback-pattern.md
Due: none

fix(ai-backend): remove needless .into_iter() call in rag.rs (#5298)
  rust_core/ai_backend/src/rag.rs
Due: none

⚡ Bolt: Optimize sum of squares and MSE with np.vdot and np.einsum (#5302)
  .jules/bolt.md
  docs/review_archive/comment_tracking.json
  src/engines/Simscape_Multibody_Models/3D_Golf_Model/matlab/motion_matching/option4_python_bridge/tests/test_simscape_adapter.py
  src/shared/python/motion_matching/diagnostics/clubhead_trace.py
  src/shared/python/motion_matching/surrogate/perstep/train.py
  src/shared/python/motion_pipeline/matching/costs.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

feat: Add Golf Simulation Suite to launcher (#5301)
  .kiro/launcher/layout.json
  docs/review_archive/comment_tracking.json
  docs/review_archive/review_comments_2026-05-12.md
  src/config/models.yaml
  src/launchers/launcher_model_handlers.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: update spec version and add changelogs for PRs 5301, 5302, 5295, 5296 (#5303)
  SPEC.md
Due: none

chore: Remove video_analyzer and data_explorer as they are migrated to Tools (#5329)
  src/config/models.yaml
  src/tools/data_explorer/__init__.py
  src/tools/data_explorer/_embed_adapter.py
  src/tools/data_explorer/data_explorer_app.py
  src/tools/data_explorer/gui.py
  src/tools/video_analyzer/__init__.py
  src/tools/video_analyzer/analyzer.py
  src/tools/video_analyzer/launch_video_analyzer.py
  src/tools/video_analyzer/pose_estimator.py
  src/tools/video_analyzer/types.py
  src/tools/video_analyzer/video_processor.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: resolve lint and typing issues in GUI (#5306)
  .github/WORKFLOWS.md
  .github/workflows/Comment-to-Issue-Converter.yml
  .github/workflows/realtime-soak.yml
  SPEC.md
  scripts/check_workflow_inventory.py
  src/shared/python/ai/gui/assistant_panel.py
  tests/unit/shared_python/test_assistant_panel_rust_paths.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: Add Chat UI recovery plan for issue #5315 (#5333)
  docs/chat_ui_recovery_plan.md
Due: none

docs: Add Biomechanics Model Pack integration plan for issues #5312, #5313, #5314 (#5336)
  docs/biomechanics_model_pack_integration.md
Due: none

feat: Add smoke tests for chat and launcher feature discovery (#5327)
  tests/smoke/test_chat_launcher_discovery.py
Due: pytest-unit

fix: Deduplicate path segments in join_url to prevent /v1/v1/ URLs (#5326)
  rust_core/ai_backend/src/config.rs
Due: none

docs: Add fleet recovery tracking document for EPIC #5309 (#5330)
  docs/fleet_recovery_tracking.md
Due: none

Revert chore: Migrate video_analyzer and data_explorer to Tools (#5332)
  src/config/models.yaml
  src/tools/data_explorer/__init__.py
  src/tools/data_explorer/_embed_adapter.py
  src/tools/data_explorer/data_explorer_app.py
  src/tools/data_explorer/gui.py
  src/tools/video_analyzer/__init__.py
  src/tools/video_analyzer/analyzer.py
  src/tools/video_analyzer/launch_video_analyzer.py
  src/tools/video_analyzer/pose_estimator.py
  src/tools/video_analyzer/types.py
  src/tools/video_analyzer/video_processor.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

docs: Add Fleet Remediation Summary (#5340)
  docs/fleet_remediation_summary.md
Due: none

docs: Add Shared Chat migration plan for issue #5310 (#5338)
  docs/shared_chat_migration_plan.md
Due: none

docs: Add May 10-12 Audit Plan for issue #5311 (#5339)
  docs/may_10_12_audit_plan.md
Due: none

feat: Migrate video_analyzer and data_explorer to Tools (#5341)
  SPEC.md
  src/config/models.yaml
  src/tools/data_explorer/__init__.py
  src/tools/data_explorer/_embed_adapter.py
  src/tools/data_explorer/data_explorer_app.py
  src/tools/data_explorer/gui.py
  src/tools/video_analyzer/__init__.py
  src/tools/video_analyzer/analyzer.py
  src/tools/video_analyzer/launch_video_analyzer.py
  src/tools/video_analyzer/pose_estimator.py
  src/tools/video_analyzer/types.py
  src/tools/video_analyzer/video_processor.py
Due: no-wildcard-imports, no-debug-statements, pytest-unit, radon

fix: expose provider launcher categories
  SPEC.md
  src/config/launcher_manifest_loader.py
  src/config/models.yaml
  tests/config/launcher_manifest/test_parity.py
  tests/config/launcher_manifest/test_tile_properties.py
  tests/config/test_launcher_manifest.py
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, pytest-unit, radon

fix: correct expected chat symbols in smoke test (#5342)
  SPEC.md
  tests/smoke/test_chat_launcher_discovery.py
Due: pytest-unit

test: add model_pack/v1 schema reconciliation tests (#5344)
  .github/workflows/ci-standard.yml
  crash_traceback.txt
  output.txt
  pyproject.toml
  tests/unit/config/test_model_pack_manifest.py
Due: pytest-unit

feat(launcher): extend manifest with video-processor and theme API surfaces (#5355)
  SPEC.md
  docs/issues/EPIC_WEB_UI_PARITY.md
  src/api/routes/theme.py
  src/config/launcher_manifest.json
  src/config/launcher_manifest_loader.py
  src/config/models.yaml
  src/shared/python/theme/api.py
  src/tools/golf_simulation_suite/__main__.py
  tests/config/launcher_manifest/test_parity.py
  tests/config/test_launcher_manifest.py
  ui/package-lock.json
  ui/package.json
  ui/postcss.config.js
  ui/src/api/themeClient.ts
Due: no-wildcard-imports, no-debug-statements, no-print-in-src, no-debugger, pytest-unit, radon
